.jw-reset {
    color: inherit;
    background-color: transparent;
    padding: 0;
    margin: 0;
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    list-style: none;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    border: 0;
    direction: ltr;
    font-variant: inherit;
    font-stretch: inherit;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@font-face {
    font-family: 'jw-icons';
    src: url("../../../assets/fonts/jw-icons.woff") format("woff"), url("../../../assets/fonts/jw-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.jw-icon-inline,
.jw-icon-tooltip,
.jw-icon-display,
.jw-controlbar .jw-menu .jw-option:before {
    font-family: 'jw-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;

    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}

/*** ICONS ***/
.jw-icon-audio-tracks:before {
    content: "\e600";
}

.jw-icon-buffer:before {
    content: "\e601";
}

.jw-icon-cast:before {
    content: "\e603";
}

.jw-icon-cast.jw-off:before {
    content: "\e602";
}

.jw-icon-cc:before {
    content: "\e605";
}

.jw-icon-cue:before {
    content: "\e606";
}

.jw-icon-menu-bullet:before {
    content: "\e606";
}

.jw-icon-error:before {
    content: "\e607";
}

.jw-icon-fullscreen:before {
    content: "\e608";
}

.jw-icon-fullscreen.jw-off:before {
    content: "\e613";
}

.jw-icon-hd:before {
    content: "\e60a";
}

.jw-watermark:before,
.jw-rightclick-logo:before {
    content: "\e60b";
}

.jw-icon-next:before {
    content: "\e60c";
}

.jw-icon-pause:before {
    content: "\e60d";
}

.jw-icon-play:before {
    content: "\e60e";
}

.jw-icon-prev:before {
    content: "\e60f";
}

.jw-icon-replay:before {
    content: "\e610";
}

.jw-icon-volume:before {
    content: "\e612";
}

.jw-icon-volume.jw-off:before {
    content: "\e611";
}

.jw-icon-more:before {
    content: "\e614";
}

.jw-icon-close:before {
    content: "\e615";
}

.jw-icon-playlist:before {
    content: "\e616";
}

.jwplayer {
    width: 100%;
    font-size: 16px;
    position: relative;
    display: block;
    min-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jwplayer * {
    box-sizing: inherit;
}

.jwplayer.jw-flag-aspect-mode {
    height: auto !important;
}

.jwplayer.jw-flag-aspect-mode .jw-aspect {
    display: block;
}

.jwplayer .jw-aspect {
    display: none;
}

.jwplayer.jw-no-focus:focus,
.jwplayer .jw-swf {
    outline: none;
}

.jwplayer.jw-ie:focus {
    outline: #585858 dotted 1px;
}

.jwplayer:hover .jw-display-icon-container {
    background-color: #333;
    background: #333;
    background-size: #333;
}

.jw-media,
.jw-preview,
.jw-overlays,
.jw-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.jw-media {
    overflow: hidden;
    cursor: pointer;
}

.jw-overlays {
    cursor: auto;
}

.jw-media.jw-media-show {
    visibility: visible;
    opacity: 1;
}

.jw-controls.jw-controls-disabled {
    display: none;
}

.jw-controls .jw-controls-right {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 2em;
}

.jw-text {
    height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    color: white;
    text-align: center;
    font-variant: normal;
    font-stretch: normal;
}

.jw-plugin {
    position: absolute;
    bottom: 2.5em;
}

.jw-plugin .jw-banner {
    max-width: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    margin: auto auto 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.jw-cast-screen {
    width: 100%;
    height: 100%;
}

.jw-instream {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.jw-icon-playback:before {
    content: "\e60e";
}

.jw-preview,
.jw-captions,
.jw-title,
.jw-overlays,
.jw-controls {
    pointer-events: none;
}

.jw-overlays > div,
.jw-media,
.jw-controlbar,
.jw-dock,
.jw-logo,
.jw-skip,
.jw-display-icon-container {
    pointer-events: all;
}

.jwplayer video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
}

.jwplayer video::-webkit-media-controls-start-playback-button {
    display: none;
}

.jwplayer video::-webkit-media-text-track-display {
    transform: translateY(-1.5em);
}

.jwplayer.jw-flag-user-inactive.jw-state-playing video::-webkit-media-text-track-display {
    transform: translateY(0);
}

.jwplayer.jw-stretch-uniform video {
    object-fit: contain;
}

.jwplayer.jw-stretch-none video {
    object-fit: none;
}

.jwplayer.jw-stretch-fill video {
    object-fit: cover;
}

.jwplayer.jw-stretch-exactfit video {
    object-fit: fill;
}

/* W3C */
/* icons */
/* doc */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
.jw-click {
    position: absolute;
    width: 100%;
    height: 100%;
}

.jw-preview {
    position: absolute;
    display: none;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background: #000 no-repeat 50% 50%;
}

.jwplayer .jw-preview,
.jw-error .jw-preview,
.jw-stretch-uniform .jw-preview {
    background-size: contain;
}

.jw-stretch-none .jw-preview {
    background-size: auto auto;
}

.jw-stretch-fill .jw-preview {
    background-size: cover;
}

.jw-stretch-exactfit .jw-preview {
    background-size: 100% 100%;
}

.jw-display-icon-container {
    position: relative;
    top: 50%;
    display: table;
    height: 3.5em;
    width: 3.5em;
    margin: -1.75em auto 0;
    cursor: pointer;
}

.jw-display-icon-container .jw-icon-display {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-size: 2em;
}

.jw-flag-audio-player .jw-display-icon-container,
.jw-flag-dragging .jw-display-icon-container {
    display: none;
}

.jw-icon {
    font-family: 'jw-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;

    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}

/* Mixin for common skin styles with variable colors */
.jw-controlbar {
    display: table;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2em;
    padding: 0 0.25em;
}

.jw-controlbar .jw-hidden {
    display: none;
}

.jw-controlbar.jw-drawer-expanded .jw-controlbar-left-group,
.jw-controlbar.jw-drawer-expanded .jw-controlbar-center-group {
    opacity: 0;
}

.jw-background-color {
    background-color: #414040;
}

.jw-group {
    display: table-cell;
}

.jw-controlbar-center-group {
    width: 100%;
    padding: 0 0.25em;
}

.jw-controlbar-center-group .jw-slider-time,
.jw-controlbar-center-group .jw-text-alt {
    padding: 0;
}

.jw-controlbar-center-group .jw-text-alt {
    display: none;
}

.jw-controlbar-left-group,
.jw-controlbar-right-group {
    white-space: nowrap;
}

.jw-knob:hover,
.jw-icon-inline:hover,
.jw-icon-tooltip:hover,
.jw-icon-display:hover,
.jw-option:before:hover {
    color: #eee;
}

.jw-icon-inline,
.jw-icon-tooltip,
.jw-slider-horizontal,
.jw-text-elapsed,
.jw-text-duration {
    display: inline-block;
    height: 2em;
    position: relative;
    line-height: 2em;
    vertical-align: middle;
    cursor: pointer;
}

.jw-icon-inline,
.jw-icon-tooltip {
    min-width: 1.25em;
    text-align: center;
}

.jw-icon-playback {
    min-width: 2.25em;
}

.jw-icon-volume {
    min-width: 1.75em;
    text-align: left;
}

.jw-time-tip {
    line-height: 1em;
    pointer-events: none;
}

.jw-icon-inline:after,
.jw-icon-tooltip:after {
    width: 100%;
    height: 100%;
    font-size: 1em;
}

.jw-icon-cast {
    display: none;
}

.jw-slider-volume.jw-slider-horizontal,
.jw-icon-inline.jw-icon-volume {
    display: none;
}

.jw-dock {
    margin: 0.75em;
    display: block;
    opacity: 1;
    clear: right;
}

.jw-dock:after {
    content: '';
    clear: both;
    display: block;
}

.jw-dock-button {
    cursor: pointer;
    float: right;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
}

.jw-dock-button .jw-arrow {
    display: none;
    position: absolute;
    bottom: -0.2em;
    width: 0.5em;
    height: 0.2em;
    left: 50%;
    margin-left: -0.25em;
}

.jw-dock-button .jw-overlay {
    display: none;
    position: absolute;
    top: 2.5em;
    right: 0em;
    margin-top: 0.25em;
    padding: 0.5em;
    white-space: nowrap;
}

.jw-dock-button:hover .jw-overlay,
.jw-dock-button:hover .jw-arrow {
    display: block;
}

.jw-dock-image {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.jw-title {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 0.875em;
    height: 8em;
    background: linear-gradient(to bottom, #000000 0, #000000 18%, rgba(0, 0, 0, 0) 100%);
}

.jw-title-primary,
.jw-title-secondary {
    padding: 0.75em 1.5em;
    min-height: 2.5em;
    width: 100%;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.jw-title-primary {
    font-weight: bold;
}

.jw-title-secondary {
    margin-top: -0.5em;
}

.jw-slider-container {
    display: inline-block;
    height: 1em;
    position: relative;
    touch-action: none;
}

.jw-rail,
.jw-buffer,
.jw-progress {
    position: absolute;
    cursor: pointer;
}

.jw-progress {
    background-color: #fff;
}

.jw-rail {
    background-color: #aaa;
}

.jw-buffer {
    background-color: #202020;
}

.jw-cue,
.jw-knob {
    position: absolute;
    cursor: pointer;
}

.jw-cue {
    background-color: #fff;
    width: .1em;
    height: .4em;
}

.jw-knob {
    background-color: #aaa;
    width: .4em;
    height: .4em;
    display: none;
}

.jw-slider-horizontal {
    width: 4em;
    height: 1em;
}

.jw-slider-horizontal.jw-slider-volume {
    margin-right: 5px;
}

.jw-slider-horizontal .jw-rail,
.jw-slider-horizontal .jw-buffer,
.jw-slider-horizontal .jw-progress {
    width: 100%;
    height: .4em;
}

.jw-slider-horizontal .jw-progress,
.jw-slider-horizontal .jw-buffer {
    width: 0;
}

.jw-slider-horizontal .jw-rail,
.jw-slider-horizontal .jw-progress,
.jw-slider-horizontal .jw-slider-container {
    width: 100%;
}

.jw-slider-horizontal .jw-knob {
    left: 0;
    margin-left: -0.325em;
}

.jw-slider-vertical {
    width: 0.75em;
    height: 4em;
    bottom: 0em;
    position: absolute;
    padding: 1em;
}

.jw-slider-vertical .jw-rail,
.jw-slider-vertical .jw-buffer,
.jw-slider-vertical .jw-progress {
    bottom: 0;
    height: 100%;
}

.jw-slider-vertical .jw-progress,
.jw-slider-vertical .jw-buffer {
    height: 0;
}

.jw-slider-vertical .jw-slider-container,
.jw-slider-vertical .jw-rail,
.jw-slider-vertical .jw-progress {
    bottom: 0;
    width: 0.75em;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.jw-slider-vertical .jw-slider-container {
    height: 4em;
    position: relative;
}

.jw-slider-vertical .jw-knob {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.jw-slider-time {
    right: 0;
    left: 0;
    width: 100%;
}

.jw-tooltip-time {
    position: absolute;
}

.jw-slider-volume .jw-buffer {
    display: none;
}

.jw-captions {
    position: absolute;
    display: none;
    margin: 0 auto;
    width: 100%;
    left: 0;
    bottom: 3em;
    right: 0;
    max-width: 90%;
    text-align: center;
}

.jw-captions.jw-captions-enabled {
    display: block;
}

.jw-captions-window {
    display: none;
    padding: 0.25em;
    border-radius: 0.25em;
}

.jw-captions-window.jw-captions-window-active {
    display: inline-block;
}

.jw-captions-text {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    white-space: pre-line;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1.3em;
    padding: 0.1em 0.8em;
}

.jw-rightclick {
    display: none;
    position: absolute;
    white-space: nowrap;
}

.jw-rightclick.jw-open {
    display: block;
}

.jw-rightclick ul {
    list-style: none;
    font-weight: bold;
    border-radius: 0.15em;
    margin: 0;
    border: 1px solid #444;
    padding-left: 0;
}

.jw-rightclick .jw-rightclick-logo {
    font-size: 2em;
    color: #ff0147;
    vertical-align: middle;
    padding-right: .3em;
    margin-right: .3em;
    border-right: 1px solid #444;
}

.jw-rightclick li {
    background-color: #000;
    border-bottom: 1px solid #444;
    margin: 0;
}

.jw-rightclick a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
    font-size: 0.6875em;
}

.jw-rightclick li:last-child {
    border-bottom: none;
}

.jw-rightclick li:hover {
    background-color: #1a1a1a;
    cursor: pointer;
}

.jw-rightclick .jw-featured {
    background-color: #252525;
    vertical-align: middle;
}

.jw-rightclick .jw-featured a {
    color: #777;
}

.jw-logo {
    position: absolute;
    margin: 0.75em;
    cursor: pointer;
    pointer-events: all;
    background-repeat: no-repeat;
    background-size: contain;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
}

.jw-logo .jw-flag-audio-player {
    display: none;
}

.jw-logo-top-right {
    top: 0;
    right: 0;
}

.jw-logo-top-left {
    top: 0;
    left: 0;
}

.jw-logo-bottom-left {
    bottom: 0;
    left: 0;
}

.jw-logo-bottom-right {
    bottom: 0;
    right: 0;
}

.jw-watermark {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 14em;
    color: #eee;
    opacity: 0.33;
    pointer-events: none;
}

.jw-icon-tooltip.jw-open .jw-overlay {
    opacity: 1;
    visibility: visible;
}

.jw-icon-tooltip.jw-hidden {
    display: none;
}

.jw-overlay-horizontal {
    display: none;
}

.jw-icon-tooltip.jw-open-drawer:before {
    display: none;
}

.jw-icon-tooltip.jw-open-drawer .jw-overlay-horizontal {
    opacity: 1;
    display: inline-block;
    vertical-align: top;
}

.jw-overlay:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    content: " ";
}

.jw-slider-time .jw-overlay:before {
    height: 1em;
    top: auto;
}

.jw-time-tip,
.jw-volume-tip,
.jw-menu {
    position: relative;
    left: -50%;
    border: solid 1px #000;
    margin: 0;
}

.jw-volume-tip {
    width: 100%;
    height: 100%;
    display: block;
}

.jw-time-tip {
    text-align: center;
    font-family: inherit;
    color: #aaa;
    bottom: 1em;
    border: solid 4px #000;
}

.jw-time-tip .jw-text {
    line-height: 1em;
}

.jw-controlbar .jw-overlay {
    margin: 0;
    position: absolute;
    bottom: 2em;
    left: 50%;
    opacity: 0;
    visibility: hidden;
}

.jw-controlbar .jw-overlay .jw-contents {
    position: relative;
}

.jw-controlbar .jw-option {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    list-style: none;
    height: 1.5em;
    font-family: inherit;
    line-height: 1.5em;
    color: #aaa;
    padding: 0 .5em;
    font-size: .8em;
}

.jw-controlbar .jw-option:hover,
.jw-controlbar .jw-option:before:hover {
    color: #eee;
}

.jw-controlbar .jw-option:before {
    padding-right: 0.125em;
}

.jw-playlist-container ::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 10px;
}

.jw-playlist-container ::-webkit-scrollbar {
    width: 5px;
    border: 10px solid black;
    border-bottom: 0;
    border-top: 0;
}

.jw-playlist-container ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.jw-tooltip-title {
    border-bottom: 1px solid #444;
    text-align: left;
    padding-left: .7em;
}

.jw-playlist {
    max-height: 11em;
    min-height: 4.5em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: calc(100% - 4px);
}

.jw-playlist .jw-option {
    height: 3em;
    margin-right: 5px;
    color: white;
    padding-left: 1em;
    font-size: .8em;
}

.jw-playlist .jw-label,
.jw-playlist .jw-name {
    display: inline-block;
    line-height: 3em;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.jw-playlist .jw-label {
    width: 1em;
}

.jw-playlist .jw-name {
    width: 11em;
}

.jw-skip {
    cursor: default;
    position: absolute;
    float: right;
    display: inline-block;
    right: 0.75em;
    bottom: 3em;
}

.jw-skip.jw-skippable {
    cursor: pointer;
}

.jw-skip.jw-hidden {
    visibility: hidden;
}

.jw-skip .jw-skip-icon {
    display: none;
    margin-left: -0.75em;
}

.jw-skip .jw-skip-icon:before {
    content: "\e60c";
}

.jw-skip .jw-text,
.jw-skip .jw-skip-icon {
    color: #aaa;
    vertical-align: middle;
    line-height: 1.5em;
    font-size: 0.7em;
}

.jw-skip.jw-skippable:hover {
    cursor: pointer;
}

.jw-skip.jw-skippable:hover .jw-text,
.jw-skip.jw-skippable:hover .jw-skip-icon {
    color: #eee;
}

.jw-skip.jw-skippable .jw-skip-icon {
    display: inline;
    margin: 0;
}

.jwplayer.jw-state-playing.jw-flag-casting .jw-display-icon-container,
.jwplayer.jw-state-paused.jw-flag-casting .jw-display-icon-container {
    display: table;
}

.jwplayer.jw-flag-casting .jw-display-icon-container {
    border-radius: 0;
    border: 1px solid white;
    position: absolute;
    top: auto;
    left: 0.5em;
    right: 0.5em;
    bottom: 50%;
    margin-bottom: -12.5%;
    height: 50%;
    width: 50%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.jwplayer.jw-flag-casting .jw-display-icon-container .jw-icon {
    font-size: 3em;
}

.jwplayer.jw-flag-casting.jw-state-complete .jw-preview {
    display: none;
}

.jw-cast {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
}

.jw-cast-label {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    bottom: 75%;
    margin-bottom: 1.5em;
    text-align: center;
}

.jw-cast-name {
    color: #cccccc;
}

.jwplayer {
    transition: opacity 0.25s ease;
}

.jw-media,
.jw-controls {
    transition: opacity 0.25s ease;
}

.jw-controlbar {
    transition: opacity .25s, background .25s, visibility .25s;
}

.jw-button-color {
    transition: opacity .25s, background .25s, visibility .25s;
}

.jw-dock {
    transition: background .25s, opacity .25s;
}

.jw-dock .jw-overlay {
    transition: opacity .25s;
}

.jw-dock-buttons .jw-button div {
    transition: opacity .25s;
}

.jw-overlay {
    transition: opacity .25s, visibility .25s;
}

.jw-progress,
.jw-buffer {
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    transition: width 0.4s ease;
}

.jw-state-idle .jw-preview {
    display: block;
}

.jw-state-idle .jw-icon-display:before {
    content: "\e60e";
}

.jw-state-idle .jw-controlbar {
    display: none;
}

.jw-state-idle .jw-captions {
    display: none;
}

.jw-state-idle .jw-title {
    display: block;
}

.jwplayer.jw-state-playing .jw-display-icon-container {
    display: none;
}

.jwplayer.jw-state-playing .jw-display-icon-container .jw-icon-display:before {
    content: "\e60d";
}

.jwplayer.jw-state-playing .jw-icon-playback:before {
    content: "\e60d";
}

.jwplayer.jw-state-paused .jw-display-icon-container {
    display: none;
}

.jwplayer.jw-state-paused .jw-display-icon-container .jw-icon-display:before {
    content: "\e60e";
}

.jwplayer.jw-state-paused .jw-icon-playback:before {
    content: "\e60e";
}

.jwplayer.jw-state-buffering .jw-display-icon-container .jw-icon-display {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.jwplayer.jw-state-buffering .jw-display-icon-container .jw-icon-display:before {
    content: "\e601";
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.jwplayer.jw-state-buffering .jw-display-icon-container .jw-text {
    display: none;
}

.jwplayer.jw-state-buffering .jw-icon-playback:before {
    content: "\e60d";
}

.jwplayer.jw-state-complete .jw-preview {
    display: block;
}

.jwplayer.jw-state-complete .jw-display-icon-container .jw-icon-display:before {
    content: "\e610";
}

.jwplayer.jw-state-complete .jw-display-icon-container .jw-text {
    display: none;
}

.jwplayer.jw-state-complete .jw-icon-playback:before {
    content: "\e60e";
}

.jwplayer.jw-state-complete .jw-captions {
    display: none;
}

body .jw-error .jw-title,
.jwplayer.jw-state-error .jw-title {
    display: block;
}

body .jw-error .jw-title .jw-title-primary,
.jwplayer.jw-state-error .jw-title .jw-title-primary {
    white-space: normal;
}

body .jw-error .jw-preview,
.jwplayer.jw-state-error .jw-preview {
    display: block;
}

body .jw-error .jw-controlbar,
.jwplayer.jw-state-error .jw-controlbar {
    display: none;
}

body .jw-error .jw-captions,
.jwplayer.jw-state-error .jw-captions {
    display: none;
}

body .jw-error:hover .jw-display-icon-container,
.jwplayer.jw-state-error:hover .jw-display-icon-container {
    cursor: default;
    color: #fff;
    background: #000;
}

body .jw-error .jw-icon-display,
.jwplayer.jw-state-error .jw-icon-display {
    cursor: default;
    font-family: 'jw-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;

    /* Enable Ligatures ================ */
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}

body .jw-error .jw-icon-display:before,
.jwplayer.jw-state-error .jw-icon-display:before {
    content: "\e607";
}

body .jw-error .jw-icon-display:hover,
.jwplayer.jw-state-error .jw-icon-display:hover {
    color: #fff;
}

body .jw-error {
    font-size: 16px;
    background-color: #000;
    color: #eee;
    width: 100%;
    height: 100%;
    display: table;
    opacity: 1;
    position: relative;
}

body .jw-error .jw-icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.jwplayer.jw-flag-cast-available .jw-controlbar {
    display: table;
}

.jwplayer.jw-flag-cast-available .jw-icon-cast {
    display: inline-block;
}

.jwplayer.jw-flag-skin-loading .jw-captions,
.jwplayer.jw-flag-skin-loading .jw-controls,
.jwplayer.jw-flag-skin-loading .jw-title {
    display: none;
}

.jwplayer.jw-flag-fullscreen {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    position: fixed;
}

.jwplayer.jw-flag-fullscreen.jw-flag-user-inactive {
    cursor: none;
    -webkit-cursor-visibility: auto-hide;
}

.jwplayer.jw-flag-live .jw-controlbar .jw-text-elapsed,
.jwplayer.jw-flag-live .jw-controlbar .jw-text-duration,
.jwplayer.jw-flag-live .jw-controlbar .jw-slider-time {
    display: none;
}

.jwplayer.jw-flag-live .jw-controlbar .jw-text-alt {
    display: inline;
}

.jw-flag-user-inactive.jw-state-playing .jw-controlbar,
.jw-flag-user-inactive.jw-state-playing .jw-dock {
    display: none;
}

.jw-flag-user-inactive.jw-state-playing .jw-logo.jw-hide {
    display: none;
}

.jw-flag-user-inactive.jw-state-playing .jw-plugin,
.jw-flag-user-inactive.jw-state-playing .jw-captions {
    bottom: 0.5em;
}

.jwplayer.jw-flag-media-audio .jw-controlbar {
    display: table;
}

.jw-flag-media-audio .jw-preview {
    display: block;
}

.jwplayer.jw-flag-ads .jw-preview,
.jwplayer.jw-flag-ads .jw-dock {
    display: none;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-inline,
.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-tooltip,
.jwplayer.jw-flag-ads .jw-controlbar .jw-text,
.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-horizontal {
    display: none;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-playback,
.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-volume,
.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-volume,
.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-fullscreen {
    display: inline-block;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-text-alt {
    display: inline;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-volume.jw-slider-horizontal,
.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-inline.jw-icon-volume {
    display: inline-block;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-icon-tooltip.jw-icon-volume {
    display: none;
}

.jwplayer.jw-flag-ads .jw-logo,
.jwplayer.jw-flag-ads .jw-captions {
    display: none;
}

.jwplayer.jw-flag-ads-googleima .jw-controlbar {
    display: table;
    bottom: 0;
}

.jwplayer.jw-flag-ads-googleima.jw-flag-touch .jw-controlbar {
    font-size: 1em;
}

.jwplayer.jw-flag-ads-googleima.jw-flag-touch.jw-state-paused .jw-display-icon-container {
    display: none;
}

.jwplayer.jw-flag-ads-googleima.jw-skin-seven .jw-controlbar {
    font-size: 0.9em;
}

.jwplayer.jw-flag-ads-vpaid .jw-controlbar {
    display: none;
}

.jwplayer.jw-flag-ads-hide-controls .jw-controls {
    display: none !important;
}

.jwplayer.jw-flag-ads.jw-flag-touch .jw-controlbar {
    display: table;
}

.jwplayer.jw-flag-overlay-open .jw-title {
    display: none;
}

.jwplayer.jw-flag-overlay-open .jw-controls-right .jw-logo {
    display: none;
}

.jwplayer.jw-flag-rightclick-open {
    overflow: hidden;
}

.jwplayer.jw-flag-rightclick-open .jw-rightclick {
    z-index: 16777215;
    display: none;
}

.jw-flag-controls-disabled .jw-controls {
    visibility: hidden;
}

.jw-flag-controls-disabled .jw-logo {
    visibility: visible;
}

.jw-flag-controls-disabled .jw-media {
    cursor: auto;
}

body .jwplayer.jw-flag-flash-blocked .jw-title {
    display: block;
}

body .jwplayer.jw-flag-flash-blocked .jw-controls,
body .jwplayer.jw-flag-flash-blocked .jw-overlays,
body .jwplayer.jw-flag-flash-blocked .jw-preview {
    display: none;
}

.jw-flag-touch .jw-controlbar,
.jw-flag-touch .jw-skip,
.jw-flag-touch .jw-plugin {
    font-size: 1.5em;
}

.jw-flag-touch .jw-captions {
    bottom: 4.25em;
}

.jw-flag-touch .jw-icon-tooltip.jw-open-drawer:before {
    display: inline;
}

.jw-flag-touch .jw-icon-tooltip.jw-open-drawer:before {
    content: "\e615";
}

.jw-flag-touch .jw-display-icon-container {
    pointer-events: none;
}

.jw-flag-touch.jw-state-paused .jw-display-icon-container {
    display: table;
}

.jw-flag-touch.jw-state-paused.jw-flag-dragging .jw-display-icon-container {
    display: none;
}

.jw-flag-compact-player .jw-icon-playlist,
.jw-flag-compact-player .jw-text-elapsed,
.jw-flag-compact-player .jw-text-duration {
    display: none;
}

.jw-flag-audio-player {
    background-color: transparent;
}

.jw-flag-audio-player .jw-media {
    visibility: hidden;
}

.jw-flag-audio-player .jw-media object {
    width: 1px;
    height: 1px;
}

.jw-flag-audio-player.jw-state-paused .jw-display-icon-container,
.jw-flag-audio-player.jw-state-complete .jw-display-icon-container {
    display: none;
}

.jw-flag-audio-player .jw-controlbar {
    display: table;
    bottom: 0;
    margin: 0;
    width: 100%;
    min-width: 100%;
    opacity: 1;
}

.jw-flag-audio-player .jw-controlbar .jw-icon-fullscreen {
    display: none;
}

.jw-flag-audio-player .jw-controlbar .jw-icon-tooltip {
    display: none;
}

.jw-flag-audio-player .jw-controlbar .jw-slider-volume.jw-slider-horizontal,
.jw-flag-audio-player .jw-controlbar .jw-icon-inline.jw-icon-volume {
    display: inline-block;
}

.jw-flag-audio-player .jw-controlbar .jw-icon-tooltip.jw-icon-volume {
    display: none;
}

.jwplayer.jw-flag-audio-player .jw-controlbar {
    display: table;
    left: 0;
}

.jwplayer.jw-flag-audio-player .jw-controlbar {
    height: auto;
}

.jwplayer.jw-flag-audio-player .jw-preview {
    display: none;
}

.jwplayer.jw-flag-audio-player .jw-display-icon-container {
    display: none;
}

.jw-skin-seven {
    /*#FF0046*/
    /* Controlbar styles */
    /* Contains icons, time text, and slider */
    /* Playlist container - need second background-color declaration to overwrite the .jw-background-color class */
    /* ul container */
    /* Playlist title */
    /* Colors, padding for icons and text */
    /* Styles for play button on idle */
    /* Rail/slider styles */
    /* Timeline and horizontal volume slider */
    /* Volume slider */
    /* Volume slider container */
    /* Color of video's duration time */
    /* Icon borders on the right side of the controlbar */
    /* Icons, text and container styles for the dock, in the upper right corner */
    /* Styles for active list items */
    /* A min-width on the volume icon to keep the width from collapsing on toggle */
    /* For the overlay containers */
    /* Position and padding of slider thumbnail */
    /* Position of remaining overlay containers */
    /* Skip icon and text styles */
}

.jw-skin-seven .jw-background-color {
    background: #000;
}

.jw-skin-seven .jw-controlbar {
    border-top: #333 1px solid;
    height: 2.5em;
}

.jw-skin-seven .jw-group {
    vertical-align: middle;
}

.jw-skin-seven .jw-playlist {
    background-color: rgba(0, 0, 0, 0.5);
}

.jw-skin-seven .jw-playlist-container {
    left: -43%;
    background-color: rgba(0, 0, 0, 0.5);

    /* li list option */
    /* play icon is always active */
}

.jw-skin-seven .jw-playlist-container .jw-option {
    border-bottom: 1px solid #444;

    /* Playlist items are black when active, or hovered */
    /* Number color when li is hovered */
}

.jw-skin-seven .jw-playlist-container .jw-option:hover,
.jw-skin-seven .jw-playlist-container .jw-option.jw-active-option {
    background-color: black;
}

.jw-skin-seven .jw-playlist-container .jw-option:hover .jw-label {
    color: #5fb3ce;
}

.jw-skin-seven .jw-playlist-container .jw-icon-playlist {
    margin-left: 0;
}

.jw-skin-seven .jw-playlist-container .jw-label .jw-icon-play {
    color: #5fb3ce;
}

.jw-skin-seven .jw-playlist-container .jw-label .jw-icon-play:before {
    padding-left: 0;
}

.jw-skin-seven .jw-tooltip-title {
    background-color: #000;
    color: #fff;
}

.jw-skin-seven .jw-text {
    color: #fff;
}

.jw-skin-seven .jw-button-color {
    color: #fff;
}

.jw-skin-seven .jw-button-color:hover {
    color: #5fb3ce;
}

.jw-skin-seven .jw-toggle {
    color: #5fb3ce;
}

.jw-skin-seven .jw-toggle.jw-off {
    color: #fff;
}

.jw-skin-seven .jw-controlbar .jw-icon:before,
.jw-skin-seven .jw-text-elapsed,
.jw-skin-seven .jw-text-duration {
    padding: 0 .7em;
}

.jw-skin-seven .jw-controlbar .jw-icon-prev:before {
    padding-right: 0.25em;
}

.jw-skin-seven .jw-controlbar .jw-icon-playlist:before {
    padding: 0 0.45em;
}

.jw-skin-seven .jw-controlbar .jw-icon-next:before {
    padding-left: 0.25em;
}

.jw-skin-seven .jw-icon-prev,
.jw-skin-seven .jw-icon-next {
    font-size: .7em;
}

.jw-skin-seven .jw-icon-prev:before {
    border-left: 1px solid #666;
}

.jw-skin-seven .jw-icon-next:before {
    border-right: 1px solid #666;
}

.jw-skin-seven .jw-icon-display {
    color: #fff;
}

.jw-skin-seven .jw-icon-display:before {
    padding-left: 0;
}

.jw-skin-seven .jw-display-icon-container {
    border-radius: 50%;
    border: 1px solid #333;
}

.jw-skin-seven .jw-rail {
    background-color: #384154;
    box-shadow: none;
}

.jw-skin-seven .jw-buffer {
    /*#666F82*/
    background-color: #666;
}

.jw-skin-seven .jw-progress {
    background: #5fb3ce;
}

.jw-skin-seven .jw-knob {
    width: .6em;
    height: .6em;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px #000000;
    border-radius: 1em;
}

.jw-skin-seven .jw-slider-horizontal .jw-slider-container {
    height: 0.95em;
}

.jw-skin-seven .jw-slider-horizontal .jw-rail,
.jw-skin-seven .jw-slider-horizontal .jw-buffer,
.jw-skin-seven .jw-slider-horizontal .jw-progress {
    height: .2em;
    border-radius: 0;
}

.jw-skin-seven .jw-slider-horizontal .jw-knob {
    top: -0.2em;
}

.jw-skin-seven .jw-slider-horizontal .jw-cue {
    top: -0.05em;
    width: .3em;
    height: .3em;
    background-color: #fff;
    border-radius: 50%;
}

.jw-skin-seven .jw-slider-vertical .jw-rail,
.jw-skin-seven .jw-slider-vertical .jw-buffer,
.jw-skin-seven .jw-slider-vertical .jw-progress {
    width: .2em;
}

.jw-skin-seven .jw-volume-tip {
    width: 100%;
    left: -45%;
    padding-bottom: .7em;
}

.jw-skin-seven .jw-text-duration {
    color: #666F82;
}

.jw-skin-seven .jw-controlbar-right-group .jw-icon-tooltip:before,
.jw-skin-seven .jw-controlbar-right-group .jw-icon-inline:before {
    border-left: 1px solid #666;
}

.jw-skin-seven .jw-controlbar-right-group .jw-icon-inline:first-child:before {
    border: none;
}

.jw-skin-seven .jw-dock .jw-dock-button {
    border-radius: 50%;
    border: 1px solid #333;
}

.jw-skin-seven .jw-dock .jw-overlay {
    border-radius: 2.5em;
}

.jw-skin-seven .jw-icon-tooltip .jw-active-option {
    background-color: #5fb3ce;
    color: #fff;
}

.jw-skin-seven .jw-icon-volume {
    min-width: 2.6em;
}

.jw-skin-seven .jw-time-tip,
.jw-skin-seven .jw-menu,
.jw-skin-seven .jw-volume-tip,
.jw-skin-seven .jw-skip {
    border: 1px solid #333;
}

.jw-skin-seven .jw-time-tip {
    padding: 0.2em;
    bottom: 1.3em;
}

.jw-skin-seven .jw-menu,
.jw-skin-seven .jw-volume-tip {
    bottom: .24em;
}

.jw-skin-seven .jw-skip {
    padding: 0.4em;
    border-radius: 1.75em;
}

.jw-skin-seven .jw-skip .jw-text,
.jw-skin-seven .jw-skip .jw-icon-inline {
    color: #fff;
    line-height: 1.75em;
}

.jw-skin-seven .jw-skip.jw-skippable:hover .jw-text,
.jw-skin-seven .jw-skip.jw-skippable:hover .jw-icon-inline {
    color: #5fb3ce;
}

.jw-skin-seven.jw-flag-touch .jw-controlbar .jw-icon:before,
.jw-skin-seven.jw-flag-touch .jw-text-elapsed,
.jw-skin-seven.jw-flag-touch .jw-text-duration {
    padding: 0 .35em;
}

.jw-skin-seven.jw-flag-touch .jw-controlbar .jw-icon-prev:before {
    padding: 0 0.125em 0 0.7em;
}

.jw-skin-seven.jw-flag-touch .jw-controlbar .jw-icon-next:before {
    padding: 0 0.7em 0 0.125em;
}

.jw-skin-seven.jw-flag-touch .jw-controlbar .jw-icon-playlist:before {
    padding: 0 .225em;
}

.testing {}