@import "../../assets/scss/_common_test.scss";

.admin-previous-page-wrapper {
    .ew-parts-wrapper {
        @include display(flex);

        @include flex-direction(row);

        .ew-part {
            min-height: 100vh;
            padding: 0px 10px;

            @include flex(1);

            &.left {
                border-right: 2px solid #e5e5e5;
            }
        }

        .title {
            font-size: 15px;
            margin-bottom: 10px;
            font-weight: bold;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            padding: 0px 10px;
            cursor: pointer;

            i {
                margin-right: 10px;
            }
        }

        .btns {
            margin: 10px 0px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            @include flex-direction(row);
        }
    }

    .filters-wrapper {
        .dot-loader-wrapper {
            position: absolute;
            z-index: 1;
            background: rgba(0, 0, 0, 0.1);
            left: 0px;
            right: 0px;
            top: -10px;
            bottom: -10px;
            border-radius: 5px;
        }

        .dot-loader {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
        }
    }

    .questions-wrapper {
        .MJXc-display {
            display: inline-block !important;
        }

        .collapse-all-btn {
            margin-left: 20px;
            color: darken(#1d99d1, 10%);
            font-weight: bold;
            text-decoration: underline;
            display: inline-block;
            font-size: 12px;
            cursor: pointer;
        }

        .question {
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
        }

        .que-id {
            font-weight: bold;
        }

        .que-text {
            font-size: 13px;
        }
    }

    .big-warning {
        font-size: 20px;
        font-weight: 'nunito',sans-serif;
        color: #1d99d1;
    }

    .form-group {
        @include display(flex);

        @include flex-direction(row);
    }

    #previous-papers-list {
        border: 1px solid #e5e5e5;
        border-top: 0px;
        border-radius: 5px;
    }

    .prev-ppr-info {
        padding: 5px 10px;

        .paper-id {
            font-weight: bold;
            font-family: 'nunito',sans-serif;
            margin: 0px 10px;
        }

        .edit-btn {
            text-decoration: underline;
            color: green;
            margin: 0px 10px;
            cursor: pointer;
        }

        .remove-btn {
            text-decoration: underline;
            color: red;
            cursor: pointer;
        }
    }
}