<div class="admin-page admin-previous-page-wrapper">
	<div class="ew-parts-wrapper">
		<div class="ew-part left">
			<div class="big-warning">
				Previous Papers form
			</div>
			<div class="title" data-toggle="collapse" data-target="#course" ng-click="vm.isCourseExpanded = !vm.isCourseExpanded">
				<i class="fa" ng-class="{'fa-plus':!vm.isCourseExpanded,'fa-minus':vm.isCourseExpanded}"></i>Select Course and Child to enter previous year paper
			</div>
			<div class="ew-panel-wrapper collapse in" id="course" >
				<div class="form-group">
					<label class="col-sm-2 control-label" for="subject">Course</label>
					<div class="col-sm-10">
						<ui-select multiple limit="1" ng-model="vm.selectedCourse" on-select="vm.onCourseChange($item, $model)" on-remove="vm.onCourseChange($item, $model)" theme="bootstrap" close-on-select="true">
						    <ui-select-match placeholder="Select Course...">
						        <span ng-bind="$item.courseName"></span>
						    </ui-select-match>
						    <ui-select-choices repeat="item.courseId as item in (vm.allCourses | filter: $select.search) track by $index">
						        <span ng-bind="item.courseName"></span>
						    </ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="subject">Child</label>
					<div class="col-sm-10">
						<ui-select multiple limit="1" ng-model="vm.selectedChild" on-select="vm.onChildChange($item, $model)" on-remove="vm.onChildChange($item, $model)" theme="bootstrap" close-on-select="true">
						    <ui-select-match placeholder="Select Child...">
						        <span ng-bind="$item.childName"></span>
						    </ui-select-match>
						    <ui-select-choices repeat="item.childId as item in (vm.fullCourse.children | filter: $select.search) track by $index">
						        <span ng-bind="item.childName"></span>
						    </ui-select-choices>
						</ui-select>
					</div>
				</div>	
			</div>
			
			<div class="filters-wrapper" ng-if="vm.selectedCourse.length > 0 && vm.selectedChild.length > 0">
				<div class="title" data-toggle="collapse" data-target="#filters" ng-click="vm.isFilterExpanded = !vm.isFilterExpanded">
					<i class="fa" ng-class="{'fa-plus':!vm.isFilterExpanded,'fa-minus':vm.isFilterExpanded}"></i>Select filters to find your questions
				</div>
				<div class="ew-panel-wrapper collapse in" id="filters" style="position: relative;">
					<div class="dot-loader-wrapper" ng-show="vm.showLoader">
						<div class="dot-loader"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="subject">Subject</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Subject...">
							        <span ng-bind="$item.subjectName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
							        <span ng-bind="item.subjectName"></span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="author">Author</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Author...">
							        <span ng-bind="$item.authorName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
							        <span ng-bind="item.authorName"></span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="publication">Publication</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedPublications" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Publication...">
							        <span ng-bind="$item.publicationName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
							        <span ng-bind="item.publicationName"></span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="book">Book</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedBooks" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Book...">
							        <span ng-bind="$item.bookName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
							        <span ng-bind="item.bookName"></span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="exam">Exam</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedExams" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Exam...">
							        <span ng-bind="$item.examName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
							        <span ng-bind="item.examName"></span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="topic">Topic</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Topic...">
							        <span ng-bind="$item.topicName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
							        <span>{{item.topicNumber}} - {{item.topicName}}</span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="topic">Topic Group</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedTopicGroup" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" limit="1" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Topic Group...">
							        <span ng-bind="$item.groupName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.groupId as item in (vm.topicGroups | filter: $select.search) track by $index">
							        <span>{{item.groupNumber}} - {{item.groupName}}</span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="tag">Tag</label>
						<div class="col-sm-10">
							<ui-select multiple ng-model="vm.selectedTags" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
							    <ui-select-match placeholder="Select Tag...">
							        <span ng-bind="$item.tagName"></span>
							    </ui-select-match>
							    <ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
							        <span ng-bind="item.tagName"></span>
							    </ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-if="vm.questions.length === 0">
				<div class="big-warning">
					No questions found.Please select appropriate filters to add question.
				</div>
			</div>
			<div class="questions-wrapper" ng-if="vm.questions.length > 0">
				<div class="big-warning que-title">
					Questions ({{vm.questions.length}})
					<div class="collapse-all-btn" ng-click="vm.collapseAllQuestions()">Collapse All</div>
					<div class="collapse-all-btn" ng-click="vm.openAllQuestions()">Open All</div>
				</div>
				<div class="question" ng-init="que.isOpen = true" ng-repeat="que in vm.questions">
					<div class="que-id" ng-click="que.isOpen = !que.isOpen">{{que.questionId}}</div>
					<div class="que-text collapse" ng-class="{'in':que.isOpen}" id="{{que.questionId}}" ng-bind-html="vm.trustAsHTML(que.question)"></div>
				</div>
			</div>
		</div>
		<div class="ew-part">
			<div class="title" style="margin-bottom: 0px;" data-toggle="collapse" data-target="#previous-papers-list" ng-click="vm.isAlreadyEnteredPapersExpanded = !vm.isAlreadyEnteredPapersExpanded" ng-if="vm.allPreviousPapers && vm.allPreviousPapers.length > 0">
				<i class="fa" ng-class="{'fa-plus':!vm.isAlreadyEnteredPapersExpanded,'fa-minus':vm.isAlreadyEnteredPapersExpanded}"></i>Already Entered All Previous Papers
			</div>
			<div id="previous-papers-list" class="collapse" ng-if="vm.allPreviousPapers.length > 0">
				<div class="prev-ppr-info" ng-repeat="previous_paper in vm.allPreviousPapers">
					<span ng-click="vm.editPreviousPaper(previous_paper.paper_id)" class="edit-btn">Edit</span>
					<span ng-click="vm.removePreviousPaper(previous_paper.paper_id)" class="remove-btn">Remove</span>
					<span class="paper-id">{{previous_paper.paper_id}}</span>
				</div>
			</div>
			<div class="big-warning" ng-if="vm.selectedCourse.length <= 0 || vm.selectedChild.length <= 0">
				Please select Course and Child in left panel to start entering previous year paper.
			</div>
			<div class="btns" ng-if="vm.selectedCourse.length > 0 && vm.selectedChild.length > 0">
				<div class="ew-rounded-btn green" ng-click="vm.updatePreviousPaper()">
					<i class="fa fa-save right" ng-if="!vm.isPaperSaving"></i>
					<i class="fa fa-circle-o-notch right" ng-if="vm.isPaperSaving"></i>
					<span class="text">Save</span>
				</div>
				<div class="ew-rounded-btn red" ng-click="vm.resetForm()">
					<i class="fa fa-trash right"></i>
					<span class="text">Reset</span>
				</div>
			</div>
			<div ng-if="vm.selectedCourse.length > 0 && vm.selectedChild.length > 0">
				<textarea froala="vm.EditorConfig" id="questionDesc" rows="7" class="form-control" placeholder="Question Description" ng-model="vm.previousPaper"></textarea>
			</div>
		</div>
	</div>
</div>