@import "../../assets/scss/_common_test.scss";


/*left side menu start*/
.tree_menu{
    right: 0px;
    top: 78px;
    background: url(/assets/images/right-menu/tree-img.png);
    width: calc((100% - 880px)/2);
    height: 100%;
    background-position: top 0px right 0px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: fixed;
    z-index: 11;
    @media (max-width: 1499px){
        width: calc((100% - 680px)/2);
    }
    @media (max-width: 1199px){
        width: calc(100% - 850px);
    }
    @media (max-width: 1023px){
        display: none;
    }
    ul{
        height: calc(100% - 208px);
        margin: 0px;
        padding: 0px;
        margin-top: 130px;
        li{
            height: 25%;
            list-style: none;
            padding: 10px 0px;
            .img{
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                margin: 0px auto;
                max-width: 150px;
                max-height: 100%;       
                height: 100%;
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform-origin: left top;
                    z-index: 10;
                    text-align: center;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 15px;
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
                img{
                    max-height: 100%;
                    width: auto;
                    display: block;
                    max-width: 100%;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            &:nth-child(1){
                .img{
                    left: -50px;
                }
                a{
                    transform: rotate(10deg) translate(-50%, -50%);
                    margin-top: -5px;
                }
            }
            &:nth-child(2){
                .img{
                    left: 0px;
                }
                a{
                    transform: rotate(-8deg) translate(-50%, -50%);
                    margin-top: -6px;
                    margin-left: 5px;
                }
            }
            &:nth-child(3){
                .img{
                    left: -90px;
                }
                a{
                    transform: rotate(12deg) translate(-50%, -50%);
                    margin-top: -2px;
                }
            }
            &:nth-child(4){
                .img{
                    left: -35px;
                }
                a{
                    transform: rotate(-5deg) translate(-50%, -50%);
                    margin-top: -6px;
                    margin-left: 6px;
                }
            }
            @media (max-width: 1499px){
                .img{
                    max-width: 125px;
                }
                &:nth-child(1){
                    .img{
                        left: -50px;
                    }
                }
                &:nth-child(2){
                    .img{
                        left: 20px;
                    }
                }
                &:nth-child(3){
                    .img{
                        left: -50px;
                    }               
                }
                &:nth-child(4){
                    .img{
                        left: 0px;
                    }
                }
            }
            @media (max-width: 1199px){
                .img{
                    max-width: 100px;
                }
                &:nth-child(1){
                    .img{
                        left: -20px;
                    }
                }
                &:nth-child(2){
                    .img{
                        left: 20px;
                    }
                }
                &:nth-child(3){
                    .img{
                        left: -25px;
                    }               
                }
                &:nth-child(4){
                    .img{
                        left: 0px;
                    }
                }
            }
        }
    }
}



.site-menu .list .item .menu ul li a {
    background-color: #005385;
    color: #fff;
    padding: 15px;
    font-size: 14px;
}

.site-menu .list .item .menu ul li.sub-menu ul li a {
    background-color: #7fa2c3;
}

.site-menu .list .item .menu ul li a:hover, .site-menu .list .item .menu ul li.sub-menu ul li a:hover {
    color: #005385;
    background: #fff;
}

.site-menu .list .item .menu ul li a .arrow svg {
    fill: #fff;
}

.site-menu .list .item .menu ul li a:hover .arrow svg {
    fill: #23527c;
}

.p-r-10 {
    padding-right: 10px;
}

// .site-menu .list .item .big-menu {
//     min-width: 360px;
// }

.site-menu .logo img {
    width: 70%;
    margin: 0 15% 20px;
}


.site-menu .logo  {
    display: block;
}


/*left side menu end*/

/*page main contnet and top head start*/
.home-top{
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    max-width: 915px;
    padding: 0px 15px;
    @media (max-width: 1499px){
        margin-left: -100px;
    }
    @media (max-width: 1199px){
        max-width: 865px;
        margin: 0px;
        left: 40px;
        transform: none;
    }
    @media (max-width: 1023px){
        margin-left: 0px;
        width: 100%;
        left: 0px;
        max-width: 100%;
        padding: 0px;
        position: static;
        margin: 0px;
    }
    .background-top{
        background: #1dbed0;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        width: calc(100% - 28px);
        height: calc(100% - 50px);
        margin: 0px 14px;
        @media (max-width: 1023px){
            display:none;
        }
    }
    .img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        top: 0px;
        @media (max-width: 1023px){
            display:none;
        }
    }
    .logo{
        cursor: pointer;
        display: block;
        margin: 100px auto 0px;
        max-width: 300px;
        position: relative;
        z-index: 1;
        @media (max-width: 1023px){
            display:none;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .page-links{
        height: 50px;
        background: #fff;
        margin: 53px 0px 0px;
        border-bottom: 1px solid #ccc;
        @media (max-width: 1023px){
            margin: 0px 0px 0px;
        }
        h1{
            margin: 0px;
        }
    }
    
}
.content{
    max-width: 885px;
    margin: 0px auto;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 250px;
    height: calc(100% - 250px);
    @media (max-width: 1499px){
        margin-left: -100px;
    }
    @media (max-width: 1199px){
        max-width: 865px;
        margin-left: 0px;
        left: 40px;
        transform: none;
        padding: 0px 15px; 
    }
    @media (max-width: 1023px){
        max-width: 100%;
        left: 0px;
        padding: 0px;
        margin: 0px;
        height: auto;  
        position: static;
    }
    .page-content{
        background: #f4f4f4;
        min-height: 100%;
        overflow: hidden;
    }
    
}
.background{
    background-image: url(/assets/images/bg_new.png);
    position: fixed;
    background-color: #1dbed0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
    background-size: 100% auto;
    z-index: -1;
    top: 0px;
    left: 0px;
}
/*end page main contnet and top head end*/







.forum-home-wrapper {
    $facebook: #44619D;
    $google: #EA4335;
    $linkedin: #006DA6;
    $twitter: #28A9E0;

    $sidebar-width: 300px;
    $roof-height: 145px;
    $roof-width: 963px;
    $roof-left-red-part: 42px;
    $roof-right-red-part: 46px;
    $top-bar-fixed-height: 50px;
    $background-color: #1dbed0;

    $sidebar-large-width: 500px;
    $sidebar-small-width: 300px;

    font-family: 'Nunito',sans-serif;
    background-color: $background-color;

    .no-question-found {
        font-family: 'nunito',sans-serif;
        font-size: 25px;
        font-family: 'nunito',sans-serif;
        padding: 40px 0px;
        text-align: center;
    }

    .big-bg-image {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        background-image: url(../../assets/images/home_bg.png);
        background-attachment: fixed;
        background-position: 0 100%;
        background-size: contain;
        background-repeat: no-repeat;
        display: none;

        @include breakpoint(screen_1000) {
            display: block;
        }
    }

    .bg-color {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: $background-color;
    }

    .bg-image {
        position: fixed;
        right: 0px;
        bottom: 0px;
    }

    .bg-left-image {
        position: fixed;
        right: 1366px;
        bottom: 0px;
        display: none;

        @include breakpoint(screen_1367) {
            display: block;
        }
    }

    .sidebar {
        position: fixed;

        //change left to right
        right: 0px;
        top: 0px;
        padding-top: 0px;
        bottom: 0px;
        z-index: 100;
        display: none;

        @include breakpoint(screen_1280) {
            display: block;
        }


        @media screen and (min-width: 1366px) {
            width: $sidebar-large-width;
        }

        // @include breakpoint(screen_1366) {
        //     width: $sidebar-large-width;
        // }

        width: $sidebar-small-width;

        .tree-img {
            position: absolute;
            top: 60px;
            z-index: 11;
            display: none;

            @include breakpoint(large_desktop) {
                display: block;

                // top: 140px;
            }


            @include breakpoint(desktop) {
                display: block;
            }


            img {
                width: $sidebar-small-width;

                @media screen and (min-width: 1366px) {
                    width: $sidebar-large-width;
                }

                // @include breakpoint(screen_1366) {
                //     width: $sidebar-large-width;
                // }

            }

            .tree-menu {
                position: absolute;
                width: 75px;
                bottom: 20px;
                right: 62px;

                @include breakpoint(large_desktop) {
                    width: 100px;
                    right: 82px;
                }
            }

            .menu-item {
                background: white;
                margin: 10px 0px;
                color: #222;
                font-family: 'nunito';
                text-align: center;
                padding: 10px 0px;
            }
        }

        .courselist-apple {
            position: absolute;
            top: 250px;
            right: 10px;
            cursor: pointer;

            @include breakpoint(screen_1367) {
                top: 400px;
            }
        }

        .extra-apple {
            position: absolute;
            top: 260px;
            right: 0px;
            cursor: pointer;

            // transform: rotate(-15deg);

            @include breakpoint(screen_1367) {
                top: 300px;
                right: 100px;
                display: block;
            }
        }
    }

    .main-container {
        position: relative;

        .roof-wrapper {
            position: fixed;
            top: 00px;
            width: $roof-width;
            height: $roof-height;
            font-family: aller;
            font-size: 30px;
            color: white;
            text-align: center;
            background: $background-color;
            z-index: 10;
            display: none;

            @include breakpoint(screen_1000) {
                right: auto;
                left: 50%;
                margin-left: -$roof-width / 2;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);
            }


            @include breakpoint(screen_1280) {
                left: auto;
                margin-left: 0px;
                right: $sidebar-width - 40;
            }


            @include breakpoint(large_desktop) {
                right: auto;
                right: $sidebar-width - 40;
                left: 50%;
                margin-left: -$roof-width / 2;
            }


            .roof-img {
                width: 100%;
                height: 100%;
            }

            .logo-img {
                position: absolute;
                margin-top: 10px;

                // left: 50%;
                // top: 50%;
                // margin-left: -63px;
                // margin-top: -35px;
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                img {
                    position: relative;

                    // height: 40px;

                }
            }
        }

        .roof-btns {
            position: absolute;
            bottom: 10px;
            color: #555;
            font-size: 18px;
            left: 50%;

            .item {
                margin: 0px 10px;
                cursor: pointer;
                position: relative;
            }
        }

        .top-bar-fixed {
            position: absolute;
            top: $roof-height;
            left: 0px;
            right: 0px;
            padding-left: $roof-left-red-part;
            padding-right: $roof-right-red-part;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            &.screen-below--1000 {
                top: 40px;
                padding-left: 0px;
                padding-right: 0px;
                position: fixed;
                z-index: 1;

                .menu-item {
                    font-size: 13px !important;

                    .search-btn {
                        padding: 0px 8px;
                    }
                }

                @include breakpoint(screen_1000) {
                    display: none;
                }
            }

            .menu-item {
                border-bottom: 1px solid #ccc;
                font-size: 20px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-start);

                @include flex-direction(row);

                .pg_title {
                    color: #b9002d;
                    font: 400 21px/1em Waverly,sans-serif;
                    text-transform: lowercase;
                    margin-right: 15px;
                    cursor: pointer;
                    text-decoration: none;

                    @include display(flex);

                    @include align-items(center);

                    @include flex-direction(row);

                    img {
                        height: 35px;
                        margin: 0px 10px;
                        margin-top: -6px;
                    }

                    .flex-column {
                        @include display(flex);

                        @include align-items(center);

                        @include justify-content(center);

                        @include flex-direction(column);
                    }

                    .btn-text {
                        font-size: 12px;
                        font-weight: bold;
                        font-family: 'nunito',sans-serif;
                        text-transform: capitalize;
                        color: darken(#1d99d1, 10%);
                        position: relative;
                        top: 3px;
                    }
                }

                .search-wrap {
                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(space-between);

                    @include flex-direction(row);

                    @include flex(1);

                    .input-wrap {
                        @include flex(1);
                    }
                }

                &.search-box-field {
                    padding: 5px 10px;
                    background: #fff;

                    @include flex(1);

                    input[type=text] {
                        border: none;
                        border-color: #e5e5e5;
                        border-radius: 15px;
                        font-size: 17px;
                        padding: 0;
                        position: absolute;
                        width: 0;
                        right: 400px;
                        -webkit-transition: all .2s ease-in;
                        transition: all .2s ease-in;
                        top: 7px;
                        &.active {
                            color: black;
                            width: 48%;
                            border: 1px solid #e5e5e5;
                            padding: 6px 12px;
                        }

                        @include flex(1);
                    }

                    .search-btn {
                        height: 40px;
                        border-radius: 3px;
                        padding: 0px 5px;
                        background: white;
                        color: #1d99d1;
                        margin-left: 15px;
                        font-family: 'nunito',sans-serif;
                        font-weight: normal;
                        cursor: pointer;
                        white-space: nowrap;

                        @include display(flex);

                        @include align-items(center);

                        @include justify-content(center);

                        @include flex-direction(row);

                        &.active {
                            text-decoration: underline;
                        }

                        &.flex-column {
                            @include flex-direction(column);
                        }
                        .close_search{
                            color: #b9002d;
                        }

                        .btn-text {
                            font-size: 12px;
                            font-weight: bold;
                        }

                        i {
                            font-size: 20px;
                            margin-right: 5px;
                        }

                        img {
                            width: 25px;
                            margin-right: 5px;
                        }
                    }

                    .qa-btns-dropdown {
                        color: #222;
                        margin-left: 10px;

                        .dropdown-toggle {
                            cursor: pointer;
                            color: #1d99d1;
                        }

                        .dropdown-menu {
                            padding: 0px;
                        }

                        li {
                            padding: 10px;
                            cursor: pointer;
                            white-space: nowrap;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .mobile-header {
            background: white;
            position: fixed;
            z-index: 1;
            padding: 5px 10px;
            left: 0px;
            right: 0px;
            height: 64px;

            @include breakpoint(screen_1000) {
                display: none;
            }


            img {
                max-width: 60vw;
            }
        }

        .main-content-wrapper {
            position: absolute;
            width: 100%;

            @include breakpoint(screen_1000) {
                width: 875px;
                padding-top: 90px;
                right: auto;
                left: 50%;
                margin-left: -(875px / 2) - 1;
                padding-top: $roof-height + $top-bar-fixed-height;
            }


            @include breakpoint(screen_1280) {
                right: $sidebar-width + 6;
                left: auto;
                margin-left: 0px;
            }


            @include breakpoint(large_desktop) {
                right: auto;
                left: 50%;
                margin-left: -(875px / 2) - 1;
            }


            .questions-list {
                // padding-left: $roof-left-red-part;
                // padding-right: $roof-right-red-part;
                // max-width: $roof-width;

                .all-questions {
                    background: #f4f4f4;
                    padding: 10px;
                    min-height: calc(100vh - #{$roof-height + $top-bar-fixed-height});
                }

                .question {
                    // margin: 5px 0px;
                    margin-bottom: 10px;
                    border: 1px solid #e5e5e5;
                    border-radius: 5px;
                    background: white;

                    // box-shadow: 1px 1px 1px #ccc;

                    @include display(flex);

                    @include align-items(flex-start);

                    @include justify-content(flex-start);

                    @include flex-direction(row);

                    .question-title-wrapper {
                        @include display(flex);

                        @include align-items(flex-start);

                        @include justify-content(flex-start);

                        @include flex-direction(row);
                    }

                    .usr-pic {
                        min-width: 40px;
                        min-height: 40px;
                        width: 40px;
                        height: 40px;
                        margin: 10px;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 50%;
                        }
                    }
                }

                .info-wrapper {
                    @include flex(1);

                    .tags {
                        padding: 10px;
                        padding-bottom: 0px;

                        @include display(flex);

                        @include align-items(center);

                        @include flex-direction(row);

                        .tag {
                            color: #666;
                            background-color: #f4f4f4;
                            border: 1px solid #e5e5e5;
                            padding: 1px 5px;
                            border-radius: 3px;
                            font-weight: bold;
                            font-family: 'nunito',sans-serif;
                            font-size: 10px;
                            margin-right: 10px;
                        }
                    }
                }

                .question-time {
                    margin-bottom: 0px;
                    font-size: 12px;
                    color: #888;
                    font-family: 'nunito',sans-serif;
                    margin-top: 10px;
                    padding: 0px 10px;
                }

                .latest-ans-block {
                    font-family: 'nunito',sans-serif;

                    @include display(flex);

                    @include align-items(center);

                    @include flex-direction(row);

                    .usr-pic {
                        margin: 0px;
                        margin-right: 10px;
                    }

                    .usr-name {
                        text-transform: capitalize;
                        font-size: 13px;
                        margin-bottom: 0px;
                        color: darken(#1d99d1, 10%);
                    }

                    .usr-post {
                        color: #777;
                        margin-left: 5px;
                    }

                    .latest-ans-time {
                        color: #777;
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .latest-ans-link {
                        color: darken(#1d99d1, 10%);
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }

                .que-title {
                    cursor: pointer;
                    padding: 10px;
                    color: #222;
                    display: inline-block;
                    color: #222;
                    font-size: 19px;
                    font-family: 'Q_Serif',sans-serif;
                    padding-top: 0px;
                    font-weight: bold;

                    img, video, iframe {
                        max-width: 100%;
                    }

                    @include breakpoint(screen_1280) {
                        // font-size: 19px;
                        // padding: 20px 10px;
                    }
                }
            }
        }
    }

    .mobile-banner {
        background-image: url(/assets/images/course-banner.jpg);
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        position: static;
        height: auto;
        padding-top: 64px;
        padding-bottom: 27px;

        @include breakpoint(screen_1000) {
            display: none;
        }


        .banner-title {
            padding: 20px;
            color: white;

            .big-title {
                font: 38px Waverly,sans-serif;
                margin-bottom: 10px;
                text-transform: lowercase;
            }

            .tagline {
                font: 20px 'nunito',sans-serif;
            }
        }

        .banner-buttons {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            @include flex-direction(row);

            @include flex-wrap(wrap);

            .ew-rounded-btn {
                margin: 10px;
            }
        }
    }

    .banner-wrapper {
        background-color: #f4f4f4;
        padding: 10px;

        .banner-img {
            background-image: url("../../assets/images/banner.png");
            height: 200px;
            background-position: center;
            background-size: cover;
        }

        .banner-btns {
            height: 50px;
            background-color: white;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 1px 1px 1px #ccc;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            .banner-btn {
                font-family: 'nunito',sans-serif;
                font-size: 18px;
                margin: 0px 10px;
                cursor: pointer;

                &.active {
                    color: darken(#1d99d1, 10%);
                    font-weight: bold;
                }

                img {
                    width: 25px;
                }
            }
        }
    }

    .side-modal {
        position: fixed;
        right: 0px;
        top: 50px;
        overflow: hidden;
        width: 40%;
        z-index: 100;
        max-height: 80vh;
        overflow: auto;

        // border: 3px solid #ccc;
        border-right: 0px;
        background: white;
        border-bottom: 5px solid #3e6289;
        border-left: 5px solid #3e6289;

        @include transition(all 0.4s ease-in-out);

        &.ds-open {
            right: 0px;
        }

        &.ds-close {
            right: -40%;
        }
        @include breakpoint(mobileonly) {
            &.category, &.notifications{
                width: 80%;
                &.ds-close {
                    right: -80%;
                }
            }
        }

        .close-btn {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 20px;
            cursor: pointer;
            color: white;
        }

        .category, .trending {
            background: #fff;

            // border-radius: 3px;
            // padding: 15px;
            font-size: 13px;

            // box-shadow: 1px 1px 1px #ccc;

            .modal-title {
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 10px;
                font-family: 'nunito',sans-serif;
                font-size: 20px;
                background: #3e6289;
                color: white;
                padding: 10px;
            }

            .list {
                padding: 10px;

                ul {
                    list-style-type: none;
                    padding-left: 0px;
                    margin-bottom: 0px;
                }

                li {
                    margin: 5px 0px;
                    cursor: pointer;
                    background: #f4f4f4;
                    padding: 10px;
                    border-radius: 5px;
                }

                p {
                    margin: 0px;
                    display: inline-block;
                }
            }
        }

        .trending {
            .que-t {
                width: 100%;
                cursor: pointer;
                margin: 10px 0px;
                font-size: 14px;
                position: relative;
                border-bottom: 1px solid #ccc;
                padding: 10px 0px;

                // padding-right: 10px;

                &:after {
                    // content: '...';
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }
            }
        }
    }

    .header-bar {
        color: white;
        padding: 10px;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 11;

        .header-btns {
            // position: absolute;
            // z-index: 10;

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(flex-end);

            @include flex-direction(row);

            .login-btn, .register-btn {
                padding: 0px 20px;
                font-family: 'waverly';
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;

                &:last-child {
                    border: 0px;
                }
            }

            .modal-close-btn {
                width: 60px;
            }
        }

        .menu-btn {
            font-size: 25px;
            color: white;
            padding-right: 15px;
            cursor: pointer;
        }
    }

    #ask-modal {
        height: 100vh;
        overflow-y: scroll;
        display: none;
    }

    .action-btns {
        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);
    }
}

/* master page end */



.login-page-wrapper {
    font-family: 'nunito',sans-serif;

    .custom_container {
        max-width: 865px;
    }

    .tools_block {
        max-width: 835px;
    }

    .main_content  {
        margin-top: 0!important; 
    }

    @media screen and (min-width: 1280px) {
        .main_content {
            background-color: #f4f4f4 !important;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            min-height: calc(100vh - 250px);


            .wrap_content {
                min-height: auto !important;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: #fff;
                box-shadow: 2px 2px 8px #e5e5e5;
                border-radius: 5px;
                min-width: 614px;
            }
        }
    }

    .alert {
        font-family: 'nunito',sans-serif;
        font-size: 17px;
    }

    .input {
        &.form-error {
            input {
                border: 1px solid maroon;
                background-color: rgba(255, 0, 0, 0.2);
            }
        }

        &.form-success {
            input {
                border: 1px solid green;
                background-color: rgba(0, 255, 0, 0.2);
            }
        }
    }
}