<div class="background"></div>
<header-menu-component menu-delegate="vm.menuDelegate"></header-menu-component>
<tree-component></tree-component>

<div class="home-top">
  <div class="img"><img src="/assets/images/roof_flat.png"></div>
  <a href="#" class="logo"><img src="/assets/images/logo_dark.png"></a>
  <div class="background-top"></div>
  <div class="tools_block page-links">
					<div class="tool_part"><i class="icon_tools icon_sience"></i> <span class="text_upper title_page">LOGIN FORM</span></div>
					<div class="tool_part about_training">
						<a ui-sref="register" class="btn_form">
							<i class="fa fa-pencil"></i>
							<span class="text">Sign Up</span>
						</a>
						<a ui-sref="forgotpassword" class="btn_form">
							<i class="fa fa-key"></i>
							<span class="text">Forgot Password</span>
						</a>
					</div>
				</div>

</div>
<div class="content login_page login-page-wrapper ">
  <div class="page-content">
  <div class="main_content">
				<div class="wrap_content custom_row form_block">
					<div class="right_part custom_col_9">
						<form class="reg_form" ng-submit="vm.login(form)" novalidate="" ng-show="!vm.shouldShowOTPDialog" name="form" autocomplete="off">
							<div>	
								<div ng-if="vm.formError" class="alert alert-danger">
									{{vm.formError}}
								</div>
								<div ng-if="vm.formSuccess" class="alert alert-success">
									{{vm.successMsg}}
								</div>
								<div ng-if="vm.fromLogout && !vm.isSessionExpired" class="alert alert-danger">
									You have been logged out successfully.
								</div>
								<div ng-if="vm.isSessionExpired" class="alert alert-danger">
									You session is expired.Learn More Here
								</div>
								
								<div class="alert alert-success" ng-if="vm.fromForgotPassword">
									Link to reset password is sent to {{vm.fromForgotPassword}}
								</div>
								<div class="alert alert-success" ng-if="vm.fromChangePassword">
									{{vm.fromChangePassword}}
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.email.$valid,'form-error':(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid)}">
								<label for="" class="control-label"><i class="fa fa-user"></i> Username</label>
								<input type="text" class="form-control" placeholder="Username" name="email" id="email" ng-model="vm.usr_id" required="" />
								<div ng-messages="form.email.$error" ng-if="(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid)" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*Username is required</div>
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.password.$valid,'form-error':(form.password.$dirty && !form.password.$valid) || (form.$submitted && !form.password.$valid)}">
								<label for="" class="control-label"><i class="fa fa-key"></i> Password</label>
								<input type="password" class="form-control" placeholder="Password" name="password" id="password" ng-model="vm.pwd" required="" />
								<div ng-messages="form.password.$error" ng-if="(form.password.$dirty && !form.password.$valid) || (form.$submitted && !form.password.$valid)" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*Password is required</div>
								</div>
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form">
									<span ng-if="!vm.isFormSubmitting">
										<i class="fa fa-pencil"></i> 
										<span class="text">Login</span>
									</span>
									<span ng-if="vm.isFormSubmitting">
										<i class="fa fa-circle-o-notch"></i> 
										<span class="text">Logging in...</span>
									</span>
								</button>
							</div>
						</form>

						<form class="reg_form" ng-show="vm.shouldShowOTPDialog" ng-submit="vm.verifyOTP()" name="form-otp" autocomplete="off">
							<h6>Your account is not verified,please check your mail for OTP.</h6>
							<div>	
								<div ng-if="vm.formError" class="alert alert-danger">
									{{vm.formError}}
								</div>
								<div ng-if="vm.formSuccess" class="alert alert-success">
									{{vm.successMsg}}
								</div>
							</div>
							<div class="form-group input" style="margin-top: 50px;" ng-class="{'form-success':form.email.$valid,'form-error':(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid)}">
								<label for="otp">Enter OTP <sup>*</sup></label>
								<input type="text" class="form-control" name="otp" id="dname" ng-model="vm.otp" required="" />
							</div>
							<div class="form-group text_right">
								<button type="submit" ng-disabled="!vm.otp" class="btn_form">
									<span ng-if="!vm.isFormSubmitting">
										<i class="fa fa-pencil"></i> 
										<span class="text">Verify</span>
									</span>
									<span ng-if="vm.isFormSubmitting">
										<i class="fa fa-circle-o-notch"></i> 
										<span class="text">Verifing...</span>
									</span>
								</button>
							</div>
							<div class="clearfix"></div>
							<div class="form-group">
								<span style="cursor: pointer;" ng-click="vm.resendOTP()">Resend OTP ?</span>
							</div>
						</form>
					</div>

					<div class="left_part custom_col_3">
						<ul class="list main_soc_list">
							<li ng-click="vm.authenticateWith('facebook')">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('google')">
								<a href="" class="google"><i class="fa fa-google"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('twitter')">
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('linkedin')">
								<a href="" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
  </div>
</div>
