.bookmark-page-wrapper {
    .module-wrapper {
        padding: 15px 0px;

        .panel-group {
            width: 100%;
            margin: 0px auto;
            border: 1px solid #ccc;
        }

        .panel-group .panel {
            margin: 0px;
            border-radius: 0px;
            box-shadow: 0px 0px 0px;
            -webkit-box-shadow: 0px 0px 0px;
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            color: $font-color;
            background-color: white;
            border: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            // border-bottom: 1px solid lighten($hoverColor, 20%);
            font-family: aller;
            font-size: 0.5em;
            padding: 0px;
        }

        .accordion-toggle {
            padding: 25px 15px;
            font-family: 'Ubuntu',sans-serif;

            a {
                text-decoration: none;

                // color: white;
           
            }
        }

        .panel-header-icons {
            margin-left: 40px;
            float: right;
            min-width: 20px;

            i {
                cursor: pointer;
            }

            .fa-bookmark {
                cursor: auto;
            }
        }

        .module-arrow {
            @include transition(all 0.3s ease-in-out);
        }

        .module-arrow.right {
            @include transform(rotate(0deg));
        }

        .module-arrow.down {
            @include transform(rotate(90deg));
        }

        .module-row {
            color: lightblue;
        }

        .module-name {
            text-decoration: none;
            color: #2574A9;
            font-size: 15px;
            line-height: 20px;
            font-family: 'Aller';

            i {
                font-size: 35px;
                line-height: 20px;
                position: relative;
                top: 5px;
                padding-right: 16px;
                color: lightblue;
            }
        }

        .module-number {
            font-family: 'Aller';
            color: #D24D57;
        }

        .panel:nth-of-type(2n) {
            .module-row {
                color: darken(lightblue, 30%);
            }

            // .module-name {
            //     color: #4183D7;

            //     i {
            //         color: darken(lightblue, 30%);
            //     }
            // }
       
        }

        .panel-body {
            // background-color: $sidebarColor;
            color: $font-color;
            padding: 0px;
            font-family: 'Ubuntu',sans-serif;
        }

        :focus {
            outline: none;
        }

        ul {
            margin: 0px;
        }

        ul > li {
            padding: 20px 15px;
            border-bottom: 1px solid #888888;
        }

        ul > li:last-child {
            border-bottom: 0px;
        }

        ul > li > a {
            color: $font-color;
            font-size: 15px;
            text-decoration: none;
        }

        .bookmark-checked {
            color: lighten(blue, 30%);
        }

        .watched-checked {
            color: lighten(green, 30%);
        }
    }
}