$facebook: #44619D;
$google: #EA4335;
$linkedin: #006DA6;
$twitter: #28A9E0;

.mCSB_inside > .mCSB_container {
    margin-right: 0px !important;
}

body {
    background-color: white;
    overflow-x: hidden !important;
    min-height: 100vh;
}

body * {
    outline: 0px;
}

body.ds-modal-open {
    overflow: hidden;
}

.btn:focus {
    outline: none;
}

.clearfix {
    clear: both;
}

//Blur a Div
.blur-div {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='1'%20/></filter></svg>#blur");
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;

    .star {
        padding: 1px;
        color: #ddd;
        font-size: 20px;
        text-shadow: .05em .05em #aaa;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;

        &.filled {
            color: #fd0;
        }

        &.filled:before {
            // content:"&#xf005;";
       
        }

        &:before {
            // content:"&#xf006;";
       
        }
    }

    &.readonly .star.filled {
        color: darken(#fd0, 20%);
    }
}

/*
*   For full screen modal (notemoddal and video modal)  
*/
// .modal-backdrop {
//     z-index: -1;

//     &.in {
//         opacity: 0;
//     }
// }

/*
*       JW Custom Speed Button
*/
.jw-custom-speed-button {
    i {
        padding: 0px 13px;
        position: relative;
        top: -2px;
        border-left: 1px solid gray;
    }

    &:hover {
        .jw-overlay {
            visibility: visible;
            opacity: 1;
        }
    }
}

/* HAS_FOOTER_HEADER */
.has-header-footer {
    min-height: calc(100vh - 75px - 75px);

    /* Header = Footer = 75px */
}

/*Sidebar Block*/
.sidebar-widget {
    $border-color: white;
    $title-height: 50px;
    $title-icon-width: 55px;

    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Aller',sans-serif;
    overflow: hidden;
    width: 100%;

    // border: 1px solid $border-color;
    // margin-bottom: 15px;

    .title-wrapper {
        text-align: center;
        color: white;
        margin: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 18px;
        height: $title-height;
        line-height: $title-height;
        font-family: 'museo-slab';

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-around);

        @include flex-direction(row);
    }

    .title {
        @include transition(all 0.5s ease-in);

        // width: calc(100% - #{$title-icon-width * 2});
        display: inline-block;

        // height: $title-height;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-icon {
        // height: $title-height;
        // line-height: $title-height;
        cursor: pointer;
        padding: 0px 20px;
        font-size: 18px;

        // width: $title-icon-width;
   
    }

    .horizontal-line {
        width: 90%;
        height: 1px;
        background-color: #222;
        margin: 2px auto;
    }

    ul {
        padding: 10px 15px;
        margin-bottom: 0px;
        max-height: 215px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }

    li {
        color: #eee;
        padding: 10px 0px;
        border-bottom: 1px solid #22313F;
        font-size: 15px;
        position: relative;
        text-align: left;

        &:last-child {
            border-bottom: 0px;
        }
    }

    .more-button {
        position: absolute;
        right: 0px;
        background: #2574A9;
        color: white;
        padding: 2px 10px;
        border-radius: 5px;
        top: 7px;
    }

    .delete-button {
        background: #D24D57;
        text-decoration: none;
        cursor: pointer;
    }

    .see-here-button {
        color: #D24D57;
        position: absolute;
        text-decoration: none;
        right: 0px;
        top: -10px;
        font-size: 35px;
    }

    .fa-times {
        color: #CF000F;
        cursor: pointer;
    }

    .footer-wrapper {
        // height: 50px;
        line-height: 50px;
        font-size: 18px;
        text-align: center;
        color: white;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        // display: flex;
        font-family: 'museo-slab';

        // background: #22313F;

        .half {
            width: 50%;
            display: inline-block;
            cursor: pointer;
            border-right: 1px solid $border-color;
            float: left;

            &:last-child {
                border-right: 0px solid $border-color;
            }
        }

        .full {
            width: 100%;
            display: block;
            cursor: pointer;
            font-size: 16px;

            // border-bottom: 1px solid $border-color;
       
        }
    }
}

/* Chat Wrapper */
.chat-wrapper {
    position: fixed;
    right: 20px;
    bottom: 0px;
    z-index: 10000000;
}