.contactus-wrapper {
    height: 100vh;
    width: 100vw;
    background: url("../images/contactus.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

    .overlay {
        @include overlay(rgba(0, 0, 0, 0.5));

        z-index: 100;
    }

    .contactus-content {
        color: white;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;

        div[class*=col-] {
            text-align: center;
            z-index: 101;
            position: relative;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            height: calc(100vh - 190px);
        }

        h1, h2, h3, h4, h5 {
            color: white;
            z-index: 101;
        }

        .quote {
            font-size: 50px;
        }

        .quote-subline {
            font-size: 18px;
        }

        .contactus-form {
            form {
                z-index: 101;
                width: 95%;
                margin: 0px auto;
                max-width: 375px;

                input, textarea {
                    color: white;
                }
            }
        }
    }

    .contactus-footer {
        position: absolute;
        color: white;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        z-index: 101;

        div[class*=col-] {
            height: 150px;
            text-align: center;
            z-index: 101;
            border-right: 1px solid gray;
            margin-top: 20px;
            margin-bottom: 20px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            &:last-child {
                border-right: 0px;
            }
        }

        h1, h2, h3, h4, h5 {
            color: white;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: 768px) {
            & {
                position: relative;
            }
        }
    }
}