.courselist-1-new-wrapper {
    $sidebar-large-width: 30%;
    $sidebar-small-width: 30%;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $logo-height: 90px;

    $dark-accent: #e2e2e2;

    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;

    min-height: 100vh;

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 2;
        background: $red-color;

        @include display(flex);

        @include flex-direction(column);

        // border-right: 2px solid rgba(0, 0, 0, 0.2);

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $sidebar-small-width;

        // }

        .logo {
            position: fixed;
            top: 0px;
            left: 5px;
            font-size: 50px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: aller;
            height: $logo-height;
            background: url("/assets/images/logo_new1.png");
            width: 259px;
            height: 74px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            // display: none;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: #1d99d1;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        .sidebar-img {
            width: 100%;

            // position: absolute;
       
        }

        ul {
            margin-bottom: 0px;

            // height: 100%;
            position: relative;

            // background: $blue-color;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);

            &:before {
                // content: '';
                position: absolute;
                top: -10px;
                bottom: 0px;
                left: 10px;
                width: 10px;
                background: #2ea677;
            }
        }

        li {
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            font-family: 'Aller';
            background: $red-color;

            // background: url("/assets/images/stone.png");
            background-size: cover;

            // margin: 2px 0px;

            //$red-color;
            font-size: 20px;

            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;

            // border-right: 3px solid #2ea677;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include breakpoint(large_desktop) {
                font-size: 30px;
            }


            // @include flex-grow(0);
            &:first-child {
                // border-top: 3px solid #2ea677;
                border-top-right-radius: 5px;
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: darken($red-color, 5%);
            }

            .icon {
                @include order(2);
            }

            .text {
                text-align: right;
                margin-right: 30px;

                @include order(1);

                @include flex(1);
            }
        }
    }

    .right-sidebar {
        position: fixed;
        right: 0px;
        top: 0px;
        padding-top: $logo-height;
        display: none;

        // padding-top: $logo-height;
        bottom: 0px;
        z-index: 2;

        // border-left: 2px solid rgba(0, 0, 0, 0.2);

        @include breakpoint(large_desktop) {
            width: $right-sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $right-sidebar-small-width;

        // }

        .profile {
            position: absolute;
            top: 0px;
            right: 0px;
            color: white;
            font-family: aller;
            background: $light-blue-color;
            height: $logo-height;
            width: 100%;
            padding: 10px;

            // border-top-left-radius: 5px;
            border-bottom: 3px solid white;
            border-left: 3px solid white;

            @include breakpoint(large_desktop) {
                padding: 20px;
            }


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .pic {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;

                    @include breakpoint(large_desktop) {
                        border-radius: 50%;
                    }
                }
            }

            .name {
                font-size: 21px;
                margin: 20px;

                @include flex(1);

                display: none;

                // @include breakpoint(large_desktop) {
                display: block;

                // }
           
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;

            // background: $blue-color;

            @include display(flex);

            @include justify-content(flex-start);

            @include flex-direction(column);
        }

        li {
            text-align: center;
            color: white;
            font-family: 'Aller';
            font-size: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            padding: 10px;
            background: $light-blue-color;
            border-left: 3px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            &:last-child {
                border-bottom: 3px solid white;
                border-bottom-left-radius: 5px;
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: rgba(0, 0, 0, 0.1);
            }

            .icon {
                width: 30px;

                // margin: 15px;
                font-size: 17px;
            }

            .text {
                // display: none;

                @include breakpoint(large_desktop) {
                    // display: block;
                    // text-align: left;
                    // margin: 20px;
                    // width: 150px;

                    // @include flex(1);
                }


                @include flex(1);
            }

            i {
                // display: none;
           
            }
        }
    }

    .main-container {
        // padding: 25px;

        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        padding-left: $sidebar-small-width;
        padding-right: $right-sidebar-small-width;
        position: relative;
        min-height: calc(100vh);
        background: white;

        //$blue-color;
        // padding-top: $logo-height;
        z-index: 1;

        .title {
            // position: fixed;
            top: 00px;
            left: $sidebar-small-width;
            right: $right-sidebar-small-width;
            height: 300px;
            font-family: aller;
            font-size: 30px;
            color: #fff;
            text-align: center;
            background: url("/assets/images/banner.jpg");
            background-size: cover;
            background-position: center;

            //$blue-color;

            // border-top: 2px solid white;
            // margin-left: 5.5%;
            // margin-right: 5.45%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include breakpoint(large_desktop) {
                left: $sidebar-large-width;
                right: $right-sidebar-large-width;
            }


            &:before {
                // content: '';
                position: absolute;

                // top: -16px;
                // left: 6.5%;
                // width: 2px;
                // height: 110px;
                // background: white;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: url("/assets/images/headBG.png");
                background-repeat: no-repeat;

                // transform: rotate(45deg);
           
            }

            &:after {
                right: 6.5%;
                left: auto;
                transform: rotate(-45deg);
            }

            img {
                width: 100%;
                max-height: 100%;
            }
        }
    }

    .course-list-center {
        width: 85%;
        margin: 0px auto;
    }

    .courselist {
        padding: 10px 20px;
        background: $green-color;
        border: 3px solid white;
        border-radius: 5px;
        border-top: 1px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;

        li {
            padding: 25px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .info-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);
        }

        .book-icon i {
            width: 30px;
            color: white;
            font-size: 38px;
            margin-right: 40px;
        }

        .name a {
            color: white;
            font-size: 30px;
            font-family: 'Aller';
            text-decoration: none;
        }

        .extra-info {
            @include display(flex);

            @include align-items(center);

            // @include justify-content(space-between);

            @include flex-direction(row);
        }

        .extra-info > div {
            display: inline-block;
            font-family: 'Aller';
            font-size: 15px;
            color: #eee;
            margin-right: 20px;
        }
    }
}