$sanspro: "Source Sans Pro", sans-serif;
$bitter: "Bitter", serif;
$mont: "Montserrat", sans-serif;
$indie: "Indie Flower", cursive;
$cabin: "Cabin", sans-serif;
$opensans: "Open Sans", sans-serif;
$slabo: "Slabo 27px", serif;
$aleo: "aleolight", sans-serif;

$font: $aleo;
$hoverColor: rgba(100, 100, 100, 0.5);
$headerImg: "../images/course-header.jpg";

$darkOverlay: transparentize(black, 0.6);
$overlayColor: transparentize(black, 0.8);

$darkblue: #032D36;
$backColor: #333333;

$sidebarColor: #DADFE1;

//#222222;
$font-color: #222;

#errorModal {
    text-align: center;
    padding: 0 !important;

    &.in {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        max-width: 550px;
    }

    .modal-body {
        font-size: 25px;
        color: #D24D57;
        text-align: center;
    }

    .modal-content {
        border-radius: 5px;
        background: rgba(black, 0.8);
        color: white;
    }

    .modal-header {
        border-bottom: 1px solid #444;

        i {
            color: white;
            font-size: 25px;
        }
    }

    .modal-title {
        color: white;
    }
}

.course-container {
    .row {
        max-width: 100%;
    }

    font-family: $font;

    .course-content-wrapper {
        margin: 0px;

        // background-color: white;
        @include breakpoint(laptop) {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }
    }
}

.course-wrapper {
    $sidebar-width: 480px;
    $header-height: 90px;
    $accent: #1d99d1;
    $color: #44B39D;

    background-color: $color;

    //#4B96AE;
    min-height: 100vh;

    .courselist-header {
        position: fixed;
        left: 25vw;
        right: 60px;
        height: $header-height;
        top: 0px;
        background: $color;
        z-index: 1;

        @include breakpoint(large_desktop) {
            right: 250px;
        }
    }

    .sidebar {
        .top-arrow {
            // background: url("/assets/images/arrow.png");
            background-size: cover;
            width: 100px;
        }

        .rocket-bar {
            width: 25vw;
            position: fixed;
            left: 0px;
            font-size: 17px;
            font-family: 'aller';
            color: white;
            height: 100%;
            background: #59ABE3;
            border-right: 4px solid white;

            .logo {
                width: 100%;
                font-size: 50px;
                height: 90px;
                font-family: 'Aller';
                text-shadow: 2px 2px 2px #444;
                display: block;
                text-align: center;
                overflow: hidden;
                position: relative;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                // border-bottom: 1px solid #444;

                // box-shadow: 0px 1px 1px #222;
                //
                &:before {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background: white;
                    transform: rotate(45deg);
                    top: -65px;
                    left: -60px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;

                    // background: white;
                    transform: rotate(45deg);
                    bottom: -65px;
                    right: -51px;
                    border: 3px solid #fff;
                    background: $color;
                }

                img {
                    position: relative;
                    top: -4px;
                }
            }

            .parallelogram {
                width: 70%;
                height: 100px;
                border: 4px solid #fff;
                display: block;
                margin: 20px auto;
                position: relative;
                cursor: pointer;

                // margin-top: 50px;
                transform: skew(25deg);
                border-radius: 8px;
                font-family: 'Aller';
                text-transform: uppercase;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(column);

                @include flex-grow(0);

                & * {
                    transform: skew(-25deg);
                }

                i {
                    font-size: 28px;
                    position: absolute;
                    top: 50%;
                    margin-top: -14px;
                    left: 20px;
                }

                .title {
                    font-size: 20px;
                    font-family: 'intro';
                    position: relative;
                    left: 25px;
                }

                .sub-title {
                    font-size: 13px;
                    position: relative;
                    left: 25px;
                }

                &:nth-child(2n+1) {
                    // transform: skew(-25deg);
               
                }

                &:first-child {
                    margin-top: 10px;
                }

                &.red {
                    background: #D24D57;
                }

                &.blue {
                    background: #59ABE3;
                }

                &.orange {
                    background: #EB974E;
                }

                &.gray {
                    background: #324851;
                }
            }

            .shape {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);
            }

            .shape-wrapper {
                position: absolute;
                top: 0px;
                padding-top: 90px;
                padding-bottom: 10px;
                width: 100%;
                height: 100%;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-around);

                @include flex-direction(column);
            }

            // @include display(flex);

            // @include align-items(center);

            // @include justify-content(space-around);

            // @include flex-direction(column);
       
        }

        .footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            font-size: 15px;
            font-family: aller;
        }
    }

    .header-upper-part {
        width: 90%;
        margin: 0px auto;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-around);

        @include flex-direction(row);
    }

    .share-icons {
        z-index: 2;
        top: 0px;
        bottom: 0px;
        width: 50px;
        position: fixed;
        right: 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include flex-grow(1);

        i {
            padding: 10px 15px;

            // background: white;
            margin-left: -4px;
            color: white;
            font-size: 22px;

            // border-right: 1px solid #999;

            &:last-child {
                border-right: 0px;
            }
        }
    }

    .rate-icons {
        height: 45px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        @include flex-grow(1);

        i {
            color: gold;
        }

        .text {
            color: white;
            font-family: aller;
            font-size: 15px;
            margin-right: 8px;
        }
    }

    .header-btns {
        // position: absolute;

        // width: 100%;
        max-width: 1700px;
        height: $header-height / 2;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);

        @include flex-grow(1);

        .login-btn, .register-btn {
            padding: 10px 20px;

            // background: rgba(0, 0, 0, 0.5);
            // border-right: 1px solid rgba(255, 255, 255, 0.2);
            font-family: 'aller';
            color: #e6e6e6;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border: 0px;
            }
        }
    }

    .text-rotator {
        text-align: center;
        color: white;
        font-size: 30px;
        position: absolute;
        left: 0px;
        right: 0px;
        height: $header-height;
        top: 0px;
        font-family: aller;
        text-shadow: 2px 2px 2px #444;
        width: 100%;
        margin: 0px auto;
        overflow: hidden;

        // background: rgba(0, 0, 0, 0.3);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        // text-transform: uppercase;
        word-spacing: 2px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        #learning-options {
            background: #D24D57;
            margin-left: 5px;
            font-family: 'intro';
            padding: 10px 10px 5px;
        }

        .test-block {
            position: absolute;
            font-family: 'blessed';
            font-size: 43px;
            top: 50%;
            left: 30px;
            margin-top: -33px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 100px;
            height: 100px;
            background: white;
            top: 54px;
            left: -52px;
            transform: rotate(45deg);
            border: 3px solid #fff;
            background: #1d99d1;
        }
    }

    .main-content {
        @include breakpoint(large_desktop) {
            padding-right: 250px;
        }


        padding-left: 25vw;
        padding-right: 60px;
        padding-top: $header-height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);
    }

    .right-sidebar {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        color: white;
        font-family: aller;
        background: rgba(0, 0, 0, 0.3);
        border-left: 3px solid white;

        @include breakpoint(large_desktop) {
            border-left: 0px solid white;
        }


        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(column);

        i {
            width: 30px;
            margin: 15px;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
        }

        .cap {
            display: none;
            cursor: pointer;

            @include breakpoint(large_desktop) {
                display: inline-block;
                width: 150px;
                margin: 10px 20px;
            }
        }

        .item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            @include breakpoint(large_desktop) {
                @include display(flex);

                @include align-items(center);

                @include justify-content(space-around);

                @include flex-direction(row);
            }
        }

        .login-signup, .sharing {
            width: 100%;
        }
    }
}

.course-header-wrapper {
    background: url(http://wenak.org/myd2/wp-content/uploads/Pattern-call1.png) #2a323a;
    background-color: #2a323a;
    margin: 0px;
    position: relative;
}

.course-header-left {
    position: absolute;
    top: 0px;
    bottom: 0px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    display: none;

    .logo {
        color: $font-color;
        text-align: center;
        font-size: 30px;
    }
}

.course-content-center {
    font-size: 16px;

    // background-color: white;

    @include breakpoint(laptop) {
        padding: 0px;
        width: 100%;
    }


    .section-tabs {
        padding: 0px;
        padding-top: 0px;
        font-family: 'Ubuntu',sans-serif;

        .tab-pane .desc {
            color: $font-color;
            padding: 15px;
        }
    }

    .module-wrapper {
        padding: 0px 0px;

        .panel-group {
            width: 100%;
            margin: 0px auto;

            // border: 1px solid #3c788b;
            // background: rgba(0, 0, 0, 0.3);
       
        }

        .panel-group .panel {
            margin: 0px;
            border-radius: 0px;
            box-shadow: 0px 0px 0px;
            -webkit-box-shadow: 0px 0px 0px;
            background: transparent;
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            color: $font-color;
            background-color: transparent;
            border: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            // font-family: $font;
            // font-size: 0.5em;
            padding: 0px;
        }

        .accordion-toggle {
            padding: 30px 15px;

            // font-family: 'Ubuntu',sans-serif;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .panel-header-icons {
            margin-left: 40px;
            float: right;
            min-width: 20px;
            color: white;

            i {
                cursor: pointer;
            }

            .fa-bookmark {
                cursor: auto;
            }
        }

        .module-arrow {
            color: white;

            @include transition(all 0.3s ease-in-out);
        }

        .module-arrow.right {
            @include transform(rotate(0deg));
        }

        .module-arrow.down {
            @include transform(rotate(90deg));
        }

        .module-row {
            color: lightblue;
        }

        .module-name {
            text-decoration: none;
            color: #f5f5f5;

            //#2574A9;
            font-size: 20px;

            // line-height: 20px;
            font-family: 'aller';

            i {
                font-size: 35px;
                line-height: 20px;
                position: relative;
                top: 5px;
                padding-right: 16px;
                color: white;
            }
        }

        .module-number {
            font-family: 'Aller';

            // background: rgba(0, 0, 0, 0.2);
            color: white;
            padding: 5px 10px;
            margin-right: 10px;
        }

        .panel:nth-of-type(2n) {
            .module-row {
                color: darken(lightblue, 30%);
            }
        }

        .panel-body {
            background-color: rgba(0, 0, 0, 0.2);

            //#3c788b;
            color: #f6f6f6;
            padding: 0px;
            font-family: 'Aller',sans-serif;
            font-size: 15px;
            border: 0px !important;
        }

        :focus {
            outline: none;
        }

        ul {
            margin: 0px;
        }

        ul > li {
            padding: 20px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        ul > li:last-child {
            border-bottom: 0px;
        }

        ul > li > a {
            color: $font-color;
            font-size: 15px;
            text-decoration: none;
        }

        .item-type-letter {
            background: white;
            padding: 5px;
            margin-right: 10px;
        }

        .bookmark-checked {
            color: lighten(blue, 30%);
        }

        .watched-checked {
            color: lighten(green, 30%);
        }
    }

    .description {
        color: white;
        font-family: aller;
        font-size: 25px;
    }
}