.courselist-new-wrapper {
    $sidebar-width: 480px;
    $header-height: 90px;
    $right-sidebar-laptop-width: 300px;
    $right-sidebar-large-desktop-width: 380px;
    $accent: #1d99d1;
    $color: #44B39D;

    background-color: $color;

    //#4B96AE;
    min-height: 100vh;

    .courselist-header {
        position: fixed;
        left: 25vw;
        right: $right-sidebar-laptop-width;
        height: $header-height;
        top: 0px;
        background: $color;
        z-index: 1;

        @include breakpoint(large_desktop) {
            right: $right-sidebar-large-desktop-width;
        }
    }

    .sidebar {
        .top-arrow {
            // background: url("/assets/images/arrow.png");
            background-size: cover;
            width: 100px;
        }

        .rocket-bar {
            width: 25vw;
            position: fixed;
            left: 0px;
            font-size: 17px;
            font-family: 'aller';
            color: white;
            height: 100%;
            background: #59ABE3;
            border-right: 4px solid white;

            .logo {
                width: 100%;
                font-size: 50px;
                height: 90px;
                font-family: 'Aller';
                text-shadow: 2px 2px 2px #444;
                display: block;
                text-align: center;
                overflow: hidden;
                position: relative;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                // border-bottom: 1px solid #444;

                // box-shadow: 0px 1px 1px #222;
                //
                &:before {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background: white;
                    transform: rotate(45deg);
                    top: -65px;
                    left: -60px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;

                    // background: white;
                    transform: rotate(45deg);
                    bottom: -65px;
                    right: -51px;
                    border: 3px solid #fff;
                    background: $color;
                }

                img {
                    position: relative;
                    top: -4px;
                }
            }

            .parallelogram {
                width: 70%;
                height: 100px;
                border: 4px solid #fff;
                display: block;
                margin: 20px auto;
                position: relative;
                cursor: pointer;

                // margin-top: 50px;
                transform: skew(25deg);
                border-radius: 8px;
                font-family: 'Aller';
                text-transform: uppercase;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(column);

                @include flex-grow(0);

                & * {
                    transform: skew(-25deg);
                }

                i {
                    font-size: 28px;
                    position: absolute;
                    top: 50%;
                    margin-top: -14px;
                    left: 20px;
                }

                .title {
                    font-size: 20px;
                    font-family: 'intro';
                    position: relative;
                    left: 25px;
                }

                .sub-title {
                    font-size: 13px;
                    position: relative;
                    left: 25px;
                }

                &:nth-child(2n+1) {
                    // transform: skew(-25deg);
               
                }

                &:first-child {
                    margin-top: 10px;
                }

                &.red {
                    background: #D24D57;
                }

                &.blue {
                    background: #59ABE3;
                }

                &.orange {
                    background: #EB974E;
                }

                &.gray {
                    background: #324851;
                }
            }

            .shape {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);
            }

            .shape-wrapper {
                position: absolute;
                top: 0px;
                padding-top: 90px;
                padding-bottom: 10px;
                width: 100%;
                height: 100%;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-around);

                @include flex-direction(column);
            }

            // @include display(flex);

            // @include align-items(center);

            // @include justify-content(space-around);

            // @include flex-direction(column);
       
        }

        .footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            font-size: 15px;
            font-family: aller;
        }
    }

    .header-upper-part {
        width: 90%;
        margin: 0px auto;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-around);

        @include flex-direction(row);
    }

    .share-icons {
        z-index: 2;
        top: 0px;
        bottom: 0px;
        width: 50px;
        position: fixed;
        right: 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include flex-grow(1);

        i {
            padding: 10px 15px;

            // background: white;
            margin-left: -4px;
            color: white;
            font-size: 22px;

            // border-right: 1px solid #999;

            &:last-child {
                border-right: 0px;
            }
        }
    }

    .rate-icons {
        height: 45px;
        width: 150px;
        padding-left: 20px;
        padding-top: 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        @include flex-grow(1);

        i {
            color: gold;
        }

        .text {
            color: white;
            font-size: 20px;
            font-family: aller;
            text-transform: uppercase;
        }

        .rotator {
            text-align: center;
            color: white;
            font-size: 20px;
            font-family: aller;
            text-transform: uppercase;

            #learning-options {
                background: #D24D57;
                margin-left: 5px;
                font-family: 'intro';
                padding: 10px 10px 5px;
            }
        }
    }

    .header-btns {
        // position: absolute;

        // width: 100%;
        max-width: 1700px;
        height: $header-height / 2;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);

        @include flex-grow(1);

        .login-btn, .register-btn {
            padding: 10px 20px;

            // background: rgba(0, 0, 0, 0.5);
            // border-right: 1px solid rgba(255, 255, 255, 0.2);
            font-family: 'aller';
            color: #e6e6e6;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border: 0px;
            }
        }
    }

    .text-rotator {
        text-align: center;
        color: white;
        font-size: 30px;
        position: absolute;
        left: 0px;
        right: 0px;
        height: $header-height;
        top: 0px;
        font-family: aller;
        text-shadow: 2px 2px 2px #444;
        width: 100%;
        margin: 0px auto;
        overflow: hidden;

        // background: rgba(0, 0, 0, 0.3);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        // text-transform: uppercase;
        word-spacing: 2px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        #learning-options {
            background: #D24D57;
            margin-left: 5px;
            font-family: 'intro';
            padding: 10px 10px 5px;
        }

        .test-block {
            position: absolute;
            font-family: 'blessed';
            font-size: 43px;
            top: 50%;
            left: 30px;
            margin-top: -33px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 100px;
            height: 100px;
            background: white;
            top: 54px;
            left: -52px;
            transform: rotate(45deg);
            border: 3px solid #fff;
            background: #1d99d1;
        }
    }

    .main-content {
        @include breakpoint(large_desktop) {
            padding-right: $right-sidebar-large-desktop-width;
        }


        padding-left: 25vw;
        padding-right: $right-sidebar-laptop-width;
        padding-top: $header-height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);
    }

    .right-sidebar {
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        color: white;
        font-family: aller;
        background: rgba(0, 0, 0, 0.3);
        border-left: 3px solid white;
        width: $right-sidebar-laptop-width;

        @include breakpoint(large_desktop) {
            // border-left: 0px solid white;
            width: $right-sidebar-large-desktop-width;
        }


        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(column);

        .side-icon {
            width: 30px;
            margin: 15px;
            text-align: center;
            font-size: 20px;
            cursor: pointer;
        }

        .cap {
            display: none;
            cursor: pointer;

            @include breakpoint(laptop) {
                display: inline-block;
                width: 150px;
                margin: 10px 20px;
            }
        }

        .item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            @include breakpoint(laptop) {
                @include display(flex);

                @include align-items(center);

                @include justify-content(space-around);

                @include flex-direction(row);
            }
        }

        .login-signup, .sharing {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);

            .item {
                width: 50%;
            }
        }

        .panel-group {
            width: 100%;
            text-align: center;
        }

        .panel {
            box-shadow: 0px 0px 0px;
            background: transparent;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }

        .panel + .panel {
            margin-top: 0px;
        }

        .panel-heading {
            padding: 0px;
            background: transparent;
        }

        .accordion-toggle {
            padding: 15px 15px;
            background: rgba(0, 0, 0, 0.2);
            color: white;
        }

        .panel-body {
            padding: 0px;
        }
    }

    .course-list-center {
        width: 100%;
    }

    .list-heading {
        font-size: 30px;
        font-family: aller;
        text-shadow: 2px 2px 2px #444;
        margin: 0px 0px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding: 10px 0px;
        background: rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid white;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .courselist {
        // background: rgba(0, 0, 0, 0.3);
        padding: 10px 20px;

        // margin-top: 20px;
        //

        li {
            padding: 25px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .info-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);
        }

        .book-icon i {
            width: 30px;
            color: white;
            font-size: 38px;
            margin-right: 40px;
        }

        .name a {
            color: white;
            font-size: 30px;
            font-family: 'Aller';
            text-decoration: none;
        }

        .extra-info {
            @include display(flex);

            @include align-items(center);

            // @include justify-content(space-between);

            @include flex-direction(row);
        }

        .extra-info > div {
            display: inline-block;
            font-family: 'Aller';
            font-size: 15px;
            color: #eee;
            margin-right: 20px;
        }
    }

    .course-list-right {
        width: 31%;
        display: none;
    }
}