$sanspro: "Source Sans Pro", sans-serif;
$bitter: "Bitter", serif;
$mont: "Montserrat", sans-serif;
$indie: "Indie Flower", cursive;
$cabin: "Cabin", sans-serif;
$opensans: "Open Sans", sans-serif;
$slabo: "Slabo 27px", serif;
$aleo: "aleolight", sans-serif;

$font: $aleo;
$hoverColor: rgba(100, 100, 100, 0.5);
$headerImg: "../images/course-header.jpg";

$darkOverlay: transparentize(black, 0.6);
$overlayColor: transparentize(black, 0.8);

$darkblue: #032D36;
$backColor: #333333;

$sidebarColor: #DADFE1;

//#222222;
$font-color: #222;

#errorModal {
    text-align: center;
    padding: 0 !important;

    &.in {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        max-width: 550px;
    }

    .modal-body {
        font-size: 25px;
        color: #D24D57;
        text-align: center;
    }

    .modal-content {
        border-radius: 5px;
        background: rgba(black, 0.8);
        color: white;
    }

    .modal-header {
        border-bottom: 1px solid #444;

        i {
            color: white;
            font-size: 25px;
        }
    }

    .modal-title {
        color: white;
    }
}

.course-container {
    .row {
        max-width: 100%;
    }

    font-family: $font;

    .course-content-wrapper {
        margin: 0px;
        background-color: white;
    }
}

.course-header-wrapper {
    background: url(http://wenak.org/myd2/wp-content/uploads/Pattern-call1.png) #2a323a;
    background-color: #2a323a;
    margin: 0px;
    position: relative;
}

.course-header-left {
    position: absolute;
    top: 0px;
    bottom: 0px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    display: none;

    .logo {
        color: $font-color;
        text-align: center;
        font-size: 30px;
    }
}

.course-header-center {
    background-size: cover;

    .overlay {
        @include overlay($overlayColor);
    }

    .jumbotron {
        margin-bottom: 0px;
        position: relative;
        padding: 40px 0px;
        color: #ccc;
        background: transparent;
        font-family: 'Ubuntu',sans-serif;

        .content {
            position: relative;
        }

        h3, h4, h5 {
            color: #ccc;
            margin-top: 0px;
        }

        .header-course-name {
            font-family: 'ITCAvantGarde',sans-serif;
            font-weight: bold;
        }

        .header-author {
            font-family: 'Ubuntu' , sans-serif;
        }

        h3 {
            font-size: 26px;
            color: #1BBC9B;
        }

        .short-info {
            margin: 40px 0px 20px 0px;
            max-width: 1500px;
        }

        p {
            font-size: 17px;
        }

        table {
            max-width: 200px;
            font-size: 15px;

            tr > td {
                border: 0px;
                padding: 0px;
            }
        }
    }

    .course-star {
        position: relative;
        left: 10px;
        font-size: 15px;

        i {
            font-size: 45px;
            z-index: 99;
            position: relative;
            display: inline-block;
            left: -8px;
            top: 3px;
            color: gold;
        }

        .course-rating {
            position: relative;
            top: -7px;
            left: -39px;
            z-index: 100;
            color: black;
        }
    }

    .resume-btn {
        color: white;
        background-color: rgba(200, 100, 255, 0.4);
        opacity: 0.8;
        margin: 20px 0px;
    }

    .course-author {
        position: absolute;
        display: table;
        right: 0px;
        top: 0px;
    }

    .avatar {
        width: 75px;
        height: 75px;
        margin: 0px auto;
        border-radius: 50%;
        display: table-cell;
        border: 2px solid white;
    }

    .author-name {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
        font-weight: bold;
    }

    .course-share {
        position: absolute;
        right: 0px;
        bottom: 0px;
        margin: 20px;

        .social-icons a {
            font-size: 30px;
            margin-left: 25px;
            color: white;

            // &:hover {
            //     color: lightblue;
            // }
       
        }

        .facebook:hover {
            color: $facebook;
        }

        .google:hover {
            color: $google;
        }

        .linkedin:hover {
            color: $linkedin;
        }

        .twitter:hover {
            color: $twitter;
        }
    }
}

.course-info-bar {
    padding: 15px 15px;
    display: block;
    clear: both;
    border-bottom: 1px solid white;
    position: relative;
    color: white;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;

    i {
        float: right;
        line-height: 30px;
    }
}

.course-extra-info {
    display: none;
    padding: 15px 0px;
    color: $font-color;

    // background-color: $sidebarColor;

    h4, h5 {
        color: $font-color !important;
    }

    .course-author {
        position: relative;
        display: table;
    }

    .avatar {
        width: 100px;
        height: 100px;
        margin: 0px auto;
        border-radius: 50%;
        display: table-cell;
    }

    .author-name {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
        font-weight: bold;
    }

    .course-rating-info {
        margin-top: 30px;
        position: relative;

        tr > td:first-child {
            color: $font-color;
            font-weight: bold;
        }

        tr:last-child {
            border-bottom: 1px solid white;
        }

        td > a > i {
            font-size: 15px;
            margin: 0px 3px;
            cursor: pointer;
        }
    }

    .course-left-menu {
        position: relative;
        margin-top: 30px;
        margin-left: -10px;
        margin-right: -10px;
        font-family: 'Ubuntu',sans-serif;
        color: #ccc;

        ul > li {
            font-size: 16px;
            padding: 10px;

            // border-bottom: 1px solid lightgray;
            cursor: pointer;

            &:first-child {
                // border-top: 1px solid lightgray;
           
            }

            &:hover {
                color: #777;
            }

            span {
                margin-right: 10px;
            }
        }
    }
}

.course-content-left {
    .course-extra-info {
        display: none;
    }
}

.course-content-center {
    font-size: 16px;
    background-color: white;

    .section-tabs {
        padding: 0px;
        padding-top: 0px;
        font-family: 'Ubuntu',sans-serif;

        .nav-tabs > li > div {
            margin-right: 2px;
            line-height: 1.42857143;
            color: $font-color;
            text-align: center;
            cursor: pointer;
            border: 0px;
        }

        .nav-tabs {
            // border-bottom:1px solid lighten($hoverColor,20%);
            // background-color: #2C3E50;
            border-top: 1px solid white;
            font-family: 'museo-slab';
        }

        .nav-tabs > li.active > div, .nav-tabs > li.active > div:hover {
            cursor: default;
            color: green;
            background-color: transparent;
        }

        .nav > li > div {
            position: relative;
            display: block;
            padding: 17px 15px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 2px;
            color: #F05A28;
        }

        .nav > li > div:hover {
            color: green;
            background-color: transparent;

            // border-bottom: 4px solid orange;
       
        }

        .nav-tabs > li.disabled > div {
            color: #999;
        }

        .nav-tabs > li > a {
            box-shadow: 0px 0px 0px;
            color: black;
            font-size: 17px;
        }

        .nav-tabs > li.active > a {
            box-shadow: 0px 0px 0px;
            color: #1BBC9B;
        }

        .tab-pane .desc {
            color: $font-color;
            padding: 15px;
        }
    }

    .module-wrapper {
        padding: 15px 0px;

        .panel-group {
            width: 100%;
            margin: 0px auto;
            border: 1px solid #ccc;
        }

        .panel-group .panel {
            margin: 0px;
            border-radius: 0px;
            box-shadow: 0px 0px 0px;
            -webkit-box-shadow: 0px 0px 0px;
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            color: $font-color;
            background-color: white;
            border: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: 1px solid lighten($hoverColor, 20%);
            font-family: $font;
            font-size: 0.5em;
            padding: 0px;
        }

        .accordion-toggle {
            padding: 25px 15px;
            font-family: 'Ubuntu',sans-serif;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .panel-header-icons {
            margin-left: 40px;
            float: right;
            min-width: 20px;

            i {
                cursor: pointer;
            }

            .fa-bookmark {
                cursor: auto;
            }
        }

        .module-arrow {
            @include transition(all 0.3s ease-in-out);
        }

        .module-arrow.right {
            @include transform(rotate(0deg));
        }

        .module-arrow.down {
            @include transform(rotate(90deg));
        }

        .module-row {
            color: lightblue;
        }

        .module-name {
            text-decoration: none;
            color: #2574A9;
            font-size: 15px;
            line-height: 20px;
            font-family: 'Ubuntu';

            i {
                font-size: 35px;
                line-height: 20px;
                position: relative;
                top: 5px;
                padding-right: 16px;
                color: lightblue;
            }
        }

        .module-number {
            font-family: 'Aller';
            color: #D24D57;
        }

        .panel:nth-of-type(2n) {
            .module-row {
                color: darken(lightblue, 30%);
            }

            // .module-name {
            //     color: #4183D7;

            //     i {
            //         color: darken(lightblue, 30%);
            //     }
            // }
       
        }

        .panel-body {
            background-color: $sidebarColor;
            color: $font-color;
            padding: 0px;
            font-family: 'Ubuntu',sans-serif;
        }

        :focus {
            outline: none;
        }

        ul {
            margin: 0px;
        }

        ul > li {
            padding: 20px 15px;
            border-bottom: 1px solid #888888;
        }

        ul > li:last-child {
            border-bottom: 0px;
        }

        ul > li > a {
            color: $font-color;
            font-size: 15px;
            text-decoration: none;
        }

        .item-type-letter {
            background: white;
            padding: 5px;
            margin-right: 10px;
        }

        .bookmark-checked {
            color: lighten(blue, 30%);
        }

        .watched-checked {
            color: lighten(green, 30%);
        }
    }
}

.course-content-right, .course-content-left {
    .course-share {
        color: white;
        position: relative;
        padding: 15px 0px;

        h4, h5 {
            color: white;
        }

        .social-icons a {
            font-size: 25px;
            margin-right: 30px;
        }
    }
}

@media screen and (min-width: 75em) {
    .course-info-bar {
        display: none;
    }

    .course-extra-info {
        display: block;
    }

    .course-container {
        .course-header-left {
            width: 50px;

            // border-right: 1px solid #ccc;
       
        }

        .course-header-center {
            width: calc(100vw - 50px);
            margin-left: 30px;

            /* Left Sidebar width */
        }

        .course-content-wrapper {
            @include display(flex);
        }

        .course-content-left {
            width: 50px;
            padding: 0px;

            .course-extra-info {
                display: block;
            }
        }

        .course-content-center {
            width: calc(100% - 50px - 30%);

            // border-left: 0px solid lightgray;
            padding: 0px;
        }

        .course-content-right {
            width: 30%;
        }

        .course-header-right {
            display: none;
        }
    }
}

// @media screen and (min-width: 100em) {
//     .course-container {
//         .course-content-right {
//             width: 30%;
//         }

//         .course-content-center {
//             width: calc(100% - 50px - 30%);
//         }
//     }
// }