.footer-root-div {
    height: 75px;
}

.footer-wrapper {
    color: white;
    max-width: 1200px;
    margin: 0px auto;

    .footer-block {
        h1, h2, h3, h4, h5, h6 {
            color: white;
        }
    }

    .row {
        margin: 0px;
    }
}

.footer-top {
    display: none;
}

.last-container {
    background-color: #222;
    color: white;

    .footer-last {
        max-width: 1200px;
        margin: 0px auto;
        padding: 25px 0px;
        height: 75px;
    }

    ul {
        margin-bottom: 0px;
    }

    .footer-last-links {
        display: inline-block;
        margin-left: 15px;

        a {
            text-decoration: none;
        }
    }

    .social-wrapper ul {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        // line-height: 45px;

        li {
            margin: 0px 20px;

            a {
                color: white;
            }

            &:hover a {
                // color: lightblue;
           
            }

            i {
                top: 3px;
                font-size: 20px;
                position: relative;
            }
        }

        .facebook:hover {
            color: $facebook;
        }

        .google:hover {
            color: $google;
        }

        .linkedin:hover {
            color: $linkedin;
        }

        .twitter:hover {
            color: $twitter;
        }
    }
}