.header-wrapper {
    padding: 10px;
    background-color: white;

    .logo {
        color: #222;
        text-align: center;
        font-size: 30px;
        display: inline-block;
    }

    .if-user {
        .user-wrapper {
            position: relative;
            color: white;
            top: 3px;
        }

        .user-avatar {
            display: inline-block;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 15px;
                border: 1px double white;
            }
        }

        .user-info {
            float: right;
            text-align: left;
        }
    }

    .if-not-user {
        ul {
            margin-bottom: 0px;
        }

        li {
            padding: 15px 10px;

            &:hover {
                a {}
            }

            i {
                margin-right: 10px;
            }
        }

        a {
            padding: 10px 20px;
            border-radius: 2px;
            cursor: pointer;
            text-decoration: none;
            background-color: #333;
            color: white;

            // border: 1px solid white;
       
        }
    }
}