.home-new-wrapper-3 {
    $middle-part-height: 100px;
    $side-width: 50px;
    $green-color: #2ea677;
    $orange-color: #6BB9F0;

    //rgb(239, 72, 52);

    background: $orange-color;

    //#6DBAD8;

    //url(https://www.pluralsight.com/content/dam/pluralsight/home-page/images/PLSGHT%20WEB%20PHOTO%20-033%20dark.jpg);

    //#1d99d1;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    &.blur {
        @include filter(blur(2px));
    }

    .base-black-part-left {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1;
        width: 11%;

        img {
            width: 100%;
        }
    }

    .base-black-part-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        width: 11%;

        img {
            width: 100%;
        }
    }

    &:before {
        // content: '';
        background: url("../images/sun.png");
        background-size: cover;
        top: -200px;
        left: -200px;
        position: absolute;
        width: 600px;
        height: 600px;
    }

    &:after {
        // content: '';
        background: url(../images/tree1.png);
        background-size: cover;
        right: 0px;
        bottom: 0px;
        position: absolute;
        width: 332px;
        height: 100vh;
        z-index: 1;
    }

    ul {
        position: relative;
        z-index: 101;
        color: white;
        text-align: center;

        li {
            display: block;
            padding: 20px 20px;
            font-weight: bold;
            font-size: 40px;
            font-family: 'Aller';
            letter-spacing: 1px;
            cursor: pointer;
            text-shadow: 2px 2px 2px #444;

            a {
                text-decoration: none;
                color: white;
            }
        }

        & li:hover {
            // border-bottom: 2px solid white;
       
        }
    }

    .overlay {
        @include overlay(rgba(black, 0.2));

        z-index: 100;
    }

    .menu-button {
        position: absolute;
        font-size: 30px;
        top: 10px;
        right: 20px;
        color: #fff;
        z-index: 11;
        display: none;

        i {
            cursor: pointer;
        }
    }

    .home-menu-modal {
        position: fixed;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        //
        //89, 171, 227
        background: rgba(108, 122, 137, 0.97);
        color: white;
        z-index: 99999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .close-modal-icon {
            position: absolute;
            top: 00px;
            right: 20px;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .logo {
        font-family: waverly;
        font-size: 50px;
        color: white;
        position: absolute;
        top: -20px;
        left: 10px;
        z-index: 1;
        font-weight: bold;
        text-shadow: 2px 2px 2px #444;

        img {
            width: 300px;
        }
    }

    .header-btns {
        position: absolute;
        width: 100%;
        max-width: 1600px;
        z-index: 10;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);

        .login-btn, .register-btn {
            padding: 10px 20px;
            font-family: 'waverly';
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border: 0px;
            }
        }

        .modal-close-btn {
            width: 60px;
        }
    }

    .tagline {
        position: absolute;
        bottom: -20px;
        right: 10px;
        z-index: 2;
        font-family: 'angel';
        font-size: 53px;
        color: white;
        text-shadow: 2px 2px 2px #444;
    }

    .content {
        font-family: aller;
        font-weight: 700;
        position: absolute;

        // display: none;

        // left: 5%;
        z-index: 3;
        color: white;

        // margin-top: -32px;

        // height: 51%;
        top: 75px;
        left: 0px;
        right: 0px;
        text-align: center;

        #learning-options {
            background: #D24D57;
            margin-left: 5px;
            font-family: 'intro';
            padding: 10px 10px 5px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .text {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: aller;
        }

        .angel {
            font-size: 80px;
            position: absolute;
            left: 195px;
            top: 30px;
            font-family: "Angel";
        }

        .icon {
            font-size: 30px;
            position: absolute;
            left: 250px;
            top: 40px;
        }
    }

    .title {
        position: fixed;
        top: 27px;
        width: 100%;
        color: white;
        text-align: center;

        // background: #6DBAD8;
        z-index: 10;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include breakpoint(large_desktop) {}


        .head-title {
            position: absolute;

            // width: 200px;
            left: 50%;
            margin-left: -200px;
            top: 50%;
            height: 90px;
            margin-top: -45px;
            font-family: waverly;
            font-weight: bold;
            color: #222;
            font-size: 40px;
            background: url("../images/dvbydt.png");
            background-repeat: no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            width: 400px;

            @include breakpoint(large_desktop) {
                width: 400px;
                font-size: 60px;
                margin-left: -200px;
            }
        }

        img {
            width: 85%;
            max-height: 100%;
            margin: 0px auto;
        }
    }

    .left-side-tree {
        position: absolute;
        top: -100px;
        left: 0px;
        z-index: 10;
        display: none;

        @include breakpoint(large_desktop) {
            top: 0px;
        }


        img {
            width: 500px;
        }
    }

    .right-side-tree {
        position: absolute;
        top: -100px;
        right: 0px;
        z-index: 10;
        display: none;

        @include breakpoint(large_desktop) {
            top: 0px;
        }


        img {
            width: 500px;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }

    .box {
        z-index: 2;
        position: relative;
        width: 100vw;

        .box-content {
            padding: 00px 0px;
            border: 0px solid #333;
            border-top: 0px;
            overflow: hidden;
            position: relative;
            min-height: 80vh;
            margin-top: 10vh;
            margin-bottom: 10vh;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);

            // @include breakpoint(large_desktop) {
            //     width: 48vw;
            // }
       
        }

        .box-part {
            width: 40%;
            margin: 2vw;
            background-color: red;
            height: 28vh;
            float: left;
            border: 3px solid white;
            position: relative;
            padding: 50px;

            @include breakpoint(large_desktop) {
                // width: 20vw;
                // height: 175px;
            }


            @include display(flex);

            @include justify-content(center);

            @include flex-direction(column);

            &.left {
                @include align-items(flex-start);
            }

            &.right {
                @include align-items(flex-end);
            }

            &:nth-child(2n) {
                .subcaption {
                    text-align: right;
                }
            }

            .subcaption {
                position: absolute;
                top: -38px;
                color: white;
                font-family: 'Aller';
                font-size: 20px;
                text-align: left;
                left: 0px;
                right: 0px;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px #444;

                @include breakpoint(large_desktop) {
                    font-size: 20px;
                    top: -38px;
                }
            }

            .head {
                color: white;
                font-size: 15px;
                font-family: 'intro';
                display: block;
                text-align: center;
                cursor: pointer;

                @include breakpoint(tablet) {
                    font-size: 18px;
                }


                @include breakpoint(laptop) {
                    font-size: 20px;
                }


                @include breakpoint(desktop) {
                    font-size: 23px;
                }


                @include breakpoint(large_desktop) {
                    font-family: 'intro';
                    font-size: 29px;
                }
            }

            .caption {
                color: white;
                font-size: 17px;
                font-family: 'Aller';
                display: block;
                text-align: center;
            }

            &.blue {
                background: #59ABE3;
            }

            &.red {
                background: #D24D57;
            }

            &.green {
                background: #324851;
            }

            &.orange {
                background: #EB974E;
            }
        }

        .box-middle-round {
            position: absolute;
            width: 26vw;

            // height: 20vw;
            top: 50%;
            left: 50%;
            bottom: 0px;
            margin-left: -13vw;
            margin-top: -15vw;
            border-radius: 240px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            // background: url("../images/cartoon.png");
            background-position: 50%;
            background-size: cover;
            background-color: $orange-color;

            //$green-color;
            text-indent: -9999px;
            color: white;
            font-family: aller;
            font-size: 24px;
            font-weight: bold;

            // border-bottom: 3px solid white;

            @include breakpoint(large_desktop) {}


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        .menu-modal {
            margin: 0px auto;
            position: absolute;
            z-index: 6;
            min-height: 80vh;
            margin: 10vh 0px;
            top: 0px;
            left: 0px;
            width: 0px;
            background: rgba(0, 0, 0, 0.8);
            overflow: hidden;
            white-space: nowrap;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include transition(0.3s all ease-in);

            ul {
                list-style: none;
                color: white;
                font-family: waverly;
                font-size: 25px;
            }

            li {
                i {
                    margin-right: 15px;
                    width: 60px;
                }
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: white;
        font-size: 17px;
        font-family: 'Aller';
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.video-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);

    //rgba(0, 0, 0, 0.8);

    //rgba(34, 167, 240, 0.8);
    //
    z-index: 9999;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    .video-close-btn {
        height: 50px;
        width: 50px;
        display: none;
        background: url("../images/delete.svg") no-repeat;
        background-size: 50px 50px;
        background-color: white;
        border-radius: 50%;
        padding: 35px;
        background-position: center center;
        margin-bottom: 20px;

        @include transition(all 0.2s ease-in);

        &:hover {
            @include transform(rotate(90deg) scale(1.1));
        }
    }
}

.login-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    font-family: aller;
    font-size: 20px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.2s ease-in);

    height: 0px;
    overflow: hidden;

    .close-btn-login {
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: rgba(255, 255, 255, 0.3);
        padding: 5px 15px;
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }

    .login-form-wrapper {
        min-width: 650px;
        background: rgba(255, 255, 255, 0.3);
        padding: 20px;
        padding-right: 0px;
        border-radius: 3px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .form {
        @include flex(1);
    }

    #error {
        display: none;
    }

    label {
        color: white;
    }

    input {
        height: 50px;
        padding: 10px !important;
        border-radius: 3px !important;
        color: white !important;
        font-weight: bold;
    }

    .login-btn {
        width: 100%;
        color: white;
        text-align: center;
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .social-media {
        padding: 20px 0px;
        color: white;

        // background: rgba(0, 0, 0, 0.3);
        margin-left: 20px;

        // border-radius: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }

    .social-icon-wrapper {
        margin: 5px 30px;
        cursor: pointer;
        border-radius: 3px;

        i {
            padding: 20px;
            width: 53px;
            text-align: center;
            border-radius: 3px;
        }

        & > span {
            padding: 8px;
            display: inline-block;
        }
    }

    .social-icon-wrapper {
        // padding: 20px;
        // cursor: pointer;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex(1);

        &.facebook {
            background: $facebook;
        }

        &.google {
            background: $google;
        }

        &.twitter {
            background: $twitter;
        }

        &.linkedin {
            background: $linkedin;
        }
    }
}