.ds-modalnote-wrapper {
    .modal-open, .modal {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .modal-header .close {
        position: relative;
        z-index: 10;
        border: 2px solid white;
        border-radius: 50%;
        padding: 9px;
        font-size: 25px;
        font-weight: bold;
    }

    .quiz-close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        font-size: 20px;
        cursor: pointer;
    }

    .no-slides-found {
        text-align: center;
        padding: 10px 0px;
        font-size: 40px;
        height: 100%;
        font-family: 'Aller';
        color: #ee2222;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }
}

.note-modal-wrapper {
    $arrow-width: 60px;
    $modal-header-height: 76px;

    position: fixed;
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 11111;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @media only screen and (max-width: 1280px) {
        .big-screen {
            display: none;
        }

        .small-screen {
            display: block;
        }
    }

    @media only screen and (min-width: 1281px) {
        .big-screen {
            display: block;
        }

        .small-screen {
            display: none;
        }
    }

    .slidination {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    .slide-number {
        padding: 5px 15px;
        background: #59ABE3;
        cursor: pointer;
        color: white;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        font-family: 'Aller',sans-serif;

        &:first-child {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        &:last-child {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            border-right: 1px solid black;
        }

        .slidination-arrow {
            width: 50px;
        }

        &:hover, &.active {
            background: #26A65B;
            color: white;
        }
    }

    .slide-progress {
        color: #D24D57;
        background: white;

        &:hover {
            background: white;
            color: #D24D57;
        }
    }

    .slide-wrapper {
        position: relative;
        color: black;

        @include flex(1);

        .slide {
            height: calc(100vh);
            margin: 0px;

            .slide-image-wrapper {
                height: 100%;
                padding: 0px;

                .hide-show-arrow {
                    position: absolute;
                    top: 0px;
                    right: 20px;
                    display: none;
                    z-index: 1000;
                    color: black;
                }
            }

            & * {
                outline: none;
            }

            .slide-desc-wrapper, .slide-image {
                height: 100%;
                padding: 0px;
                background: #2a3132;
            }

            .slide-desc-wrapper {
                border-left: 1px solid black;
                color: black;
                background-color: #4B96AE;
                border-left: 3px solid white;
            }

            .back-button {
                font-size: 50px;
                color: white;
                position: absolute;
                top: -15px;
                left: 15px;
                cursor: pointer;
                z-index: 1000;
            }

            .slide-image {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                padding-top: 60px;
            }

            .slide-code {
                height: 100vh;
                background: white;
                padding: 50px;
                overflow: auto;
            }

            .desc-header {
                color: white;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-around);

                @include flex-direction(row);
            }

            .hide-show-arrow {
                font-size: 14px;
                margin-left: 10px;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                padding: 10px 30px;
                font-family: aller;

                i {
                    display: block;
                    font-size: 15px;
                }
            }

            .width-changer {
                margin-left: 15px;
                padding: 10px 30px;

                i {
                    // background-color: #ccc;
                    text-align: center;
                    color: white;
                    cursor: pointer;
                    padding: 10px;
                    margin-left: -5px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
            }

            .slide-course-title {
                font-family: aller;
                font-size: 25px;
                color: white;
                border-bottom: 1px solid white;
                text-align: center;
                padding: 10px 0px;
            }

            .slide-desc {
                width: 100%;
                padding: 15px;
                overflow: auto;

                // height: calc(100% - 81px);
                margin-top: 20px;

                @include display(flex);

                @include justify-content(flex-start);

                @include flex-direction(column);

                h1, h2, h3, h4, h5, h6 {
                    color: black;
                    font-family: 'ITCAvantGarde',sans-serif;
                    font-size: 20px;
                    color: white;

                    //#1BBC9B;
                    font-weight: bold;
                }

                li, p {
                    font-family: 'Montserrat',sans-serif;
                    font-size: 16px;
                }
            }

            .slide-image img {
                max-width: calc(100% - #{$arrow-width + 2});

                /* ArrowWrapper width = 40px */
                margin-left: -$arrow-width - 2;
                max-height: 100%;
                width: auto;

                // height: auto;
                background: url("../images/loader.gif") center center no-repeat;

                @include transition(all 0.5s ease-in);
            }
        }
    }

    .left-arrow-wrapper {
        left: 0px !important;
        right: auto;
    }

    .arrow-wrapper {
        position: absolute;
        width: $arrow-width;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: calc(100vh);
        z-index: 1;

        // background-color: rgba(0, 0, 0, 0.2);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .ds-arrow {
            width: $arrow-width;
            background: rgba(black, 0.8);
            text-align: center;
            padding: 15px 0px;
            margin-bottom: 1px;
            cursor: pointer;
            color: white;
        }

        .ds-arrow.disable {
            color: #444;
            background-color: #666;
        }

        i {
            font-size: 40px;
        }
    }
}