.qa-page {
    $cream: #ecf0f1;
    $dark-blue: #2c3e50;
    $silver: #bdc3c7;
    $sky-blue: #3498db;

    $sidebar-width: 300px;
    $arrow-width: 15px;

    padding: 70px;
    padding-top: 100px;
    background-color: #bdc3c7;

    .nav {
        @include display(flex);

        li {
            padding: 15px;
        }

        .timer-wrapper {
            padding: 6px 10px;
        }

        .timer-wrapper span {
            background-color: #607D8B;
            color: white;
            padding: 10px;
            position: relative;
            margin-right: 6px;
            border-radius: 3px;
            font-weight: bold;
        }

        .timer-wrapper span:after {
            content: ':';
            position: absolute;
            right: -7px;
            color: black;
            font-size: 20px;
            top: -1px;
        }

        .timer-wrapper span:last-child:after {
            content: '';
        }
    }

    .question-wrapper {
        background-color: $cream;
        margin-bottom: 30px;
        border-radius: 2px;
        color: black;
    }

    .question-header {
        padding: 10px;
        position: relative;
        background-color: $dark-blue;
        color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

        .question-number {
            display: inline-block;
            padding: 10px 20px;
            position: absolute;
            top: 0px;
            left: -59px;
            background: $dark-blue;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            color: white;
            font-weight: bold;
            border-radius: 3px;
        }

        .question-title {
            font-weight: 500;
            font-size: 15px;
        }
    }

    .question-options-wrapper {
        padding: 0px 0px;
        color: $dark-blue;
        border: 1px solid $dark-blue;
    }

    .option {
        padding: 20px 10px;
        border-bottom: 1px solid $dark-blue;
        color: black;
        cursor: pointer;
    }

    .option:hover {
        background-color: $silver;
    }

    .choice {
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;
        border-radius: 3px;
        padding: 12px;
    }

    .choice-desc {
        margin-left: 10px;
    }

    .explanation {
        display: none;
        margin-top: 20px;
        border-left: 1px solid #27ae60;
        padding-left: 25px;
        margin-left: 14px;

        .title {
            color: #27ae60;
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: 500;
        }
    }

    .ans-box {
        float: right;
        background-color: white;
        padding: 5px;
        border-radius: 2px;
        top: -5px;
        position: relative;
        display: none;
    }

    /* Question list side bar */
    .question-list {
        position: absolute;
        top: 0px;
        right: -($sidebar-width - $arrow-width);

        // right: 0px;
        height: 100vh;
        padding-top: 65px;
        width: $sidebar-width;
        position: fixed;

        @include transition(all 0.3s ease-in);

        &.hide-sidebar {
            right: -($sidebar-width - $arrow-width);
        }

        &.show-sidebar {
            right: 0px;
        }
    }

    .question-list .arrow {
        height: 100vh;
        background-color: $dark-blue;
        padding-right: 5px;
        padding-left: 5px;
        color: white;
        font-size: 26px;
        width: $arrow-width;
        top: -35px;
        position: relative;
        float: left;

        // border-right: 1px solid $silver;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .question-list .questions {
        width: $sidebar-width - $arrow-width;
        background-color: $silver;
        display: inline-block;
        height: 100vh;
        overflow: scroll;
        padding-bottom: 65px;

        li {
            padding: 15px 10px;
            border-bottom: 1px solid $dark-blue;
            color: $dark-blue;
            cursor: pointer;
        }
    }
}