$sidebar-width: 450px;
$sidebar-border: #333;

//rgba(#6C7A89, 0.7);

$madison-dark-blue: #333;

//#2C3E50;
$humming-light-blue: darken(#E4F1FE, 30%);
$active-color: white;

$dark-white: #888;
$light-black: #222;
$orange: #D24D57;

.video-page-wrapper {
    overflow: hidden;
    height: 100vh;
    background-color: black;

    .video-container {
        height: 100vh;
        padding-right: $sidebar-width;

        // @include transition(all 1s ease-in);
   
    }

    @include keyframes(container-animation-hide) {
        from {
            padding-right: $sidebar-width;
        }

        to {
            padding-right: 0px;
        }
    }


    .videocontainer-animation-hide {
        @include add-animation(container-animation-hide);
    }

    @include keyframes(container-animation-show) {
        from {
            padding-right: 0px;
        }

        to {
            padding-right: $sidebar-width;
        }
    }


    .videocontainer-animation-show {
        @include add-animation(container-animation-show);
    }

    #video-player {
        // @include transition(all 1s ease-in);
   
    }

    .video-info {
        color: white;
        font-size: 15px;
        text-align: center;
        background-color: $sidebar-border;
        height: 4%;
        position: relative;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        // @include transition(all 0.8s ease-in);

        display: table;

        span {
            display: table-cell;
            vertical-align: middle;

            // overflow:hidden;
       
        }

        .video-menu {
            // @include transition(all 0.4s ease-in);

            position: absolute;
            opacity: 0;
        }
    }

    @include keyframes(playlist-animation-hide) {
        0% {
            // width: $sidebar-width;
            right: 0px;
        }

        50% {
            // opacity: 0;
       
        }

        100% {
            // width: 0px;
            // opacity: 0;
            // display: none;
            right: -$sidebar-width;
            position: relative;
        }
    }


    .playlist-animation-hide {
        // @include add-animation(playlist-animation-hide);
        position: relative !important;
        right: (-$sidebar-width) !important;
    }

    @include keyframes(playlist-animation-show) {
        0% {
            // width: 0px;
            right: -$sidebar-width;
            position: absolute;
        }

        50% {
            // opacity: 1;
       
        }

        100% {
            // width: $sidebar-width;
            // display: block;
            right: 0px;
        }
    }


    .playlist-animation-show {
        // @include add-animation(playlist-animation-show);
        position: absolute !important;
        right: 0px !important;
    }

    .playlist {
        width: $sidebar-width;
        background: white;
        position: absolute;
        display: block;
        right: 0px;
        top: 0px;
        bottom: 1px;
        border-left: 2px dotted gray;
        z-index: 1000;

        .row {
            max-width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        ul {
            margin-bottom: 0px;
        }

        li {
            padding: 10px;
            clear: both;
            border-bottom: 1px solid $light-black;
            color: black;
            background-color: $dark-white;
            font-family: 'Montserrat', sans-serif;

            h1, h2, h3, h4, h5, h6 {
                margin: 0px;
                padding: 0px;
            }

            &.active-video {
                h1, h2, h3, h4, h5, h6 {
                    color: $orange !important;
                }

                color: $active-color !important;
                border-left: 4px solid $active-color;
                background-color: #4183D7;
            }

            span {
                color: $sidebar-border;
            }
        }

        /*
            Tabs Style
        */
        .nav-tabs li {
            padding: 5px 10px;
            background: #333;
        }

        .nav-tabs li div {
            padding: 10px 0px;
            color: $dark-white;
        }

        .nav-tabs > li.active {
            color: $active-color !important;

            // background-color: transparent;

            // border: 0px;
       
        }

        .nav > li > div {
            cursor: pointer;
            text-align: center;
            border: 0px;
        }

        .nav > li > div:hover {
            color: white;
            background-color: transparent;
        }

        .nav-tabs > .uib-tab.active > div, .nav-tabs > .uib-tab.active > div:focus, .nav-tabs > .uib-tab.active > div:hover {
            background-color: transparent;
            border: 0px;

            // border-bottom: 3px solid $active-color;
            color: #1BBC9B;
        }

        .video-note-tabs {
            position: relative;
            height: calc(100% - 124px);

            // border-left: 1px solid black;

            //124px = playlist-header
       
        }

        .tab-content {
            overflow-y: scroll;
            position: absolute;
            top: 47px;

            //47px = tabbar (Video and Notes)
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: #333;
        }

        /*
            Accordian - Panel Style
        */
        .panel-group {
            margin: 0px;

            *:focus {
                outline: none;
            }

            .panel {
                margin: 0px;
                border-radius: 0px;
                box-shadow: 0px 0px 0px;
                -webkit-box-shadow: 0px 0px 0px;
            }
        }

        .panel-body {
            padding: 0px;
            border: 0px !important;
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            padding: 0px;
            border-bottom: 1px solid $madison-dark-blue;
        }

        .accordion-toggle {
            padding: 15px 0px;
            background-color: #333;
            color: lighten(gray, 20%);
            text-transform: initial;
            border-bottom: 1px solid $light-black;
            font-family: 'Ubuntu',sans-serif;
        }

        /*
            Notes Tab
        */
        .noteTab {
            .video-note-form textarea {
                box-shadow: 0px 0px 0px;
                border: 3px solid $madison-dark-blue;
                padding: 5px;
                margin-top: 10px;
                background-color: lightgray;
                color: black;
            }

            .video-note-form button {
                background: gray;
                color: black;
                border-radius: 0px;
            }
        }
    }

    .playlist-header {
        background: $madison-dark-blue;
        padding: 00px 10px;
        color: white;
        font-size: 19px;
        text-align: center;
        font-weight: bold;

        // border-left: 1px solid black;

        .top {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            border-bottom: 1px solid $dark-white;

            & > span {
                @include flex-grow(1);

                display: block;
                padding: 10px 0px;
                color: $dark-white;

                & > span {
                    padding: 0px;
                    font-size: 13px;
                    margin-top: -10px;
                    display: block;
                }
            }
        }

        .module-name {
            padding: 10px 0px;
            color: #d2d3d7;
            font-family: 'Gotham SSm A',sans-serif;
            text-transform: uppercase;
            word-spacing: 4px;

            // letter-spacing: 1px;
       
        }
    }

    .sidebar-wrapper {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 50px;
        background-color: #333;
    }

    .sidebarBtn {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: #333;
        border-radius: 0px;
        color: white;
        width: 50px;
        height: 50px;
        border-bottom: 1px solid gray;
        z-index: 700;
    }

    .sidebar-extra-buttons {
        position: absolute;
        top: -50px;
        right: 0px;
        color: white;
        width: 0px;
        bottom: 0px;
        width: 50px;
        z-index: 699;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .sidebarBtn {
            position: relative;
        }

        * {
            outline: 0px;
        }
    }
}