@import "../../../assets/scss/_common_test.scss";

//answer overlay
//it will open/close with animation
.answer-wrapper {
    overflow: visible;
    position: relative;
    color: black;
    white-space: nowrap;

    @include transition(all 0.3s ease-in-out);

    @include display(flex);

    @include flex-direction(column);

    @include transition(all 0.3s ease-in-out);

}