<div class="answer-wrapper askQuestion.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="vm.dismiss();">&times;</button>
		<h4 class="modal-title">Your Answer</h4>
	</div>
	<div class="modal-body">
		<div class="frm-element alert alert-danger" ng-if="vm.form.error">
			{{vm.form.error}}
		</div>
		<textarea  rows="7" froala="vm.EditorConfig" class="ans-area" class="form-control" placeholder="Your ans" ng-model="vm.form.userAnswer"></textarea>
	</div>
	<div class="modal-footer">
		<button class="ew-rounded-btn" ng-show="!vm.isAnsSubmitting" ng-click="vm.submitAnswer()">
			<i class="fa fa-save right"></i>
			<span class="text">Submit</span>
		</button>
		<button class="ew-rounded-btn disable" ng-show="vm.isAnsSubmitting">
			<i class="fa fa-circle-o-notch right"></i>
			<span class="text">Submitting.....</span>
		</button>
	</div>
</div>