// sticky footer
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}
.main_header, .main_footer {flex: none;width: 100%;}
.content_wrapper {flex: 1 0 auto;width: 100%;}
// END sticky footer

.main_footer {
	// background: #242424;
	color: #fff;
	font-size: 10px;
	letter-spacing: 0.09em;
	line-height: 1.3em;
	margin-top: 33px;
	padding: 70px 0 43px;
	.second_column {
		@media (min-width: 1290px) {padding-left: 46px;}
		@media (min-width: 992px) {border-left: 1px solid #323232;}
		@media (max-width: 991px) {
			margin-top: 40px;
			padding-top: 39px;
			&::before {
				border-top: 1px solid #323232;
				content: '';
				position: absolute;
				left: 15px;
				right: 15px;
				top: 0;
			}
		}
		@media (max-width: 767px) and (max-width: 991px) {
			margin: 16px 0 0;
			&::before {display: none;}
		}
	}
	.title {
		font: 10px $mainSansSerif;
		margin-bottom: 35px;
		text-transform: uppercase;
	}
	a {
		display: inline-block;
		margin-bottom: 11px;
		&:hover, &:focus {text-decoration: underline;}
	}
	.box_newsletter {
		.form-control {height: 42px;}
		label {background: #242424;}
		.bt {
			border: 1px solid;
			border-left: none;
			font-size: 24px;
			width: 57px;
		}
	}
	.wrapp_social {
		.title {margin-bottom: 16px;}
	}
	.social_list {
		li {
			font-size: 20px;
			&::after {
				content: '';
				margin: 0 10px;
			}
		}
	}
	.copyright {
		border-top: 1px solid #323232;
		letter-spacing: 0.09em;
		margin: 29px 0 0;
		padding: 43px 0 0;
		text-align: center;
	}
}