.main_header {  
	// border-bottom: 1px solid #d9d9d9;
	background: #1d99d1;
	left: 0;
	padding: 9px 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;
	.dropdown-menu {
		li {
			border-top: 1px solid #d8d8d8;
			&:first-child {border-top: none;}
		}
		min-width: 184px;
	}
	.inner_wrapp {@include flex_align(space-between);}
	.logo {
		display: block;
		margin-top: -4px;
		max-width: 355px;
		padding: 0 5px 0 14px;
		@media (min-width: 992px) and (max-width: 1199px) {max-width: 300px;}
	}
	.right_nav {
		display: flex;
		justify-content: space-between;
		flex: 1 1 auto;
		padding: 0 10px;
		@media (min-width: 768px) {padding-top: 13px;}
	}
	.main_nav_list {
		flex: 1 1 auto;
		justify-content: center;
		padding: 0 5px;
		margin: 0;
		> li {
			color: #fff;
			font: 400 16px/1.5em $secondSansSerif;
			letter-spacing: -0.01em;
			margin: 2px 0;
			text-transform: capitalize;
			&::after {
				content: '';
				margin: 0 13px;
				@media (min-width: 1200px) {margin: 0 15px;}
			}
			.fa {margin-right: 4px;}
		}
	}
	.main_nav {
		border-right: none;
		display: flex;
		position: fixed;
		right: -100%;
		top: 70px;
		transition: all .3s linear;
		width: 320px;
		z-index: 3;
		@media (min-width: 992px) {
			bottom: 0;
			width: 90%;
		}
		&.show_nav {right: 0 !important;}
		.main_nav_list {
			align-items: stretch;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			overflow: hidden;
			padding: 0;
			width: 100%;
			.wrap_nav {
				background: #81A2C6;
				flex: 1 1 auto;
				flex-direction: column;
				margin: 0;
				@media (min-width: 992px) {
					border-right: 1px solid #ccc;
					flex-wrap: nowrap;
					overflow-y: auto;
				}
				&:last-child {border: none;}
				.sub_nav {
					flex: 1 1 auto;
					overflow-y: auto;
					@media (min-width: 992px) {
						height: calc(100vh - 165px);
						width: 100%;
					}
					ul {
						padding: 0;
						li {
							font: 400 15px/1.2em $secondSansSerif;
							letter-spacing: -0.06em;
							a {
								display: block;
								padding: 10px;
							}
							.fa {margin-right: 16px;}
						}
					}
					@media (min-width: 992px) {display: block !important;}
					@media (max-width: 991px) {display: none;}
					.details_list {
						padding: 0;
						li {
							background: #3e6289;
							color: #fff;
							a {
								&:hover, &:focus {color: #fff;}
							}
						}
					}
				}
				.title_nav {
					@include flex_align();
					background: #3e6289;
					border-bottom: 1px solid #ccc;
					font-size: 20px;
					padding: 12px;
					text-align: center;
					width: 100%;
					&.show_sub_nav .fa-chevron-down {transform: rotate(200grad);}
					&.title_nav_foot {
						background: #1e3043;
						border-bottom: none;
						cursor: pointer;
					}
					@media (max-width: 991px) {
						&:hover {color: #fff;}
						cursor: pointer;
						.flex_auto {text-align: left;}
					}
				}
				&:last-child .title_nav {border-right: none;}
				&::after {margin: 0;}
			}
			.bottom_panel {
				width: 100%;
				@media (max-width: 991px) {display: none;}
			}
		}
	}
	.wrapp_search_form {
		@media (min-width: 992px) {
			flex: 1 1 auto;
			.jsSrcShow {
				display: block !important;
				height: 46px !important;
			}
		}
		.src_box {
			padding: 2px;
			@media (min-width: 992px) {
				margin: 0 auto;
				max-width: 535px;
			}
		}
		.form-control {
			background: #fff;
			border: none;
			border-radius: 0;
			height: 42px;
		}
	}

}
/* @import "header/top_box";
@import "header/sticky"; */
// @import "header/large_subnav";
@import "header/mobile";