.pac-container {z-index: 1051}
.close_box {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
.no-touchevents {
	.modal-flex {
		@include flex_align();
		flex-direction: column;
		min-height: 100%;
	}
	.modal-dialog {margin: 10px;}
}
.modal {
	.modal-content {
		border: 0;
		padding: 20px;
	}
	.close {
		background: #fff;
		font: 40px/1em 'gotham_book';
		height: 37px;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 0;
		width: 32px;
		z-index: 3;
	}
	&.gift_cards_modal {
		.modal-dialog {@media (min-width: 800px) {max-width: 640px;}}
		.modal-content {
			background: url(../../images/temp_images/bg-modal-newsletter-signup.jpg) 0 0 / cover no-repeat;
			border: 12px solid #fff;
		}
		.close {
			right: -10px;
			top: -9px;
		}
		.inner_content {
			background-color: #fff;
			box-shadow: 0 0 5px #898d8f;
			padding: 20px 25px 5px;
			margin: 50px 65px;
			@media (max-width: 767px) {margin: 30px 35px;}
			@media (max-width: 543px) {
				margin: 25px 0 0;
				padding: 15px 15px 5px;
			}
		}
		h2 {
			@media (min-width: 768px) {margin-bottom: 40px;}
			text-transform: none;
		}
		.help_text {
			display: block;
			margin-bottom: 12px;
		}
		.gift_card_form {
			@media (max-width: 450px) {flex-wrap: wrap;}
			.form-control {
				height: 55px;
				font-size: 12px;
				padding: 10px 21px;
			}
			.btn_gift_card_submit {flex: 1 1 100px;}
		}
		.note {
			font-size: 8px;
			line-height: 1.4em;
			margin: 5px 0;
		}
	}
	&.modal_share {
		font: 300 14px/1.25em $mainSansSerif;
		.modal-dialog {@media (min-width: 800px) {max-width: 1020px;}}
		.close {
			font-size: 18px;
			right: 2px;
			top: 0px;
		}
		.share_text {
			margin: 16px 0 27px;
			text-align: left;
		}
		.feature_products {
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 28px;
			text-align: center;
			.title_feature_products {
				font: 800 20px/1em $sansSerifSecond800;
				letter-spacing: 0.06em;
				margin: 0;
			}
			p {margin-bottom: 6px;}
		}
		.wrapp_list_grid.sameitems {
			justify-content: center;
			padding: 0 9px;
			.box_product_item {
				.product_img {font-size: 4.3px;}
				.main_heading {margin: 8px 0 12px;}
			}
		}
		.hashtag_block {
			text-align: left;
			.title_hashtag {
				border-bottom: 1px solid #e1e1e1;
				font: 500 12px $sansSerifSecond500;
				letter-spacing: 0.06em;
				margin-bottom: 9px;
				padding-bottom: 6px;
			}
			.hashtags {margin-bottom: 11px;}
			.author_share {
				color: #666;
				font: 300 10px $sansSerifSecond;
				letter-spacing: 0.06em;
				margin-bottom: 8px;
				text-transform: uppercase;
				.fa {font-size: 12px;}
			}
		}
		@media (min-width: 768px) {.wrapp_for_padding {padding-left: 2px;}}
		.wrapper_full_block {
			display: flex;
			flex-direction: column;
			min-height: 100%;
			overflow-x: hidden;
		}
		.header_block, .footer_block {
			flex: none;
			width: 100%;
		}
		.content_wrapper_block {
			flex: 1 0 auto;
			width: 100%;
		}
		.info_user {
			@include flex_align(flex-start, flex-start);
			@media (max-width: 767px) {margin-top: 15px;}
			.logo_user {border-radius: 100%;}
			.about_user {
				padding: 7px 10px;
				text-align: left;
			}
			.name_user {
				display: block;
				font: 300 16px/1.2em $mainSansSerif;
				margin-bottom: 3px;
			}
			.soc_id {
				display: block;
				font: 800 12px/1.2em $sansSerifSecond800;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
	}
}



.edit_addr_txt {display: none;}
.edit_addr {
	.edit_addr_txt {display: block;}
	.new_addr_txt {display: none;}
}

@media (min-width: 800px) {
	.card_modal .modal-dialog {
		width: 500px;
	}
}





// success subscribe modal
.success_modal {
	@media (min-width: 700px) {.modal-dialog {width: 623px;}}
	.modal-content {
		padding: 40px 32px 33px;
		text-align: center;
	}
	.main_title_modal {
		font-size: 30px;
		letter-spacing: 0.01em;
		margin-bottom: 23px;
		text-transform: uppercase;
		.fa {
			color: #00a447;
			font-size: 28px;
			margin-right: 7px;
		}
	}
	.modal_text {
		font-size: 18px;
		letter-spacing: 0.011em;
		margin-bottom: 0px;
		.text_bold {font-weight: 400;}
	}
	.btn {margin-top: 39px;}
}
// END success subscribe modal



.product_modal {
	background: rgba(49, 51, 57, 0.98);
	color: #999;
	font-size: 12px;
	.modal-dialog {padding: 0;max-width: 100%;}
	.modal-body {padding: 10px;}
	.modal-content {
		margin: auto;
		padding: 10px;
		max-width: 100% !important;
	}
	.swiper-wrapper {cursor: pointer;display: flex;}
	.swiper-slide {max-width: 100%;}
	.tools_modal {
		@include flex_align(space-between);
		flex-wrap: nowrap;
		background: #fff;
		padding: 10px;
	}
	.nav_slide {display: flex;}
	.wrapp_close, .nav_slide {flex: 1 1 20%;}
	.gallery_next, .gallery_prev, .close {
		@include flex_align();
		background: #f5f5f5;
		color: #333;
		height: 30px;
		position: static;
		transition: all 300ms ease-in-out;
		width: 30px;
		.fa {
			font-size: 15px;
			text-align: center;
		}
		&:hover {
			background: #000;
			color: #fff !important;
			text-shadow: none;
		}
	}
	.cont_images {
		align-items: center;
		color: #999;
		display: flex;
		font-size: 12px;
		padding: 0 10px;
		span {padding: 0 2px;}
	}
	.modal_title {display: block;}
}