.wrapp_filters {
	@media (min-width: 768px) {
		border-bottom: 1px solid #d9d9d9;
		padding: 9px 0 11px;
	}
	@media (min-width: 992px) {
		margin-bottom: 54px;
		padding: 15px 0;
	}
}
.wrapp_sort_by_list {
	justify-content: flex-end;
	.dropdown-menu {
		border-color: #d9d9d9;
		padding: 35px 25px 41px 30px;
		> li {margin: 0 0 8px;}
	}
	@media (max-width: 991px) {margin: 30px 0;}
	@media (max-width: 767px) {.dropdown-toggle{height: 40px;}}
	> li {
		margin: 0;
		&.sort_title {
			font: 10px $sansSerifSecond800;
			letter-spacing: 0.04em;
			text-transform: uppercase;
		}
		&::after {
			content: '';
			margin: 0 5px;
		}
	}
}



.title_filter {@include flex_align(space-between);}
.jsTrigger {
	&::after {
		content: "\f107";
		display: inline-block;
		font: normal normal normal 1.2em/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&.open::after {transform: rotate(200grad);}
}
.filter_txt {
	font: 10px $sansSerifSecond;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}




.icon_clear {
	cursor: pointer;
	font-size: 10px;
	height: 12px;
	margin-right: 9px;
	position: relative;
	width: 12px;
	&::before, &::after {
		border-left: 1px solid;
		content: '';
		height: 0.7em;
		left: 50%;
		position: absolute;
		top: 0.2em;
		transform: rotate(45deg);
	}
	&::after {transform: rotate(135deg);}
}



.filter_item {
	.clear_all {
		font: 10px $sansSerifSecond800;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
	.remove_all_filters {
		font-size: 13px;
		margin-right: 0;
	}
	@media (min-width: 768px) {
		.title_filter {
			font: 12px $mainSansSerif700;
			padding: 0 3px 17px 0;
		}
	}
	.filter_list {
		font-size: 11px;
		padding: 17px 0 37px;
		@media (min-width: 768px) {border-top: 1px solid #d9d9d9;}
		@media (max-width: 767px) {padding: 40px 27px 36px 30px;}
		> li {
			line-height: normal;
			margin-bottom: 12px;
			.selected {font-family: $mainSansSerif500;}
		}
	}
	.color_list {
		> li {
			.color_text {display: none;}
			margin: 11px 0 5px;
			&::after {
				content: '';
				margin: 0 7.5px;
			}
		}
	}
	.list_selected_filters {
		> li {
			.selected {
				pointer-events: none;
				font-family: $mainSansSerif;
			}
			label {
				pointer-events: none;
			}
			margin-bottom: 0;
			.custom-control-indicator {
				margin-right: 5px;
				position: relative;
			}
			.price {
				margin-bottom: 0;
				padding-left: 0;
				.custom-control-indicator {display: none;}
			}
		}
		.custom-control {
			@include flex_align(flex-start);
			padding: 0;
		}
		.inner_filter {
			@include flex_align(flex-start);
			padding-bottom: 12px;
			width: 100%;
		}
	}
	.largest_price {font-size: 12px;}
}



@media (min-width: 768px) {
	.filters_nav {
		> li {
			margin: 2px 0 0;
			&::after {content: '';}
			> .dropdown-toggle {
				font: 10px $sansSerifSecond800;
				letter-spacing: 0.04em;
				text-transform: uppercase;
			}
		}
		.dropdown-menu {
			border-color: #d9d9d9;
			padding: 39px 32px 41px 31px;
			left: -31px;
			margin-top: 11px;
			> li {margin-bottom: 8px;}
		}
	}
}

@media (min-width: 992px) {.filters_nav .dropdown-menu {margin-top: 22px;}}

@media (max-width: 767px) {
	.mobile_filter {
		margin: 26px 0px 2px;
		> .dropdown-menu {border-color: #d9d9d9;}
		> .dropdown-toggle {
			border: 1px solid #d9d9d9;
			font: 10px $sansSerifSecond500;
			letter-spacing: 0.06em;
			padding: 18px 19px 17px;
			text-transform: uppercase;
		}
	}
	.title_filter {
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;
		font: 10px $sansSerifSecond800;
		letter-spacing: 0.04em;
		margin-top: -1px;
		padding: 19px 20px 17px;
		text-transform: uppercase;
	}
	.mobile_list {
		padding: 1px 27px 1px 30px;
		list-style: none;
		> li {
			margin-bottom: 12px;
			&:first-child {margin-top: 40px;}
			&:last-child {margin-bottom: 26px;}
		}
	}
}