<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Roles</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Role Id">Role Id</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="Role Id" placeholder="Role Id" ng-model="vm.form.role_id"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Role Name">Role Name</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="Role Name" placeholder="Role Name" ng-model="vm.form.role_name"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.role_id || !vm.form.role_name"
									ng-click="vm.addRole()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allRoles || vm.allRoles.length <= 0">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allRoles">
				<uib-accordion close-others="false" ng-repeat="role in vm.allRoles | orderBy:'role_name'">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteRole(role.role_id)"><i class="fa fa-times"></i></span>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editRole(role.role_id)"><i class="fa fa-pencil"></i></span>
						{{role.role_name}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in role">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc" style="word-break: break-word;">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>