<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Add New Category</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="cat_name">Category Name</label>
							<div class="col-xs-10">
								<input type="text" id="cat_name" class="form-control" placeholder="Category Name" ng-model="vm.form.cat_name" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="cat_desc">Category Description</label>
							<div class="col-xs-10">
								<textarea class="form-control" placeholder="Category Description" id="cat_desc" ng-model="vm.form.cat_desc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">New Category</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.cat_name" ng-click="vm.saveCategory()">{{vm.buttonName}}</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.categories">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.categories">
				<uib-accordion close-others="false" ng-repeat="cat in vm.categories">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteCategory(cat.cat_id)"><i class="fa fa-times"></i></span>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.updateCategory(cat.cat_id)"><i class="fa fa-pencil"></i></span>
						{{cat.cat_name}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in cat">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>