<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Send Bulk Mails</legend>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="mailSubject">Subject</label>
							<div class="col-xs-11">
								<input type="text" class="form-control" id="mailSubject" placeholder="Mail Subject" ng-model="vm.form.mail_subject"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="mailBody">Content</label>
							<div class="col-xs-11">
								<TEXTAREA tbio class="form-control" configuration="default" rows="10" id="mailBody" placeholder="Page Content" ng-model="vm.form.mail_body"></TEXTAREA>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.mail_subject || !vm.form.mail_body"
									ng-click="vm.sendMails()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>