<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<fieldset>
					<legend>Add Course</legend>
					<form class="form form-horizontal">
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course">Course</label>
							<div class="col-xs-10">
								<select ng-model="vm.course" ng-change="vm.changeCourse()" id="course" class="form-control"
									ng-options="course.courseId as course.courseName for course in vm.courselist ">
									<option value=""> <b>Select Course</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="author">Author</label>
							<div class="col-xs-10">
								<input type="text" id="author" class="form-control" readonly placeholder="Author" ng-model="vm.author"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="courseid">Course Id</label>
							<div class="col-xs-10">
								<input type="text" id="courseid" class="form-control" readonly placeholder="Course Id" ng-model="vm.courseId"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="coursename">Course Name</label>
							<div class="col-xs-10">
								<input type="text" id="coursename" class="form-control" readonly placeholder="Course Name" ng-model="vm.courseName"/>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-2 control-label" for="shortdesc">Short Desc</label>
							<div class="col-xs-10">
								<textarea id="shortdesc" class="form-control large" spellcheck="true" placeholder="Short Description" ng-model="vm.courseShortDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="longdesc">Long Desc</label>
							<div class="col-xs-10">
								<textarea id="longdesc" class="form-control large" spellcheck="true" placeholder="Long Description" ng-model="vm.courseLongDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="level">Level</label>
							<div class="col-xs-10">
								<select id="level" class="form-control" ng-model="vm.courseLevel">
									<option value="_">Select Level</option>
									<option value="Beginner">Beginner</option>
									<option value="Intermediate">Intermediate</option>
									<option value="Advanced">Advanced</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="leveldesc">Level Desc</label>
							<div class="col-xs-10">
								<textarea id="leveldesc" class="form-control" spellcheck="true" placeholder="Level Description" ng-model="vm.courseLevelDesc"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-2 control-label" for="thumbnail">Thumbnail URL</label>
							<div class="col-xs-10">
								<input type="text" id="thumbnail" class="form-control" placeholder="Thumbnail URL" ng-model="vm.imageUrl"/>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-xs-2 control-label" for="comments">Comments / Reviews</label>
							<div class="col-xs-10">
								<input type="text" id="comments" class="form-control" spellcheck="true" placeholder="Comments / Reviews" ng-model="vm.comments"/>
							</div>
						</div>
						<div class="form-group">
							<label class="duration col-xs-2 control-label" for="lastupdated">Last Updated</label>
							<div class="col-xs-10">
								<input type="date" class="form-control" placeholder="Select Last Updated Date" ng-model="vm.lastUpdated"/>
							</div>
						</div> -->
						
						<div class="form-group">
							<div class="col-xs-10 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.addCourse()">{{vm.buttonName}}</button>
							</div>
						</div>
						
					</form>
				</fieldset>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.courselistdata">No course to Disaplay.</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.courselistdata">
				<uib-accordion close-others="false" ng-repeat="course in vm.courselistdata">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
				<div ng-click="" class="">
					<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
					<span class="pull-right panel-header-buttons remove" ng-click="vm.removeCourse(course.courseId)"><i class="fa fa-times"></i></span>
					<span class="pull-right panel-header-buttons edit" ng-click="vm.updateFormWithValues(course.courseId)"><i class="fa fa-pencil"></i></span>
					
					{{course.courseName}}
				</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in course">
					<div class="col-sm-2 title">{{key}}</div>
					<div class="col-sm-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>