$facebook: #44619D;
$google: #EA4335;
$linkedin: #006DA6;
$twitter: #28A9E0;

body, button, input {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}

body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import "normalize/normalize";
@import "bourbon/bourbon";
@import "common/_ds_mixins.scss";