@import "_common_test.scss";
@import "common/fonts";
@import "common/ds_mixins";
@import "common/common";
@import "common/common_loader";

@import "component/comments_component";

.fr-view {
    font-size: 15px;
    font-family: 'aller';
}

.fr-element {
    height: 200px;
}

.fr-wrapper {
    white-space: pre-wrap;
}