<div class="comment-component-wrapper">
	<div class="post">
		<div class="comment-wrapper">
			<div ng-if="vm.showCommentField" class="comment-field">
				<div class="unauthorized" ng-if="!vm.isUserLoggedIn()">Login to add comment.</div>
				<div class="alert alert-danger" ng-if="vm.commentPostingErr">{{vm.commentPostingErr}}</div>
				<div class="profile-pic"><img ng-src="{{vm.getUserPic()}}" width="100%" height="100%" alt=""></div>
				<div class="tf">
					<!-- <div class="input-comment with-full-border"
						ng-class="{'one-liner':!vm.showBigCommnentField}"
						id="input-comment"
						ng-focus="vm.showBigCommnentField && vm.commentFieldFocused($event)"
						ng-keyup="vm.showBigCommnentField && vm.commentFieldKeyUp($event)"
						contenteditable="true"
					placeholder="Write a comment"></div> -->
					<!-- <input type="text" ng-keydown="vm.keyDownEventOnTextField($event,vm.postId,'','0')" ng-model="vm.comment[vm.postId]" placeholder="Write a comment" name="" > -->
					<textarea rows='1' id="{{vm.postId}}_textarea" ng-keydown="vm.keyDownEventOnTextField($event,vm.postId,'','0')" ng-model="vm.comment[vm.postId]" placeholder="Write a comment" name=""></textarea>
					<!-- <div class="one-line-submit-button" ng-if="!vm.showBigCommnentField">
						<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.addComment($event,vm.postId,'','0')" class="post-comment-btn">Submit</div>
					</div> -->
					<!-- Show only if we want to show user big comment block -->
					<div class="bottom-tf" ng-if="vm.showBigCommnentField">
						<span ng-if="vm.canUploadMedia" ng-class="{'disable':vm.isPostSubmitting}" class="camera-icon" ngf-select ngf-multiple=true ngf-accept="'image/*,video/mp4'" ng-model="vm.commentAttachments[vm.postId]" ngf-change="vm.changeCommentAttachment(vm.postId,$files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"  ngf-keep="true" title="Attach Photo"><i class="fa fa-camera"></i></span>
						<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.cancelComment($event)" class="post-comment-btn">Cancel</div>	
						<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.addComment($event,vm.postId,'','0')" class="post-comment-btn">Submit</div>
						<div class="clearfix"></div>
					</div>
					<div class="progressbar"></div>
				</div>
				<div class="clearfix"></div>
				<div class="comment-attachment-wrapper" >
					<span class="status-attachment image" ng-repeat="file in vm.photoAttachments[vm.postId] track by $index" >
						<span ng-click="vm.removeCommentPhotoAttachment(vm.postId,$index)" class="remove-icon"><i class="fa fa-times"></i></span>
						<span class="image" ngf-thumbnail="file" ngf-size="{width: 100, height: 100, quality: 1}" ngf-as-background="true"></span>
					</span>
					<span class="status-attachment video" ng-repeat="file in vm.videoAttachments[vm.postId] track by $index" >
						<span class="videoName">{{file.name}}</span>
						<span class="remove-icon" ng-click="vm.removeCommentVideoAttachment(vm.postId,$index)"><i class="fa fa-times"></i></span>
					</span>
				</div>

				<div ng-if="vm.commentAttchmentError">
					<div class="alert alert-danger">{{vm.attachmentErrorStr}}</div>
				</div>
			</div>
			<div class="comment-loader-wrapper" ng-if="!vm.comments">
				<div class="loader"></div>
			</div>
			<div class="comment" ng-repeat="comment in vm.comments | orderBy:'cmnt_ts':true track by $index">
				<!-- <div class="head"> -->
					<div class="head-wrapper">
						<div class="profile-pic">
							<img ng-src="{{comment.usr_info.usr_pic}}" width="100%" height="100%" alt="">
						</div>
						<div style="width: 100%">
							<span class="answer-by-text" ng-if="vm.isQaPage">Answered By</span>
							<a href="/dashboardApp/profile/{{comment.usr_id}}" class="username">{{comment.usr_info.dsp_nm}}</a>
							<!-- Comment Text -->
							<span class="text" ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" id="{{comment.cmnt_id}}" ng-class="{'full-comment':vm.commentMore[comment.cmnt_id]}" ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)"></span>
							<!-- Edit Comment Textarea -->
							<textarea 
								ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" 
								rows='1' data-min-rows='1' 
								class="" 
								ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt" 
								ng-model="vm.comment[comment.cmnt_id]" 
								placeholder="Write a reply" name="" style="display: block"
								ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
							<div ng-if="comment.cmnt_img" class="comment-image-attachment-wrapper">
								<div class="comment-image-attachment" ng-repeat="pic in comment.cmnt_img track by $index">
									<img ng-src="{{pic}}" class="pic_{{comment.cmnt_id}} {{$index}}" ng-click="vm.openImageInGallery(comment.cmnt_id,$index)" data-mfp-src="{{pic}}" alt="image">
								</div>
							</div>
							<div ng-if="comment.cmnt_vid">
								<div class="post-video-attachment" ng-repeat="video in comment.cmnt_vid track by $index">
									<video-controls-jw style="height: 100%;width: 100%;display: block" player-id="{{comment.cmnt_id}}_{{$index}}" player-url="{{video}}" auto-start="false"></video-controls-jw>
								</div>
							</div>
							<div class="action-btns">
								<!-- show only in profile page -->
								<!-- like/unlike button -->
								<span class="action-btn" ng-if="!vm.isQaPage">
									<span ng-click="vm.toggleCommentLike(comment.cmnt_id,0)" ng-if="vm.isCommentLikedByUser(comment.cmnt_id) === true">Unlike</span>
									<span ng-click="vm.toggleCommentLike(comment.cmnt_id,1)" ng-if="vm.isCommentLikedByUser(comment.cmnt_id) != true">Like</span>
								</span>
								<!-- show only in qa page -->
								<span class="action-btn" 
									ng-if="vm.isQaPage"
									ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === true}"
									ng-click="vm.likeDislikeComment(comment.cmnt_id,1)">
									<span class="fb-icon fb-like-icon"></span> {{vm.getLikeCount(comment.cmnt_id)}}
								</span>
								<!-- show dislike button only in qa page -->
								<span class="action-btn" 
									ng-if="vm.isQaPage"
									ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === false}"
									ng-click="vm.likeDislikeComment(comment.cmnt_id,0)">
									<span class="fb-icon fb-like-icon fb-icon-rotate-180"></span> {{vm.getDisLikeCount(comment.cmnt_id)}}
								</span>
								<span class="action-btn" ng-if="vm.isQaPage" ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)">
									<span class="fb-icon fb-comment-icon"></span>{{vm.subLevelComments[comment.cmnt_id]['comments'].length}} Reply
								</span>
								<!-- show reply only in profile page -->
								<span class="action-btn" ng-if="!vm.isQaPage" ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)">
									Reply
								</span>
								<!-- Show only in profile page (likes count) -->
								<span class="action-btn" ng-if="!vm.isQaPage" my-drop content="vm.commentsUsers[comment.cmnt_id]" ng-click="vm.fetchCommentUsers(comment.cmnt_id)">
									<span class="fb-emotion fb-emotion-like"></span>
									{{vm.getLikeCount(comment.cmnt_id)}}
								</span>
								<span class="action-btn" 
									ng-click="vm.cancelEditComment()"
									ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" >
									Cancel
								</span>
							</div>
							<div ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)" ng-if="vm.subLevelComments[comment.cmnt_id]['comments'].length > 0 && !vm.isQaPage" ng-show="!vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']" class="action-btn">
								<span class="fb-icon fb-replies-icon"></span>
								{{vm.subLevelComments[comment.cmnt_id]['comments'].length}} Reply
							</div>
							<div ng-click="vm.collapseSublevelCommentTextField(comment.cmnt_id)" ng-if="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField'] && !vm.isQaPage" class="action-btn">
								Collase
							</div>
							<span class="post-options" ng-click="vm.toggleOptions($event)">
								<i class="fa fa-angle-down"></i>
								<div class="overlay">
									<ul class="list-group">
										<a ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.editComment(comment.cmnt_id)" class="list-group-item">
											<h6 class="list-group-item-heading">Edit</h6>
										</a>
										<a ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.showDeleteCommentModal(comment.cmnt_id)" class="list-group-item">
											<h6 class="list-group-item-heading">Delete</h6>
										</a>
										<a ng-click="vm.showReportModal(comment.cmnt_id)" class="list-group-item">
											<h6 class="list-group-item-heading">Report</h6>
										</a>
										<a class="list-group-item" ng-if="vm.showRefLink" ng-click="vm.showCopyModal(comment.cmnt_id)">
											<h6 class="list-group-item-heading">Get Link</h6>
										</a>
									</ul>
								</div>
							</span>
						</div>	
					</div>
					<div class="sub-comment-wrapper">
						<!-- <button class="more-btn" ng-show="!vm.commentMore[comment.cmnt_id]" ng-if="vm.shouldShowMoreButton(comment.cmnt_id)" ng-click="vm.commentMore[comment.cmnt_id] = !vm.commentMore[comment.cmnt_id]">More &gt;&gt;</button>
						<button class="more-btn" ng-show="vm.commentMore[comment.cmnt_id]" ng-if="vm.shouldShowMoreButton(comment.cmnt_id)" ng-click="vm.commentMore[comment.cmnt_id] = !vm.commentMore[comment.cmnt_id]">&lt;&lt; Less</button>
						<div class="clearfix"></div> -->
						<div class="comment-field" ng-if="!vm.isCommentEditingInProcess" id="comment-field-{{comment.cmnt_id}}" ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
							<div class="unauthorized" ng-if="!vm.isUserLoggedIn()">Login to add comment.</div>
							<div class="profile-pic"><img ng-src="{{vm.getUserPic()}}" width="100%" height="100%" alt=""></div>
							<div class="tf">
								<!-- <div class="input-comment with-full-border"
									ng-class="{'one-liner':!vm.showBigCommnentField}"
									id="input-comment-inner"
									ng-focus="vm.showBigCommnentField && vm.commentFieldFocused($event)"
									ng-keyup="vm.showBigCommnentField && vm.commentFieldKeyUp($event)"
									contenteditable="true"
								placeholder="Write a reply"></div> -->
								<textarea rows="1" type="text" id="{{comment.cmnt_id}}_textarea" placeholder="Write a reply" ng-keydown="vm.keyDownEventOnTextField($event,comment.cmnt_id,comment.cmnt_id,'1')" ng-model="vm.comment[comment.cmnt_id]" name=""> </textarea>
								<!-- <div class="one-line-submit-button" ng-if="!vm.showBigCommnentField">
									<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.addComment($event,comment.cmnt_id,comment.cmnt_id,'1')" class="post-comment-btn">Submit</div>
								</div> -->
								<div class="one-line-submit-button" ng-if="vm.comment[comment.cmnt_id].length > 0" ng-click="vm.comment[comment.cmnt_id] = ''">
									<div class="post-comment-btn"  style="background: #D24D57;font-family: 'Roboto Condensed';font-size: 15px;padding-left: 7px;padding-right: 7px;margin-left: 0px;">Cancel</div>
								</div>
								<!--  -->
								<div class="bottom-tf" ng-if="vm.showBigCommnentField">
									<span ng-if="vm.canUploadMedia" ng-class="{'disable':vm.isPostSubmitting}" class="camera-icon" ngf-select ngf-multiple=true ngf-accept="'image/*,video/mp4'" ng-model="vm.commentAttachments[comment.cmnt_id]" ngf-change="vm.changeCommentAttachment(comment.cmnt_id,$files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"  ngf-keep="true" title="Attach Photo"><i class="fa fa-camera"></i></span>
									<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.cancelComment($event)" class="post-comment-btn">Cancel</div>	
									<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.addComment($event,comment.cmnt_id,comment.cmnt_id,'1')" class="post-comment-btn">Submit</div>
									<div class="clearfix"></div>
								</div>

								<div class="progressbar"></div>
							</div>
							<div class="clearfix"></div>
							<div class="comment-attachment-wrapper" >
								<span class="status-attachment image" ng-repeat="file in vm.photoAttachments[comment.cmnt_id] track by $index" >
									<span ng-click="vm.removeCommentPhotoAttachment(comment.cmnt_id,$index)" class="remove-icon"><i class="fa fa-times"></i></span>
									<span class="image" ngf-thumbnail="file" ngf-size="{width: 100, height: 100, quality: 1}" ngf-as-background="true"></span>
								</span>
								<span class="status-attachment video" ng-repeat="file in vm.videoAttachments[comment.cmnt_id] track by $index" >
									<span class="videoName">{{file.name}}</span>
									<span class="remove-icon" ng-click="vm.removeCommentVideoAttachment(comment.cmnt_id,$index)"><i class="fa fa-times"></i></span>
								</span>
							</div>
							<div ng-if="vm.commentAttchmentError">
								<div class="alert alert-danger">{{vm.attachmentErrorStr}}</div>
							</div>
						</div>
						<!-- ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelAllComments']" -->
						<div ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
							<div class="comment" ng-repeat="comment in vm.subLevelComments[comment.cmnt_id]['comments'] | orderBy:'cmnt_ts':false">
								<div class="head-wrapper">
									<div class="profile-pic">
										<img ng-src="{{comment.usr_info.usr_pic}}" width="100%" height="100%" alt="">
									</div>
									<div style="width: 100%">
										<span>
											<a href="/dashboardApp/profile/{{comment.usr_id}}" class="username">{{comment.usr_info.dsp_nm}}</a>
											<span class="text" ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" id="{{comment.cmnt_id}}" ng-class="{'full-comment':vm.commentMore[comment.cmnt_id]}" ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)"></span>

											<!-- edit Comment Textarea -->
											<textarea 
												ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" 
												rows='1' data-min-rows='1' 
												class="" 
												ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt" 
												ng-model="vm.comment[comment.cmnt_id]" 
												placeholder="Write a reply" name="" style="display: block"
												ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
										</span>
										
										<button class="more-btn" ng-show="!vm.commentMore[comment.cmnt_id]" ng-if="vm.shouldShowMoreButton(comment.cmnt_id)" ng-click="vm.commentMore[comment.cmnt_id] = !vm.commentMore[comment.cmnt_id]">More &gt;&gt;</button>
										<button class="more-btn" ng-show="vm.commentMore[comment.cmnt_id]" ng-if="vm.shouldShowMoreButton(comment.cmnt_id)" ng-click="vm.commentMore[comment.cmnt_id] = !vm.commentMore[comment.cmnt_id]">&lt;&lt; Less</button>
										<div class="clearfix"></div>
										<div ng-if="comment.cmnt_img" class="comment-image-attachment-wrapper">
											<div class="comment-image-attachment" ng-repeat="pic in comment.cmnt_img track by $index">
												<img ng-src="{{pic}}" class="pic_{{comment.cmnt_id}} {{$index}}" ng-click="vm.openImageInGallery(comment.cmnt_id,$index)" data-mfp-src="{{pic}}" alt="image">
											</div>
										</div>
										<div ng-if="comment.cmnt_vid">
											<div class="post-video-attachment" ng-repeat="video in comment.cmnt_vid track by $index">
												<video-controls-jw style="height: 100%;width: 100%;display: block" player-id="{{comment.cmnt_id}}_{{$index}}" player-url="{{video}}" auto-start="false"></video-controls-jw>
											</div>
										</div>
										<div class="action-btns">
											<!-- Show Like/unlike button in profile page -->
											<span class="action-btn" ng-if="!vm.isQaPage">
												<span ng-click="vm.toggleCommentLike(comment.cmnt_id,0)" ng-if="vm.isCommentLikedByUser(comment.cmnt_id) === true">Unlike</span>
												<span ng-click="vm.toggleCommentLike(comment.cmnt_id,1)" ng-if="vm.isCommentLikedByUser(comment.cmnt_id) != true">Like</span>
											</span>
											<!-- Show Upvote button only in forum page -->
											<span class="action-btn" 
												ng-if="vm.isQaPage"
												ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === true}"
												ng-click="vm.likeDislikeComment(comment.cmnt_id,1)">
												<span class="fb-icon fb-like-icon"></span> {{vm.getLikeCount(comment.cmnt_id)}}
											</span>
											<!-- show dislike button only in qa page -->
											<span class="action-btn"
												ng-if="vm.isQaPage" 
												ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === false}"
												ng-click="vm.likeDislikeComment(comment.cmnt_id,0)">
												<span class="fb-icon fb-like-icon fb-icon-rotate-180"></span> {{vm.getDisLikeCount(comment.cmnt_id)}}
											</span>
											<!-- Show Comment Button in forum page -->
											<span class="action-btn" ng-if="vm.isQaPage" ng-click="vm.showSublevelCommentTextField(comment.cmnt_cmnt_id,comment.cmnt_id)">
												<span class="fb-icon fb-comment-icon"></span> Comment
											</span>
											<!-- Show reply button in profile page -->
											<span class="action-btn" ng-if="!vm.isQaPage" ng-click="vm.showSublevelCommentTextField(comment.cmnt_cmnt_id,comment.cmnt_id)">
												Reply
											</span>
											<!-- Show Like count only in profile page -->
											<span class="action-btn" ng-if="!vm.isQaPage" my-drop content="vm.commentsUsers[comment.cmnt_id]" ng-click="vm.fetchCommentUsers(comment.cmnt_id)">
												<span class="fb-emotion fb-emotion-like"></span>
												{{vm.getLikeCount(comment.cmnt_id)}}
											</span>
											<span class="action-btn" 
												ng-click="vm.cancelEditComment()"
												ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" >
												Cancel
											</span>
										</div>
										<span class="post-options" ng-click="vm.toggleOptions($event)">
											<i class="fa fa-angle-down"></i>
											<div class="overlay">
												<ul class="list-group">
													<a ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.editComment(comment.cmnt_id)" class="list-group-item">
														<h6 class="list-group-item-heading">Edit</h6>
													</a>
													<a ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.showDeleteCommentModal(comment.cmnt_id)" class="list-group-item">
														<h6 class="list-group-item-heading">Delete</h6>
													</a>
													<a ng-click="vm.reportComment(comment.cmnt_id)" class="list-group-item">
														<h6 class="list-group-item-heading">Report</h6>
													</a>
												</ul>
											</div>
										</span>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				<!-- </div> -->
			</div>
		</div>
	</div>
	<div class="edit-comment-modal" ng-if="vm.showEditCommentModal">
		<div class="post">
			<div class="content-wrapper">
				<div class="head">
					<div class="profile-name">
						<div contenteditable="true" class="edit-comment-area" style="width: 100%"></div>
					</div>
					<div class="clearfix"></div>
					<div class="status-attachment-wrapper" >
						<span class="status-attachment" ng-repeat="file in vm.alreadyAddedPhotos track by $index" >
							<span ng-click="vm.removeEditCommentAlreadyAddedPhoto($index)" class="remove-icon"><i class="fa fa-times"></i></span>
							<span class="image"><img ng-src="{{file}}" width="100px" height="auto" alt=""></span>
						</span>
						<span class="status-attachment" ng-repeat="file in vm.editCommentPhotoAttachments track by $index" >
							<span ng-click="vm.removeEditCommentPhotoAttachment($index)" class="remove-icon"><i class="fa fa-times"></i></span>
							<span class="image" ngf-thumbnail="file" ngf-size="{width: 100, height: 100, quality: 1}" ngf-as-background="true"></span>
						</span>
						<span class="status-attachment video" ng-repeat="file in vm.alreadyAddedVideo track by $index" >
							<span class="videoName">{{file}}</span>
							<span class="remove-icon" ng-click="vm.removeEditPostAlreadyAddedVideo($index)"><i class="fa fa-times"></i></span>
						</span>
						<span class="status-attachment video" ng-repeat="file in vm.editCommentVideoAttachments track by $index" >
							<span class="videoName">{{file.name}}</span>
							<span class="remove-icon" ng-click="vm.removeEditCommentVideoAttachment($index)"><i class="fa fa-times"></i></span>
						</span>
					</div>
					<div class="progressbar">
						
					</div>
					<div ng-if="vm.editCommentAttchmentError">
						<div class="alert alert-danger">{{vm.attachmentErrorStr}}</div>
					</div>
				</div>
			</div>
			<div class="action-btns">
				<span class="action-btn" ng-if="vm.canUploadMedia" ngf-select ngf-multiple=true ngf-accept="'image/*'" ngf-change="vm.changeEditCommentAttachments($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ng-model="vm.editCommentAttachments"  ngf-keep="true" title="Attach Photo"><i class="fa fa-camera"></i></span>
				<span class="action-btn pull-right post-btn" style="margin-left: 10px;" ng-click="vm.closeEditCommentModal()">Close</span>
				<span class="action-btn pull-right post-btn" ng-class="{'disabled':vm.isPostUploading}" ng-click="vm.saveEditedComment(vm.currentCommentEditId)">
					<span ng-if="!vm.isPostUploading">Save</span>
					<span ng-if="vm.isPostUploading">Saving <i class="fa fa-circle-o-notch fa-spin"></i></span>
				</span>

			</div>
		</div>
	</div>
	<!-- delete confirm dialgo -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowDeleteCommentModal">
		<div class="ew-modal">
			<div class="msg">
				Are you sure want to delete reply?	
			</div>
			<div class="action-btns">
				<div class="ew-btn" ng-click="vm.deleteComment(vm.currentlyDeletedComment)">Delete</div>
				<div class="ew-btn" ng-click="vm.closeDeleteCommentModal()">Cancel</div>
			</div>	
		</div>
	</div>
	<!-- report dialog -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowReportModal">
		<div class="ew-modal" style="min-width: 400px">
			<div class="">
				<div class="msg">Report Answer</div>
				<form>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="wrong">Wrong Answer</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="spam">Spam</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="notrelated">Not Related</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="other">Other</input>
					</div>
					<div class="frm-element">
						<textarea class="" style="width: 100%" placeholder="Reason to report answer" ng-model="vm.reportReasonOtherValue" ng-if="vm.reportReasonValue === 'other'"></textarea>	
					</div>
				</form>
			</div>
			<div class="action-btns">
				<div class="ew-btn" ng-click="vm.reportComment(vm.currentlyReportedComment)">Report</div>
				<div class="ew-btn" ng-click="vm.closeReportModal()">Cancel</div>
			</div>	
		</div>
	</div>
	<!-- copy link dialog -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowCopyModal">
		<div class="ew-modal">
			<div class="msg" style="font-family: aller;font-size: 15px;">
				{{vm.link}}
			</div>
			<div class="action-btns">
				<div class="ew-btn" ng-click="vm.closeCopyModal()">Cancel</div>
			</div>	
		</div>
	</div>
</div>