<div class="fluid-container">
	<div class="header-wrapper">
		<div class="logo brand">
			(dv/dt).com
		</div>
		<div class="header-links pull-right">
			<div class="if-user" ng-if="vm.user">
				<div class="user-wrapper">
					<div class="if-not-user">
						<ul class="list-unstyles list-inline">
							<li><a href="/auth/#/changepassword"><i class="fa fa-lock"></i>Change Password</a></li>
							<li><a ng-click="vm.logout()"><i class="fa fa-plus"></i>Logout</a></li>
						</ul>	
					</div>
				</div>
			</div>
			<div class="if-not-user" ng-if="!vm.user">
				<ul class="list-unstyles list-inline">
					<li><a href="/auth/#/register"><i class="fa fa-plus"></i> Sign Up</a></li>
					<li><a href="/auth/#/login"><i class="fa fa-lock"></i> Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>