<div style="width:100%;position: relative;background: #000" class="minimal-controlbar-wrapper">
	<!-- Video Tag -->
	<!-- style="height: calc(100% - 58px);width: 100%;" -->
	<div id="jw_video_wrapper" ng-class="{'full-screen':vm.isFullScreen}" ng-click="vm.playToggle()"  >
		<div id="{{vm.videoId}}" style="height: 100%;width: 100%;outline: none;border:0px;border-radius: 0px;"></div>
	</div>
	
	<!-- ./Video Tag -->
	<div class="ds-play-button" ng-if="!vm.isPlaying" ng-click="vm.playToggle()">
		<i class="fa fa-play-circle"></i>
	</div>
	<div class="ds-play-button"  ng-if="vm.isLoading && vm.shouldShowLoader">
		<i class="fa fa-circle-o-notch fa-spin"></i>
	</div>
	
	<!-- Control Bar -->
	<div class="ds-controlbar" ng-class="{'full-screen':vm.isFullScreen}">
		<!-- Progress Bar Wrapper -->	
			<!-- Left Side Controls Wrapper -->
			<span class="ds-controls-left">
				<!-- Play/Push Button -->
				<button class="btn btn-primary ds-control play-pause-button icon-btn" title="Play/Pause (P/Space)" ng-click="vm.playToggle()"><i class="" ng-class="{'play-btn':!vm.isPlaying,'pause-btn':vm.isPlaying}"></i></button>
				<!-- Current/Total Duration -->
				<span class="ds-control time-span">{{vm.video_current}}</span>
				<div class="ds-progress-bar-wrapper {{vm.videoId}}">
					<!-- Progress Bar -->
					<div class="ds-progress-bar {{vm.videoId}}">
						
					</div>
					<!-- Buffered Bar -->
					<div class="ds-buffered-bar {{vm.videoId}}">
						
					</div>
				</div> <!-- ./Progress Bar Wrapper -->
				<span class="ds-control time-span">{{vm.video_duration}}</span>
			</span>
			
			<!-- Right Side Controls Wrapper -->
			<span class="ds-controls-right">
				<!-- Volume Button -->
					<div class="btn btn-primary ds-control icon-btn" title="Change Volume (Arrow Up/Down)" style="width: auto;">
						<!-- <i class="volume-btn"></i> -->
						<!--  ng-click="vm.toggleVolume()" -->
						<!-- Volume Slider Wrapper -->
						<!-- <span class="overlay volume">
							<span class="volume-slider {{vm.videoId}}"></span>
						</span> -->
						<!-- ./Volume Slider Wrapper -->
						<div ng-click="vm.toggleMute()">
							<i class="volume-btn"></i>
						</div>
						
						<div class='ds-sound-progress-wrapper {{vm.videoId}}' style="top: -2px;margin-right: 10px;">
							<div class='ds-sound-real-progress'></div>
						</div>
					</div>
				<!-- Toggle Full Screen Button -->
				<button ng-if="!vm.isOtherThingInFullscreen" class="btn btn-primary ds-control icon-btn" ng-click="vm.fullscreen()" title="Toggle Fullscreen (F)"><i class="fullscreen-btn"></i></button>
				</span> <!-- ./Right Side Controls Wrapper -->
				</div> <!-- ./ControlBar -->
			</div>