<div style="width:100%;height:100%;position: relative" class="main-video-player" ng-class="{'not-video-page-player' : !vm.isVideoPage,'in-browser-fullscreen':vm.isInBrowserFullScreen}">
	<!-- Video Tag -->
	<div id="jw_video_wrapper" ng-if="!vm.isRestricted" ng-click="vm.playToggle()" ng-class="{'full-screen':vm.isFullScreen,'popout-video':(vm.isPopoutVideo !== undefined)}">
		<div id="{{vm.videoId}}" class="video-player-wrapper"  style="outline: none;"></div>
	</div>
	<div id="jw_video_wrapper" ng-show="vm.isRestricted" ng-class="{'full-screen':vm.isFullScreen,'popout-video':(vm.isPopoutVideo !== undefined)}">
		<div class="video-player-wrapper restricted-section" ng-show="vm.isRestricted">
			<h3 class="title">Ready to watch this course?</h3>
			<div class="buttons">
				<button class="btn btn-prmary error-btn orange-color" 
						ng-if="!vm.isUserLoggedIn()"
						ng-click="vm.goToLogin()">Login</button>
				<a class="btn btn-prmary error-btn" ng-href="/buy/price/{{vm.courseId}}">Buy</a>
			</div>
		</div>
	</div>
	
	<!-- ./Video Tag -->
	<div class="ds-play-button" ng-if="!vm.isPlaying && !vm.isRestricted" ng-click="vm.playToggle()">
		<i class="fa fa-play-circle"></i>
	</div>
	<div class="ds-play-button"  ng-if="vm.isLoading && vm.shouldShowLoader && !vm.isRestricted">
		<i class="fa fa-circle-o-notch fa-spin" style="font-size: 70px;"></i>
	</div>
	
	<!-- Subtitle -->
	<div class="ds-subtitle">
		<span ng-if="vm.isSubtitleOn" ng-bind-html="vm.subtitle"></span>
	</div><!-- ./Subtitle -->
	<!-- Control Bar -->
	<div class="ds-controlbar" ng-class="{'full-screen':vm.isFullScreen}">
		<!-- Progress Bar Wrapper -->
		<div class="ds-progress-bar-wrapper {{vm.videoId}}" id="progress_bar_{{vm.videoId}}">
			<div class="mouse-hover-time">
				{{vm.mouseHoverTime}}
			</div>
			<!-- Progress Bar -->
			<div class="ds-progress-bar {{vm.videoId}}">
				
			</div>
			<!-- Buffered Bar -->
			<div class="ds-buffered-bar {{vm.videoId}}">
				
			</div>
		</div> <!-- ./Progress Bar Wrapper -->
			
		<!-- Left Side Controls Wrapper -->
		<span class="ds-controls-left">
			<!-- Prev Video Button -->
			<!-- <button class="btn btn-primary ds-control prev-btn" title="Prev Video" ng-click="vm.prevVideo(true)"><i class="fa fa-angle-left"></i></button> -->
			<!-- Rewind Video Button -->
			<button class="btn btn-primary ds-control rewind-btn" title="Rewind {{vm.offset_time}} Seconds(Left Arow)" ng-click="vm.rewind()">
				<!-- <i class="fa fa-angle-double-left"></i> -->
				<img style="position: relative;top: 9px;height: 45px;" src="../assets/images/player-icons/rewind.png" alt="">
			</button>
			<!-- Play/Push Button -->
			<button class="btn btn-primary ds-control play-pause-button" title="Play/Pause (P/Space)" ng-click="vm.playToggle()">
				<img ng-show="!vm.isPlaying" src="../assets/images/play.png" alt="">
				<img ng-show="vm.isPlaying" src="../assets/images/pause.png" alt="">
			</button>
			<!-- Fast Forward Video Button -->
			<button class="btn btn-primary ds-control forward-btn" title="Fast Forward {{vm.offset_time}} Seconds(Left Arow)" ng-click="vm.fastForward()">
				<!-- <i class="fa fa-angle-double-right"></i> -->
				<img style="position: relative;top: 9px;height: 45px;" src="../assets/images/player-icons/fastfrwd.png" alt="">
			</button>
			<!-- Next Video Button -->
			<!-- <button class="btn btn-primary ds-control next-btn" title="Next Video" ng-click="vm.nextVideo(true)"><i class="fa fa-angle-right"></i></button> -->
			<!-- Current/Total Duration -->
			<span class="ds-control time-span" style="position: relative;top: 12px;">
				<span style="width: 55px;display: inline-block;text-align: right;">{{vm.video_current}}</span> / <span style="width: 55px;display: inline-block;text-align: left;">{{vm.video_duration}}</span>
			</span>
			<!-- Current Playing Video Title -->
			<span class="ds-control title-span" title="Video Name">{{vm.videoTitle}}</span>
		</span>
		
		<!-- Right Side Controls Wrapper -->
		<span class="ds-controls-right" style="position: relative;top: 11px;">
			<div class="btn btn-primary ds-control continuous-btn" ng-click="vm.toggleContinuousPlay()">
				<img ng-if="!vm.isContinuousPlay" width="20" style="margin-right: 5px;top: 2px;position: relative" src="../assets/images/player-icons/check-empty.png" alt="">
				<img ng-if="vm.isContinuousPlay" width="20" style="margin-right: 5px;top: 2px;position: relative" src="../assets/images/player-icons/check-full.png" alt="">
				Auto Play
			</div>
			<!-- Volume Button -->
			<div class="btn btn-primary ds-control"  title="Change Volume (Arrow Up/Down)">
				<div ng-click="vm.toggleMute()">
					<img style="width: 30px;" ng-if="!vm.isPlayerMute" src="../assets/images/player-icons/sound.png" alt="">
					<img style="width: 30px;" ng-if="vm.isPlayerMute" src="../assets/images/player-icons/mute.png" alt="">	
				</div>
				<div class='ds-sound-progress-wrapper {{vm.videoId}}'>
					<div class='ds-sound-real-progress'></div>
				</div>
			</div>
			<div class="btn btn-primary ds-control" ng-click="vm.toggleOverlay($event)">
				<img style="width: 30px;" src="../assets/images/player-icons/settings.png" alt="">	
				<span class="overlay combine" ng-if="!vm.isFlash">
					<ul class="list-unstyled">
						<li>
							<span class="title">Quality</span>
							<span class="value">
								<span class="item" ng-class="{'active':(vm.videoQuality === 'HIGH')}" ng-click="vm.changeVideoQuality('HIGH')">HIGH</span>
								<span class="item" ng-class="{'active':(vm.videoQuality === 'MED')}" ng-click="vm.changeVideoQuality('MED')">MED</span>
								<span class="item" ng-class="{'active':(vm.videoQuality === 'LOW')}" ng-click="vm.changeVideoQuality('LOW')">LOW</span>
							</span>
						</li>
						<li>
							<span class="title" title="Change Speed (ctrl + >/ ctrl + <)">Speed</span>
							<span class="value">
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '0.5')}" ng-click="vm.changeSpeed(0.5)">0.5x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.0')}" ng-click="vm.changeSpeed(1)">1x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.2')}" ng-click="vm.changeSpeed(1.2)">1.2x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.5')}" ng-click="vm.changeSpeed(1.5)">1.5x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '2.0')}" ng-click="vm.changeSpeed(2)">2x</span>
							</span>
						</li>
						<li>
							<span class="title" title="Toggle Subtitle (c)">Subtitle</span>
							<span class="value">
								<span class="item" ng-class="{'active':vm.isSubtitleOn}" ng-click="vm.subtitleToggle('ON')">ON</span>
								<span class="item" ng-class="{'active':!vm.isSubtitleOn}" ng-click="vm.subtitleToggle('OFF')">OFF</span>
							</span>
						</li>
						<li>
							<span class="title" title="Popout video" ng-click="vm.popoutVideo()"><i class="fa fa-share-square-o"></i> Popout Video</span>
						</li>
					</ul>
				</span>
				<span class="overlay flash" ng-if="vm.isFlash">
					<ul class="list-unstyled">
						<li><span class="item" ng-class="{'active':(vm.videoQuality === 'HIGH')}" ng-click="vm.changeVideoQuality('HIGH')">HIGH</span></li>
						<li><span class="item" ng-class="{'active':(vm.videoQuality === 'MED')}" ng-click="vm.changeVideoQuality('MED')">MED</span></li>
						<li><span class="item" ng-class="{'active':(vm.videoQuality === 'LOW')}" ng-click="vm.changeVideoQuality('LOW')">LOW</span></li>
					</ul>
				</span>
			</div>
			<!-- Toggle Full Screen Button -->
			<button class="btn btn-primary ds-control" ng-click="vm.fullscreen()" title="Toggle Fullscreen (F)">
				<i class="fa" ng-class="{'fa-expand':!vm.isFullScreen,'fa-compress':vm.isFullScreen}"></i>
			</button>
			<!-- Toggle in browser full Screen Button -->
			<!-- <button class="btn btn-primary ds-control" ng-click="vm.inBrowserFullScreen()" title="Toggle in browser Fullscreen">
				<i class="fa fa-desktop"></i>
			</button> -->
		</span> <!-- ./Right Side Controls Wrapper -->
	</div> <!-- ./ControlBar -->
</div>