<div style="width:100%;height:100%;position: relative">
	<!-- Video Tag -->
	<video id="video_tag" style="width:100%;height:calc(100% - 50px);"  class="video-js vjs-default-skin"
		preload="auto"
		poster=""
		data-setup='{"controls":false}'
		tabindex="0" >
			<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
		</video>
		<!-- ./Video Tag -->
		<div class="ds-play-button" ng-if="!vm.isPlaying" ng-click="vm.playToggle()">
			<i class="fa fa-play-circle"></i>
		</div>
		<!-- Subtitle -->
		<div class="ds-subtitle">
			<span ng-if="vm.isSubtitleOn" ng-bind-html="vm.subtitle">
				
			</span>
			</div><!-- ./Subtitle -->
			<!-- Control Bar -->
			<div class="ds-controlbar">
				<!-- Progress Bar Wrapper -->
				<div class="ds-progress-bar-wrapper">
					<!-- Progress Bar -->
					<div class="ds-progress-bar">
						
					</div>
					<!-- Buffered Bar -->
					<div class="ds-buffered-bar">
						
					</div>
					</div> <!-- ./Progress Bar Wrapper -->
					
					<!-- Left Side Controls Wrapper -->
					<span class="ds-controls-left">
						<!-- Prev Video Button -->
						<button class="btn btn-primary ds-control" title="Prev Video" ng-click="vm.prevVideo()"><i class="fa fa-angle-left"></i></button>
						<!-- Rewind Video Button -->
						<button class="btn btn-primary ds-control" title="Rewind {{vm.offset_time}} Seconds(Left Arow)" ng-click="vm.rewind()"><i class="fa fa-angle-double-left"></i></button>
						<!-- Play/Push Button -->
						<button class="btn btn-primary ds-control play-pause-button" title="Play/Pause (P/Space)" ng-click="vm.playToggle()"><i class="fa" ng-class="{'fa-play':!vm.isPlaying,'fa-pause':vm.isPlaying}"></i></button>
						<!-- Fast Forward Video Button -->
						<button class="btn btn-primary ds-control" title="Fast Forward {{vm.offset_time}} Seconds(Left Arow)" ng-click="vm.fastForward()"><i class="fa fa-angle-double-right"></i></button>
						<!-- Next Video Button -->
						<button class="btn btn-primary ds-control" title="Next Video" ng-click="vm.nextVideo()"><i class="fa fa-angle-right"></i></button>
						<!-- Current/Total Duration -->
						<span class="ds-control time-span">
							<span style="width: 55px;display: inline-block;text-align: right;">{{vm.video_current}}</span> / <span style="width: 55px;display: inline-block;text-align: left;">{{vm.video_duration}}</span>
						</span>
						<!-- Current Playing Video Title -->
						<span class="ds-control title-span" title="Video Name">{{vm.videoTitle}}</span>
					</span>
					
					<!-- Right Side Controls Wrapper -->
					<span class="ds-controls-right">
						<!-- Change Video Player -->
						<!-- <div class="btn btn-primary ds-control" title="Change Video Player" ng-click="vm.changeVideoPlayer()" style="width: 40px;">
							<i class="fa fa-refresh"></i>
						</div> -->
						<!-- Volume Button -->
						<div class="btn btn-primary ds-control" title="Change Volume (Arrow Up/Down)" style="width: 40px;">
							<i class="fa" ng-class="{'fa-volume-down':!vm.isMute,'fa-volume-off':vm.isMute}"></i>
							<!--  ng-click="vm.toggleVolume()" -->
							<!-- Volume Slider Wrapper -->
							<span class="overlay volume">
								<span class="volume-slider"></span>
							</span>
							<!-- ./Volume Slider Wrapper -->
						</div>
						<div class="btn btn-primary ds-control" title="Settings">
							<i class="fa fa-gear"></i>
							<span class="overlay combine" ng-if="!vm.isFlash">
								<ul class="list-unstyled">
									<li>
										<span class="title">Quality</span>
										<span class="value">
											<span class="item" ng-class="{'active':(vm.videoQuality === 'HIGH')}" ng-click="vm.changeVideoQuality('HIGH')">HIGH</span>
											<span class="item" ng-class="{'active':(vm.videoQuality === 'MED')}" ng-click="vm.changeVideoQuality('MED')">MED</span>
											<span class="item" ng-class="{'active':(vm.videoQuality === 'LOW')}" ng-click="vm.changeVideoQuality('LOW')">LOW</span>
										</span>
									</li>
									<li>
										<span class="title" title="Change Speed (ctrl + >/ ctrl + <)">Speed</span>
										<span class="value">
											<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '0.5')}" ng-click="vm.changeSpeed(0.5)">0.5x</span>
											<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.0')}" ng-click="vm.changeSpeed(1)">1x</span>
											<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.2')}" ng-click="vm.changeSpeed(1.2)">1.2x</span>
											<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.5')}" ng-click="vm.changeSpeed(1.5)">1.5x</span>
											<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '2.0')}" ng-click="vm.changeSpeed(2)">2x</span>
										</span>
										<!-- <span class="value"><span class="speed-slider"></span></span> -->
										
									</li>
									<li>
										<span class="title" title="Toggle Subtitle (c)">Subtitle</span>
										<span class="value">
											<span class="item" ng-class="{'active':vm.isSubtitleOn}" ng-click="vm.subtitleToggle('ON')">ON</span>
											<span class="item" ng-class="{'active':!vm.isSubtitleOn}" ng-click="vm.subtitleToggle('OFF')">OFF</span>
										</span>
									</li>
									<!-- <li>
										<span class="title" title="Toggle Dim Lights">Dim Lights</span>
										<span class="value">
											<span class="item" ng-class="{'active':vm.isDimLights}" ng-click="vm.isDimLights = true;">ON</span>
											<span class="item" ng-class="{'active':!vm.isDimLights}" ng-click="vm.isDimLights = false;">OFF</span>
										</span>
									</li> -->
								</ul>
							</span>
							<span class="overlay flash" ng-if="vm.isFlash">
								<ul class="list-unstyled">
									<li><span class="item" ng-class="{'active':(vm.videoQuality === 'HIGH')}" ng-click="vm.changeVideoQuality('HIGH')">HIGH</span></li>
									<li><span class="item" ng-class="{'active':(vm.videoQuality === 'MED')}" ng-click="vm.changeVideoQuality('MED')">MED</span></li>
									<li><span class="item" ng-class="{'active':(vm.videoQuality === 'LOW')}" ng-click="vm.changeVideoQuality('LOW')">LOW</span></li>
								</ul>
							</span>
						</div>
						<!-- Toggle Full Screen Button -->
						<button class="btn btn-primary ds-control" ng-click="vm.fullscreen()" title="Toggle Fullscreen (F)"><i class="fa" ng-class="{'fa-expand':!vm.isFullScreen,'fa-compress':vm.isFullScreen}"></i></button>
						</span> <!-- ./Right Side Controls Wrapper -->
						</div> <!-- ./ControlBar -->
					</div>