<div style="width:100%;position: relative;background: black;" class="main-video-player" ng-class="{'not-video-page-player' : !vm.isVideoPage,'in-browser-fullscreen':vm.isInBrowserFullScreen}">
	<!-- Video Tag -->
	<div id="jw_video_wrapper" ng-if="!vm.isRestricted" ng-click="vm.playToggle()" ng-class="{'full-screen':vm.isFullScreen,'popout-video':(vm.isPopoutVideo !== undefined)}">
		<div id="{{vm.videoId}}" class="video-player-wrapper"  style="outline: none;"></div>
	</div>
	<div id="jw_video_wrapper" ng-show="vm.isRestricted" ng-class="{'full-screen':vm.isFullScreen,'popout-video':(vm.isPopoutVideo !== undefined)}">
		<div class="video-player-wrapper restricted-section" ng-show="vm.isRestricted">
			<h3 class="title">Ready to watch this course?</h3>
			<div class="buttons">
				<button class="btn btn-prmary error-btn orange-color" 
						ng-if="!vm.isUserLoggedIn()"
						ng-click="vm.goToLogin()">Login</button>
				<a class="btn btn-prmary error-btn" ng-href="/buy/">Buy</a>
			</div>
		</div>
	</div>
	<!-- ./Video Tag -->
	<div class="player-error-wrapper" ng-if="vm.playerError">
		<div class="error-text">
			<div>
				<i class="fa fa-info-circle"></i>
			</div>
			<div>
				<span>{{vm.playerErrorMsg || "Error in playing video"}}</span><br />
				Refresh the page or <a href="/contactus" target="_blank">Contact Us</a>
			</div>
		</div>
	</div>
	<div class="ds-play-button" ng-if="vm.showAnimatedPauseBtn"  ng-class="{'animate':vm.showAnimatedPauseBtn}" ng-click="vm.playToggle()">
		<i class="fa fa-pause-circle"></i>
	</div>
	<div class="ds-play-button" ng-if="vm.showAnimatedPlayBtn" ng-class="{'animate':vm.showAnimatedPlayBtn}" ng-click="vm.playToggle()">
		<i class="fa fa-play-circle"></i>
	</div>
	<div class="ds-spinner"  ng-if="!vm.isVideoStarted && !vm.isRestricted && !vm.isLoading"  ng-click="vm.playToggle()">
		<i class="fa fa-play-circle"></i>
	</div>
	<div class="ds-spinner"  ng-if="vm.isLoading && vm.shouldShowLoader && !vm.isRestricted">
		<i class="fa fa-circle-o-notch fa-spin red"></i>
	</div>
	
	
	<!-- Subtitle -->
	<div class="ds-subtitle" ng-class="{'full-screen':vm.isFullScreen}" ng-if="vm.isSubtitleOn">
		<span ng-bind-html="vm.subtitle"></span>
	</div><!-- ./Subtitle -->
	<!-- Control Bar -->
	<div class="ds-controlbar" ng-class="{'full-screen':vm.isFullScreen}" ng-if="!vm.isRestricted">
		<!-- Progress Bar Wrapper -->
		<div class="ds-progress-bar-wrapper {{vm.videoId}}" id="progress_bar_{{vm.videoId}}" >
			<div class="mouse-hover-time">
				<span class="time">{{vm.mouseHoverTime}}</span>
			</div>
			<!-- Progress Bar -->
			<div class="ds-progress-bar {{vm.videoId}}">
				
			</div>
			<!-- Buffered Bar -->
			<div class="ds-buffered-bar {{vm.videoId}}">
				
			</div>
		</div> <!-- ./Progress Bar Wrapper -->
			
		<!-- Left Side Controls Wrapper -->
		<span class="ds-controls-left">
			<!-- Prev Video Button -->
			<!-- <button class="btn btn-primary ds-control prev-btn" title="Prev Video" ng-click="vm.prevVideo(true)"><i class="fa fa-angle-left"></i></button> -->
			<!-- Rewind Video Button -->
			<button class="btn btn-primary ds-control rewind-btn" data-ew-click="REWIND:{{vm.video_duration}},{{vm.video_current}},{{vm.changeTimeFormat(vm.currentVideoTimeInSec - 8)}}" data-ew-video-page-stats="true" ng-click="vm.rewind()">
				<!-- <i tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Rewind {{vm.offset_time}} Seconds" tooltip-side="top" class="fa fa-angle-double-left"></i> -->
				<img tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Rewind {{vm.offset_time}} Seconds" tooltip-side="top" src="../assets/images/player-icons/rewind-new.png" alt="">
			</button>
			<!-- Play/Push Button -->
			<button ng-if="!vm.isVideoComplete" class="btn btn-primary ds-control play-pause-button" data-ew-click="{{vm.isPlaying?'PLAY':'PAUSE'}}:{{vm.video_duration}},{{vm.video_current}}" data-ew-video-page-stats="true" ng-click="vm.playToggle()">
				<!-- <i  tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Play/Pause" tooltip-side="top"  ng-show="!vm.isPlaying" data-ew-click="PLAY:{{vm.video_duration}},{{vm.video_current}}" data-ew-video-page-stats="true" class="fa fa-play"></i> -->
				<img src="../assets/images/player-icons/play-new.png" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Play/Pause" tooltip-side="top"  ng-show="!vm.isPlaying" data-ew-click="PLAY:{{vm.video_duration}},{{vm.video_current}}" data-ew-video-page-stats="true" alt="" />
				<img src="../assets/images/player-icons/pause-new.png" style="min-width: 20px;" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Play/Pause" tooltip-side="top"  ng-show="vm.isPlaying" data-ew-click="PAUSE:{{vm.video_duration}},{{vm.video_current}}" data-ew-video-page-stats="true" />
				<!-- <i  tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Play/Pause" tooltip-side="top"  ng-show="vm.isPlaying" data-ew-click="PAUSE:{{vm.video_duration}},{{vm.video_current}}" data-ew-video-page-stats="true" class="fa fa-pause"></i> -->
			</button>
			<!-- RePlay Button -->
			<button ng-if="vm.isVideoComplete" class="btn btn-primary ds-control play-pause-button" data-ew-click="Replay:true" data-ew-video-page-stats="true" ng-click="vm.playToggle()">
				<!-- <i tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Replay" tooltip-side="top" data-ew-click="Replay:true" data-ew-video-page-stats="true" class="fa fa-repeat"></i> -->
				<img tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Replay" tooltip-side="top" data-ew-click="Replay:true" data-ew-video-page-stats="true" src="../assets/images/player-icons/replay-new.png" alt="">
			</button>
			<!-- Fast Forward Video Button -->
			<button class="btn btn-primary ds-control forward-btn" data-ew-click="FORWARD:{{vm.video_duration}},{{vm.video_current}},{{vm.changeTimeFormat(vm.currentVideoTimeInSec + 8)}}" data-ew-video-page-stats="true" ng-click="vm.fastForward()">
				<!-- <i tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Fast Forward {{vm.offset_time}} Seconds" tooltip-side="top" class="fa fa-angle-double-right" ></i> -->
				<img tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Fast Forward {{vm.offset_time}} Seconds" tooltip-side="top" src="../assets/images/player-icons/forward-new.png" alt="">
			</button>
			<!-- Next Video Button -->
			<!-- <button class="btn btn-primary ds-control next-btn" title="Next Video" ng-click="vm.nextVideo(true)"><i class="fa fa-angle-right"></i></button> -->
			<!-- Current/Total Duration -->
			<span class="ds-control time-span ew-desktop">
				<span style="width: 55px;display: inline-block;text-align: right;">{{vm.video_current}}</span> / <span style="width: 55px;display: inline-block;text-align: left;">{{vm.video_duration}}</span>
			</span>
			<!-- Current Playing Video Title -->
			<span class="ds-control title-span ew-desktop">
				<div class="p-btn" ng-class="{'disabled' : !vm.statsPrevVideoObj.prevVideoName}" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="{{vm.statsPrevVideoObj.prevVideoName ? 'Previous Video - ' + vm.statsPrevVideoObj.prevVideoName : 'No Previous Video'}}" tooltip-side="top" data-ew-click="PREV_VIDEO:{{vm.statsPrevVideoObj.currentVideoId}},{{vm.statsPrevVideoObj.prevVideoId}}" data-ew-video-page-stats="true"  ng-click="vm.prevVideo(true)">
					<!-- <i class="fa fa-angle-left"></i> -->
					<img src="../assets/images/player-icons/prev-new.png" alt="">
					<!-- <span>Prev</span> -->
				</div>
				<div class="p-btn" ng-class="{'disabled' : !vm.statsNextVideoObj.nextVideoName}" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="{{vm.statsNextVideoObj.nextVideoName ? 'Next Video - ' + vm.statsNextVideoObj.nextVideoName : 'No Next Video'}}" tooltip-side="top" data-ew-click="NEXT_VIDEO:{{vm.statsNextVideoObj.currentVideoId}},{{vm.statsNextVideoObj.nextVideoId}}" data-ew-video-page-stats="true"  ng-click="vm.nextVideo(true)">
					<!-- <span>Next</span> -->
					<!-- <i class="fa fa-angle-right"></i> -->
					<img src="../assets/images/player-icons/next-new.png" alt="">
				</div>
			</span>
		</span>
		
		<!-- Right Side Controls Wrapper -->
		<span class="ds-controls-right">
			<!-- <div class="btn btn-primary ds-control continuous-btn ew-desktop" data-ew-click="AUTOPLAY:{{vm.isContinuousPlay ? 'ON' : 'OFF'}}" data-ew-video-page-stats="true" ng-click="vm.toggleContinuousPlay()">
				<img ng-if="!vm.isContinuousPlay" data-ew-click="AUTOPLAY:ON" data-ew-video-page-stats="true" width="20" style="margin-right: 5px;" src="../assets/images/player-icons/check-empty.png" alt="">
				<img ng-if="vm.isContinuousPlay" data-ew-click="AUTOPLAY:OFF" data-ew-video-page-stats="true" width="20" style="margin-right: 5px;" src="../assets/images/player-icons/check-full.png" alt="">
				<span ng-class="{'green':vm.isContinuousPlay}">Auto Play</span>
			</div> -->
			<div class="btn btn-primary ds-control" data-click-title="subtitle" data-ew-video-page-stats="true"  data-ew-click="SUBTITLE:{{vm.isSubtitleOn ? 'ON' : 'OFF'}},{{vm.video_current}}" data-click-value="{{vm.isSubtitleOn}}" ng-click="vm.subtitleToggle()">
				<div class="subtitle-btn" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Turn {{vm.isSubtitleOn ? 'OFF' : 'ON'}} Subtitle" tooltip-side="top" data-click-title="subtitle" data-ew-click="SUBTITLE:{{vm.isSubtitleOn ? 'ON' : 'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isSubtitleOn}}" ng-class="{'ON':vm.isSubtitleOn,'OFF':!vm.isSubtitleOn}">
					CC
				</div>
			</div>
			<!-- Volume Button -->
			<div class="btn btn-primary ds-control">
				<div ng-click="vm.toggleMute()" data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true">
					<!-- <i tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Mute Volume" tooltip-side="top" ng-if="!vm.isPlayerMute" data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true" class="fa fa-volume-up" style="width: 15px;"></i> -->
					<img src="../assets/images/player-icons/sound-off-new.png" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Unmute Volume" tooltip-side="top" ng-if="vm.isPlayerMute" data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true">
					<img  src="../assets/images/player-icons/sound-on-new.png" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Mute Volume" tooltip-side="top" ng-if="!vm.isPlayerMute" data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true" alt="">
					<!-- <i tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Unmute Volume" tooltip-side="top" ng-if="vm.isPlayerMute" data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true" style="color: red" class="fa fa-volume-up" style="width: 15px;"></i> -->
				</div>
				<div class='ds-sound-progress-wrapper {{vm.videoId}}' data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true">
					<div class='ds-sound-real-progress' data-ew-click="VOLUME:{{vm.playerVolume}},{{vm.video_current}}" data-ew-video-page-stats="true"></div>
				</div>
			</div>
			<div class="btn btn-primary ds-control" >
				<img src="../assets/images/player-icons/settings-new.png" alt="" style="min-width: 21px;min-height: 21px;" ng-class="{'disabled':vm.isVideoComplete}" ng-click="vm.toggleOverlay($event)">
				<!-- <i class="fa fa-gear" ng-class="{'disabled':vm.isVideoComplete}" ng-click="vm.toggleOverlay($event)"></i> -->
				<!-- <img style="width: 30px;" src="../assets/images/player-icons/settings.png" alt="">	 -->
				<span class="overlay combine" ng-if="!vm.isFlash">
					<ul class="list-unstyled">
						<li>
							<span class="title">Quality</span>
							<span class="value">
								<span class="item" ng-class="{'active':(vm.videoQuality === 'HIGH')}" data-ew-click="VIDEO_QUALITY:HIGH,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="quality" data-click-value="HIGH" ng-click="vm.changeVideoQuality('HIGH')">HIGH</span>
								<span class="item" ng-class="{'active':(vm.videoQuality === 'MED')}" data-ew-click="VIDEO_QUALITY:MED,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="quality" data-click-value="MED" ng-click="vm.changeVideoQuality('MED')">MED</span>
								<span class="item" ng-class="{'active':(vm.videoQuality === 'LOW')}" data-ew-click="VIDEO_QUALITY:LOW,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="quality" data-click-value="LOW" ng-click="vm.changeVideoQuality('LOW')">LOW</span>
							</span>
						</li>
						<li>
							<span class="title">Autoplay</span>
							<span class="value">
								<span class="item" ng-class="{'active':vm.isContinuousPlay}" data-ew-click="AUTOPLAY:{{vm.isContinuousPlay ? 'ON' : 'OFF'}}" data-ew-video-page-stats="true" ng-click="vm.toggleContinuousPlay(true)">ON</span>
								<span class="item" ng-class="{'active':!vm.isContinuousPlay}" data-ew-click="AUTOPLAY:{{vm.isContinuousPlay ? 'ON' : 'OFF'}}" data-ew-video-page-stats="true" ng-click="vm.toggleContinuousPlay(false)">OFF</span>
							</span>
						</li>
						<li>
							<span class="title" title="Change Speed (ctrl + >/ ctrl + <)">Speed</span>
							<span class="value">
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '0.5')}"  data-ew-click="VIDEO_SPEED:0.5,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="speed-control" data-click-value="0.5" ng-click="vm.changeSpeed(0.5)">0.5x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.0')}"  data-ew-click="VIDEO_SPEED:1.0,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="speed-control" data-click-value="1" ng-click="vm.changeSpeed(1)">1x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.2')}"  data-ew-click="VIDEO_SPEED:1.2,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="speed-control" data-click-value="1.2" ng-click="vm.changeSpeed(1.2)">1.2x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '1.5')}"  data-ew-click="VIDEO_SPEED:1.5,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="speed-control" data-click-value="1.5" ng-click="vm.changeSpeed(1.5)">1.5x</span>
								<span class="item" ng-class="{'active':(vm.currentPlayBackRate == '2.0')}"  data-ew-click="VIDEO_SPEED:2.0,{{vm.video_current}}" data-ew-video-page-stats="true" data-click-title="speed-control" data-click-value="2" ng-click="vm.changeSpeed(2)">2x</span>
							</span>
						</li>
						
						<li>
							<span class="title" title="Popout video" data-click-title="popout" data-click-value="true" data-ew-click="POPOUT_VIDEO:{{vm.video_current}}" data-ew-video-page-stats="true" ng-click="vm.popoutVideo()"><i class="fa fa-share-square-o"></i> Popout Video</span>
						</li>
					</ul>
				</span>
				<span class="overlay flash" ng-if="vm.isFlash">
					<ul class="list-unstyled">
						<li><span class="item" ng-class="{'active':(vm.videoQuality === 'HIGH')}" ng-click="vm.changeVideoQuality('HIGH')">HIGH</span></li>
						<li><span class="item" ng-class="{'active':(vm.videoQuality === 'MED')}" ng-click="vm.changeVideoQuality('MED')">MED</span></li>
						<li><span class="item" ng-class="{'active':(vm.videoQuality === 'LOW')}" ng-click="vm.changeVideoQuality('LOW')">LOW</span></li>
					</ul>
				</span>
			</div>
			<div class="btn btn-primary ds-control ew-desktop" data-click-title="theater" data-ew-click="THEATER_MODE:{{vm.isInTheaterMode?'ON':'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isInTheaterMode}}" ng-click="vm.setTheaterMode(!vm.isInTheaterMode)">
				<img src="../assets/images/player-icons/theater-mode.png" style="max-height: 19px;min-height: 19px;max-width: initial;" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Turn {{vm.isInTheaterMode?'OFF':'ON'}} Theater Mode" tooltip-side="left" data-click-title="theater" data-ew-click="THEATER_MODE:{{vm.isInTheaterMode?'ON':'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isInTheaterMode}}" alt="" />
				<!-- <i class="fa fa-desktop" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Turn {{vm.isInTheaterMode?'OFF':'ON'}} Theater Mode" tooltip-side="left" data-click-title="theater" data-ew-click="THEATER_MODE:{{vm.isInTheaterMode?'ON':'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isInTheaterMode}}"></i> -->
			</div>
			<!-- Toggle Full Screen Button -->
			<button class="btn btn-primary ds-control" data-click-title="fullscreen" data-ew-click="FULLSCREEN:{{vm.isFullScreen ? 'ON' : 'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isFullScreen}}" ng-click="vm.fullscreen()">
				<!-- <i class="fa" data-click-title="fullscreen" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Turn {{vm.isFullScreen?'OFF':'ON'}} Fullscreen" tooltip-side="left" data-ew-click="FULLSCREEN:{{vm.isFullScreen ? 'ON' : 'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isFullScreen}}" ng-class="{'fa-expand':!vm.isFullScreen,'fa-compress':vm.isFullScreen}"></i> -->
				<img src="../assets/images/player-icons/full-screen-new.png" ng-if="!vm.isFullScreen" alt="" data-click-title="fullscreen" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Turn {{vm.isFullScreen?'OFF':'ON'}} Fullscreen" tooltip-side="left" data-ew-click="FULLSCREEN:{{vm.isFullScreen ? 'ON' : 'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isFullScreen}}">
				<img src="../assets/images/player-icons/normal-screen-new.png" ng-if="vm.isFullScreen" alt="" data-click-title="fullscreen" tooltips tooltip-hidden="{{vm.isMobileTabletDevice}}" tooltip-template="Turn {{vm.isFullScreen?'OFF':'ON'}} Fullscreen" tooltip-side="left" data-ew-click="FULLSCREEN:{{vm.isFullScreen ? 'ON' : 'OFF'}},{{vm.video_current}}" data-ew-video-page-stats="true" data-click-value="{{vm.isFullScreen}}">
			</button>
		</span> <!-- ./Right Side Controls Wrapper -->
	</div> 
	<!-- ./ControlBar -->
	<!-- Mobile Control Bar -->
	<div class="ds-controlbar ew-mobile" ng-class="{'full-screen':vm.isFullScreen}" ng-if="!vm.isRestricted">
		<!-- Left Side Controls Wrapper -->
		<span class="ds-controls-left">
			<!-- Current/Total Duration -->
			<span class="ds-control time-span" style="padding: 0px;">
				<span style="display: inline-block;text-align: right;">{{vm.video_current}}</span> / <span style="display: inline-block;text-align: left;">{{vm.video_duration}}</span>
			</span>
			<!-- Current Playing Video Title -->
			<span class="ds-control title-span" title="Video Name">
				<div class="p-btn" ng-click="vm.prevVideo(true)">
					<!-- <i class="fa fa-angle-left"></i>Prev -->
					<img src="../assets/images/player-icons/prev-new.png" alt="">
				</div>
				<div class="p-btn" ng-click="vm.nextVideo(true)">
					<!-- Next<i class="fa fa-angle-right"></i> -->
					<img src="../assets/images/player-icons/next-new.png" alt="">
				</div>
			</span>
		</span>
	</div> 
	<!-- ./Mobile Control Bar -->
</div>