.home-new-wrapper-3 {
    $middle-part-height: 100px;
    $side-width: 50px;
    $green-color: #2ea677;
    $orange-color: #6BB9F0;

    //rgb(239, 72, 52);

    background: #1dbed0;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    &.blur {
        @include filter(blur(2px));
    }

    .left_left_bg {
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: none;

        @include breakpoint(large_desktop) {
            display: block;
        }
    }

    .left_bg {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 10;

        @include breakpoint(large_desktop) {
            left: 100px;
        }
    }

    .middle_tree_bg {
        position: absolute;
        left: calc(698px + 100px);
        bottom: 0px;
        display: none;

        @include breakpoint(large_desktop) {
            display: block;
        }
    }

    .right_bg {
        position: absolute;
        left: 698px;
        bottom: 0px;
        z-index: 1;

        @include breakpoint(large_desktop) {
            left: calc(698px + 100px + 300px);
        }
    }

    .clouds_bg {
        position: absolute;
        left: 100px;
        top: 65px;
        display: none;

        @include breakpoint(desktop) {
            display: block;
        }
    }

    .base-black-part-left {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1;
        width: 11%;

        img {
            width: 100%;
        }
    }

    .base-black-part-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        width: 11%;

        img {
            width: 100%;
        }
    }

    &:before {
        // content: '';
        background: url("../images/sun.png");
        background-size: cover;
        top: -200px;
        left: -200px;
        position: absolute;
        width: 600px;
        height: 600px;
    }

    &:after {
        // content: '';
        background: url(../images/tree1.png);
        background-size: cover;
        right: 0px;
        bottom: 0px;
        position: absolute;
        width: 332px;
        height: 100vh;
        z-index: 1;
    }

    ul {
        position: relative;
        z-index: 101;
        padding-left: 0px;
        text-align: center;

        li {
            display: block;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }

    .overlay {
        @include overlay(rgba(black, 0.2));

        z-index: 100;
    }

    .menu-button {
        position: absolute;
        font-size: 30px;
        top: 10px;
        right: 20px;
        color: #fff;
        z-index: 11;
        display: none;

        i {
            cursor: pointer;
        }
    }

    .home-menu-modal {
        position: fixed;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        //
        //89, 171, 227
        background: rgba(108, 122, 137, 0.97);
        color: white;
        z-index: 99999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .close-modal-icon {
            position: absolute;
            top: 00px;
            right: 20px;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .header {
        // background: rgba(0, 0, 0, 0.2);
        padding: 10px 0px;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(space-between);

        @include flex-direction(row);
    }

    .logo-wrapper {
        padding: 0px 20px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        .logo-text {
            font-family: waverly;
            font-size: 40px;
            text-transform: uppercase;
            margin: 0px 10px;
        }

        .exam-text {
            color: white;
        }

        .warrior-text {
            color: #fff;
        }

        .logo-img {
            // height: 75px;
       
        }
    }

    .header-btns {
        // position: absolute;
        z-index: 10;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(flex-end);

        @include flex-direction(row);

        .login-btn, .register-btn {
            padding: 0px 20px;
            font-family: 'waverly';
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border: 0px;
            }
        }

        .modal-close-btn {
            width: 60px;
        }
    }

    .tagline {
        position: absolute;
        bottom: -20px;
        right: 10px;
        z-index: 2;
        font-family: 'angel';
        font-size: 53px;
        color: white;
        text-shadow: 2px 2px 2px #444;
    }

    .content {
        font-family: aller;
        font-weight: 700;
        position: absolute;

        // display: none;

        // left: 5%;
        z-index: 3;
        color: white;

        // margin-top: -32px;

        // height: 51%;
        top: 75px;
        left: 0px;
        right: 0px;
        text-align: center;

        #learning-options {
            background: #D24D57;
            margin-left: 5px;
            font-family: 'intro';
            padding: 10px 10px 5px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .text {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: aller;
        }

        .angel {
            font-size: 80px;
            position: absolute;
            left: 195px;
            top: 30px;
            font-family: "Angel";
        }

        .icon {
            font-size: 30px;
            position: absolute;
            left: 250px;
            top: 40px;
        }
    }

    .title {
        position: fixed;
        top: 27px;
        width: 100%;
        color: white;
        text-align: center;

        // background: #6DBAD8;
        z-index: 10;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include breakpoint(large_desktop) {}


        .head-title {
            position: absolute;

            // width: 200px;
            left: 50%;
            margin-left: -200px;
            top: 50%;
            height: 90px;
            margin-top: -45px;
            font-family: waverly;
            font-weight: bold;
            color: #222;
            font-size: 40px;
            background: url("../images/dvbydt.png");
            background-repeat: no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            width: 400px;

            @include breakpoint(large_desktop) {
                width: 400px;
                font-size: 60px;
                margin-left: -200px;
            }
        }

        img {
            width: 85%;
            max-height: 100%;
            margin: 0px auto;
        }
    }

    .left-side-tree {
        position: absolute;
        top: -100px;
        left: 0px;
        z-index: 10;
        display: none;

        @include breakpoint(large_desktop) {
            top: 0px;
        }


        img {
            width: 500px;
        }
    }

    .right-side-tree {
        position: absolute;
        top: -100px;
        right: 0px;
        z-index: 10;
        display: none;

        @include breakpoint(large_desktop) {
            top: 0px;
        }


        img {
            width: 500px;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }

    .box {
        z-index: 1000;
        position: relative;
        width: 100vw;
        margin-top: 20px;

        .box-content {
            padding: 00px 20px;
            border: 0px solid #333;
            border-top: 0px;
            overflow: hidden;
            position: relative;
            max-width: 1600px;
            margin: 0px auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            @include flex-wrap(wrap);

            // @include breakpoint(large_desktop) {
            //     width: 48vw;
            // }
       
        }

        .box-part {
            $circle-size: 50px;

            position: relative;
            padding: 25px 20px;
            border-bottom: 2px solid white;
            min-width: 30%;
            margin-right: 3.333%;

            &:nth-child(3n) {
                margin-right: 0px;
            }

            // overflow: hidden;

            // padding-right: 90px;

            @include display(flex);

            @include justify-content(flex-start);

            @include flex-direction(row);

            @include align-items(center);

            @include flex(1);

            @include align-self(stretch);

            &:before {
                // content: '';
                height: $circle-size;
                width: $circle-size;
                border-radius: 50%;
                background: #1dbed0;
                position: absolute;
                left: -($circle-size / 2);
                top: -($circle-size / 2);
            }

            &:after {
                // content: '';
                height: $circle-size;
                width: $circle-size;
                border-radius: 50%;
                background: #1dbed0;
                position: absolute;
                right: -($circle-size / 2);
                top: -($circle-size / 2);
            }

            .circles {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                display: none;

                &:before {
                    content: '';
                    height: $circle-size;
                    width: $circle-size;
                    border-radius: 50%;
                    background: #1dbed0;
                    position: absolute;
                    left: -($circle-size / 2);
                    top: -($circle-size / 2);
                }

                &:after {
                    content: '';
                    height: $circle-size;
                    width: $circle-size;
                    border-radius: 50%;
                    background: #1dbed0;
                    position: absolute;
                    right: -($circle-size / 2);
                    top: -($circle-size / 2);
                }
            }

            .icon {
                margin-right: 20px;
            }

            .subcaption {
                position: absolute;
                top: 5px;
                color: white;
                font-family: 'Aller';
                text-align: center;
                right: 30px;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;

                // text-shadow: 1px 1px 1px #444;

                // display: none;

                @include breakpoint(laptop) {
                    font-size: 12px;
                }


                @include breakpoint(desktop) {
                    font-size: 13px;
                }


                @include breakpoint(large_desktop) {
                    font-size: 14px;
                }
            }

            .head {
                color: white;
                font-size: 15px;
                font-family: waverly;
                display: block;

                // text-align: center;
                cursor: pointer;

                @include breakpoint(tablet) {
                    font-size: 18px;
                }


                @include breakpoint(laptop) {
                    font-size: 20px;
                }


                @include breakpoint(desktop) {
                    font-size: 25px;
                }


                @include breakpoint(large_desktop) {
                    font-size: 28px;
                }
            }

            .caption {
                color: white;
                font-size: 14px;
                font-family: 'Aller';
                display: block;

                a {
                    text-decoration: none;
                    color: #fff;
                    cursor: pointer;
                }
            }

            &.blue {
                background: #59ABE3;
            }

            &.red {
                background: #D24D57;
            }

            &.green {
                background: #324851;
            }

            &.orange {
                background: #EB974E;
            }

            &.yellow {
                background: #F7CA18;
            }

            &.light-green {
                background: #26A65B;
            }
        }

        .box-middle-round {
            position: absolute;
            width: 26vw;

            // height: 20vw;
            top: 50%;
            left: 50%;
            bottom: 0px;
            margin-left: -13vw;
            margin-top: -15vw;
            border-radius: 240px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            // background: url("../images/cartoon.png");
            background-position: 50%;
            background-size: cover;
            background-color: $orange-color;

            //$green-color;
            text-indent: -9999px;
            color: white;
            font-family: aller;
            font-size: 24px;
            font-weight: bold;

            // border-bottom: 3px solid white;

            @include breakpoint(large_desktop) {}


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        .menu-modal {
            margin: 0px auto;
            position: fixed;
            z-index: 10;
            top: 50px;
            right: 0px;
            bottom: 50px;
            width: 0px;
            background: white;
            color: #222;
            overflow-y: auto;
            overflow-x: hidden;
            white-space: nowrap;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border: 2px solid #e5e5e5;
            border-right: 0px;
            background: #eee;

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(space-around);

            @include flex-direction(row);

            @include transition(0.3s all ease-in);

            .modal-close-btn {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 20px;
                cursor: pointer;
            }

            .menu-head {
                padding: 10px 20px;
                background: #e5e5e5;
                font-size: 20px;
                font-family: waverly;
                text-align: center;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }

            .menu-part {
                width: 50%;
                height: 100%;

                // background: #eee;

                &.left {
                    border-right: 1px solid #ccc;
                }
            }

            ul {
                list-style: none;
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                text-align: left;
            }

            .left {
                li {
                    padding: 10px;
                    margin: 0px;
                }
            }

            li {
                margin: 10px 0px;

                a {
                    text-decoration: none;
                    color: #222;
                    display: block;
                }

                i {
                    margin-right: 15px;
                }

                .li-title {
                    margin: 10px;
                }

                .hidden-menu {
                    padding: 10px;
                    display: none;
                    margin: 10px 0px;
                    background: white;

                    .item {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-width: 240px;
                        font-size: 12px;
                        margin: 5px 0px;

                        @include breakpoint(large_desktop) {
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }

    .headline {
        text-align: center;
        font-size: 27px;
        font-family: CalibreWeb;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        word-spacing: 1px;
    }

    .first-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .footer {
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: white;
        font-size: 17px;
        font-family: 'Aller';
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.video-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);

    //rgba(0, 0, 0, 0.8);

    //rgba(34, 167, 240, 0.8);
    //
    z-index: 9999;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    .video-close-btn {
        height: 50px;
        width: 50px;
        display: none;
        background: url("../images/delete.svg") no-repeat;
        background-size: 50px 50px;
        background-color: white;
        border-radius: 50%;
        padding: 35px;
        background-position: center center;
        margin-bottom: 20px;

        @include transition(all 0.2s ease-in);

        &:hover {
            @include transform(rotate(90deg) scale(1.1));
        }
    }
}