.home-wrapper {
    $middle-part-height: 100px;

    // background: url("../images/home.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    ul {
        position: relative;
        z-index: 101;
        color: white;
        text-align: center;

        li {
            display: block;
            padding: 20px 20px;
            font-weight: bold;
            font-size: 40px;
            font-family: 'Aller';
            letter-spacing: 1px;
            cursor: pointer;
            text-shadow: 2px 2px 2px #444;

            a {
                text-decoration: none;
                color: white;
            }
        }

        & li:hover {
            // border-bottom: 2px solid white;
       
        }
    }

    .overlay {
        @include overlay(rgba(black, 0.2));

        z-index: 100;
    }

    .menu-button {
        position: absolute;
        font-size: 30px;
        top: 10px;
        right: 20px;
        color: #fff;
        z-index: 11;

        i {
            cursor: pointer;
        }
    }

    .home-menu-modal {
        position: fixed;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        //
        //89, 171, 227
        background: rgba(108, 122, 137, 0.97);
        color: white;
        z-index: 99999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .close-modal-icon {
            position: absolute;
            top: 00px;
            right: 20px;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .upper-part, .lower-part {
        width: 100%;
        height: calc((100vh - #{$middle-part-height})/2);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .section {
            width: 50%;
            height: 100%;
            display: inline-block;
            position: relative;
            cursor: pointer;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            & > span {
                z-index: 1;
                color: white;
                font-size: 40px;
                font-family: 'Aller';
                font-weight: bold;
                text-shadow: 2px 2px 2px #444;
                word-spacing: 2px;
            }
        }
    }

    .it-courses {
        background: url("../images/1.jpg");
        background-size: cover;
        background-position: center center;
    }

    .competitve-courses {
        background: url("../images/2.jpg");
        background-size: cover;
        background-position: center center;
    }

    .color {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0.9;
    }

    .red:before {
        @extend .color;

        background: #D24D57;
    }

    .green:before {
        @extend .color;

        background: #1BBC9B;
    }

    .blue:before {
        @extend .color;

        background: #59ABE3;
    }

    .orange:before {
        @extend .color;

        background: #F2784B;
    }

    .middle-part {
        width: 100%;
        height: $middle-part-height;
        display: block;
        font-family: 'angel';
        font-size: 100px;
        color: #D24D57;
        position: relative;
        top: -10px;

        @include user-select(none);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.video-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);

    //rgba(0, 0, 0, 0.8);

    //rgba(34, 167, 240, 0.8);
    //
    z-index: 9999;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    .video-close-btn {
        height: 50px;
        width: 50px;
        display: none;
        background: url("../images/delete.svg") no-repeat;
        background-size: 50px 50px;
        background-color: white;
        border-radius: 50%;
        padding: 35px;
        background-position: center center;
        margin-bottom: 20px;

        @include transition(all 0.2s ease-in);

        &:hover {
            @include transform(rotate(90deg) scale(1.1));
        }
    }
}

.login-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    font-family: aller;
    font-size: 20px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.2s ease-in);

    height: 0px;
    overflow: hidden;

    .close-btn-login {
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: rgba(255, 255, 255, 0.3);
        padding: 5px 15px;
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }

    .login-form-wrapper {
        min-width: 650px;
        background: rgba(255, 255, 255, 0.3);
        padding: 20px;
        padding-right: 0px;
        border-radius: 3px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .form {
        @include flex(1);
    }

    #error {
        display: none;
    }

    label {
        color: white;
    }

    input {
        height: 50px;
        padding: 10px !important;
        border-radius: 3px !important;
        color: white !important;
        font-weight: bold;
    }

    .login-btn {
        width: 100%;
        color: white;
        text-align: center;
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .social-media {
        padding: 20px 0px;
        color: white;

        // background: rgba(0, 0, 0, 0.3);
        margin-left: 20px;

        // border-radius: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }

    .social-icon-wrapper {
        margin: 5px 30px;
        cursor: pointer;
        border-radius: 3px;

        i {
            padding: 20px;
            width: 53px;
            text-align: center;
            border-radius: 3px;
        }

        & > span {
            padding: 8px;
            display: inline-block;
        }
    }

    .social-icon-wrapper {
        // padding: 20px;
        // cursor: pointer;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex(1);

        &.facebook {
            background: $facebook;
        }

        &.google {
            background: $google;
        }

        &.twitter {
            background: $twitter;
        }

        &.linkedin {
            background: $linkedin;
        }
    }
}