.home-new-wrapper-2 {
    $middle-part-height: 100px;

    background: #1d99d1;

    //url(https://www.pluralsight.com/content/dam/pluralsight/home-page/images/PLSGHT%20WEB%20PHOTO%20-033%20dark.jpg);

    //#1d99d1;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    &.blur {
        @include filter(blur(2px));
    }

    &:before {
        // content: '';
        background: rgba(0, 0, 0, 0.7);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        position: absolute;
    }

    ul {
        position: relative;
        z-index: 101;
        color: white;
        text-align: center;

        li {
            display: block;
            padding: 20px 20px;
            font-weight: bold;
            font-size: 40px;
            font-family: 'Aller';
            letter-spacing: 1px;
            cursor: pointer;
            text-shadow: 2px 2px 2px #444;

            a {
                text-decoration: none;
                color: white;
            }
        }

        & li:hover {
            // border-bottom: 2px solid white;
       
        }
    }

    .overlay {
        @include overlay(rgba(black, 0.2));

        z-index: 100;
    }

    .menu-button {
        position: absolute;
        font-size: 30px;
        top: 10px;
        right: 20px;
        color: #fff;
        z-index: 11;
        display: none;

        i {
            cursor: pointer;
        }
    }

    .home-menu-modal {
        position: fixed;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        //
        //89, 171, 227
        background: rgba(108, 122, 137, 0.97);
        color: white;
        z-index: 99999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .close-modal-icon {
            position: absolute;
            top: 00px;
            right: 20px;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .logo {
        font-family: waverly;
        font-size: 50px;
        color: white;
        position: absolute;
        top: 0px;
        left: 10px;
        z-index: 1;
        font-weight: bold;
        text-shadow: 2px 2px 2px #444;
        background: url("../images/dvbydt.png");
        background-repeat: none;
        width: 400px;
        height: 90px;

        img {
            width: 300px;
        }
    }

    .header-btns {
        position: absolute;
        width: 100%;
        max-width: 1600px;
        z-index: 10;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);

        .login-btn, .register-btn {
            padding: 10px 20px;
            font-family: 'aller';
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:last-child {
                border: 0px;
            }
        }
    }

    .tagline {
        position: absolute;
        bottom: -20px;
        right: 10px;
        z-index: 2;
        font-family: 'angel';
        font-size: 53px;
        color: white;
        text-shadow: 2px 2px 2px #444;
    }

    .content {
        font-family: aller;
        font-weight: 700;
        position: absolute;

        // display: none;

        // left: 5%;
        z-index: 3;
        color: white;

        // margin-top: -32px;

        // height: 51%;
        top: 75px;
        left: 0px;
        right: 0px;
        text-align: center;

        #learning-options {
            background: #D24D57;
            margin-left: 5px;
            font-family: 'intro';
            padding: 10px 10px 5px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .text {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: aller;
        }

        .angel {
            font-size: 80px;
            position: absolute;
            left: 195px;
            top: 30px;
            font-family: "Angel";
        }

        .icon {
            font-size: 30px;
            position: absolute;
            left: 250px;
            top: 40px;
        }
    }

    .cross-div {
        // overflow: hidden;
        width: 58%;
        position: absolute;
        height: 100vh;
        bottom: 0px;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
        transform: skew(-45deg);
        right: -16%;
        z-index: 2;
        background: #2ea677;

        //#375;

        //#22A7F0;

        // transform: skew(-26deg);

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(space-between);

        @include flex-direction(column);

        display: none;

        &:before {
            // content: '';
            position: absolute;
            bottom: 0px;
            height: 100%;
            left: 0px;
            right: 0px;
            background: linear-gradient(-45deg, #3498DB 51%, transparent 49%);

            // background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
       
        }

        & > span {
            color: #222;
            padding: 6px 63px;
            background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/wood_pattern.png");
            font-family: 'Aller';
            font-size: 35px;
            text-transform: uppercase;

            // text-shadow: 1px 1px 1px #444;
            z-index: 1;
            text-align: center;
            position: relative;
            cursor: pointer;

            .caption, .sub-caption {
                position: absolute;
                color: white;
                font-size: 13px;
            }

            .caption {
                top: -29px;
                left: 0px;
                right: 0px;
                font-size: 16px;
                color: white;
            }

            .sub-caption {
                bottom: -23px;
                left: 0px;
                right: 0px;
            }

            & > span {
                transform: skew(45deg);
            }

            // transform: skew(26deg);

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            i {
                margin-right: 40px;
                display: none;
            }

            .play-icon {
                background: url("../images/play1.svg");
                background-size: cover;
                display: inline-block;
                cursor: pointer;
                position: absolute;
                top: 15px;
                width: 50px;
                height: 50px;
            }
        }
    }

    .box {
        position: absolute;
        top: 150px;
        left: 0px;
        right: 0px;

        .box-content {
            width: 100vw;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);

            max-width: 1600px;
            margin: 0px auto;

            // @include breakpoint(large_desktop) {
            //     width: 48vw;
            // }
       
        }

        .box-part {
            width: 40%;
            margin: 2vw;
            background-color: red;
            height: 28vh;
            float: left;
            border: 3px solid white;
            position: relative;

            @include breakpoint(large_desktop) {
                // width: 20vw;
                // height: 175px;
            }


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            &:nth-child(2n) {
                .subcaption {
                    text-align: right;
                }
            }

            .subcaption {
                position: absolute;
                top: -38px;
                color: white;
                font-family: 'Aller';
                font-size: 20px;
                text-align: left;
                left: 0px;
                right: 0px;
                font-weight: bold;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px #444;

                @include breakpoint(large_desktop) {
                    font-size: 20px;
                    top: -38px;
                }
            }

            .head {
                color: white;
                font-size: 29px;
                font-family: 'intro';
                display: block;
                text-align: center;
                cursor: pointer;

                @include breakpoint(large_desktop) {
                    font-family: 'intro';
                    font-size: 29px;
                }
            }

            .caption {
                color: white;
                font-size: 17px;
                font-family: 'Aller';
                display: block;
                text-align: center;
            }

            &.blue {
                background: #59ABE3;
            }

            &.red {
                background: #D24D57;
            }

            &.green {
                background: #324851;
            }

            &.orange {
                background: #EB974E;
            }
        }

        .box-middle-round {
            position: absolute;
            width: 20vw;
            height: 20vw;
            top: 50%;
            left: 50%;
            margin-left: -10vw;
            margin-top: -10vw;
            border-radius: 50%;
            background: url("../images/cartoon.png");
            background-position: 50%;
            background-size: cover;
            background-color: #1d99d1;
            text-indent: -9999px;
            color: white;
            font-family: aller;
            font-size: 24px;
            font-weight: bold;

            @include breakpoint(large_desktop) {}


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }
    }

    .footer {
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: white;
        font-size: 17px;
        font-family: 'Aller';
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.video-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);

    //rgba(0, 0, 0, 0.8);

    //rgba(34, 167, 240, 0.8);
    //
    z-index: 9999;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    .video-close-btn {
        height: 50px;
        width: 50px;
        display: none;
        background: url("../images/delete.svg") no-repeat;
        background-size: 50px 50px;
        background-color: white;
        border-radius: 50%;
        padding: 35px;
        background-position: center center;
        margin-bottom: 20px;

        @include transition(all 0.2s ease-in);

        &:hover {
            @include transform(rotate(90deg) scale(1.1));
        }
    }
}

.login-modal {
    position: fixed;
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    font-family: aller;
    font-size: 20px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.2s ease-in);

    height: 0px;
    overflow: hidden;

    .close-btn-login {
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: rgba(255, 255, 255, 0.3);
        padding: 5px 15px;
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }

    .login-form-wrapper {
        min-width: 650px;
        background: rgba(255, 255, 255, 0.3);
        padding: 20px;
        padding-right: 0px;
        border-radius: 3px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .form {
        @include flex(1);
    }

    #error {
        display: none;
    }

    label {
        color: white;
    }

    input {
        height: 50px;
        padding: 10px !important;
        border-radius: 3px !important;
        color: white !important;
        font-weight: bold;
    }

    .login-btn {
        width: 100%;
        color: white;
        text-align: center;
        display: inline-block;
        background: rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .social-media {
        padding: 20px 0px;
        color: white;

        // background: rgba(0, 0, 0, 0.3);
        margin-left: 20px;

        // border-radius: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }

    .social-icon-wrapper {
        margin: 5px 30px;
        cursor: pointer;
        border-radius: 3px;

        i {
            padding: 20px;
            width: 53px;
            text-align: center;
            border-radius: 3px;
        }

        & > span {
            padding: 8px;
            display: inline-block;
        }
    }

    .social-icon-wrapper {
        // padding: 20px;
        // cursor: pointer;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex(1);

        &.facebook {
            background: $facebook;
        }

        &.google {
            background: $google;
        }

        &.twitter {
            background: $twitter;
        }

        &.linkedin {
            background: $linkedin;
        }
    }
}