@import "../../../assets/scss/_common_test.scss";


/* custom css */
.blog-side-link-article-wrapper {
    float: left;
    width: 100%;
    padding: 20px;

    // background: #f4f4f4;

    .left-content {
        position: fixed;
        float: left;
        width: 17%;
        color: #333;

        @media screen and (max-width: 767px) {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        h2 {
            font-weight: bold;
            font-size: 16px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-bottom: 0px;
            padding: 10px 15px;
            float: left;
            width: 100%;
            margin: 0px;
        }

        .sidebar-link-wrapper {
            background: white;
            border-radius: 5px;
            box-shadow: 1px 1px 1px #e5e5e5;

            .sidebar-title {
                padding: 10px;
                font-family: 'nunito',sans-serif;
                font-size: 20px;
                border-bottom: 1px solid #eee;
            }
        }

        ul {
            margin: 0px;
            padding: 0px;

            &.click {
                // float: left;
                list-style: none;
                width: 100%;
                padding: 10px;

                // background-color: #f5f5f5;
                border-color: #ddd;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;

                li {
                    // float: left;
                    width: 100%;
                    list-style: none;
                    margin: 5px 0px;
                    font-family: 'nunito',sans-serif;
                    border-bottom: 1px solid #e5e5e5;

                    @include display(flex);

                    @include align-items(center);

                    @include flex-direction(row);

                    &:last-child {
                        border-bottom: 0px;
                    }

                    a {
                        // float: left;
                        width: 100%;
                        position: relative;
                        display: block;
                        padding: 10px 15px;
                        color: #555;
                        text-decoration: none;
                        margin-bottom: -1px;
                        cursor: pointer;
                    }
                }
            }

            &.social {
                // float: left;
                width: 100%;
                margin-bottom: 10px;
                list-style: none;
                padding: 10px 0px;
                background: white;
                border-radius: 5px;
                box-shadow: 1px 1px 1px #e5e5e5;

                // display: none;

                li {
                    float: left;
                    width: 25%;
                    border: 0px;
                    margin: 0px;
                    text-align: center;

                    a {
                        float: left;
                        width: 100%;
                        margin: 0px;
                        text-align: center;
                        border: 0px;
                    }
                }
            }
        }

        // ul {
        //     float: left;
        //     width: 100%;
        //     margin: 0px;
        //     padding: 0px;
        //     list-style: none;

        //     li {
        //         float: left;
        //         width: 100%;

        //         a {
        //             float: left;
        //             width: 100%;
        //             position: relative;
        //             display: block;
        //             padding: 10px 15px;
        //             color: #555;
        //             text-decoration: none;
        //             margin-bottom: -1px;
        //             background-color: #fff;
        //             border: 1px solid #ddd;
        //             cursor: pointer;
        //         }

        //         a:hover, &.active a, a:focus {
        //             // text-shadow: 0 -1px 0 #286090;
        //             // background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
        //             // background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
        //             // background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
        //             // background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
        //             // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
        //             // background-repeat: repeat-x;
        //             // color: #fff;
        //             // border-color: #2b669a;

        //         }
        //     }

        //     &.social {
        //         float: left;
        //         width: 100%;
        //         margin-bottom: 20px;
        //     }
        // }
   
    }

    .right-content {
        float: left;
        margin-left: 19%;
        width: 59.5%;

        &.full {
            width: 100%;
            margin-left: 0%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-left: 0%;
        }

        .article-name {
            font-family: 'Nunito',sans-serif;
            font-size: 35px;
            text-transform: capitalize;
            text-align: center;
            word-break: break-word;
            margin: 0px;
            background: white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 10px;
            border-bottom: 1px solid #e5e5e5;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Nunito',sans-serif;
        }

        .content-area {
            background-color: #fff;

            // border: 1px solid #ddd;
            width: 100%;
            float: left;
            padding: 10px 15px;
            margin-bottom: 20px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            // box-shadow: 1px 1px 1px #e5e5e5;

            img {
                max-width: 100% !important;
            }

            p {
                color: #555;
                font-size: 12px;
                line-height: 22px;
                margin-bottom: 20px;
            }
        }

        .tabs {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .tab {
                padding: 10px;
                background: #1d99d1;
                color: white;
                font-family: 'waverly';
                font-size: 18px;
                text-transform: lowercase;
                height: 60px;
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);

                &.active {
                    background: darken(#1d99d1, 10%);
                }
            }

            .close-btn {
                padding: 10px 20px;
                background: darken(#1d99d1, 10%);
                color: white;
                font-family: 'waverly';
                font-size: 18px;
                text-transform: lowercase;
                height: 60px;
                cursor: pointer;
                border-left: 1px solid #1d99d1;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                img {
                    border-radius: 3px;
                }
            }
        }

        .tab-content {
            padding: 10px;
            background: #e5e5e5;
        }

        .note-qa-tab {
            textarea {
                margin-bottom: 10px;
                border: 1px solid #1d99d1;
                padding: 10px;
                border-radius: 3px;
                box-shadow: 0px 0px 0px;
                background-color: white;
            }
        }

        .qa-question-wrapper {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            .qa-info {
                padding: 10px 0px;
                border-bottom: 1px solid #e5e5e5;
            }

            .qa-title {
                color: #1d99d1;
            }

            .qa-answer-info {
                color: #444;
            }
        }
    }

    // .right-most-content {
    //     float: right;
    //     width: 18%;
    //     margin-top: 50px;

    //     .title {}

    //     img {
    //         width: 100%;
    //     }
    // }
    //
    .ads {
        float: right;
        width: 20%;
        position: fixed;
        right: 20px;

        h2 {
            font-weight: bold;
            font-size: 16px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-bottom: 0px;
            padding: 10px 15px;
            margin-bottom: 0px;
        }

        p {
            color: #555;
            font-size: 12px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }

    .ads-wrapper {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #e5e5e5;
        background: white;
        margin: 20px 0px;

        .ads-title {
            font-family: 'nunito',sans-serif;
            font-size: 20px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 5px;
        }
    }

    .ads-content {
        background-color: #fff;

        // border: 1px solid #ddd;
        width: 100%;

        // float: left;
        // padding: 10px 15px 0px;

        img {
            width: 100%;
        }
    }

    .subscribe-wrapper {
        padding: 10px;
        background: white;
        border-radius: 5px;

        .subscribe-title {
            // padding: 5px;
            font-family: 'nunito',sans-serif;
            font-size: 18px;
        }

        .subscribe-tf {
            width: 100%;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            padding: 5px;
            height: 40px;
            margin-bottom: 5px;
            box-shadow: 0px 0px 0px;

            &:focus {
                border: 1px solid #1d99d1;
            }
        }

        .subscribe-btn {
            width: 140px;
            margin-left: 50%;
            position: relative;
            left: -70px;
        }
    }

    .subscribe-input input {
        height: 40px;
        border: 1px solid #f4f4f4;
        border-radius: 5px;
        margin: 5px 0px;
        padding: 5px;
        font-family: 'nunito',sans-serif;
        font-size: 16px;
        width: 100%;
        outline: none;
        box-shadow: 0px 0px 0px;
    }

    .input-error-msg {
        color: red;
        font-family: 'nunito',sans-serif;
        font-size: 12px;
    }

    .subscribe-input input.error {
        border: 1px solid #f00;
    }

    // .subscribe-btn i {
    //     padding: 5px 10px;
    //     border-right: 1px solid #177aa7;
    //     line-height: 25px;
    //     padding-left: 0px;
    //     margin-right: 5px;
    // }

    // .subscribe-btn {
    //     background-color: #1d99d1;
    //     border-radius: 5px;
    //     color: white;
    //     font-family: 'nunito',sans-serif;
    //     font-size: 16px;
    //     text-align: center;
    //     margin: 5px 0px;
    //     cursor: pointer;

    //     // display: inline-block;
    //     padding: 0px 10px;
    //     align-self: flex-end;
    // }

    .success-msg {
        background: green;
    }

    .error-msg {
        background: #EC644B;
    }

    .success-msg, .error-msg {
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-family: nunito;
        font-size: 17px;
        margin: 10px 0px;
    }

    @media screen and (max-width: 1221px) and (min-width: 1125px) {
        .search {
            float: left;
            width: 24%;
            padding-top: 10px;
            padding-left: 1%;
        }

        .hdr-right {
            width: 50%;

            ul.links li a {
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: 1124px) and (min-width: 992px) {
        .search {
            float: left;
            width: 24%;
            padding-top: 10px;
            padding-left: 1%;
        }

        .hdr-right {
            width: 50%;

            ul.links li a {
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: 991px) and (min-width: 851px) {
        #sub-menu .col-1 ul li a {
            font-size: 12px;
        }

        .logo {
            padding: 10px 10px 0px !important;
            width: 193px !important;
        }
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        .logo {
            padding: 18px 10px 0px;
            width: 21%;
        }

        .search {
            width: 25%;
            padding-left: 2%;
        }

        .hdr-right {
            width: 52%;
            padding-left: 0;
            padding-right: 10px;

            ul.links li {
                a {
                    font-size: 13px;
                }

                margin-left: 14px;
            }
        }

        #wrapper {
            padding: 120px 10px 20px;
        }

        .left-content {
            width: 21%;
        }

        .right-content {
            margin-left: 24%;
            width: 53%;
        }

        .ads {
            width: 21%;
        }

        .left-content {
            h2, ul.click li a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .right-content h2, .content-area, .tab-content, .ads h2, .ads-content {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media screen and (min-width: 851px) {
        .mobile-menu, #close, #close2, #close3, #close4 {
            display: none;
        }

        #sub-menu {
            background: #fff;
            max-width: 1000px;
            position: fixed;
            right: 0;
            bottom: 0px;
            z-index: 999;
            height: 84%;
            width: 100%;

            .col-1 {
                float: left;
                width: 25%;
                height: 100%;
                position: relative;

                .col-head {
                    padding: 10px;
                    background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
                    background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
                    background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
                    background-repeat: repeat-x;
                    color: #fff;
                    text-align: center;
                    font-size: 15px;
                    font-weight: bold;
                    border-left: 1px solid #fff;

                    .fa {
                        margin-right: 7px;
                    }
                }

                .col-content {
                    border-left: 1px solid #ccc;
                    overflow: auto;
                    float: left;
                    height: 89%;
                    padding: 10px 0px;
                    width: 100%;
                }

                &:first-child .col-ftr {
                    border-left: 1px solid #ccc;
                }

                .col-ftr {
                    float: left;
                    width: 100%;
                    padding: 10px;
                    background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
                    position: absolute;
                    bottom: 0px;
                    background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
                    background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
                    background-repeat: repeat-x;
                    color: #fff;
                    text-align: center;
                    font-size: 15px;
                    font-weight: bold;
                    border-left: 1px solid #fff;
                }

                ul {
                    float: left;
                    width: 100%;

                    li {
                        &:last-child {
                            border: 0px;
                        }

                        float: left;
                        width: 100%;
                        padding: 10px 10px;
                        border-bottom: 1px solid #ddd;

                        a {
                            float: left;
                            width: 100%;
                            text-decoration: none;
                            font-size: 13px;
                            color: #888;
                            font-weight: bold;

                            span {
                                float: left;
                                margin-right: 10px;
                            }

                            &:hover, &:focus {
                                color: #337ab7;
                            }
                        }
                    }
                }

                &.third ul li:last-child {
                    text-align: right;
                }
            }
        }
    }

    @media screen and (max-width: 850px) {
        .mobile-menu {
            display: block;
        }

        // .links {
        //     display: none;
        // }

        .hdr-right .top-bottom {
            top: 83px;
            padding-top: 0px;
        }

        .logo {
            float: left;
            width: 35%;
            padding: 0 10px;
        }

        .search {
            float: right;
            width: 50%;
            padding-left: 0%;
            padding-right: 10px;
            padding-top: 12px;
        }

        .header {
            height: 80px;
            position: inherit;
        }

        .hdr-right {
            padding: 0 10px 0 0;
            position: fixed;
            width: 14%;
            z-index: 9999999;
        }

        .left-content {
            width: 100%;
            margin-bottom: 20px;
            position: relative;
        }

        #wrapper {
            padding-top: 45px;
            padding-bottom: 65px;
        }

        .right-content {
            width: 100%;
            margin-left: 0;
        }

        .ads {
            width: 100%;
            margin-top: 20px;
        }

        .mobile-menu {
            float: left;
            width: 100%;
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
            z-index: 999;

            > ul {
                float: left;
                width: 100%;
                background: #f5f5f5;
                box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);

                > li {
                    float: left;
                    width: 25%;
                    border-bottom: 1px solid #ccc;
                    text-align: center;
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;

                    &:last-child {
                        border-right: 1px solid #ccc;
                    }

                    > a {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        text-decoration: none;
                        font-size: 13px;
                        font-weight: bold;
                        color: #444;
                        padding: 10px 0px;

                        &:hover {
                            background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
                            background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
                            background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
                            background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
                            background-repeat: repeat-x;
                            color: #fff;
                            border-color: #2b669a;
                        }
                    }

                    &.active > a, > a:focus {
                        background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
                        background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
                        background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
                        background-repeat: repeat-x;
                        color: #fff;
                        border-color: #2b669a;
                    }
                }
            }
        }

        #wrapper {
            z-index: 10;
            position: relative;
        }

        #sub-menu {
            display: block !important;
            position: fixed;

            /* z-index: 999999; */
            width: 100%;
            top: 0;
        }

        .col-1 {
            display: none;

            &.show {
                position: fixed;
                display: block;
                background: rgba(255, 255, 255, 1);
                width: 100%;
                height: 94%;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 99;
                visibility: visible;
            }

            .col-head, .col-ftr {
                display: none;
            }

            .col-content {
                float: none;
                height: 100%;
                width: 97%;
                box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
                margin: auto;

                ul {
                    display: table-row;
                    width: 100%;
                    height: 100%;
                    float: left;
                    padding: 50px 20px 0px 20px;
                    overflow: auto;

                    li {
                        width: 100%;
                        float: left;
                        padding: 7px 0px;
                        border-bottom: 1px solid #ddd;

                        a {
                            font-size: 16px;
                            color: #222;
                            text-decoration: none;

                            span {
                                float: left;
                                margin-right: 20px;
                            }

                            &:hover, &:focus {
                                color: #337ab7;
                            }
                        }
                    }
                }
            }
        }

        #close, #close2, #close3, #close4 {
            position: absolute;
            right: 25px;
            top: 15px;
            font-size: 14px;
            color: #ccc;
            padding: 3px 7px;
            border: 1px solid #ccc;
            border-radius: 32px;
            z-index: 9999;
        }
    }

    @media screen and (max-width: 767px) {
        .hdr-right .top-bottom li {
            margin-left: 4px;
        }

        .logo a {
            width: 180px;
            float: left;
            padding-top: 10px;

            img {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 479px) {
        .logo {
            float: left;
            width: 100%;
            text-align: center;
            padding: 0 10px;

            a {
                width: 100%;
            }

            img {
                max-width: 200px;
            }
        }

        .search {
            padding-left: 10px;
            float: left;
            width: 68%;
            display: inline-block;
        }

        .hdr-right .top-bottom li a {
            color: #fff;
        }

        #wrapper {
            padding: 36px 10px 60px;
        }

        #close, #close2, #close3, #close4 {
            top: 15px;
        }

        .header {
            height: 123px;
            text-align: center;
        }

        .hdr-right {
            width: 24%;
        }

        .right-content h1 {
            margin-bottom: 10px;
        }

        .tabs > ul li {
            &:first-child {
                margin: 0px;
            }

            width: 100%;
            margin-top: -1px;
        }

        .tab-content {
            padding: 0px 10px;
        }

        .mobile-menu ul li a {
            font-size: 11px;
        }
    }

    /* Landscape */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .col-1 .col-content ul {
            height: 94%;
        }
    }

    /* Landscape */
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .col-1 .col-content ul {
            height: 94%;
        }
    }

    /* Landscape */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .col-1 .col-content ul {
            height: 94%;
        }
    }

    /* Landscape */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        .col-1 .col-content ul {
            height: 94%;
        }
    }

    .new-notes-wrapper{
        font-family : 'nunito',sans-serif;
        .note{
            background-color : white;
            padding : 10px;
            border-radius : 5px;
            margin-bottom : 10px;
        }

        .note-top{
            @include display(flex);

            @include flex-direction(row);

            @include align-items(center);

            @include justify-content(flex-end);

            .item{
                color : darken(#1d99d1,10%);
                margin-left : 10px;
                cursor: pointer;
            }         
        }

        .note-text{
            font-size:  16px;
        }

        .note-info{
            margin-top : 5px;
            color : #777;
            font-size : 12px;
        }
    }
}