@import "../../../assets/scss/_common_test.scss";

// .blog-side-link-article-wrapper {
//     @include display(flex);

//     @include flex-direction(row);

//     .links {
//         min-width: 250px;
//         max-width: 250px;
//         padding: 10px;
//         font-size: 17px;
//         font-family: 'Roboto',sans-serif;

//         @include display(flex);

//         @include flex-direction(column);

//         a {
//             text-decoration: none;
//             cursor: pointer;
//             color: #aaa;
//             margin: 5px 0px;

//             &:hover {
//                 text-decoration: none;
//                 color: #222;
//             }
//         }
//     }

//     .links-content-wrapper {
//         &.fixed-side {
//             padding-left: 250px;
//         }
//     }
// }

/* custom css */
.blog-side-link-article-wrapper {
    float: left;
    width: 100%;
    padding: 20px;

    .left-content {
        position: fixed;
        float: left;
        width: 18%;
        color: #333;
        border-color: #ddd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: 40px;

        @media screen and (max-width: 767px) {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .share-btns {
            @include display(flex);

            .item {
                cursor: pointer;

                @include display(flex);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);
            }
        }

        ul {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                float: left;
                width: 100%;

                a {
                    float: left;
                    width: 100%;
                    position: relative;
                    display: block;
                    padding: 10px 15px;
                    color: #555;
                    text-decoration: none;
                    margin-bottom: -1px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    cursor: pointer;
                }

                a:hover, &.active a, a:focus {
                    // text-shadow: 0 -1px 0 #286090;
                    // background-image: -webkit-linear-gradient(top, #337ab7 0, #2b669a 100%);
                    // background-image: -o-linear-gradient(top, #337ab7 0, #2b669a 100%);
                    // background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
                    // background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
                    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
                    // background-repeat: repeat-x;
                    // color: #fff;
                    // border-color: #2b669a;
               
                }
            }
        }
    }

    .right-content {
        float: left;
        width: 60%;
        margin-left: 20%;

        &.full {
            width: 100%;
            margin-left: 0%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        h2 {
            font-weight: bold;
            font-size: 16px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-bottom: 0px;
            padding: 10px 15px;
        }

        .article-name {
            font-family: 'waverly',sans-serif;
            font-size: 35px;
            text-transform: lowercase;
            text-align: center;
            word-break: break-word;
        }

        .tabs {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .tab {
                padding: 10px;
                background: #1d99d1;
                color: white;
                font-family: 'waverly';
                font-size: 18px;
                text-transform: lowercase;
                height: 60px;
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);

                &.active {
                    background: darken(#1d99d1, 10%);
                }
            }

            .close-btn {
                padding: 10px 20px;
                background: darken(#1d99d1, 10%);
                color: white;
                font-family: 'waverly';
                font-size: 18px;
                text-transform: lowercase;
                height: 60px;
                cursor: pointer;
                border-left: 1px solid #1d99d1;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                img {
                    border-radius: 3px;
                }
            }
        }

        .tab-content {
            padding: 10px;
            background: #e5e5e5;
        }

        .note-qa-tab {
            textarea {
                margin-bottom: 10px;
                border: 1px solid #1d99d1;
                padding: 10px;
                border-radius: 3px;
                box-shadow: 0px 0px 0px;
                background-color: white;
            }
        }

        .qa-question-wrapper {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            .qa-info {
                padding: 10px 0px;
                border-bottom: 1px solid #e5e5e5;
            }

            .qa-title {
                color: #1d99d1;
            }

            .qa-answer-info {
                color: #444;
            }
        }
    }

    .right-most-content {
        float: right;
        width: 18%;
        margin-top: 50px;

        .title {}

        img {
            width: 100%;
        }
    }

    .content-area {
        background-color: #fff;

        // border: 1px solid #ddd;
        width: 100%;
        float: left;
        padding: 10px 15px;
        margin-bottom: 20px;

        img {
            max-width: 100% !important;
        }

        p {
            color: #555;
            font-size: 12px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }
}