<div>
	<div id="wrapper" class="blog-side-link-article-wrapper">
		<div class="left-content links" ng-if="vm.showSidebar != 'false'">
			<ul class="social">
				<li>
					<a href="" ng-click="vm.shareToFB(vm.name)">
						<img style="height: 28px;margin-top: 5px;" src="../../../assets/images/facebook.png" alt=""/>
					</a>
				</li>
				<li>
					<a href="" ng-click="vm.shareToTwitter(vm.name)">
						<img style="height: 28px;margin-top: 5px;" src="../../../assets/images/twitter.png" alt="" >
					</a>
				</li>
				<li>
					<a href="" ng-click="vm.shareToEWProfile(vm.name)">
						<img src="../../../assets/images/ew_share.png" alt="">
					</a>
				</li>
				<li>
					<a href="" ng-click="vm.shareToQA(vm.name)">
						<img src="../../../assets/images/ew_forum.png" alt="">
					</a>
				</li>
				<div class="clearfix"></div>
			</ul>
			<div class="sidebar-link-wrapper">
				<div class="sidebar-title">
					Content
				</div>
				<ul class="click">
					<li class="" ng-repeat="link in vm.link_arr track by $index">
						<i class="fa fa-gear"></i>
						<a data-id="link--{{$index}}" ng-bind-html="link"></a>
					</li>
					<li ng-click="vm.scrollToTab('comments')"><i class="fa fa-comments"></i><a>Comments</a></li>
					<li ng-click="vm.scrollToTab('notes')"><i class="fa fa-sticky-note"></i><a>Notes</a></li>
					<li ng-click="vm.scrollToTab('qa')"><i class="fa fa-question-circle"></i><a>Q&A</a></li>
				</ul>
			</div>
			
		</div>
		<!-- left-content closed -->
		<!-- right-content start -->
		<div class="right-content links-content-wrapper" ng-class="{'full':vm.showSidebar === 'false'}">
			<h4 class="article-name" ng-if="vm.showSidebar != 'false'">{{vm.name}}</h4>
			<div class="content-area">
				<div id="link--{{$index}}" ng-repeat="content in vm.content_arr track by $index">
					<div ng-bind-html="vm.trustAsHTML(content)"></div>
				</div>
			</div>

			<div class="tabs" id="tabs" ng-if="vm.showSidebar != 'false'">
				<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='comments'}" ng-click="vm.scrollToTab('comments')">
					<img src="../../../assets/images/general-icons/icon-9.png" alt="">
					Comments
				</div>	
				<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='notes'}" ng-click="vm.scrollToTab('notes')">
					<img src="../../../assets/images/general-icons/icon-22.png" alt="">
					Notes
				</div>	
				<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='qa'}" ng-click="vm.scrollToTab('qa');">
					<img src="../../../assets/images/general-icons/icon-23.png" alt="">
					Q&A
				</div>
			</div>
			<!-- Video Comments Tab -->
			<div class="tab-content" ng-if="vm.activeRelatedTab === 'comments' && vm.showSidebar != 'false'">
				<item-comments class="comments-component" post-type="article-comment" post-id="vm.activeItem" show-comment-field="true" ></item-comments>
			</div>
			<!-- Video Notes Tab -->
	    	<div class="tab-content noteTab note-qa-tab" ng-if="vm.activeRelatedTab === 'notes' && vm.showSidebar != 'false'">
				<div class="video-note-form">
					<div class="">
						<textarea froala="vm.EditorConfig" class="form-control" placeholder="Enter Note" ng-model="vm.noteDesc"></textarea>
					</div>
					<div class="form-group">
						<button class="ew-rounded-btn pull-right" style="margin-top: 10px;padding: 0px;" ng-click="vm.addNotes()" ng-if="!vm.isAddingNote">
							<i class="fa fa-sticky-note right"></i>
							<span class="text">Add Note</span>
						</button>
						<button class="ew-rounded-btn pull-right" style="margin-top: 10px;padding: 0px;" ng-if="vm.isAddingNote">
							<i class="fa fa-circle-o-notch right"></i>
							<span class="text">Adding.....</span>
						</button>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="new-notes-wrapper">
					<div class="note" ng-repeat="v in vm.notes | orderBy:'crt_dt':true">
						<div class="note-top">
							<span class="item edit-button" ng-if="vm.editingNote != v.note_id" ng-click="vm.editNote(v.note_id)">Edit</span>
							<span class="item edit save-button" ng-if="vm.editingNote === v.note_id" ng-click="vm.saveNote(v)">Save</span>
							<span class="item" ng-click="vm.showRemoveNoteConfirmModal(v)">Remove</span>
						</div>
						<div class="note-text" ng-show="vm.editingNote != v.note_id" ng-bind-html="vm.trustAsHTML(v.note)"></div>
						<div ng-show="vm.editingNote === v.note_id">
							<textarea froala="vm.EditorConfig"  rows="6" ng-model="v.note"></textarea>	
						</div>
						<div class="note-info">
							<span class="item">
								{{v.crt_dt | date:'dd-MMM-yyyy  hh:mm a'}}
							</span>
						</div>
					</div>	
				</div>
			</div>
			<!-- Video QA Tab -->
			<div class="tab-content noteTab note-qa-tab" ng-if="vm.activeRelatedTab === 'qa' && vm.showSidebar != 'false'">
				<div class="video-note-form">
					<textarea class="form-control" placeholder="Enter question" ng-model="vm.queTitle"></textarea>
					<div class="form-group">
						<button class="ew-rounded-btn pull-right" style="padding: 0px;" ng-click="vm.saveQueryForItem()">
							<i class="fa fa-question-circle right"></i>
							<span class="text">Post Question</span>
						</button>
						<div class="clearfix"></div>
						<!-- <button class="form-control btn btn-primary" >Post</button> -->
					</div>
				</div>
				<a class="qa-question-wrapper" ng-href="{{vm.getQAQuestionPageUrl(false,query.qry_id)}}" target="_blank" ng-repeat="query in vm.itemQueries | orderBy:'qry_ts':true track by $index">
		    		<div class="video-info qa-info">
		    			<div class="qa-title">{{$index + 1}}. {{query.qry_title}}</div>
		    			<div class="qa-answer-info">By - {{query.usr_id}} , {{query["qry_stats"]["qry_ans"] || 0}} answer(s)</div>
		    		</div>
		    	</a>
			</div>
		</div>
		<!-- right-content closed -->
		<!-- ad-content start -->
		<div class="right-most-content ads"  ng-if="vm.showSidebar != 'false'">
			<div class="subscribe-wrapper">
				<div class="subscribe-title">
					Subscribe
				</div>
				<div class="subscribe-input" ng-if="!vm.showSuccessMsg">
					<input type="text" id="subscribe-tf" ng-class="{'error':vm.showInputErrorMsg}" ng-model="vm.subscribeInput" ng-change="vm.validateInputField()" placeholder="Email Address Here">
					<div class="input-error-msg" ng-if="vm.showInputErrorMsg">*Please Enter valid Email Address</div>
				</div>
				<div class="ew-rounded-btn subscribe-btn" ng-click="vm.subscribeUser()" ng-if="!vm.showSuccessMsg">
					<i class="fa fa-envelope right"></i>
					<span class="text">Subscribe</span>
				</div>
				<div class="alert alert-success success-msg" ng-if="vm.showSuccessMsg">
					Thank you for subscribption.
				</div>
				<div class="alert alert-danger error-msg" ng-if="vm.showErrorMsg">
					Some Error occured.
				</div>
			</div>
			<!-- <div class="ads-wrapper">
				<div class="ads-title">Ads</div>
				<div class="ads-content">
					<img src="../../../assets/images/enroll.png" alt="">	
				</div>	
			</div> -->
		</div>
		<!-- ad-content close -->
	</div>
	<div class="clearfix"></div>
</div>
<!-- Login alert modal -->
<div class="ew-small-modal-wrapper" ng-if="vm.showLoginAlertModal">
    <div class="ew-modal">
        <div class="msg">
            {{vm.needLoginErrModalMsg}}
        </div>
        <div class="action-btns">
            <div class="ew-rounded-btn" ng-click="vm.showLoginAlertModal = false;">
            	<i class="fa fa-times-circle-o right"></i>
            	<span class="text">Close</span>
            </div>
        </div>
    </div>
</div>
<!-- Removve Note Modal Confirm -->
<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowRemoveNoteConfirmModal">
    <div class="ew-modal">
        <div class="msg">
            Are you sure you want to delete the note?
        </div>
        <div class="action-btns action-btns-flex-end">
        	<div class="ew-rounded-btn red" ng-click="vm.removeNote();" ng-if="!vm.isRemovingNote">
            	<i class="fa fa-trash right"></i>
            	<span class="text">Remove</span>
            </div>
            <div class="ew-rounded-btn red" ng-if="vm.isRemovingNote">
            	<i class="fa fa-circle-o-notch right"></i>
            	<span class="text">Removing...</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.closeRemoveNoteConfirmModal();">
            	<i class="fa fa-times-circle-o right"></i>
            	<span class="text">Close</span>
            </div>
        </div>
    </div>
</div>