<div class="footer-root-div">
	<div class="fluid-container footer-top">
		<div class="footer-wrapper">
			<div class="row">
				<div class="col-sm-3 footer-block">
					<h4>Supports</h4>
					<ul class="list-unstyled">
						<li>FAQ</li>
						<li>Support</li>
						<li>System Requirements</li>
						<li>Contact US</li>
					</ul>
				</div>
				<div class="col-sm-3 footer-block">
					<h4>Quick Links</h4>
					<ul class="list-unstyled">
						<li>Profile</li>
						<li>History</li>
						<li>Playlist</li>
						<li>Courses</li>
					</ul>
				</div>
				<div class="col-sm-3 footer-block">
					<h4>Apps</h4>
					<ul class="list-unstyled" >
						<li>Android</li>
						<li>iPhone</li>
						<li>Windows</li>
						<li>Desktop</li>
					</ul>
				</div>
				<div class="col-sm-3 subscribe-wrapper footer-block">
					<h4>Subscribe</h4>
					<div class="subscribe-block">
						<div class="subscribe-input"><input type="email" class="form-control" placeholder="Email" required></div>
						<div class="subscribe-submit" style="margin-top: 10px"><button class="form-control btn btn-primary">Subscribe</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fluid-container last-container">
		<div class="row footer-last">
			<div class="col-sm-9">
				<div class="copyright-text">
					&copy; 2015 datasmiles.com
					<div class="footer-last-links">
						<ul class="list-unstyled list-inline">
							<li><a href="#">SiteMap</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms and Conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-3 social-wrapper">
				<ul class="list-unstyled list-inline">
					<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="google"><i class="fa fa-google"></i></a></li>
					<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>