<div class="fluid-container">
	<div class="header-wrapper">
		<div class="logo brand">
			(dv/dt).com
		</div>
		<div class="header-links pull-right">
			<div class="if-not-user" id="if-not-user">
				<ul class="list-unstyles list-inline">
					<li><a href="/auth/#/register"><i class="fa fa-plus"></i> Sign Up</a></li>
					<li><a href="/auth/#/login"><i class="fa fa-lock"></i> Login</a></li>
				</ul>
			</div>
			<div class="if-not-user" id="if-user">
				<ul class="list-unstyles list-inline">
					<li><a onclick="logout()"><i class="fa fa-plus"></i>Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

