
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



<script src="/assets/js/custom.js"></script>


<script src="/assets/js/auth.js"></script>
<script src="/assets/js/flashDetect.js"></script>
<script src="/assets/js/hash.js"></script>
<script src="/bower_components/platform.js/platform.js"></script>
<script src="/assets/js/stats.js"></script>

<script type="text/javascript">
	function ejs_header_change(){
	    if(auth.isAuthenticated()){
	    	$('#if-not-user').hide();
	    	$('#if-user').show();
	    }else{
	    	$('#if-not-user').show();
	    	$('#if-user').hide();
	    }
	}
	function logout() {
		auth.removeToken();
		auth.removeUser();
		window.location.reload();
	}
	ejs_header_change();
</script>