@import "../../../assets/scss/_common_test.scss";

.profile-pic-component {
    position: relative;
    border: 1px solid #444;
    display: inline-block;
    border-radius: 5px;

    .p-img {
        width: 165px;
        height: 165px;
        border-radius: 5px;
        border: 2px solid white;
        background-color: white;
    }

    .img-crp-wrap {
        width: 100%;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .profile-image-btn {
        position: absolute;
        bottom: 12px;
        left: 10px;
        cursor: pointer;
        z-index: 2;
        background: #e5e5e5;
        padding: 0px 5px;
        border-radius: 5px;
    }

    .image-modal {
        position: fixed;
        z-index: 9999;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }
}