<div class="profile-pic-component">
	<img class="p-img" ng-src="{{vm.userPic ||  '/assets/images/dummy-user-pic.png'}} " alt="">
	<div class="profile-image-btn" ngf-select ng-if="vm.shouldEdit" ng-model="vm.profileImage" ngf-multiple='false'>
		<span><i class="fa fa-camera"></i></span>
	</div>
	<div class="image-modal profile" ng-if="vm.showProfileImageModal">
		<div class="img-crp-wrap">
			<image-crop
			data-height="165"
			data-width="165"
			data-shape="square"
			data-step="1"
			src="vm.image"
			data-result="vm.myProfileImage",
			data-result-blob= "vm.myProfileImageBlob",
			crop="vm.initCrop"
			></image-crop>
		</div>
		<div style="margin-top: 20px;z-index: 10">
			<button class="btn btn-primary" ng-click="vm.cropImage()">Crop</button>
			<button class="btn btn-primary" ng-click="vm.showProfileImageModal=false;">Close</button>
		</div>
	</div>
</div>