@import "../../../assets/scss/_common_test.scss";

.personal-info-form-wrapper {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;

    .nothing-to-show {
        padding: 10px;
        background: #e5e5e5;
    }

    .settings-tab, .general-settings-tab {
        padding: 10px;
        background: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-bottom: 15px;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(center);

        @include flex-direction(column);

        .tab-item {
            padding: 0px 20px 20px 0px;
            font-family: 'Roboto Condensed',sans-serif;
            cursor: pointer;
            font-size: 14px;

            img {
                margin-right: 10px;
            }

            &.active {
                color: #1d99d1;
            }
        }
    }

    .general-settings-tab {
        border-radius: 5px;
        background: #fff;

        @include justify-content(flex-start);

        @include align-items(center);

        @include flex-direction(row);

        .tab-item {
            padding-bottom: 0px;
        }
    }

    .ui-select-container {
        padding: 0px 5px;
        height: 40px;
        box-shadow: 0px 0px 0px;
        border: 1px solid #e5e5e5;

        & > div {
            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);
        }

        input {
            border: 0px !important;
            width: 100% !important;
        }

        .ui-select-match-item {
            padding-right: 15px;
            position: relative;

            .close {
                position: absolute;
                right: 3px;
                top: 3px;
            }
        }
    }

    .profile-pic-wrapper {
        padding: 10px;
        padding: 10px;
        background-color: #222;
        background-image: url("../../../assets/images/course-banner.png");
        border-radius: 5px;
        border-bottom: 50px solid white;
        box-shadow: 1px 1px 3px #ccc;
        background-position: center;
        background-size: cover;

        .profile-pic-component {
            display: inline-block;
            top: 50px;
            position: relative;
            border-radius: 5px;
        }
    }

    .about-wrapper {
        fieldset {
            margin: 10px 00px;
            background: #fff;
            box-shadow: 1px 1px 1px #ccc;
            border-radius: 5px;
        }

        legend {
            margin-top: 10px;
            margin-bottom: 0px;
            display: inline-block;
            border-bottom: 0px;
            font-size: 20px;
            font-family: 'roboto condensed';
            padding: 10px;
            background: #fff;
            border-bottom: 1px solid #eee;
        }

        .add-btn {
            border: 1px dashed #1d99d1;
            padding: 10px;
            color: #1d99d1;
            font-family: 'Roboto Condensed',sans-serif;
            font-size: 17px;
            cursor: pointer;
            background: white;
            width: 90%;
            margin: 10px auto;
        }

        form {
            padding: 10px;
        }

        input {
            background: white;
            padding: 0px 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 0px;
            border: 1px solid #e5e5e5;
            height: 40px;
            padding: 0px 5px;

            &:focus {
                border-color: #1d99d1;
            }
        }

        textarea {
            border-radius: 5px;
            box-shadow: 0px 0px 0px;
            border: 1px solid #e5e5e5;
            padding: 0px 5px;

            &:focus {
                border-color: #1d99d1;
            }
        }

        input[type='checkbox'] {
            background: transparent;
            padding: 0px;
            height: auto;
            border: 0px;
        }

        input[readonly], textarea[readonly] {
            background: #eee;
            pointer-events: none;
        }

        input[type='radio'] {
            background: transparent;
            padding: 0px;
            height: auto;
            border: 0px;
        }

        .dropdown-menu {
            li {
                padding: 5px 10px;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .ds-btn {
            padding: 0px 9px;
            border-radius: 3px;
            font-family: 'Roboto Condensed',sans-serif;
            font-size: 15px;
            display: inline-block;
            color: white;
            cursor: pointer;
            border: 0px;
            box-shadow: 0px 0px 0px;
            margin-bottom: 0px;

            &.save-btn {
                background: #1d99d1;
            }

            &.cancel-btn {
                background: #D24D57;
            }
        }
    }

    .compy-individual {
        border-bottom: 1px solid #ccc;
        font-family: 'Roboto Condensed',sans-serif;
        padding: 10px;
        background: #eee;
        border-radius: 5px;
        margin-top: 10px;

        .main-head {
            font-size: 16px;
            font-weight: bold;
        }

        .sub-head {
            font-size: 15px;
            font-weight: normal;
        }

        .desc {
            font-size: 14px;
            font-weight: normal;
        }
    }
    .otherUserShow {
        border: none!important;
        padding: 0!important;
        background: none!important;
        height: 30px;
    }
}