<div class="personal-info-form-wrapper">
	<div class="general-settings-tab">
		<div class="tab-item" ng-class="{'active':vm.activeFormInnerTab === 'general-personal'}" ng-click="vm.activeFormInnerTab = 'general-personal'">
			<img src="../../../assets/images/profile-icons/general-settings.png" alt=""> Personal Info
		</div>
		<div class="tab-item" ng-class="{'active':vm.activeFormInnerTab === 'general-work'}" ng-click="vm.getWorkInfo();vm.getInterestedCourseInfo();vm.activeFormInnerTab = 'general-work'">
			<img src="../../../assets/images/profile-icons/website-pref.png" alt=""> Work
		</div>
		<div class="tab-item" ng-class="{'active':vm.activeFormInnerTab === 'general-education'}" ng-click="vm.getEduInfo();vm.getExamInfo();vm.activeFormInnerTab = 'general-education'">
			<img src="../../../assets/images/profile-icons/payment-info.png" alt=""> Education
		</div>
		<div ng-if="vm.form.role === 'teacher' && !vm.shouldBasicFieldEditable" class="tab-item" ng-class="{'active':vm.activeFormInnerTab === 'general-author'}"
		 ng-click="vm.getAuthorInfo();vm.activeFormInnerTab = 'general-author'">
			<img src="../../../assets/images/profile-icons/payment-info.png" alt=""> Author
		</div>
		<div ng-if="vm.form.role === 'teacher' && !vm.shouldBasicFieldEditable" class="tab-item" ng-class="{'active':vm.activeFormInnerTab === 'general-teacher'}"
		 ng-click="vm.getTeacherInfo();vm.activeFormInnerTab = 'general-teacher'">
			<img src="../../../assets/images/profile-icons/payment-info.png" alt=""> Teacher
		</div>
	</div>
	<div class="about-wrapper">
		<!-- General personal setting tab -->
		<div ng-if="vm.activeFormInnerTab === 'general-personal'">
			<div ng-if="vm.showUserPic != 'false'" class="profile-pic-wrapper">
				<profile-pic-component user-pic="vm.userPic" should-edit="vm.canUserEditInfo()"></profile-pic-component>
			</div>

			<fieldset>

				<legend>
					Personal Information of <span ng-if="vm.canUserEditInfo()">You</span> <span ng-if="!vm.canUserEditInfo()">{{vm.targetedUser}}</span>
					<div class="ew-rounded-btn" ng-if="!vm.shouldBasicFieldEditable && vm.canUserEditInfo()" ng-click="vm.shouldBasicFieldEditable = true;"
					 style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-pencil right"></i>
						<span class="text">Edit</span>
					</div>
				</legend>

				<form class="form-horizontal">
					<div class="form-group input" ng-if="!vm.canUserEditInfo() && vm.shouldShowField(vm.form.role)">
						<label for="rname" class="col-sm-2 control-label"> Role</label>
						<div class="col-sm-8" style="font-size: 15px;top: 5px;text-transform: capitalize;">
							{{vm.form.role}}
						</div>
					</div>
					<div class="form-group input" ng-if="vm.canUserEditInfo()" ng-click="vm.openEditConfirmPopup()">
						<label for="rname" class="col-sm-2 control-label"> Role</label>
						<div class="col-sm-8">
							<select class="form-control" ng-model="vm.form.role" ng-if="vm.shouldBasicFieldEditable">
								<option value="student">Student</option>
								<option value="working">Working</option>
								<option value="parent">Parent</option>
								<option value="teacher">Teacher</option>
								<option value="author">Author</option>
								<option value="employer">Employer</option>
								<option value="public">Public</option>
							</select>
							<div ng-bind="vm.form.role" style="text-transform: capitalize;" ng-if="!vm.shouldBasicFieldEditable"> </div>
						</div>
					</div>
					<!-- show this button only to parent -->
					<div ng-if="vm.form.role === 'parent' && vm.canUserEditInfo()">
						<!-- Add New Kid detail -->
						<fieldset>
							<legend>
								Your Kids Details
							</legend>
							<div class="add-btn" ng-click="vm.resetAuthorInfo();vm.isAddKidInProgress = true;" ng-if="!vm.isAddKidInProgress && vm.canUserEditInfo()">
								<i class="fa fa-plus"></i> Add kid details
							</div>
							<!-- Add new authorcourse form -->
							<div class="form-horizontal" ng-if="vm.isAddKidInProgress">
								<div class="form-group comp-name">
									<label for="coursename" class="col-sm-2 control-label">Kid Name</label>
									<div class="col-sm-10">
										<ui-select multiple ng-model="vm.selectedKid" theme="bootstrap" limit="1" close-on-select="true">
											<ui-select-match placeholder="Select Your Kid...">
												<span ng-bind="$item.dsp_nm"></span>
											</ui-select-match>
											<ui-select-choices repeat="item.usr_id as item in (vm.allUsers | filter: $select.search) track by $index">
												<span ng-bind="item.dsp_nm"></span>
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group comp-name">
									<label for="Education" class="col-sm-2 control-label">Kid Education</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Education" ng-model="vm.kidForm.kid_edu_nm" name="">
									</div>
								</div>
								<div class="form-group comp-name">
									<label for="exam" class="col-sm-2 control-label">Kid Exam</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" placeholder="Exam" ng-model="vm.kidForm.kid_exm_nm" name="">
									</div>
								</div>
								<div class="form-group btns">
									<div class="col-sm-offset-2 col-sm-10">\
										<div class="ew-rounded-btn" ng-click="vm.saveKidInfo()" style="display: inline-flex;font-size: 12px;">
											<i class="fa fa-floppy-o right"></i>
											<span class="text">Save</span>
										</div>
										<div class="ew-rounded-btn" ng-click="vm.resetKidInfo()" style="display: inline-flex;font-size: 12px;">
											<i class="fa fa-ban right"></i>
											<span class="text">Cancel</span>
										</div>
									</div>
								</div>
							</div>



							<!-- Show list of kids -->
							<div class="compy-individual form-horizontal" ng-repeat="kid in vm.kidRows">
								<div class="wrap" ng-if="!vm.isEditKidInProgress">

									<div class="ew-rounded-btn" ng-if="vm.canUserEditInfo()" ng-click="vm.deleteKidInfo(kid.kid_usr_id)" style="display: inline-flex;font-size: 12px;">
										<i class="fa fa-trash-o right"></i>
										<span class="text">Delete</span>
									</div>
									<div class="main-head">
										{{kid.kid_usr_id}}
									</div>
									<div class="sub-head">
										Institute : {{kid.kid_edu_nm}}
									</div>
									<div class="sub-head">
										Exams : {{kid.kid_exm_nm.join(",")}}
									</div>
								</div>
							</div>

						</fieldset>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.usr_abt_me)">
						<label for="dob" class="col-sm-2 control-label"> About</label>
						<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()">
							<textarea class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}" rows="6" ng-readonly="!vm.shouldBasicFieldEditable"
							 ng-model="vm.form.usr_abt_me" placeholder="Brief about you"></textarea>
						</div>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.fst_nm)">
						<label for="fname" class="col-sm-2 control-label"> Firstname</label>
						<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()"><input type="text" ng-readonly="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}"
							 name="fname" id="fname" ng-model="vm.form.fst_nm" required="" /></div>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.lst_nm,vm.form.lst_nm_flg)">
						<span>
							<label for="lname" class="col-sm-2 control-label"> Lastname</label>	
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()"><input type="text" ng-readonly="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}" name="lname" id="lname" ng-model="vm.form.lst_nm"  required=""/></div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.lst_nm_flg || 'public'   | capitalize}}
							  	<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-click="vm.form.lst_nm_flg = 'public'"><i class="fa fa-globe right"></i>
								<span class="text">Public</span></li>
							<li ng-click="vm.form.lst_nm_flg = 'friends'"><i class="fa fa-users right"></i>
								<span class="text">Friends</span></li>
							<li ng-click="vm.form.lst_nm_flg = 'onlyme'"><i class="fa fa-lock right"></i>
								<span class="text">Only Me</span></li>
						</ul>
						</span>
						</span>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.dsp_nm)">
						<label for="dname" class="col-sm-2 control-label"> Display Name</label>
						<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()"><input type="text" class="form-control" ng-readonly="!vm.shouldBasicFieldEditable" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}"
							 ng-model="vm.form.dsp_nm" name="dname" id="dname" required="" /></div>
					</div>
					<div class="form-group input" ng-if="!vm.shouldBasicFieldEditable && (vm.shouldShowField(vm.form.dob_dt,vm.form.dob_dt_flg) || vm.shouldShowField(vm.form.dob_mn,vm.form.dob_mn_flg) || vm.shouldShowField(vm.form.dob_yr,vm.form.dob_yr_flg))">
						<label for="dname" class="col-sm-2 control-label"> Date Of Birth</label>
						<div class="col-sm-8" style="font-size: 15px;top: 5px;" ng-click="vm.openEditConfirmPopup()">
							<!-- Show Date if user is allowed -->
							<span ng-if="vm.shouldShowField(vm.form.dob_dt,vm.form.dob_dt_flg)">{{vm.form.dob_dt || 'dd'}} /</span>
							<!-- Show month if user is allowed -->
							<span ng-if="vm.shouldShowField(vm.form.dob_mn,vm.form.dob_mn_flg)">{{vm.form.dob_mn || 'mm'}} /</span>
							<!-- Show year if user is allowed -->
							<span ng-if="vm.shouldShowField(vm.form.dob_yr,vm.form.dob_yr_flg)">{{vm.form.dob_yr || 'yyyy'}}</span>
						</div>
					</div>
					<div class="form-group input dob-date" ng-if="vm.shouldBasicFieldEditable">
						<label for="dob" class="col-sm-2 control-label"> Date Of Birth</label>
						<div class="col-sm-4">
							<datepicker id="dobPicker" date-format="MM-dd">
								<input ng-model="vm.selectedDob" type="text" ng-click="vm.removeYearSelection()" placeholder="MM/DD"/>
							</datepicker>
						</div>
						<div class="col-sm-4">
							<select class="form-control" ng-model="vm.form.dob_yr">
								<option value="">Select Year</option>
								<option ng-repeat="_ in ((_ = []) && (_.length=66) && _) track by $index">{{$index + 1950}}</option>
							</select>
						</div>
						<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
						  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
						  		{{vm.form.dob_dt_flg || 'public'  | capitalize}}
						  	<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-click="vm.form.dob_dt_flg = 'public'"><i class="fa fa-globe right"></i>
								<span class="text">Public</span></li>
							<li ng-click="vm.form.dob_dt_flg = 'friends'"><i class="fa fa-users right"></i>
								<span class="text">Friends</span></li>
							<li ng-click="vm.form.dob_dt_flg = 'onlyme'"><i class="fa fa-lock right"></i>
								<span class="text">Only Me</span></li>
						</ul>
						</span>
					</div>
					<!--<div class="form-group input dob-month" ng-if="vm.shouldBasicFieldEditable">
						<div class="col-sm-8 col-sm-offset-2">
							<select class="form-control" ng-model="vm.form.dob_mn">
								<option value="">Select Month</option>
								<option ng-repeat="_ in ((_ = []) && (_.length=12) && _) track by $index">{{$index + 1}}</option>
							</select>
						</div>
						<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
						  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
						  		{{vm.form.dob_mn_flg || 'public'  | capitalize}}
						  	<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-click="vm.form.dob_mn_flg = 'public'"><i class="fa fa-globe right"></i>
								<span class="text">Public</span></li>
							<li ng-click="vm.form.dob_mn_flg = 'friends'"><i class="fa fa-users right"></i>
								<span class="text">Friends</span></li>
							<li ng-click="vm.form.dob_mn_flg = 'onlyme'"><i class="fa fa-lock right"></i>
								<span class="text">Only Me</span></li>
						</ul>
						</span>
					</div>-->
					<!--<div class="form-group input dob-year" ng-if="vm.shouldBasicFieldEditable">
						<div class="col-sm-8 col-sm-offset-2">
							
						</div>
						<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
						  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
						  		{{vm.form.dob_yr_flg || 'public'  | capitalize}}
						  	<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-click="vm.form.dob_yr_flg = 'public'"><i class="fa fa-globe right"></i>
								<span class="text">Public</span></li>
							<li ng-click="vm.form.dob_yr_flg = 'friends'"><i class="fa fa-users right"></i>
								<span class="text">Friends</span></li>
							<li ng-click="vm.form.dob_yr_flg = 'onlyme'"><i class="fa fa-lock right"></i>
								<span class="text">Only Me</span></li>
						</ul>
						</span>
					</div>-->
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.ctry,vm.form.ctry_flg)">
						<span>
							<label for="country" class="col-sm-2 control-label"> Country</label>
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()">
								<ui-select ng-init="vm.selectedCountry = vm.form.ctry" on-select="vm.getCountryList($item, 'cities_current', 'selectedCity')" ng-model="vm.selectedCountry" theme="bootstrap" limit="1" close-on-select="true" ng-if="vm.shouldBasicFieldEditable" style="border: none!important;padding: 0px!important;">
								    <ui-select-match placeholder="Select Country...">
								        <span ng-bind="vm.selectedCountry"></span>
									</ui-select-match>
									<ui-select-choices repeat="item.cntry_id as item in (vm.countries | filter: $select.search) track by $index">
										<span ng-bind="item.cntry_id"></span>
									</ui-select-choices>
								</ui-select>
								<input type="text" ng-readonly="!vm.shouldBasicFieldEditable" ng-if="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}"
								 name="country" id="country" ng-model="vm.form.ctry" required="" />
							</div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
								<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.ctry_flg || 'public'  | capitalize }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="vm.form.ctry_flg = 'public'"><i class="fa fa-globe right"></i>
										<span class="text">Public</span></li>
									<li ng-click="vm.form.ctry_flg = 'friends'"><i class="fa fa-users right"></i>
										<span class="text">Friends</span></li>
									<li ng-click="vm.form.ctry_flg = 'onlyme'"><i class="fa fa-lock right"></i>
										<span class="text">Only Me</span></li>
								</ul>
							</span>
						</span>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.cty,vm.form.cty_flg) && vm.cities_current.length != undefined">
						<span>
							<label for="city" class="col-sm-2 control-label"> City</label>
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()">
								<ui-select ng-init="vm.selectedCity = vm.form.cty" ng-model="vm.selectedCity" theme="bootstrap" limit="1" close-on-select="true" ng-if="vm.shouldBasicFieldEditable" style="border: none!important;padding: 0px!important;">
								    <ui-select-match placeholder="Select City...">
								        <span ng-bind="vm.selectedCity"></span>
									</ui-select-match>
									<ui-select-choices repeat="item.city as item in (vm.cities_current | filter: $select.search) track by $index">
										<span ng-bind="item.city"></span>
									</ui-select-choices>
								</ui-select>
								<input type="text" ng-readonly="!vm.shouldBasicFieldEditable" ng-if="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}"
								 name="city" id="city" ng-model="vm.form.cty" required="" />
							</div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.cty_flg || 'public'   | capitalize}}
							  		<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="vm.form.cty_flg = 'public'"><i class="fa fa-globe right"></i>
										<span class="text">Public</span></li>
									<li ng-click="vm.form.cty_flg = 'friends'"><i class="fa fa-users right"></i>
										<span class="text">Friends</span></li>
									<li ng-click="vm.form.cty_flg = 'onlyme'"><i class="fa fa-lock right"></i>
										<span class="text">Only Me</span></li>
								</ul>
							</span>
						</span>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.zip_cd,vm.form.zip_cd_flg)">
						<span>
							<label for="zip_cd" class="col-sm-2 control-label"> Zip Code</label>	
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()"><input type="text" ng-readonly="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}" name="zip_cd" id="zip_cd" ng-model="vm.form.zip_cd"  required=""/></div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.zip_cd_flg || 'public'  | capitalize }}
							  		<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="vm.form.zip_cd_flg = 'public'"><i class="fa fa-globe right"></i>
										<span class="text">Public</span></li>
									<li ng-click="vm.form.zip_cd_flg = 'friends'"><i class="fa fa-users right"></i>
										<span class="text">Friends</span></li>
									<li ng-click="vm.form.zip_cd_flg = 'onlyme'"><i class="fa fa-lock right"></i>
										<span class="text">Only Me</span></li>
								</ul>
							</span>
						</span>
					</div>

					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.ht_ctry,vm.form.ht_ctry_flg)">
						<span>
							<label for="country" class="col-sm-2 control-label">HomeTown Country</label>	
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()">
								<ui-select ng-init="vm.selectedHomeTownCountry = vm.form.ht_ctry" on-select="vm.getCountryList($item, 'cities_home_town', 'selectedHomeTownCity')" ng-model="vm.selectedHomeTownCountry" theme="bootstrap" limit="1" close-on-select="true" ng-if="vm.shouldBasicFieldEditable" style="border: none!important;padding: 0px!important;">
								    <ui-select-match placeholder="Select Country...">
								        <span ng-bind="vm.selectedHomeTownCountry"></span>
									</ui-select-match>
									<ui-select-choices repeat="item.cntry_id as item in (vm.countries | filter: $select.search) track by $index">
										<span ng-bind="item.cntry_id"></span>
									</ui-select-choices>
								</ui-select>
								<input type="text" ng-readonly="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}"
								 ng-if="!vm.shouldBasicFieldEditable" name="ht_country" id="ht_country" ng-model="vm.form.ht_ctry" required="" />
							</div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.ht_ctry_flg || 'public'  | capitalize }}
							  		<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="vm.form.ht_ctry_flg = 'public'"><i class="fa fa-globe right"></i>
										<span class="text">Public</span></li>
									<li ng-click="vm.form.ht_ctry_flg = 'friends'"><i class="fa fa-users right"></i>
										<span class="text">Friends</span></li>
									<li ng-click="vm.form.ht_ctry_flg = 'onlyme'"><i class="fa fa-lock right"></i>
										<span class="text">Only Me</span></li>
								</ul>
							</span>
						</span>
					</div>
					<div class="form-group input" ng-if="vm.shouldShowField(vm.form.ht_cty,vm.form.ht_cty_flg) && vm.cities_home_town.length != undefined">
						<span>
							<label for="city" class="col-sm-2 control-label">HomeTown City</label>
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()">
								<ui-select ng-init="vm.selectedHomeTownCity = vm.form.ht_cty" ng-model="vm.selectedHomeTownCity" theme="bootstrap" limit="1" close-on-select="true" ng-if="vm.shouldBasicFieldEditable" style="border: none!important;padding: 0px!important;">
								    <ui-select-match placeholder="Select City...">
								        <span ng-bind="vm.selectedHomeTownCity"></span>
									</ui-select-match>
									<ui-select-choices repeat="item.city as item in (vm.cities_home_town | filter: $select.search) track by $index">
										<span ng-bind="item.city"></span>
									</ui-select-choices>
								</ui-select>
								<input type="text" ng-readonly="!vm.shouldBasicFieldEditable" ng-if="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}"
								 name="hometown" id="ht_city" ng-model="vm.form.ht_cty" required="" />
							</div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.ht_cty_flg || 'public'  | capitalize}}
							  		<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li ng-click="vm.form.ht_cty_flg = 'public'"><i class="fa fa-globe right"></i>
										<span class="text">Public</span></li>
									<li ng-click="vm.form.ht_cty_flg = 'friends'"><i class="fa fa-users right"></i>
										<span class="text">Friends</span></li>
									<li ng-click="vm.form.ht_cty_flg = 'onlyme'"><i class="fa fa-lock right"></i>
										<span class="text">Only Me</span></li>
								</ul>
							</span>
						</span>
					</div>

<div class="form-group input" ng-if="vm.shouldShowField(vm.form.ht_zip_cd,vm.form.ht_zip_cd_flg)">
	<span>
							<label for="zip_cd" class="col-sm-2 control-label">HomeTown Zip Code</label>	
							<div class="col-sm-8" ng-click="vm.openEditConfirmPopup()"><input type="text" ng-readonly="!vm.shouldBasicFieldEditable" class="form-control" ng-class="{'otherUserShow' : !vm.canUserEditInfo()}" name="ht_zip_cd" id="ht_zip_cd" ng-model="vm.form.ht_zip_cd"  required=""/></div>
							<span class="dropdown col-sm-2" ng-if="vm.shouldBasicFieldEditable">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.form.ht_zip_cd_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-click="vm.form.ht_zip_cd_flg = 'public'"><i class="fa fa-globe right"></i>
			<span class="text">Public</span></li>
		<li ng-click="vm.form.ht_zip_cd_flg = 'friends'"><i class="fa fa-users right"></i>
			<span class="text">Friends</span></li>
		<li ng-click="vm.form.ht_zip_cd_flg = 'onlyme'"><i class="fa fa-lock right"></i>
			<span class="text">Only Me</span></li>
	</ul>
	</span>
	</span>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10" ng-if="vm.shouldBasicFieldEditable">

		<div class="ew-rounded-btn" ng-click="vm.saveBasicInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-floppy-o right"></i>
			<span class="text">Save</span>
		</div>
		<div class="ew-rounded-btn" ng-click="vm.shouldBasicFieldEditable = false;" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-ban right"></i>
			<span class="text">Cancel</span>
		</div>
		<span class="ds-btn alert alert-success" ng-if="vm.basicInfoSuccess">{{vm.basicInfoSuccess}}</span>
		<span class="ds-btn alert alert-danger" ng-if="vm.basicInfoError">{{vm.basicInfoError}}</span>
	</div>
</div>
</form>
</fieldset>
<fieldset>
	<legend>
		Phone Number
	</legend>
	<div class="nothing-to-show" ng-if="!vm.isAnyPhoneNumberVisible()&& !vm.canUserEditInfo()">
		Nothing to show.
	</div>
	<div class="add-btn" ng-click="vm.isAddPhoneInProgress = true;vm.isEditingOfPhoneInProgress=false;vm.currentlyEditingPhoneNumber='';"
	 ng-if="!vm.isAddPhoneInProgress && vm.canUserEditInfo()">
		<i class="fa fa-plus"></i> Add a phone number
	</div>
	<!-- Add New PhoneNumber Form -->
	<form class="form-horizontal" ng-if="vm.isAddPhoneInProgress">
		<div class="form-group">
			<label for="phone" class="col-sm-2 control-label">Phone Number</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-init="vm.form.ph['val'] = '';" id="phone" ng-model="vm.form.ph['val']" placeholder="Phone Number">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.form.ph['permission'] || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-click="vm.form.ph['permission'] = 'public'"><i class="fa fa-globe right"></i>
						<span class="text">Public</span></li>
					<li ng-click="vm.form.ph['permission'] = 'friends'"><i class="fa fa-users right"></i>
						<span class="text">Friends</span></li>
					<li ng-click="vm.form.ph['permission'] = 'onlyme'"><i class="fa fa-lock right"></i>
						<span class="text">Only Me</span></li>
				</ul>
				</span>
				<div class="ew-rounded-btn" ng-click="vm.savePhoneInfo()" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-floppy-o right"></i>
					<span class="text">Save</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.isAddPhoneInProgress = false;vm.form.ph['val']=''" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-ban right"></i>
					<span class="text">Cancel</span>
				</div>
				<span class="ds-btn alert alert-danger" ng-if="vm.phoneNumberErr">{{vm.phoneNumberErr}}</span>
			</div>
		</div>
	</form>
	<ul class="list-unstyled">
		<!-- Non Verified Phone Numbers -->
		<!-- Show non verified things only to owner -->
		<li ng-repeat="(key,val) in vm.phs_nv" ng-if="vm.canUserEditInfo()">
			<!-- Form for editing existing number -->
			<form class="form-horizontal" ng-if="vm.isEditingOfPhoneInProgress && key === vm.currentlyEditingPhoneNumber">
				<div class="form-group">
					<label for="phone" class="col-sm-2 control-label">Phone Number</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="phone" ng-model="vm.form.ph['val']" placeholder="Phone Number">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<span class="dropdown">
									  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
									  	{{vm.form.ph['permission'] || 'public'  | capitalize}}
									  	<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-click="vm.form.ph['permission'] = 'public'"><i class="fa fa-globe right"></i>
								<span class="text">Public</span></li>
							<li ng-click="vm.form.ph['permission'] = 'friends'"><i class="fa fa-users right"></i>
								<span class="text">Friends</span></li>
							<li ng-click="vm.form.ph['permission'] = 'onlyme'"><i class="fa fa-lock right"></i>
								<span class="text">Only Me</span></li>
						</ul>
						</span>
						<div class="ew-rounded-btn" ng-click="vm.savePhoneInfo()" style="display: inline-flex;font-size: 12px;">
							<i class="fa fa-floppy-o right"></i>
							<span class="text">Save</span>
						</div>
						<div class="ew-rounded-btn" ng-click="vm.isEditingOfPhoneInProgress = false;vm.form.ph['val']=''" style="display: inline-flex;font-size: 12px;">
							<i class="fa fa-ban right"></i>
							<span class="text">Cancel</span>
						</div>
						<span class="ds-btn alert alert-danger" ng-if="vm.phoneNumberErr">{{vm.phoneNumberErr}}</span>
					</div>
				</div>
			</form>
			<div style="font-size: 18px;padding:10px" ng-if="!vm.isEditingOfPhoneInProgress || key != vm.currentlyEditingPhoneNumber">
				{{key}}
				<span ng-if="vm.canUserEditInfo()">
				<div class="ew-rounded-btn"  ng-click="vm.editPhoneNumber(key)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
			</div>
			<div class="ew-rounded-btn" ng-click="vm.deletePhoneNumber(key)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-trash-o right"></i>
				<span class="text">Delete</span>
			</div>
			<span ng-if="vm.currentlyVerifingPhoneNumber === key"><input type="text" ng-model="vm.userEnteredPhoneOTP" placeholder="OTP code"></input></span>
			<span class="ds-btn save-btn" ng-if="!vm.isVerifingPhoneNumberStarted || vm.currentlyVerifingPhoneNumber != key" ng-click="vm.startVerifingPhoneNumber(key)">Verify</span>
			<span class="ds-btn save-btn" ng-if="vm.isVerifingPhoneNumberStarted && vm.currentlyVerifingPhoneNumber == key" ng-click="vm.confirmVerificationOfPhoneNumber(key)">Confirm</span>
			<span class="ds-btn alert alert-danger" ng-if="vm.isVerifingPhoneNumberStarted && vm.currentlyVerifingPhoneNumber == key && vm.otpPhoneError">{{vm.otpPhoneError}}</span>
			<span class="ds-btn alert alert-success" ng-if="vm.isVerifingPhoneNumberStarted && vm.currentlyVerifingPhoneNumber == key && vm.otpPhoneSuccess">{{vm.otpPhoneSuccess}}</span>
			</span>
			</div>
		</li>
		<!-- Verified Phone Numbers -->
		<!-- Show verfied phone number to only allowed user -->
		<li ng-repeat="(key,val) in vm.phs" ng-if="vm.shouldShowField(key,val)">
			<!-- Form for editing existing number -->
			<form class="form-horizontal" ng-if="vm.isEditingOfPhoneInProgress && key === vm.currentlyEditingPhoneNumber">
				<div class="form-group">
					<label for="phone" class="col-sm-2 control-label">Phone Number</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="phone" ng-model="vm.form.ph['val']" placeholder="Phone Number">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<span class="dropdown">
									  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
									  	{{vm.form.ph['permission'] || 'public'  | capitalize}}
									  	<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li ng-click="vm.form.ph['permission'] = 'public'"><i class="fa fa-globe right"></i>
								<span class="text">Public</span></li>
							<li ng-click="vm.form.ph['permission'] = 'friends'"><i class="fa fa-users right"></i>
								<span class="text">Friends</span></li>
							<li ng-click="vm.form.ph['permission'] = 'onlyme'"><i class="fa fa-lock right"></i>
								<span class="text">Only Me</span></li>
						</ul>
						</span>
						<div class="ew-rounded-btn" ng-click="vm.savePhoneInfo()" style="display: inline-flex;font-size: 12px;">
							<i class="fa fa-floppy-o right"></i>
							<span class="text">Save</span>
						</div>
						<div class="ew-rounded-btn" ng-click="vm.isEditingOfPhoneInProgress = false;vm.form.ph['val']=''" style="display: inline-flex;font-size: 12px;">
							<i class="fa fa-ban right"></i>
							<span class="text">Cancel</span>
						</div>
						<span class="ds-btn alert alert-danger" ng-if="vm.phoneNumberErr">{{vm.phoneNumberErr}}</span>
					</div>
				</div>
			</form>
			<div style="font-size: 18px;padding:10px" ng-if="(!vm.isEditingOfPhoneInProgress || key != vm.currentlyEditingPhoneNumber)">
				{{key}}
				<span ng-if="vm.canUserEditInfo()">
				<div class="ew-rounded-btn" ng-click="vm.editPhoneNumber(key)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
			</div>
			<div class="ew-rounded-btn" ng-click="vm.deletePhoneNumber(key)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-trash-o right"></i>
				<span class="text">Delete</span>
			</div>
			</span>
			</div>
		</li>
	</ul>
</fieldset>
<fieldset>
	<legend>
		Email Address
	</legend>
	<div class="nothing-to-show" ng-if="!vm.isAnyEmailAddressVisible() && !vm.canUserEditInfo()">
		Nothing to show.
	</div>
	<div class="add-btn" ng-click="vm.isAddEmailAddressInProgress = true;vm.isEditingOfEmailInProgress=false;vm.currentlyEditingEmailAddress = '';"
	 ng-if="!vm.isAddEmailAddressInProgress && vm.canUserEditInfo()">
		<i class="fa fa-plus"></i> Add an email
	</div>
	<!-- Add new Email address form -->
	<form class="form-horizontal" ng-if="vm.isAddEmailAddressInProgress">
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email address</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="email" ng-init="vm.form.email['val']='';" ng-model="vm.form.email['val']" placeholder="Email Address">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.form.email['permission'] || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
							  	<ul class="dropdown-menu">
							    	<li ng-click="vm.form.email['permission'] = 'public'">Public</li>
							    	<li ng-click="vm.form.email['permission'] = 'friends'">Friends</li>
							    	<li ng-click="vm.form.email['permission'] = 'onlyme'">Only me</li>
							  	</ul>
							</span>
							<span ng-if="!vm.addingEmailToDB" class="ds-btn save-btn" ng-click="vm.saveEmailInfo()">
								Save
							</span>
							<span ng-if="vm.addingEmailToDB" class="ds-btn save-btn">
								Saving...
							</span>
							<span class="ds-btn cancel-btn" ng-click="vm.isAddEmailAddressInProgress = false;vm.form.email['val']=''">Cancel</span>
							<span class="ds-btn alert alert-danger" ng-if="vm.emailAddressErr">{{vm.emailAddressErr}}</span>
						</div>
				  	</div>
				</form>
				<ul class="list-unstyled">
					<!-- Non Verified Emails -->
					<!-- Show Non verified emails to only owner -->
					<li ng-repeat="email in vm.userEmails" ng-show="email.otp_status === 'n'" ng-if="vm.canUserEditInfo()">
<!-- 						<form class="form-horizontal" ng-if="vm.isEditingOfEmailInProgress && key === vm.currentlyEditingEmailAddress">
						  	<div class="form-group">
						    	<label for="email" class="col-sm-2 control-label">Email address</label>
						    	<div class="col-sm-10">
						      		<input type="text" class="form-control" id="email" ng-model="vm.form.email['val']" placeholder="Address">
						    	</div>
						  	</div>
						  	<div class="form-group">
						  		<div class="col-sm-offset-2 col-sm-10">
						  			<span class="dropdown">
									  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
									  	{{vm.form.email['permission'] || 'public'  | capitalize}}
									  	<span class="caret"></span></button>
									  	<ul class="dropdown-menu">
									    	<li ng-click="vm.form.email['permission'] = 'public'">Public</li>
									    	<li ng-click="vm.form.email['permission'] = 'friends'">Friends</li>
									    	<li ng-click="vm.form.email['permission'] = 'onlyme'">Only me</li>
									  	</ul>
									</span>
									<span class="ds-btn save-btn" ng-click="vm.saveEmailInfo()">Save</span>
									<span class="ds-btn cancel-btn" ng-click="vm.isEditingOfEmailInProgress = false;vm.form.email['val']=''">Cancel</span>
									<span class="ds-btn alert alert-danger" ng-if="vm.emailAddressErr">{{vm.emailAddressErr}}</span>
								</div>
						  	</div>
						</form> -->
				    	<div style="font-size: 18px;padding:10px">
				    		{{email.email}}
				    		<span ng-if="vm.canUserEditInfo()">
					    		<!-- <span class="ds-btn save-btn" ng-click="vm.editEmailAddress(key)">Edit</span> -->
					    		<span class="ds-btn cancel-btn" ng-click="vm.deleteEmailAddress(email.email)">Delete</span>
					    		<span ng-if="vm.currentlyVerifingEmail === email.email"><input type="text" ng-model="vm.userEnteredOTP" placeholder="OTP code"></input></span>
					    		<span class="ds-btn save-btn" ng-if="!vm.isVerifingEmailStarted || vm.currentlyVerifingEmail != email.email" ng-click="vm.startVerifingEmailAddress(email.email)">
					    			<span ng-if="!vm.isSendingMail">Verify</span>
					    			<span ng-if="vm.isSendingMail">Sending OTP Mail...</span>
					    		</span>
					    		<span class="ds-btn save-btn" ng-if="vm.isVerifingEmailStarted && vm.currentlyVerifingEmail == email.email" ng-click="vm.confirmVerificationOfEmail(email.email)">Confirm</span>
					    		<span class="ds-btn alert alert-danger" ng-if="vm.isVerifingEmailStarted && vm.currentlyVerifingEmail == email.email && vm.otpError">{{vm.otpError}}</span>
					    		<span class="ds-btn alert alert-success" ng-if="vm.isVerifingEmailStarted && vm.currentlyVerifingEmail == email.email && vm.otpSuccess">{{vm.otpSuccess}}</span>
				    		</span>
				    	</div>
				    </li>
				    <!-- Verified Emails -->
				    <!-- Show Verified email to only allowed users -->
				    <li ng-repeat="email in vm.userEmails" ng-show="email.otp_status === 'y'"  ng-if="vm.shouldShowField(key,val)">
<!-- 						<form class="form-horizontal" ng-if="vm.isEditingOfEmailInProgress && key === vm.currentlyEditingEmailAddress">
						  	<div class="form-group">
						    	<label for="email" class="col-sm-2 control-label">Email address</label>
						    	<div class="col-sm-10">
						      		<input type="text" class="form-control" id="email" ng-model="vm.form.email['val']" placeholder="Address">
						    	</div>
						  	</div>
						  	<div class="form-group">
						  		<div class="col-sm-offset-2 col-sm-10">
						  			<span class="dropdown">
									  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
									  	{{vm.form.email['permission'] || 'public'  | capitalize}}
									  	<span class="caret"></span></button>
									  	<ul class="dropdown-menu">
									    	<li ng-click="vm.form.email['permission'] = 'public'">Public</li>
									    	<li ng-click="vm.form.email['permission'] = 'friends'">Friends</li>
									    	<li ng-click="vm.form.email['permission'] = 'onlyme'">Only me</li>
									  	</ul>
									</span>
									<span class="ds-btn save-btn" ng-click="vm.saveEmailInfo()">Save</span>
									<span class="ds-btn cancel-btn" ng-click="vm.isEditingOfEmailInProgress = false;vm.form.email['val']=''">Cancel</span>
									<span class="ds-btn alert alert-danger" ng-if="vm.emailAddressErr">{{vm.emailAddressErr}}</span>
								</div>
						  	</div>
						</form> -->
				    	<div style="font-size: 18px;padding:10px">
				    		{{email.email}}
				    		<span ng-if="vm.canUserEditInfo()">
					    		<!-- <span class="ds-btn save-btn" ng-click="vm.editEmailAddress(key)">Edit</span> -->
					    		<span class="ds-btn cancel-btn" ng-click="vm.deleteEmailAddress(key)">Delete</span>
				    		</span>
				    	</div>
				    </li>
				</ul>
			</fieldset>
			<div class="ew-small-modal-wrapper" ng-if="vm.showEditConfirmDialogBox">
					<div class="ew-modal">
						<div class="msg">
							you want to edit the form?
						</div>
						<div class="ew-rounded-btn" ng-click="vm.isEditingOfEmailInProgress = false;vm.form.email['val']=''" style="display: inline-flex;font-size: 12px;">
							<i class="fa fa-ban right"></i>
							<span class="text">Cancel</span>
						</div>
						<span class="ds-btn alert alert-danger" ng-if="vm.emailAddressErr">{{vm.emailAddressErr}}</span>
					</div>
				</div>
			</form>
			<div style="font-size: 18px;padding:10px" ng-if="!vm.isEditingOfEmailInProgress || key != vm.currentlyEditingEmailAddress">
				{{key}}
				<span ng-if="vm.canUserEditInfo()">
					    		
								<!-- <div class="ew-rounded-btn" ng-click="vm.editEmailAddress(key)"
				 style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
			</div> -->
			<!-- <div class="ew-rounded-btn" ng-click="vm.deleteEmailAddress(key)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-trash-o right"></i>
				<span class="text">Delete</span>
			</div> -->
			</span>
			</div>
		</li>
	</ul>
</fieldset>
<div class="ew-small-modal-wrapper" ng-if="vm.showEditConfirmDialogBox">
	<div class="ew-modal">
		<div class="msg">
			you want to edit the form?
		</div>
		<div class="action-btns action-btns-flex-end">
			<div class="ew-rounded-btn" ng-click="vm.confirmEditBox()" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-pencil right"></i>
				<span class="text">Edit</span>
			</div>
			<div class="ew-rounded-btn" ng-click="vm.cancelEditBox()" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-ban right"></i>
				<span class="text">Cancel</span>
			</div>
		</div>
	</div>
</div>
</div>


<!-- General work tab -->
<div ng-if="vm.activeFormInnerTab === 'general-work'">
	<!-- Add New Interested Course -->
	<fieldset>
		<legend>
			Interested Course
		</legend>
		<div class="nothing-to-show" ng-if="!vm.isAnyInterestedCourseInfoVisible() && !vm.canUserEditInfo()">
			Nothing to show.
		</div>
		<div class="add-btn" ng-click="vm.resetCourseInfo();vm.isAddInterestedCourseInProgress = true;" ng-if="!vm.isAddInterestedCourseInProgress && vm.canUserEditInfo()">
			<i class="fa fa-plus"></i> Add your interested course
		</div>
		<!-- Add new work place form -->
		<form class="form-horizontal" ng-if="vm.isAddInterestedCourseInProgress">
			<div class="form-group comp-name">
				<label for="coursename" class="col-sm-2 control-label">Course</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="vm.interestedCourseForm.crs_nm">
								<option value="">Select A Course</option>
								<option value="NodeJS">NodeJS</option>
								<option value="AngularJs">AngularJs</option>
								<option value="Big DATA">Big DATA</option>
								<option value="Informatica">Informatica</option>
								<option value="SAP">SAP</option>
								<option value="Oracle Apps">Oracle Apps</option>
								<option value="Oracle Certification">Oracle Certification</option>
							</select>
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.interestedCourseForm.crs_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li ng-click="vm.interestedCourseForm.crs_flg = 'public'"><i class="fa fa-globe right"></i>
							<span class="text">Public</span></li>
						<li ng-click="vm.interestedCourseForm.crs_flg = 'friends'"><i class="fa fa-users right"></i>
							<span class="text">Friends</span></li>
						<li ng-click="vm.interestedCourseForm.crs_flg = 'onlyme'"><i class="fa fa-lock right"></i>
							<span class="text">Only Me</span></li>
					</ul>
					</span>
					<div class="ew-rounded-btn" ng-click="vm.saveInterestedCourseInfo('alreadySeletedinterestedCourseAdd', 'noSeletedinterestedCourseAdd')"
					 style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetInterestedCourseInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
					<span class="ds-btn alert alert-danger" ng-if="vm.courseErr">{{vm.courseErr}}</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.alreadySeletedinterestedCourseAdd">
								Already Seletced
							</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.noSeletedinterestedCourseAdd">
								Please Select A Course
							</span>
				</div>
			</div>
		</form>
	</fieldset>

	<!-- Show list of added courses -->
	<div class="compy-individual form-horizontal" ng-repeat="course in vm.interestedCourses" ng-if="vm.shouldShowField(true,course.crs_flg)">
		<div class="wrap" ng-if="!vm.isEditInterestedCourseInProgress || course.usr_crs_sk != vm.currentlyEditingInterestedCourseInfo">
			<div class="pull-right" ng-if="vm.canUserEditInfo()">
				<div class="ew-rounded-btn" ng-click="vm.editInterestedCourseInfo(course.usr_crs_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.deleteInterestedCourseInfo(course.usr_crs_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-trash-o right"></i>
					<span class="text">Delete</span>
				</div>
			</div>
			<div class="main-head">
				{{course.crs_nm}}
			</div>
		</div>
		<!-- Edit school form -->
		<!-- Show ony for currently editing edu info -->
		<form class="form-horizontal" ng-if="vm.isEditInterestedCourseInProgress && course.usr_crs_sk === vm.currentlyEditingInterestedCourseInfo">
			<div class="form-group comp-name">
				<label for="coursename" class="col-sm-2 control-label">Course</label>
				<div class="col-sm-10">
					<select class="form-control" ng-model="vm.interestedCourseForm.crs_nm">
								<option value="">Select A Course</option>
								<option value="NodeJS">NodeJS</option>
								<option value="AngularJs">AngularJs</option>
								<option value="Big DATA">Big DATA</option>
								<option value="Informatica">Informatica</option>
								<option value="SAP">SAP</option>
								<option value="Oracle Apps">Oracle Apps</option>
								<option value="Oracle Certification">Oracle Certification</option>
							</select>
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.interestedCourseForm.crs_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li ng-click="vm.interestedCourseForm.crs_flg = 'public'"><i class="fa fa-globe right"></i>
							<span class="text">Public</span></li>
						<li ng-click="vm.interestedCourseForm.crs_flg = 'friends'"><i class="fa fa-users right"></i>
							<span class="text">Friends</span></li>
						<li ng-click="vm.interestedCourseForm.crs_flg = 'onlyme'"><i class="fa fa-lock right"></i>
							<span class="text">Only Me</span></li>
					</ul>
					</span>
					<div class="ew-rounded-btn" ng-click="vm.saveInterestedCourseInfo('alreadySeletedinterestedCourseEdit', 'noSeletedinterestedCourseEdit')"
					 style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetInterestedCourseInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
					<span class="ds-btn alert alert-danger" ng-if="vm.courseErr">{{vm.courseErr}}</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.alreadySeletedinterestedCourseEdit">
								Already Seletced
							</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.noSeletedinterestedCourseEdit">
								Please Select A Course
							</span>
				</div>
			</div>

		</form>
	</div>

	<!-- Add New WorkPlace Button/Form -->
	<fieldset>
		<legend>
			Work
		</legend>
		<div class="nothing-to-show" ng-if="!vm.isAnyWorkInfoVisible() && !vm.canUserEditInfo()">
			Nothing to show.
		</div>
		<div class="add-btn" ng-click="vm.resetWorkInfo();vm.isAddWorkPlaceInProgress = true;" ng-if="!vm.isAddWorkPlaceInProgress && vm.canUserEditInfo()">
			<i class="fa fa-plus"></i> Add a Workplace
		</div>
		<!-- Add new work place form -->
		<form class="form-horizontal" ng-if="vm.isAddWorkPlaceInProgress">
			<div class="form-group comp-name">
				<label for="compnyname" class="col-sm-2 control-label">Company</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="compnyname" ng-model="vm.workForm.comp_nm" placeholder="Company Name">
				</div>
			</div>
			<div class="form-group role">
				<label for="role" class="col-sm-2 control-label">Role</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="role" ng-model="vm.workForm.role" placeholder="Role">
				</div>
			</div>
			<div class="form-group location">
				<span>
		<label for="country" class="col-sm-2 control-label"> Country</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCountry = vm.workForm.country" on-select="vm.getCountryList($item, 'cities_work_exp', 'selectedCity')" ng-model="vm.selectedCountry" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select Country..." style="box-shadow: none!important">
					<span ng-bind="vm.selectedCountry" style="box-shadow: none!important"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.cntry_id as item in (vm.countries | filter: $select.search) track by $index">
					<span ng-bind="item.cntry_id" style="box-shadow: none!important"></span>
				</ui-select-choices>
			</ui-select>
		</div>
			<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.workForm.ctry_flg || 'public'  | capitalize }}
		  	<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-click="vm.workForm.ctry_flg = 'public'"><i class="fa fa-globe right"></i>
					<span class="text">Public</span></li>
				<li ng-click="vm.workForm.ctry_flg = 'friends'"><i class="fa fa-users right"></i>
					<span class="text">Friends</span></li>
				<li ng-click="vm.workForm.ctry_flg = 'onlyme'"><i class="fa fa-lock right"></i>
					<span class="text">Only Me</span></li>
			</ul>
			</span>
			</span>
</div>

<div class="form-group location">
	<span>
		<label for="city" class="col-sm-2 control-label"> City</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCity = vm.workForm.city" ng-model="vm.selectedCity" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select City...">
					<span ng-bind="vm.selectedCity"></span>
	</ui-select-match>
	<ui-select-choices repeat="item.city as item in (vm.cities_work_exp | filter: $select.search) track by $index">
		<span ng-bind="item.city"></span>
	</ui-select-choices>
	</ui-select>
</div>
<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.workForm.cty_flg || 'public'   | capitalize}}
		  	<span class="caret"></span></button>
<ul class="dropdown-menu">
	<li ng-click="vm.workForm.cty_flg = 'public'"><i class="fa fa-globe right"></i>
		<span class="text">Public</span></li>
	<li ng-click="vm.workForm.cty_flg = 'friends'"><i class="fa fa-users right"></i>
		<span class="text">Friends</span></li>
	<li ng-click="vm.workForm.cty_flg = 'onlyme'"><i class="fa fa-lock right"></i>
		<span class="text">Only Me</span></li>
</ul>
</span>
</span>
</div>
<div class="form-group location">
	<span>
		<label for="zip_cd" class="col-sm-2 control-label"> Zip Code</label>	
		<div class="col-sm-8">
		<input type="text" class="form-control" name="zip_cd" id="zip_cd" ng-model="vm.workForm.zip_cd"  required=""/></div>
			<span class="dropdown col-sm-2">
		  		<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.workForm.zip_cd_flg || 'public'  | capitalize }}
		  		<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-click="vm.workForm.zip_cd_flg = 'public'"><i class="fa fa-globe right"></i>
			<span class="text">Public</span></li>
		<li ng-click="vm.workForm.zip_cd_flg = 'friends'"><i class="fa fa-users right"></i>
			<span class="text">Friends</span></li>
		<li ng-click="vm.workForm.zip_cd_flg = 'onlyme'"><i class="fa fa-lock right"></i>
			<span class="text">Only Me</span></li>
	</ul>
	</span>
	</span>
</div>
<div class="form-group present">
	<div class="col-sm-10 col-sm-offset-2">
		<input type="checkbox" id="wrk_present" ng-model="vm.workForm.to_dt_present"></input>Currenty Work Here
	</div>
</div>
<div class="form-group input frm-date">
	<label for="dob" class="col-sm-2 control-label"> From</label>
	<div class="col-sm-2" ng-if="!vm.workForm.frm_dt_present">
		<datepicker date-format="dd/MM/yyyy">
			<input ng-model="vm.workForm.frm_dt" type="text" ng-change="vm.dateSelection(vm.workForm.frm_dt)" placeholder="DD/MM/YYYY" />
		</datepicker>
	</div>
</div>
<div class="form-group input to-date">
	<label for="dob" class="col-sm-2 control-label"> To</label>
	<div class="col-sm-2" ng-if="!vm.workForm.to_dt_present">
		<datepicker date-format="dd/MM/yyyy" date-min-limit="{{vm.setMinLimit}}">
			<input ng-model="vm.workForm.to_dt" type="text" placeholder="DD/MM/YYYY"/>
		</datepicker>
	</div>
	<label for="" ng-if="vm.workForm.to_dt_present" class="col-sm-2 control-label">Present</label>
</div>
<div class="form-group desc">
	<label for="description" class="col-sm-2 control-label">Description</label>
	<div class="col-sm-10">
		<textarea class="form-control" rows="6" ng-model="vm.workForm.comp_desc" placeholder="description"></textarea>
	</div>
</div>
<div class="form-group btns">
	<div class="col-sm-offset-2 col-sm-10">
		<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.workForm.work_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-click="vm.workForm.work_flg = 'public'"><i class="fa fa-globe right"></i>
				<span class="text">Public</span></li>
			<li ng-click="vm.workForm.work_flg = 'friends'"><i class="fa fa-users right"></i>
				<span class="text">Friends</span></li>
			<li ng-click="vm.workForm.work_flg = 'onlyme'"><i class="fa fa-lock right"></i>
				<span class="text">Only Me</span></li>
		</ul>
		</span>
		<div class="ew-rounded-btn" ng-click="vm.saveWorkInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-floppy-o right"></i>
			<span class="text">Save</span>
		</div>
		<div class="ew-rounded-btn" ng-click="vm.resetWorkInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-ban right"></i>
			<span class="text">Cancel</span>
		</div>
		<span class="ds-btn alert alert-danger" ng-if="vm.companyErr">{{vm.companyErr}}</span>
	</div>
</div>
</form>
</fieldset>
<!-- Show this info to only allowed user -->
<div class="compy-individual form-horizontal" ng-repeat="workComp in vm.workComps" ng-if="vm.shouldShowField(true,workComp.work_flg)">
	<div class="wrap" ng-if="!vm.isEditWorkPlaceInProgress || workComp.usr_wrk_sk != vm.currentlyEditingWorkInfo">
		<div class="pull-right" ng-if="vm.canUserEditInfo()">
			<div class="ew-rounded-btn" ng-click="vm.editWorkInfo(workComp.usr_wrk_sk)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-pencil right"></i>
				<span class="text">Edit</span>
			</div>
			<div class="ew-rounded-btn" ng-click="vm.deleteWorkInfo(workComp.usr_wrk_sk)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-trash-o right"></i>
				<span class="text">Delete</span>
			</div>
		</div>
		<div class="main-head">
			{{workComp.comp_nm}}
		</div>
		<div class="sub-head">
			{{workComp.role}} • {{workComp.frm_dt}} to {{workComp.to_dt}} • {{workComp.loc}}
		</div>
	</div>
	<!-- Edit workplace form -->
	<!-- Show ony for currently editing work info -->
	<form class="form-horizontal" ng-if="vm.isEditWorkPlaceInProgress && workComp.usr_wrk_sk === vm.currentlyEditingWorkInfo">
		<div class="form-group comp-name">
			<label for="compnyname" class="col-sm-2 control-label">Company</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="compnyname" ng-model="vm.workForm.comp_nm" placeholder="Company Name">
			</div>
		</div>
		<div class="form-group role">
			<label for="role" class="col-sm-2 control-label">Role</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="role" ng-model="vm.workForm.role" placeholder="Role">
			</div>
		</div>
		<div class="form-group location">
			<span>
		<label for="country" class="col-sm-2 control-label"> Country</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCountry = vm.workForm.country" on-select="vm.getCountryList($item, cities_work_exp,  'selectedCity')" ng-model="vm.selectedCountry" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select Country...">
					<span ng-bind="vm.selectedCountry"></span>
			</ui-select-match>
			<ui-select-choices repeat="item.cntry_id as item in (vm.countries | filter: $select.search) track by $index">
				<span ng-bind="item.cntry_id"></span>
			</ui-select-choices>
			</ui-select>
		</div>
		<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.workForm.ctry_flg || 'public'  | capitalize }}
		  	<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-click="vm.workForm.ctry_flg = 'public'"><i class="fa fa-globe right"></i>
				<span class="text">Public</span></li>
			<li ng-click="vm.workForm.ctry_flg = 'friends'"><i class="fa fa-users right"></i>
				<span class="text">Friends</span></li>
			<li ng-click="vm.workForm.ctry_flg = 'onlyme'"><i class="fa fa-lock right"></i>
				<span class="text">Only Me</span></li>
		</ul>
		</span>
		</span>
</div>

<div class="form-group location">
	<span>
		<label for="city" class="col-sm-2 control-label"> City</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCity = vm.workForm.city" ng-model="vm.selectedCity" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select City...">
					<span ng-bind="vm.selectedCity"></span>
	</ui-select-match>
	<ui-select-choices repeat="item.city as item in (vm.cities_work_exp | filter: $select.search) track by $index">
		<span ng-bind="item.city"></span>
	</ui-select-choices>
	</ui-select>
</div>
<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.workForm.cty_flg || 'public'   | capitalize}}
		  	<span class="caret"></span></button>
<ul class="dropdown-menu">
	<li ng-click="vm.workForm.cty_flg = 'public'"><i class="fa fa-globe right"></i>
		<span class="text">Public</span></li>
	<li ng-click="vm.workForm.cty_flg = 'friends'"><i class="fa fa-users right"></i>
		<span class="text">Friends</span></li>
	<li ng-click="vm.workForm.cty_flg = 'onlyme'"><i class="fa fa-lock right"></i>
		<span class="text">Only Me</span></li>
</ul>
</span>
</span>
</div>
<div class="form-group location">
	<span>
		<label for="zip_cd" class="col-sm-2 control-label"> Zip Code</label>	
		<div class="col-sm-8">
		<input type="text" class="form-control" name="zip_cd" id="zip_cd" ng-model="vm.workForm.zipcode"  required=""/></div>
			<span class="dropdown col-sm-2">
		  		<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.workForm.zip_cd_flg || 'public'  | capitalize }}
		  		<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-click="vm.workForm.zip_cd_flg = 'public'"><i class="fa fa-globe right"></i>
			<span class="text">Public</span></li>
		<li ng-click="vm.workForm.zip_cd_flg = 'friends'"><i class="fa fa-users right"></i>
			<span class="text">Friends</span></li>
		<li ng-click="vm.workForm.zip_cd_flg = 'onlyme'"><i class="fa fa-lock right"></i>
			<span class="text">Only Me</span></li>
	</ul>
	</span>
	</span>
</div>
<div class="form-group present">
	<div class="col-sm-10 col-sm-offset-2">
		<input type="checkbox" id="wrk_present" ng-model="vm.workForm.to_dt_present"></input>Currenty Work Here
	</div>
</div>
<div class="form-group input frm-date">
	<label for="dob" class="col-sm-2 control-label"> From</label>
	<div class="col-sm-2" ng-if="!vm.workForm.frm_dt_present">
		<datepicker date-format="dd/MM/yyyy">
			<input ng-model="vm.workForm.frm_dt" type="text" ng-change="vm.dateSelection(vm.workForm.frm_dt)" placeholder="DD/MM/YYYY"/>
		</datepicker>
	</div>
</div>
<div class="form-group input to-date">
	<label for="dob" class="col-sm-2 control-label"> To</label>
	<div class="col-sm-2" ng-if="!vm.workForm.to_dt_present">
		<datepicker date-format="dd/MM/yyyy" date-min-limit="{{vm.setMinLimit}}">
			<input ng-model="vm.workForm.to_dt" type="text" placeholder="DD/MM/YYYY"/>
		</datepicker>
	</div>
	<label for="" ng-if="vm.workForm.to_dt_present" class="col-sm-2 control-label">Present</label>
</div>
<div class="form-group desc">
	<label for="description" class="col-sm-2 control-label">Description</label>
	<div class="col-sm-10">
		<textarea class="form-control" rows="6" ng-model="vm.workForm.comp_desc" placeholder="description"></textarea>
	</div>
</div>
<div class="form-group btns">
	<div class="col-sm-offset-2 col-sm-10">
		<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.workForm.work_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-click="vm.workForm.work_flg = 'public'"><i class="fa fa-globe right"></i>
				<span class="text">Public</span></li>
			<li ng-click="vm.workForm.work_flg = 'friends'"><i class="fa fa-users right"></i>
				<span class="text">Friends</span></li>
			<li ng-click="vm.workForm.work_flg = 'onlyme'"><i class="fa fa-lock right"></i>
				<span class="text">Only Me</span></li>
		</ul>
		</span>
		<div class="ew-rounded-btn" ng-click="vm.saveWorkInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-floppy-o right"></i>
			<span class="text">Save</span>
		</div>
		<div class="ew-rounded-btn" ng-click="vm.resetWorkInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-ban right"></i>
			<span class="text">Cancel</span>
		</div>
		<span class="ds-btn alert alert-danger" ng-if="vm.companyErr">{{vm.companyErr}}</span>
	</div>
</div>
</form>
</div>
</div>

<!-- general education tab -->
<div ng-if="vm.activeFormInnerTab === 'general-education'">
	<!-- Add New Exam -->
	<fieldset>
		<legend>
			Exams
		</legend>
		<div class="nothing-to-show" ng-if="!vm.isAnyExamInfoVisible() && !vm.canUserEditInfo()">
			Nothing to show.
		</div>
		<div class="add-btn" ng-click="vm.resetExamInfo();vm.isAddExamInProgress = true;" ng-if="!vm.isAddExamInProgress && vm.canUserEditInfo()">
			<i class="fa fa-plus"></i> Add Exams you are preparing for
		</div>
		<!-- Add new work place form -->
		<form class="form-horizontal" ng-if="vm.isAddExamInProgress">
			<div class="form-group exam-name">
				<label for="examname" class="col-sm-2 control-label">Exam</label>
				<div class="col-sm-4">
					<select class="form-control" ng-init="vm.examForm.exm_nm = 'IIT JEE'" ng-model="vm.examForm.exm_nm">
								<option value="IIT JEE">IIT JEE</option>
								<option value="NEET">NEET</option>
								<option value="AIIMS">AIIMS</option>
								<option value="EAMCET">EAMCET</option>
								<option value="AIPMT">AIPMT</option>
							</select>
				</div>
				<label for="examname" class="col-sm-2 control-label">Target Year</label>
				<div class="col-sm-4">
					<select class="form-control" ng-model="vm.examForm.tgt_yr">
								<option value="">Select Year</option>
								<option ng-repeat="_ in ((_ = []) && (_.length=20) && _) track by $index">{{$index + 2016}}</option>
							</select>
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.examForm.exm_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li ng-click="vm.examForm.exm_flg = 'public'"><i class="fa fa-globe right"></i>
							<span class="text">Public</span></li>
						<li ng-click="vm.examForm.exm_flg = 'friends'"><i class="fa fa-users right"></i>
							<span class="text">Friends</span></li>
						<li ng-click="vm.examForm.exm_flg = 'onlyme'"><i class="fa fa-lock right"></i>
							<span class="text">Only Me</span></li>
					</ul>
					</span>
					<div class="ew-rounded-btn" ng-click="vm.saveExamInfo('noSelectedExamAdd', 'noSelectedTargetYearAdd')" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetExamInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
					<span class="ds-btn alert alert-danger" ng-if="vm.examErr">{{vm.examErr}}</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.noSelectedExamAdd">
								Please Select A Exam
							</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.noSelectedTargetYearAdd">
								Please Select A Target Year
							</span>
				</div>
			</div>
		</form>
	</fieldset>
	<!-- Show list of added exams -->
	<div class="compy-individual form-horizontal" ng-repeat="exam in vm.exams" ng-if="vm.shouldShowField(true,exam.exm_flg)">
		<div class="wrap" ng-if="!vm.isEditExamInProgress || exam.usr_exm_sk != vm.currentlyEditingExamInfo">
			<div class="pull-right" ng-if="vm.canUserEditInfo()">
				<div class="ew-rounded-btn" ng-click="vm.editExamInfo(exam.usr_exm_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.deleteExamInfo(exam.usr_exm_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-trash-o right"></i>
					<span class="text">Delete</span>
				</div>
			</div>
			<div class="main-head">
				Targeting {{exam.exm_nm}} for {{exam.tgt_yr}}
			</div>
		</div>
		<!-- Edit school form -->
		<!-- Show ony for currently editing edu info -->
		<form class="form-horizontal" ng-if="vm.isEditExamInProgress && exam.usr_exm_sk === vm.currentlyEditingExamInfo">
			<div class="form-group exam-name">
				<label for="examname" class="col-sm-2 control-label">Exam</label>
				<div class="col-sm-4">
					<select class="form-control" ng-model="vm.examForm.exm_nm">
								<option value="IIT JEE">IIT JEE</option>
								<option value="NEET">NEET</option>
								<option value="AIIMS">AIIMS</option>
								<option value="EAMCET">EAMCET</option>
								<option value="AIPMT">AIPMT</option>
							</select>
				</div>
				<label for="examname" class="col-sm-2 control-label">Target Year</label>
				<div class="col-sm-4">
					<select class="form-control" ng-model="vm.examForm.tgt_yr">
								<option value="">Select Year</option>
								<option value="{{$index + 2016}}" ng-repeat="_ in ((_ = []) && (_.length=20) && _) track by $index">{{$index + 2016}}</option>
							</select>
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.examForm.exm_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li ng-click="vm.examForm.exm_flg = 'public'"><i class="fa fa-globe right"></i>
							<span class="text">Public</span></li>
						<li ng-click="vm.examForm.exm_flg = 'friends'"><i class="fa fa-users right"></i>
							<span class="text">Friends</span></li>
						<li ng-click="vm.examForm.exm_flg = 'onlyme'"><i class="fa fa-lock right"></i>
							<span class="text">Only Me</span></li>
					</ul>
					</span>
					<div class="ew-rounded-btn" ng-click="vm.saveExamInfo('noSelectedExamEdit', 'noSelectedTargetYearEdit')" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetExamInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
					<span class="ds-btn alert alert-danger" ng-if="vm.examErr">{{vm.examErr}}</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.noSelectedExamEdit">
								Please Select A Exam
							</span>
					<span class="action-btn pull-right ds-btn cancel-btn" ng-if="vm.noSelectedTargetYearEdit">
								Please Select A Target Year
							</span>
				</div>
			</div>
		</form>
	</div>
	<!-- Add New Button / Form -->
	<fieldset>
		<legend>
			School/College
		</legend>
		<div class="nothing-to-show" ng-if="!vm.isAnyEduInfoVisible() && !vm.canUserEditInfo()">
			Nothing to show.
		</div>
		<div class="add-btn" ng-click="vm.resetEduInfo();vm.isAddSchoolInProgress = true;" ng-if="!vm.isAddSchoolInProgress && vm.canUserEditInfo()">
			<i class="fa fa-plus"></i> Add a School/College
		</div>
		<!-- Add new school form -->
		<form class="form-horizontal" ng-if="vm.isAddSchoolInProgress">
			<div class="form-group comp-name">
				<label for="compnyname" class="col-sm-2 control-label">Institute Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="compnyname" ng-model="vm.eduForm.edu_nm" placeholder="Institute Name">
				</div>
			</div>
			<div class="form-group role">
				<label for="role" class="col-sm-2 control-label">Level</label>
				<div class="col-sm-10">
					<!-- <input type="text" class="form-control" id="role"ng-model="vm.eduForm.edu_lvl" placeholder="Ex. Class 11/B.Tech/Graduate/Master"> -->
					<select class="form-control" ng-model="vm.eduForm.edu_lvl">
				      			<option value="">Select Your Grade</option>
				      			<option value="Class {{$index+1}}" ng-repeat="_ in ((_ = []) && (_.length=12) && _) track by $index">Class {{$index+1}}</option>
				      			<option value="Graduate">Graduate</option>
				      			<option value="Master">Master</option>
				      			<option value="Research">Research</option>
				      		</select>
				</div>
			</div>
			<div class="form-group location">
				<span>
		<label for="country" class="col-sm-2 control-label"> Country</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCountry = vm.eduForm.country" on-select="vm.getCountryList($item, 'cities_edu_ref',  'selectedCity')" ng-model="vm.selectedCountry" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select Country...">
					<span ng-bind="vm.selectedCountry"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.cntry_id as item in (vm.countries | filter: $select.search) track by $index">
					<span ng-bind="item.cntry_id"></span>
				</ui-select-choices>
				</ui-select>
			</div>
			<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.eduForm.ctry_flg || 'public'  | capitalize }}
		  	<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-click="vm.eduForm.ctry_flg = 'public'"><i class="fa fa-globe right"></i>
					<span class="text">Public</span></li>
				<li ng-click="vm.eduForm.ctry_flg = 'friends'"><i class="fa fa-users right"></i>
					<span class="text">Friends</span></li>
				<li ng-click="vm.eduForm.ctry_flg = 'onlyme'"><i class="fa fa-lock right"></i>
					<span class="text">Only Me</span></li>
			</ul>
			</span>
			</span>
</div>

<div class="form-group location">
	<span>
		<label for="city" class="col-sm-2 control-label"> City</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCity = vm.eduForm.city" ng-model="vm.selectedCity" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select City...">
					<span ng-bind="vm.selectedCity"></span>
	</ui-select-match>
	<ui-select-choices repeat="item.city as item in (vm.cities_edu_ref | filter: $select.search) track by $index">
		<span ng-bind="item.city"></span>
	</ui-select-choices>
	</ui-select>
</div>
<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.eduForm.cty_flg || 'public'   | capitalize}}
		  	<span class="caret"></span></button>
<ul class="dropdown-menu">
	<li ng-click="vm.eduForm.cty_flg = 'public'"><i class="fa fa-globe right"></i>
		<span class="text">Public</span></li>
	<li ng-click="vm.eduForm.cty_flg = 'friends'"><i class="fa fa-users right"></i>
		<span class="text">Friends</span></li>
	<li ng-click="vm.eduForm.cty_flg = 'onlyme'"><i class="fa fa-lock right"></i>
		<span class="text">Only Me</span></li>
</ul>
</span>
</span>
</div>

<div class="form-group location">
	<span>
		<label for="zip_cd" class="col-sm-2 control-label"> Zip Code</label>	
		<div class="col-sm-8">
				<input type="text" class="form-control" name="zip_cd" id="zip_cd" ng-model="vm.eduForm.zipcode"  required=""/>
		</div>
		<span class="dropdown col-sm-2">
	  		<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.eduForm.zip_cd_flg || 'public'  | capitalize }}
	  		<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-click="vm.eduForm.zip_cd_flg = 'public'"><i class="fa fa-globe right"></i>
			<span class="text">Public</span></li>
		<li ng-click="vm.eduForm.zip_cd_flg = 'friends'"><i class="fa fa-users right"></i>
			<span class="text">Friends</span></li>
		<li ng-click="vm.eduForm.zip_cd_flg = 'onlyme'"><i class="fa fa-lock right"></i>
			<span class="text">Only Me</span></li>
	</ul>
	</span>
	</span>
</div>
<div class="form-group present">
	<div class="col-sm-10 col-sm-offset-2">
		<input type="checkbox" ng-model="vm.eduForm.to_dt_present"></input>Currenty Studying here
	</div>
</div>

<div class="form-group input frm-date">
	<label for="dob" class="col-sm-2 control-label"> From </label>
	<div class="col-sm-2" ng-if="!vm.eduForm.frm_dt_present">
		<datepicker date-format="dd/MM/yyyy">
			<input ng-model="vm.eduForm.frm_dt" type="text" ng-change="vm.dateSelection(vm.eduForm.frm_dt)" placeholder="DD/MM/YYYY"/>
		</datepicker>
	</div>
</div>
<div class="form-group input to-date">
	<label for="dob" class="col-sm-2 control-label"> To</label>
	<div class="col-sm-2" ng-if="!vm.eduForm.to_dt_present">
		<datepicker date-format="dd/MM/yyyy" date-min-limit="{{vm.setMinLimit}}">
			<input ng-model="vm.eduForm.to_dt" type="text" placeholder="DD/MM/YYYY" />
		</datepicker>
	</div>
	<label class="col-sm-2 control-label" ng-if="vm.eduForm.to_dt_present">Present</label>
</div>
<div class="form-group desc">
	<label for="description" class="col-sm-2 control-label">Description</label>
	<div class="col-sm-10">
		<textarea class="form-control" rows="6" ng-model="vm.eduForm.edu_desc" placeholder="description"></textarea>
	</div>
</div>
<div class="form-group btns">
	<div class="col-sm-offset-2 col-sm-10">
		<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.eduForm.edu_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-click="vm.eduForm.edu_flg = 'public'"><i class="fa fa-globe right"></i>
				<span class="text">Public</span></li>
			<li ng-click="vm.eduForm.edu_flg = 'friends'"><i class="fa fa-users right"></i>
				<span class="text">Friends</span></li>
			<li ng-click="vm.eduForm.edu_flg = 'onlyme'"><i class="fa fa-lock right"></i>
				<span class="text">Only Me</span></li>
		</ul>
		</span>
		<div class="ew-rounded-btn" ng-click="vm.saveEduInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-floppy-o right"></i>
			<span class="text">Save</span>
		</div>
		<div class="ew-rounded-btn" ng-click="vm.resetEduInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-ban right"></i>
			<span class="text">Cancel</span>
		</div>
		<span class="ds-btn alert alert-danger" ng-if="vm.eduErr">{{vm.eduErr}}</span>
	</div>
</div>
</form>
</fieldset>
<div class="compy-individual form-horizontal" ng-repeat="eduComp in vm.eduComps" ng-if="vm.shouldShowField(true,eduComp.edu_flg)">
	<div class="wrap" ng-if="!vm.isEditSchoolInProgress || eduComp.usr_wrk_sk != vm.currentlyEditingEduInfo">
		<div class="pull-right" ng-if="vm.canUserEditInfo()">
			<div class="ew-rounded-btn" ng-click="vm.editEduInfo(eduComp.usr_wrk_sk)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-pencil right"></i>
				<span class="text">Edit</span>
			</div>
			<div class="ew-rounded-btn" ng-click="vm.deleteEduInfo(eduComp.usr_wrk_sk)" style="display: inline-flex;font-size: 12px;">
				<i class="fa fa-trash-o right"></i>
				<span class="text">Delete</span>
			</div>
		</div>
		<div class="main-head">
			{{eduComp.edu_nm}}
		</div>
		<div class="sub-head">
			{{eduComp.edu_lvl}} • {{eduComp.frm_dt}} to {{eduComp.to_dt}} • {{eduComp.loc}}
		</div>
	</div>
	<!-- Edit school form -->
	<!-- Show ony for currently editing edu info -->
	<form class="form-horizontal" ng-if="vm.isEditSchoolInProgress && eduComp.usr_wrk_sk === vm.currentlyEditingEduInfo">
		<div class="form-group comp-name">
			<label for="compnyname" class="col-sm-2 control-label">Institute Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="compnyname" ng-model="vm.eduForm.edu_nm" placeholder="Institute Name">
			</div>
		</div>
		<div class="form-group role">
			<label for="role" class="col-sm-2 control-label">Level</label>
			<div class="col-sm-10">
				<!-- <input type="text" class="form-control" id="role"ng-model="vm.eduForm.edu_lvl" placeholder="Ex. Class 11/B.Tech/Graduate/Master"> -->
				<select class="form-control" ng-model="vm.eduForm.edu_lvl">
				      			<option value="">Select Your Grade</option>
				      			<option value="Class {{$index+1}}" ng-repeat="_ in ((_ = []) && (_.length=12) && _) track by $index">Class {{$index+1}}</option>
				      			<option value="Graduate">Graduate</option>
				      			<option value="Master">Master</option>
				      			<option value="Research">Research</option>
				      		</select>
			</div>
		</div>
		<div class="form-group location">
			<span>
		<label for="country" class="col-sm-2 control-label"> Country</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCountry = vm.eduForm.country" on-select="vm.getCountryList($item, 'cities_edu_ref',  'selectedCity')" ng-model="vm.selectedCountry" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select Country...">
					<span ng-bind="vm.selectedCountry"></span>
			</ui-select-match>
			<ui-select-choices repeat="item.cntry_id as item in (vm.countries | filter: $select.search) track by $index">
				<span ng-bind="item.cntry_id"></span>
			</ui-select-choices>
			</ui-select>
		</div>
		<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.eduForm.ctry_flg || 'public'  | capitalize }}
		  	<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-click="vm.eduForm.ctry_flg = 'public'"><i class="fa fa-globe right"></i>
				<span class="text">Public</span></li>
			<li ng-click="vm.eduForm.ctry_flg = 'friends'"><i class="fa fa-users right"></i>
				<span class="text">Friends</span></li>
			<li ng-click="vm.eduForm.ctry_flg = 'onlyme'"><i class="fa fa-lock right"></i>
				<span class="text">Only Me</span></li>
		</ul>
		</span>
		</span>
</div>

<div class="form-group location">
	<span>
		<label for="city" class="col-sm-2 control-label"> City</label>	
		<div class="col-sm-8">
			<ui-select ng-init="vm.selectedCity = vm.eduForm.city" ng-model="vm.selectedCity" theme="bootstrap" limit="1" close-on-select="true" style="border: none!important;padding: 0px!important;">
				<ui-select-match placeholder="Select City...">
					<span ng-bind="vm.selectedCity"></span>
	</ui-select-match>
	<ui-select-choices repeat="item.city as item in (vm.cities_edu_ref | filter: $select.search) track by $index">
		<span ng-bind="item.city"></span>
	</ui-select-choices>
	</ui-select>
</div>
<span class="dropdown col-sm-2">
		  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.eduForm.cty_flg || 'public'   | capitalize}}
		  	<span class="caret"></span></button>
<ul class="dropdown-menu">
	<li ng-click="vm.eduForm.cty_flg = 'public'"><i class="fa fa-globe right"></i>
		<span class="text">Public</span></li>
	<li ng-click="vm.eduForm.cty_flg = 'friends'"><i class="fa fa-users right"></i>
		<span class="text">Friends</span></li>
	<li ng-click="vm.eduForm.cty_flg = 'onlyme'"><i class="fa fa-lock right"></i>
		<span class="text">Only Me</span></li>
</ul>
</span>
</span>
</div>

<div class="form-group location">
	<span>
		<label for="zip_cd" class="col-sm-2 control-label"> Zip Code</label>	
		<div class="col-sm-8">
				<input type="text" class="form-control" name="zip_cd" id="zip_cd" ng-model="vm.eduForm.zipcode"  required=""/>
		</div>
		<span class="dropdown col-sm-2">
	  		<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">{{vm.eduForm.zip_cd_flg || 'public'  | capitalize }}
	  		<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li ng-click="vm.eduForm.zip_cd_flg = 'public'"><i class="fa fa-globe right"></i>
			<span class="text">Public</span></li>
		<li ng-click="vm.eduForm.zip_cd_flg = 'friends'"><i class="fa fa-users right"></i>
			<span class="text">Friends</span></li>
		<li ng-click="vm.eduForm.zip_cd_flg = 'onlyme'"><i class="fa fa-lock right"></i>
			<span class="text">Only Me</span></li>
	</ul>
	</span>
	</span>
</div>
<div class="form-group present">
	<div class="col-sm-10 col-sm-offset-2">
		<input type="checkbox" ng-model="vm.eduForm.to_dt_present"></input>Currenty Studying here
	</div>
</div>
<div class="form-group input frm-date">
	<label for="dob" class="col-sm-2 control-label"> From</label>
	<div class="col-sm-2" ng-if="!vm.eduForm.frm_dt_present">
		<datepicker date-format="dd/MM/yyyy">
			<input ng-model="vm.eduForm.frm_dt" type="text" ng-change="vm.dateSelection(vm.eduForm.frm_dt)" placeholder="DD/MM/YYYY"/>
		</datepicker>
	</div>
</div>
<div class="form-group input to-date">
	<label for="dob" class="col-sm-2 control-label"> To</label>
	<div class="col-sm-2" ng-if="!vm.eduForm.to_dt_present">
		<datepicker date-format="dd/MM/yyyy" date-min-limit="{{vm.setMinLimit}}">
			<input ng-model="vm.eduForm.to_dt" type="text" placeholder="DD/MM/YYYY"/>
		</datepicker>
	</div>
	<label class="col-sm-2 control-label" ng-if="vm.eduForm.to_dt_present">Present</label>
</div>
<div class="form-group desc">
	<label for="description" class="col-sm-2 control-label">Description</label>
	<div class="col-sm-10">
		<textarea class="form-control" rows="6" ng-model="vm.eduForm.edu_desc" placeholder="description"></textarea>
	</div>
</div>
<div class="form-group btns">
	<div class="col-sm-offset-2 col-sm-10">
		<span class="dropdown">
							  	<button class="ds-btn save-btn dropdown-toggle" type="button" data-toggle="dropdown">
							  	{{vm.eduForm.edu_flg || 'public'  | capitalize}}
							  	<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-click="vm.eduForm.edu_flg = 'public'"><i class="fa fa-globe right"></i>
				<span class="text">Public</span></li>
			<li ng-click="vm.eduForm.edu_flg = 'friends'"><i class="fa fa-users right"></i>
				<span class="text">Friends</span></li>
			<li ng-click="vm.eduForm.edu_flg = 'onlyme'"><i class="fa fa-lock right"></i>
				<span class="text">Only Me</span></li>
		</ul>
		</span>
		<div class="ew-rounded-btn" ng-click="vm.saveEduInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-floppy-o right"></i>
			<span class="text">Save</span>
		</div>
		<div class="ew-rounded-btn" ng-click="vm.resetEduInfo()" style="display: inline-flex;font-size: 12px;">
			<i class="fa fa-ban right"></i>
			<span class="text">Cancel</span>
		</div>
		<span class="ds-btn alert alert-danger" ng-if="vm.companyErr">{{vm.eduErr}}</span>
	</div>
</div>
</form>
</div>
</div>

<!-- General Author Tab -->
<div ng-if="vm.activeFormInnerTab === 'general-author'">
	<!-- Add New Author Course -->
	<fieldset>
		<legend>
			Your Courses/Book
		</legend>
		<div class="nothing-to-show" ng-if="!vm.isAnyAuthorInfoVisible() && !vm.canUserEditInfo()">
			Nothing to show.
		</div>
		<div class="add-btn" ng-click="vm.resetAuthorInfo();vm.isAddAuthorCourseInProgress = true;" ng-if="!vm.isAddAuthorCourseInProgress && vm.canUserEditInfo()">
			<i class="fa fa-plus"></i> Add your Course/Book
		</div>
		<!-- Add new authorcourse form -->
		<form class="form-horizontal" ng-if="vm.isAddAuthorCourseInProgress">
			<div class="form-group comp-name">
				<label for="coursename" class="col-sm-2 control-label">Course/Book Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Course/Book Name" ng-model="vm.authorForm.crs_bk_nm" name="">
				</div>
			</div>
			<div class="form-group comp-name">
				<label for="coursename" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="6" placeholder="Description" ng-model="vm.authorForm.crs_bk_desc" name=""></textarea>
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="ew-rounded-btn" ng-click="vm.saveAuthorInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetAuthorInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
					<span class="ds-btn alert alert-danger" ng-if="vm.authorErr">{{vm.authorErr}}</span>
				</div>
			</div>
		</form>
	</fieldset>
	<!-- Show list of added courses -->
	<div class="compy-individual form-horizontal" ng-repeat="course in vm.authorCourses">
		<div class="wrap" ng-if="!vm.isEditAuthorCourseInProgress || course.usr_bk_sk != vm.currentlyEditingAuthorCourseInfo">
			<div class="pull-right" ng-if="vm.canUserEditInfo() && course.editable !== false">
				<div class="ew-rounded-btn" ng-click="vm.editAuthorInfo(course.usr_bk_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.deleteAuthorInfo(course.usr_bk_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-trash-o right"></i>
					<span class="text">Delete</span>
				</div>
			</div>
			<div class="main-head">
				{{course.crs_bk_nm}}
			</div>
			<div class="sub-head">
				{{course.crs_bk_desc}}
			</div>
		</div>
		<!-- Edit school form -->
		<!-- Show ony for currently editing author course info -->
		<form class="form-horizontal" ng-if="vm.isEditAuthorCourseInProgress && course.usr_bk_sk === vm.currentlyEditingAuthorCourseInfo">
			<div class="form-group comp-name">
				<label for="coursename" class="col-sm-2 control-label">Course/Book Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Course/Book Name" ng-model="vm.authorForm.crs_bk_nm" name="">
				</div>
			</div>
			<div class="form-group comp-name">
				<label for="coursename" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="6" placeholder="Description" ng-model="vm.authorForm.crs_bk_desc" name=""></textarea>
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="ew-rounded-btn" ng-click="vm.saveAuthorInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetAuthorInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
					<span class="ds-btn alert alert-danger" ng-if="vm.authorErr">{{vm.authorErr}}</span>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- General Teacher Tab -->
<div ng-if="vm.activeFormInnerTab === 'general-teacher'">
	<!-- Add New Author Course -->
	<fieldset>
		<legend>
			Your Courses
		</legend>
		<div class="nothing-to-show" ng-if="!vm.isAnyTeacherInfoVisible() && !vm.canUserEditInfo()">
			Nothing to show.
		</div>
		<div class="add-btn" ng-click="vm.resetTeacherInfo();vm.isAddTeacherCourseInProgress = true;" ng-if="!vm.isAddTeacherCourseInProgress && vm.canUserEditInfo()">
			<i class="fa fa-plus"></i> Add your Course
		</div>
		<!-- Add new teachercourse form -->
		<form class="form-horizontal" ng-if="vm.isAddTeacherCourseInProgress">
			<div class="form-group teacher-course">
				<label for="coursename" class="col-sm-2 control-label">Course Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Course Name" ng-model="vm.teacherForm.tch_crs" name="">
				</div>
			</div>
			<div class="form-group edu-name">
				<label for="coursename" class="col-sm-2 control-label">Institute Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Institute Name" ng-model="vm.teacherForm.edu_nm" name="">
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="ew-rounded-btn" ng-click="vm.saveTeacherInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetTeacherInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
				</div>
			</div>
		</form>
	</fieldset>
	<!-- Show list of added courses -->
	<div class="compy-individual form-horizontal" ng-repeat="course in vm.teacherCourses">
		<div class="wrap" ng-if="!vm.isEditTeacherCourseInProgress || course.tch_crs_sk != vm.currentlyEditingTeacherCourseInfo">
			<div class="pull-right" ng-if="vm.canUserEditInfo()">
				<div class="ew-rounded-btn" ng-click="vm.editTeacherInfo(course.tch_crs_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-pencil right"></i>
					<span class="text">Edit</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.deleteTeacherInfo(course.tch_crs_sk)" style="display: inline-flex;font-size: 12px;">
					<i class="fa fa-trash-o right"></i>
					<span class="text">Delete</span>
				</div>
			</div>
			<div class="main-head">
				{{course.tch_crs}}
			</div>
			<div class="sub-head">
				{{course.edu_nm}}
			</div>
		</div>
		<!-- Edit teacher course -->
		<!-- Show ony for currently editing teacher course info -->
		<form class="form-horizontal" ng-if="vm.isEditTeacherCourseInProgress && course.tch_crs_sk === vm.currentlyEditingTeacherCourseInfo">
			<div class="form-group teacher-course">
				<label for="coursename" class="col-sm-2 control-label">Course Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Course Name" ng-model="vm.teacherForm.tch_crs" name="">
				</div>
			</div>
			<div class="form-group edu-name">
				<label for="coursename" class="col-sm-2 control-label">Institute Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Institute Name" ng-model="vm.teacherForm.edu_nm" name="">
				</div>
			</div>
			<div class="form-group btns">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="ew-rounded-btn" ng-click="vm.saveTeacherInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-floppy-o right"></i>
						<span class="text">Save</span>
					</div>
					<div class="ew-rounded-btn" ng-click="vm.resetTeacherInfo()" style="display: inline-flex;font-size: 12px;">
						<i class="fa fa-ban right"></i>
						<span class="text">Cancel</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
</div>

<style>
	.ui-select-choices-group{
		box-shadow: none!important;
		padding:0px!important;
	}
	.ui-select-choices-group:hover{
		background-color: transparent!important;
	}
	.ui-select-choices .ui-select-choices-content .ui-select-dropdown .dropdown-menu{
		padding: 0;
	}
</style>