/*left side menu start*/
.tree-component.tree_menu{
    right: 0px;
    top: 78px;
    background: url(/assets/images/right-menu/tree-img.png);
    width: calc((100% - 880px)/2);
    height: 100%;
    background-position: top 0px right 0px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: fixed;
    z-index: 10;
    @media (max-width: 1499px){
        width: calc((100% - 680px)/2);
    }
    @media (max-width: 1199px){
        width: calc(100% - 850px);
    }
    @media (max-width: 1079px){
        display: none;
    }
    ul{
        height: calc(100% - 208px);
        margin: 0px;
        padding: 0px;
        margin-top: 130px;
        li{
            height: 25%;
            list-style: none;
            padding: 10px 0px;
            .img{
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                margin: 0px auto;
                max-width: 150px;
                max-height: 100%;
                height: 100%;
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform-origin: left top;
                    z-index: 10;
                    text-align: center;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 15px;
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
                img{
                    max-height: 100%;
                    width: auto;
                    display: block;
                    max-width: 100%;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            &:nth-child(1){
                .img{
                    left: -50px;
                }
                a{
                    transform: rotate(10deg) translate(-50%, -50%);
                    margin-top: -5px;
                }
            }
            &:nth-child(2){
                .img{
                    left: 0px;
                }
                a{
                    transform: rotate(-8deg) translate(-50%, -50%);
                    margin-top: -6px;
                    margin-left: 5px;
                }
            }
            &:nth-child(3){
                .img{
                    left: -90px;
                }
                a{
                    transform: rotate(12deg) translate(-50%, -50%);
                    margin-top: -2px;
                }
            }
            &:nth-child(4){
                .img{
                    left: -35px;
                }
                a{
                    transform: rotate(-5deg) translate(-50%, -50%);
                    margin-top: -6px;
                    margin-left: 6px;
                }
            }
            @media (max-width: 1499px){
                .img{
                    max-width: 125px;
                }
                &:nth-child(1){
                    .img{
                        left: -50px;
                    }
                }
                &:nth-child(2){
                    .img{
                        left: 20px;
                    }
                }
                &:nth-child(3){
                    .img{
                        left: -50px;
                    }
                }
                &:nth-child(4){
                    .img{
                        left: 0px;
                    }
                }
            }
            @media (max-width: 1199px){
                .img{
                    max-width: 100px;
                }
                &:nth-child(1){
                    .img{
                        left: -20px;
                    }
                }
                &:nth-child(2){
                    .img{
                        left: 20px;
                    }
                }
                &:nth-child(3){
                    .img{
                        left: -25px;
                    }
                }
                &:nth-child(4){
                    .img{
                        left: 0px;
                    }
                }
            }
        }
    }
}
/*left side menu end*/
