<div class="tree_menu  tree-component">
	<ul>
		<li>
			<div class="img">
				<a href="/career-book">Career <br> Book</a>
				<img src="/assets/images/right-menu/01.png">
			</div>
		</li>
		<li>
			<div class="img">
				<a href="/question-answers">Question <br> Answers</a>
				<img src="/assets/images/right-menu/02.png">
			</div>
		</li>
		<li>
			<div class="img">
				<a href="/whiteboard">White <br> Board</a>
				<img src="/assets/images/right-menu/03.png">
			</div>
		</li>
		<li>
			<div class="img">
				<a href="/books">Books</a>
				<img src="/assets/images/right-menu/04.png">
			</div>
		</li>
	</ul>
</div>