<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<fieldset>
					<legend>Add Session Details</legend>
					<form class="form form-horizontal" name="form">
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Batch</label>
							<div class="col-xs-10">
								<!-- <select ng-model="vm.form.bat_id" id="course" ng-change="vm.onBatchChange()" class="form-control"
									ng-options="bat.bat_id as (bat.crs_id + '' + (bat.cls_start_dt|date:'dd-MMM')) for bat in vm.allTimings ">
									<option value=""> <b>Select Batch</b> </option>
								</select> -->
								<ui-select multiple ng-model="vm.selectedBatch" theme="bootstrap" on-select="vm.onBatchChange()" on-remove="vm.onBatchChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Batch...">
								        <span>
								        	{{$item.crs_id + '--->' + ($item.cls_start_dt|date:'dd-MMM')}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bat_id as item in (vm.allTimings | filter: $select.search) track by $index">
								        <span>
								        	{{item.crs_id + '--->' + (item.cls_start_dt|date:'dd-MMM')}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="sess name">Session</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.sess_id" ng-change="vm.onSessionChange()" id="sess" class="form-control"
									ng-options="sess.sessionNumber as sess.sessionName for sess in vm.allSessions ">
									<option value=""> <b>Select Session</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="">Session Date</label>
							<div class="col-xs-3">
								<select class="form-control" ng-model="vm.sess_dt">
									<option value="">Select Date</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=31) && _) track by $index" value="{{$index + 1}}">{{$index + 1}}</option>
								</select>
							</div>
							<div class="col-xs-3">
								<select class="form-control" ng-model="vm.sess_mn">
									<option value="">Select Month</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=12) && _) track by $index" >{{$index + 1}}</option>
								</select>
							</div>
							<div class="col-xs-4">
								<select class="form-control" ng-model="vm.sess_yr">
									<option value="">Select Year</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=12) && _) track by $index">{{$index + 2016}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-2 control-label" for="title">Session Item</label>
							<div class="col-xs-10">
								<select class="form-control" ng-model="vm.itemType">
									<option value="">Select Item Type</option>
									<option value="v">Video</option>
									<option value="d">Download</option>
								</select>
								<input type="text" style="margin-top: 10px;" class="form-control" placeholder="Enter Title" ng-model="vm.title"/>
								<input type="text" style="margin-top: 10px;" class="form-control" placeholder="Enter Link" ng-model="vm.link"/>
								<div style="margin: 10px 0px;" ng-click="vm.addItemToList()" class="btn btn-primary pull-right">Add</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-repeat="(key,val) in vm.form.sess_items track by $index">
							<label class="col-xs-2 control-label" for="curriculam">Item {{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="question-title">{{key}}</div>
								<div class="question-ans" ng-bind-html="val"></div>
								<div class="remove-btn" ng-click="vm.removeItemFromList(key)">
									<i class="fa fa-times" style="color: red"></i>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-primary submit"  ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-sm-5">
								<button class="form-control btn btn-primary submit" ng-click="vm.addSessionItem()">Save</button>
							</div>
						</div>
					</form>
				</fieldset>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<!-- <div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allSessions">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allSessions">
				<uib-accordion close-others="false" ng-repeat="session in vm.allSessions | orderBy:'sessionWeight'">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteSession(session.sessionNumber)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editSession(session.sessionNumber)"><i class="fa fa-pencil"></i></span>
								{{session.sessionNumber}} - {{session.sessionName}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in session">
						<div ng-if="key != '_id'">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div> -->
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>