.admin-master-page-wrapper {
    font-family: 'nunito',sans-serif !important;

    ._720kb-datepicker-calendar-day._720kb-datepicker-active, ._720kb-datepicker-calendar-day:hover {
        background: #1d99d1;
        color: white;
        border-radius: 3px;
    }

    .ew-rounded-btn {
        display: inline-flex !important;
    }

    .margin-top-bottom-10 {
        margin: 10px 0px;
    }

    .menu-component-wrapper {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        height: 50px;
        background: rgba(0, 0, 0, 0.55);
        z-index: 10000;
    }

    .no-authorization-msg {
        font-size: 30px;
        text-transform: uppercase;
        color: #D24D57;
        min-height: 100vh;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    & > .row {
        margin: 0px;
        min-height: 100vh;

        @include display(flex);
    }

    .awesomplete {
        width: 100%;
    }

    .dpdown-btn {
        display: inline-block;
        padding: 3px 15px;
        cursor: pointer;
        font-size: 17px;
        position: absolute;
        right: 15px;
        top: 0px;
    }

    /*  UI Select Styles */
    .ui-select-container {
        box-shadow: 0px 0px 0px;
        border: 1px solid #ccc;
        line-height: 30px;

        // height: 30px;
        padding: 0px 10px !important;
    }

    .ui-select-match-item {
        box-shadow: 0px 0px 0px;
        border-radius: 3px;
        border: 1px solid;
    }

    /* End UI Select Styles */

    .admin-sidebar-menu {
        padding: 0px;
        background: #222;
        padding-top: 50px;

        // box-shadow: 1px 0px 10px #777;

        ul {
            margin: 0px;
            margin-top: 25px;
            font-family: 'ubuntu';
        }

        li {
            display: block;
            padding: 0px;
        }

        li a {
            color: white;
            background: #444;
            text-align: left;
            border-bottom: 1px solid #222;
            font-size: 15px;
            display: block;
            padding: 15px 10px;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: #ccc;
            }

            &.active {
                background: #ecf0f1;
                color: #222;
            }
        }
    }

    .main-admin-child-content {
        width: 100%;
        padding-top: 70px;
    }
}

.admin-page {
    $red: #e74c3c;
    $white: #ecf0f1;
    $green: #26A65B;
    $blue: #52B3D9;

    //#52B3D9;

    .row {
        margin: 0px;
    }

    textarea.large {
        height: 120px;
    }

    .ds-alert {
        padding: 10px 15px;
        font-size: 16px;
        color: white;
        background-color: $red;
        border-radius: 2px;
    }

    .ds-success {
        padding: 10px 15px;
        font-size: 16px;
        color: white;
        background-color: $green;
        border-radius: 2px;
    }

    .form-wrapper {
        padding: 10px 25px;
        background: white;
        border-radius: 4px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    legend {
        text-align: center;
    }

    input[readonly] {
        color: #888;
    }

    button.submit {
        background-color: $blue;
        height: 40px;
        margin-top: 25px;
    }

    select.duration {
        background-color: transparent;
        padding: 5px 1%;
        width: 32%;
        outline: none;
    }

    label.duration {
        display: block;
    }

    .accordion-panel-wrapper {
        margin-top: 10px;
        margin-bottom: 25px;

        .panel {
            // box-shadow: 0px 0px 0px;
            border-radius: 0px;
        }

        .panel-title {
            // font-size: 30px;
       
        }

        .panel-group {
            margin: 0px;
            border-bottom: 1px solid white;
        }

        :focus {
            outline: none;
        }

        .panel-heading {
            padding: 0px;
            background-color: $blue;
            font-weight: bold;
        }

        .accordion-toggle {
            padding: 15px 15px;
            display: block;
            text-decoration: none;
        }

        .panel-arrow {
            width: 20px;
        }

        .panel-header-buttons {
            display: inline-block;
            padding: 8px 10px;
            margin-top: -8px;
            margin-right: 10px;
            color: white;
            cursor: pointer;

            &.edit {
                background-color: $green;
            }

            &.remove {
                background-color: $red;
            }
        }
    }

    .video-dynamic-form {
        background-color: #eee;
        padding: 15px 5px;
        border-radius: 5px;
        margin-bottom: 15px;

        legend {
            text-align: left;
            margin-bottom: 10px;
            padding: 0px 10px;
        }
    }

    .ref-link-btn {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 15px;

        // border: 1px solid;
        padding: 4px 10px;
        border-radius: 3px;
        color: #444;
        cursor: pointer;
    }
}

.filtered-video-wrapper {
    font-size: 15px;
    font-family: aller;
    padding: 10px 0px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    .total-videos {
        padding: 10px;

        // background: white;
        border-radius: 3px;
        width: 50%;
        max-width: 50%;
        position: relative;

        @include flex(1);

        @include align-self(stretch);

        .head {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 17px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .total-videos {
        max-width: 100%;
        width: 100%;

        .head {
            margin-bottom: 0px;
        }
    }

    .total-videos {
        margin-right: 5px;
    }

    .video-wrapper {
        background: #e6e6e6;
        margin-bottom: 10px;
        padding: 5px;
        position: relative;
        padding-top: 30px;

        &.selected {
            background: #1d99d1;
            color: white;
        }
    }

    .video-wrapper {
        padding: 15px;
        margin-bottom: 0px;
        cursor: pointer;
    }
}