.admin-page.admin-courselist-wrapper {
    $red: #e74c3c;
    $white: #ecf0f1;
    $green: #2ecc71;
    $blue: #52B3D9;

    .row {
        margin: 0px;
    }

    .course-info-row {
        .title {
            text-align: right;
            font-weight: bold;
        }

        .desc {}
    }
}