.demovideo-list-row {
    margin: 10px 0px;

    .dropdown-menu {
        li {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background: #ddd;
            }
        }
    }
}