.question-analytics-wrapper {
    $sidebar-width: 300px;
    $shiny-blue-color: #1d99d1;

    .sidebar {
        width: $sidebar-width;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        left: 0px;
        top: 0px;
        background: #222;
        color: #fff !important;
        font-family: aller;
        z-index: 10;

        label {
            display: block;
            padding: 0px 10px;
        }

        .ui-select-container {
            padding: 2px 0px;
            background: white;
            border-radius: 2px;
            width: 95%;
            margin: 0px auto;
        }

        .ui-select-match-item {
            white-space: normal;
            word-wrap: break-word;
            word-break: break-word;
        }

        input {
            width: 95%;
            color: #222;
            margin: 0px auto;
            border-radius: 3px;
            margin-left: 7px;
        }
    }

    .main-container {
        padding-left: $sidebar-width;
        position: relative;
        min-height: 100vh;

        .question-stats {
            font-family: wavely;
            font-size: 30px;
            padding: 10px;
        }

        .loader {
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            z-index: 100;
            color: white;
            font-size: 20px;
            left: 50%;
            top: 50%;
            margin-top: -150px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        .question-wrapper {
            padding: 10px;
            position: relative;
            background: #fff;
            color: #444;
            width: 100%;
            margin-bottom: 10px;
            border: 6px solid #fff;

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(flex-start);

            @include flex-direction(column);

            @include align-self(stretch);

            @include flex(1);

            &.selected {
                border: 6px solid #1d99d1;
            }

            pre {
                background: transparent;
                border: 0px;
                font-size: 15px;
                margin: 0px;
                padding: 0px;

                @include breakpoint(large_desktop) {
                    font-size: 15px;
                }
            }

            .title {
                text-align: center;
                font-size: 23px;
                font-family: aller;
                margin: 50px 0px 0px;

                // text-transform: uppercase;
                font-weight: normal;
                color: $shiny-blue-color;

                // border-bottom: 2px solid $blue-color;
                position: relative;
                padding: 5px 20px;
            }

            .index {
                font-family: waverly;
                font-size: 20px;
            }

            .add-delete-btn {
                background: #1d99d1;
                color: white;
                padding: 5px 15px;
                border-radius: 5px;
                cursor: pointer;
            }

            .q {
                width: 100%;

                @include flex(1);

                @include display(flex);

                @include align-items(flex-start);

                @include justify-content(center);

                @include flex-direction(column);
            }

            .question {
                max-width: 100%;
                font-size: 16px;
                font-family: aller;
                white-space: pre-line;
                padding: 15px 11px;

                @include breakpoint(large_desktop) {
                    font-size: 16px;
                }


                img {
                    max-width: 100%;
                }
            }

            .questionOneLine {
                font-size: 20px;
                font-family: aller;
                width: 100%;
                text-align: left;
                padding: 0px 11px;
            }

            .option {
                margin: 10px 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-start);

                .useroption {
                    margin-right: 15px;
                }
            }
        }
    }
}