.video-slide-page {
    .upload-image-form {
        border: 1px dashed #222;
        margin-top: 20px;
        height: 200px;
        font-family: ubuntu;

        @include display(flex);

        @include flex-direction(column);

        .title {
            padding: 10px 0px;
            text-align: center;
            font-size: 23px;
            border-bottom: 1px solid;
        }

        .btn-select {
            padding: 10px;
            border: 1px solid;
            cursor: pointer;
        }

        .file-select-wrapper {
            &.dragover {
                border: 2px dotted #D24D57;
                margin: 10px;
            }

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            @include flex-grow(2);
        }
    }

    .upload-image-wrapper {
        max-height: 500px;
        overflow: auto;
        background: #ccc;
        border-radius: 3px;
        padding: 0px 10px;

        .slide-image {
            margin: 15px 0px;
        }

        .image-name {
            margin-left: 20px;
            font-size: 15px;
        }
    }

    .upload-btn {
        &.disabled {
            pointer-events: none;
            background: #e5e5e5;
            color: #ccc;
        }
    }

    .slides-image-progress {
        height: 1px;
        width: 0%;
        background: #59ABE3;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .upload-complete-msg {
        text-align: center;
        color: #fff;
        background: #1d99d1;
        padding: 10px 0px;
        font-size: 18px;
        font-family: aller;
        border-radius: 3px;
    }
}