.videos-page, .item-transfer-page-wrapper {
    .filtered-question-wrapper, .filtered-video-wrapper {
        font-size: 15px;
        font-family: aller;
        padding: 10px 0px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        .total-questions, .selected-questions, .total-videos {
            padding: 10px;
            background: white;
            border-radius: 3px;
            width: 50%;
            max-width: 50%;
            position: relative;

            @include flex(1);

            @include align-self(stretch);

            .head {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                font-size: 17px;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .total-videos {
            max-width: 100%;
            width: 100%;

            .head {
                margin-bottom: 0px;
            }
        }

        .total-questions, .total-videos {
            margin-right: 5px;
        }

        .selected-questions {
            margin-left: 5px;
        }

        .question-wrapper, .video-wrapper {
            background: #e6e6e6;
            margin-bottom: 10px;
            padding: 5px;
            position: relative;
            padding-top: 30px;

            &.selected {
                background: #1d99d1;
                color: white;
            }

            img {
                max-width: 100%;
                width: 100%;
            }
        }

        .video-wrapper {
            padding: 15px;
            margin-bottom: 0px;
            cursor: pointer;
        }

        .action-btn {
            position: absolute;
            padding: 5px 8px;
            color: #1d99d1;
            cursor: pointer;
            right: 0px;
            top: 0px;
        }

        .oneLine {}

        .page-changer {
            position: absolute;
            right: 10px;
            top: 0px;
            font-size: 22px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .count {
                font-size: 13px;
            }

            .prev, .next {
                padding: 0px 10px;
                color: #1d99d1;
                cursor: pointer;

                &.disabled {
                    color: lighten(#1d99d1, 20%);
                    pointer-events: none;
                }
            }
        }
    }
}