@import "../../assets/scss/_common_test.scss";

.gsc-result .gs-title {
    height: 1.4em !important;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 0px !important;
}

.blog-article-wrapper {
    margin: 0px auto;
    background-color: #f4f4f4;

    $header-height: 60px;

    .video-header {
        height: 60px;

        // position: fixed;
        // left: 0px;
        // right: 0px;
        // top: 0px;
        // border-bottom: 1px solid #e8e8e8;
        z-index: 9999;
        padding: 0px 10px;
        font-family: 'nunito',sans-serif;
        font-weight: bold;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        .menu-btn {
            font-size: 16px;
            color: #222;
            cursor: pointer;
            padding: 10px;
        }

        .video-header-left {
            height: inherit;
            padding: 5px 0px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            .logo-img {
                // height: 35px;
                margin-left: 15px;
            }
        }

        .video-header-center {
            font-family: 'nunito','Aller',sans-serif;
            text-transform: uppercase;
            font-size: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px 10px;

            @include flex(1);
        }

        .video-header-right {
            height: inherit;
            padding: 5px 0px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            .video-header-right-links {
                white-space: nowrap;
                display: none;

                @include breakpoint(screen_1280) {
                    display: block;
                }


                .hdr-right-btn {
                    font-size: 13px;
                    font-family: 'nunito','Aller',sans-serif;
                    color: #1d99d1;
                    cursor: pointer;
                    text-decoration: none;
                    margin-left: 5px;

                    &.disable {
                        pointer-events: none;
                        color: #ccc;
                    }

                    &.usr-nm {
                        color: green;
                    }

                    &:after {
                        content: '|';
                        margin-left: 5px;
                        color: #222;
                    }

                    &:last-child {
                        &:after {
                            content: '';
                            margin-left: 0px;
                        }
                    }

                    i {
                        display: none;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .header-btns {
        .login-btn, .usr_nm, .register-btn {
            color: #222 !important;
            font-family: 'nunito',sans-serif;
            font-size: 13px;
            max-width: 150px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .usr_nm {
            padding-right: 10px;
        }
    }

    .header {
        height: $header-height;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        background: #fff;
        border-bottom: 1px sold #ccc;
        padding: 0px 20px;
        padding-right: 0px;
        z-index: 10;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        .sidebar-bars {
            font-size: 20px;
            color: white;
            margin-right: 10px;
            cursor: pointer;
        }

        .logo {
            // @include flex(1);

            .logo-img {
                max-height: 61px;
                padding: 5px;
            }
        }

        .searchbar {
            min-width: 350px;
            margin-right: 10px;
            position: relative;
            display: none;

            @include breakpoint(screen_1280) {
                display: block;
            }


            @include breakpoint(large_desktop) {
                min-width: 550px;
            }


            input {
                width: 100%;
                box-shadow: 0px 0px 0px;
                border: 1px solid #e5e5e5;
                height: 35px;
                border-radius: 20px;
                font-size: 14px;
                font-weight: bold;
                font-family: 'nunito',sans-serif;
                padding: 5px 20px;
                padding-left: 35px;
            }

            .search-icon {
                position: absolute;
                top: 5px;
                left: 6px;
            }
        }

        .flex-div {
            @include flex(1);
        }
    }

    .searchbar-mobile {
        padding: 10px;
        background: white;
        border-top: 1px solid #e5e5e5;

        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);

        @include breakpoint(screen_1280) {
            display: none;
        }


        img {
            margin-right: 10px;
        }

        input {
            height: 40px;
            font-family: 'nunito',sans-serif;
            font-size: 16px;
            border: 1px solid #e5e5e5;
            padding: 0px 5px;
            border-radius: 5px;
            box-shadow: 0px 0px 0px;

            @include flex(1);
        }
    }

    .scroll-to-top-btn {
        // position: fixed;
        right: 270px;
        top: 30px;
        cursor: pointer;
        background: #1d99d1;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        padding: 0px 10px;
        border: 1px solid white;
        z-index: 11;
        display: inline-block;
    }

    .header-placeholder {
        height: $header-height;
    }

    .sidebar {
        white-space: nowrap;
        width: 0px;
        position: fixed;
        top: 70px;
        bottom: 0px;
        left: 0px;
        background: white;
        box-shadow: 1px 1px 1px #ccc;
        z-index: 999;
        overflow: hidden;

        @include transition(all 0.2s ease-in);

        &.ew-open {
            width: 800px;
        }

        .tabs {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .tab {
                padding: 10px;
                background: #1d99d1;
                color: white;
                font-family: 'waverly';
                font-size: 18px;
                text-transform: lowercase;
                height: 60px;
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);

                &.active {
                    background: darken(#1d99d1, 10%);
                }
            }

            .close-btn {
                padding: 10px 20px;
                background: darken(#1d99d1, 10%);
                color: white;
                font-family: 'waverly';
                font-size: 18px;
                text-transform: lowercase;
                height: 60px;
                cursor: pointer;
                border-left: 1px solid #1d99d1;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                img {
                    border-radius: 3px;
                }
            }
        }

        .tab-content {
            padding: 10px;
        }

        .note-qa-tab {
            textarea {
                margin-bottom: 10px;
                border: 1px solid #1d99d1;
                padding: 10px;
                border-radius: 3px;
                box-shadow: 0px 0px 0px;
            }
        }

        .qa-question-wrapper {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            .qa-info {
                padding: 10px 0px;
                border-bottom: 1px solid #e5e5e5;
            }

            .qa-title {
                color: #1d99d1;
            }

            .qa-answer-info {
                color: #444;
            }
        }
    }

    .notification-btn {
        position: relative;
    }

    .notification-cnt {
        border-radius: 50%;
        padding: 0px 5px;
        background: white;
        color: #444;
        position: absolute;
        top: -6px;
        right: 14px;
        font-size: 10px;
    }

    .notification-modal {
        position: absolute;
        font-family: 'nunito',sans-serif;
        background: white;
        border-radius: 5px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
        width: 400px;
        left: -150px;
        top: 35px;

        &:before {
            content: '';
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            top: -10px;
            left: 200px;
        }

        a {
            text-decoration: none;
        }

        .ew-modal-title {
            font-size: 15px;
            padding: 10px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            i {
                padding: 0px 5px;
                cursor: pointer;
            }
        }

        .ew-modal-content {
            max-height: 300px;
            overflow: auto;
            overflow-x: hidden;
            background: #f4f4f4;
            min-height: 300px;
        }

        .no-notification {
            text-align: center;
            font-size: 19px;
            padding: 10px;
        }

        .notification {
            padding: 10px;
            border-bottom: 1px solid #e5e5e5;
            position: relative;
            text-decoration: none;
            display: block;

            &.unread {
                background: #e8f4fa;
            }

            &:hover {
                .mark-as-read-icon {
                    display: block;
                }
            }

            .notification-sub {
                font-size: 18px;
                color: lighten(#1d99d1, 10%);
                display: block;
                cursor: pointer;
            }

            .notification-msg {
                font-size: 14px;
                color: #222;
            }

            .notification-time {
                font-size: 10px;
                color: #777;

                @include display(flex);

                @include align-items(center);

                @include flex-direction(row);

                @include justify-content(space-between);
            }

            .mark-as-read-icon {
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    color: #1d99d1;
                }
            }
        }

        .ew-modal-footer {
            .see-all {
                color: #1d99d1;
                text-align: center;
                display: block;
                padding: 10px;
                font-size: 16px;
            }
        }
    }
}