<div class="blog-article-wrapper">
	<div class="header">
		<a class="logo" href="/">
			<img class="logo-img" src="../../assets/images/logo-dark.png" alt="">
		</a>
		<div class="searchbar">
			<img class="search-icon" src="../../assets/images/courselist-icons/search.png" alt="">
			<input type="text" placeholder="Search Here" ng-keyup="vm.searchInGoogle($event)" name="" ng-model="vm.searchText">
		</div>
		<div class="video-header">
			<div class="video-header-right">
				<span class="video-header-right-links">
					<div style="direction: rtl">
						<a class="hdr-right-btn usr-nm" ng-href="{{vm.getDashboardUrl()}}" ng-if="vm.isUserLoggedIn()">Welcome, {{(vm.getUser()['dsp_nm'].length >= 7) ? vm.getUser()['dsp_nm'].substr(0,6) + "..." : vm.getUser()['dsp_nm'] }}</a>
						<a class="hdr-right-btn" ng-if="!vm.isUserLoggedIn()" ng-click="vm.menuDelegate.loginDelegate.toggleLoginModal()"><i class="fa fa-lock"></i> Login</a>
						<a class="hdr-right-btn"  ng-if="!vm.isUserLoggedIn()" ng-click="vm.goToRegister()"><i class="fa fa-user"></i> Sign Up</a>
						<a class="hdr-right-btn" ng-if="vm.isUserLoggedIn()" ng-click="vm.goToLogout()"><i class="fa fa-sign-out"></i> Logout</a>
						<!-- <a class="hdr-right-btn" ng-if="vm.isUserLoggedIn()" ng-href="{{vm.getNotificationsPageUrl(false,'~')}}"><i class="fa fa-bell"></i> Notifications</a> -->
						<span style="direction: ltr;"  class="notification-btn hdr-right-btn" ng-if="vm.isUserLoggedIn()" data-capture-document-click="false">
							<a class="login-btn"  style="text-decoration: none;"  ng-click="vm.toggleNotificationModal()"><i class="fa fa-bell"></i> Notifications 
								<span class="notification-cnt" ng-if="vm.notificaionCount > 0">{{vm.notificaionCount}}</span></a>
							<div class="notification-modal" style="cursor: initial;" ng-show="vm.showNotificationModal">
								<div class="ew-modal-title">
									<span class="text">Notifications</span>
									<i class="fa fa-refresh" ng-click="vm.getNotificationByUserId();vm.getSendNotificationCount()"></i>
								</div>
								<div class="ew-modal-content">
									<div class="no-notification" ng-if="!vm.allNotifications || vm.allNotifications.length <= 0">
										No Notifications to show.
									</div>
									<div ng-repeat="noti in vm.allNotifications | orderBy:'snd_dt':true">
										<div class="notification" ng-class="{'unread':!noti.noti_read}">
											<a class="notification-sub" ng-href="{{vm.getSpecificNotificationPageUrl(false,vm.getUserId(),noti.usr_noti_pk)}}">{{noti.sub}}</a>
											<div class="notification-msg">{{noti.noti_msg}}</div>
											<div class="notification-time">
												{{noti.snd_dt | date:'dd-MMM-yy hh:mm'}}
												<div class="mark-as-read-icon" ng-if="!noti.noti_read" ng-click="vm.markSendNotificationAsRead($event,noti.usr_noti_pk)" tooltips tooltip-template="Mark as read">
													<i class="fa fa-check-square"></i>
												</div>	
											</div>
										</div>
									</div>
								</div>
								<div class="ew-modal-footer">
									<a class="see-all" ng-href="{{vm.getNotificationsPageUrl(false,vm.getUserId())}}">See All</a>
								</div>
							</div>
						</span>
						<a class="hdr-right-btn" ng-if="vm.isUserLoggedIn()" ng-click="vm.menuDelegate.toggleChatModal()"><i class="fa fa-comment"></i> Chat</a>
						<a class="hdr-right-btn" ng-href="{{vm.getSitemapUrl()}}"><i class="fa fa-rocket"></i> All Links</a>
						<a class="hdr-right-btn" ng-href="{{vm.buyPage()}}"><i class="fa fa-lock"></i> Pricing</a>
						<a class="hdr-right-btn" ng-href="/contactus"><i class="fa fa-phone"></i> Contact Us</a>

					</div>
					<div style="direction: rtl">
						<a class="hdr-right-btn" ng-class="{'disable':!vm.entireArticle.crs_id}" ng-href="{{vm.getCourseDetailsPageUrl(false,vm.articleCourse.courseType,vm.articleCourse.courseSubGroup,vm.articleCourse.courseId)}}">Course Index</a>
						<a class="hdr-right-btn" ng-class="{'disable':!vm.entireArticle.materialInfo}" ng-click="vm.getSignedDownloadUrl(vm.entireArticle.materialInfo);"><i class="fa fa-phone"></i> Download</a>
						<span class="hdr-right-btn" ng-click="vm.ewArticleDelegate.scrollToTab('notes')">Add Note</span>
						<a class="hdr-right-btn" href="/it-trainings">All Courses</a>
						<div class="scroll-to-top-btn" ng-click="vm.scrollUp()" ng-show="vm.shouldShowScrollUpButton">
							<i class="fa fa-arrow-up"></i>
						</div>
						<div class="scroll-to-top-btn" style="right: 230px;" ng-click="vm.scrollDown()">
							<i class="fa fa-arrow-down"></i>
						</div>
						
					</div>
				</span>
				<span class="menu-btn" data-capture-document-click="false" style="border-left: 1px solid #e5e5e5;margin-left: 10px;padding-left: 20px;" ng-click="vm.menuDelegate.toggleMenuModal();">
					<i class="fa fa-bars"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="header-placeholder"></div>
	<div class="searchbar-mobile">
		<img class="search-icon" src="../../assets/images/courselist-icons/search.png" alt="">
		<input type="text" placeholder="Search Here" ng-keyup="vm.searchInGoogle($event)" name="" ng-model="vm.searchText">
	</div>
	<div>
		<ew-article 
				delegate="vm.ewArticleDelegate"
				ng-if="!vm.shouldShowSearchResult" 
				name="{{vm.articleName}}" 
				article-id="{{vm.activeItem}}" 
				content="{{vm.articleContent}}" style="display: block;"></ew-article>
		<script>
		  (function() {
		    var cx = '009781998287884348235:2j6eieuay3w';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:searchresults-only></gcse:searchresults-only>
	</div>	
	<menu-component menu-delegate="vm.menuDelegate" show-header-buttons={{false}}></menu-component>
</div>

