<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Employee Details</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="fst_nm">Firstname</label>
							<div class="col-xs-10">
								<input type="text" id="fst_nm" class="form-control" placeholder="Firstname" ng-model="vm.form.fst_nm"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="lst_nm">Lastname</label>
							<div class="col-xs-10">
								<input type="text" id="lst_nm" class="form-control" placeholder="Lastname" ng-model="vm.form.lst_nm"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="mdl_nm">Middle name</label>
							<div class="col-xs-10">
								<input type="text" id="mdl_nm" class="form-control" placeholder="Middle name" ng-model="vm.form.mdl_nm"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="mdl_nm">Type</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.typ" id="typ" class="form-control"
									ng-options="typ.typ_id as typ.typ_desc for typ in vm.allEmpTypes">
									<option value=""> <b>Select Type</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="address">Address</label>
							<div class="col-xs-10">
								<textarea ng-model="vm.form.address" class="form-control" placeholder="Address"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="address">Phone No</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Phone Number" ng-model="vm.form.ph_no"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="address">Experties</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.form.experties" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Skill...">
								        <span ng-bind="$item.skl_nm"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.skl_id as item in (vm.allSkills | filter: $select.search) track by $index">
								        <span ng-bind="item.skl_nm"></span>
								    </ui-select-choices>
								</ui-select>	
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-click="vm.saveEmployee()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allEmps">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allEmps">
				<uib-accordion close-others="false" ng-repeat="emp in vm.allEmps">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteEmployee(emp.emp_id)"><i class="fa fa-times"></i></span>
								{{emp.fst_nm}} {{emp.lst_nm}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in emp">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>