@import "../../assets/scss/_common_test.scss";

.ew-small-modal-wrapper {
    .verify-question-modal {
        width: 700px;
        max-width: initial;
    }

    .verfiy-stats-options {
        font-family: 'nunito' , sans-serif;

        .opt {
            padding: 5px;
            display: block;
        }

        textarea {
            width: 100%;
            box-shadow: 0px 0px 0px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            padding: 10px;
        }
    }

    .action-btns {
        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);
    }

    .info-icon {
        background: #1778a4;
        color: white;
        border-radius: 50%;
        padding: 5px 12px;
        margin-right: 10px;
    }
}