<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal">
					<fieldset>
						<legend>Verify PracticeQuestion Status</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subject">Subject</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Subject...">
								        <span ng-bind="$item.subjectName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
								        <span ng-bind="item.subjectName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="question">Filter Question</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedQuestion" theme="bootstrap" on-select="vm.onSelectedQuestionChange($item, $model)" on-remove="vm.onSelectedQuestionChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Question...">
								        <span ng-bind="$item.questionId"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.questionId as item in (vm.questions | filter: $select.search) track by $index">
								        <span>{{item.questionNumber}} - {{item.questionId}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="question">Filter Status</label>
							<div class="col-sm-10">
								<select class="form-control" ng-change="vm.onFilterStatusChange()" ng-model="vm.form.test_status">
									<option value="">Select Question Status</option>
									<option value="ready_to_test">Ready To Test</option>
									<option value="approved">Approved</option>
									<option value="rejected">Rejected</option>
									<option value="bug_fixing">Bug Fixing</option>
								</select>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h5 ng-if="vm.visibleQuestionStatues && vm.visibleQuestionStatues.length > 0">All Question Latest Statuses</h6>
			<div class="courses-wrapper accordion-panel-wrapper" style="background: white;" ng-if="vm.visibleQuestionStatues && vm.visibleQuestionStatues.length > 0">
				<table class="table table-condensed table-bordered">
					<tr>
						<th></th>
						<th>Q ID</th>
						<th>Test Status</th>
						<th>Test Comments</th>
						<th>Tested Date</th>
						<th>Tester Id</th>						
						<th>Q State Start Date</th>
						<th>Q State End Date</th>
					</tr>
					<tr ng-repeat="status in vm.visibleQuestionStatues track by $index">
						<td style="text-align: center;">
							<div ng-if="vm.currentEditableRow != $index">
								<i class="fa fa-pencil" style="color: green;cursor: pointer;" ng-click="vm.makeRowEditable($index)"></i>
							</div>
							<div ng-if="vm.currentEditableRow === $index">
								<i class="fa" ng-class="{'fa-save':!vm.isStatusUpdating,'fa-circle-o-notch fa-spin':vm.isStatusUpdating}"  style="color: red;cursor: pointer;" ng-click="vm.saveEditableRow($index)"></i>
							</div>
						</td>
						<td><a target="practice_view" ui-sref="practiceView({topic:vm.selectedTopics[0],question:status.q_id})">{{status.q_id}}</a></td>
						<td>
							<div ng-if="vm.currentEditableRow != $index">
								{{status.test_status}}	
							</div>
							<div ng-if="vm.currentEditableRow === $index">
								<select class="form-control" ng-model="status.test_status">
									<option value="ready_to_test">Ready To Test</option>
									<option value="approved">Approved</option>
									<option value="rejected">Rejected</option>
									<option value="bug_fixing">Bug Fixing</option>
								</select>
							</div>
						</td>
						<td>
							<div ng-if="vm.currentEditableRow != $index">
								{{status.test_comments | limitTo : 20}}...
							</div>
							<div ng-if="vm.currentEditableRow === $index">
								<span ng-if="vm.test_comments || status.test_comments">{{vm.test_comments || status.test_comments | limitTo : 10}}...</span>
								<span class="ew-rounded-btn" ng-click="vm.shouldShowEditCommentModal = true;vm.test_comments = status.test_comments;">
									<i class="fa fa-pencil right"></i>
									<span class="text">Edit</span>
								</span>
							</div>
						</td>
						<td>
							<div ng-if="vm.currentEditableRow != $index">
								{{status.tested_dt | date : 'dd-MMM-yyyy'}}	
							</div>
							<div ng-if="vm.currentEditableRow === $index">
								<datepicker date-format="MM-dd-yyyy" class="col-xs-10" date-min-limit="{{vm.yesterday}}">
									<input class="form-control" ng-model="status.tested_dt" placeholder="Tested Date">
								</datepicker>
							</div>
						</td>
						<td>
							<div ng-if="vm.currentEditableRow != $index">
								{{status.tester_id}}
							</div>
							<div ng-if="vm.currentEditableRow === $index">
								<ui-select multiple ng-init="vm.selectedTesters = status.tester_id ? [status.tester_id] : []" ng-model="vm.selectedTesters" theme="bootstrap" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select User...">
								        <span>{{$item.dsp_nm}} - {{$item.usr_id}}</span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.usr_id as item in (vm.allUsers | filter: $select.search) track by $index">
								        <span>{{item.dsp_nm}} - {{item.usr_id}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</td>
						<td>
							{{status.q_state_start_dt | date : 'dd-MMM-yyyy'}}
						</td>
						<td>
							<div ng-if="vm.currentEditableRow != $index">
								{{status.q_state_end_dt | date : 'dd-MMM-yyyy'}}
							</div>
							<div ng-if="vm.currentEditableRow === $index">
								<datepicker date-format="MM-dd-yyyy" class="col-xs-10" date-min-limit="{{vm.yesterday}}">
									<input class="form-control" ng-model="status.q_state_end_dt" placeholder="State End Date">
								</datepicker>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- <div class="col-md-12">
			<h5 ng-if="vm.selectedQuestionStatuses && vm.selectedQuestionStatuses.length > 0">Selected Question Statuses</h6>
			<div class="courses-wrapper accordion-panel-wrapper" style="background: white;" ng-if="vm.selectedQuestionStatuses && vm.selectedQuestionStatuses.length > 0">
				<table class="table table-condensed table-bordered">
					<tr>
						<th>Edit</th>
						<th>Q ID</th>
						<th>Test Status</th>
						<th>Test Comments</th>
						<th>Tested Date</th>
						<th>Tester Id</th>						
						<th>Q State Start Date</th>
						<th>Q State End Date</th>
					</tr>
					<tr ng-repeat="status in vm.selectedQuestionStatuses">
						<th>Edit</th>
						<td><a target="_blank" ui-sref="practiceView({topic:vm.selectedTopics[0],question:status.q_id})">{{status.q_id}}</a></td>
						<td>{{status.test_status}}</td>
						<td>{{status.test_comments}}</td>
						<td>{{status.tested_dt | date : 'dd-MMM-yyyy'}}</td>
						<td>{{status.tester_id}}</td>
						<td>{{status.q_state_start_dt | date : 'dd-MMM-yyyy'}}</td>
						<td>{{status.q_state_end_dt | date : 'dd-MMM-yyyy'}}</td>
					</tr>
				</table>
			</div>
		</div> -->
		
	</div>
</div>
<div class="ew-small-modal-wrapper" ng-show="vm.shouldShowEditCommentModal">
    <div class="ew-modal verify-question-modal">
        <div class="msg">Enter Comments</div>
        <div class="verfiy-stats-options">
        	<textarea placeholder="Comments" tbio configuration="default" rows="10" ng-model="vm.test_comments"></textarea>
        </div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.shouldShowEditCommentModal = false;">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.shouldShowEditCommentModal = false;">
            	<i class="fa fa-pencil right"></i>
            	<span class="text">Save</span>
            </div>
        </div>
    </div>
</div>
<div class="ew-small-modal-wrapper" ng-show="vm.shouldShowAlert">
    <div class="ew-modal verify-question-modal">
        <div class="msg">Unsaved changes will be lost.Are you sure you want to change?</div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.shouldShowAlert = false;">
            	<i class="fa fa-times right"></i>
            	<span class="text">No</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.shouldShowAlert = false;vm.currentEditableRow=vm.goingToBeEditableRow">
            	<i class="fa fa-pencil right"></i>
            	<span class="text">Yes</span>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
	td{
		vertical-align: middle !important;
    	text-align: center !important;
	}
	datepicker{
	    width: 100% !important;
	    padding: 0px;
	    border: 1px solid #e5e5e5;
	    box-shadow: 0px 0px 0px;
	    padding: 0px 10px;
	    border-radius: 5px;
	    height: 32px !important;
	}
	datepicker input{
		width: 100% !important;
    box-shadow: 0px 0px 0px !important;
    height: 30px !important;
    font-size: 16px !important;
    font-family: 'nunito',sans-serif;
	}
	body{
		background-color: #ecf0f1;
	}
	
</style>