@mixin columns($count: 3, $gap: 3.2em) {
	-webkit-column-count: $count;
	-moz-column-count: $count;
	column-count: $count;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
	> * {-webkit-column-break-inside: avoid;}
}