.wrapp_breadcumbs_info {
	border-bottom: 1px solid #d9d9d9;
	padding: 16px 0 11px;
	@media (min-width: 768px) and (max-width: 991px) {padding: 11px 0 8px;}
	@media (max-width: 767px) {padding: 20px 0 21px;}
}
.breadcrumb {
	font: 10px $sansSerifSecond800;
	letter-spacing: 0.07em;
	margin: 6px 0 5px;
	@media (min-width: 992px) {
		color: #bebebe;
		font-family: $sansSerifSecond500;
	}
	@media (max-width: 767px) {justify-content: center;}
	> li {
		margin: 3px 0;
		&::after {
			content: "\f105";
			display: inline-block;
			font: normal normal normal 1.4em/0.8em FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin: 0 15px;
			@media (max-width: 767px) {margin: 0 7px;}
		}
	}
}


.breadcrumbs_sort_v2 {
	.breadcrumb {
		color: inherit;
		font-family: $sansSerifSecond800;
	}
	@media (min-width: 992px) {
		.wrapp_sort_by_list {margin-left: 138px;}
		.wrapp_breadcumbs_info {
			border: none;
			padding: 52px 0 30px;
		}
	}
}