button, select, input, textarea {-webkit-appearance:none;}
label {margin: 0;}
button {
	background: none;
	border: none;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	padding: 0;
}
select.form-control {line-height: 1;}
textarea.form-control {min-height: 112px;}
// .box_form {margin-bottom: 29px;}
.control-label {
	font: 400 13px $fourthSansSerif;
	margin-bottom: 5px;
	.fa {margin-right: 9px;}
}
.form-control {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #ddd;
	color: #555;
	height: 34px;
	font: 400 17px/1.42857143em $fourthSansSerif;
	padding: 6px 12px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	&:focus {box-shadow: 0px 0px 0px;}
}
// input.form-control, textarea.form-control {background: none;}
.btn {
	background: #D24D57;
    border-radius: 30px;
    color: #fff;
    font: 600 16px/1.2em $thirdSansSerif;
    padding: 12px 26px;
    &:hover, &:focus {
    	color: #fff;
    	text-decoration: none;
    }
}
// .btn_invert, .btn_invert:hover, .btn_invert:focus {
// .btn_invert {
// 	background: none;
// 	color: #252525;
// 	&:hover, &:focus {
// 		background-color: #252525;
// 		color: #fff;
// 	}
// }
// .buy_btn { 
// 	font-family: $sansSerifSecond;
// 	padding: 7px 2px 6px;
// 	.list {
// 		justify-content: center;
// 		> li {
// 			margin: 0;
// 			&::after {
// 				color: #d9d9d9;
// 				margin: 0 9px;
// 			}
// 			.buy_txt {letter-spacing: 0.12em;}
// 			.new_price, .old_price {font-size: 9px;}
// 			.new_price {color: #ff0629;}
// 			.old_price {
// 				color: #acacac;
// 				padding-left: 7px;
// 				text-decoration: line-through;
// 			}
// 		}
// 	}
// }
// .circle_btn {
// 	border-radius: 100%;
// 	height: 115px;
// 	font: 10px $sansSerifSecond;
// 	margin: 25px auto 0;
// 	@include flex_align();
// 	width: 115px;
// }
// safari bug
.bt {position: relative;}
.in_button {
	@include flex_align();
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
// END safari bug
