// trigger 
/* .list_grid_bt {
	display: none;
	font-size: 12px;
	margin-left: 12px;
	li {padding: 0 0 0 4px;}
	.btn {
		color: #d7d7d7;
		border: none;
		display: block;
		font-size: 14px;
		padding: 0;
		&.active {color: #231f20;}
	}
} */
// END trigger



// product (grid view)
.wrapp_list_grid {
	position: relative;
	.wrapper_product {margin-bottom: 48px;}
	.box_product_item { 
		display: block;
		margin: auto;
		text-align: center;
		.product_img {position: relative;}
		.product_txt {
			color: #21241b;
			margin: 10px 15px 0;
		}
		.main_heading {
			font: 14px $sansSerifSecond;
			letter-spacing: 0.02em;
			margin: 24px 0 0;
		}
		.btn {
			margin-top: 3px;
			max-width: 145px;
			width: 100%;
			// @media (max-width: 767px) {margin-top: 37px;}
		}
		.sticker {
			border: 1px solid;
			border-radius: 100%;
			@include flex_align();
			font: 8px $sansSerifSecond;
			height: 55px;
			letter-spacing: 0.1em;
			line-height: 1.5em;
			padding: 0px 5px 2px;
			position: absolute;
			right: 0;
			top: 0;
			text-transform: uppercase;
			width: 55px;
		}
		.hover_block {
			background-color: #fff;
			display: none;
			flex-direction: column;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 4;
			.hover_bg {
				background: url(../../images/item_hover.png) 50% / contain no-repeat;
				display: flex;
				flex: 1 1 auto;
			}
		}
		&:hover .hover_block {display: flex;}
		.tools_list {
			justify-content: center;
		}
	}
	// product (rid view)



	// grid view - items same
	&.sameitems {
		.box_product_item {
			.product_img {
				@include flex_align();
				font-size: 9.3px;
				height: 23.7em;
				margin: auto;
				width: 23.7em;
				@include media-breakpoint-down(lg) {font-size: 7.68px;}
				@include media-breakpoint-down(md) {font-size: 8px;}
				@include media-breakpoint-down(sm) {font-size: 9.25px;}
				@include media-breakpoint-down(xs) {font-size: 8.8px;}
				@media (max-width: 511px) {font-size: 8.4px;}
				@media (max-width: 493px) {font-size: 8px;}
				@media (max-width: 470px) {font-size: 7.5px;}
				@media (max-width: 448px) {font-size: 7px;}
				@media (max-width: 425px) {font-size: 6.5px;}
				@media (max-width: 402px) {font-size: 6px;}
				@media (max-width: 379px) {font-size: 5.5px;}
				img {
					margin: auto;
					max-height: 23.7em;
				}
				picture {width: 100%;}
			}
		}
	}
	// END grid view - items same

	// large items
	&.large_items {
		.box_product_item {
			@media (min-width: 768px) and (max-width: 991px) {padding: 0px 32px;}
			.product_img {
				font-size: 11.6px;
				width: auto;
			}
		}
		.main_heading {
			font: 32px/1.5em $sansSerifSecond500;
			letter-spacing: 0.05em;
			margin: 65px 0 22px;
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 20px;
				margin: 69px 0 16px;
			}
			@media (max-width: 767px) {
				font-size: 16px;
				margin: 10px 0 26px;
			}
		}
		.description {
			line-height: 1.84em;
			margin: auto;
			max-width: 390px;
			@media (max-width: 767px) {line-height: 1.7em;}
		}
	}
	// END large items
}


.touchevents .wrapp_list_grid {
	.box_product_item {
		.product_img {padding-top: 30px;}
		.hover_block {
			background: none;
			display: flex;
			.hover_bg {opacity: 0;}
		}
		.tools_list {margin-top: -7px;}
	}
}



// list view
/* @include media-breakpoint-up(sm) {
	.list_grid_bt {display: flex;}
	.list_view {
		.wrapper_product {flex: 0 0 100%;}
		.box_product_item {
			border: 1px solid #efefef;
			display: flex;
			padding: 20px 10px;
		}
		.product_img {
			flex: 0 0 23.7em;
			margin-right: 20px;
		}
	}
} */
// list view