.pagination_custom {
	font: 10px $sansSerifSecond800;
	justify-content: flex-end;
	@media (max-width: 767px) {
		font-size: 14px;
		justify-content: center;
	}
	> li {
		margin: 0;
		&::after {
			content: ' ';
			margin: 0 6px;
		}
		a {
			color: #bebebe;
			font-size: 1.3em;
		}
		.devider {padding: 0 8px;}
	}
}