.swiper-wrapper {transition: transform 0.3s;}
.slider-wrap {
    cursor: ew-resize;
    margin: 96px auto 50px;
    position: relative;
    max-width: 1016px;
}
.jsHandlerMask {transition: 0.3s all ease-in-out 0s;}
.ui-slider, .for_mask {background: linear-gradient(to right, #f00, #ffa500, #ff0, #008000, #00f, #4b0082, #ee82ee);}
.for_mask {
    height: 26px;
    top: -10px;
    position: absolute;
    -webkit-clip-path: circle(12px at 0 13px);
    clip-path: circle(12px at 0 13px);
    width: 100%;
}
.ui-slider {
	border-radius: 4px;
	height: 8px;
}
.ui-slider {
    background-color: #9b5f9f;
    position: relative;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {position: relative;}
.ui-slider .ui-slider-handle {
    transition: all 0 ease-out 0;
    position: absolute;
    top: -8px;
    width: 1px;
    &::after {
        // background: #000;
        border-radius: 100%;
        content: '';
        height: 25px;
        position: absolute;
        top: 0;
        left: -13px;
        width: 26px;
    }
}
.wrap-slider-bottom {
    font-size: 43px;
    font-weight: 700;
}


.svg_slider_line {
    position: absolute;
    top: -10px;
    width: 100%;
}