*, *::after, *::before {
	box-sizing: border-box;
	outline: none!important;
	min-width: 0;
}
iframe, object, embed {
	border: none;
	width: 100%;
}
img {image-orientation: from-image;}
body {
	background-color: #1d99d1;
	color: #252525;
	font-size: 13px;
	font-family: $mainSansSerif;
	min-width: 320px;
	margin: 0;
	padding: 0;
}
b, strong {font-family: $mainSansSerif;}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a:focus {
	color: #014c8c;
    text-decoration: none;
}
// a.dropdown-toggle:hover {color: initial;}
[data-toggle] {cursor: pointer;}
.img-fluid {
	display: block;
	max-width: 100%;
	height: auto;
}
ul {margin-bottom: 0}
picture {display: block;}
.section {
	margin-bottom: 110px;
	
}
.hide {display: none;}

.clearfix {
	&::before, &::after {
		content: " ";
		display: table;
	}
	&::after {clear: both;}
}

.d_table {display: table;}
.table_row {display: table-row;}
.table_cell {display: table-cell;}
.d_flex {display: flex;}
.d_block {display: block;}
.grow {flex-grow: 1;}
.d_inline_block {display: inline-block;}
.pink_text {color: #f8aadd;}
.text_right {text-align: right;}
.text_left {text-align: left;}
.text_center {text-align: center;}
.flex_auto {flex: 1 1 auto;}
.relative {position: relative;}

.red_text {color: #B9002D;}
.blue_text {color: #2196f3;}
@media (min-width: 768px) {
	.flex_centered {
		@include flex_align(space-between);
		width: 100%;
	}
}


.content_wrapper {
	margin-top: 79px;
	@media (max-width: 767px) {margin-top: 105px;}
	@media (max-width: 543px) {margin-top: 75px;}
}
.custom_container {
	margin: 0 auto;
	max-width: 905px;
	padding: 0 15px;
}
.custom_row {
	display: flex;
	margin: 0 -15px;
}
.custom_col_8, .custom_col_7,  .custom_col_6, .custom_col_5, .custom_col_4, .custom_col_3, .custom_col {padding: 0 15px;}
.custom_col_9 {flex: 0 0 75%;}
.custom_col_8 {flex: 0 0 66.666%;}
.custom_col_7 {flex: 0 0 58.33333%;}
.custom_col_6 {flex: 0 0 50%;}
.custom_col_5 {flex: 0 0 41.66667%;}
.custom_col_4 {flex: 0 0 33.333%;}
.custom_col_3 {flex: 0 0 25%;}
@media (max-width: 767px) {
	.custom_row {flex-wrap: wrap;}
	.custom_col_9, .custom_col_8, .custom_col_7,  .custom_col_6, .custom_col_5, .custom_col_4, .custom_col_3 {flex: 1 1 100%;}
}