@import "../../assets/scss/_common_test.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.practice-page-wrapper {
    $roof-width: 1169px;
    $roof-height: 175px;
    $roof-left-side-margin: 45px;
    $roof-right-side-margin: 57px;
    $roof-content-width: 1067px;
    $sidebar-small-width: 155px;
    $sidebar-large-width: 220px;
    $bg-blue-color: #F1F1F1;
    $blue-color: #4B96AE;

    $big-sidebar-small-screen-width: 0px;
    $transition: all 0s ease-in;
    $big-sidebar-width: 0px;

    min-height: 100vh;
    background: $bg-blue-color;
    width: 100%;

    // .mjx-mi, .mjx-mn {
    //     color: darken(#222, 10%);
    // }

    // .mjx-mo {
    //     color: green;
    // }

    .MJXc-display {
        display: inline-block !important;
    }

    .icon-rotate-180 {
        @include transform(rotate(180deg));
    }

    .icon-rotate-90 {
        @include transform(rotate(90deg));
    }

    .right-hdr-btn {
        position: fixed;
        right: 0px;
        top: 30px;
        z-index: 999;
        color: white;

        a {
            color: white;
            text-decoration: none;
            margin-left: 5px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .share {
        position: absolute;
        top: 20px;
        left: 50px;

        @include display(flex);

        @include justify-content(center);

        @include flex-direction(row);

        .item {
            margin-right: 10px;

            // background: #e5e5e5;
            padding: 3px 2px;
            cursor: pointer;

            img {
                // width: 16px;
                height: 32px;
            }
        }
    }

    .course-sidebar {
        position: fixed;
        left: 0px;
        top: 00px;
        bottom: 0px;
        z-index: 1000;
        overflow: hidden;
        right: 0px;
        width: 0px;
        box-shadow: 0px 0px 0px;

        @include transition(0.3s all ease-in);

        &.ds-open {
            width: 530px;
        }

        ul.wrapper {
            margin-bottom: 0px;
            position: absolute;
            top: 70px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 100;
            overflow: hidden;
            border-left: 10px solid #1d99d1;
            width: 500px;
            box-shadow: 1px 2px 16px #222;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);
        }

        .third-strip-wrapper {
            color: #444;
            font-family: aller;
            font-size: 15px;
            z-index: 10001;
            height: 100%;
            background-color: #fff;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            max-height: 100vh;
            border-top-right-radius: 5px;

            @include display(flex);

            @include flex-direction(column);

            &.open {
                right: 10px;
            }

            &.closed {
                right: -$big-sidebar-small-screen-width;

                @include breakpoint(large_desktop) {
                    right: -$big-sidebar-width;
                }


                .sidebar-close-icon {
                    display: none !important;
                }
            }

            .header-top, .header-name, .tabs, .footer {
                // padding: 7px;
                font-family: waverly;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
            }

            .header-top {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                display: none;

                .item {
                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    @include flex-wrap(wrap);

                    @include flex(1);

                    cursor: pointer;
                }

                .home {
                    display: none;

                    @include breakpoint(large_desktop) {
                        @include display(flex);
                    }
                }

                .icon {
                    width: 100%;
                    text-align: center;
                }

                .width-changer {
                    span {
                        padding: 5px 10px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .header-name {
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                height: 80px;
                color: #222;
                border-top-right-radius: 8px;
                background: white;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-around);

                @include flex-direction(row);

                display: none;

                .switch {
                    border: 3px solid #222;
                    border-radius: 3px;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    .item {
                        background: #fff;
                        color: #222;
                        font-family: aller;
                        font-size: 15px;
                        font-weight: normal;
                        text-transform: capitalize;
                        padding: 0px 10px;
                        cursor: pointer;
                        box-shadow: inset -4px 5px 10px #ccc;
                        position: relative;

                        // @include filter(blur(1px));
                   
                    }

                    .active {
                        background: #222;
                        color: #fff;
                        pointer-events: none;
                        box-shadow: -1px -1px 2px #fff;

                        @include filter(blur(0px));

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -12px;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid #222;
                        }
                    }
                }

                .close-btn {
                    @include breakpoint(large_desktop) {
                        display: none;
                    }
                }
            }

            .tabs {
                // border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                height: 60px;
                font-size: 15px;
                background: #1d99d1;
                border-top-right-radius: 5px;

                // border-bottom-right-radius: 5px;
                width: 100%;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-shrink(0);

                .tab-item {
                    cursor: pointer;
                    padding: 13px;
                    color: #fff;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    @include flex(1);

                    &.active {
                        // background: rgba(0, 0, 0, 0.1);
                        color: orange;

                        // border-bottom: 6px solid orange;
                   
                    }

                    &.close-btn {
                        font-size: 25px;
                        padding-left: 15px;
                        padding-right: 15px;

                        @include flex(0);
                    }

                    &.disabled {
                        pointer-events: none;
                        color: #ddd;
                    }

                    .text {
                        margin-left: 10px;
                    }
                }
            }

            .tab-wrapper {
                // margin: 2px;
                overflow: auto;

                // background: white;

                @include flex(1);
            }

            .footer-tab {
                border-bottom-right-radius: 5px;
                position: relative;
                bottom: 5px;
                display: none;
            }

            .footer {
                border-top: 1px solid white;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                .item {
                    cursor: pointer;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    @include flex-wrap(wrap);

                    @include flex(1);

                    &.disabled {
                        pointer-events: none;
                        color: #ddd;
                    }

                    &.active {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }

                .icon {
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .feedback-wrapper {
            padding: 7px;
            font-family: aller;
            width: 100%;

            .question {
                font-size: 18px;
                margin: 10px 0px;
            }

            .useroption {
                color: white;
                cursor: pointer;
            }

            img {
                width: 20px;
                height: 20px;
            }

            input[type='radio']:after {
                border-color: white;
            }

            input[type='radio']:before {
                background: white;
            }
        }

        .report-wrapper {
            textarea {
                color: #222;
                width: 100%;
            }

            .submit {
                display: inline-block;
                background: #1d99d1;
                color: white;
                padding: 5px 20px;
                float: right;
                border-radius: 3px;
                font-family: waverly;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .add-note-wrapper {
            padding: 7px;
            width: 100%;

            @include justify-content(flex-start);

            .note-form {
                width: 100%;
            }

            textarea {
                color: #222;
                font-family: aller;
                font-size: 17px;
                box-shadow: 0px 1px 0px white;
            }

            input[type='submit'] {
                background: $blue-color;
                border-bottom: 0px;
                box-shadow: 0px 0px;
            }

            .note-list {
                padding-right: 10px;
            }

            .note {
                margin: 10px 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);
            }
        }

        .share-widget-wrapper {
            padding: 7px;
            width: 100%;

            @include justify-content(flex-start);

            color: white;

            .post {
                width: 100%;
            }

            .header {
                font-size: 20px;
                font-family: aller;
                text-align: center;
                margin: 20px 0px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            .share-options {
                margin: 30px 0px;
            }

            input[type='radio']:after {
                border-color: white;
            }

            input[type='radio']:before {
                background: white;
            }

            textarea {
                color: white;
                font-family: aller;
                font-size: 17px;
                box-shadow: 0px 1px 0px white;
                margin-bottom: 15px;
            }

            input[type='submit'] {
                background: $blue-color;
                border-bottom: 0px;
                box-shadow: 0px 0px;
            }
        }

        .question-list-wrapper {
            padding: 7px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            @include justify-content(flex-start);

            color: #222;

            .question-number-wrapper {
                background-color: white;
                border-radius: 3px;
                margin-bottom: 10px;
                max-height: 700px;
                overflow: auto;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }

            .instructions {
                background-color: white;
                border-radius: 3px;
                margin-bottom: 10px;
                padding: 10px;
                font-family: 'Ubuntu';

                @include display(flex);

                @include flex-wrap(wrap);

                & > div {
                    width: 50%;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .icon {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin-right: 10px;
                }
            }

            .question-number {
                // height: 38px;
                // width: 39.5px;
                padding: 5px;

                // border-radius: 3px;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                display: inline-block;
                position: relative;

                // margin: 10px;
                float: left;
                cursor: pointer;

                @include flex(1);

                i {
                    font-size: 9px;
                    margin: 0px 2px;
                }
            }

            .number {
                font-family: 'Aller';
                font-size: 19px;
                text-align: center;
            }

            .icons {
                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-end);

                margin-top: -7px;
            }

            .right-que-icon {
                // background-color: green;
                color: lighten(green, 5%);
            }

            .wrong-que-icon {
                // background-color: red;
                color: lighten(red, 5%);
            }

            .skip-que-icon {
                // background-color: orange;
                color: lighten(orange, 5%);
            }

            .review-que-icon {
                // background-color: #4183D7;
                color: #4183D7;
            }

            .learn-que-icon {
                // background-color: #6C7A89;
                color: #6C7A89;
            }

            .current-que-icon {
                // background-color: #E4F1FE;
                color: darken(#E4F1FE, 10%);
            }
        }

        .content-wrapper {
            /*
                Accordian - Panel Style
            */

            padding-right: 20px;

            .panel-group {
                margin: 0px;

                *:focus {
                    outline: none;
                }

                .panel {
                    margin: 0px;
                    border-radius: 0px;
                    box-shadow: 0px 0px 0px;
                    -webkit-box-shadow: 0px 0px 0px;
                    background: transparent;
                }
            }

            .panel-body {
                padding: 0px 20px;
                border: 0px !important;
                background: #eee;
                color: #222;

                //darken($gray-color, 10%);

                ul {
                    margin-bottom: 0px;
                }

                li {
                    padding: 5px 0px;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(space-between);

                    @include flex-direction(row);
                }

                .item {
                    display: inline-block;
                    margin-left: 2px;
                }

                .item-name {
                    height: 30px;
                    line-height: 30px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0px 20px;
                    font-size: 15px;
                    font-family: 'Roboto Condensed',sans-serif;

                    @include flex(1);

                    &.pointer-none {
                        pointer-events: none;
                    }
                }

                .exam-btn {
                    padding: 0px 10px;
                    color: #444;
                    background: white;
                    border-radius: 2px;
                    margin: 0px 2.5px;
                    display: inline-block;
                    cursor: pointer;
                }
            }

            .panel-group .panel + .panel {
                margin: 0px;
            }

            .panel-heading {
                padding: 0px;
                background: transparent;

                // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
           
            }

            .active {
                color: #D24D57;
            }

            .accordion-toggle {
                // padding: 20px 10px;
                color: #222;
                text-transform: initial;
                display: block;
                text-decoration: none;
                font-family: ubuntu;
                font-size: 15px;
                border-bottom: 1px solid #eee;

                .icon-img {
                    img {
                        width: 30px;
                    }
                }

                & > span:first-of-type {
                    @include display(flex);

                    @include align-items(center);

                    @include flex-direction(row);
                }

                $class-slug: icon !default;

                .icon {
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: none;

                    &.active {
                        @include filter(grayscale(100%));
                    }
                }

                @for $i from 0 through 9 {
                    .#{$class-slug}-#{$i} {
                        background-image: url("../../assets/images/courselist-icons/#{$i}.png");
                    }
                }

                .module-name {
                    font-size: 15px;
                    font-family: 'Roboto Condensed',sans-serif;
                    margin-left: 10px;
                    color: #1d99d1;
                    position: relative;
                    padding: 20px 10px;
                    width: 100%;

                    // top: 3px;
               
                }
            }
        }
    }

    .usb-menu {
        margin: 15px 0px;
        cursor: pointer;
        position: relative;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        &.shaded:before {
            content: '';
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            background: rgba(0, 0, 0, 0.5);
        }

        .usb-start {
            width: 20px;
            height: 60px;
        }

        .usb-middle {
            background: #fff;
            box-shadow: inset 6px 0px 5px -5px #555,inset -6px 0px 5px -5px #555;
            height: 50px;
            width: 50px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .icon-img {
                height: 25px;
            }
        }

        .usb-end {
            width: 75px;
            height: 60px;
            color: white;
            font-family: 'waverly',sans-serif;
            font-size: 15px;
            font-weight: bold;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        &.orange {
            .usb-start {
                background-color: #DF5F0E;
            }

            .usb-end {
                background-color: #DF5F0E;
            }
        }

        &.blue {
            .usb-start {
                background-color: #3498DB;
            }

            .usb-end {
                background-color: #3498DB;
            }
        }

        &.red {
            .usb-start {
                background-color: #D24D57;
            }

            .usb-end {
                background-color: #D24D57;
            }
        }

        &.green {
            .usb-start {
                background-color: #87D37C;
            }

            .usb-end {
                background-color: #87D37C;
            }
        }
    }

    .header-btns {
        position: fixed;
        right: 10px;
        top: 5px;
        font-size: 18px;
        z-index: 1000;

        .inner-item {
            cursor: pointer;
        }
    }

    .left-header-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001;
        font-size: 20px;
        color: #222;
        cursor: pointer;

        .menu-btn {
            img {
                height: 45px;
            }

            &.big-screen {
                display: none;

                @include breakpoint(large_desktop) {
                    display: block;
                }
            }

            &.small-screen {
                display: block;

                @include breakpoint(large_desktop) {
                    display: none;
                }
            }
        }
    }

    .sidebar-wrapper-tree {
        position: fixed;
        z-index: 1;
        z-index: 100;
        top: 0px;
        display: none;

        @include breakpoint(screen_1280) {
            right: -10px;
            bottom: 20px;
            width: $sidebar-small-width;
            display: block;

            .small {
                display: block;
            }

            .big {
                display: none;
            }
        }


        @include breakpoint(large_desktop) {
            width: 300px;
            right: 20px;
            bottom: 150px;

            .big {
                display: block;
            }

            .small {
                display: none;
            }
        }


        .sidebar-wrapper-tree-img {
            position: absolute;
            bottom: 0px;
            right: 0px;

            @include breakpoint(large_desktop) {
                // width: 300px;
                // right: -150px;
            }
        }

        .tree-btn-wrapper {
            padding: 10px;
            position: absolute;
            bottom: 0px;

            @include breakpoint(screen_1280) {
                right: 10px;
            }


            @include breakpoint(large_desktop) {
                height: 500px;
                right: 0px;
                width: 280px;
                padding: 0px;

                @include display(flex);

                @include align-items(flex-start);

                @include flex-wrap(wrap);

                @include justify-content(space-between);

                @include flex-direction(row);
            }


            .item {
                width: 50px;
                height: 45px;
                margin-top: 40px;
                color: white;
                font-size: 12px;
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                &.big {
                    display: none;

                    @include breakpoint(large_desktop) {
                        @include display(flex);
                    }
                }

                @include breakpoint(screen_1280) {
                    width: 100px;
                    height: 85px;
                    font-size: 15px;
                }


                @include breakpoint(large_desktop) {
                    width: 115px;
                    height: 95px;
                    margin-top: 30px;
                    font-size: 25px;
                }


                &.disable {
                    pointer-events: none;
                }
            }
        }
    }

    .quiz-sidebar {
        position: fixed;
        right: 10px;
        top: 0px;
        bottom: 0px;
        z-index: 1;
        width: $sidebar-small-width;
        z-index: 100;
        display: none;

        @include breakpoint(screen_1367) {
            // right: 0px;
            right: auto;
            margin-left: 50%;
            left: $roof-content-width / 2;
            width: $sidebar-large-width;
        }


        .tree-img {
            .tree-menu {
                position: absolute;
                top: 220px;
                left: 20px;
                bottom: 0px;
                right: 10px;
                font-family: 'Roboto Condensed',sans-serif;
                font-size: 16px;
                border-radius: 5px;
                background-color: white;

                .item {
                    padding: 20px 20px;
                    border-bottom: 1px solid;
                    margin: 0px 0px;
                    cursor: pointer;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    img {
                        width: 25px;
                        margin-right: 5px;
                    }

                    @include breakpoint(screen_1367) {
                        padding-left: 60px;

                        @include justify-content(flex-start);
                    }
                }
            }
        }
    }

    .quiz-bg-color {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: #1DBED0;

        &.fullscreen {
            right: 20px;
        }
    }

    .big-bg-image {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        background-image: url(../../assets/images/home_bg.png);
        background-attachment: fixed;
        background-position: 0 100%;
        background-size: contain;
        background-repeat: no-repeat;
        display: none;
        z-index: 1;

        @include breakpoint(screen_1280) {
            display: block;
        }
    }

    .bg-image {
        position: fixed;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }

    .bg-left-image {
        position: fixed;
        right: 1366px;
        bottom: 0px;
        display: none;
        z-index: 1;

        @include breakpoint(screen_1367) {
            display: block;
        }
    }

    .middle-wrapper {
        $middle-wrapper-z-index: 100;

        // z-index: $middle-wrapper-z-index;
        position: relative;
        background: #1DBED0;
        width: 100%;

        .height-adujster {
            z-index: 1;
        }

        .roof {
            position: fixed;
            width: $roof-width;
            height: $roof-height;
            margin: 0px auto;
            right: $sidebar-small-width - $roof-right-side-margin;
            padding-top: 10px;
            top: 0px;
            background: #1DBED0;
            z-index: $middle-wrapper-z-index - 1;

            @include breakpoint(screen_1367) {
                // left: auto;
                // right: $sidebar-large-width - $roof-right-side-margin;
                left: -($roof-width / 2) + 7;
                margin-left: 50%;
                right: auto;
            }


            .roof-content {
                // height: $roof-height;
                width: $roof-content-width;
                padding-top: 50px;
                position: absolute;
                left: 44px;
                top: 30px;
                border-bottom: 1px solid #ccc;
                box-shadow: 0px 5px 5px -5px #ccc;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-start);

                @include flex-direction(column);

                .logo-image {
                    margin-bottom: 30px;
                }

                .time-wrapper {
                    font-family: 'Roboto Condensed',sans-serif;
                    font-size: 15px;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    .item {
                        $border-radius: 5px;

                        padding: 0px 30px;
                        background: white;
                        border: 1px solid #ccc;
                        border-right: 0px;
                        position: relative;

                        // box-shadow: 1px 1px 1px #ccc;

                        @include display(flex);

                        @include align-items(center);

                        @include justify-content(center);

                        @include flex-direction(column);

                        &:first-child {
                            border-top-left-radius: $border-radius;
                            border-bottom-left-radius: $border-radius;
                        }

                        &:last-child {
                            border-top-right-radius: $border-radius;
                            border-bottom-right-radius: $border-radius;
                            border-right: 1px solid #ccc;
                        }

                        &:before {
                            position: absolute;

                            // content: '';
                            width: 5px;
                            height: 5px;
                            background: #ccc;
                            border-radius: 50%;
                            left: 5px;
                            top: 5px;

                            &:before {
                                position: absolute;

                                // content: '';
                                width: 5px;
                                height: 5px;
                                background: #ccc;
                                border-radius: 50%;
                                left: 5px;
                                top: 5px;
                            }
                        }

                        &:after {
                            position: absolute;

                            // content: '';
                            width: 5px;
                            height: 5px;
                            background: #ccc;
                            border-radius: 50%;
                            right: 5px;
                            top: 5px;
                        }
                    }
                }

                .actions-icons-wrapper {
                    width: calc(100%);
                    padding: 0px 0px;
                    position: relative;
                    font-family: 'Roboto Condensed',sans-serif;
                    background: white;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(space-between);

                    @include flex-direction(row);

                    .action-section {
                        @include display(flex);

                        @include align-items(center);

                        @include justify-content(center);

                        @include flex-direction(row);
                    }

                    .action-icon {
                        cursor: pointer;
                        padding: 0px 15px;
                        z-index: 2;

                        // border: 1px solid white;

                        @include display(flex);

                        @include align-items(center);

                        @include justify-content(center);

                        @include flex-direction(column);

                        img {
                            // width: 30px;
                       
                        }

                        &.active {
                            color: green;
                        }

                        &.disable {
                            pointer-events: none;
                            color: #ccc;
                        }

                        img.disable {
                            @include filter(grayscale(100%));

                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .content-wrapper {
            width: $roof-content-width;

            // padding-top: $roof-height;
            // margin-left: 62px;
            background: #f4f4f4;
            position: relative;

            // left: $roof-left-side-margin;
            // right: $sidebar-small-width;
            right: -($roof-left-side-margin + 12);
            padding: 15px;
            padding-top: $roof-height + 60px;

            // min-height: calc(100vh - (#{$roof-height} + 10px));
            z-index: $middle-wrapper-z-index - 1 - 1;
            min-height: 100vh;

            @include breakpoint(screen_1367) {
                // left: auto;
                // right: $sidebar-large-width;
                margin-left: 50%;
                left: -($roof-content-width / 2);
            }


            pre {
                background: transparent;
                border: 0px;
                font-size: 20px;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                word-break: break-word;

                p {
                    margin: 0px;
                }
            }

            code {
                font-family: aller;
            }
        }

        .current-active-item {
            background: #fff;
            font-size: 16px;
            font-family: 'roboto condensed',sans-serif;
            margin-bottom: 15px;
            border-radius: 3px;
            box-shadow: 1px 1px 1px #aaa;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            .i-name {
                padding: 0px 10px;
                font-size: 20px;

                .arrow {
                    margin: 0px 5px;
                    color: #222;
                }

                .course-name {
                    color: green;
                    font-size: 28px;
                }

                .module-name {
                    color: #1d99d1;
                }

                .item-name {
                    color: red;
                }
            }

            .header-time {
                @include display(flex);

                @include align-items(center);

                @include flex-direction(row);

                .item {
                    font-size: 12px;
                    padding: 5px;
                }
            }
        }

        .small-sub-header {
            padding: 0px 10px 5px;
            background: #fff;
            font-size: 12px;
            font-family: 'roboto condensed',sans-serif;
        }

        .questions-tabs-wrapper {
            background: #fff;
            margin-top: 15px;
            box-shadow: 1px 1px 1px #aaa;
            border-radius: 3px;

            .tabs {
                background: #e5e5e5;
                margin: 0px 0px;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;

                // border-radius: 3px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);

                .tab {
                    padding: 10px;
                    text-align: center;
                    font-size: 22px;
                    font-family: 'waverly','Roboto Condensed','aller',sans-serif;
                    border-bottom: 0px solid transparent;
                    text-transform: lowercase;
                    cursor: pointer;
                    color: #DF5F0E;

                    @include flex(1);

                    img {
                        margin-right: 10px;
                    }

                    &.pointer-none {
                        pointer-events: none;
                    }

                    &.active {
                        color: darken(#87D37C, 20%);
                    }

                    &.orange {
                        color: #DF5F0E;
                    }

                    &.blue {
                        color: #3498DB;
                    }

                    &.red {
                        color: #D24D57;
                    }

                    &.green {
                        color: darken(#87D37C, 20%);
                    }
                }
            }

            .tab-content {
                background: white;
                padding: 20px;
            }

            // Video Comment Wrapper
            .question-comment-wrapper {
                max-width: 950px;
                margin: 0px auto;

                .comment-component-wrapper .post:first-child {
                    border-radius: 3px;
                }

                .comment-component-wrapper .post .comment-wrapper {
                    background: transparent;
                }
            }

            // question note wrapper
            .question-note-wrapper {
                textarea {
                    color: #222;
                    margin-bottom: 10px;
                    box-shadow: 0px 0px 0px;
                    border: 1px solid #1d99d1;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-family: roboto condensed;
                    font-size: 17px;
                }

                .note-wrap {
                    background-color: #f4f4f4;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid #e5e5e5;
                    margin: 5px 0px;
                    font-family: 'nunito',sans-serif;

                    .act-btns {
                        @include display(flex);

                        @include align-items(center);

                        @include justify-content(flex-end);

                        @include flex-direction(row);

                        .note-icon {
                            margin-left: 10px;
                            cursor: pointer;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }

                    .note-text {
                        font-size: 15px;
                    }

                    .note-time {
                        font-size: 12px;
                        color: #1d99d1;
                    }
                }

                .qa {
                    margin: 10px 0px;
                    background: #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    border-radius: 3px;
                    color: #222;
                    cursor: pointer;
                    text-decoration: none;
                    padding: 10px;
                    position: relative;

                    &:last-child {
                        border-bottom: 0px solid #e5e5e5;
                    }

                    &:hover {
                        // color: #1d99d1;
                        text-decoration: none;
                    }

                    @include display(flex);

                    @include align-items(flex-start);

                    @include justify-content(flex-start);

                    @include flex-direction(row);

                    .qa-title {
                        font-size: 14px;
                        line-height: 1.5;
                        word-break: break-word;
                        cursor: text;
                        font-family: 'Roboto', sans-serif;
                    }

                    .qa-info {
                        font-size: 12px;
                        color: #555;
                    }

                    .note-icon {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 13px;
                        color: red;
                    }
                }
            }
        }

        .login-required-msg-wrapper {
            font-family: 'nunito','aller',sans-serif;
            font-size: 20px;
            background: white;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            .btns-wrapper {
                padding: 10px;

                @include display(flex);

                @include align-items(center);

                @include flex-direction(row);

                .ew-rounded-btn {
                    margin: 0px 10px;
                }
            }
        }

        // QA Wrapper
        .qa-wrapper {
            padding: 15px;
            background: white;
            border-radius: 3px;
            box-shadow: 1px 1px 1px #aaa;
            position: relative;

            .dot-loader-wrapper {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                background: white;
                z-index: 11;

                @include display(flex);

                @include align-items(flex-start);

                @include justify-content(center);

                @include flex-direction(row);

                .dot-loader {
                    width: 100px;
                    height: 100px;
                }
            }

            .question-wrapper {
                .title {
                    text-align: center;
                }

                // .q {
                //     pre {
                //         display: inline-block;
                //     }
                // }
           
            }

            .options-wrapper {
                .o, .ng-option {
                    &.disable_option {
                        pointer-events: none;
                    }
                }

                .option {
                    margin: 10px 0px;
                    cursor: pointer;

                    @include display(inline-flex);

                    @include align-items(center);

                    @include justify-content(flex-start);

                    @include flex-direction(row);

                    pre {
                        padding: 10px;
                    }

                    .useroption {
                        min-width: 50px;
                        min-height: 50px;
                        position: relative;

                        div, img {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                        }
                    }
                }
            }
        }

        .pre-exam-dialog {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            .test-name-title {
                color: #1d99d1;
                font-size: 16px;
            }

            .strt-btn {
                background: #1d99d1;
                color: white;
                font-size: 17px;
                padding: 5px 10px;
                border-radius: 3px;
                cursor: pointer;
            }
        }

        .question-exam-stats {
            padding: 0px;

            &.only-for-sharing {
                display: none;
            }

            .stats-main-head {
                text-align: center;
                padding: 10px;
                background: #e5e5e5;
                font-size: 18px;
                font-family: 'Roboto',sans-serif;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);
            }

            .stats-wrapper {
                padding: 10px;
            }

            .exam-stats-title {
                font-family: 'Roboto',sans-serif;
                font-size: 16px;
                color: #1d99d1;
                width: 300px;
                display: inline-block;
            }

            .exam-stats-value {
                font-family: 'Roboto',sans-serif;
                font-size: 15px;
            }

            .exam-stats-btn {
                background: #1d99d1;
                margin: 0px 30px;
                padding: 5px 10px;
                display: inline-block;
                border-radius: 3px;
                color: white;
                cursor: pointer;
            }
        }

        // Explanation Wrapper
        /* Explantion Part */
        .explanation-wrapper {
            color: #333;
            position: relative;

            // background: #f1f1f1;
            // border-top: 1px solid #ccc;

            @include transition(all 0.3s ease-in-out);

            .title {
                text-align: center;
                font-size: 20px;
                font-family: waverly;
                text-transform: uppercase;
                top: 12px;
                position: relative;
            }

            .highlight {
                cursor: pointer;
                background-color: yellow;

                // display: inline-block;

                sup {
                    border-bottom: 1px solid;
                    color: blue;
                    padding-bottom: 2px;
                }

                & > .highlight {
                    // background-color: #4183D7;

                    & > .highlight {
                        // background-color: #87D37C;
                   
                    }
                }
            }

            .text-wrapper {
                // max-width: 1080px;
                width: calc(100% - 100px);
                margin: 0px auto;
                font-size: 18px;
                font-family: sans-serif;
                padding: 20px;
                position: relative;
                padding-top: 40px;

                @include display(flex);

                @include flex-direction(row);

                .highlight-over, .dehighlight-over {
                    position: fixed;
                    display: none;
                    padding: 2px;
                    top: 300px;
                    right: 175px;
                    background: #1d99d1;
                    border-radius: 3px;
                    padding: 10px 0px;

                    // @include display(flex);

                    @include flex-direction(column);

                    @include breakpoint(screen_1367) {
                        right: auto;
                        margin-left: 50%;
                        left: $roof-content-width / 2 - 75;
                    }


                    .btn {
                        background: none;
                        box-shadow: 0px 0px 0px;
                        color: #fff;
                        margin: 5px 0px;
                        border-radius: 0px;
                        background: darken(#1d99d1, 10%);
                        padding: 0px;

                        @include flex(1);

                        i {
                            padding: 10px 20px;
                        }
                    }
                }
            }

            .text-wrapper-inner {
                white-space: pre-line;
            }

            .video-wrapper-1 {
                width: 100%;
                padding-top: 30px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(column);

                &.page-fullscreen {
                    .minimal-controlbar-wrapper {
                        height: 600px;
                    }
                }

                video-controls-jw {
                    // padding: 10px;
                    max-width: 853px;
                    width: 100%;
                    height: auto;
                    display: block;
                    padding-bottom: 10px;

                    @include breakpoint(large_desktop) {
                        max-width: 1280px;

                        // height: 540px;
                    }
                }
            }

            $switch-height: 40px;

            .explanation-switch {
                position: absolute;
                right: 0px;
                top: 0px;

                // height: $switch-height;
                border: 3px solid #222;
                float: right;
                display: inline-block;
                margin: 10px;
                border-radius: 3px;

                &.hidden {
                    visibility: hidden;
                }
            }

            .switch-option {
                display: inline-block;
                height: $switch-height - 1;
                line-height: $switch-height - 10 * 2;
                padding: 10px;
                cursor: pointer;
                box-shadow: inset -4px 5px 10px #ccc;

                &.active {
                    background-color: #222;
                    color: white;
                    box-shadow: -1px -1px 3px #fff;
                }
            }

            .reading-pref {
                margin: 0px;
                position: absolute;
                top: 50px;
                left: 0px;
                padding: 50px 0px;
                z-index: 1;
                background: #44B39D;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(column);
            }

            .pref-option-wrapper {
                width: 50px;
                display: inline-block;
                cursor: pointer;
                vertical-align: top;
                text-align: center;
                background: rgba(0, 0, 0, 0.1);
                color: white;
                padding: 0px 0px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                .pref-option-head {
                    display: block;
                    padding: 15px 0px;
                }

                .pref-option {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.3);
                    color: white;
                    padding: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    display: block;

                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }

    .ds-book-modal-wrapper {
        position: fixed;
        left: 150px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background: white;
        z-index: 10000000;

        @include breakpoint(large_desktop) {
            // left: 500px;
        }


        .book-modal {
            position: relative;
            padding: 50px;

            .close-btn {
                position: absolute;
                top: 10px;
                color: #222;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
            }

            .modal-title {
                font-size: 20px;
                font-family: waverly;
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: 10px;
                padding-bottom: 10px;
            }

            .books {
                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-start);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                .book {
                    margin: 10px;
                }

                img {
                    width: 150px;
                    height: 200px;

                    // border: 2px solid #e5e5e5;
               
                }

                .title {
                    font-size: 20px;
                    font-family: waverly;
                    color: #222;
                }
            }
        }
    }

    // Video Section Wrapper

    $video-section-sidebar-width: 400px;
    $big-screen-more-sidebar-width: 0px;
    $small-video-height: 393px;

    //480px;
    $small-video-width: 700px;

    //854px;
    $big-video-width: 1280px;
    $big-video-height: 720px;

    .video-header {
        height: 50px;
        position: fixed;
        background: white;
        left: 0px;
        right: 0px;
        top: 0px;
        border-bottom: 1px solid #e8e8e8;
        z-index: 9999;
        padding: 0px 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        .menu-btn {
            font-size: 16px;
            color: #222;
            cursor: pointer;
            padding: 10px;
        }

        .video-header-left {
            height: inherit;
            padding: 5px 0px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            .logo-img {
                height: 100%;
                margin-left: 15px;
            }
        }

        .video-header-center {
            font-family: 'Roboto Condensed','Aller',sans-serif;
            font-size: 25px;
        }

        .video-header-right {
            height: inherit;
            padding: 5px 0px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            .video-header-right-links {
                .hdr-right-btn {
                    font-size: 13px;
                    font-family: aller;
                    color: #222;
                    cursor: pointer;
                    text-decoration: none;
                    margin-left: 10px;

                    i {
                        display: none;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .video-header-placeholder {
        height: 50px;
    }

    .middle-video-section-wrapper {
        position: relative;

        // max-width: 1200px;
        margin: 0px auto;

        @include display(flex);

        @include flex-direction(row);

        @include justify-content(center);

        @include flex-wrap(wrap);

        @include breakpoint(large_desktop) {
            max-width: 1700px;
        }


        .practice-video-wrapper {
            width: 850px;
            padding-bottom: 10px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(column);

            @include breakpoint(large_desktop) {
                width: 1280px;
            }


            .video-desc {
                padding: 30px 10px;
                background: white;
                font-family: 'Roboto Condensed',sans-serif;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                margin-bottom: 10px;
                width: inherit;

                .title {
                    font-size: 25px;
                    color: black;
                }
            }

            .video-note-comment-tab-wrapper {
                background: white;
                padding: 10px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                margin-bottom: 10px;
                width: inherit;

                .tabs {
                    border-bottom: 1px solid #e5e5e5;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(space-between);

                    @include flex-direction(row);

                    .tab {
                        text-align: center;
                        font-size: 17px;
                        font-family: 'Roboto Condensed','aller',sans-serif;
                        border-bottom: 2px solid transparent;
                        cursor: pointer;

                        @include flex(1);

                        &.active {
                            border-bottom: 2px solid orange;
                        }
                    }
                }

                .tab-content {
                    padding: 5px;
                }
            }

            // Video Comment Wrapper
            .video-comment-wrapper {
                max-width: 950px;
                margin: 0px auto;

                .comment-component-wrapper .post:first-child {
                    border-radius: 3px;
                }

                .comment-component-wrapper .post .comment-wrapper {
                    background: transparent;
                }
            }

            //Notes Video Tab
            .noteTab {
                .video-note-form textarea {
                    box-shadow: 0px 0px 0px;
                    padding: 5px;
                    margin-top: 10px;
                    color: #222;
                }

                .video-note-form button {
                    background: #ccc;
                    color: black;
                    border-radius: 0px;
                }

                .notes-wrapper {
                    .accordion-toggle {
                        padding: 0px;
                    }

                    .panel {
                        margin-top: 0px;
                    }

                    .panel-title a {
                        text-decoration: none;
                    }

                    .panel-title-div {
                        padding: 15px 10px;
                        cursor: pointer;
                        color: #1d99d1;
                        text-decoration: none;
                        border-bottom: 1px solid #ccc;
                        font-size: 16px;
                        font-family: 'ROboto Condensed';

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .module-note-wrapper {
                        // padding: 10px;
                   
                    }

                    .note {
                        padding: 0px 15px 10px;
                        margin-top: 10px;
                        width: 98%;

                        // min-width: 150px;
                        clear: both;
                    }

                    div[contenteditable="true"] {
                        background: white;
                        color: black;
                        padding: 5px;
                        border-radius: 3px;
                        margin-bottom: 10px;
                    }

                    .note-top {
                        padding-top: 5px;

                        i {
                            padding-top: 2px;
                            cursor: pointer;
                            font-size: 15px;
                        }
                    }

                    .module-note-wrapper div.note:nth-of-type(odd) {
                        color: #222;
                        background: #e9e9e9;
                        float: left;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    .module-note-wrapper div.note:nth-of-type(even) {
                        color: #fff;
                        background: #222;
                        float: right;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    .panel-body {
                        background: #4B96AE;
                        padding: 0px;
                        padding-bottom: 10px;
                        font-family: helvetica;
                    }

                    .panel-heading {
                        padding: 0px;
                    }
                }
            }
        }

        video-controls-jw {
            margin-bottom: 10px;
            padding-top: 10px;
        }
    }

    .related-video-sidebar {
        $sidebar-top-fixed-height: 237px;

        width: $video-section-sidebar-width;
        color: #222;
        padding: 10px;
        padding-right: 0px;
        font-family: 'Roboto Condensed',sans-serif;

        @include breakpoint(large_desktop) {
            width: $video-section-sidebar-width + $big-screen-more-sidebar-width;
        }


        input.search {
            width: 100%;
            padding: 0px 10px;
            border-radius: 2px;
            height: 40px;
            color: black;
            margin-bottom: 10px;
        }

        .related-widget {
            padding: 5px;
            margin-bottom: 15px;
            box-shadow: 1px 1px 1px #e5e5e5;
            background: white;

            .related-widget-title {
                font-family: 'Roboto Condensed','Aller',sans-serif;
                font-size: 16px;
                color: #222;
                padding: 5px 0px;
                border-bottom: 1px solid #e5e5e5;
            }

            .related-widget-content {
                padding: 5px;
            }
        }

        .related-video {
            margin: 10px 0px;
            background: #fff;
            padding-bottom: 10px;
            border-bottom: 1px solid #e5e5e5;
            border-radius: 3px;
            color: #222;
            cursor: pointer;
            text-decoration: none;

            &:last-child {
                border-bottom: 0px solid #e5e5e5;
                padding-bottom: 0px;
            }

            &:hover {
                color: #1d99d1;
                text-decoration: none;
            }

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(flex-start);

            @include flex-direction(row);

            .video-icon {
                min-width: 125px;
                max-width: 125px;
                height: 75px;
                margin-right: 15px;

                img {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                }
            }

            .related-video-name {
                font-size: 14px;
                line-height: 1.5;
                word-break: break-word;
                font-family: 'Roboto', sans-serif;
            }

            .related-video-info {
                font-size: 12px;
                color: #555;
            }
        }
    }
}

.error-modal {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.7);

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.2s ease-in);

    bottom: 0px;
    top: 0px;

    &.ng-hide {
        @include transform(scale(0));

        opacity: 0;
    }

    .error-modal-content {
        background-color: white;
        max-width: 400px;
        border: 1px solid #555;
    }

    .text {
        font-size: 20px;
        color: #D24D57;
        font-family: 'roboto condensed',sans-serif;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 20px;
    }

    .close-icon {
        cursor: pointer;
        text-align: right;
        font-size: 18px;
        padding: 10px;
    }

    .buttons {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        & > .error-btn {
            @include flex-grow(1);

            box-shadow: 0px 0px 0px;
            background: #3498DB;
            border-radius: 0px;
            padding: 15px;
            color: white;
            font-family: aller;
            font-weight: bold;
        }

        .orange-color {
            background: #F2784B;
        }
    }
}

// Popout Video Section
.popout-video {
    height: 100vh;
    width: 100%;
    background: black;
}

.ew-small-modal-wrapper {
    .verify-question-modal {
        width: 700px;
        max-width: initial;
    }

    .verfiy-stats-options {
        font-family: 'nunito' , sans-serif;

        .opt {
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            display: inline-block;
        }

        textarea {
            width: 100%;
            box-shadow: 0px 0px 0px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            padding: 10px;
        }
    }

    .action-btns {
        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);
    }

    .info-icon {
        background: #1778a4;
        color: white;
        border-radius: 50%;
        padding: 5px 12px;
        margin-right: 10px;
    }
}

$class-slug: option-images !default;
$list: A B C D E F;

.option-images {
    width: 50px;
    height: 50px;
    background-size: cover;
}

@each $key in $list {
    .#{$class-slug}-#{$key} {
        background-image: url("../../assets/images/practice-icons/options/#{$key}.png");
    }

    .#{$class-slug}-#{$key}-right {
        background-image: url("../../assets/images/practice-icons/options/RIGHT.png");
    }

    .#{$class-slug}-#{$key}-wrong {
        background-image: url("../../assets/images/practice-icons/options/WRONG.png");
    }
}

$no_of_options: 1 2 3 4 5 6;
$option-types: capital-alpha small-alpha roman digits !default;

// !default;
$base-class: option-images !default;

@each $key in $option-types {
    @each $option_number in $no_of_options {
        .#{$base-class}-#{$key}-#{$option_number} {
            background-image: url("../../assets/images/practice-icons/options/#{$key}/#{$option_number}.png");
        }

        .#{$base-class}-#{$key}-right {
            background-image: url("../../assets/images/practice-icons/options/#{$key}/RIGHT.png");
        }

        .#{$base-class}-#{$key}-wrong {
            background-image: url("../../assets/images/practice-icons/options/#{$key}/WRONG.png");
        }
    }
}