<img id="bg-image-id"  src="../../assets/images/1366-course-right.png" alt="" style="display: none;">
<img id="bg-left-image-id" src="../../assets/images/1366-course-left.png" alt="" style="display: none;">
<div class="fluid-container practice-page-wrapper" tabindex="1">
	<!-- <div class="right-hdr-btn">
		<a class="hdr-right-btn" href="/it-trainings">All Courses</a>
		<a class="hdr-right-btn" ng-click="vm.getSignedDownloadUrl(vm.activeItemMaterialInfo);">Download</a>
		<a class="hdr-right-btn" href="">Search</a>
	</div> -->
	<div class="big-bg-image"></div>
	<!-- <div class="sidebar-wrapper-tree">
		<img class="big sidebar-wrapper-tree-img" src="../../assets/images/dashboard_tree_new.png" alt=""  />
		<img class="small sidebar-wrapper-tree-img" src="../../assets/images/side_tree_1280.png" alt=""  />
		<div class="tree-btn-wrapper">
			<div class="item" ng-click="vm.nextQue()" 
				data-ew-click="RIGHT_MENU_NEXT_CLICK:{{vm.getNextQuestionId()}},{{vm.questionTimeStr}},{{(vm.questions[vm.currentQuestionIndex]['isSkipped']) && 'Skipped' || (vm.questions[vm.currentQuestionIndex]['markForReview'] && 'Review')}}" 
				ng-attr-data-ew-practice-page-stats="{{(vm.currentQuestionIndex === (vm.questions.length - 1)) ? 'false' : 'true'}}"  
				ng-if="!vm.isCurrentTestFinish">
				Next
			</div>
			<div class="item big" ng-click="vm.goToDashboard()" 
				data-ew-click="RIGHT_MENU_DASHBOARD_CLICK:" 
				data-ew-practice-page-stats="true" >
				Dashboard
			</div>
			<div class="item" ng-click="vm.prevQue()" 
				data-ew-click="RIGHT_MENU_PREV_CLICK:{{vm.getPrevQuestionId()}},{{vm.questionTimeStr}}" 
				ng-attr-data-ew-practice-page-stats="{{(vm.currentQuestionIndex === 0) ? 'false' : 'true'}}" 
				ng-if="!vm.isCurrentTestFinish">
				Prev
			</div>	
			<div class="item big" ng-click="vm.showReport()" data-ew-click="RIGHT_MENU_REPORT:" data-ew-practice-page-stats="true">
				<span>Report</span>
			</div>	
			<div class="item" ng-click="vm.markForReview()" data-ew-click="RIGHT_SIDEBAR_BUTTON:Review Button" data-ew-practice-page-stats="true">
				<span>Review</span>
			</div>
			<div class="item big" data-ew-click="RIGHT_MENU_SKIPPED:" data-ew-practice-page-stats="true" ng-class="{'active':vm.isShowingSkipOnly,'disable':vm.noOfSkipQuestion() <= 0 || !vm.isUserLoggedIn()}" ng-click="vm.showOnlySkipQuestion()">
				<span>Skipped Q</span>
			</div>
			<div class="item" data-ew-click="RIGHT_MENU_HELP_BUTTON:" data-ew-practice-page-stats="true">
				Help
			</div>
			<div class="item big"  ng-click="vm.doFullScreen()" data-ew-click="RIGHT_MENU_FULL_SCREEN:{{!vm.isFullScreen ? 'Full Screen' : 'Normal Screen'}},{{!vm.isFullScreen ? 'Normal Screen' : 'Full Screen'}}" data-ew-practice-page-stats="true">
				<span>{{vm.isFullScreen ? "Exit" : ""}}  Fullscreen</span>
			</div>
		</div>
	</div> -->
	<!-- End Common Block -->

	<!-- Start Quiz Section -->

	<!-- This side bar will be only visible in quiz section -->
	<div class="quiz-sidebar"  ng-if="!vm.isVideoWrapper">
		<div class="tree-img" ng-if="true">
			<div class="tree-menu">
				<div class="item" ng-click="vm.prevQue()"  data-ew-click="Sidebar Prev Button:{{vm.getNextQuestionId()}},{{vm.getCurrentQuestionId()}}" data-ew-practice-page-stats="true" ng-if="!vm.isCurrentTestFinish">
					<img class="icon-img"  src="../../assets/images/practice-icons/prev.png" alt="">
					<span >Prev</span>
				</div>
				<div class="item" ng-click="vm.nextQue()" data-ew-click="Sidebar Next Button:{{vm.getPrevQuestionId()}},{{vm.getCurrentQuestionId()}}" data-ew-practice-page-stats="true" ng-if="!vm.isCurrentTestFinish">
					<img class="icon-img" src="../../assets/images/practice-icons/next.png" alt="">
					<span>Next</span>
				</div>
				<div class="item" ng-click="vm.markForReview()" data-ew-click="Review Button:Clicked" data-ew-practice-page-stats="true">
					<img style="width: 20px;" class="icon-img" ng-show="!vm.questions[vm.currentQuestionIndex]['markForReview']" src="../../assets/images/practice-icons/review-check-empty.png" alt="">
                	<img style="width: 20px;" class="icon-img" ng-show="vm.questions[vm.currentQuestionIndex]['markForReview']" src="../../assets/images/practice-icons/review-check-full.png" alt="">
					<span>Review</span>
				</div>
				<div class="item" ng-if="vm.isPractice" ng-click="vm.sequentialQuestions()" data-ew-click="Sequential/Random Button:Clicked,{{!vm.isQuestionsSequential ? 'Random' : 'Sequential'}},{{vm.isQuestionsSequential ? 'Sequential' : 'Random'}}" data-ew-practice-page-stats="true">
					<img style="width: 20px;" class="icon-img" ng-show="!vm.isQuestionsSequential" src="../../assets/images/practice-icons/review-check-empty.png" alt="">
                	<img style="width: 20px;" class="icon-img" ng-show="vm.isQuestionsSequential" src="../../assets/images/practice-icons/review-check-full.png" alt="">
					<span>Sequential</span>
				</div>
				<div class="item" ng-show="vm.isPractice" data-ew-click="Learn More:Clicked" data-ew-practice-page-stats="true" ng-class="{'active':vm.shouldShowExplanation}" ng-click="vm.learnMore()" ng-if="vm.questions[vm.currentQuestionIndex]['textExplanation'] || vm.questions[vm.currentQuestionIndex]['videoId']">
					<img class="icon-img" src="../../assets/images/practice-icons/btn-LEARN.png" alt="">
					<span>Learn</span>
				</div>
				<div class="item" ng-click="vm.showFeedback()" ng-if="vm.questions[vm.currentQuestionIndex]['isRightAnswer'] === false">
					<img class="icon-img" src="../../assets/images/general-icons/icon-15.png" alt="">
					<span class="text">Feedback</span>
				</div>
				<div class="item" style="padding: 5px;justify-content:center;" ng-if="vm.isPractice && vm.userAuthorized">
					<span>
						<div class="small-header">Time Spent</div>
						<div class="time" style="text-align: center;">{{vm.totalTimeStr}}</div>
					</span>
				</div>
				<div class="item" style="padding: 5px;justify-content:center;" ng-if="!vm.isPractice && !vm.isCurrentTestFinish && vm.userAuthorized">
					<span>
						<div class="small-header">Time Spent</div>
						<div class="time" style="text-align: center;">{{vm.questionTimeStr}}</div>
					</span>
				</div>
				<div class="item" style="padding: 5px;justify-content:center;" ng-if="!vm.isPractice && !vm.isCurrentTestFinish && vm.userAuthorized">
					<span>
						<div class="small-header">Remaining Time</div>
						<div class="time" style="text-align: center;">{{vm.totalTimeStr}}</div>
					</span>
				</div>
			</div>
		</div>
        <div class="" ng-if="false" style="padding-top: 220px;">
        	<div class="usb-menu orange" ng-click="vm.prevQue()">
            	<div class="usb-start"></div>
            	<div class="usb-middle">
            		<img class="icon-img icon-rotate-180" src="../../assets/images/practice-icons/prev.png" alt="">
            	</div>
            	<div class="usb-end">Prev</div>
            </div>
            <div class="usb-menu green" ng-click="vm.nextQue()">
            	<div class="usb-start"></div>
            	<div class="usb-middle">
            		<img class="icon-img" src="../../assets/images/practice-icons/next.png" alt="">
            	</div>
            	<div class="usb-end">Next</div>
            </div>
			<div class="usb-menu red" ng-click="vm.markForReview()">
				<div class="usb-start"></div>
            	<div class="usb-middle">
            		<img  class="icon-img" ng-if="!vm.questions[vm.currentQuestionIndex]['markForReview']" src="../../assets/images/practice-icons/review-check-empty.png" alt="">
            		<img  class="icon-img" ng-if="vm.questions[vm.currentQuestionIndex]['markForReview']" src="../../assets/images/practice-icons/review-check-full.png" alt="">
            	</div>
            	<div class="usb-end">Review</div>
			</div>
			<div class="usb-menu blue" ng-show="vm.isPractice" ng-class="{'active':vm.shouldShowExplanation}" ng-click="vm.learnMore()" ng-if="vm.questions[vm.currentQuestionIndex]['textExplanation'] || vm.questions[vm.currentQuestionIndex]['videoId']">
            	<div class="usb-start"></div>
            	<div class="usb-middle">
            		<img class="icon-img" src="../../assets/images/practice-icons/btn-LEARN.png" alt="">
            	</div>
            	<div class="usb-end">Learn</div>
            </div>
            <a class="usb-menu red" style="text-decoration: none;" ng-show="vm.isPractice" ng-href="/it-trainings" target="_blank">
            	<div class="usb-start"></div>
            	<div class="usb-middle">
            		<img class="icon-img" src="../../assets/images/practice-icons/btn-LEARN.png" alt="">
            	</div>
            	<div class="usb-end">Courses</div>
            </a>
			<div class="usb-menu blue" ng-show="vm.isPractice" ng-if="vm.activeItemMaterialInfo" ng-click="vm.getSignedDownloadUrl(vm.activeItemMaterialInfo);">
            	<div class="usb-start"></div>
            	<div class="usb-middle">
            		<img class="icon-img" src="../../assets/images/practice-icons/btn-LEARN.png" alt="">
            	</div>
            	<div class="usb-end">Download</div>
            </div>
        </div>
    </div>
    <!-- This wrapper will be appear only in quiz section -->
	<div class="middle-wrapper quiz-section-wrapper" ng-if="!vm.isVideoWrapper">
		<div class="height-adujster"></div>
		<div class="roof">
			<img src="../../assets/images/roof_practice_page.png" alt="">
			<div class="roof-content">
				<a href="/">
					<img src="../../assets/images/logo-dark.png" class="logo-image" alt="Examwarrior Logo">	
				</a>
				<div class="actions-icons-wrapper" id="roof-action-btns">
					<div class="action-section">
						<div class="action-icon"  ng-click="vm.doFullScreen()" data-ew-click="ROOF_FULL_SCREEN:{{!vm.isFullScreen ? 'Full Screen' : 'Normal Screen'}},{{!vm.isFullScreen ? 'Normal Screen' : 'Full Screen'}}" data-ew-practice-page-stats="true">
							<img src="../../assets/images/practice-icons/books.png" alt="">
							<span>{{vm.isFullScreen ? "Exit" : ""}}  Fullscreen</span>
						</div>
						<div class="action-icon" style="cursor: initial;">
							<img src="../../assets/images/practice-icons/learn.png" alt="">
							<span style="text-transform: capitalize;">Status : {{vm.current_que_status}}</span>
						</div>
					</div>
					<div class="action-section" ng-if="!vm.isCurrentTestFinish && vm.isCurrentTestStarted">
						<div class="title" ng-if="vm.isPractice" style="color: #1d99d1;font-size: 20px">Question - {{vm.currentQuestionIndex + 1}} / {{vm.questions.length}}</div>
						<div class="title" ng-if="!vm.isPractice" style="color: #1d99d1;font-size: 20px">Question - {{vm.currentQuestionIndex + 1}} / {{vm.questions.length}}</div>
					</div>
					<div class="action-section" ng-if="vm.isCurrentTestFinish">
						<div class="title" style="color: #1d99d1;font-size: 20px">Exam Completed</div>
					</div>
					<div class="action-section">
						<div style="min-width: 85px;" class="action-icon" ng-click="vm.showVerifyQuestionModal()">
							<img src="../../assets/images/practice-icons/learn.png" alt="">
							<span ng-show="vm.isQuestionsSequential">Verify</span>
						</div>
						<a class="action-icon" ng-href="{{vm.getAdminPracticePageUrl(false,vm.questions[vm.currentQuestionIndex]['questionId'])}}" target="AdminPracticePage">	
							<img src="../../assets/images/practice-icons/books.png" alt="">
							<span>Edit</span>
						</a>
						<div class="action-icon disable" ng-show="vm.isPractice">
							<img src="../../assets/images/practice-icons/learn.png" alt="">
							<span>Learn</span>
						</div>
						<div class="action-icon" ng-click="vm.prevQue()" data-ew-click="ROOF_PREV_CLICK:{{vm.getPrevQuestionId()}},{{vm.questionTimeStr}}" 
							ng-attr-data-ew-practice-page-stats="{{(vm.currentQuestionIndex === 0) ? 'false' : 'true'}}" 
							ng-if="!vm.isCurrentTestFinish">
							<img ng-class="{'disable':vm.currentQuestionIndex === 0}" src="../../assets/images/practice-icons/prev.png" alt="">
							<span>Prev</span>
						</div>
						<div class="action-icon" ng-click="vm.nextQue()" 
							data-ew-click="ROOF_NEXT_CLICK:{{vm.getNextQuestionId()}},{{vm.questionTimeStr}},{{(vm.questions[vm.currentQuestionIndex]['isSkipped']) && 'Skipped' || (vm.questions[vm.currentQuestionIndex]['markForReview'] && 'Review')}}" 
							ng-attr-data-ew-practice-page-stats="{{(vm.currentQuestionIndex === (vm.questions.length - 1)) ? 'false' : 'true'}}"  
							ng-if="!vm.isCurrentTestFinish">
							<img ng-class="{'disable':vm.currentQuestionIndex === (vm.questions.length - 1)}" src="../../assets/images/practice-icons/next.png" alt="">
							<span>Next</span>
						</div>
					</div>
				</div>
			</div>
			<div class="share" ng-hide="vm.isCurrentTestFinish">
	            <span class="item" ng-click="vm.shareToFB(vm.activeItemName,vm.questions[vm.currentQuestionIndex]['question'])">
	                <img src="../../assets/images/facebook.png" style="height: 25px;position: relative;top:0px;" alt="">
	            </span>
	            <span class="item" ng-click="vm.shareToTwitter(vm.activeItemName,vm.questions[vm.currentQuestionIndex]['question'])">
	                <img src="../../assets/images/twitter.png" alt="" style="height: 25px;position: relative;top:0px;">
	            </span>
	            <span class="item" tooltips tooltip-template="Share on Career Book" tooltip-side="bottom" ng-click="vm.shareToEWProfile(vm.activeItemName,vm.questions[vm.currentQuestionIndex]['question'])">
	                <img src="../../assets/images/ew_share.png" alt="">
	            </span>
	            <span class="item" tooltips tooltip-template="Share on Q&A" tooltip-side="bottom" ng-click="vm.shareToQA(vm.activeItemName,vm.questions[vm.currentQuestionIndex]['question'])">
	                <img src="../../assets/images/ew_forum.png" alt="">
	            </span>
	        </div>
		</div>
		<div class="content-wrapper">
			<div class="current-active-item" ng-if="!vm.isTestBeingTaken">
				<span class="i-name">
					<span class="course-name">Topic : {{vm.activeTopic}}</span>
				</span>
				<div class="header-time" style="display: flex;">
					<div class="item" ng-if="vm.isPractice">
						<span>
							<div class="small-header">Time Spent</div>
							<div class="time" style="text-align: center;">{{vm.questionTimeStr}}</div>
						</span>
					</div>
					<div class="item" ng-if="vm.isPractice">
						<span>
							<div class="small-header">Total Time</div>
							<div class="time" style="text-align: center;">{{vm.totalTimeStr}}</div>
						</span>
					</div>
					<div class="item" ng-if="!vm.isPractice && !vm.isCurrentTestFinish">
						<span>
							<div class="small-header">Time Spent</div>
							<div class="time" style="text-align: center;">{{vm.questionTimeStr}}</div>
						</span>
					</div>
					<div class="item" ng-if="!vm.isPractice && !vm.isCurrentTestFinish">
						<span>
							<div class="small-header">Remaining Time</div>
							<div class="time" style="text-align: center;">{{vm.totalTimeStr}}</div>
						</span>
					</div>
				</div>
			</div>
			<div ng-if="!vm.isCurrentTestFinish">
				<div class="small-sub-header" ng-if="vm.isShowingLearnOnly">Showing Learnt questions</div>
				<div class="small-sub-header" ng-if="vm.isShowingReviewOnly">Showing Reviewed questions</div>
				<div class="small-sub-header" ng-if="vm.isShowingSkipOnly">Showing Skipped questions</div>	
			</div>
			<div class="qa-wrapper pre-exam-dialog" ng-if="!vm.isPractice && !vm.isCurrentTestStarted && vm.userAuthorized">
				<div>
					<span class="test-name-title">Test Name</span>
					<span> : {{vm.activeItemName}}</span>
				</div>
				<div class="strt-btn" ng-click="vm.showStartExamModal()">
					Start Exam
				</div>
			</div>
			
			<div ng-if="vm.isQuestionsAreloading">
				<div class="loader" style="width: 75px;height: 75px;"></div>	
			</div>
			
			<div class="login-required-msg-wrapper" ng-if="!vm.userAuthorized">
				<div class="login-required-msg">
					<div ng-if="vm.isUserLoggedIn()">
						Purchase to view questions.
					</div>
					<div ng-if="!vm.isUserLoggedIn()">
						Login to view questions.	
					</div>
				</div>
				<div class="btns-wrapper">
					<div class="ew-rounded-btn" ng-if="!vm.isUserLoggedIn()">
						<i class="fa fa-lock right"></i>
						<a class="text" ng-href="{{vm.getLoginUrl()}}">Login</a>
					</div>
					<div class="ew-rounded-btn">
						<i class="fa fa-shopping-cart right"></i>
						<a class="text" ng-href="{{vm.getCoursePricePageURL(false,vm.activeCourse)}}">Buy</a>
					</div>	
				</div>	
			</div>
			

			<!-- Start Question Wrapper : Show only if we have question-->
			<div class="qa-wrapper" ng-if="!vm.isCurrentTestFinish &&  vm.questions.length > 0 && vm.userAuthorized" id="{{vm.questions[vm.currentQuestionIndex]['questionId']}}">
				<!-- <div class="dot-loader-wrapper" ng-if="vm.isQuestionProcessing">
					<div class="dot-loader"></div>
				</div> -->
				<div class="question-wrapper">
					<div class="q">
						<pre ng-if="vm.questions[vm.currentQuestionIndex]['question'].trim().length > 0"><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="vm.questions[vm.currentQuestionIndex]['question'].trim().length > 0" compile="vm.questions[vm.currentQuestionIndex]['question']"></code></pre>
						<pre ng-if="vm.questions[vm.currentQuestionIndex]['questionOneLine']"><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="vm.questions[vm.currentQuestionIndex]['questionOneLine']" compile="vm.questions[vm.currentQuestionIndex]['questionOneLine']"></code></pre>
					</div>
				</div>
				<div class="options-wrapper">
					<!-- Start : Practice Option Section -->
					<div class="o" ng-if="vm.isPractice">
						<div class="ng-option" ng-class="{'disable_option':vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1}" ng-repeat="option in vm.questions[vm.currentQuestionIndex]['options'] track by $index" >
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'capital-alpha' 
										|| vm.activeItemFullObject.itemOptionType === 'small-alpha'
										|| vm.activeItemFullObject.itemOptionType === 'roman'
										|| vm.activeItemFullObject.itemOptionType === 'digits'">
								<div id="{{option.id}}" 
									ng-click="vm.checkAns(option.id,true)"
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}},{{vm.userOption[option.id] && vm.userOptionImg[option.id]}}" data-ew-practice-page-stats="true">
									<div class="useroption" style="display: inline-block;">
										<!-- If we want to show option as a character -->
										<div ng-show="!vm.userOption[option.id]" class="option-images option-images-{{vm.activeItemFullObject.itemOptionType}}-{{$index + 1}}"></div>
										<!-- If user has answered and it is right -->
										<div ng-show="vm.userOption[option.id] && vm.userOptionImg[option.id]" class="option-images option-images-{{vm.activeItemFullObject.itemOptionType}}-right"></div>
										<!-- If user has answered and it is wrong -->
										<div ng-show="vm.userOption[option.id] && !vm.userOptionImg[option.id]" class="option-images option-images-{{vm.activeItemFullObject.itemOptionType}}-wrong"></div>
									</div>
									<pre style="display: inline-block;" ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" compile="option.text"></code></pre>
								</div>
							</div>
							<!-- If option is radio button -->
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'radio'">
								<div id="{{option.id}}" 
									ng-click="vm.checkAns(option.id,true)"
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}},{{vm.userOption[option.id] && vm.userOptionImg[option.id]}}" data-ew-practice-page-stats="true">
									<div class="useroption" style="display: inline-block;">
										<!-- If we want to show option as a radio button -->
										<img ng-show="!vm.userOption[option.id]" src="../../assets/images/radio.png" alt="">
										<!-- If user has answered and it is right -->
										<div ng-show="vm.userOption[option.id] && vm.userOptionImg[option.id]" class="option-images option-images-radio-right"></div>
										<!-- If user has answered and it is wrong -->
										<div ng-show="vm.userOption[option.id] && !vm.userOptionImg[option.id]" class="option-images option-images-radio-wrong"></div>
									</div>
									<pre style="display: inline-block;" ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" compile="option.text"></code></pre>
								</div>
							</div>
							<!-- ng-if="vm.radioOrCheckBox() === 'checkbox'"  -->
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'checkbox'">
								<!-- If option is checkbox button -->
								<div  id="{{option.id}}" 
									ng-click="vm.checkAns(option.id,true)" 
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}},{{vm.userOption[option.id] && vm.userOptionImg[option.id]}}" data-ew-practice-page-stats="true">
									<span class="useroption" style="cursor:pointer">
										<!-- If we want to show option as a checkbox -->
										<img ng-show="!vm.userOption[option.id]" src="../../assets/images/checkbox.png" alt="">
										<!-- If user has answered and it is right -->
										<div ng-show="vm.userOption[option.id] && vm.userOptionImg[option.id]" class="option-images option-images-checkbox-right"></div>
										<!-- If user has answered and it is wrong -->
										<div ng-show="vm.userOption[option.id] && !vm.userOptionImg[option.id]" class="option-images option-images-checkbox-wrong"></div>
									</span>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
							</div>
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'radio-checkbox'">
								<!-- If option is radio button -->
								<div id="{{option.id}}" 
									ng-click="vm.checkAns(option.id,true)"
									ng-if="vm.radioOrCheckBox() === 'radio'"
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}},{{vm.userOption[option.id] && vm.userOptionImg[option.id]}}" data-ew-practice-page-stats="true">
									<div class="useroption" style="display: inline-block;">
										<!-- If we want to show option as a radio button -->
										<img ng-show="!vm.userOption[option.id]" src="../../assets/images/radio.png" alt="">
										<!-- If user has answered and it is right -->
										<div ng-show="vm.userOption[option.id] && vm.userOptionImg[option.id]" class="option-images option-images-radio-right"></div>
										<!-- If user has answered and it is wrong -->
										<div ng-show="vm.userOption[option.id] && !vm.userOptionImg[option.id]" class="option-images option-images-radio-wrong"></div>
									</div>
									<pre style="display: inline-block;" ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" compile="option.text"></code></pre>
								</div>
								<!-- If option is checkbox button -->
								<div  id="{{option.id}}" 
									ng-click="vm.checkAns(option.id,true)" 
									ng-if="vm.radioOrCheckBox() === 'checkbox'"
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}},{{vm.userOption[option.id] && vm.userOptionImg[option.id]}}" data-ew-practice-page-stats="true">
									<span class="useroption" style="cursor:pointer">
										<!-- If we want to show option as a checkbox -->
										<img ng-show="!vm.userOption[option.id]" src="../../assets/images/checkbox.png" alt="">
										<!-- If user has answered and it is right -->
										<div ng-show="vm.userOption[option.id] && vm.userOptionImg[option.id]" class="option-images option-images-checkbox-right"></div>
										<!-- If user has answered and it is wrong -->
										<div ng-show="vm.userOption[option.id] && !vm.userOptionImg[option.id]" class="option-images option-images-checkbox-wrong"></div>
									</span>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
							</div>
						</div>
					</div>
					<!-- End : Practice Option Section -->
					<!-- Start : Exam Option Section -->
					<div class="o" ng-if="!vm.isPractice">
						<div class="ng-option" ng-repeat="option in vm.questions[vm.currentQuestionIndex]['options'] track by $index" >
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'capital-alpha' 
										|| vm.activeItemFullObject.itemOptionType === 'small-alpha'
										|| vm.activeItemFullObject.itemOptionType === 'roman'
										|| vm.activeItemFullObject.itemOptionType === 'digits'">
								<div id="{{option.id}}" 
									ng-click="vm.selectExamAns(option.id)" 
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}}" data-ew-practice-page-stats="true">
									<div class="useroption">
										<div ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1" class="option-images option-images-{{vm.activeItemFullObject.itemOptionType}}-{{$index+1}}" ></div>
										<div ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-{{vm.activeItemFullObject.itemOptionType}}-right"></div>
									</div>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
							</div>
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'radio'">
								<!-- If option is radio button -->
								<div id="{{option.id}}" 
									ng-click="vm.selectExamAns(option.id)" 
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}}" data-ew-practice-page-stats="true">
									<div class="useroption">
										<div class="option-images option-images-radio" ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1"></div>
										<div ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-radio-right"></div>
									</div>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
							</div>
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'checkbox'">
								<!-- If option is radio button -->
								<div id="{{option.id}}" 
									ng-click="vm.selectExamAns(option.id)" 
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}}" data-ew-practice-page-stats="true">
									<div class="useroption">
										<div class="option-images option-images-checkbox" ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1"></div>
										<div ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-checkbox-right"></div>
									</div>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
							</div>
							<div ng-if="vm.activeItemFullObject.itemOptionType === 'radio-checkox'">
								<!-- If option is radio button -->
								<div id="{{option.id}}" 
									ng-click="vm.selectExamAns(option.id)" 
									ng-if="vm.radioOrCheckBox() === 'radio'" 
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}}" data-ew-practice-page-stats="true">
									<div class="useroption">
										<div class="option-images option-images-radio" ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1"></div>
										<div ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-radio-right"></div>
									</div>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
								<!-- If option is checkbox button -->
								<div id="{{option.id}}" 
									ng-click="vm.selectExamAns(option.id)" 
									ng-if="vm.radioOrCheckBox() === 'checkbox'" 
									class="option" data-ew-click="OPTION_CLICKED:{{option.id}}" data-ew-practice-page-stats="true">
									<span class="useroption" style="cursor:pointer">
										<div class="option-images option-images-checkbox" ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1" ></div>
										<div ng-show="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-checkbox-right"></div>
									</span>
									<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								</div>
							</div>

							<!-- If option is radio button -->
							<!-- <div id="{{option.id}}" 
								ng-click="vm.selectExamAns(option.id)" 
								ng-if="vm.radioOrCheckBox() === 'radio'" 
								class="option">
								<div class="useroption">
									<div class="option-images option-images-{{vm.getOptionCharacter($index)}}" ng-if="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1 && vm.optionAsACharacter"></div>
									<img ng-if="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1 && !vm.optionAsACharacter" src="../../assets/images/radio.png" alt="">
									<div ng-if="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-{{vm.getOptionCharacter($index)}}-right"></div>
								</div>
								<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
							</div> -->
							<!-- If option is checkbox button -->
							<!-- <div  id="{{option.id}}" 
								ng-click="vm.selectExamAns(option.id)" 
								ng-if="vm.radioOrCheckBox() === 'checkbox'" 
								class="option">
								<span class="useroption" style="cursor:pointer">
									<div class="option-images option-images-{{vm.getOptionCharacter($index)}}" ng-if="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1 && vm.optionAsACharacter" ></div>
									<img ng-if="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) <= -1 && !vm.optionAsACharacter" src="../../assets/images/checkbox.png" alt="">
									<div ng-if="vm.questions[vm.currentQuestionIndex]['userAnswers'].indexOf(option.id) > -1" class="option-images option-images-{{vm.getOptionCharacter($index)}}-right"></div>
								</span>
								<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
							</div> -->
						</div>
					</div>
					<!-- End : Practice Option Section -->
				</div>
			</div>
			<!-- End Question Wrapper -->
			<!-- Loader spinner for questions -->
			
			<!-- This wrapper will be visible when usre is taking test and test is finished -->
			<!-- We will show stats of exam once exam finished-->
			<div class="qa-wrapper question-exam-stats" style="margin-bottom: 10px;" ng-if="vm.isCurrentTestFinish && !vm.isPractice && vm.userAuthorized">
				<div class="stats-main-head">
					<div>Exam Feedback</div>
					<div class="share">
	                    <span class="item" ng-click="vm.shareExamStatsToFB(vm.activeItemName)">
	                        <img src="../../assets/images/facebook.png" style="height: 23px;position: relative;top:4px;" alt="">
	                    </span>
	                    <span class="item" ng-click="vm.shareExamStatsToTwitter(vm.activeItemName)">
	                        <img src="../../assets/images/twitter.png" alt="" style="height: 23px;position: relative;top:4px;">
	                    </span>
	                    <span class="item" ng-click="vm.shareExamStatsToEWProfile(vm.activeItemName)">
	                        <img src="../../assets/images/ew_share.png" alt="">
	                    </span>
	                    <span class="item" ng-click="vm.shareExamStatsToQA(vm.activeItemName)">
	                        <img src="../../assets/images/ew_forum.png" alt="">
	                    </span>
	                </div>
				</div>
				<div class="stats-wrapper">
					<span class="exam-stats-title">Score</span>
					<span class="exam-stats-value">{{vm.getNumberOfRightQuestion()}} / {{vm.noOfSkipQuestion() + vm.getNumberOfRightQuestion() + vm.getNumberOfWrongQuestion()}}</span>
				</div>
				<div class="stats-wrapper">
					<span class="exam-stats-title">Total Questions Attempted</span>
					<span class="exam-stats-value">{{vm.getNumberOfAttemptedQuestion()}}</span>
				</div>
				<div class="stats-wrapper">
					<span class="exam-stats-title">Number of Skipped questions</span>
					<span class="exam-stats-value">{{vm.noOfSkipQuestion()}}</span>
					<span class="exam-stats-btn" ng-if="vm.noOfSkipQuestion() > 0" ng-click="vm.showOnlySkipQuestion()">Show Skipped Questions</span>
				</div>
				<div class="stats-wrapper">
					<span class="exam-stats-title">Number of Right questions</span>
					<span class="exam-stats-value">{{vm.getNumberOfRightQuestion()}}</span>
					<span class="exam-stats-btn" ng-if="vm.getNumberOfRightQuestion() > 0" ng-click="vm.showOnlyRightQuestion()">Show Right Questions</span>
				</div>
				<div class="stats-wrapper">
					<span class="exam-stats-title">Number of Wrong questions</span>
					<span class="exam-stats-value">{{vm.getNumberOfWrongQuestion()}}</span>
					<span class="exam-stats-btn" ng-if="vm.getNumberOfWrongQuestion() > 0" ng-click="vm.showOnlyWrongQuestion()">Show Wrong Questions</span>
				</div>
			</div>
			<!-- This block is appeared in only sharing dialog -->
			<div class="qa-wrapper question-exam-stats only-for-sharing" ng-if="vm.isCurrentTestFinish && !vm.isPractice"><table border="1" style="border: 1px solid #e5e5e5"><tr><td style="padding: 5px 10px;">Score</td><td style="padding: 5px 10px;">{{vm.getNumberOfRightQuestion()}} / {{vm.noOfSkipQuestion() + vm.getNumberOfRightQuestion() + vm.getNumberOfWrongQuestion()}}</td></tr><tr><td style="padding: 5px 10px;">Total Questions Attempted</td><td style="padding: 5px 10px;">{{vm.getNumberOfAttemptedQuestion()}}</td></tr><tr><td style="padding: 5px 10px;">Number of Skipped questions</td><td style="padding: 5px 10px;">{{vm.noOfSkipQuestion()}}</td></tr><tr><td style="padding: 5px 10px;">Number of Right questions</td><td style="padding: 5px 10px;">{{vm.getNumberOfRightQuestion()}}</td></tr><tr><td style="padding: 5px 10px;">Number of Wrong questions</td><td style="padding: 5px 10px;">{{vm.getNumberOfWrongQuestion()}}</td></tr></table></div>
			<div class="qa-wrapper" style="margin-bottom: 10px;" ng-if="vm.isCurrentTestFinish && !vm.isPractice" ng-repeat="question in vm.questions">
				<div class="question-wrapper">
					<div class="q">
						<pre ng-if="question['question'].trim().length > 0"><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="question['question'].trim().length > 0" compile="question['question']"></code></pre>
						<pre ng-if="question['questionOneLine']"><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="question['questionOneLine']" compile="question['questionOneLine']"></code></pre>
					</div>
				</div>
				<div class="options-wrapper">
					<!-- Start : Practice Option Section -->
					<div class="o">
						<div class="ng-option" ng-repeat="option in question['options'] track by $index" >
							<!-- If option is radio button -->
							<div id="{{option.id}}"
								ng-if="vm.radioOrCheckBox() === 'radio'" 
								class="option">
								<div class="useroption" style="display: inline-block;">
									<!-- If we want to show option as a character -->
									<div class="option-images option-images-{{vm.getOptionCharacter($index)}}" ng-if="(question['userAnswers'] = question['userAnswers'] || []) && question['userAnswers'].indexOf(option.id) <= -1 && !vm.isRightAnswer(question.ans,option.id) && vm.optionAsACharacter"></div>
									<!-- If we want to show option as a radio button -->
									<img ng-if="(question['userAnswers'] = question['userAnswers'] || []) && question['userAnswers'].indexOf(option.id) <= -1  && !vm.isRightAnswer(question.ans,option.id) && !vm.optionAsACharacter" src="../../assets/images/radio.png" alt="">
									<!-- If user has answered and it is right -->
									<div ng-if="vm.isRightAnswer(question.ans,option.id)" class="option-images option-images-{{vm.getOptionCharacter($index)}}-right"></div>
									<!-- If user has answered and it is wrong -->
									<div ng-if="question['userAnswers'].indexOf(option.id) > -1 && !vm.isRightAnswer(question.ans,option.id)" class="option-images option-images-{{vm.getOptionCharacter($index)}}-wrong"></div>
								</div>
								<pre style="display: inline-block;" ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" compile="option.text"></code></pre>
								<div style="color: red" ng-if="question['userAnswers'].indexOf(option.id) > -1 && !question.isRightAnswer">
									(Your answer)
								</div>
								<div style="color: green" ng-if="vm.isRightAnswer(question.ans,option.id)">
									(Correct answer)
									<span ng-if="question.isRightAnswer">/Your Answer</span>
								</div>
							</div>
							<!-- If option is checkbox button -->
							<div  id="{{option.id}}" 
								ng-if="vm.radioOrCheckBox() === 'checkbox'" 
								class="option">
								<span class="useroption" style="cursor:pointer">
									<!-- If we want to show option as a character -->
									<div class="option-images option-images-{{vm.getOptionCharacter($index)}}" ng-if="(question['userAnswers'] = question['userAnswers'] || []) && question['userAnswers'].indexOf(option.id) <= -1 && !vm.isRightAnswer(question.ans,option.id) && vm.optionAsACharacter"></div>
									<!-- If we want to show option as a checkbox -->
									<img ng-if="(question['userAnswers'] = question['userAnswers'] || []) && question['userAnswers'].indexOf(option.id) <= -1 && !vm.isRightAnswer(question.ans,option.id) && !vm.optionAsACharacter" src="../../assets/images/checkbox.png" alt="">
									<!-- If user has answered and it is right -->
									<div ng-if="vm.isRightAnswer(question.ans,option.id)" class="option-images option-images-{{vm.getOptionCharacter($index)}}-right"></div>
									<!-- If user has answered and it is wrong -->
									<div ng-if="question['userAnswers'].indexOf(option.id) > -1 && !vm.isRightAnswer(question.ans,option.id)" class="option-images option-images-{{vm.getOptionCharacter($index)}}-wrong"></div>
								</span>
								<pre ng-if="option.text" ><code class="{{vm.getLanguageForSyntaxHighlighting()}}" ng-if="option.text" compile="option.text"></code></pre>
								<div style="color: red" ng-if="question['userAnswers'].indexOf(option.id) > -1 && !question.isRightAnswer">
									(Your answer)
								</div>
								<div style="color: green" ng-if="vm.isRightAnswer(question.ans,option.id)">
									(Correct answer)
									<span ng-if="question.isRightAnswer">/Your Answer</span>
								</div>
							</div>
						</div>
					</div>
					<!-- End : Practice Option Section -->
				</div>
				<div class="feedback-wrapper" ng-if="!question.isRightAnswer && !question.isSkipped">
					<div class="feedback-que clearfix">
						<div class="question" style="font-size: 16px;margin-bottom: 10px;color: #1d99d1;">Why did you get it Wrong?</div>
						<div class="options" ng-repeat="opt in vm.wrongAnsFeedbackOptions track by $index">
							<span class="fa-stack fa-sm useroption" ng-click="vm.userTestFinishReview[question.questionId][opt] = !vm.userTestFinishReview[question.questionId][opt]">
								<img style="width: 25px;" ng-if="!vm.userTestFinishReview[question.questionId][opt]" src="../../assets/images/checkbox.png" alt="">
								<img style="width: 25px;" ng-if="vm.userTestFinishReview[question.questionId][opt]" src="../../assets/images/checkbox_green.png" alt="">
							</span>
							<span>{{opt}}</span>
						</div>
						<div class="clearfix"></div>
						<div class="question" style="font-size: 16px;margin-top: 10px;margin-bottom: 10px;color: #1d99d1;">Comments</div>
						<textarea class="form-control" placeholder="Write your comments here" ng-model="vm.userTestFinishComments[question.questionId]"></textarea>
					</div>
				</div>
			</div>
			<div ng-click="vm.submitExamReview()" class="pull-right" ng-if="vm.isCurrentTestFinish && !vm.isPractice">
				<div class="btn btn-primary">Submit</div>
			</div>
			<div class="clearfix"></div>
			<!-- Start Tabs Wrapper -->
			<div class="questions-tabs-wrapper" ng-if="vm.isPractice">
				<div class="tabs">
					<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='comments'}" data-ew-click="TAB_COMMENT:" data-ew-practice-page-stats="true" ng-click="vm.changeActiveRelatedTab('comments');">
						<img width="36" src="../../assets/images/courselist-icons/0.png" alt="" />
						Comments
					</div>	
					<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='notes'}" data-ew-click="TAB_NOTES:" data-ew-practice-page-stats="true" ng-click="vm.changeActiveRelatedTab('notes');">
						<img width="36" src="../../assets/images/courselist-icons/1.png" alt="" />
						Notes
					</div>	
					<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='qa'}" data-ew-click="TAB_QA:" data-ew-practice-page-stats="true" ng-click="vm.changeActiveRelatedTab('qa');">
						<img width="36" src="../../assets/images/courselist-icons/2.png" alt="" />
						Q&A
					</div>	
	    			<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='explanation','pointer-none' : vm.activeRelatedTab ==='explanation'}" 
	    				data-ew-click="TAB_LEARN_CLICKED:{{vm.questions[vm.currentQuestionIndex]['videoId']?'true':'false'}}" 
	    				data-ew-practice-page-stats="true" 
	    				ng-if="vm.questions[vm.currentQuestionIndex]['textExplanation'] || vm.questions[vm.currentQuestionIndex]['videoId']" 
	    				ng-click="vm.changeActiveRelatedTab('explanation');"
	    				>
	    				<img width="36" src="../../assets/images/courselist-icons/3.png" alt="" />
	    				Learn
	    			</div>
	    			<div class="tab" ng-class="{'active': vm.activeRelatedTab ==='stats'}" data-ew-click="TAB_STATS:" data-ew-practice-page-stats="true" ng-click="vm.changeActiveRelatedTab('stats');">
						<img width="36" src="../../assets/images/courselist-icons/2.png" alt="" />
						Stats
					</div>	
				</div>
				<!-- Questions Comments Tab -->
				<div class="tab-content question-comment-wrapper" ng-if="vm.activeRelatedTab === 'comments'">
					<item-comments class="comments-component" post-type="question-comment" post-id="vm.activeItem" on-post-comment="vm.onPostComment(cmnt)" show-comment-field="true" ></item-comments>
				</div>

				<div class="question-note-wrapper tab-content" ng-if="vm.activeRelatedTab === 'notes'">
					<div class="note-form clearfix">
						<form class="form">
							<div class="form-group">
								<textarea froala="vm.EditorConfig" id="highlightedNote" class="form-control" rows="4" ng-model="vm.form.highlightNote" placeholder="Write Note........"></textarea>
							</div>
							<div class="form-group">
								<div class="ew-rounded-btn pull-right" ng-click="vm.saveNote()" data-ew-click="NOTE_ADDED:" data-ew-practice-page-stats="true">
									<i class="fa fa-sticky-note right"></i>
									<span class="text">Add Note</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</form>
					</div>
					<div class="" ng-if="vm.highlights.length > 0">
						<div class="note-wrap" ng-if="note.note.length > 0"  ng-repeat="note in vm.highlights | orderBy:note.timestamp:true track by $index">
							<div class="act-btns">
								<span class="note-icon" ng-show="!vm.practiceNoteEditingStatus[note.id].editing" ng-click="vm.editNoteInPlace(note.id)" class="pull-right"><i class="fa fa-pencil"></i>Edit</span>
								<span class="note-icon" ng-show="vm.practiceNoteEditingStatus[note.id].editing" ng-click="vm.saveNoteInPlace(note.id)" style="color: green" class="pull-right"><i class="fa fa-save"></i>Save</span>
								<span class="note-icon" ng-click="vm.deleteNote(note.id)" class="pull-right"><i class="fa fa-times"></i>Remove</span>	
							</div>
							<span class="note-text" id="note_{{note.id}}" ng-show="!vm.practiceNoteEditingStatus[note.id].editing" style="white-space: pre-line;" ng-bind-html="note.note"></span>
							<div ng-show="vm.practiceNoteEditingStatus[note.id].editing">
								<textarea  froala="vm.EditorConfig" class="form-control" rows="4" ng-model="note.note" placeholder="Write Note........"></textarea>	
							</div>
							
							<div class="note-time">
								{{note.timestamp | date : 'dd-MMM-yyyy hh:mm a'}}
							</div>
						</div>
					</div>
				</div>
				<!-- Question QA Tab -->
				<div class="tab-content question-note-wrapper" ng-if="vm.activeRelatedTab === 'qa'">
					<div class="video-note-form">
						<textarea class="form-control" placeholder="Enter question" ng-model="vm.qaTitle"></textarea>
						<div class="form-group">
							<button class="ew-rounded-btn pull-right" ng-click="vm.saveQueryForItem()">
								<i class="fa fa-question-circle right"></i>
								<span class="text">Post Question</span>
							</button>
							<div class="clearfix"></div>
							<!-- <button class="form-control btn btn-primary" ng-click="vm.saveQueryForItem()">Post</button> -->
						</div>
					</div>
					<a class="qa" ng-href="/forums/question/{{query.qry_id}}" target="_blank" ng-repeat="query in vm.itemQueries track by $index">
			    		<div class="video-info">
			    			<div class="qa-title">{{$index + 1}}. {{query.qry_title}}</div>
			    			<div class="qa-info">By - {{query.usr_id}} , {{query["qry_stats"]["qry_ans"] || 0}} answer(s)</div>
			    		</div>
			    	</a>
				</div>
				<!-- Start Explanation Wrapper -->
				<div class="tab-content explanation-wrapper" ng-if="vm.activeRelatedTab === 'explanation' && !vm.shouldShowSlideModal && vm.shouldShowExplanation && vm.questions && !vm.isVideoWrapper" id="explanation">
					<div class="title">Explanation</div>
					<div class="explanation-switch" ng-if="vm.questions[vm.currentQuestionIndex]['textExplanation'] && vm.questions[vm.currentQuestionIndex]['videoId']">
						<span class="switch-option"  ng-class="{'active':vm.showTextExaplanation}" ng-click="vm.showTextTab()">Text</span>
						<span class="switch-option" ng-class="{'active':!vm.showTextExaplanation}" ng-click="vm.showVideoTab()">Video</span>
					</div>
					<div class="reading-pref" ng-if="vm.showTextExaplanation">
						<div class="pref-option-wrapper">
							<span class="pref-option-head" data-ew-click="LEARN_MORE:Explanation Content Font Preference" data-ew-practice-page-stats="true" ng-click="vm.openWidthPref = false;vm.openFontPref = !vm.openFontPref"><i class="fa fa-text-width"></i></span>
							<span class="pref-option" data-ew-click="LEARN_MORE:Explanation Content Font Size Increased" data-ew-practice-page-stats="true" ng-show="vm.openFontPref" ng-click="vm.increaseFont()"><i class="fa fa-plus"></i></span>
							<span class="pref-option" data-ew-click="LEARN_MORE:Explanation Content Font Size Decreased" data-ew-practice-page-stats="true" ng-show="vm.openFontPref" ng-click="vm.decreaseFont()"><i class="fa fa-minus"></i></span>
						</div>
						<div class="pref-option-wrapper">
							<span class="pref-option-head" data-ew-click="LEARN_MORE:Explanation Content Width Preference" data-ew-practice-page-stats="true" ng-click="vm.openFontPref = false;vm.openWidthPref = !vm.openWidthPref"><i class="fa fa-arrows-h"></i></span>
							<span class="pref-option"  data-ew-click="LEARN_MORE:Explanation Content Width Increased" data-ew-practice-page-stats="true" ng-show="vm.openWidthPref" ng-click="vm.increaseWidth()"><i class="fa fa-plus"></i></span>
							<span class="pref-option"  data-ew-click="LEARN_MORE:Explanation Content Width Decreased" data-ew-practice-page-stats="true" ng-show="vm.openWidthPref" ng-click="vm.decreaseWidth()"><i class="fa fa-minus"></i></span>
						</div>
						<div class="pref-option-wrapper">
							<span class="pref-option-head" data-ew-click="LEARN_MORE:Explanation Content Preference Reset" ng-click="vm.resetReadingPref()"><i class="fa fa-refresh"></i></span>
						</div>
					</div>
					<div class="text-wrapper" id="text-wrapper" ng-show="vm.showTextExaplanation">
						<span id="text-wrapper-inner" class="text-wrapper-inner">
							<span compile="vm.questions[vm.currentQuestionIndex]['textExplanation']"></span>
						</span>
						<div class="highlight-over">
							<button class="btn btn-primary" data-ew-click="LEARN_ADD_NOTE:" data-ew-practice-page-stats="true" ng-click="vm.addHighlightNote()">
								<i class="fa fa-sticky-note" tooltips tooltip-template="Add Note" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_ADD_HIGHLIGHT:" data-ew-practice-page-stats="true" ng-click="vm.onlyDoHighlight()">
								<i class="fa fa-pencil" tooltips tooltip-template="Add Highlight" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_SHARE_CB:" data-ew-practice-page-stats="true" ng-click="vm.shareHighlight()">
								<i class="fa fa-share" tooltips tooltip-template="Share On CareerBook" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_SHARE_QA:" data-ew-practice-page-stats="true" ng-click="vm.shareHighlightOnQA()">
								<i class="fa fa-comment-o" tooltips tooltip-template="Share On QA" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_CLOSE_BUTTON:" data-ew-practice-page-stats="true" ng-click="vm.closeHighlightOver()">
								<i class="fa fa-times" tooltips tooltip-template="Close" tooltip-side="right"></i>
							</button>
						</div>
						<div class="dehighlight-over">
							<button class="btn btn-primary" data-ew-click="LEARN_SHOW_NOTE:{{vm.mouseOverId}}" data-ew-practice-page-stats="true" ng-if="vm.doesHighlightContainNote(vm.mouseOverId)" ng-click="vm.showNote(vm.mouseOverId)">
								<i class="fa fa-sticky-note" tooltips tooltip-template="Show Note" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_EDIT_NOTE:{{vm.mouseOverId}}" data-ew-practice-page-stats="true" ng-if="vm.doesHighlightContainNote(vm.mouseOverId)" ng-click="vm.editNote(vm.mouseOverId)">
								<i class="fa fa-pencil-square-o" tooltips tooltip-template="Edit Note" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_HIGHLIGHT_DELETE:{{vm.mouseOverId}}" data-ew-practice-page-stats="true" ng-click="vm.deleteNote(vm.mouseOverId)">
								<i class="fa fa-trash" tooltips tooltip-template="Delete" tooltip-side="right"></i>
							</button>
							<button class="btn btn-primary" data-ew-click="LEARN_HIGHLIGHT_CLOSE:" data-ew-practice-page-stats="true" ng-click="vm.closeDehighlightOver()">
								<i class="fa fa-times" tooltips tooltip-template="Close" tooltip-side="right"></i>
							</button>
						</div>
					</div>
					<div class="video-wrapper-1" ng-class="{'page-fullscreen' : vm.isFullScreen}" ng-show="!vm.showTextExaplanation">
						<video-controls-jw tabindex="0" ng-if="vm.restartVideoPlayer" player="minimal"></video-controls-jw>
						<!-- <div style="padding: 10px;width: 50%;word-wrap: break-word;">{{vm.questions[vm.currentQuestionIndex]['videoDesc']}}</div> -->
					</div>
				</div>
				<!-- End Explanation Wrapper -->
				<!-- Stats Tab Wrapper -->
				<div class="stats-tab-wrapper tab-content" ng-show="vm.activeRelatedTab === 'stats'">
					<div id="question-stats-chart"></div>
					<div id="question-month-stats-chart"></div>
				</div>
			</div>
			<!-- End Tabs Wrapper -->			
		</div>
	</div>
	<!-- End Quiz Section -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowStartExamModal">
		<div class="ew-modal">
			<div class="msg">You are about to start the exam</div>
			<div class="action-btns">
				<div class="ew-btn" ng-click="vm.fetchAllQuestions(vm.activeItemFullObject.itemQuestions)">
	            	<i class="fa fa-check right"></i>
	            	<span class="text">Ok</span>
	            </div>
	            <div class="ew-btn" ng-click="vm.shouldShowStartExamModal = false;">
	            	<i class="fa fa-times right"></i>
	            	<span class="text">Cancel</span>
	            </div>
				<!-- <div class="ew-btn" ng-click="vm.fetchAllQuestions(vm.activeItemFullObject.itemQuestions)">
					Ok
				</div>
				<div class="ew-btn" ng-click="vm.shouldShowStartExamModal = false;">
					Cancel
				</div> -->
			</div>
		</div>
	</div>
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowFinishExamModal">
		<div class="ew-modal">
			<div class="msg">
				<div>Are you sure you want to Finish?</div>
				<div>Time Left : {{vm.totalTimeStr}}</div>
			</div>
			<div class="action-btns">
				<div class="ew-btn" ng-click="vm.finishTest()">
	            	<i class="fa fa-check right"></i>
	            	<span class="text">Ok</span>
	            </div>
	            <div class="ew-btn" ng-click="vm.shouldShowFinishExamModal = false;">
	            	<i class="fa fa-times right"></i>
	            	<span class="text">Cancel</span>
	            </div>
				<!-- <div class="ew-btn" ng-click="vm.finishTest()">
					Ok
				</div>
				<div class="ew-btn" ng-click="vm.shouldShowFinishExamModal = false;">
					Cancel
				</div> -->
			</div>
		</div>
	</div>
</div>
<menu-component menu-delegate="vm.menuDelegate"></menu-component>
<!-- <chat></chat> -->
<!-- Login alert modal -->
<div class="ew-small-modal-wrapper" ng-if="vm.showLoginAlertModal">
    <div class="ew-modal">
        <div class="msg">
            <i class="fa fa-info info-icon"></i>{{vm.needLoginErrModalMsg}}
        </div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.showLoginAlertModal = false;">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close</span>
            </div>
        </div>
    </div>
</div>
<div class="ew-small-modal-wrapper" ng-if="vm.showDeleteNoteModal">
    <div class="ew-modal">
        <div class="msg">
            <i class="fa fa-info info-icon"></i>Are you sure you want to delete note?
        </div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.closeDeleteNoteModal()">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close</span>
            </div>
            <div class="ew-btn" ng-click="vm.deleteNoteConfirm()">
            	<i class="fa fa-trash right"></i>
            	<span class="text">Remove</span>
            </div>
        </div>
    </div>
</div>
<div class="ew-small-modal-wrapper" ng-if="vm.showGeneralMsgModal">
    <div class="ew-modal">
        <div class="msg">
            <i class="fa fa-info info-icon"></i>{{vm.generalModalMsg}}
        </div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.showGeneralMsgModal = false;">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close</span>
            </div>
        </div>
    </div>
</div>
<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowVerifyQuestionModal">
    <div class="ew-modal verify-question-modal">
        <div class="msg">Changes Status of the question</div>
        <div class="verfiy-stats-options">
        	<span class="opt"><input type="radio" name="verfiy-stats-options" ng-model="vm.verifyStatsOption" value="approved">Approved</span>
        	<span class="opt"><input type="radio" name="verfiy-stats-options" ng-model="vm.verifyStatsOption" value="rejected">Rejected</span>
        	<span class="opt"><input type="radio" name="verfiy-stats-options" ng-model="vm.verifyStatsOption" value="bug_fixing">Bug Fixing</span>
        	<span class="opt"><input type="radio" name="verfiy-stats-options" ng-model="vm.verifyStatsOption" value="ready_to_test">Ready To Test</span>
        	<textarea placeholder="Enter Comment" rows="10" ng-model="vm.verifyQuestionRejectedReason"></textarea>
        	<span class="error" style="color: red;margin-top: 5px;" ng-if="vm.erorrInSubmitVerifyPracticeQuestion">{{vm.erorrInSubmitVerifyPracticeQuestion}}</span>
        </div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.closeVerifyQuestionModal()">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.submitVerifyPracticeQuestion()">
            	<i class="fa fa-pencil right"></i>
            	<span class="text">Submit</span>
            </div>
        </div>
    </div>
</div>
<div class="ew-small-modal-wrapper" ng-if="vm.showLastQuestionMsgModal">
    <div class="ew-modal">
        <div class="msg">
            <i class="fa fa-info info-icon"></i>You are at the last question
        </div>
        <div class="action-btns">
            <div class="ew-btn" ng-click="vm.showLastQuestionMsgModal = false;">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close</span>
            </div>
            <div class="ew-btn" ng-click="vm.showLastQuestionMsgModal = false;">
            	<i class="fa fa-pencil right"></i>
            	<span class="text">Finish</span>
            </div>
        </div>
    </div>
</div>
