<div class="question-analytics-wrapper">
	<div class="sidebar">
		<div class="form-group">
			<label class="" for="subject">Subject</label>
			<div>
				<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Subject...">
				<span ng-bind="$item.subjectName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
				<span ng-bind="item.subjectName"></span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label  for="author">Author</label>
			<div>
				<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Author...">
				<span ng-bind="$item.authorName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
				<span ng-bind="item.authorName"></span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="publication">Publication</label>
			<div>
				<ui-select multiple ng-model="vm.selectedPublications" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Publication...">
				<span ng-bind="$item.publicationName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
				<span ng-bind="item.publicationName"></span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="book">Book</label>
			<div>
				<ui-select multiple ng-model="vm.selectedBooks" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Book...">
				<span ng-bind="$item.bookName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
				<span ng-bind="item.bookName"></span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="exam">Exam</label>
			<div>
				<ui-select multiple ng-model="vm.selectedExams" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Exam...">
				<span ng-bind="$item.examName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
				<span ng-bind="item.examName"></span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="topic">Topic</label>
			<div>
				<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Topic...">
				<span ng-bind="$item.topicName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
				<span>{{item.topicNumber}} - {{item.topicName}}</span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="tag">Tag</label>
			<div>
				<ui-select multiple ng-model="vm.selectedTags" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
				<ui-select-match placeholder="Select Tag...">
				<span ng-bind="$item.tagName"></span>
				</ui-select-match>
				<ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
				<span ng-bind="item.tagName"></span>
				</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label for="tag">Question</label>
			<div>
				<input type="text" ng-model="vm.questionSearch"></input>
			</div>
		</div>
	</div>
	<div class="main-container">
		<div class="question-stats" ng-if="vm.questions.length > 0">
			Total Questions : {{vm.questions.length}}
		</div>
		<div class="loader" ng-if="vm.isLoading">
			<i class="fa fa-spin fa-circl-o-notch"></i>
		</div>
		<div class="qa-wrapper vertical has-big-sidebar" ng-if="vm.questions.length > 0">
			<div class="question-wrapper" ng-repeat="q in vm.questions | filter:vm.questionSearch track by $index">
				<div class="q">
					<div class="index">
						<span>{{$index + 1}} | {{q.questionId}} </span>
					</div>
					<div class="question" ng-bind-html="q.question"></div>
					<div class="questionOneLine" ng-bind-html="q.questionOneLine"></div>
				</div>
				<div class="options-wrapper">
					<div class="o">
						<div class="ng-option" ng-repeat="option in q['options'] track by $index" >
							<div id="{{option.id}}" 
								ng-if="q['ans'].length <= 1" 
								class="option">
								<div class="useroption" style="display: inline-block;">
									<img style="width: 29px;height: 29px" src="../../assets/images/radio.png" alt="">
								</div>
								<pre style="display: inline-block;" ng-if="option.text" ><code class="ruleslanguage" ng-bind-html="option.text"></code></pre>
							</div>
							<div id="{{option.id}}" 
								ng-if="q['ans'].length > 1" 
								class="option">
								<span class="useroption" style="cursor:pointer">
									<img src="../../assets/images/checkbox.png" alt="">
								</span>
								<pre ng-if="option.text" ><code class="ruleslanguage" ng-if="option.text" ng-bind-html="option.text"></code></pre>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>