@import "../../assets/scss/_common_test.scss";

.articles-page-wrapper {
    max-width: 1000px;
    margin: 0px auto;

    .article {
        margin: 10px 0px;
        border: 1px solid #ccc;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        color: #222;
        font-size: 16px;
        font-family: 'Roboto',sans-serif;

        a {
            text-decoration: none;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            &:hover {
                text-decoration: none;
            }

            i {
                font-size: 25px;
            }
        }

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}