<div class="articles-page-wrapper">
	<div ng-repeat="article in vm.allArticles">
		<div class="article">
			<a ng-href="{{vm.getBlogArticleUrl(article.page_cat,article.page_id)}}">
				{{article.page_nm}}
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div>
</div>