<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Subgroup</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Subgroup name">Subgroup Display Name</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Subgroup name" ng-model="vm.form.subgroupName"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="subgroup">Subgroup name(in url)</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Subgroup name in url" ng-model="vm.form.subgroupInUrl"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-click="vm.saveSubgroup()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allSubgroup">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allSubgroup">
				<uib-accordion close-others="false" ng-repeat="subgroup in vm.allSubgroup">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteSubgroup(subgroup.sbgrp_id)"><i class="fa fa-times"></i></span>
						{{subgroup.subgroupName}}
					</div>
				</uib-accordion-heading>
				<div class="row skill-info-row" ng-repeat="(key,value) in subgroup">
						<div class="col-xs-2 title">{{key}}</div>
						<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>