@import "../../../assets/scss/_common_test.scss";
/*top menu start*/


.site-menu {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px 0px 5px 0px;
    z-index: 1000;
    transition: all 0.5s ease 0s;
    @media (max-width: 1079px) {
        position: static;
        background: #fff;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #ccc;
    }
    @media ( min-width:960px) and (max-width: 1024px){
         background: transparent;
    }
    >a.logo {
        display: none;
        .white-logo {
            display: none;
        }
        @media ( min-width:960px) and (max-width: 1024px){
            .white-logo {
                display: block;
            }
            .blue-logo{ display:none; }
        }
        @media (max-width: 1079px) {
            display: block;
            float: left;
            margin-left: 15px;
        }
        img {
            @media (max-width: 1079px) {
                max-width: 200px;
                margin: 3px 0px 0px 0px;
                width: 100%;
            }
            @media (max-width: 479px) {
                max-width: 150px;
                margin-top: 8px;
            }
        }
    }
    .list {
        .item {
            display: inline-block;
            position: relative;
            padding: 0px 20px;
            font-family: Nunito, sans-serif;
            @media (max-width: 1079px) {
                padding: 0px 10px;
            }
            .link {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                line-height: 40px;
                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 40px;
                    max-height: 40px;
                    margin-right: 5px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    svg {
                        width: 40px;
                        height: 40px;
                        polygon {
                            fill: white;
                            @media (max-width: 1079px) {
                                fill:#014c8c;
                            }
                        }
                    }
                    i {
                        color: white;
                        font-size: 18px;
                    }
                }
                .text {
                    display: inline-block;
                    vertical-align: middle;
                    font: 700 20px Nunito, sans-serif;
                    color: white;
                }
                &:hover {
                    .text {
                        color: #014c8c;
                    }
                    .icon {
                        i {
                            color: #014c8c;
                        }
                        svg {
                            polygon {
                                fill: #014c8c;
                            }
                        }
                    }
                }
            }
            &:last-child {
                padding-right: 10px;
            }
            ;
            .menu {
                position: absolute;
                width: 100%;
                max-width: 150px;
                min-width: 150px;
                right: 20px;
                margin-top: 5px;
                z-index: 10;
                transition: all 0.5s ease 0s;
                ul {
                    padding: 0px;
                    margin: 0px;
                    background: #fff;
                    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    max-height: 0px;
                    overflow: hidden;
                    opacity: 1;
                    transition: all 0.5s ease 0s;
                    li {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid rgba(189, 189, 189, 0.2);
                        a {
                            width: 100%;
                            padding: 10px 15px 7px;
                            display: block;
                            font-weight: bold;
                            color: #23527c;
                            .arrow {
                                width: 20px;
                                height: 20px;
                                float: right;
                                margin-right: 10px;
                                transform: rotate(0deg);
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: #23527c;
                                }
                            }
                            &:hover {
                                text-decoration: none;
                                background: #f1f1f1;
                                &:after {
                                    border-color: transparent transparent #f1f1f1 transparent;
                                }
                            }
                        }
                        a.close-menu {
                            background: #23527c;
                            color: white;
                            text-align: center;
                        }
                        &:first-child {
                            a {
                                border-top-left-radius: 2px;
                                border-top-right-radius: 2px;
                            }
                            &:after {
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 7.5px 10px 7.5px;
                                border-color: transparent transparent #ffffff transparent;
                                top: -10px;
                                right: 15px;
                                opacity: 0;
                                border-top-left-radius: 100%;
                                transition: opacity 0s ease 0.5s;
                            }
                        }
                        &:last-child {
                            border-bottom: 0px;
                            a {
                                border-bottom-left-radius: 2px;
                                border-bottom-right-radius: 2px;
                            }
                        }
                        ;
                    }
                }
            }
            .menu.active {
                ul {
                    max-height: 300px;
                    opacity: 1;
                    li {
                        &:after {
                            opacity: 1;
                            transition: opacity 0s ease 0s;
                        }
                    }
                }
            }
            .big-menu {
                top: 0px;
                height: 100%;
                min-height: 100%;
                background: #005385;
                position: fixed;
                margin: 0px;
                min-width: 320px;
                right: -320px;
                -ms-overflow-style: none;
                // padding-top: 45px;
                z-index: 2;
                transition: all 0.5s ease 0s;
                @media (max-width: 479px) {
                    min-width: 264px;
                    right: -264px;
                }
                .close-menu {
                    // position: absolute;
                    right: 25px;
                    top: 10px;
                    cursor: pointer;
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
                ul {
                    opacity: 1;
                    max-height: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
                >ul {
                    >li {
                        a{
                            background-color: #005385;
                            color: #fff;
                        }
                        &:nth-child(1) {
                            display: none;
                        }
                        @media (max-width: 1079px) {
                            &:nth-child(1) {
                                display: block;
                            }
                        }
                    }
                    .sub-menu-link {
                        max-height: 0px;
                        li {
                            border-bottom: 0px;
                            a {
                                padding-left: 30px;
                            }
                        }
                    }
                }
            }
            .big-menu::-webkit-scrollbar {
                display: none;
            }
            .menu.active.big-menu {
                right: 0px;
                overflow: auto;
                -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                margin-right: -16px !important;
                z-index: 2;
                >ul {
                    opacity: 1;
                    max-height: none;
                    li.sub-menu.active {
                        a {
                            .arrow {
                                transform: rotate(180deg);
                            }
                        }
                        .sub-menu-link {
                            max-height: 2000px;
                            li {
                                a {
                                    -webkit-animation: fadeInLeft .5s;
                                    animation: fadeInLeft .5s;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 1079px) {
            float: right;
            .item {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    .icon {
                        i {
                            color: #014c8c;
                        }
                    }
                    .text {
                        display: none;
                    }
                }
            }
        }
        .item.notification {
            i {
                @media (max-width: 1079px) {
                    margin-top: 0px;
                    display: block;
                }
            }
            .menu {
                min-width: 300px;
                margin-top: 0px;
                overflow: inherit;
                border-radius: 2px;
                overflow: hidden;
                max-height: 0px;
                padding-top: 8px;
                @media (max-width: 1079px) {
                    right: 3px;
                }
                @media (max-width: 479px) {
                    right: -59px;
                }
                .title {
                    background: #0d2042;
                    padding: 10px;
                    position: relative;
                    h3 {
                        float: left;
                        font-size: 16px;
                        color: white;
                        padding: 0px;
                        margin: 3px 0px 0px;
                    }
                    .refresh {
                        float: right;
                        width: 20px;
                        height: 20px;
                        svg {
                            width: 16px;
                            height: 16px;
                            fill: white;
                            margin-top: 3px;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 7.5px 10px 7.5px;
                        border-color: transparent transparent #0d2042 transparent;
                        top: -10px;
                        right: 15px;
                        border-top-left-radius: 100%;
                        opacity: 0;
                        transition: opacity 0s ease 0.5s;
                        @media (max-width: 479px) {
                            right: 76px;
                        }
                    }
                    ;
                }
                .tab-area {
                    .tab {
                        ul {
                            border-radius: 0px;
                            max-height: none;
                            font-size: 0px;
                            li {
                                width: 33.33%;
                                display: inline-block;
                                border: 0px;
                                font-size: 16px;
                                text-align: center;
                                border-left: 1px solid rgba(13, 32, 66, 0.2);
                                box-sizing: border-box;
                                float: left;
                                cursor: pointer;
                                padding: 3px 0px;
                                &:first-child {
                                    border-left: 0px;
                                }
                            }
                            li.active {
                                background: #eaf4fb;
                            }
                        }
                    }
                    .tab-conten {
                        .item {
                            display: block;
                            padding: 0px;
                            display: none;
                            ul {
                                border-radius: 0px;
                                max-height: 400px;
                                overflow: auto;
                                overflow-x: hidden;
                                li {
                                    background: #eaf4fb;
                                    padding: 10px 10px;
                                    position: relative;
                                    a {
                                        padding: 0px;
                                        font-weight: bold;
                                        margin-bottom: 10px;
                                        font-size: 12px;
                                        line-height: 12px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        &:hover {
                                            background: initial;
                                        }
                                        ;
                                    }
                                    p {
                                        margin-bottom: 0px;
                                        margin-top: -3px;
                                    }
                                    .date {
                                        font-size: 10px;
                                        margin-top: -3px;
                                    }
                                    .read {
                                        position: absolute;
                                        right: 10px;
                                        bottom: 0px;
                                        cursor: pointer;
                                        z-index: 10;
                                        svg {
                                            width: 14px;
                                            fill: #a9a9a9;
                                        }
                                    }
                                    .tooltip-custom {
                                        span {
                                            transform: translate(0%, -70%);
                                            right: -5px;
                                            left: inherit;
                                            &:after {
                                                right: -4px;
                                                left: inherit;
                                            }
                                        }
                                        &:hover span {
                                            transform: translate(0%, -100%);
                                        }
                                    }
                                }
                            }
                        }
                        .item.active {
                            display: block;
                        }
                    }
                }
                .bottom {
                    background: #fff;
                    line-height: 40px;
                    text-align: center;
                    .left {
                        width: 50%;
                        float: left;
                        cursor: pointer;
                        &:hover {
                            background: #0d2042;
                            color: white;
                        }
                    }
                    .right {
                        width: 50%;
                        float: right;
                        cursor: pointer;
                        &:hover {
                            background: #0d2042;
                            color: white;
                        }
                    }
                }
            }
            .menu.active {
                max-height: 600px;
                -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                .title {
                    &:before {
                        opacity: 1;
                        transition: opacity 0s ease 0s;
                    }
                }
            }
        }
    }
}

.tooltip-custom {
    position: relative;
    span {
        position: absolute;
        width: auto;
        white-space: pre;
        padding: 0px 15px;
        text-align: center;
        top: 0px;
        transform: translate(-50%, -70%);
        left: 50%;
        top: -12px;
        line-height: 30px;
        border-radius: 5px;
        z-index: 100;
        transition: all 0.2s ease 0s;
        display: block;
        background-color: #0d2042;
        opacity: 0;
        color: white;
        font-size: 12px;
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #0d2042 transparent transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &:hover {
        span {
            opacity: 1;
            transition: all 0.5s ease 0s;
            transform: translate(-50%, -100%);
        }
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.site-menu .list .item .menu ul li a {
  // background-color: #005385;
  // color: #fff;
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.site-menu .list .item .menu ul li.sub-menu ul li a {
    background-color: #7fa2c3;
}

.site-menu .list .item .menu ul li a:hover,
.site-menu .list .item .menu ul li.sub-menu ul li a:hover {
    color: #005385;
    background: #fff;
}

.site-menu .list .item .menu ul li a .arrow svg {
    fill: #fff;
}

.site-menu .list .item .menu ul li a:hover .arrow svg {
    fill: #23527c;
}

.p-r-10 {
    padding-right: 10px;
}

.site-menu .logo img {
    width: 70%;
    margin: 0 15% 20px;
}

.site-menu .logo {
    display: block;
}

/*top menu end*/

.small-menu-head{
    padding-right : 20px;
    background: white;
    // padding : 10px;
    @include display(flex);

    @include flex-direction(row);

    @include align-items(center);

    @include justify-content(space-between);

    img{
        height : 40px;
        margin : 10px;
    }

    .text{
        font-size : 20px;
    }

    .close-menu{
      position: initial !important;

    }
}

.big-menu{
  padding-top: 0px !important;
  background: #005385 !important;
}

.chat_fixed_toggle {
    opacity: 0 !important;
}

.chat_fixed {
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: rgba(23, 120, 164, 0.7);
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 9900;
    i {
        color: white;
        font-size: 25px;
    }
}

.ew-header-menu-wrapper {
    .usr-small-profile-pic {
        width: 30px;
        margin-right: 10px;
        border-radius: 50%;
    }
    .notifications_list {
        max-height: 400px;
        overflow: auto;
        li.no-notification {
            text-align: center;
            font-family: 20px;
        }
        li.unread {
            background-color: rgba(#1d99d1, 0.2);
        }
    }

    .mark-as-read-icon {
        position: absolute;
        right: 5px;
        bottom: 12px;
        font-size: 11px;
        color: #1d99d1;
        cursor: pointer;
    }
}
.notification-cnt {
    position: absolute;
    top: -5px;
    right: 13px;
    border: 2px solid white;
    color: #fff;
    padding: 0px 4px;
    border-radius: 50%;
    font-size: 13px;
}

.icon-like-grey{
  font-size: 35px !important;
}
.icon-like-grey:before {
  content: "\e902";
  color: #fff;
  font-family: "icomoon";
}
