<header>
  <div class="site-menu clearfix">
    <a href="#" class="logo">
      <img class="blue-logo" src="/assets/images/logo_dark.png">
      <img class="white-logo" src="/assets/images/tablet-logo_dark.png">
    </a>
    <div class="list">
      <div class="item" ng-show="vm.isUserLoggedIn()">
        <div class="link">
          <div class="icon"><img ng-src="{{vm.getUser()['usr_pic']}}" user-default-pic></div>
          <div class="text">{{vm.getUser()['dsp_nm']}}</div>
        </div>
        <div class="menu">
          <ul>
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="javascript:void(0)" ng-click="vm.shouldShowChatComponent = !vm.shouldShowChatComponent">Chat</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="" class="close-menu">Close</a></li>
          </ul>
        </div>
      </div>
      <div class="item notification" ng-show="vm.isUserLoggedIn()">
        <div class="link">
          <div class="icon">
            <!-- <i class="fa fa-bell"></i> -->
            <i class="icon-like-grey"></i>
          </div>
          <div class="text">Notifications <span class="notification-cnt" ng-if="vm.notificationCount > 0">{{vm.notificationCount}}</span></div>
        </div>
        <div class="menu">
          <div class="title clearfix">
            <h3>Notifications</h3>
            <div class="refresh">
              <svg height="1792" viewBox="0 0 1792 1792" width="1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z" />
              </svg>
            </div>
          </div>
          <div class="tab-area">
            <div class="tab">
              <ul>
                <li data-tabid="Web" class="active">Web</li>
                <li data-tabid="QA">QA</li>
                <li data-tabid="CB">CB</li>
              </ul>
            </div>
            <div class="tab-conten">
              <div class="item active" id="Web">
                <ul>
                  <li ng-if="!vm.allUsersNotifications || vm.allUsersNotifications.lenght <= 0">
                    <a>No Web Notifications to show.</a>
                  </li>
                  <li ng-repeat="noti in vm.allUsersNotifications | orderBy:'snd_dt':true">
                    <a ng-href="{{vm.getSpecificNotificationPageUrl(false,vm.getUserId(),noti.usr_noti_pk)}}">{{noti.sub}}</a>
                    <p>{{noti.noti_msg}}</p>
                    <div class="date">{{noti.snd_dt | date:'dd-MMM-yy hh:mm'}}</div>
                    <div class="read tooltip-custom" ng-if="!noti.noti_read" ng-click="vm.markSendNotificationAsRead($event,noti.usr_noti_pk)">
                      <svg style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="info" />
                          <g id="icons">
                              <path d="M10,18c-0.5,0-1-0.2-1.4-0.6l-4-4c-0.8-0.8-0.8-2,0-2.8c0.8-0.8,2.1-0.8,2.8,0l2.6,2.6l6.6-6.6   c0.8-0.8,2-0.8,2.8,0c0.8,0.8,0.8,2,0,2.8l-8,8C11,17.8,10.5,18,10,18z" id="check" />
                          </g>
                      </svg>
                      <span>Mark as read</span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="item" id="QA">
                <ul>
                  <li style="text-align:center;padding:15px 0px;" ng-if="vm.QANotifCount <= 0">
                    <a style="margin-bottom:0px;">No QA Notifications to show.</a>
                  </li>
                  <li style="text-align:center;padding:15px 0px;" ng-if="vm.QANotifCount > 0">
                    <a style="margin-bottom:0px;" href="/notifications">You have {{vm.QANotifCount}} QA notifications</a>
                  </li>
                </ul>
              </div>
              <div class="item" id="CB">
                <ul>
                  <li style="text-align:center;padding:15px 0px;" ng-if="vm.CBNotifCount <= 0">
                    <a style="margin-bottom:0px;">No CB Notifications to show.</a>
                  </li>
                  <li style="text-align:center;padding:15px 0px;" ng-if="vm.CBNotifCount > 0">
                    <a style="margin-bottom:0px;" href="/notifications">You have {{vm.CBNotifCount}} CB notifications</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bottom clearfix">
            <div class="left">Close</div>
            <div class="right"><a ng-href="{{vm.getNotificationsPageUrl(false,vm.getUserId())}}" title="">See All</a></div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="link">
          <div class="icon">
            <i class="icon-like-grey"></i>
            <!-- <svg id="Layer_1" style="enable-background:new 0 0 64 64;" version="1.1" viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g>
                    <g id="Navicon" transform="translate(330.000000, 232.000000)">
                        <polygon id="Fill-19" points="-321.8,-219 -274.3,-219 -274.3,-212.7 -321.8,-212.7    " />
                        <polygon id="Fill-20" points="-321.8,-203.2 -274.3,-203.2 -274.3,-196.8 -321.8,-196.8    " />
                        <polygon id="Fill-21" points="-321.8,-187.3 -274.3,-187.3 -274.3,-181 -321.8,-181    " />
                    </g>
                </g>
            </svg> -->
          </div>
        </div>
        <div class="menu big-menu">
          <div class="small-menu-head">
            <a href="#" class=""><img src="/assets/images/apple-small.png"></a>
            <div class="text">
              MENU
            </div>
            <div class="close-menu">
              <img src="/assets/images/svg/Close.svg">
            </div>
          </div>
          <ul>
            <li class="sub-menu" ng-show="vm.isUserLoggedIn()">
              <a>
                {{vm.getUser()['dsp_nm']}}
              </a>
            </li>
            <li class="sub-menu" ng-if="vm.isUserLoggedIn()">
              <a href="/dashboard">
                <i class="fa fa-sign-out p-r-10" aria-hidden="true"></i> Logout
              </a>
            </li>
            <li class="sub-menu" ng-if="!vm.isUserLoggedIn()">
              <a href="/login">
                <i class="fa fa-sign-out p-r-10" aria-hidden="true"></i> Login
              </a>
            </li>
            <li class="sub-menu">
              <a href="/adminApp">
                <i class="fa fa-user-secret p-r-10" aria-hidden="true"></i> Admin
              </a>
            </li>
            <li class="sub-menu">
              <a href="/dashboard">
                <i class="fa fa-dashcube p-r-10" aria-hidden="true"></i> Dashboard
              </a>
            </li>
            <li class="sub-menu">
              <a ng-href="{{vm.getITTrainingsUrl(false)}}">
                <i class="fa fa-delicious p-r-10" aria-hidden="true"></i> IT Courses
              </a>
            </li>
            <li class="sub-menu">
              <a href="/board-exams">
                <i class="fa fa-delicious p-r-10" aria-hidden="true"></i> Board Exams
              </a>
            </li>
            <li class="sub-menu">
              <a href="/competitive-exams">
                <i class="fa fa-delicious p-r-10" aria-hidden="true"></i> Competitive Exams
              </a>
            </li>
            <li><a href="/all-links"><i class="fa fa-book p-r-10" aria-hidden="true"></i> All Link</a></li>
            <li><a href="/buy"><i class="fa fa-book p-r-10" aria-hidden="true"></i> Pricing</a></li>
            <li class="sub-menu">
              <a href="/contactus">
                <i class="fa fa-phone p-r-10" aria-hidden="true"></i> Contact Us
              </a>
              <ul class="sub-menu-link">
                <li><a href="#">PHONE<br>08197624885</a></li>
                <li><a href="#">SUPPORT<br>SUPPORT@EXAMWARRIOR.COM</a></li>
                <li><a href="#">SALES<br>SALES@EXAMWARRIOR.COM</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<subscribe-modal-component modal-type="{{vm.subscribeModalType}}"></subscribe-modal-component>
<login-component login-delegate="vm.menuDelegate.loginDelegate"></login-component>
<chat show-chat-component="vm.shouldShowChatComponent"></chat>
<div class="chat_fixed" ng-if="vm.isUserLoggedIn()" ng-click="vm.shouldShowChatComponent = !vm.shouldShowChatComponent;">
  <i class="fa fa-comment-o"></i>
</div>
