<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" ng-submit="vm.updateSubTopic()">
					<fieldset>
						<legend>Add SubTopic</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Topic<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<select id="topic"  ng-model="vm.form.topic" ng-change="vm.changeTopic()" class="form-control"
									ng-options='topic.topicId as topic.topicName for topic in vm.topics'>
									<option value="">Select Topic</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subTopicId">SubTopic Id<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="subTopicId" class="form-control" placeholder="Id" ng-model="vm.form.subTopicId" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subTopicname">SubTopic Name<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="subTopicname" class="form-control" placeholder="Name" ng-model="vm.form.subTopicName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subTopicdesc">Description</label>
							<div class="col-sm-10">
								<textarea id="subTopicdesc" class="form-control" placeholder="Description" ng-model="vm.form.subTopicDesc" required=""></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New SubTopic</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.topic" type="submit">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchSubTopics()" ng-if="!vm.subTopics || vm.subTopics.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isTopicsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isTopicsLoading"></i>
				<span class="text">Show subTopics</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.subTopics">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.subTopics">
				<uib-accordion close-others="false" ng-repeat="subTopic in vm.subTopics">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeSubTopic(subTopic.subTopicId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editSubTopic(subTopic.subTopicId)"><i class="fa fa-pencil"></i></span>
								{{subTopic.subTopicName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in subTopic">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreSubTopics()" ng-if="(vm.subTopics==[] || vm.subTopics.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isTopicsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isTopicsLoading"></i>
				<span class="text">More</span>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>