@import "../../../assets/scss/_common_test.scss";

.chat-component {
    $blue-color: darken(#1d99d1, 5%);
    $green-color: #2ea677;
    $unread-color: #87D37C;
    $red-color: #D24D57;
    $header-height: 40px;

    font-family: 'aller';
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 9999;

    @include display(flex);

    @include align-items(flex-end);

    @include flex-direction(row);

    .chat-friends {
        min-width: 300px;
        border: 1px solid $blue-color;
        border-bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0px 5px;

        @include order(1);

        .head-wrapper {
            background-color: $blue-color;
            height: $header-height;
            color: white;
            position: relative;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 5px 10px;

            .title {
                font-size: 17px;
            }

            .icons-wrapper {
                position: absolute;
                right: 0px;
                top: 0px;
                line-height: $header-height;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                .icon {
                    padding: 0px 10px;
                    cursor: pointer;
                }
            }
        }

        .search-wrapper {
            border: 0px;
            font-family: 'nunito',sans-serif;

            input {
                height: $header-height;
                box-shadow: 0px 0px 0px;
                padding: 0px 10px;
                outline: 0px;
                width: 100%;
                font-family: 'nunito',sans-serif;
            }
        }

        .search-modal-wrapper {
            border-bottom: 1px solid #ccc;

            input {
                height: $header-height;
                box-shadow: 0px 0px 0px;
                padding: 0px 10px;
                outline: 0px;
                width: 100%;
            }
        }

        .friend-list-wrapper {
            min-height: 260px;
            max-height: 260px;
            overflow: auto;
            background: white;

            .friend {
                padding: 5px 10px;
                border-bottom: 1px solid #ddd;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                &:last-child {
                    border-bottom: 0px;
                }
            }

            .audio-icon, .video-icon {
                cursor: pointer;
                margin: 5px;
                color: $blue-color;

                &.disabled {
                    color: #e5e5e5;
                    pointer-events: none;
                }
            }

            .pic {
                height: 30px;
                width: 30px;
                margin: 5px;

                @include display(flex);

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .name {
                font-size: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 0px;
                white-space: nowrap;
                cursor: pointer;
                font-family: 'nunito',sans-serif;

                @include flex(1);
            }

            .unread {
                display: inline-block;
                margin: 0;
                text-align: center;
                font-size: 12px;
                padding: 1px 5px;
                border-radius: 5px;
                background-color: #1d99d1;
                color: white;
                margin-right: 5px;
            }
        }
    }

    .groupFrndLine {
        line-height: 22px;
        background: #1d99d1;
        color: white;
        padding: 0px 10px;
        font-family: 'nunito',sans-serif;
        font-weight: bold;
    }

    .width-500 {
        width: 500px !important;
    }

    .chat-modal-search {
        width: 100%;
        padding: 12px;
    }

    .height-500 {
        height: 500px !important;
    }

    .status {
        width: 10px;
        height: 10px;
        margin: 10px;
        border-radius: 50%;
        display: inline-block;

        &.online {
            background-color: $green-color;
        }

        &.offline {
            background-color: #D24D57;
        }
    }

    .chat-msgs-individual {
        min-width: 300px;
        max-width: 300px;
        max-height: 350px;
        border: 1px solid $blue-color;
        border-bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0px 5px;
        position: relative;

        @include display(flex);

        @include flex-direction(column);

        .head-wrapper {
            background-color: $blue-color;
            min-height: $header-height;
            color: white;
            position: relative;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 5px 10px;

            @include display(flex);

            @include flex-direction(row);

            &.unread-color {
                background-color: $unread-color !important;
            }

            .pic {
                width: 30px;
                height: 30px;
                display: inline-block;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .title {
                font-size: 17px;
                margin-left: 10px;
                width: 130px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .status {
                    margin: 0px;
                    margin-left: 10px;
                }
            }

            .icons-wrapper {
                position: absolute;
                right: 0px;
                top: 0px;
                line-height: $header-height;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                .icon {
                    padding: 0px 10px;
                    cursor: pointer;
                }
            }
        }

        .msgs-wrapper {
            min-height: 200px;

            // max-height: 300px;
            // max-width: 300px;
            overflow: auto;
            background: #eee;
            position: relative;
            margin-bottom: 0px;

            @include flex(1);

            .msg {
                margin: 5px 0px;
                max-width: 90%;
                background-color: #fff;
                clear: both;
                padding: 0px 10px;
                word-wrap: break-word;
                min-width: 40%;
                position: relative;
                border-radius: 3px;
                border: 1px solid #ccc;

                .time {
                    text-align: right;
                    font-size: 12px;
                }

                .text {
                    font-size: 15px;
                }

                .frm-usr {
                    font-weight: bold;
                }

                &.left {
                    float: left;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    box-shadow: 1px 1px 1px #ccc;
                    margin-left: 10px;

                    &:before {
                        content: '';
                        position: absolute;
                        border-right: 10px solid #fff;
                        border-top: 10px solid transparent;
                        left: -10px;
                        bottom: 10px;
                        box-shadow: 0px 1px 0px #ccc;
                    }
                }

                &.right {
                    float: right;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    background-color: #DCF8C6;
                    color: #222;
                    box-shadow: 1px 1px 1px #ccc;
                    margin-right: 10px;

                    &:before {
                        content: '';
                        position: absolute;
                        border-left: 10px solid #DCF8C6;
                        border-top: 10px solid transparent;
                        right: -10px;
                        bottom: 10px;
                        box-shadow: 0px 1px 0px #ccc;
                    }
                }
            }
        }

        .grp-member-wrapper {
            background: #eee;
            max-height: 50px;
            overflow: auto;
            border-bottom: 1px solid #eee;

            @include display(flex);

            .grp-member {
                padding: 10px;
                background: #eee;

                .status {
                    margin: 0px;
                    margin-left: 10px;
                }
            }
        }

        .offline-msg {
            position: relative;
            background-color: #bbb;
            left: 0px;
            top: 0px;
            right: 0px;
            padding: 10px;
            color: white;
            font-size: 14px;
        }

        .success-add-msg {
            background: $green-color;
            color: white;
            padding: 10px;
        }

        .grp-field {
            position: relative;
            background-color: #ccc;
            left: 0px;
            top: 0px;
            right: 0px;
            padding: 10px;
            color: #555;
            font-size: 14px;
            max-width: 300px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .ui-select-container {
                background: white;
                background: white !important;
            }

            .ui-select-search {
                padding: 0px 10px;
                box-shadow: 0px 0px 0px;
                border-radius: 2px;
                margin-right: 5px;
                padding: 0px 5px;
                width: 150px !important;

                @include flex(1);
            }

            .add-btn {
                background: #1d99d1;
                height: 30px;
                padding: 0px 10px;
                display: inline-block;
                color: white;
                margin-left: 10px;
                border-radius: 3px;
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);
            }
        }

        .msg-field {
            border-top: 1px solid #ccc;
            color: #222;
            min-height: 60px;
            padding: 0px 10px;

            // position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background: white;
            max-height: 150px;
            overflow: auto;

            // @include display(flex);

            // @include align-items(center);

            .textfield {
                word-spacing: 2px;

                // position: absolute;
                left: 10px;
                right: 10px;
                top: 0px;
                bottom: 0px;
                outline: none;

                // line-height: 29px;
                // height: 29px;
                word-break: break-word;

                @include display(flex);

                @include align-items(center);

                @include flex-direction(row);

                @include flex(1);

                min-height: inherit;
                align-items: flex-start;
                padding: 10px 0px;
            }

            .gray-msg {
                color: #ccc;
            }

            .textfield[placeholder]:empty:before {
                content: attr(placeholder);
                color: #ccc;
            }

            .textfield[placeholder]:empty:focus:before {
                content: "";
            }
        }
    }

    .image-modal {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }

    .create-grp-modal {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.4);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .grp-form-wrapper {
            width: 50%;
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 3px;
            position: relative;
            max-width: 500px;
        }

        .close-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        .title {
            font-size: 20px;
            font-family: 'nunito',sans-serif;
            font-weight: bold;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        input[type=text] {
            background: white;
            padding: 0px 10px;
            border-radius: 3px;
            border: 1px solid #e5e5e5;
        }

        .ui-select-container {
            border: 0px;
            box-shadow: 0px 0px 0px;
            height: 100%;
            background: white;
            padding: 10px;

            @include display(flex);

            @include align-items(center);
        }

        .upload-btn {
            border: 1px solid #ccc;
            cursor: pointer;
        }

        .grp-pic {
            display: inline-block;
            height: 50px;
            width: 50px;
            margin-top: 10px;
            border-radius: 3px;
        }

        .create-btn {
            display: inline-flex;
            float: right;
        }
    }

    .audio-modal-wrapper {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.2);
        z-index: 10000;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .audio-call {
            width: 80%;
            position: relative;

            .toolbar {
                height: 35px;
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                background: #e2e2e2;
                padding: 0px 10px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);

                .close-icon {
                    background: #D24D57;
                    padding: 2px;
                    float: right;
                    margin-right: 10px;
                    height: 20px;
                    width: 20px;
                    border-radius: 3px;
                    cursor: pointer;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    i {
                        color: white;
                        font-size: 15px;
                    }
                }
            }

            .content {
                background: #222;
                min-height: 200px;
                position: relative;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                video {
                    width: 1px;
                    height: 1px;
                    position: absolute;
                }

                .middle-msg-wrapper {
                    font-size: 20px;
                    font-family: waverly;
                    color: white;
                }

                .right-side-pic {
                    position: absolute;
                    right: 0px;
                }

                .right-side-pic, .left-side-pic {
                    width: 160px;
                    height: 160px;
                    margin: 20px;
                    background: #ddd;
                    border-radius: 5px;
                    top: 0px;
                }

                .left-side-pic {
                    position: absolute;
                    left: 0px;
                }

                .signal {
                    font-size: 70px;
                    margin-top: -50px;
                }

                .one {
                    opacity: 0;
                    -webkit-animation: dot 1.6s infinite;
                    -webkit-animation-delay: 0.0s;
                    animation: dot 1.6s infinite;
                    animation-delay: 0.0s;
                    color: $blue-color;
                }

                .two {
                    opacity: 0;
                    -webkit-animation: dot 1.6s infinite;
                    -webkit-animation-delay: 0.2s;
                    animation: dot 1.6s infinite;
                    animation-delay: 0.2s;
                    color: $blue-color;
                }

                .three {
                    opacity: 0;
                    -webkit-animation: dot 1.6s infinite;
                    -webkit-animation-delay: 0.3s;
                    animation: dot 1.6s infinite;
                    animation-delay: 0.3s;
                    color: $green-color;
                }

                .four {
                    opacity: 0;
                    -webkit-animation: dot 163s infinite;
                    -webkit-animation-delay: 0.4s;
                    animation: dot 1.6s infinite;
                    animation-delay: 0.4s;
                    color: $green-color;
                }

                .five {
                    opacity: 0;
                    -webkit-animation: dot 1.6s infinite;
                    -webkit-animation-delay: 0.5s;
                    animation: dot 1.6s infinite;
                    animation-delay: 0.5s;
                    color: $red-color;
                }

                .six {
                    opacity: 0;
                    -webkit-animation: dot 1.6s infinite;
                    -webkit-animation-delay: 0.6s;
                    animation: dot 1.6s infinite;
                    animation-delay: 0.6s;
                    color: $red-color;
                }

                @-webkit-keyframes dot {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                @keyframes dot {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            .action-btns {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 10px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                .act-btn {
                    padding: 5px 15px;
                    background: #1d99d1;
                    color: white;
                    font-family: waverly;
                    display: inline-block;
                    border-radius: 3px;
                    cursor: pointer;
                    margin: 0px 5px;
                }
            }
        }
    }

    .video-modal-wrapper {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.2);
        z-index: 10000;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .video-call {
            width: 90%;
            position: relative;

            .toolbar {
                height: 35px;
                width: 100%;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                background: #e2e2e2;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);

                .close-icon {
                    background: #D24D57;
                    padding: 2px;
                    float: right;
                    margin-right: 10px;
                    height: 20px;
                    width: 20px;
                    border-radius: 3px;
                    cursor: pointer;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);

                    i {
                        color: white;
                        font-size: 15px;
                    }
                }
            }

            .content {
                background: #222;
                height: 90vh;
                position: relative;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                .big-video {
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                }

                video {
                    width: 100%;
                    height: 100%;
                }

                .small-video {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    width: 250px;
                    height: 250px;
                    background: #e5e5e5;
                    border-radius: 5px;
                }

                .middle-msg-wrapper {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    z-index: 1;
                    color: white;
                    font-family: waverly;
                    font-size: 20px;

                    @include display(flex);

                    @include align-items(center);

                    @include justify-content(center);

                    @include flex-direction(row);
                }
            }

            .action-btns {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 10px;
                z-index: 2;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                .act-btn {
                    padding: 5px 15px;
                    background: #1d99d1;
                    color: white;
                    font-family: waverly;
                    display: inline-block;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
    }

    $member-list-width: 250px;
    $chat-height: 95vh;
    $grp-head-height: 50px;

    .chat-modal {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.7);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }

    .chat-action-bar {
        width: 100%;
        background: #eee;
        height: 40px;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);

        .icon {
            cursor: pointer;
            color: #444;
            padding: 0px 10px;
        }
    }

    .chat-modal-content {
        background: #eee;
        min-height: calc(100vh - 40px);
        width: 100%;

        @include display(flex);
    }

    .chat-members {
        min-width: $member-list-width;
        width: $member-list-width;
        max-height: $chat-height;
        overflow: auto;

        .create-grp {
            display: inline-block;
            cursor: pointer;
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px;
            background: #eee;
            color: #444;
            font-size: 14px;
            text-align: center;
            height: $grp-head-height;

            i {
                margin-right: 5px;
            }
        }

        .member {
            padding: 3px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: inline-block;
            cursor: pointer;
            width: 100%;
            position: relative;

            i {
                margin-right: 5px;
            }

            .unread {
                display: inline-block;
                margin: 0;
                text-align: center;
                font-size: 12px;
                padding: 1px 5px;
                border-radius: 5px;
                background-color: #1d99d1;
                color: white;
                margin-right: 5px;
            }

            &.active {
                background: white;
            }

            .modal-pic {
                height: 30px;
                width: 100%;
                margin: 5px 5px;
                position: relative;

                @include display(flex);

                img {
                    width: 12%;
                    height: 100%;
                }
            }

            .title {
                font-size: 14px;
                margin-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .status {
                    margin: 0px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }

    .chat-msgs {
        width: calc(100% - #{$member-list-width});
        height: $chat-height;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;

        .title {
            height: $grp-head-height;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 16px;
            padding: 10px;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            background: #eee;

            .icon {
                padding: 0px 8px;
                background: #1d99d1;
                border-radius: 1px;
                display: inline-block;
                color: white;
                float: right;
            }

            i {
                cursor: pointer;
            }

            .textfield {
                background: white;
                height: 25px;
                line-height: 25px;
                border-radius: 2px;
                margin-right: 5px;
                padding: 0px 5px;
                width: 200px;
                display: inline-block;
                color: #222;
                white-space: nowrap;
                overflow: hidden;
                top: 4px;
                position: relative;
            }
        }

        .msgs {
            // padding-bottom: 100px;
            height: calc(100% - 78px - #{$grp-head-height});
            overflow: auto;
            margin-top: $grp-head-height;
        }

        .msg {
            $border-radius: 5px;

            padding: 5px 15px;
            background: white;
            clear: both;
            display: block;
            margin: 5px 0px;
            word-wrap: break-word;
            word-break: break-word;

            &.left {
                float: left;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                margin-right: 20px;
            }

            &.right {
                float: right;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
                margin-left: 20px;
            }

            .time {
                font-size: 10px;
                float: right;
                color: darken(#1d99d1, 5%);
            }

            .text {
                font-size: 15px;
            }

            .from {
                font-size: 10px;
            }
        }

        .msg-field-wrapper {
            background: white;
            width: 100%;
            position: absolute;
            bottom: 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);

            .msg-field {
                background: white;
                width: 100%;
                min-height: 40px;
                max-height: 100px;
                line-height: 40px;
                font-size: 16px;
                padding: 0px 10px;
                font-family: aller;
                overflow: auto;
            }

            .btns-wrapper {
                // border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding: 5px;
                color: white;
            }

            .send-btn {
                padding: 2px 8px;
                background: #1d99d1;
                cursor: pointer;
                border-radius: 3px;
                display: inline-block;
                float: right;
            }
        }
    }

    .ui-select-multiple-div {
        .ui-select-match-item, span[type=button] {
            position: relative;
            padding: 5px;
            background-color: #1d99d1;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            margin-right: 10px;
            -webkit-appearance: initial;
        }
    }
}