<div class="chat-component" ng-if="vm.isUserLoggedIn()" ng-show="vm.showChatComponent">
	<div class="chat-friends">
		<div class="head-wrapper">
			<div class="title" ng-click="vm.friendListOpened = !vm.friendListOpened">Friends</div>
			<div class="icons-wrapper">
				<!-- <span class="icon" ng-click="vm.openGroupModal()"><i class="fa fa-user-plus"></i></span> -->
				<!-- <span class="icon" ng-click="vm.friendListOpened = !vm.friendListOpened"><i class="fa" ng-class="{'fa-angle-down':vm.friendListOpened,'fa-angle-up':!vm.friendListOpened}"></i></span> -->
				<!-- <span class="icon" ng-click="vm.isModalVisible = true;"><i class="fa fa-square-o"></i></span> -->
				<span class="icon" ng-click="vm.showChatComponent = false;"><i class="fa fa-close mainclose"></i></span>
			</div>
		</div>
		<div class="search-wrapper" ng-show="vm.friendListOpened">
			<input type="text" ng-model="vm.searchFriend" placeholder="Search Friends"></input>
		</div>
		<div class="friend-list-wrapper" ng-show="vm.friendListOpened">
			<div class="groupFrndLine">Contacts</div>
			<div class="friend"
				ng-repeat="frnd in vm.frndList | filter:vm.searchFriend"
				ng-if="frnd.user_id != vm.userInfo.user_id">
				<span class="pic"><img ng-src="{{frnd.pic50}}" err-image="/assets/images/dummy-user-pic.png" alt=""></span>
				<span class="name" ng-click="vm.openAndFetchMsgs(frnd)">{{frnd.display_name}}</span>
				<p class="unread">10</p>
				<span class="audio-icon" ng-class="{'disabled':!vm.isUserOnline(frnd.user_id)}" ng-click="vm.startAudioCall(frnd.user_id)">
					<i class="fa fa-headphones"></i>
				</span>
				<span class="video-icon" ng-class="{'disabled':!vm.isUserOnline(frnd.user_id)}" ng-click="vm.startVideoCall(frnd.user_id)">
					<i class="fa fa-video-camera"></i>
				</span>
				<span class="status" ng-class="{'online':vm.isUserOnline(frnd.user_id),'offline':!vm.isUserOnline(frnd.user_id)}"></span>
			</div>
			<div class="groupFrndLine">Group Conversations</div>
			<div class="friend"
				ng-repeat="frnd in vm.chatMembers | filter:vm.searchFriend"
				ng-if="frnd.typ === 'grp'">
				<span class="pic"><img ng-src="{{frnd.pic50}}" err-image="/assets/images/dummy-user-pic.png" alt=""></span>
				<span class="name" ng-click="vm.openAndFetchMsgs(frnd)">{{frnd.display_name}}</span>
				<span class="audio-icon" ng-class="{'disabled':!vm.isUserOnline(frnd.user_id)}" ng-click="vm.startAudioCall(frnd.user_id)">
					<i class="fa fa-headphones"></i>
				</span>
				<span class="video-icon" ng-class="{'disabled':!vm.isUserOnline(frnd.user_id)}" ng-click="vm.startVideoCall(frnd.user_id)">
					<i class="fa fa-video-camera"></i>
				</span>
				<span class="status" ng-class="{'online':vm.isUserGrpOnline(frnd.grp_mem),'offline':!vm.isUserGrpOnline(frnd.grp_mem)}"></span>
			</div>
		</div>
	</div>
	<div class="chat-msgs-individual" id="chat-msgs_{{vm.getOpenMemberIndex(obj.member.user_id)}}" ng-repeat="obj in vm.openedChats track by $index" ng-if="!obj.closed && !vm.isModalVisible">
		<div class="head-wrapper" ng-class="{'unread-color':obj.color}">
			<span class="pic"><img ng-src="{{obj.member.pic50}}" err-image="/assets/images/dummy-user-pic.png" alt=""></span>
			<div class="title" ng-click="vm.openChatOf(obj.member)">
				{{obj.member.display_name}}
				<span class="status" ng-if="obj.member.typ === 'usr'" ng-class="{'online':vm.isUserOnline(obj.member.user_id),'offline':!vm.isUserOnline(obj.member.user_id)}"></span>
			</div>
			<div class="icons-wrapper">
				<span class="icon" ng-if="obj.member.typ === 'grp'" ng-click="obj.addMemberFieldVisible = !obj.addMemberFieldVisible;">
					<i class="fa fa-user-plus"></i>
				</span>
				<span class="icon" ng-click="vm.toggleChatOf(obj.member)">
					<i class="fa" ng-class="{'fa-angle-down':!obj.minimized,'fa-angle-up':obj.minimized}"></i>
				</span>
				<span class="icon" ng-if="obj.member.typ === 'usr'" ng-click="vm.clearAllMsgOf(obj.member)">
					<i class="fa fa-trash"></i>
				</span>
				<span class="icon" ng-click="vm.visibleModalWithMember(obj.member.user_id)"><i class="fa fa-square-o"></i></span>
				<span class="icon" ng-click="vm.closeChatOf(obj.member)"><i class="fa fa-close"></i></span>
			</div>
		</div>
		<div class="grp-field ui-select-multiple-div" ng-show="obj.addMemberFieldVisible && !obj.minimized">
				<ui-select multiple ng-model="vm.newFriendsToGrp" theme="bootstrap" close-on-select="true">
				    <ui-select-match placeholder="Select Friends...">
				        <span ng-bind="$item.display_name"></span>
				    </ui-select-match>
				    <ui-select-choices repeat="item.user_id as item in (vm.frndList | filter: $select.search) track by $index">
				        <span ng-bind="item.display_name"></span>
				    </ui-select-choices>
				</ui-select>
				<span ng-click="vm.addMembersToGrp(obj)" class="add-btn">Add</span>
		</div>
		<div class="success-add-msg"
			ng-if="vm.successInAddMember[obj.member.user_id]">
			Members Added.
		</div>
		<div class="grp-member-wrapper" ng-show="!obj.minimized">
			<div class="grp-member" ng-repeat="(mem,joinig) in obj.member.members">
				{{(mem === vm.userInfo.user_id) ? 'You' : vm.allFriendsInfo[mem].display_name }}
				<span class="status" ng-class="{'online':vm.isUserOnline(mem),'offline':!vm.isUserOnline(mem)}"></span>
			</div>
		</div>
		<div class="offline-msg"
			ng-show="!obj.minimized"
			ng-if="obj.member.typ === 'usr' && !vm.isUserOnline(obj.member.user_id)">
			User is offline.
		</div>
		<div class="msgs-wrapper" id="msgs-wrapper_{{vm.getOpenMemberIndex(obj.member.user_id)}}" ng-show="!obj.minimized">
			<div class="msg"
				ng-class="{'right':(data.frm_usr === vm.userInfo.user_id),'left':(data.frm_usr === obj.member.user_id)}"
				ng-repeat="data in vm.msgs[obj.member.user_id] | orderBy:'msg_ts':false">
				<div class="frm-usr" ng-if="obj.member.typ === 'grp'">
					{{(data.frm_usr === vm.userInfo.user_id) ? 'You' : vm.allFriendsInfo[data.frm_usr].display_name }}
				</div>
				<div class="text" ng-bind-html="data.msg"></div>
				<div class="time">{{data.msg_ts | date : 'HH:mm'}}</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div style="background: #eeeeee;" ng-show="vm.activeMember.isTyping">typing...</div>
		<div class="msg-field" ng-show="!obj.minimized">
			<div class="textfield" id="msg_{{vm.getOpenMemberIndex(obj.member.user_id)}}"
				ng-keydown="vm.sendMsg($event,obj.member)"
				contenteditable=""
				placeholder="Write a Message"
				ng-keyup="vm.shouldShowPlaceHolder($event,obj.member.user_id)"
				ng-blur="vm.shouldShowPlaceHolder($event,obj.member.user_id)"
				ng-keypress="vm.removePlaceHolder($event,obj.member.user_id)"
				ng-click="vm.removePlaceHolder($event,obj.member.user_id)"
			></div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="chat-modal" ng-show="vm.isModalVisible">
		<div class="chat-action-bar">
			<span class="icon" ng-click="vm.isModalVisible = false;"><i class="fa fa-close"></i></span>
		</div>
		<div class="chat-modal-content">
			<div class="chat-members">
				<div class="search-modal-wrapper" ng-show="vm.isModalVisible">
					<input type="text" class="chat-modal-search" ng-model="vm.searchFriendModal" placeholder="Search Friends"></input>
				</div>
				<div class="groupFrndLine">Contacts</div>

				<span class="member"
					ng-if="vm.userInfo.user_id != member.user_id"
					ng-class="{'active':(member.user_id === vm.activeMember.user_id)}"
					ng-click="vm.setActiveMember(member)"
					ng-repeat="member in (vm.frndList | filter:vm.searchFriendModal) track by $index" ng-style="member.user_id==vm.newMesageUserId && {'background-color':'#85d6fb'}">
					<span class="modal-pic">
						<img ng-src="{{member.pic50}}" err-image="/assets/images/dummy-user-pic.png" alt="" >
						<div class="title">
							{{member.display_name}}
						<p class="unread">10</p>
						<span class="status" ng-class="{'online':vm.isUserOnline(member.user_id),'offline':!vm.isUserOnline(member.user_id)}"></span>
						</div>
					</span>
				</span>
				<div class="groupFrndLine">Group Conversations</div>
				<span class="member"
					ng-if="vm.userInfo.user_id != member.user_id"
					ng-class="{'active':(member.user_id === vm.activeMember.user_id)}"
					ng-click="vm.setActiveMember(member)"
					ng-repeat="member in (vm.chatMembers | filter:vm.searchFriendModal) track by $index" ng-show="member.typ === 'grp'">
					<span class="modal-pic">
						<img ng-src="{{member.pic50}}" err-image="/assets/images/dummy-user-pic.png" alt="">
						<div class="title">
							{{member.display_name}}
						<p class="unread">10</p>
						<span class="status" ng-class="{'online':vm.isUserGrpOnline(frnd.grp_mem),'offline':!vm.isUserGrpOnline(frnd.grp_mem)}"></span>
						</div>
					</span>
				</span>
			</div>
			<div class="chat-msgs" ng-if="vm.activeMember">
				<div class="msgs" id="msgs">
					<div class="title">
						<span>{{vm.activeMember.display_name}}</span>
					</div>
					<span class="msg" ng-class="{'right':(data.frm_usr === vm.userInfo.user_id),'left':(data.frm_usr === vm.activeMember.user_id)}" ng-repeat="data in vm.msgs[vm.activeMember.user_id] | orderBy:'msg_ts':false">
						<div class="text" ng-bind-html="data.msg"></div>
						<div class="time">{{data.msg_ts| date : 'HH:mm'}}</div>
						<div class="clearfix"></div>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="msg-field-wrapper">
					<div class="msg-field" id="msg"
						ng-keydown="vm.sendMsgFromModalOnKeyPress($event,vm.activeMember)"
						contenteditable=""
						ng-keyup="vm.shouldShowPlaceHolder($event,vm.activeMember.user_id)"
						ng-keypress="vm.removePlaceHolder($event,vm.activeMember.user_id)"
						ng-click="vm.removePlaceHolder($event,vm.activeMember.user_id)"></div>
					<div class="btns-wrapper">
						<div class="send-btn" ng-click="vm.sendMsgFromModal(vm.activeMember)">Send</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="create-grp-modal" ng-if="vm.isCreateGrpModalVisible">
		<div class="grp-form-wrapper">
			<div class="close-btn" ng-click="vm.isCreateGrpModalVisible = false;">
				<i class="fa fa-times"></i>
			</div>
			<div class="title">Create Group</div>
			<form class="form form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="grpname">Name</label>
					<div class="col-sm-10">
						<input type="text" ng-model="vm.grp_nm" class="form-control" placeholder="Enter Group Name"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="frnd">Friends</label>
					<div class="col-sm-10 ui-select-multiple-div">
						<ui-select multiple ng-model="vm.selectedFriends" theme="bootstrap" close-on-select="true">
						    <ui-select-match placeholder="Select Friends...">
						        <span ng-bind="$item.display_name"></span>
						    </ui-select-match>
						    <ui-select-choices repeat="item.user_id as item in (vm.frndList | filter: $select.search) track by $index">
						        <span ng-bind="item.display_name" ></span>
						    </ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="pic">Pic</label>
					<div class="col-sm-4" ngf-select ng-model="vm.grpPic" ngf-multiple='false'>
						<div class="form-control upload-btn">Select Image</div>
						<span class="grp-pic" ng-if="vm.myGrpPic" style="background: url({{vm.myGrpPic}});background-size: cover;background-position: 50% 50%;"></span>
					</div>
				</div>
				<div class="create-btn ew-rounded-btn" ng-click="vm.createGroup()">
					<i class="fa fa-plus right"></i>
					<span class="text">Create Group</span>
				</div>
			</form>
		</div>
	</div>

	<div class="audio-modal-wrapper" ng-if="vm.isActiveAudioCall">
		<div class="audio-call">
			<div class="toolbar">
				<span>{{vm.activeMediaPerson}}</span>
				<span class="close-icon" ng-click="vm.stopAudioCall()">
					<i class="fa fa-times"></i>
				</span>
			</div>
			<div class="content">
				<div class="left-side-pic"></div>
				<div class="middle-msg-wrapper">
					<span ng-if="vm.isCallEnded">{{vm.endCallMsg}}</span>
					<span ng-if="vm.isCallConnecting">Connecting ....</span>
					<div  ng-if="vm.isCallConnected" class="signal">
						<span class="one">.</span>
						<span class="two">.</span>
						<span class="three">.</span>
						<span class="four">.</span>
						<span class="five">.</span>
						<span class="six">.</span>
					</div>
				</div>
				<div class="right-side-pic"></div>
				<div class="big-video">
					<video id="theirVideoTag" autoplay></video>
				</div>
				<div class="small-video">
					<video id="myVideoTag" muted="muted" autoplay></video>
				</div>
			</div>
			<div class="action-btns">
				<span class="act-btn" ng-if="!vm.isCallAccepted" ng-click="vm.acceptAudioCall()">Accept</span>
				<span class="act-btn" ng-if="!vm.isCallAccepted" ng-click="vm.declineAudioCall()">Decline</span>
				<span class="act-btn" ng-if="vm.isCallAccepted" ng-click="vm.stopAudioCall()">End Call</span>
			</div>
		</div>
	</div>

	<div class="video-modal-wrapper" ng-if="vm.isActiveVideoCall">
		<div class="video-call">
			<div class="toolbar">
			<span>{{vm.activeMediaPerson}}</span>
				<span class="close-icon" ng-click="vm.stopVideoCall()">
					<i class="fa fa-times"></i>
				</span>
			</div>

			<div class="content">
				<div class="big-video">
					<video id="theirVideoTag" autoplay></video>
				</div>
				<div class="small-video">
					<video id="myVideoTag" muted="muted" autoplay></video>
				</div>
				<div class="middle-msg-wrapper">
					<span ng-if="vm.isCallEnded">{{vm.endCallMsg}}</span>
					<span ng-if="vm.isCallConnecting">Connecting ....</span>
				</div>
			</div>
			<div class="action-btns" ng-if="!vm.isCallAccepted">
				<span class="act-btn" ng-click="vm.acceptVideoCall()">Accept</span>
				<span class="act-btn" ng-click="vm.declineVideoCall()">Decline</span>
			</div>
		</div>
	</div>

	<!-- Grp Image Modal -->
	<div class="image-modal profile" ng-if="vm.showGrpPicModal">
		<div style="width: 100%;">
			<image-crop
			data-height="200"
			data-width="200"
			data-shape="square"
			data-step="1"
			src="vm.image"
			data-result="vm.myGrpPic"
			data-result-blob= "vm.myGrpPicBlob"
			crop="vm.initCrop"
			></image-crop>
		</div>
		<div style="margin-top: 20px;z-index: 10">
			<button class="btn btn-primary" ng-click="vm.cropImage()">Crop</button>
			<button class="btn btn-primary" ng-click="vm.showGrpPicModal=false;">Close</button>
		</div>
	</div>
</div>
