@import "../../../assets/scss/_common_test.scss";

//answer overlay
//it will open/close with animation
.ans-overlay {
    z-index: 100000000000000;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    overflow: auto;

    @include transition(all 0.3s ease-in-out);

    &.ds-close {
        top: -100vh;
    }

    &.ds-open {
        top: 0vh;
    }
}

//main container
.ans-modal-wrapper {
    overflow: visible;
    position: relative;
    color: black;
    white-space: nowrap;

    @include transition(all 0.3s ease-in-out);

    @include display(flex);

    @include flex-direction(column);

    &.ds-open {
        width: 100%;
        height: 100vh;
        margin: 0px auto;
        background: white;

        @include breakpoint(screen_1280) {
            max-width: 774px;
            width: 90%;
            height: auto;
            margin: 10px auto;
            border-radius: 3px;
            border: 1px solid #ccc;
        }
    }

    &.ds-close {
        width: 0px;
        width: 0%;
        height: 0%;
    }

    .ans-que-title {
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
        color: #222;
        white-space: pre-wrap;
        padding: 10px 40px;

        img, video, iframe {
            max-width: 100%;
        }

        p {
            margin: 0px;
        }
    }

    .fr-box {
        padding: 10px;

        @include flex(1);
    }

    .que-desc {
        white-space: pre-line;
        font-size: 15px;

        img, video, iframe {
            max-width: 100%;
        }
    }

    .your-ans-title {
        font-size: 20px;
        font-family: 'nunito',sans-serif;
        color: black;
        padding: 10px 10px;

        @include display(flex);

        @include justify-content(space-between);

        @include flex-direction(row);

        .back-arrow {
            background-color: #f4f4f4;
            padding: 5px 10px;
            border-radius: 5px;
            line-height: 25px;

            @include breakpoint(screen_1280) {
                display: none;
            }
        }
    }

    .ew-modal-footer {
        margin-top: 10px;
        padding: 10px;
        font-family: 'nunito','aller',sans-serif;
        font-size: 14px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);
    }

    .ans-modal-close-btn {
        font-size: 20px;
        position: absolute;
        cursor: pointer;
        display: none;
        border-radius: 5px;
        right: -50px;
        background: white;
        top: 0px;

        i {
            padding: 10px;
        }

        @include breakpoint(screen_1280) {
            display: block;
        }
    }

    .alert-danger {
        margin: 0px 10px;
        padding: 10px;
    }

    .fr-element {
        height: 49vh;

        @include breakpoint(large_desktop) {
            height: 60vh;
        }
    }
}