<div class="ans-overlay ds-close" ng-class="{'ds-open':vm.shouldShowAnswerModal}">
	<div class="ans-modal-wrapper ds-open">
		<!-- <div class="ans-que-title fr-view" ng-bind-html="vm.trustAsAHTML(vm.currentQueTitle)"></div> -->
		<div class="your-ans-title">
			<i class="fa fa-arrow-left back-arrow" ng-click="vm.closeAnswerModal()"></i>
			<span>Your Answer</span>
			<span></span>
		</div>
		<div class="frm-element alert alert-danger" ng-if="vm.form.error">
			{{vm.form.error}}
		</div>
		<textarea  rows="7" froala="vm.EditorConfig" class="ans-area" class="form-control" placeholder="Your ans" ng-model="vm.form.userAnswer"></textarea>
		<div class="ew-modal-footer">
			<div class="ew-rounded-btn" ng-show="!vm.isAnsSubmitting" ng-click="vm.submitAnswer()">
				<i class="fa fa-save right"></i>
				<span class="text">Submit</span>
			</div>
			<div class="ew-rounded-btn disable" ng-show="vm.isAnsSubmitting">
				<i class="fa fa-circle-o-notch right"></i>
				<span class="text">Submitting.....</span>
			</div>
		</div>
		<div class="ans-modal-close-btn" ng-click="vm.closeAnswerModal()">
			<i class="fa fa-times"></i>
		</div>
	</div>	
</div>

<!-- <div class=" ds-close"></div> -->