<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Buy training</title>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContent" style="text-align: center;">
                                            <h1 style="text-align: center;margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;color: #1d99d1 !important;font-family: serif;font-size: 45px;">ExamWarrior</h1>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContent" mc:edit="body_content">
                                            <div>
                                                Hi <strong><%= data.dsp_nm %></strong>,
                                                <br />
                                                <br />
                                                You have successfully purchased <%= data.training %> on <a href="https://www.examwarrior.com">examwarrior.com</a>.
                                                Click here to <a href="https://www.examwarrior.com/training/<%= data.training %>">Start learning now</a>
                                                <br/>
                                            </div>
                                            <br />
                                            <table style="height: 200px; width: 550px;" border="1">
                                                <tbody>
                                                    <tr style="height: 27px;">
                                                        <td style="width: 549px; height: 27px;" colspan="3">Order Summay &nbsp;&nbsp;&nbsp;</td>
                                                    </tr>
                                                    <tr style="height: 67px;">
                                                        <td style="width: 186px; height: 94px;" rowspan="2">
                                                            <p><%= data.training_name %></p>
                                                            <p>Starts on <%= data.training_start_date %></p>
                                                        </td>
                                                        <td style="width: 177px; height: 94px;" rowspan="2">
                                                            <p><%= data.training_from_week_day %>-<%= data.training_to_week_day %> (<%= data.training_duration_count %> <%= data.training_duration_unit %>)&nbsp;</p>
                                                            <p><%= data.training_start_time %> - <%= data.training_end_time %></p>
                                                        </td>
                                                        <td style="width: 186px; text-align: right; height: 67px;">
                                                            <p>Price : ₹<%= data.training_price %></p>
                                                            <p>Discount : <span class="ng-binding">- ₹<%= data.training_discount %></span></p>
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 27px;">
                                                        <td style="width: 186px; text-align: right; height: 27px;">Net Price : ₹<%= data.training_net_price %></td>
                                                    </tr>
                                                    <tr style="height: 28px;">
                                                        <td style="width: 363px; height: 28px;" colspan="2">Total Saving : ₹<%= data.training_total_saving %>&nbsp;</td>
                                                        <td style="width: 186px; text-align: right; height: 28px;" colspan="3">Service Tax(15%) : ₹<%= data.training_service_tax %>&nbsp;</td>
                                                    </tr>
                                                    <tr style="height: 28px;">
                                                        <td style="width: 549px; text-align: right; height: 28px;" colspan="3">Total : ₹<%= data.training_total_amount %></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br />
                                            Happy learning.
                                            <br />
                                            For any questions, please contact us on support@examwarrior.com.
                                            <br />
                                            <br />
                                            <div>
                                                Thanks,
                                                <br />
                                                ExamWarrior Team
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContent" mc:edit="footer_content01">
                                            <em>Copyright &copy; 2016 examwarrior.com , All rights reserved.</em>
                                            <br />
                                            <strong>Our mailing address is:</strong>
                                            <br />
                                            support@examwarrior.com
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
        </center>
    </body>
</html>