@import "../../../assets/scss/_common_test.scss";

.comment-component-wrapper {
    $color: #e9eaed;

    $dark: #f6f7f8;
    $accent: #6d97cc;
    $dark-accent: #6186b5;
    $comment-profile-pic: 32px;
    $post-profile-pic: 50px;

    .not-exist-answer {
        text-align: center;
        padding: 10px;
        font-size: 20px;
        margin-top: 20px;
        font-family: "nunito",sans-serif;
        background: white;
        border-radius: 5px;
    }

    .comment-loader-wrapper {
        background: #e5e5e5;
        padding: 10px;

        .loader {
            width: 5em;
            height: 5em;
        }
    }

    .post {
        background: #fff;

        // padding-top: 20px;
        max-width: 1280px;

        &:first-child {
            margin-top: 0px;
        }

        .content-wrapper {
            position: relative;
            padding: 10px;
        }

        .head {
            margin-bottom: 10px;
            display: block;
            position: relative;
        }

        .profile-pic {
            width: $post-profile-pic;
            height: $post-profile-pic;
            float: left;

            // border: 1px solid $color;
       
        }

        .post-options {
            position: absolute;
            top: -5px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;
            display: none;

            .overlay {
                position: absolute;
                right: 0px;
                top: 30px;
                display: none;
                z-index: 1;

                .list-group-item {
                    padding: 8px 12px;
                    white-space: nowrap;
                }

                h6 {
                    margin: 0px;
                }
            }

            .dropdown-toggle {
                display: block;
                padding: 0px 10px;
            }

            .dropdown-menu {
                padding: 0px;

                li {
                    border-bottom: 1px solid #e5e5e5;
                    margin: 0px;
                    padding: 0px;

                    a {
                        border: 0px;
                        padding: 10px 20px;
                        font-size: 16px;
                    }
                }
            }
        }

        .post-btn {
            background: #1d99d1 !important;
            margin-right: 0px !important;
            color: white !important;
            cursor: pointer;

            &.disabled {
                pointer-events: none;
                cursor: none;
            }
        }

        .status-attachment-wrapper {
            @include display(flex);

            @include flex-direction(row);

            @include flex-wrap(wrap);
        }

        .status-attachment {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;

            &.video {
                display: block;
                width: 100%;
                margin-right: 0px;
                background: $dark;
                padding: 0px 10px;

                .videoName {
                    font-family: 'Aller';
                    font-size: 18px;
                    color: $dark-accent;
                }

                .remove-icon {
                    position: relative;
                    display: inline-block;
                    font-size: 18px;
                    cursor: pointer;
                    float: right;
                }
            }

            .image {
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                position: relative;
                display: inline-block;
            }

            .remove-icon {
                position: relative;
                display: block;
                text-align: right;
                cursor: pointer;
            }
        }

        .progressbar {
            width: 00%;
            height: 5px;
            background: rgba(147, 206, 222, 1);
            background: -moz-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
            background: -webkit-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: -o-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
        }

        .content {
            font-family: 'Aller';
            font-size: 15px;
            background: transparent;
            border: 0px;
            padding: 0px;
            white-space: pre-wrap;
            max-height: 100px;
            line-height: 25px;
            overflow: hidden;

            &.full-post {
                max-height: none;
                overflow: visible;
            }
        }

        .more-btn {
            background: none;
            border: 0px;
            border-radius: 0px;
            color: #1d99d1;
            font-size: 15px;
            font-family: 'Aller';
            float: right;
        }

        .post-image-attachment {
            display: block;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }

        .post-video-attachment {
            max-width: 100%;
            width: 100%;
            min-height: 400px;
            margin-bottom: 10px;
            height: 400px;
        }

        .action-btns {
            // border-top: 1px solid $dark;
            margin: 0px 10px;
            padding: 0px;

            // background: $dark-accent;
            color: $dark-accent;
        }

        .action-btn {
            padding: 7px 0px;
            display: inline-block;
            margin-right: 5px;
            cursor: pointer;
            font-family: waverly;
            color: #1d99d1;
            font-size: 15px;
        }

        .comment-wrapper {
            // padding: 10px;
            background: $dark;
        }

        input, textarea {
            background: white;
            border-radius: 3px;
            border: 1px solid #ccc;
            height: 32px;
            line-height: 28px;
            width: 100%;
            padding: 0px  10px;
            box-shadow: 0px 0px 0px;
            font-family: helvetica, arial, sans-serif;

            // max-width: 650px;
            color: #222;

            // resize: none;
            font-size: 14px;

            &:focus {
                border: 1px solid #1d99d1;
            }
        }

        .comment-field {
            padding: 10px;
            position: relative;
            min-height: 50px;
            margin-left: 0px;

            .unauthorized {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                background: rgba(0, 0, 0, 0.75);
                color: white;
                font-family: 'nunito',sans-serif;
                font-size: 20px;
                z-index: 10;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);
            }

            .profile-pic {
                float: left !important;
                width: $comment-profile-pic !important;
                height: $comment-profile-pic !important;
            }

            .tf {
                padding-left: $comment-profile-pic + 10;
                position: relative;

                .input-comment {
                    background: white;
                    padding-left: 10px;
                    box-shadow: 0px 0px 0px;
                    font-family: 'Aller';
                    display: inline-block;
                    min-height: 32px;
                    line-height: 32px;
                    font-size: 15px;
                    width: calc(100%);
                    border: 1px solid darken($dark, 30%);
                    border-bottom: 0px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    padding-right: 30px;
                    overflow: auto;
                    word-spacing: 1px;
                }

                .input-comment.with-full-border {
                    border: 1px solid darken($dark, 30%);
                    border-bottom: 1px solid darken($dark, 30%);
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }

                .input-comment.one-liner {
                    width: calc(100% - 90px);
                }

                .input-comment:empty:before {
                    content: attr(placeholder);
                    color: #555;
                    float: left;
                    height: 32px;
                    line-height: 32px;
                    overflow: hidden;
                }

                .input-comment:empty:focus:before {
                    content: " ";
                    color: #555;
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    overflow: hidden;
                }

                .one-line-submit-button {
                    float: right;
                }

                .bottom-tf {
                    position: relative;
                    top: -5px;
                    padding: 7px 14px;
                    background: darken(#eee, 10%);
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    color: #222;
                    border: 1px solid darken($dark, 30%);
                    border-top: 0px;
                    display: none;

                    &.show-bar {
                        display: block;
                    }
                }

                .camera-icon {
                    display: inline-block;

                    // position: absolute;
                    right: 86px;
                    line-height: 30px;
                    top: 1px;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    z-index: 10;
                    font-size: 15px;

                    &.disable {
                        pointer-events: none;
                        background: #e5e5e5;
                        color: #ccc;
                    }
                }

                .post-comment-btn {
                    padding: 4px 15px;
                    display: inline-block;
                    background: #6186b5;
                    color: white;
                    float: right;
                    border-radius: 3px;
                    cursor: pointer;
                    word-break: break-word;
                    height: 32px;
                    margin-left: 10px;
                    font-size: 15px;

                    @include display(flex);

                    @include align-items(center);

                    &.disable {
                        pointer-events: none;
                        background: #e5e5e5;
                        color: #ccc;
                    }
                }
            }

            .comment-attachment-wrapper {
                padding-left: $comment-profile-pic + 10;

                @include display(flex);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }
        }

        .comment {
            margin: 00px 0px;
            padding: 0px 10px;
            padding-bottom: 5px;

            .head-wrapper {
                padding-right: 30px;
                position: relative;

                @include display(flex);

                @include align-items(flex-start);

                @include justify-content(flex-start);

                @include flex-direction(row);

                &:hover {
                    .post-options {
                        display: block;
                    }
                }

                .profile-pic {
                    border: 0px;
                    height: auto;
                    width: $comment-profile-pic;
                    margin-top: 5px;
                    margin-right: 10px;

                    img {
                        width: $comment-profile-pic;
                        height: $comment-profile-pic;
                        display: inline-block;
                    }
                }

                .username {
                    font-size: 12px;
                    color: #365899;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: helvetica, arial, sans-serif;
                    text-transform: capitalize;
                }

                .answer-by-text {
                    color: #222;
                    font-family: 'nunito',sans-serif;
                    font-size: 16px;
                    font-weight: bold;

                    .ans-author {}
                }
            }

            .sub-comment-wrapper {
                margin-left: 40px;
                border-left: 1px solid #ccc;

                .post-options {
                    right: 0px;
                }

                .comment-field {
                    margin-left: 0px;
                }
            }

            .head .profile-name {
                padding-left: 0px;

                .comment, .comment-field {
                    // padding-left: 10px;
                    border-left: 1px solid darken($dark, 30%);
                    padding-bottom: 0px;
                }
            }

            .text {
                overflow: hidden;
                color: #222;
                white-space: pre-wrap;
                word-break: break-word;
                font-size: 16px;
                font-family: "Q_Serif";

                &.full-comment {
                    max-height: none;
                    overflow: visible;
                }
            }

            .comment-image-attachment-wrapper {}

            .comment-image-attachment {
                display: block;
                margin-bottom: 00px;

                // @include flex-grow(1);

                img {
                    max-width: 300px;
                    height: auto;
                    cursor: pointer;
                }
            }

            .action-btns {
                border-top: 0px solid $dark;
                margin: 0px;
                margin-top: 0px;
                padding: 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-start);
            }

            .action-btn {
                padding: 0px 0px;
                padding-right: 0px;
                font-family: helvetica, arial, sans-serif;
                font-size: 14px;
                color: #365899;
                margin-right: 15px;

                @include display(flex);

                @include align-items(center);

                &.disable {
                    color: #bbb;
                    background: #eee;
                    padding: 3px 10px;
                    pointer-events: none;
                }

                i {
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
        }
    }

    .edit-comment-modal {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.5);
        overflow: auto;
        z-index: 10000;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .post {
            min-width: 500px;
        }

        .content-wrapper {
            padding: 0px;
        }

        .profile-name {
            padding-left: 0px;
        }

        .action-btns {
            @include justify-content(flex-start);
        }
    }

    .delete-comment-modal-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.5);
        overflow: auto;
        z-index: 9999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .delete-comment-modal {
            max-width: 500px;
            background: white;
            border-radius: 3px;
            padding: 15px;
        }

        .msg {
            font-size: 20px;
            font-family: waverly;
        }

        .action-btns {
            float: right;
            padding-top: 30px;
            color: white;

            .ew-btn {
                padding: 4px 10px;
                font-family: aller;
                font-size: 15px;
                display: inline-block;
                margin: 0px 2px;
                background: #1d99d1;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }

    .ew-modal {
        input[type="radio"] {
            margin-right: 5px;
        }
    }

    .ew-small-modal-wrapper {
        .action-btns {
            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);
        }
    }

    .usr-input-textarea {
        resize: none;
        overflow: hidden;
        overflow-y: scroll;
        min-height: 50px;
        max-height: 200px;
    }
}