<div class="comment-component-wrapper">
	<div class="post">
		<div class="comment-wrapper">
			<div class="comment-loader-wrapper" ng-if="!vm.comments">
				<div class="loader"></div>
			</div>
			<!-- <div class="not-exist-answer" ng-if="vm.comments && vm.comments.length <= 0">
				Answer is deleted or doesn't exists
			</div> -->
			<div class="comment" ng-repeat="comment in vm.comments | orderBy:'cmnt_ts':true track by $index">
				<!-- <div class="head"> -->
					<div class="head-wrapper">
						<div class="profile-pic">
							<img ng-src="{{comment.usr_info.usr_pic}}" err-image="/assets/images/dummy-user-pic.png" width="100%" height="100%" alt="">
						</div>
						<div style="width: 100%">
							<span class="answer-by-text">Answered By <a ng-href="vm.getCareerBookProfileUrl(comment.usr_id)" class="ans-author">{{comment.usr_info.dsp_nm}}</a></span>
							<!-- Comment Text -->
							<span class="text" ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" id="{{comment.cmnt_id}}" ng-class="{'full-comment':vm.commentMore[comment.cmnt_id]}" ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)"></span>
							<!-- Edit Comment Textarea -->
							<div class="action-btns">
								<!-- show only in qa page -->
								<span class="action-btn" 
									ng-if="vm.isQaPage"
									ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === true}"
									ng-click="vm.likeDislikeComment(comment.cmnt_id,1)">
									<i class="fa fa-thumbs-up"></i> {{vm.getLikeCount(comment.cmnt_id)}}
								</span>
								<!-- show dislike button only in qa page -->
								<span class="action-btn" 
									ng-if="vm.isQaPage"
									ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === false}"
									ng-click="vm.likeDislikeComment(comment.cmnt_id,0)">
									<i class="fa fa-thumbs-up fa-rotate-180"></i> {{vm.getDisLikeCount(comment.cmnt_id)}}
								</span>
								<span class="action-btn" ng-if="vm.isQaPage" ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)">
									<i class="fa fa-comment-o"></i>{{vm.subLevelComments[comment.cmnt_id]['comments'].length}} Comments
								</span>

								<span class="action-btn" ng-click="vm.openAnswerModalForNewAnswer()">
									<i class="fa fa-pencil"></i>Answer this question
								</span>
							</div>
							<div ng-click="vm.collapseSublevelCommentTextField(comment.cmnt_id)" ng-if="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']" class="action-btn">
								Collase
							</div>
							<div class="post-options dropdown pull-right">
							  <div class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-angle-down"></i></div>
							  <ul class="dropdown-menu">
							    <li ng-if="vm.isAuthorOfComment(comment.cmnt_id)"><a  ng-click="vm.editComment(comment.cmnt_id)">Edit</a></li>
							    <li ng-if="vm.isAuthorOfComment(comment.cmnt_id)"><a  ng-click="vm.showDeleteCommentModal(comment.cmnt_id)">Delete</a></li>
							    <li><a ng-click="vm.showReportModal(comment.cmnt_id)">Report</a></li>
							    <li ng-if="vm.showRefLink"><a  ng-click="vm.showCopyModal(comment.cmnt_id)">Get Link</a></li>
							  </ul>
							</div>
						</div>	
					</div>
					<div class="sub-comment-wrapper">
						<div class="comment-field" ng-if="!vm.isCommentEditingInProcess" id="comment-field-{{comment.cmnt_id}}" ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
							<div class="unauthorized" ng-if="!vm.isUserLoggedIn()">Login to add comment.</div>
							<div class="profile-pic"><img ng-src="{{vm.getUserPic()}}" err-image="/assets/images/dummy-user-pic.png" width="100%" height="100%" alt=""></div>
							<div class="tf">
								<textarea 
									rows="1" 
									type="text" 
									class="usr-input-textarea" 
									id="{{comment.cmnt_id}}_textarea" 
									placeholder="Write a reply" 
									ng-keydown="vm.keyDownEventOnTextField($event,comment.cmnt_id,comment.cmnt_id,'1')" 
									ng-keyup="vm.autoIncreaseTextarea($event)"
									ng-model="vm.comment[comment.cmnt_id]" name=""> </textarea>
								<div class="one-line-submit-button" ng-if="vm.comment[comment.cmnt_id].length > 0" ng-click="vm.comment[comment.cmnt_id] = ''">
									<div class="post-comment-btn"  style="background: #D24D57;font-family: 'Roboto Condensed';font-size: 15px;padding-left: 7px;padding-right: 7px;margin-left: 0px;">Cancel</div>
								</div>
								<!--  -->
								<div class="bottom-tf" ng-if="vm.showBigCommnentField">
									<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.cancelComment($event)" class="post-comment-btn">Cancel</div>	
									<div ng-class="{'disable':vm.isPostSubmitting}" ng-click="vm.addComment($event,comment.cmnt_id,comment.cmnt_id,'1')" class="post-comment-btn">Submit</div>
									<div class="clearfix"></div>
								</div>

								<div class="progressbar"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<!-- ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelAllComments']" -->
						<div ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
							<div class="comment" ng-repeat="comment in vm.subLevelComments[comment.cmnt_id]['comments'] | orderBy:'cmnt_ts':false">
								<div class="head-wrapper">
									<div class="profile-pic">
										<img ng-src="{{comment.usr_info.usr_pic}}" err-image="/assets/images/dummy-user-pic.png" width="100%" height="100%" alt="">
									</div>
									<div style="width: 100%">
										<span>
											<a ng-href="{{vm.getCareerBookProfileUrl(comment.usr_id)}}" class="username">{{comment.usr_info.dsp_nm}}</a>
											<span class="text" ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" id="{{comment.cmnt_id}}" ng-class="{'full-comment':vm.commentMore[comment.cmnt_id]}" ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)"></span>

											<!-- edit Comment Textarea -->
											<textarea 
												ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" 
												rows='1' data-min-rows='1' 
												class="usr-input-textarea" 
												ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt" 
												ng-model="vm.comment[comment.cmnt_id]" 
												placeholder="Write a reply" name="" style="display: block"
												ng-keyup="vm.autoIncreaseTextarea($event)"
												ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
										</span>
										
										<button class="more-btn" ng-show="!vm.commentMore[comment.cmnt_id]" ng-if="vm.shouldShowMoreButton(comment.cmnt_id)" ng-click="vm.commentMore[comment.cmnt_id] = !vm.commentMore[comment.cmnt_id]">More &gt;&gt;</button>
										<button class="more-btn" ng-show="vm.commentMore[comment.cmnt_id]" ng-if="vm.shouldShowMoreButton(comment.cmnt_id)" ng-click="vm.commentMore[comment.cmnt_id] = !vm.commentMore[comment.cmnt_id]">&lt;&lt; Less</button>
										<div class="clearfix"></div>
										<div class="action-btns">
											<!-- Show Upvote button only in qa page -->
											<span class="action-btn" 
												ng-if="vm.isQaPage"
												ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === true}"
												ng-click="vm.likeDislikeComment(comment.cmnt_id,1)">
												<i class="fa fa-thumbs-up"></i> {{vm.getLikeCount(comment.cmnt_id)}}
											</span>
											<!-- show dislike button only in qa page -->
											<span class="action-btn"
												ng-if="vm.isQaPage" 
												ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === false}"
												ng-click="vm.likeDislikeComment(comment.cmnt_id,0)">
												<i class="fa fa-thumbs-up fa-rotate-180"></i> {{vm.getDisLikeCount(comment.cmnt_id)}}
											</span>
											<!-- Show Comment Button in forum page -->
											<span class="action-btn" ng-if="vm.isQaPage" ng-click="vm.showSublevelCommentTextField(comment.cmnt_cmnt_id,comment.cmnt_id)">
												<i class="fa fa-comment-o"></i> Reply
											</span>
											<span class="action-btn" 
												ng-click="vm.cancelEditComment()"
												ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" >
												Cancel
											</span>
										</div>
										<div class="post-options dropdown stats-dropdown pull-right">
										  <div class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-angle-down"></i></div>
										  <ul class="dropdown-menu">
										    <li ng-if="vm.isAuthorOfComment(comment.cmnt_id)"><a  ng-click="vm.editComment(comment.cmnt_id)">Edit</a></li>
										    <li ng-if="vm.isAuthorOfComment(comment.cmnt_id)"><a  ng-click="vm.showDeleteCommentModal(comment.cmnt_id)">Delete</a></li>
										    <li><a ng-click="vm.showReportModal(comment.cmnt_id)">Report</a></li>
										  </ul>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- delete confirm dialgo -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowDeleteCommentModal">
		<div class="ew-modal">
			<div class="msg">
				Are you sure want to delete?	
			</div>
			<div class="action-btns">
				<div class="ew-rounded-btn" ng-click="vm.deleteComment(vm.currentlyDeletedComment)">
					<i class="fa fa-times right"></i>
					<span class="text">Delete</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.closeDeleteCommentModal()">
					<i class="fa fa-times right"></i>
					<span class="text">Cancel</span>
				</div>
			</div>	
		</div>
	</div>
	<!-- report dialog -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowReportModal">
		<div class="ew-modal" style="min-width: 400px">
			<div class="">
				<div class="msg">Report Answer</div>
				<form>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="wrong">Wrong Answer</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="spam">Spam</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="notrelated">Not Related</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="other">Other</input>
					</div>
					<div class="frm-element">
						<textarea class="" style="width: 100%" placeholder="Reason to report answer" ng-model="vm.reportReasonOtherValue" ng-if="vm.reportReasonValue === 'other'"></textarea>	
					</div>
				</form>
			</div>
			<div class="action-btns">
				<div class="ew-rounded-btn" ng-click="vm.reportComment(vm.currentlyReportedComment)">
					<i class="fa fa-pencil right"></i>
					<span class="text">Report</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.closeReportModal()">
					<i class="fa fa-times right"></i>
					<span class="text">Cancel</span>
				</div>
			</div>	
		</div>
	</div>
	<!-- copy link dialog -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowCopyModal">
		<div class="ew-modal">
			<div class="msg" style="font-family: aller;font-size: 15px;">
				<i class="fa fa-info-circle info"></i>{{vm.link}}
			</div>
			<div class="action-btns">
				<div class="ew-rounded-btn" ng-click="vm.closeCopyModal()">
					<i class="fa fa-save right"></i>
					<span class="text">Cancel</span>
				</div>
			</div>	
		</div>
	</div>

	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowAlertModal">
		<div class="ew-modal">
			<div class="msg">
				<i class="fa fa-info-circle info"></i>{{vm.alertMsg}}
			</div>
			<div class="action-btns-flex-end">
	            <div class="ew-rounded-btn red" ng-click="vm.shouldShowAlertModal = false;">
	            	<i class="fa fa-times-circle-o right"></i>
	            	<span class="text">Close</span>
	            </div>
	            <div class="ew-rounded-btn" ng-click="vm.shouldShowAlertModal = false;vm.loginDelegate.toggleLoginModal();">
	            	<i class="fa fa-lock right"></i>
	            	<span class="text">Login</span>
	            </div>
	            <a class="ew-rounded-btn green" ng-href="{{vm.getRegisterUrl()}}">
	            	<i class="fa fa-user right"></i>
	            	<span class="text">Try Us</span>
	            </a>
	        </div>
		</div>
	</div>

	<!-- Answer Modal -->
	<div id="ans_modal_{{vm.postId}}">
		<ans-modal ans-modal-delegate="vm.ansModalDelegate" on-ans-submit="vm.onAnsSubmit(id)" que-id="vm.postId" id="vm.postId" answer-text="vm.currentEditedQAAnswer" answer-id="vm.currentEditedQAAnswerId" answer-timestamp="vm.currentEditedQAAnswerTimestamp"></ans-modal>	
	</div>

	<login-component login-delegate="vm.loginDelegate"></login-component>
</div>