<div class="admin-page admin-courselist-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="form-wrapper">
                <form class="form-horizontal" id="form">
                    <fieldset>
                        <legend>Purchased Courses</legend>

                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="usrs">Select User</label>
                            <div class="col-xs-10">
                                <ui-select multiple ng-model="vm.selectedUsers" on-select="vm.onUserChange()" on-remove="vm.onUserChange()" theme="bootstrap" limit="1" close-on-select="true">
                                    <ui-select-match placeholder="Select Users...">
								        <span>
								        	{{$item.usr_id}}
								        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.usr_id as item in (vm.allUsers | filter: $select.search) track by $index">
								        <span>
								        	{{item.usr_id}}
								        </span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>


                        <div #showButtonGroups ng-show="!showButtonGroups.hidden" class="form-group">
                                <div class="col-xs-3 col-xs-offset-2">
                                    <button  type="submit" class="form-control btn btn-primary submit"
                                             ng-disabled="vm.selectedUsers.length == 0" ng-click="addCourse.hidden = !addCourse.hidden;showButtonGroups.hidden = true;addBundle.hidden = false;addTraining.hidden = false ">Add Course</button>
                                </div>

                            <div class="col-xs-3">
                                <button  type="submit" class="form-control btn btn-primary submit"
                                         ng-disabled="vm.selectedUsers.length == 0" ng-click="addBundle.hidden = !addBundle.hidden; addCourse.hidden = false;addTraining.hidden = false;showButtonGroups.hidden = true;">Add Bundle</button>
                            </div>

                            <div class="col-xs-3">
                                <button  type="submit" class="form-control btn btn-primary submit"
                                         ng-disabled="vm.selectedUsers.length == 0" ng-click="addTraining.hidden = !addTraining.hidden;addBundle.hidden=false;addCourse.hidden=false; showButtonGroups.hidden = true;">Add Training</button>
                            </div>
                        </div>


                        <div ng-if="addCourse.hidden" #addCourse class="form-group">
                            <label class="col-xs-2 control-label" for="course">Course</label>
                            <div class="col-xs-10">
                                <select ng-model="vm.course" id="course" class="form-control"
                                        ng-options="course.courseId as course.courseName for course in vm.courselist ">
                                    <option value=""> <b>Select Course</b> </option>
                                </select>
                            </div>
                        </div>

                        <div ng-if="addBundle.hidden" #addBundle class="form-group">
                            <label class="col-xs-2 control-label" >Include Bundles</label>
                            <div class="col-xs-10">
                                <ui-select multiple ng-model="vm.form.includedBundles" theme="bootstrap" close-on-select="true">
                                    <ui-select-match placeholder="Select Bundle...">
                                        <span ng-bind="$item.bndl_nm"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.bndl_id as item in (vm.allBundle | filter: $select.search) track by $index">
                                        <span ng-bind="item.bndl_nm"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div ng-if="addTraining.hidden" #addTraining class="form-group">
                            <label class="col-xs-2 control-label">Training Name</label>
                            <div class="col-xs-10">
                                <ui-select multiple ng-model="vm.form.crs_id" theme="bootstrap" close-on-select="true" on-select="vm.changeTrainingDropdown($item, $model)" on-remove="vm.changeTrainingDropdown($item, $model)" >
                                    <ui-select-match placeholder="Select Training...">
                                        <span ng-bind="$item.courseName"></span>
                                    </ui-select-match>
                                    <ui-select-choices  repeat="course.courseId as course in (vm.coursesMaster | filter: $select.search) track by $index">
                                        <span ng-bind="course.courseName"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>


                        <div ng-show="showButtonGroups.hidden" class="form-group">
                            <div class="col-xs-5 col-xs-offset-2">
                                <button class="form-control btn btn-primary submit" ng-click="showButtonGroups.hidden = !showButtonGroups.hidden; addCourse.hidden=false;addTraining.hidden=false;addBundle.hidden=false;">Reset</button>
                            </div>
                            <div class="col-xs-5" >
                                <!-- !vm.form.courseId || !vm.form.courseName || !vm.form.courseType ||  -->
                                <button  type="submit" class="form-control btn btn-primary submit"
                                         ng-disabled="vm.form.idExistError" ng-click=" addCourse.hidden ? vm.addPurchasedCourses() : addBundle.hidden ? vm.addPurchasedBundle() : vm.addPurchasedTraining() ">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>




    </div>
</div>
<style type="text/css">
    body{
        background-color: #ecf0f1;
    }
</style>