@import "../../../assets/scss/_common_test.scss";

.menu-component-wrapper {
    .big-screen {
        display: none;

        @include breakpoint(screen_1280) {
            display: block;
        }
    }

    .small-screen {
        @include breakpoint(screen_1280) {
            display: none;
        }
    }

    .left-side-btns {
        right: 943px !important;
        border-bottom-right-radius: 5px;

        @include breakpoint(large_desktop) {
            right: 1169px !important;
        }
    }

    .header-btns {
        right: 5px;
        top: 5px;
        position: fixed;
        padding: 6px;
        z-index: 9999;
        display: none;

        // background: rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        @include breakpoint(screen_1280) {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            @include flex-direction(row);
        }


        .usr-small-profile-pic {
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .menu-head-btn {
            &:after {
                content: '|';
                margin: 0px 8px;
                color: #fff;
            }

            &:last-child {
                &:after {
                    // content: '';
               
                }
            }
        }

        .btn-wrap {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            @include flex-direction(row);
        }

        .usr_nm {
            color: white;
            border-radius: 5px;
            font-size: 12px;

            // padding: 0px 10px;
            font-weight: bold;
            cursor: pointer;
        }

        .login-btn, .register-btn {
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            text-decoration: none;

            // margin-left: 15px;
            font-weight: bold;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

            &:last-child {
                border: 0px;
            }

            i {
                color: #fff;
                margin: 0px 3px;
            }
        }
    }

    .mobile-header-btns {
        right: 0px;
        top: 0px;
        position: fixed;
        padding: 6px;
        z-index: 9999;
        height: 50px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);

        @include breakpoint(screen_1280) {
            display: none;
        }


        .btn-wrap {
            background: lighten(#2E4966, 10%);
            position: fixed;
            top: 60px;
            right: 0px;
            bottom: 0px;
            width: 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            box-shadow: 0px 0px 10px 0px #000;
            overflow-y: auto;

            @include display(flex);

            @include justify-content(flex-start);

            @include flex-direction(column);

            @include transition(all 0.2s ease-in);

            &.ew-open {
                width: 320px;
            }
        }

        .login-btn, .register-btn {
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            font-family: "Roboto","Nunito",Helvetica,Arial,sans-serif;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            // border-bottom: 1px solid #ccc;
            padding: 25px;
            font: 400 20px/1.5em "Roboto",sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            white-space: nowrap;

            &:last-child {
                border: 0px;
            }

            i {
                color: #fff;
                margin-right: 5px;
            }
        }

        .modal-close-btn {
            color: #222;
            padding: 10px;
            font-size: 15px;
            cursor: pointer;
            text-decoration: none;
            height: 50px;
            font-family: "Roboto","Nunito",Helvetica,Arial,sans-serif;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            i {
                margin-right: 5px;
            }
        }
    }

    .notification-btn {
        position: relative;
    }

    .notification-cnt {
        border-radius: 50%;
        padding: 0px 5px;
        background: white;
        color: #444;
        position: absolute;
        top: -6px;
        right: 14px;
        font-size: 10px;
    }

    .notification-modal {
        position: absolute;
        font-family: 'nunito',sans-serif;
        background: white;
        border-radius: 5px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
        width: 400px;
        left: -150px;
        top: 35px;

        &:before {
            content: '';
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            top: -10px;
            left: 200px;
        }

        &.dark-blue {
            background: #3e6289;
            color: white;

            &:before {
                content: '';
                border-bottom: 10px solid #3e6289;
            }

            .ew-modal-footer {
                .see-all {
                    color: #fff;
                }
            }
        }

        a {
            text-decoration: none;
        }

        .ew-modal-title {
            font-size: 15px;
            padding: 10px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            .text {
                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }

            i {
                padding: 0px 5px;
                cursor: pointer;
            }
        }

        .ew-modal-subheader {
            .ew-tabs {
                border-top: 1px solid rgba(0, 0, 0, 0.3);

                @include display(flex);

                @include align-items(center);

                @include flex-direction(row);

                .ew-tab {
                    font-family: 'nunito',sans-serif;
                    text-align: center;
                    padding: 5px;
                    cursor: pointer;

                    @include flex(1);

                    &.active {
                        background-color: #f4f4f4;
                        color: #222;
                    }
                }
            }
        }

        .ew-modal-content {
            max-height: 300px;
            overflow: auto;
            overflow-x: hidden;
            background: #f4f4f4;
            min-height: 300px;

            &.white {
                background: white;
                color: #222;
            }
        }

        .no-notification {
            text-align: center;
            font-size: 19px;
            padding: 10px;
        }

        .notification {
            padding: 10px;
            border-bottom: 1px solid #e5e5e5;
            position: relative;
            text-decoration: none;
            display: block;

            &.unread {
                background: #e8f4fa;
            }

            &:hover {
                .mark-as-read-icon {
                    display: block;
                }
            }

            &.smenu-links {
                color: #fff;
                cursor: initial;
                text-decoration: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding: 25px;
                font: 400 20px/1.5em "Roboto",sans-serif;
                text-transform: uppercase;
                white-space: nowrap;
                background: #3e6289;

                a {
                    color: white;
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }
                }

                .notification-sub {
                    font-size: inherit;
                    color: white;
                    cursor: initial;
                }

                .notification-msg {
                    color: #fff;
                }
            }

            .notification-sub {
                font-size: 18px;
                color: lighten(#1d99d1, 10%);
                display: block;
                cursor: pointer;

                i {
                    margin-right: 10px;
                    min-width: 20px;
                }
            }

            .user-pic {
                img {
                    width: 50px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
            }

            .notification-msg {
                font-size: 14px;
                color: #222;
            }

            .notification-time {
                font-size: 10px;
                color: #777;

                @include display(flex);

                @include align-items(center);

                @include flex-direction(row);

                @include justify-content(space-between);
            }

            .mark-as-read-icon {
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    color: #1d99d1;
                }
            }
        }

        .ew-modal-footer {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .see-all {
                color: #1d99d1;
                text-align: center;
                display: block;
                padding: 10px;
                font-size: 16px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }

    .notification-modal.contactus-modal {
        left: -200px;
        width: 260px;

        &:before {
            left: 200px;
        }

        .ew-modal-content {
            max-height: 600px;
            min-height: auto;
        }

        .smenu-links {
            padding: 10px 20px;
            font-size: 18px;
        }
    }

    .menu-modal-component {
        margin: 0px auto;
        position: fixed;
        z-index: 100000000000;
        top: 80px;
        right: 0px;
        width: 0px;
        bottom: 0px;

        // min-width: 0px;
        background: white;
        color: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: nowrap;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 0px;
        background: lighten(#2E4966, 35%);
        overflow-y: scroll;

        // display: none;

        &.ew-open {
            // min-width: 1000px;
            width: 90%;
        }

        @include breakpoint(screen_1280) {
            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(space-around);

            @include flex-direction(row);

            @include transition(0.3s all ease-in);
        }


        .modal-close-btn {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 20px;
            cursor: pointer;
        }

        .menu-head {
            padding: 17px;
            background: lighten(#2E4966, 10%);
            font-size: 20px;

            // font-weight: bold;

            // font-family: waverly;
            text-align: center;

            // border-right: 1px solid lighten(#2E4966, 5%);
            border-bottom: 1px solid #ccc;
            color: white;
            position: relative;
        }

        .close-icon {
            position: absolute;
            right: 10px;
            top: 17px;
            cursor: pointer;
        }

        .menu-foot {
            background: darken(#2E4966, 10%);
            cursor: pointer;

            // height: 60px;
            i {
                margin-right: 5px;
            }
        }

        .menu-part {
            width: 50%;
            height: 100%;

            @include display(flex);

            @include flex-direction(column);

            // background: #eee;

            &.left {
                border-right: 1px solid #ccc;
            }
        }

        ul {
            list-style: none;

            // font-family: 'aller', sans-serif;
            font-size: 15px;
            text-align: left;
            padding: 0px;
            overflow: auto;
            height: 380px;

            @include flex(1);
        }

        .left {
            li {
                padding: 10px;
                margin: 0px;
            }
        }

        li {
            margin: 10px 0px;
            cursor: pointer;

            // font-weight: bold;
            text-transform: uppercase;

            a {
                text-decoration: none;
                color: #fff;
                display: block;

                &.white {
                    color: #fff;
                }
            }

            i {
                margin-right: 15px;
            }

            .li-title {
                margin: 10px;
            }

            .hidden-menu {
                padding: 10px;

                // display: none;
                margin: 10px 0px;
                background: #3e6289;
                color: white;

                .item {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 240px;
                    font-size: 12px;
                    margin: 5px 0px;
                    color: white;

                    @include breakpoint(large_desktop) {
                        max-width: 300px;
                    }
                }
            }
        }
    }

    .menu-small-screen {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 9999;

        .ew-tabs {
            width: 100%;
            box-shadow: -1px -1px 2px #444;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .ew-tab {
                padding: 10px 10px;
                background-color: white;
                color: #222;
                border-right: 1px solid #ccc;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;
                font-size: 13px;

                &.active {
                    box-shadow: inset 0px 0px 10px #ccc;
                }

                @include flex(1);
            }
        }

        .ew-tab-content-wrapper {
            overflow: hidden;
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 43px;
            height: 0px;
            background-color: #e5e5e5;

            @include transition(all 0.2s ease-in);

            &.ew-open {
                height: calc(100vh - 43px);
            }

            .close-btn {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 20px;
                padding: 10px;
                color: #222;
                z-index: 1;
            }
        }

        .ew-tab-content {
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            overflow: auto;
            padding: 5px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            .hidden-menu {
                // display: none
           
            }

            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
                font-size: 20px;
                width: 100%;
                font-family: 'Roboto Condensed','Aller';

                li {
                    padding: 0px 20px;

                    @include display(flex);

                    @include align-items(center);

                    a {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        display: inline-block;
                        color: #222;
                    }
                }

                i {
                    margin-right: 10px;
                    width: 30px;
                    display: inline-block;
                }
            }
        }
    }

    .all-links-modal-wrapper {
        position: fixed;
        overflow: auto;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 10000;
        height: 0px;
        background: rgba(0, 0, 0, 0.2);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include transition(all 0.2s ease-in);

        &.ds-open {
            height: 100vh;
        }

        .all-links-modal-content {
            background: white;
            max-width: 960px;
            padding: 10px;
            border-radius: 5px;
            position: relative;

            @include display(flex);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);

            .close-btn {
                position: absolute;
                right: 5px;
                top: 5px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 50%;
                cursor: pointer;
                padding: 0px 8px;
            }
        }

        .cat {
            margin: 10px;

            .cat-name {
                font-family: 'roboto',sans-serif;
                font-size: 17px;
                color: #222;
                border-bottom: 1px solid #e5e5e5;
                padding: 10px;
            }

            .links {
                padding: 10px;

                a {
                    text-decoration: none;
                    padding: 5px 0px;
                    font-size: 15px;
                    font-family: 'roboto',sans-serif;
                    display: inline-block;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .subscribe-modal {
        & {
            width: 500px;
            position: fixed;
            left: 50%;
            margin-left: -250px;
            top: 50%;
            margin-top: -100px;
            border-radius: 5px;
            z-index: 10000;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
            padding: 15px;
            z-index: 100000000000;
        }

        &.open {
            @include display(flex);

            @include flex-direction(column);
        }

        .subscribe-close-btn {
            position: absolute;
            top: 5px;
            right: 15px;
            color: white;
            font-size: 18px;
            cursor: pointer;
        }

        .subscribe-title {
            text-align: center;
            margin: 5px 0px;
            padding: 5px;
            font-family: 'nunito',sans-serif;
            font-size: 16px;
            color: white;
        }

        .subscribe-input input {
            height: 40px;
            border: 1px solid #f4f4f4;
            border-radius: 5px;
            margin: 5px 0px;
            padding: 5px;
            font-family: 'nunito',sans-serif;
            font-size: 16px;
            width: 100%;
            outline: none;
            box-shadow: 0px 0px 0px;
        }

        .input-error-msg {
            color: red;
            font-family: 'nunito',sans-serif;
            font-size: 12px;
        }

        .subscribe-input input.error {
            border: 1px solid #f00;
        }

        .subscribe-btn i {
            padding: 5px 10px;
            border-right: 1px solid #177aa7;
            line-height: 25px;
            padding-left: 0px;
            margin-right: 5px;
        }

        .subscribe-btn {
            background-color: #1d99d1;

            // border-radius: 5px;
            color: white;
            font-family: 'nunito',sans-serif;
            font-size: 16px;
            text-align: center;
            margin: 5px 0px;
            cursor: pointer;
            display: inline-block;
            padding: 0px 10px;
            align-self: flex-end;
            float: right;
        }

        .subscribe-btn.ew-close {
            background-color: #EC644B;
            float: left;
        }

        .subscribe-btn.ew-close i {
            border-right: 1px solid #8d3c2d;
        }

        .success-msg {
            background: green;
        }

        .error-msg {
            background: #EC644B;
        }

        .success-msg, .error-msg {
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-family: 'nunito';
            font-size: 17px;
            margin: 10px 0px;
        }
    }

    .chat_fixed_toggle {
        opacity: 0 !important;
    }

    .chat_fixed {
        position: fixed;
        bottom: 0;
        right: 2%;
        background-color: rgba(23, 120, 164, 0.7);
        padding: 8px;
        cursor: pointer;
        border-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 9900;

        i {
            color: white;
            font-size: 25px;
        }
    }
}