<div class="menu-component-wrapper">
	<div class="header-btns" ng-if="vm.showHeaderButtons === true">
		<div class="btn-wrap">
			<div class="notification-btn menu-head-btn" data-capture-document-click="false" ng-if="vm.isUserLoggedIn()">
				<a class="login-btn" style="text-decoration: none;" ng-click="vm.toggleUserMenuModal()">
					<img class="usr-small-profile-pic" ng-src="{{vm.getUserPic()}}" ng-if="vm.getUserPic()" alt=""/>
					<img class="usr-small-profile-pic" src="../../../assets/images/dummy-user-pic.png" ng-if="!vm.getUserPic()" alt=""/>{{vm.getUser()['dsp_nm']}} 
				</a>
				<div class="notification-modal" style="width: 250px;" ng-show="vm.showUserMenuModal">
					<div class="ew-modal-content" style="max-height: 600px;min-height: auto;border-top-right-radius: 5px;border-top-left-radius: 5px;">
						<div class="notification smenu-links">
							<div class="notification-sub user-pic">
								<a ng-href="{{vm.getDashboardUrl()}}">
									<i class="fa fa-dashcube"></i>
									Dashboard
								</a>
							</div>
						</div>
						<div class="notification smenu-links">
							<div class="notification-sub">
								<a ng-click="vm.toggleChatModal()"><i class="fa fa-comment-o"></i> Chat</a>
							</div>
						</div>						
						<div class="notification smenu-links">
							<div class="notification-sub logout">
								<a ng-click="vm.goToLogout()"><i class="fa fa-sign-out"></i> Logout</a>
							</div>
						</div>	
					</div>
					<div class="ew-modal-footer">
						<a class="see-all" style="cursor: pointer;" ng-click="vm.toggleUserMenuModal()"><img src="../../../assets/images/red-apple.png" alt=""/>Close</a>
					</div>
				</div>
			</div>
			<div class="notification-btn menu-head-btn"  data-capture-document-click="false">
				<a class="login-btn" style="text-decoration: none;" ng-click="vm.toggleSmallMenuModal()"><i class="fa fa-list"></i> SMENU </a>
				<div class="notification-modal"  style="width: 250px;" ng-show="vm.showSmallMenuModal">
					<div class="ew-modal-content" style="max-height: 600px;min-height: auto;border-top-right-radius: 5px;border-top-left-radius: 5px;">
						<div class="notification smenu-links" ng-if="!vm.isUserLoggedIn()" ng-show="vm.showLoginButtons === true">
							<div class="notification-sub">
								<a ng-click="vm.menuDelegate.loginDelegate.toggleLoginModal()"><i class="fa fa-lock"></i> Login</a>
							</div>
						</div>
						<div class="notification smenu-links" ng-if="!vm.isUserLoggedIn()" ng-show="vm.showLoginButtons === true">
							<div class="notification-sub">
								<a ng-click="vm.goToRegister()"><i class="fa fa-user"></i> Sign Up</a>
							</div>
						</div>
						<div class="notification smenu-links">
							<div class="notification-sub">
								<a href="/buy/"><i class="fa fa-credit-card"></i> Pricing</a>
							</div>
						</div>
						<div class="notification smenu-links" ng-if="vm.isUserLoggedIn()">
							<div class="notification-sub">
								<a ng-click="vm.toggleChatModal()"><i class="fa fa-comment-o"></i> Chat</a>
							</div>
						</div>
						<div class="notification smenu-links">
							<div class="notification-sub">
								<a target="_blank" href="/sitemap"><i class="fa fa-list"></i>All Links</a>
							</div>
						</div>
					</div>
					<div class="ew-modal-footer">
						<a class="see-all" style="cursor: pointer;" ng-click="vm.toggleSmallMenuModal()"><img src="../../../assets/images/red-apple.png" alt=""/>Close</a>
					</div>
				</div>
			</div>
			<div class="notification-btn menu-head-btn" ng-if="vm.isUserLoggedIn()" data-capture-document-click="false">
				<a class="login-btn" style="text-decoration: none;"  ng-click="vm.toggleNotificationModal()"><i class="fa fa-bell"></i> Notifications 
					<span class="notification-cnt" ng-if="vm.notificaionCount > 0">{{vm.notificaionCount}}</span></a>
				<div class="notification-modal dark-blue" ng-show="vm.showNotificationModal">
					<div class="ew-modal-title">
						<span class="text">
							<img src="../../../assets/images/green-apple.png" alt="">
							Notifications
						</span>
						<i class="fa fa-refresh" ng-click="vm.getNotificationByUserId();vm.getSendNotificationCount()"></i>
					</div>
					<div class="ew-modal-subheader">
						<div class="ew-tabs">
							<div class="ew-tab" ng-class="{'active':vm.activeNotificationTab === 'web'}">Web</div>
							<div class="ew-tab"  ng-class="{'active':vm.activeNotificationTab === 'qa'}">QA</div>
							<div class="ew-tab" ng-class="{'active':vm.activeNotificationTab === 'cb'}">CB</div>
						</div>
					</div>
					<div class="ew-modal-content white">
						<div class="no-notification" ng-if="!vm.allNotifications || vm.allNotifications.length <= 0">
							No Notifications to show.
						</div>
						<div ng-repeat="noti in vm.allNotifications | orderBy:'snd_dt':true">
							<div class="notification" ng-class="{'unread':!noti.noti_read}">
								<a class="notification-sub" ng-href="{{vm.getSpecificNotificationPageUrl(false,vm.getUserId(),noti.usr_noti_pk)}}">{{noti.sub}}</a>
								<div class="notification-msg">{{noti.noti_msg}}</div>
								<div class="notification-time">
									{{noti.snd_dt | date:'dd-MMM-yy hh:mm'}}
									<div class="mark-as-read-icon" ng-if="!noti.noti_read" ng-click="vm.markSendNotificationAsRead($event,noti.usr_noti_pk)" tooltips tooltip-template="Mark as read">
										<i class="fa fa-check-square"></i>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="ew-modal-footer">
						<a class="see-all" ng-if="vm.allNotifications && vm.allNotifications.length > 0" ng-href="{{vm.getNotificationsPageUrl(false,vm.getUserId())}}"><img src="../../../assets/images/green-apple.png" alt="">See All</a>
						<a class="see-all" style="cursor: pointer;" ng-click="vm.toggleNotificationModal()"><img src="../../../assets/images/red-apple.png" alt="">Close</a>
					</div>
				</div>
			</div>
			<div class="notification-btn menu-head-btn" data-capture-document-click="false">
				<a class="login-btn" style="text-decoration: none;"  ng-click="vm.toggleContactUsModal()"><i class="fa fa-phone"></i> Contact US </a>
				<div class="notification-modal contactus-modal"  ng-show="vm.showContactUsModal">
					<div class="ew-modal-content" style="min-height: auto;border-top-right-radius: 5px;border-top-left-radius: 5px;">
						<div class="notification smenu-links">
							<div class="notification-sub">Phone</div>
							<div class="notification-msg">{{vm.contactusDetails.ph}}</div>
						</div>
						<div class="notification smenu-links">
							<div class="notification-sub">Support</div>
							<div class="notification-msg">{{vm.contactusDetails.support}}</div>
						</div>
						<div class="notification smenu-links">
							<div class="notification-sub">Sales</div>
							<div class="notification-msg">{{vm.contactusDetails.sales}}</div>
						</div>
					</div>
					<div class="ew-modal-footer">
						<a class="see-all" target="_blank" href="/contactus">
							<img src="../../../assets/images/green-apple.png" alt=""/>
							Message
						</a>
						<a class="see-all" style="cursor: pointer;" target="_blank" ng-click="vm.toggleContactUsModal()">
							<img src="../../../assets/images/red-apple.png" alt=""/>
							Close
						</a>
					</div>
				</div>
			</div>
			<!-- <a class="register-btn menu-head-btn" href="/contactus"><i class="fa fa-phone"></i> Contact Us</a> -->
		</div>
		<a class="login-btn modal-close-btn" ng-click="vm.menuDelegate.toggleMenuModal($event)">
			<i class="fa" ng-class="{'fa-bars':!vm.isMenuModalOpen,'fa-times':vm.isMenuModalOpen}"></i> Menu
		</a>
	</div>

	<div class="mobile-header-btns">
		<div class="btn-wrap" ng-class="{'ew-open':vm.isMenuModalOpen}">
			<a class="login-btn" ng-href="{{vm.getDashboardUrl()}}" ng-if="vm.isUserLoggedIn()">Welcome, {{vm.getUser()['dsp_nm']}}</a>
			<a class="register-btn" ng-if="!vm.isUserLoggedIn()" ng-show="vm.showLoginButtons === true" ng-click="vm.menuDelegate.loginDelegate.toggleLoginModal()"><i class="fa fa-lock"></i> Login</a>
			<a class="login-btn"  ng-if="!vm.isUserLoggedIn()" ng-show="vm.showLoginButtons === true" ng-click="vm.goToRegister()"><i class="fa fa-user"></i> Sign Up</a>
			<a class="login-btn logout" ng-if="vm.isUserLoggedIn()" ng-click="vm.goToLogout()"><i class="fa fa-sign-out"></i> Logout</a>
			<a class="register-btn" href="/sitemap"><i class="fa fa-rocket"></i> All Links</a>
			<a class="register-btn" href="/buy/"><i class="fa fa-lock"></i> Pricing</a>
			<a class="register-btn" href="/contactus"><i class="fa fa-phone"></i> Contact Us</a>
			<a class="register-btn" ng-href="{{vm.trainingURL('it')}}"><i class="fa fa-list"></i> IT COURSES</a>
			<a class="register-btn" ng-href="{{vm.getDashboardUrl()}}"><i class="fa fa-dashcube"></i> Dashboard</a>
			<a class="register-btn" ng-href="{{vm.getQAUrl()}}"><i class="fa fa-question-circle"></i> Q&A</a>
			<a class="register-btn" ng-href="{{vm.getNotificationsPageUrl(false,vm.getUserId())}}"><i class="fa fa-bell"></i> Notifications</a>
		</div>
		<a class="modal-close-btn" ng-click="vm.toggleMenuModal($event)" ng-if="vm.showHeaderButtons === true">
			<i class="fa" ng-class="{'fa-bars':!vm.isMenuModalOpen,'fa-times':vm.isMenuModalOpen}"></i>Menu
		</a>
	</div>
	<login-component login-delegate="vm.menuDelegate.loginDelegate"></login-component>

	<div class="big-screen">
		<div class="menu-modal-component" id="menu-modal" ng-class="{'ew-open':vm.isMenuModalOpen}">
			<div class="menu-part left">
				<div class="menu-head">
					<i class="fa fa-sitemap"></i>
					Menu
				</div>
				<ul>
					<li>
						<a href="/">
							<i class="fa fa-home"></i>
							<span>Home</span>
						</a>
					</li>
					<li><a href="/sitemap"><i class="fa fa-home"></i> All Links</a></li>
					<li ng-click="vm.goToLogin()" ng-if="!vm.isUserLoggedIn()">
						<i class="fa fa-lock"></i>
						<span>Login</span>
					</li>
					<li ng-click="vm.goToLogout()" class="logout" ng-if="vm.isUserLoggedIn()">
						<i class="fa fa-sign-out"></i>
						<span>Logout</span>
					</li>
					<li ng-click="vm.goToChangePassword()" ng-if="vm.isUserLoggedIn()">
						<i class="fa fa-pencil"></i>
						<span>Change Password</span>
					</li>
					<li ng-click="vm.goToForgotPassword()" ng-if="!vm.isUserLoggedIn()">
						<i class="fa fa-pencil"></i>
						<span>Forgot Password</span>
					</li>
					<li ng-click="vm.goToAdminApp()">
						<i class="fa fa-user-secret"></i>
						<span>Admin</span>
					</li>
					<li ng-click="vm.goToDashboardApp()">
						<i class="fa fa-dashcube"></i>
						<span>Dashboard</span>
					</li>
					<li>
						<a href="/all-links"><i class="fa fa-dashcube"></i><span>All Links</span></a>
					</li>
				</ul>
				<div class="menu-head menu-foot" ng-click="vm.goToURL('/question-answers')"><i class="fa fa-sitemap"></i>Q & A</div>
			</div>
			<div class="menu-part left">
				<div class="menu-head">
					<i class="fa fa-tasks"></i>
					Menu
				</div>
				<ul>
					<li ng-click="vm.goToURL('/dashboard/performance')">
						<i class="fa fa-user-secret"></i>
						<span>Performace</span>
					</li>
					<li ng-click="vm.goToURL('/dashboard/user-courses')">
						<span>
							<i class="fa fa-list"></i>
							<span>My Courses</span>
						</span>
					</li>
					<li ng-click="vm.goToURL('/books')">
						<i class="fa fa-book"></i>
						<span>Books</span>
					</li>
					<li ng-click="vm.goToURL('/question-answers')">
						<i class="fa fa-users"></i>
						<span>Q & A</span>
					</li>
					<li>
						<a ng-href="{{vm.getUserProfileUrl()}}">
							<i class="fa fa-gear"></i>
							<span>User Profile</span>
						</a>
					</li>
					<li ng-click="vm.goToURL('/dashboardApp/tests')">
						<i class="fa fa-dashcube"></i>
						<span>Tests</span>
					</li>
					<li ng-click="vm.goToCareerBook()">
						<i class="fa fa-user"></i>
						<span>Career Book</span>
					</li>
					<li ng-click="vm.goToURL('/dashboard/user-highlights')">
						<i class="fa fa-pencil"></i>
						<span>Highlights</span>
					</li>
				</ul>
				<div class="menu-head menu-foot" ng-click="vm.goToCareerBook()"><i class="fa fa-tasks"></i>CareerBook</div>
			</div>
			<div class="menu-part left">
				<div class="menu-head">
					<i class="fa fa-tasks"></i>
					IT Courses
				</div>
				<ul>
					<li ng-repeat="course in vm.courses track by $index" ng-if="course.courseType == 'it' && $index < 5">
						<a class="item white" ng-href="{{vm.trainingCourseURL('it',course.courseId,course.courseSubGroup)}}" >{{course.courseName}}</a>
					</li>
					<li>
						<a class="item white" style="text-align: right;" ng-href="{{vm.trainingURL('it')}}" >All IT Courses <i class="fa fa-arrow-right"></i></a>
					</li>
				</ul>
				<div class="menu-head menu-foot" ng-click="vm.goToURL('/books')"><i class="fa fa-tasks"></i>Books</div>
			</div>
			<div class="menu-part right">
				<div class="menu-head">
					<i class="fa fa-tags"></i>
					Courses
					<div class="close-icon">
						<i class="fa fa-times" ng-click="vm.menuDelegate.toggleMenuModal()"></i>
					</div>
				</div>
				<ul>
					<li ng-click="vm.openSubscribeModal('Board','Board')">
						<span class="li-title" >
							<i class="fa fa-list-alt"></i>
							<span>Board Courses</span>
						</span>
						<!-- <div class="hidden-menu">
							<a class="item" ng-href="{{vm.trainingCourseURL('board',course.courseId,course.courseSubGroup)}}"  ng-if="course.courseType == 'board'" ng-repeat="course in vm.courses track by $index">{{course.courseName}}</a>
							<a class="item white" style="text-align: right;" ng-href="{{vm.trainingURL('board')}}" >All Board Courses <i class="fa fa-arrow-right"></i></a>
						</div> -->
					</li>
					<li ng-click="vm.openSubscribeModal('Competitive','Competitive')">
						<span class="li-title" >
							<i class="fa fa-th-large"></i>
							<span>Competitive Courses</span>
						</span>
						<!-- <div class="hidden-menu">
							<a class="item" ng-href="{{vm.trainingCourseURL('competitive',course.courseId,course.courseSubGroup)}}"  ng-if="course.courseType == 'competitive'" ng-repeat="course in vm.courses track by $index">{{course.courseName}}</a>
							<a class="item white" style="text-align: right;" ng-href="{{vm.trainingURL('competitive')}}" >All Competitive Courses <i class="fa fa-arrow-right"></i></a>
						</div> -->
					</li>
				</ul>
				<div class="menu-head menu-foot" ng-click="vm.goToURL('/dashboard/performance')"><i class="fa fa-tags"></i>Performace</div>
			</div>
		</div>
	</div>
	
	<div class="menu-small-screen small-screen" ng-if="false">
		<div class="ew-tabs">
			<div class="ew-tab" ng-class="{'active':vm.smallScreenActiveTab==='tab1'}" ng-click="vm.toggleSmallScreenTab('tab1');">Login Links</div>
			<div class="ew-tab" ng-class="{'active':vm.smallScreenActiveTab==='tab2'}" ng-click="vm.toggleSmallScreenTab('tab2');">Dashboard</div>
			<div class="ew-tab" ng-class="{'active':vm.smallScreenActiveTab==='tab3'}" ng-click="vm.toggleSmallScreenTab('tab3');">IT Course</div>
			<div class="ew-tab" ng-class="{'active':vm.smallScreenActiveTab==='tab4'}" ng-click="vm.toggleSmallScreenTab('tab4');">All Course</div>
		</div>
		<div class="ew-tab-content-wrapper">
			<div class="close-btn" ng-click="vm.closeSmallScreenTab()">
				<i class="fa fa-times"></i>
			</div>
			<!-- Tab 1 -->
			<div class="ew-tab-content" ng-if="vm.smallScreenActiveTab === 'tab1'">
				<ul>
					<li ng-click="vm.goToLogin()" ng-if="!vm.isUserLoggedIn()">
						<i class="fa fa-lock"></i>
						<span>Login</span>
					</li>
					<li ng-click="vm.goToLogout()" class="logout" ng-if="vm.isUserLoggedIn()">
						<i class="fa fa-sign-out"></i>
						<span>Logout</span>
					</li>
					<li ng-click="vm.goToChangePassword()" ng-if="vm.isUserLoggedIn()">
						<i class="fa fa-pencil"></i>
						<span>Change Password</span>
					</li>
					<li ng-click="vm.goToForgotPassword()" ng-if="!vm.isUserLoggedIn()">
						<i class="fa fa-pencil"></i>
						<span>Forgot Password</span>
					</li>
					<li ng-click="vm.goToAdminApp()" ng-if="vm.isUserLoggedIn()">
						<i class="fa fa-user-secret"></i>
						<span>Admin</span>
					</li>
				</ul>
			</div>
			<!-- Tab 2 -->
			<div class="ew-tab-content" ng-if="vm.smallScreenActiveTab === 'tab2'">
				<ul>
					<li ng-click="vm.goToURL('/dashboard/performance')">
						<i class="fa fa-user-secret"></i>
						<span>Performace</span>
					</li>
					<li ng-click="vm.toggleHiddenMenu($event)">
						<span>
							<i class="fa fa-list"></i>
							<span>My Courses</span>
						</span>
						<div class="hidden-menu">
							<a class="item" ng-href="/courses/{{course.courseType}}/{{course.courseId}}" ng-repeat="course in vm.myCourses">{{course.courseName}}</a>
						</div>
					</li>
					<li ng-click="vm.goToURL('/books')">
						<i class="fa fa-book"></i>
						<span>Books</span>
					</li>
					<li ng-click="vm.goToURL('/question-answers')">
						<i class="fa fa-users"></i>
						<span>Q & A</span>
					</li>
					<li>
						<a ng-href="{{vm.getUserProfileUrl()}}">
							<i class="fa fa-gear"></i>
							<span>User Profile</span>
						</a>
					</li>
					<li ng-click="vm.goToURL('/dashboardApp/tests')">
						<i class="fa fa-dashcube"></i>
						<span>Tests</span>
					</li>
					<li ng-click="vm.goToCareerBook()">
						<i class="fa fa-user"></i>
						<span>Career Book</span>
					</li>
					<li ng-click="vm.goToURL('/dashboard/user-highlights')">
						<i class="fa fa-pencil"></i>
						<span>Highlights</span>
					</li>
				</ul>
			</div>
			<!-- Tab 3 -->
			<div class="ew-tab-content" ng-if="vm.smallScreenActiveTab === 'tab3'">
				<ul >
					<li ng-repeat="course in vm.courses track by $index">
						<a class="item white" ng-href="/courses/it/{{course.courseId}}" ng-if="course.courseType == 'it' && $index < 5">
							<i class="fa fa-book"></i>{{course.courseName}}
						</a>
					</li>
					<li>
						<a class="item white" style="text-align: right;" ng-href="/courses/it" >All IT Courses <i class="fa fa-arrow-right"></i></a>
					</li>
				</ul>
			</div>
			<!-- Tab 4 -->
			<div class="ew-tab-content" ng-if="vm.smallScreenActiveTab === 'tab4'">
				<ul>
					<li ng-click="vm.toggleHiddenMenu($event)">
						<div>
							<span class="li-title" style="border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-bottom: 10px;display: inline-block;">
								<i class="fa fa-list-alt"></i>
								<span>Board Courses</span>
							</span>
							<div class="hidden-menu" style="font-size: 15px;">
								<!-- <a class="item white" ng-href="/courses/it/{{course.courseId}}" ng-if="course.courseType == 'it' && $index < 5" ng-repeat="course in vm.courses">
									<i class="fa fa-book"></i>{{course.courseName}}
								</a> -->
								<a class="item" ng-href="/courses/board/{{course.courseId}}"  ng-if="course.courseType == 'board'" ng-repeat="course in vm.courses">{{course.courseName}}</a>
							</div>	
						</div>
					</li>
					<li ng-click="vm.toggleHiddenMenu($event)">
						<div>
							<span class="li-title" style="border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-bottom: 10px;display: inline-block;">
								<i class="fa fa-th-large"></i>
								<span>Competitive Courses</span>
							</span>
							<div class="hidden-menu" style="font-size: 15px;">
								<a class="item" ng-href="/courses/competitive/{{course.courseId}}"  ng-if="course.courseType == 'competitive'" ng-repeat="course in vm.courses">{{course.courseName}}</a>
							</div>	
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="all-links-modal-wrapper" ng-class="{'ds-open':vm.shouldShowAllLinksModal}">
		<div class="all-links-modal-content">
			<div class="close-btn" ng-click="vm.closeAllLinks()">
				<i class="fa fa-times"></i>
			</div>
			<div class="cat" ng-repeat="(cat,links) in vm.allLinks">
				<div class="cat-name">
					{{cat}}	
				</div>
				<div class="links">
					<div ng-repeat="link in links">
						<a ng-href="{{link.link_url}}">{{link.link_title}}</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="subscribe-modal" ng-class="{'open':vm.shouldShowSubscribeModal}">
		<div class="subscribe-close-btn" ng-click="vm.closeSubscribeModal()">
			<i class="fa fa-times"></i>
		</div>
		<div class="subscribe-title">
			{{vm.subscribeTitle}}
		</div>
		<div class="subscribe-input" ng-if="!vm.showSuccessMsg">
			<input type="text" id="subscribe-tf" ng-class="{'error':vm.showInputErrorMsg}" ng-model="vm.subscribeInput" ng-change="vm.validateInputField()" placeholder="Email Address Here">
			<div class="input-error-msg" ng-if="vm.showInputErrorMsg">*Please Enter valid Email Address</div>
		</div>
		<div class="subscribe-btn-wrapper">
			<div class="ew-rounded-btn subscribe-btn ew-close" ng-if="!vm.showSuccessMsg" ng-click="vm.closeSubscribeModal()">
				<i class="fa fa-times"></i>
				<span>Cancel</span>
			</div>	
			<div class="ew-rounded-btn subscribe-btn" ng-click="vm.subscribeUser()" ng-if="!vm.showSuccessMsg">
				<i class="fa fa-envelope"></i>
				<span>Subscribe</span>
			</div>
		</div>
		
		<div class="alert alert-success success-msg" ng-if="vm.showSuccessMsg">
			Thank you for subscribption.
		</div>

		<div class="alert alert-danger error-msg" ng-if="vm.showErrorMsg">
			Some Error occured.
		</div>
	</div>
	<chat show-chat-component="vm.shouldShowChatComponent"></chat>
	<!-- Chat Module will be added dynamicall here -->
	<div class="chat_fixed" ng-if="vm.isUserLoggedIn()" ng-click="vm.shouldShowChatComponent = !vm.shouldShowChatComponent;">
		<i class="fa fa-comment-o"></i>
	</div>
</div>

