<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" ng-submit="vm.updateTopic()">
					<fieldset>
						<legend>Add Topic</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="subject">Subject<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<select ng-model="vm.subjectId" ng-change="vm.changeSubject()" id="subject" class="form-control"
									ng-options="subject.subjectId as subject.subjectName for subject in vm.subjectList ">
									<option value=""> <b>Select Subject</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topicId">Topic Id<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="topicId" class="form-control" placeholder="Id" ng-model="vm.form.topicId" ng-change="vm.checkValidityOfID()" required="" />
							</div>
						
						</div>
						<div class="alert alert-danger" ng-if="vm.idExists">
								Topic Id exists
							</div>
							<div class="form-group">
							<label class="col-sm-2 control-label" for="topicNumber">Topic Number<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="topicNumber" class="form-control" placeholder="Topic Number" ng-model="vm.form.topicNumber" readonly="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topicname">Topic Name<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="topicname" class="form-control" placeholder="Name" ng-model="vm.form.topicName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topicDifficulty">Difficulty level</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.form.topicDifficulty" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Difficulty...">
								        <span ng-bind="$item.title"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item as item in (vm.difficultyLevel | filter: $select.search) track by $index">
								        <span ng-bind="item.title"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topicdesc">Description</label>
							<div class="col-sm-10">
								<textarea id="topicdesc" class="form-control" placeholder="Description" ng-model="vm.form.topicDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Topic</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" type="submit" ng-disabled="vm.idExists">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchTopics()" ng-if="!vm.topics || vm.topics.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isTopicsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isTopicsLoading"></i>
				<span class="text">Show Topics</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.topics">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.topics">
				<uib-accordion close-others="false" ng-repeat="topic in vm.topics">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeTopic(topic.topicId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editTopic(topic.topicId)"><i class="fa fa-pencil"></i></span>
								{{topic.topicNumber}} - {{topic.topicName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in topic">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreTopics()" ng-if="(vm.topics==[] || vm.topics.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isTopicsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isTopicsLoading"></i>
				<span class="text">More</span>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>