.comment-section{ 
	padding:30px 10px;
	h5{ color:#222222; font-size:16px; margin:0 0 20px; }
	.profile-pic{
		float: left;
		height: 32px;
		width: 32px;
	}

	.comment-field {
	  &.comment-simplebox{
	   form{ margin-bottom:13px; }
	  }
	 }
	.comment-area{

		padding-left:60px;
		position: relative;
		.arrow{
			background:url(/assets/images/text-area.png) 0 0 no-repeat;
			position:absolute;
			top:12px;
			left:50px;
			width:15px;
			height:20px;
		}
		textarea{ 
			width:100%; 
			min-height:50px; 
			resize:none;
			overflow-x: hidden;
			border:1px solid hsl(0, 0%, 80%);
			background-color:#fff;
			padding:0 10px;
			line-height:24px;
			-webkit-appearance: none;
			box-shadow: none;
			&:focus{ border:1px solid #1dbed0; }
		}
		.post-comment, .cancel-comment{ 
			padding: 3px 10px; 
			border:1px solid #1dbed0; 
			border-radius:3px; 
			color:#fff; 
			font-size:13px; 
			background: #1dbed0;
			background: -moz-linear-gradient(top, #1dbed0 0%, #1dbed0 100%);
			background: -webkit-linear-gradient(top, #1dbed0 0%,#1dbed0 100%);
			background: linear-gradient(to bottom, #1dbed0 0%,#1dbed0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dbed0', endColorstr='#1dbed0',GradientType=0 );
			float:right; 
			margin:4px 0; 
			font-family:robotocondensed; 
		}
		.cancel-comment{ 
			background: -moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 100%);
			background: -webkit-linear-gradient(top, #f0f0f0 0%,#f0f0f0 100%);
			background: linear-gradient(to bottom, #f0f0f0 0%,#f0f0f0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0',GradientType=0 );
			margin-right:10px;
			color:#777;
			border:1px solid #ccc; 
		}
	}
	.comments-pannel{
		padding-top:10px;
		.profile-pic{
			border: 0 none;
			height:32px;
			margin-right: 10px;
			margin-top: 5px;
			width: 32px;
			float:left;
		}
		.view-comment{ 
			width:100%; 
			padding-left:40px; 
			position : relative;
			.action-btns{ padding:5px 0 10px;  line-height: 14px;
				a{ color:#2d81bc; font-size:14px; font-family:robotocondensed; margin-right:10px; }
			}
			.comment-area{ padding-left:10px; 
				.arrow{ left:0; }
				form{ margin-bottom:0; }
			}
			.comment-options{
				position : absolute;
				right : 10px;
				top : 0px;
				i{
					padding :0px 10px;
					font-size : 16px;
					cursor : pointer;
				}
				.dropdown-menu{
					position: absolute;
				    top: 25px;
				    left: -130px;
				    padding : 0px;
				    li{
				    	margin-bottom : 0px;
				    	padding-bottom : 0px;
				    	border-bottom : 1px solid #e5e5e5;
				    	a{
				    		padding : 10px;
				    	}
				    }
				}
			}
		}
		.username {
			color:#2d81bc;
			cursor: pointer;
			font-family:robotocondensed;
			font-size: 16px;
			text-transform: capitalize;
			span{ color:#777777; font-size:11px; padding-left:10px; }
		}
		.text {
			color:#777777;
			font-family: "Q_Serif";
			font-size: 14px;
			overflow: hidden;
			line-height: 18px;
			white-space: pre-wrap;
			margin:0;
			font-family:robotocondensed;
		}
	}
	.sub-comment-wrapper .comment-field{ 
		.comment-text{ padding-left:40px;position:relative }
		.text{ margin-bottom:3px; }
		.username{ color:#2d81bc; }
	}

	.comment-like-count{
		cursor : normal;

		.fb-emotion{
			margin-right : 2px;
			padding : 0px 0px;
		}
	}

	.show-more-comment-link{
        color : darken(#1d99d1,10%);
        cursor : pointer;
        padding : 0px 10px;
    }

    .edit-textarea{
    	width: 100%;
	    border: 1px solid #e5e5e5;
	    border-radius: 5px;
	    padding: 5px 10px;
	    resize: none;
	    box-shadow : 0px 0px 0px;
    }
}

@media (max-width:767px) {
	.comment-section .comment-field .comment-area textarea{ line-height:17px; }
}