<div class="comment-section">
    <h5>Leave a Comment</h5>
    <div class="comment-wrapper">
        <div class="comment-field comment-simplebox clearfix">
            <div class="profile-pic"><img ng-src="{{vm.getUserPic()}}" user-default-pic width="100%" height="100%" alt="" /></div>
            <div class="comment-area">
                <div class="arrow"></div>
                <form class="clearfix">
                    <textarea
                        rows='1' 
                        id="{{vm.postId}}_textarea"
                        ng-keyup="vm.autoIncreaseTextarea($event)"
                        ng-keydown="vm.keyDownEventOnTextField($event,vm.postId,'','0')" 
                        ng-model="vm.comment[vm.postId]" placeholder="Write a comment" name=""
                    ></textarea>
                    <input class="post-comment" ng-click="vm.addComment($event,vm.postId,'','0')" type="submit" value="Post Comment" name="submit" />
                    <input class="cancel-comment" ng-if="vm.comment[vm.postId].length > 0" ng-click="vm.comment[vm.postId] = ''" type="submit" value="Cancel" name="submit" />
                </form>
            </div>
        </div>
        <div ng-repeat="comment in vm.comments | orderBy:'cmnt_ts':true track by $index">
            <div class="comments-pannel">
                <div class="head-wrapper clearfix">
                    <div class="profile-pic">
                        <img ng-src="{{comment.usr_info.usr_pic}}" user-default-pic width="100%" height="100%" alt="">
                    </div>
                    <div class="view-comment">
                        <a class="username" href="/career-book/{{comment.usr_id}}">
                            <x>{{comment.usr_info.dsp_nm}}</x>
                            <span>{{comment.cmnt_ts | timeAgo}}</span>
                        </a>
                        <div class="dropdown comment-options">
                            <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.editComment(comment.cmnt_id)" title="">Edit</a></li>
                                <li><a href="javascript:void(0)" ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.showDeleteCommentModal(comment.cmnt_id)" title="">Delete</a></li>
                                <li><a href="javascript:void(0)" ng-click="vm.showReportModal(comment.cmnt_id)" title="">Report</a></li>
                                <li><a href="javascript:void(0)" ng-if="vm.showRefLink" ng-click="vm.showCopyModal(comment.cmnt_id)" title="">Get Link</a></li>
                            </ul>
                        </div>
                        <p class="text" 
                            ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" 
                            id="{{comment.cmnt_id}}" 
                            ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)">
                        </p>
                        <!-- Edit Comment Textarea -->
                        <textarea 
                            class="edit-textarea"
                            ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" 
                            ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt" 
                            ng-model="vm.comment[comment.cmnt_id]" 
                            placeholder="Write a reply" name="" style="display: block"
                            ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
                        <div class="action-btns clearfix">
                            <a href="javascript:void(0)" ng-click="vm.toggleCommentLike(comment.cmnt_id,1)" ng-show="vm.isCommentLikedByUser(comment.cmnt_id) != true">Like</a>
                            <a href="javascript:void(0)" ng-click="vm.toggleCommentLike(comment.cmnt_id,0)" ng-show="vm.isCommentLikedByUser(comment.cmnt_id) === true">Unlike</a>
                            <a href="javascript:void(0)" ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)">Reply</a>
                            <a class="comment-like-count">
                                <span class="fb-emotion fb-emotion-like"></span>
                                {{vm.getLikeCount(comment.cmnt_id)}}
                            </a>
                            <a ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" href="javascript:void(0)" ng-click="vm.cancelEditComment()">Cancel</a>
                        </div>
                        <div class="sub-comment-wrapper" ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
                            <div class="comment-field clearfix" ng-repeat="comment in vm.subLevelComments[comment.cmnt_id]['comments'] | orderBy:'cmnt_ts':true">
                                <div class="profile-pic"><img ng-src="{{comment.usr_info.usr_pic}}" user-default-pic width="100%" height="100%" alt=""></div>
                                <div class="comment-text">
                                    <a class="username" href="/career-book/{{comment.usr_id}}">{{comment.usr_info.dsp_nm}} <span>{{comment.cmnt_ts | timeAgo}}</span></a>
                                    <div class="dropdown comment-options">
                                        <i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:void(0)" ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.editComment(comment.cmnt_id)" title="">Edit</a></li>
                                            <li><a href="javascript:void(0)" ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.showDeleteCommentModal(comment.cmnt_id)" title="">Delete</a></li>
                                            <li><a href="javascript:void(0)" ng-click="vm.showReportModal(comment.cmnt_id)" title="">Report</a></li>
                                            <li><a href="javascript:void(0)" ng-if="vm.showRefLink" ng-click="vm.showCopyModal(comment.cmnt_id)" title="">Get Link</a></li>
                                        </ul>
                                    </div>
                                    <p class="text" ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" id="{{comment.cmnt_id}}" ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)"></p>
                                    <!-- edit Comment Textarea -->
                                    <textarea 
                                        class="edit-textarea"
                                        ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" 
                                        ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt" 
                                        ng-model="vm.comment[comment.cmnt_id]" 
                                        placeholder="Write a reply" name="" style="display: block"
                                        ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
                                    <div class="action-btns clearfix">
                                        <a href="javascript:void(0)" ng-click="vm.toggleCommentLike(comment.cmnt_id,1)" ng-if="vm.isCommentLikedByUser(comment.cmnt_id) != true">Like</a>
                                        <a href="javascript:void(0)" ng-click="vm.toggleCommentLike(comment.cmnt_id,0)" ng-if="vm.isCommentLikedByUser(comment.cmnt_id) === true">Unlike</a>
                                        <a href="javascript:void(0)" ng-click="vm.showSublevelCommentTextField(comment.cmnt_cmnt_id,comment.cmnt_id)">Reply</a>
                                        <a class="comment-like-count">
                                            <span class="fb-emotion fb-emotion-like"></span>
                                            {{vm.getLikeCount(comment.cmnt_id)}}
                                        </a>
                                        <a ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id" href="javascript:void(0)" ng-click="vm.cancelEditComment()">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="show-more-comment-link" ng-if="!vm.subLevelComments[comment.cmnt_id]['hide1LevelMoreLink']" ng-click="vm.showMore1LevelComment(comment.cmnt_id)">
                                Show More Comments
                            </div>
                        </div>
                        <div class="comment-area" ng-if="!vm.isCommentEditingInProcess" id="comment-field-{{comment.cmnt_id}}" ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
                            <div class="arrow"></div>
                            <form class="clearfix">
                                <textarea
                                    rows="1" 
                                    type="text" 
                                    id="{{comment.cmnt_id}}_textarea" 
                                    placeholder="Write a reply" 
                                    ng-keyup="vm.autoIncreaseTextarea($event)"
                                    ng-keydown="vm.keyDownEventOnTextField($event,comment.cmnt_id,comment.cmnt_id,'1')" 
                                    ng-model="vm.comment[comment.cmnt_id]" name=""
                                ></textarea>
                                <input class="post-comment" ng-click="vm.addComment($event,comment.cmnt_id,comment.cmnt_id,'1')" type="submit" value="Post Comment" name="submit" />
                                <input class="cancel-comment" ng-if="vm.comment[comment.cmnt_id].length > 0" ng-click="vm.comment[comment.cmnt_id] = ''" type="submit" value="Cancel" name="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-more-comment-link" ng-if="!vm.hide0LevelMoreLink" ng-click="vm.showMore0LevelComment()">
            Show More Comments
        </div>
    </div>
</div>
<!-- delete comment confirm dialgo -->
<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowDeleteCommentModal">
    <div class="ew-modal">
        <div class="msg">
            Are you sure want to delete reply?  
        </div>
        <div class="action-btns action-btns-flex-end">
            <div class="ew-rounded-btn" ng-click="vm.deleteComment(vm.currentlyDeletedComment)">
                <i class="fa fa-times right"></i>
                <span class="text">Delete</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.closeDeleteCommentModal()">
                <i class="fa fa-times right"></i>
                <span class="text">Cancel</span>
            </div>
        </div>  
    </div>
</div>
<!-- report comment dialog -->
<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowReportModal">
    <div class="ew-modal" style="min-width: 400px">
        <div class="">
            <div class="msg">Report Answer</div>
            <form>
                <div class="frm-element">
                    <input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="wrong">Wrong Answer</input>
                </div>
                <div class="frm-element">
                    <input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="spam">Spam</input>
                </div>
                <div class="frm-element">
                    <input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="notrelated">Not Related</input>
                </div>
                <div class="frm-element">
                    <input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="other">Other</input>
                </div>
                <div class="frm-element">
                    <textarea class="" style="width: 100%" placeholder="Reason to report answer" ng-model="vm.reportReasonOtherValue" ng-if="vm.reportReasonValue === 'other'"></textarea>  
                </div>
            </form>
        </div>
        <div class="action-btns action-btns-flex-end">
            <div class="ew-rounded-btn" ng-click="vm.reportComment(vm.currentlyReportedComment)">
                <i class="fa fa-pencil right"></i>
                <span class="text">Report</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.closeReportModal()">
                <i class="fa fa-times right"></i>
                <span class="text">Cancel</span>
            </div>
        </div>  
    </div>
</div>
<!-- copy link dialog -->
<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowCopyModal">
    <div class="ew-modal">
        <div class="msg" style="font-family: aller;font-size: 15px;">
            <i class="fa fa-info-circle info"></i>{{vm.link}}
        </div>
        <div class="action-btns">
            <div class="ew-rounded-btn" ng-click="vm.closeCopyModal()">
                <i class="fa fa-save right"></i>
                <span class="text">Cancel</span>
            </div>
        </div>  
    </div>
</div>
<!-- alert msg dialog -->
<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowAlertModal">
    <div class="ew-modal">
        <div class="msg">
            <i class="fa fa-info-circle info"></i>{{vm.alertMsg}}
        </div>
        <div class="action-btns-flex-end">
            <div class="ew-rounded-btn" ng-click="vm.shouldShowAlertModal = false;">
                <i class="fa fa-times-circle-o right"></i>
                <span class="text">Close</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.shouldShowAlertModal = false;vm.loginDelegate.toggleLoginModal();">
                <i class="fa fa-lock right"></i>
                <span class="text">Login</span>
            </div>
            <a class="ew-rounded-btn" ng-href="{{vm.getRegisterUrl()}}">
                <i class="fa fa-user right"></i>
                <span class="text">Try Us</span>
            </a>
        </div>
    </div>
</div>