.forum-home-wrapper {
    .header-bar {
        background: #222;
        color: white;
        padding: 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        .logo-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            .logo-text {
                font-family: waverly;
                font-size: 20px;
                text-transform: uppercase;
            }

            .exam-text {
                color: white;
            }

            .warrior-text {
                color: #1d99d1;
            }

            .logo-img {
                height: 100px;
            }
        }

        .menu-btn {
            font-size: 25px;
            color: white;
            padding-right: 15px;
        }
    }

    .banner {
        img {
            width: 100%;
        }
    }

    .search-box-field {
        padding: 15px;
        background: #e5e5e5;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        input[type=text] {
            height: 40px;
            background: white;
            border-radius: 3px;
            border: 1px solid #e5e5e5;
            padding: 0px 10px;
            font-size: 20px;
            width: 100%;
        }

        .search-btn {
            height: 40px;
            border-radius: 3px;
            padding: 0px 15px;
            background: #1d99d1;
            color: white;
            margin-left: 15px;
            font-size: 18px;
            font-family: aller;
            font-weight: normal;
            cursor: pointer;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }
    }

    .main-content {
        padding: 15px 10px;
        font-family: aller;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(center);

        @include flex-direction(row);

        .left-part {
            @include breakpoint(large_desktop) {
                margin-right: 60px;
            }
        }

        .left-part, .right-part {
            width: 50%;
            max-width: 800px;
        }

        .title {
            font-size: 25px;
            font-family: waverly;
        }

        .questions-list {
            padding: 15px;

            .question {
                border-bottom: 1px solid #e5e5e5;
                margin: 5px 0px;
                padding-bottom: 10px;
                margin-top: 10px;
            }

            .que-title {
                font-size: 18px;
                margin-bottom: 10px;
                cursor: pointer;
            }

            .que-desc {
                font-size: 15px;
            }
        }

        .ask {
            background: #e5e5e5;
            border-radius: 3px;
            padding: 15px;

            .form {
                margin-top: 20px;
            }

            .frm-element {
                margin-top: 5px;
            }

            input[type=text] {
                height: 40px;
                background: white;
                border-radius: 3px;
                border: 1px solid #e5e5e5;
                padding: 0px 10px;
                font-size: 20px;
                width: 100%;
            }

            textarea {
                background: white;
                border-radius: 3px;
                border: 1px solid #e5e5e5;
                padding: 0px 10px;
                width: 100%;
                font-size: 20px;
            }

            input[type=submit] {
                background: #1d99d1;
                color: white;
                font-size: 20px;
                font-family: waverly;
                text-transform: uppercase;
                border: 0px;
                padding: 5px 15px;
                border-radius: 3px;
                float: right;
            }
        }

        .category, .trending {
            background: #e5e5e5;
            border-radius: 3px;
            padding: 15px;
            margin-top: 15px;

            .title {
                border-bottom: 1px solid #fff;
                padding-bottom: 10px;
            }

            .list {
                padding-top: 10px;

                ul {
                    list-style-type: none;
                    padding-left: 0px;
                    margin-bottom: 0px;
                }

                li {
                    margin: 10px 0px;
                }
            }
        }

        .trending {
            .que-t {
                width: 100%;
                line-height: 25px;
                height: 25px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                margin: 10px 0px;
            }
        }
    }
}