.forum-question-wrapper {
    min-height: 100vh;
    background: #e5e5e5;

    .header-bar {
        background: #222;
        color: white;
        padding: 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        .logo-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            .logo-text {
                font-family: waverly;
                font-size: 20px;
                text-transform: uppercase;
            }

            .exam-text {
                color: white;
            }

            .warrior-text {
                color: #1d99d1;
            }

            .logo-img {
                height: 100px;
            }
        }

        .menu-btn {
            font-size: 25px;
            color: white;
            padding-right: 15px;
        }
    }

    .main-content-wrapper {
        max-width: 800px;
        margin: 0px auto;
    }

    .question {
        padding: 10px;
        background: white;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(flex-start);

        @include flex-direction(row);

        .user-pic {
            margin: 28px 0px;
            margin-right: 10px;

            img {
                width: 50px;
            }
        }

        .title {
            margin: 20px 0px;
            font-size: 25px;
            font-family: waverly;
        }

        .txt {
            margin: 10px 0px;
            font-size: 18px;
            font-family: aller;
        }

        .tags {
            margin-top: 20px;
        }

        .tag {
            margin: 0px 10px;
            background: #e5e5e5;
            color: #222;
            font-family: aller;
            padding: 5px 10px;
            border-radius: 2px;

            &:first-child {
                margin-left: 0px;
            }
        }
    }

    comments-component {
        margin-top: 50px;
    }
}