<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Send Bulk SMS</legend>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="mailSubject">Numbers</label>
							<div class="col-xs-11">
								<input type="text" class="form-control" id="mailSubject" placeholder="Enter Numbers seperated by commas" ng-model="vm.form.numbers"/>
							</div>
						</div>
						<div class="form-group" style="position: relative;">
							<label class="col-xs-1 control-label" for="mailBody">Content</label>
							<div class="col-xs-11">
								<TEXTAREA class="form-control" rows="6" id="mailBody" placeholder="Message" ng-model="vm.form.message"></TEXTAREA>
							</div>
							<div class="wordcount" style="position: absolute;right: 15px;bottom: 2px;border: 1px solid #e5e5e5;padding: 5px 10px;border-radius: 3px;font-size: 15px;">
								{{768 - vm.form.message.length}}
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.message || !vm.form.numbers"
									ng-click="vm.sendBulkSMS()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
				<pre class="response" ng-if="vm.response">{{vm.response | json}}</pre>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>