<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal">
					<fieldset>
						<legend>Add Course Bundle</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="bundlename">Bundle Name</label>
							<div class="col-sm-10">
								<input type="text" id="bundlename" class="form-control" placeholder="Name" ng-model="vm.form.bundleName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="courses">Bundle Courses</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedCourses" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Course...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.courses | filter: $select.search) track by $index">
								        <span ng-bind="item.courseName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetails()" style="margin-top: 25px;">New Bundle</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.bundleName || vm.selectedCourses.length <= 0" ng-click="vm.saveBundle()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="vm.form.success">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.bundles">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.bundles">
				<uib-accordion close-others="false" ng-repeat="bundle in vm.bundles">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeCourseBundle(bundle.bundleId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.updateFormDetails(bundle.bundleId)"><i class="fa fa-pencil"></i></span>
								{{bundle.bundleName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in bundle">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>
						</div>
					</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>