<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" ng-submit="vm.updateJobOpening()">
					<fieldset>
						<legend>Add Job Opening</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="jobname">Job Name<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="jobname" name="jobname" class="form-control" placeholder="Name" ng-model="vm.form.jobName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="jobdesc">Description<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<textarea froala="vm.EditorConfig" id="jobdesc" class="form-control" placeholder="Description" ng-model="vm.form.jobDesc" required=""></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="jobdesc">Status</label>
							<div class="col-sm-10">
								<select ng-model="vm.form.jobStatus" class="form-control">
									<option value="open">Open</option>
									<option value="closed">Closed</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Opening</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" type="submit" >Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchjobOpenings()" ng-if="!vm.jobOpenings || vm.jobOpenings.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isjobOpeningsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isjobOpeningsLoading"></i>
				<span class="text">Show jobOpenings</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.jobOpenings">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.jobOpenings">
				<uib-accordion close-others="false" ng-repeat="jobOpening in vm.jobOpenings">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeJobOpening(jobOpening.jobOpeningId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editJobOpening(jobOpening.jobOpeningId)"><i class="fa fa-pencil"></i></span>
								{{jobOpening.jobName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in jobOpening">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMorejobOpenings()" ng-if="(vm.jobOpenings==[] || vm.jobOpenings.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isjobOpeningsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isjobOpeningsLoading"></i>
				<span class="text">More</span>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>