.subscribe-component-wrapper {
    font-family: 'nunito',sans-serif;

    input {
        color: #222;
    }

    input:focus {
        background-color: #f4f4f4;
        color: #222;
    }

    input.error {
        color: white;
        background-color: rgba(255, 0, 0, 0.2);
        border: 1px solid red;
    }
}