<div class="subscribe-component-wrapper">
	<div class="fade modal modal_home jsSubscribeModal">
		<div class="close_box"></div>
		<div class="modal-flex">
			<div class="modal-dialog">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.resetData()"><i class="fa fa-times"></i></button>
					<p class="jsTextModal">{{vm.modalType}} will be live shortly. Please Subscribe for Updates</p>
					<div class="form-group subscribe-input" ng-hide="vm.showErrorMsg || vm.showSuccessMsg">
						<input type="text" class="form-control" ng-class="{'success':!vm.showInputErrorMsg,'error':vm.showInputErrorMsg}" ng-model="vm.subscribeInput" ng-change="vm.validateInputField()" id="subscribe-tf" placeholder="Email Address Here">
						<div class="input-error-msg" ng-show="vm.showInputErrorMsg">*Please Enter valid Email Address</div>
					</div>
					<div class="wrap_btn subscribe-btn-wrapper" ng-hide="vm.showErrorMsg || vm.showSuccessMsg">
						<a href="#" class="btn_form close_btn subscribe-btn" data-dismiss="modal" ng-click="vm.resetData()">
							<i class="fa fa-close"></i><span class="text">Cancel</span>
						</a>
						<a href="" class="btn_form subscribe-btn" ng-click='vm.subscribeUser(vm.modalType)'>
							<i class="fa fa-envelope"></i><span class="text">Subscribe</span>
						</a>
					</div>
					<div class="alert alert-success success-msg" ng-show="vm.showSuccessMsg">
						<span>Thank you for subscribption. </span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" data-dismiss="modal" ng-click="vm.resetData()">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
					<div class="alert alert-danger error-msg" ng-show="vm.showErrorMsg">
						<span>Some Error occured.</span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" data-dismiss="modal" ng-click="vm.resetData()">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>