.col-md-4.col-xs-6.wrapper_product {background: #fff;} 

@media (max-width: 540px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    max-width: 100%;
  }
}
@media (max-width: 763px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    max-width: 100%;
  }
}
@media (max-width: 986px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    max-width: 100%;
  }
}
@media (max-width: 1193px) {
  .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    max-width: 100%;
  }
}
.col-xs-1 {
  max-width: 8.33333%; }

.col-xs-2 {
  max-width: 16.66667%; }

.col-xs-3 {
  max-width: 25%; }

.col-xs-4 {
  max-width: 33.33333%; }

.col-xs-5 {
  max-width: 41.66667%; }

.col-xs-6 {
  max-width: 50%; }

.col-xs-7 {
  max-width: 58.33333%; }

.col-xs-8 {
  max-width: 66.66667%; }

.col-xs-9 {
  max-width: 75%; }

.col-xs-10 {
  max-width: 83.33333%; }

.col-xs-11 {
  max-width: 91.66667%; }

.col-xs-12 {
  max-width: 100%; }

@media (min-width: 34em) {
  .col-sm-1 {

    max-width: 8.33333%; }

  .col-sm-2 {

    max-width: 16.66667%; }

  .col-sm-3 {

    max-width: 25%; }

  .col-sm-4 {

    max-width: 33.33333%; }

  .col-sm-5 {

    max-width: 41.66667%; }

  .col-sm-6 {

    max-width: 50%; }

  .col-sm-7 {

    max-width: 58.33333%; }

  .col-sm-8 {

    max-width: 66.66667%; }

  .col-sm-9 {

    max-width: 75%; }

  .col-sm-10 {

    max-width: 83.33333%; }

  .col-sm-11 {

    max-width: 91.66667%; }

  .col-sm-12 {

    max-width: 100%; }
}
@media (min-width: 768px) {
  .col-md-1 {

    max-width: 8.33333%; }

  .col-md-2 {

    max-width: 16.66667%; }

  .col-md-3 {

    max-width: 25%; }

  .col-md-4 {

    max-width: 33.33333%; }

  .col-md-5 {

    max-width: 41.66667%; }

  .col-md-6 {

    max-width: 50%; }

  .col-md-7 {

    max-width: 58.33333%; }

  .col-md-8 {

    max-width: 66.66667%; }

  .col-md-9 {

    max-width: 75%; }

  .col-md-10 {

    max-width: 83.33333%; }

  .col-md-11 {

    max-width: 91.66667%; }

  .col-md-12 {

    max-width: 100%; }
}
@media (min-width: 62em) {
  .col-lg-1 {

    max-width: 8.33333%; }

  .col-lg-2 {

    max-width: 16.66667%; }

  .col-lg-3 {

    max-width: 25%; }

  .col-lg-4 {

    max-width: 33.33333%; }

  .col-lg-5 {

    max-width: 41.66667%; }

  .col-lg-6 {

    max-width: 50%; }

  .col-lg-7 {

    max-width: 58.33333%; }

  .col-lg-8 {

    max-width: 66.66667%; }

  .col-lg-9 {

    max-width: 75%; }

  .col-lg-10 {

    max-width: 83.33333%; }

  .col-lg-11 {

    max-width: 91.66667%; }

  .col-lg-12 {

    max-width: 100%; }
}
@media (min-width: 75em) {
  .col-xl-1 {

    max-width: 8.33333%; }

  .col-xl-2 {

    max-width: 16.66667%; }

  .col-xl-3 {

    max-width: 25%; }

  .col-xl-4 {

    max-width: 33.33333%; }

  .col-xl-5 {

    max-width: 41.66667%; }

  .col-xl-6 {

    max-width: 50%; }

  .col-xl-7 {

    max-width: 58.33333%; }

  .col-xl-8 {

    max-width: 66.66667%; }

  .col-xl-9 {

    max-width: 75%; }

  .col-xl-10 {

    max-width: 83.33333%; }

  .col-xl-11 {

    max-width: 91.66667%; }

  .col-xl-12 {

    max-width: 100%; }
}
.form-control {
  max-width: 100%;
}

.home_page .wrapper_home_paper, .home_page .wrapp_main_list_grid, .home_page .wrapp_subscribe, .home_page .wrapp_categoies, .home_page .welcome_block {width: 100%;}
.img-fluid {width: 100%;}
.wrapp_list_grid.sameitems .box_product_item .product_img picture {width: auto !important;}
.product_page .section_other_best_sellers .decor_icon {height: 44px;}
.product_page .section_more_details .more_details_v2 .wrap_details_block .other_details {max-width: 33.33%;}
.product_page .section_more_details a {
  max-width: 376px;
  width: 100%;
}
/* .full_slider {margin: auto;max-width: 72.25rem;} */
.tools_list.list > li svg {height: 32px;}
.wrapp_rating svg {height: 22px;}
.wrapp_info_text svg {height: 44px;}
.product_page .section_reviews .box_rating .wrapp_rating .rating-container svg {height: 36px;}
@media (max-width: 767px) {
  .product_page .section_reviews .box_rating .wrapp_rating .rating-container svg {height: 27px;}
}
.modal-flex {
  height: 100%;
  min-height: auto;
}
.modal-dialog {margin: 0;}
.blueimp-gallery .close_box {display: none;}