<div class="slide-continue-wrapper" tabindex="0" style="overflow: hidden;">
	<div class="slide-wrapper" style="overflow: hidden;">
		<div class="slide description-opened" ng-repeat="slide in vm.slides | orderBy : 'slideWeight' track by $index">
			<div class="slide-image-wrapper">
				<h5 class="slide-title">
					<span class="number">{{$index + 1}}</span>
					<span ng-if="slide.slideTitle">{{slide.slideTitle}}</span>
				</h5>
				<div ng-class="{'slide-image':slide.slideImage,'slide-code':slide.slideBlocks}">
					<img ng-if="slide.slideImage" ng-src="/upload/{{slide.slideImage}}" err-image="https://az853139.vo.msecnd.net/static/images/not-found.png" alt="">
					<div ng-if="slide.slideBlocks" style="width: 100%">
						<div ng-repeat="block in slide.slideBlocks" style="width: 100%">
							<h4 ng-if="block.heading">{{block.heading}}</h4>
							<div ng-if="block.slideCode" style="white-space: pre-wrap;">
								<code ng-bind-html="vm.trustAsHTML(block.slideCode)" class="line-numbers language-{{block.codeLanguage}}"></code>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slide-desc-wrapper">
				<!-- <div class="slide-course-title">
					{{vm.fullCourse.courseName}}
				</div> -->
				<div class="slide-desc">
					<!-- <h4 ng-if="vm.topicTitle">{{vm.topicTitle}}</h4> -->
					
					<!-- <p ng-if="vm.slideDesc">{{vm.slideDesc}}</p> -->
					<span ng-if="slide.slideNotes">
						<ul class="list-unstyled">
							<li ng-repeat="note in slide.slideNotes">
								<i class="fa fa-arrow-circle-right"></i> {{note}}
							</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>