<div class="fluid-container" tabindex="0" style="overflow: hidden;">
	<div class="note-modal-wrapper" tabindex="0" style="overflow: hidden;">
		<div class="slide-wrapper" style="overflow: hidden;">
			<div class="row slide description-opened" ng-if="!vm.slides">
				<div class="back-button" title="Back" ng-click="vm.closeModal()">
					<i class="fa fa-arrow-circle-o-left"></i>
				</div>
				<div class="slide-code">
					<div class="no-slides-found">No Slides Found.</div>
				</div>
			</div>
			<div class="row slide description-opened" ng-repeat="slide in vm.slides | orderBy : 'slideWeight'" ng-show="slide.slideNumber - 1 === vm.currentSlide">
				<div class="col-xs-12 col-sm-9 slide-image-wrapper">
					<div class="back-button big-screen" title="Back" ng-click="vm.closeModal()">
						<i class="fa fa-arrow-circle-o-left"></i>
					</div>
					<div ng-class="{'slide-image':slide.slideImage,'slide-code':slide.slideBlocks}">
						<img ng-if="slide.slideImage" ng-src="assets/upload/{{slide.slideImage}}" err-image="https://az853139.vo.msecnd.net/static/images/not-found.png" alt="">
						<div ng-if="slide.slideBlocks">
							<div ng-repeat="block in slide.slideBlocks">
								<h4 ng-if="block.heading">{{block.heading}}</h4>
								<div ng-if="block.slideCode"><code ng-bind-html="vm.trustAsHTML(block.slideCode)" class="line-numbers language-{{block.codeLanguage}}"></code></div>
							</div>
						</div>
					</div>
				<div class="arrow-wrapper" ng-class="{'left-arrow-wrapper':slide.slideBlocks}">
					<div class="ds-arrow small-screen" ng-click="vm.closeModal()"><i class="fa fa-times" style="font-size: 25px;"></i></div>
					<div class="ds-arrow" ng-click="vm.isNumberVisible = !vm.isNumberVisible"><i class="fa fa-list-ol" style="font-size: 25px;"></i></div>
					<div class="ds-arrow prev-arrow" ng-click="vm.prevSlide()" ng-class="{'disable':vm.isFirstSlide}"><i class="fa fa-chevron-circle-left"></i></div>
					<div class="ds-arrow next-arrow" ng-click="vm.nextSlide()" ng-class="{'disable':vm.isLastSlide}"><i class="fa fa-chevron-circle-right"></i></div>
					<div class="ds-arrow" ng-click="vm.slideFullScreen()"><i class="fa" ng-class="{'fa-expand':!vm.isSlideFullScreen,'fa-compress':vm.isSlideFullScreen}" style="font-size: 25px;"></i></div>
				</div>
				<div class="slidination" ng-show="vm.isNumberVisible">
					<div class="slide-number slidination-arrow" ng-if="vm.slidination.shouldShowSlidinationArrow" ng-click="vm.slidinationPrevArrow()">
						<i class="fa fa-angle-left"></i>
					</div>
					<div class="slide-number slide-progress ">
						{{((vm.currentSlide + 1) < 10) ? '0' + (vm.currentSlide + 1) : (vm.currentSlide + 1)}} / {{vm.slides.length}}
					</div>
					<div class="slide-number slidination-arrow" ng-if="vm.isSlideNumberInRange(slide.slideNumber)" ng-repeat="slide in vm.slides | orderBy : 'slideNumber'" ng-click="vm.goToSlideNumber(slide.slideNumber-1)" ng-class="{'active' : (slide.slideNumber-1 === vm.currentSlide)}">
						{{((slide.slideNumber) < 10) ? '0' + (slide.slideNumber) : (slide.slideNumber)}}
						<!-- {{slide.slideNumber}} -->
					</div>
					<div class="slide-number" ng-if="vm.slidination.shouldShowSlidinationArrow" ng-click="vm.slidinationNextArrow()">
						<i class="fa fa-angle-right"></i>
					</div>
				</div>
				<div class="hide-show-arrow" ng-click='vm.toggleSlideDesc()' style="color: white;"><i class="fa fa-angle-double-left" style="font-size: 20px;"></i></div>
			</div>
			<div class="col-xs-12 col-sm-3 slide-desc-wrapper" ng-if="vm.slider_opened">
				<div class="desc-header">
					
					<div class="width-changer">
						<i class="fa fa-plus" ng-click="vm.increaseSidebarWidth()"></i>
						<i class="fa fa-minus" ng-click="vm.decreaseSidebarWidth()"></i>
					</div>
					<div class="hide-show-arrow" ng-click='vm.toggleSlideDesc()'>
						<i class="fa fa-arrow-right"></i>
						<span>Hide</span>
					</div>
				</div>
				<div class="slide-course-title">
					{{vm.fullCourse.courseName}}
				</div>
				
				<div class="slide-desc">
					<h4 ng-if="vm.topicTitle">{{vm.topicTitle}}</h4>
					<h5 ng-if="slide.slideTitle">{{slide.slideTitle}}</h5>
					<p ng-if="vm.slideDesc">{{vm.slideDesc}}</p>
					<span ng-if="slide.slideNotes">
						<ul class="list-unstyled">
							<li ng-repeat="note in slide.slideNotes">
								<i class="fa fa-arrow-circle-right"></i> {{note}}
							</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>