<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" id="form" ng-submit="vm.saveCourseMaster()">
					<fieldset>
						<legend>Add New Course</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="courseid">Course Id*</label>
							<div class="col-xs-10">
								<input type="text" id="courseid" class="form-control" ng-change="vm.form.idExistError = false;" ng-blur="vm.checkIdExist()" placeholder="Course Id" ng-model="vm.form.courseId" required="" />
							</div>
						</div>
						<div class="alert alert-danger" ng-if="vm.form.idExistError">
							Id is already exist
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="coursename">Course Name*</label>
							<div class="col-xs-10">
								<input type="text" id="coursename" class="form-control" placeholder="Course Name" ng-model="vm.form.courseName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="coursetype">Course Type*</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.courseType" id="coursetype" class="form-control"
								ng-change="vm.typeChange()"
									ng-options="coursetype.id as coursetype.name for coursetype in vm.courseTypes " required="">
									<option value=""> <b>Select Type</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course-sub-group">Course subgroup</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.courseSubGroup" id="course-sub-group" class="form-control"
									ng-options="subgroup.subgroupInUrl as subgroup.subgroupName for subgroup in vm.allSubgroup ">
									<option value=""> <b>Select SubGroup</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="liveclass">Live Class</label>
							<div class="col-xs-10">
								<input type="checkbox" style="margin-top: 10px;" id="liveclass" class="" ng-model="vm.form.isLiveClass"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="author">Author</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Author...">
								        <span ng-bind="$item.authorName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
								        <span ng-bind="item.authorName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="">Related Courses</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedRelatedCourses" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Related Courses...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.relatedCourses | filter: $select.search) track by $index">
								        <span ng-bind="item.courseName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						
						
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5" >
							<!-- !vm.form.courseId || !vm.form.courseName || !vm.form.courseType ||  -->
								<button  type="submit" class="form-control btn btn-primary submit" 
								ng-disabled="vm.form.idExistError">{{vm.buttonName}}</button>
							</div>
						</div>
					</fieldset>
				</form>
				<!-- <div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div> -->
			</div>
		</div>
<!-- 
		<div class="col-xs-12">
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.alreadyExistCourseData">
				<uib-accordion close-others="false">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteCourseMaster(vm.alreadyExistCourseData.courseId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.updateFormWithValues(vm.alreadyExistCourseData.courseId)"><i class="fa fa-pencil"></i></span>
								{{vm.alreadyExistCourseData.courseName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in vm.alreadyExistCourseData">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
					</div>
				</uib-accordion>
			</div>
		</div> -->

		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchCourses()" ng-if="!vm.coursemasterdata || vm.coursemasterdata.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isCoursesLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isCoursesLoading"></i>
				<span class="text">Show Courses</span>
			</div>	
		</div>
		
		<div class="col-md-12">
			<!-- <div class="ds-alert" ng-if="!vm.coursemasterdata">No Data to display</div> -->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.coursemasterdata">
				<uib-accordion close-others="false" ng-repeat="course in vm.coursemasterdata">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteCourseMaster(course.courseId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.updateFormWithValues(course.courseId)"><i class="fa fa-pencil"></i></span>
								{{course.courseName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in course">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
					</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreCourses()" ng-if="(vm.coursemasterdata || vm.coursemasterdata.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isCoursesLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isCoursesLoading"></i>
				<span class="text">More</span>
			</div>	
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>