@import "../../assets/scss/_common_test.scss";

.alertify-logs {
    z-index: 1000000 !important;
}

.fr-line-breaker {
    display: none;
}

.admin-practice-wrapper {
    &.remove-scroll {
        max-height: calc(100vh - 75px);
        overflow: hidden;
    }

    .question-modal {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: #f4f4f4;
        z-index: 100000;
        overflow: auto;

        .question-modal-close-btn {
            i {
                padding: 8px 15px;
                background-color: #EC644B;
                border-radius: 5px;
                position: fixed;
                top: 10px;
                right: 5px;
                cursor: pointer;
                font-size: 18px;
                color: white;
            }
        }

        .fixed-btns {
            position: fixed;
            top: 10px;
            right: 50px;
        }

        form {
            padding: 20px 10px;
        }

        select, input[type=text] {
            border: 1px solid #e5e5e5;
            padding: 0px 10px;
            border-radius: 5px;
        }
    }

    .modal-form-group {
        margin: 10px 0px;
        margin-bottom: 30px;

        .title {
            font-size: 18px;
            font-family: 'nunito',sans-serif;

            @include display(flex);

            @include flex-direction(row);
        }

        .option-action-btn {
            margin: 0px 10px;
            margin-left: 50px;
            font-size: 15px;
        }

        .modal-form-group-section {
            @include display(flex);

            @include flex-direction(row);

            .gp-section {
                min-width: 50%;
                padding: 0px 10px;

                @include flex(1);
            }
        }
    }
}