<div class="admin-page admin-practice-wrapper" ng-class="{'remove-scroll' : vm.shouldShowQuestionModal }">
	<!-- <div class="ew-rounded-btn auto-saving-msg" ng-click="vm.previewQuestion()" ng-if="vm.selectedTopicGroup[0]">
		<i ng-show="vm.isAutoSaving" class="fa fa-circle-o-notch fa-spin"></i>
		<i ng-show="!vm.isAutoSaving" class="fa fa-save right"></i>
		<span class="text">Preview</span>
	</div> -->

	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Add Question</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subject">Subject</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Subject...">
								        <span ng-bind="$item.subjectName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
								        <span ng-bind="item.subjectName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="author">Author</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Author...">
								        <span ng-bind="$item.authorName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
								        <span ng-bind="item.authorName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="publication">Publication</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedPublications" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Publication...">
								        <span ng-bind="$item.publicationName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
								        <span ng-bind="item.publicationName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="book">Book</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedBooks" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Book...">
								        <span ng-bind="$item.bookName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
								        <span ng-bind="item.bookName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="exam">Exam</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedExams" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Exam...">
								        <span ng-bind="$item.examName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
								        <span ng-bind="item.examName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Topic Group</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTopicGroup" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" limit="1" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic Group...">
								        <span ng-bind="$item.groupName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.groupId as item in (vm.topicGroups | filter: $select.search) track by $index">
								        <span>{{item.groupNumber}} - {{item.groupName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="tag">Tag</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTags" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Tag...">
								        <span ng-bind="$item.tagName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
								        <span ng-bind="item.tagName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-10">
								<input type="hidden" id="questionId" class="form-control" placeholder="Question ID" ng-model="vm.form.questionId" readonly />
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-offset-9 col-xs-3">
								<button 
									class="form-control btn btn-primary submit"
									ng-click="vm.openModalForQuestion()">
									Add question details
								</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="questionDesc">Question Desc</label>
							<div class="col-xs-10">
								<textarea froala="vm.EditorConfig" id="questionDesc" rows="7" class="form-control" placeholder="Question Description" ng-model="vm.form.question"></textarea>
							</div>
						</div>
						<div class="form-group" ng-if="vm.form.question">
							<label class="col-sm-2 control-label" for="questionDesc">Preview Desc</label>
							<div class="col-xs-10">
								<div class="preview-div" id="preview-desc" ng-bind-html="vm.trustAsHTML(vm.form.question)"></div>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label" for="questionOneLine">Question</label>
							<div class="col-xs-10">
								<textarea type="text" rows="2" id="questionOneLine" class="form-control" placeholder="Question" ng-model="vm.form.questionOneLine"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="diffLevel">Difficulty Level</label>
							<div class="col-sm-10">
								<select id="diffLevel" ng-model="vm.form.questionDifficulty" class="form-control"
										ng-options="level.id as level.title for level in vm.topicDifficulty">
										<option value="">Select Difficulty</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="questiontime">Question Time(minutes)</label>
							<div class="col-xs-10">
								<input type="number" id="questiontime" class="form-control" placeholder="Question Time(minutes)" ng-model="vm.form.questionTime"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-2 col-xs-offset-10">
								<button class="form-control btn btn-primary submit" title="Add Option" ng-click="vm.addOption()"><i class="fa fa-plus"></i> Option</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="opt_{{$index+1}}"></label>
							<div class="col-xs-9"></div>
							<div class="col-xs-2">Select Ans</div>
						</div>
						<div ng-repeat="opt in vm.getNumber(vm.optionCount) track by $index">
							<div class="form-group">
								<label class="col-xs-1 control-label" for="opt_{{$index+1}}">Opt #{{$index+1}}</label>
								<div class="col-xs-9">
									<textarea froala="vm.EditorConfig" type="text" id="opt_{{$index+1}}" rows="5" class="form-control" placeholder="Option #{{$index+1}}" ng-model="vm.form.options[$index]['text']"></textarea>
								</div>
								<div class="col-xs-1">
									<span class="fa-stack fa-sm" ng-click="vm.toggleAns($index)" style="color:green;cursor:pointer">
										<i class="fa fa-square-o fa-stack-2x"></i>
										<i ng-if="vm.form.options[$index]['ans']" class="fa fa-check fa-stack-1x"></i>
									</span>
								</div>
								<div class="col-xs-1">
									<span class="fa-stack fa-sm" ng-click="vm.removeOption($index)" style="color:#D24D57;cursor:pointer">
										<i class="fa fa-circle-o fa-stack-2x"></i>
										<i class="fa fa-times fa-stack-1x" ></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="text">Text Explanation</label>
							<div class="col-xs-10">
								<textarea froala="vm.EditorConfig" rows="7" id="textExplanation" class="form-control" placeholder="Text Explanation" ng-model="vm.form.textExplanation"></textarea>
							</div>
						</div> -->

						
						
						<!-- Filtr video section -->
						<!--  -->
						<!--  -->
						<!--  -->
						<div style="padding: 10px;background-color: #f4f4f4">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="subject">Subject</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoSubjects" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Subject...">
									        <span ng-bind="$item.subjectName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
									        <span ng-bind="item.subjectName"></span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="author">Author</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoAuthors" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Author...">
									        <span ng-bind="$item.authorName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
									        <span ng-bind="item.authorName"></span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="publication">Publication</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoPublications" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Publication...">
									        <span ng-bind="$item.publicationName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
									        <span ng-bind="item.publicationName"></span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="book">Book</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoBooks" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Book...">
									        <span ng-bind="$item.bookName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
									        <span ng-bind="item.bookName"></span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="exam">Exam</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoExams" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Exam...">
									        <span ng-bind="$item.examName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
									        <span ng-bind="item.examName"></span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="topic">Topic</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoTopics" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Topic...">
									        <span ng-bind="$item.topicName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
									        <span>{{item.topicNumber}} - {{item.topicName}}</span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="tag">Tag</label>
								<div class="col-sm-10">
									<ui-select multiple ng-model="vm.selectedVideoTags" theme="bootstrap" on-select="vm.onVideoFilterChange($item, $model)" on-remove="vm.onVideoFilterChange($item, $model)" close-on-select="true">
									    <ui-select-match placeholder="Select Tag...">
									        <span ng-bind="$item.tagName"></span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
									        <span ng-bind="item.tagName"></span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="filtered-video-wrapper">
								<div class="total-videos">
									<div class="head">Filtered Videos - Select One Video</div>
									<div class="video-wrapper" 
											ng-class="{'selected':vm.selectedVideo === video.videoId}" 
											ng-repeat="video in vm.filteredVideos" 
											ng-click="vm.selectedVideo = video.videoId">
										<div class="name">{{video.videoName}}</div>
									</div>
									<div class="video-wrapper" ng-if="!vm.filteredVideos || vm.filteredVideos.length <= 0">
										<div class="name">No Video Found - Change Filter</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-2 col-xs-offset-8">
								<button class="form-control btn btn-danger submit" ng-click="vm.newQuestion()">Reset</button>
							</div>
							<div class="col-xs-2">
								<button
								class="form-control btn btn-primary submit" ng-disabled="vm.selectedTopicGroup.length <= 0 || !vm.selectedVideo" ng-click="vm.saveQuestion()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">{{vm.error}}</div>
					<div class="ds-success" ng-if="!vm.form.error">Data updated succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.questions">No Data to display</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="que in vm.currentQuestions track by $index">
					<span>{{que.questionId}}</span>
					<span class="pull-right">
						<span style="margin-right: 10px;cursor: pointer;"><i class="fa fa-pencil" ng-click="vm.editQuestion(que.questionId)"></i></span>
						<span style="cursor: pointer;"><i class="fa fa-times" ng-click="vm.removeQuestion(que.questionId)"></i></span>
					</span>
				</li>
			</ul>
			<uib-pagination
			total-items="vm.questions.length"
			ng-model="vm.currentPage"
			ng-change="vm.pageChanged()"
			boundary-link-numbers="true"
			max-size="5"
			items-per-page=vm.itemPerPage
			></uib-pagination>
		</div>
	</div>


	<div class="question-modal" ng-show="vm.shouldShowQuestionModal">
		<div class="question-id" ng-if="vm.form.questionId" style="position: absolute;left: 0px;top: 0px;color:#999;font-size: 11px; ">ID : {{vm.form.questionId}}</div>
		<div class="question-modal-close-btn" ng-click="vm.closeQuestionModalConfirm()">
			<i class="fa fa-times"></i>
		</div>
		<div class="modal-form-group fixed-btns" style="margin:0px;">
			<div class="modal-form-group-section">
				<button class="ew-rounded-btn" ng-click="vm.newQuestionConfirm()">
					<i class="fa fa-plus right"></i>
					<span class="text">New Question</span>
				</button>
				<button class="ew-rounded-btn" ng-show="!vm.isSavingQuestion" ng-class="{disable : vm.selectedTopicGroup.length <= 0}" ng-disabled="vm.selectedTopicGroup.length <= 0" ng-click="vm.saveQuestion(true)">
					<i class="fa fa-save right"></i>
					<span class="text">Save Question</span>
				</button>
				<button class="ew-rounded-btn disable" ng-show="vm.isSavingQuestion">
					<i class="fa fa-circle-o-notch right"></i>
					<span class="text">Saving......</span>
				</button>
				<div class="ew-rounded-btn" ng-click="vm.previewQuestion()" ng-if="vm.selectedTopicGroup[0]">
					<i ng-show="vm.isAutoSaving" class="fa fa-circle-o-notch fa-spin"></i>
					<i ng-show="!vm.isAutoSaving" class="fa fa-video-camera right"></i>
					<span class="text">Preview</span>
				</div>
			</div>
		</div>
		<form>
			<div class="modal-form-group">
				<div class="modal-form-group-section">
					<div class="gp-section">
						<div class="title">Question Difficulty</div>
						<div>
							<select id="diffLevel" ng-model="vm.form.questionDifficulty" class="form-control"
									ng-options="level.id as level.title for level in vm.topicDifficulty">
									<option value="">Select Question Difficulty</option>
							</select>
						</div>
					</div>
					<div class="gp-section">
						<div class="title">Question Time(In Minutes)</div>
						<div>
							<input type="number" id="questiontime" class="form-control" placeholder="Question Time(minutes)" ng-model="vm.form.questionTime"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-form-group">
				<div class="title">Question Type {{vm.isMCQ}}</div>
				<div class="modal-form-group-section">
					<input type="radio" ng-model="vm.form.isMCQ" name="mcq" value="true">Multiple Choice Question
					<input type="radio" style="margin-left: 10px;" ng-model="vm.form.isMCQ" name="mcq" value="false">Non Multiple Choice Question 
				</div>
			</div>
			<div class="modal-form-group">
				<div class="title">Question Description</div>
				<div class="modal-form-group-section">
					<textarea froala="vm.EditorConfig" ng-keyup="vm.checkMathJax()" id="questionDesc" rows="7" class="gp-section" placeholder="Question Description" ng-model="vm.form.question"></textarea>
					<div class="preview-div gp-section" id="preview-desc" ng-bind-html="vm.trustAsHTML(vm.form.question)"></div>
				</div>
			</div>
			<div ng-if="vm.form.isMCQ === 'true'" ng-repeat="opt in vm.getNumber(vm.optionCount) track by $index">
				<div class="modal-form-group">
					<div class="title">
						<span>Option #{{$index+1}}</span>
						<div class="option-action-btn" ng-if="vm.form.options[$index]['text'].length > 0">
							Select Option as Answer : <span class="fa-stack fa-sm" ng-click="vm.toggleAns($index)" style="color:green;cursor:pointer">
								<i class="fa fa-square-o fa-stack-2x"></i>
								<i ng-if="vm.form.options[$index]['ans']" class="fa fa-check fa-stack-1x"></i>
							</span>
						</div>
						<div class="option-action-btn" ng-if="vm.optionCount > 1">
							Remove Option : <span class="fa-stack fa-sm" ng-click="vm.removeOptionConfirmation($index)" style="color:#D24D57;cursor:pointer">
								<i class="fa fa-circle-o fa-stack-2x"></i>
								<i class="fa fa-times fa-stack-1x" ></i>
							</span>
						</div>
					</div>
					<div class="modal-form-group-section">
						<textarea froala="vm.EditorConfig" type="text" id="opt_{{$index+1}}" rows="5" class="form-control" placeholder="Option #{{$index+1}}" ng-model="vm.form.options[$index]['text']"></textarea>
						<div class="preview-div gp-section" ng-bind-html="vm.trustAsHTML(vm.form.options[$index]['text'])"></div>
					</div>
					
				</div>
			</div>
			<div class="modal-form-group" ng-if="vm.form.isMCQ === 'true'">
				<div class="modal-form-group-section">
					<div></div>
					<div class="ew-rounded-btn" ng-click="vm.addOption()">
						<i class="fa fa-plus right"></i>
						<span class="text">Add Option</span>
					</div>
				</div>
			</div>
			<div class="modal-form-group">
				<div class="title">Text Explanation</div>
				<div class="modal-form-group-section">
					<textarea froala="vm.EditorConfig" rows="7" id="textExplanation" class="form-control" placeholder="Text Explanation" ng-model="vm.form.textExplanation"></textarea>
					<div class="preview-div gp-section" ng-bind-html="vm.trustAsHTML(vm.form.textExplanation)"></div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="ew-small-modal-wrapper" ng-if="vm.showAlertModal" style="z-index: 100000;">
    <div class="ew-modal">
        <div class="msg">
            <i class="fa fa-warning warning"></i>{{vm.alertMsg}}
        </div>
        <div class="action-btns-flex-end">
        	<div class="ew-rounded-btn green" ng-click="vm.saveAndNewQuestion()" ng-if="vm.showSaveQuestionBtnInAlert">
            	<i class="fa fa-save right"></i>
            	<span class="text">Save</span>
            </div>
            <div class="ew-rounded-btn green" ng-click="vm.saveAndCloseQuestionModal()" ng-if="vm.showSaveQuestionCloseModalBtnInAlert">
            	<i class="fa fa-save right"></i>
            	<span class="text">Save & Close</span>
            </div>
            <div class="ew-rounded-btn red" ng-click="vm.closeQuestionModal()" ng-if="vm.showSaveQuestionCloseModalBtnInAlert">
            	<i class="fa fa-times right"></i>
            	<span class="text">Close Without Save</span>
            </div>
            <div class="ew-rounded-btn" ng-click="vm.directNewQuestion()" ng-if="vm.showNewQuestionBtnInAlert">
            	<i class="fa fa-pencil right"></i>
            	<span class="text">New Que Without Save</span>
            </div>
        	<div class="ew-rounded-btn red" ng-click="vm.removeOption()" ng-if="vm.showRemoveOptionBtnInAlert">
            	<i class="fa fa-trash right"></i>
            	<span class="text">Remove Option</span>
            </div>
            <div class="ew-rounded-btn red" ng-click="vm.resetAlertModal()">
            	<i class="fa fa-times-circle-o right"></i>
            	<span class="text">Cancel</span>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	.auto-saving-msg{
		position: fixed;
		top: 10px;
		right: 550px;
		z-index: 10001;
	}
	.preview-div{
		white-space: pre-wrap;
	    background: #e5e5e5;
	    padding: 10px;
	    border-radius: 5px;
	    font-size: 16px;
	}
	.MJXc-display {
		display: inline;
	}
</style>