@import "../bourbon/_bourbon.scss";
@import "./_ds_mixins.scss";
@import "./_common_loader.scss";
@import "../component/_controlbar.scss";

body {
    -webkit-font-smoothing: antialiased;
}

.fr-line-breaker{
    display : none;
}

@font-face {
    font-family: Aller;
    src: url("../../fonts/Aller/Aller_Rg.ttf");
}

@font-face {
    font-family: Aller;
    src: url("../../fonts/Aller/Aller_Bd.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Q_Serif;
    src: url("../../fonts/q-serif.woff2");
}

@font-face {
    font-family: Q_Serif;
    src: url("../../fonts/q-serif-semibold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: 'waverly';
    src: url("../../fonts/WaverlyCF-Light.eot");
    src: url("../../fonts/WaverlyCF-Light.woff2") format("woff2"), url("../../fonts/WaverlyCF-Light.woff") format("woff"), url("../../fonts/WaverlyCF-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'waverly';
    src: url("../../fonts/WaverlyCF-Bold.eot");
    src: url("../../fonts/WaverlyCF-Bold.woff2") format("woff2"), url("../../fonts/WaverlyCF-Bold.woff") format("woff"), url("../../fonts/WaverlyCF-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'waverly';
    src: url("../../fonts/WaverlyCF-ExtraBold.eot");
    src: url("../../fonts/WaverlyCF-ExtraBold.woff2") format("woff2"), url("../../fonts/WaverlyCF-ExtraBold.woff") format("woff"), url("../../fonts/WaverlyCF-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'robotobold';
    src: url('../../fonts/roboto-bold-webfont.eot');
    src: url('../../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotocondensed';
    src: url('../../fonts/roboto-condensed_0.woff2') format('woff2'),
         url('../../fonts/roboto-condensed_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon/icomoon.eot?woxr3z');
  src:  url('/assets/fonts/icomoon/icomoon.eot?woxr3z#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon/icomoon.ttf?woxr3z') format('truetype'),
    url('/assets/fonts/icomoon/icomoon.woff?woxr3z') format('woff'),
    url('/assets/fonts/icomoon/icomoon.svg?woxr3z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function get-color($color) {
    @if $color == "red" {
        @return #D24D57;
    }
    @else if $color == "blue" {
        @return #1d99d1;
    }
    @else if $color == "green" {
        @return #26A65B;
    }
    @else {
        @return #1d99d1;
    }
}

.alertify {
    z-index: 10000 !important;

    .dialog > div {
        border-radius: 5px;
    }

    .msg {
        font-size: 20px;
        font-family: 'nunito',sans-serif;
        color: darken(#1d99d1, 10%);
    }

    button {
        background: #f4f4f4 !important;

        &:hover {
            background: lighten(#1d99d1, 5%) !important;
            color: white;
        }
    }
}

.ew-rounded-btn {
    $blue: #1d99d1;
    $red: #D24D57;

    // padding: 5px 20px;
    font-family: 'nunito','aller',sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0px 5px;
    background: get-color("blue");
    border-radius: 2px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    outline: none;
    border: 0px;
    white-space: nowrap;
    height: 30px;

    &:hover {
        text-decoration: none;
    }

    &.red {
        background: get-color("red");
    }

    &.blue {
        background: get-color("blue");
    }

    &.green {
        background-color: get-color("green");
    }

    @include display(flex);

    @include align-items(center);

    @include flex-direction(row);

    &.disable {
        pointer-events: none;
        background: lighten($blue, 10%);
    }

    i {
        padding: 7px 10px;
        margin-left: 5px;
        color: white;

        &.right, &.right-side {
            border-right: 1px solid darken($blue, 10%);
        }

        &.left {
            border-left: 1px solid darken($blue, 10%);
        }
    }

    .text {
        padding: 0px 10px;
        padding-right: 15px;
        text-decoration: none;
        color: white;
    }
}

.ew-small-modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 10000;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    .ew-modal {
        max-width: 600px;
        background: white;
        border-radius: 3px;
        padding: 15px;
        min-width: 300px;
    }

    .msg {
        font-size: 20px;
        font-family: 'nunito','aller','Roboto Condensed',sans-serif;
        color: #222;

        i {
            margin-right: 10px;

            &.warning {
                color: orange;
            }

            &.info {
                color: #1d99d1;
            }
        }
    }

    .action-btns-flex-end {
        margin-top: 20px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);
    }

    .action-btns {
        float: right;
        padding-top: 30px;
        color: white;

        .ew-btn {
            // padding: 5px 20px;
            font-family: aller;
            font-size: 15px;
            display: inline-block;
            margin: 0px 2px;
            background: #1d99d1;
            border-radius: 2px;
            cursor: pointer;
            border-radius: 20px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            i {
                padding: 10px;

                &.right {
                    border-right: 1px solid darken(#1d99d1, 10%);
                }
            }

            .text {
                padding: 0px 10px;
                padding-right: 15px;
            }
        }
    }
}

.minimal-controlbar-wrapper {
    $height: 50px;
    $icon-width-height: 25px;

    #jw_video_wrapper {
        height: calc(100% - 90px);
        width: calc(100%);
        margin: 0px auto;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        & > div:first-of-type {
            width: 854px !important;
            height: 480px !important;

            @include breakpoint(large_desktop) {
                width: 960px !important;
                height: 540px !important;
            }
        }

        &.full-screen > div:first-of-type {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .ds-controlbar {
        height: $height;
        bottom: 20px;
        z-index: 10000000000;
        background: #000;
        width: 100% !important;
        bottom: 0px;
        width: 100% !important;
        max-width: 854px !important;

        @include display(flex);

        @include breakpoint(large_desktop) {
            max-width: 960px !important;
        }


        &.full-screen {
            position: absolute;
        }
    }

    .ds-controls-left {
        height: $height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include flex-grow(1);
    }

    .icon-btn {
        width: $icon-width-height;
        height: $icon-width-height !important;
        padding: 0px;
    }

    .play-btn {
        background: url("../../images/play.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .pause-btn {
        background: url("../../images/pause.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .volume-btn {
        background: url("../../images/volume.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .fullscreen-btn {
        background: url("../../images/desktop.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .ds-control {
        height: $height;
        line-height: normal;
    }

    .overlay {
        bottom: $height + 8px;
    }

    .time-span {
        padding: 0px 5px;
        color: #3399cc;
        font-size: 18px;
    }

    .ds-progress-bar-wrapper {
        position: relative;
        top: 0px;
        margin: 0px;
        left: 0px;
        border-radius: 10px;
        height: 10px;

        .ds-progress-bar {
            background-color: #3399cc;
        }

        .ds-progress-bar, .ds-buffered-bar {
            border-radius: 10px;
            height: 10px;
        }
    }

    .ds-controls-right {
        height: $height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }
}

.background {
    background-image: url(/assets/images/bg_new.png);
    background-position: 0 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background-color: #1dbed0;

    @media (max-width: 1079px){
        background: #f4f4f4;
    }
}
body.tablet{
    .tree_menu{
        display: none;
    }
    .site-menu{
        position: static;
        background: #fff;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #ccc;
        >a.logo{
            display: block;
            float: left;
            margin-left: 15px;
            img{
                max-width: 200px;
                margin: 3px 0px 0px 0px;
                width: 100%;
            }
        }
        .list{
            float: right;
            .item {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    .icon {
                        i {
                            color: #014c8c;
                        }
                    }
                    .text {
                        display: none;
                    }
                }
            }
            .item{
                padding: 0px 10px;
                .icon{
                    svg{
                        polygon{
                            fill:#014c8c;
                        }
                    }
                }
            }
            .item.notification{
                i{
                    margin-top: 0px;
                    display: block;
                }
                .menu{
                    right: 3px;
                }
            }
        }
    }
    .home-top{
        margin-left: 0px;
        width: 100%;
        left: 0px;
        max-width: 100%;
        padding: 0px;
        position: static;
        margin: 0px;
        transform: none;
        .background-top{
            display: none;
        }
        .img{
            img{
                display: none;
            }
        }
        .logo{
            display: none;
        }
        .page-links{
            margin: 0px 0px 0px;
        }
    }

    .content{
        max-width: 100%;
        left: 0px;
        padding: 0px;
        margin: 0px;
        height: auto;
        position: static;
    }

}
