$facebook: #44619D;
$google: #EA4335;
$linkedin: #006DA6;
$twitter: #28A9E0;

.mCSB_inside > .mCSB_container {
    margin-right: 0px !important;
}
.fr-line-breaker{
    display : none;
}
.alertify {
    z-index: 10000 !important;

    .dialog > div {
        border-radius: 5px;
    }

    .msg {
        font-size: 20px;
        font-family: 'nunito',sans-serif;
        color: darken(#1d99d1, 10%);
    }

    button {
        background: #f4f4f4 !important;

        &:hover {
            background: lighten(#1d99d1, 5%) !important;
            color: white;
        }
    }
}

body {
    background-color: white;
    overflow-x: hidden !important;
    min-height: 100vh;
}

body * {
    outline: 0px;
}

body.ds-modal-open {
    overflow: hidden !important;
}

.btn:focus {
    outline: none;
}

// .clearfix {
//     clear: both;
// }

//Blur a Div
.blur-div {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='1'%20/></filter></svg>#blur");
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;

    .star {
        padding: 1px;
        color: #ddd;
        font-size: 20px;
        text-shadow: .05em .05em #aaa;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;

        &.filled {
            color: #fd0;
        }

        &.filled:before {
            // content:"&#xf005;";

        }

        &:before {
            // content:"&#xf006;";

        }
    }

    &.readonly .star.filled {
        color: darken(#fd0, 20%);
    }
}

/*
*   For full screen modal (notemoddal and video modal)
*/
// .modal-backdrop {
//     z-index: -1;

//     &.in {
//         opacity: 0;
//     }
// }

/*
*       JW Custom Speed Button
*/
.jw-custom-speed-button {
    i {
        padding: 0px 13px;
        position: relative;
        top: -2px;
        border-left: 1px solid gray;
    }

    &:hover {
        .jw-overlay {
            visibility: visible;
            opacity: 1;
        }
    }
}

/* HAS_FOOTER_HEADER */
.has-header-footer {
    min-height: calc(100vh - 75px - 75px);

    /* Header = Footer = 75px */
}

/*Sidebar Block*/
.sidebar-widget {
    $border-color: white;
    $title-height: 50px;
    $title-icon-width: 55px;

    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Aller',sans-serif;
    overflow: hidden;
    width: 100%;

    // border: 1px solid $border-color;
    // margin-bottom: 15px;

    .title-wrapper {
        text-align: center;
        color: white;
        margin: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 18px;
        height: $title-height;
        line-height: $title-height;
        font-family: 'museo-slab';

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-around);

        @include flex-direction(row);
    }

    .title {
        @include transition(all 0.5s ease-in);

        // width: calc(100% - #{$title-icon-width * 2});
        display: inline-block;

        // height: $title-height;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-icon {
        // height: $title-height;
        // line-height: $title-height;
        cursor: pointer;
        padding: 0px 20px;
        font-size: 18px;

        // width: $title-icon-width;

    }

    .horizontal-line {
        width: 90%;
        height: 1px;
        background-color: #222;
        margin: 2px auto;
    }

    ul {
        padding: 10px 15px;
        margin-bottom: 0px;
        max-height: 215px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }

    li {
        color: #eee;
        padding: 10px 0px;
        border-bottom: 1px solid #22313F;
        font-size: 15px;
        position: relative;
        text-align: left;

        &:last-child {
            border-bottom: 0px;
        }
    }

    .more-button {
        position: absolute;
        right: 0px;
        background: #2574A9;
        color: white;
        padding: 2px 10px;
        border-radius: 5px;
        top: 7px;
    }

    .delete-button {
        background: #D24D57;
        text-decoration: none;
        cursor: pointer;
    }

    .see-here-button {
        color: #D24D57;
        position: absolute;
        text-decoration: none;
        right: 0px;
        top: -10px;
        font-size: 35px;
    }

    .fa-times {
        color: #CF000F;
        cursor: pointer;
    }

    .footer-wrapper {
        // height: 50px;
        line-height: 50px;
        font-size: 18px;
        text-align: center;
        color: white;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        // display: flex;
        font-family: 'museo-slab';

        // background: #22313F;

        .half {
            width: 50%;
            display: inline-block;
            cursor: pointer;
            border-right: 1px solid $border-color;
            float: left;

            &:last-child {
                border-right: 0px solid $border-color;
            }
        }

        .full {
            width: 100%;
            display: block;
            cursor: pointer;
            font-size: 16px;
        }
    }
}

/* Chat Wrapper */
.chat-wrapper {
    position: fixed;
    right: 20px;
    bottom: 0px;
    z-index: 10000000;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #E26A6A !important;
    font-weight: normal !important;
}

.hljs {
    color: #222;
    background: transparent !important;
}

// Facebook Icon
.fb-icon {
    background-image: url("../images/facebook_img.png");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
}

.fb-replies-icon {
    background-position: -29px -57px;
}

.fb-icon-rotate-180 {
    @include transform(rotate(180deg));
}

.fb-like-icon {
    background-position: 0 -131px;
}

.fb-comment-icon {
    background-position: -49px -114px;
}

.fb-share-icon {
    background-position: 0 -146px;
}

.fb-follow-icon {
    background-position: -41px -146px;
}

// FB Emotion Icon
.fb-emotion {
    background-image: url("../images/fb-emotions.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 5px;
}

.fb-emotion-like {
    background-position: -144px -35px;
}

.fb-emotion-love {
    background-position: 0 -60px;
}

.fb-emotion-haha {
    background-position: -127px -35px;
}

.fb-emotion-wow {
    background-position: -51px -60px;
}

.fb-emotion-sad {
    background-position: -34px -60px;
}

// Common small modal
.ew-small-modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 10000;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    .ew-modal {
        max-width: 600px;
        background: white;
        border-radius: 3px;
        padding: 15px;
        min-width: 300px;
    }

    .msg {
        font-size: 20px;
        font-family: 'nunito','aller','Roboto Condensed',sans-serif;
        color: #222;

        i {
            margin-right: 10px;

            &.warning {
                color: orange;
            }

            &.info {
                color: #1d99d1;
            }
        }
    }

    .action-btns-flex-end {
        margin-top: 20px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-end);

        @include flex-direction(row);
    }

    .action-btns {
        float: right;
        padding-top: 30px;
        color: white;

        .ew-btn {
            // padding: 5px 20px;
            font-family: aller;
            font-size: 15px;
            display: inline-block;
            margin: 0px 2px;
            background: #1d99d1;
            border-radius: 2px;
            cursor: pointer;
            border-radius: 20px;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            i {
                padding: 10px;

                &.right {
                    border-right: 1px solid darken(#1d99d1, 10%);
                }
            }

            .text {
                padding: 0px 10px;
                padding-right: 15px;
            }
        }
    }
}

@function get-color($color) {
    @if $color == "red" {
        @return #D24D57;
    }
    @else if $color == "blue" {
        @return #1d99d1;
    }
    @else if $color == "green" {
        @return #26A65B;
    }
    @else {
        @return #1d99d1;
    }
}

.ew-rounded-btn {
    $blue: #1d99d1;
    $red: #D24D57;

    // padding: 5px 20px;
    font-family: 'nunito','aller',sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0px 5px;
    background: get-color("blue");
    border-radius: 2px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    outline: none;
    border: 0px;
    white-space: nowrap;
    height: 30px;

    &:hover {
        text-decoration: none;
    }

    &.red {
        background: get-color("red");
    }

    &.blue {
        background: get-color("blue");
    }

    &.green {
        background-color: get-color("green");
    }

    @include display(flex);

    @include align-items(center);

    @include flex-direction(row);

    &.disable {
        pointer-events: none;
        background: lighten($blue, 10%);
    }

    i {
        padding: 7px 10px;
        margin-left: 5px;
        color: white;

        &.right {
            border-right: 1px solid rgba(0, 0, 0, 0.25);
        }

        &.left {
            border-left: 1px solid rgba(0, 0, 0, 0.25);
        }
    }

    .text {
        padding: 0px 10px;
        padding-right: 15px;
        text-decoration: none;
        color: white;
    }
}

.ew-modal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 0px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in;

    &.no-overflow {
        overflow: hidden;
    }

    &.ew-modal-open {
        height: 100vh;
    }

    &.ew-modal-close {
        height: 0vh;
    }
}

tooltip tip-tip {
    font-size: 14px !important;
    font-family: 'nunito',sans-serif;
    text-transform: initial;
}

tooltip tip {
    white-space: nowrap;
    text-transform: initial;
}


.background {
    background-image: url(/assets/images/bg_new.png);
    background-position: 0 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background-color: #1dbed0;

    @media (max-width: 1079px){
        background: #f4f4f4;
    }
}
body.tablet{
    .tree_menu{
        display: none;
    }
    .site-menu{
        position: static;
        background: #fff;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #ccc;
        >a.logo{
            display: block;
            float: left;
            margin-left: 15px;
            img{
                max-width: 200px;
                margin: 3px 0px 0px 0px;
                width: 100%;
            }
        }
        .list{
            float: right;
            .item {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    .icon {
                        i {
                            color: #014c8c;
                        }
                    }
                    .text {
                        display: none;
                    }
                }
            }
            .item{
                padding: 0px 10px;
                .icon{
                    svg{
                        polygon{
                            fill:#014c8c;
                        }
                    }
                }
            }
            .item.notification{
                i{
                    margin-top: 0px;
                    display: block;
                }
                .menu{
                    right: 3px;
                }
            }
        }
    }
    .home-top{
        margin-left: 0px;
        width: 100%;
        left: 0px;
        max-width: 100%;
        padding: 0px;
        position: static;
        margin: 0px;
        transform: none;
        .background-top{
            display: none;
        }
        .img{
            img{
                display: none;
            }
        }
        .logo{
            display: none;
        }
        .page-links{
            margin: 0px 0px 0px;
        }
    }

    .content{
        max-width: 100%;
        left: 0px;
        padding: 0px;
        margin: 0px;
        height: auto;
        position: static;
    }

}
