@mixin overlay($backColor) {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $backColor;
}

@mixin starRating {
    .star-rating {
        margin: 0;
        padding: 0;
        display: inline-block;

        .star {
            padding: 1px;
            color: #ddd;
            font-size: 20px;
            text-shadow: .05em .05em #aaa;
            list-style-type: none;
            display: inline-block;
            cursor: pointer;

            &.filled {
                color: #fd0;
            }

            &.filled:before {
                // content:"&#xf005;";
           
            }

            &:before {
                // content:"&#xf006;";
           
            }
        }

        &.readonly .star.filled {
            color: darken(#fd0, 20%);
        }
    }
}

@mixin add-animation($name) {
    @include animation-name($name);

    @include animation-duration(0.2s);

    @include animation-timing-function(ease);

    @include animation-fill-mode(forwards);
}

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point == large_desktop {
        @media (min-width: 105em) {
            @content;
        }
    }

    @if $point == screen_1367 {
        @media (min-width: 1367px) {
            @content;
        }
    }

    @if $point == screen_1000 {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @if $point == screen_1280 {
        @media (min-width: 1280px) {
            @content;
        }
    }

    @if $point == desktop {
        @media (min-width: 80em) {
            @content;
        }
    }
    @else if $point == laptop {
        @media (min-width: 64em) {
            @content;
        }
    }
    @else if $point == tablet {
        @media (min-width: 50em) {
            @content;
        }
    }
    @else if $point == phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    }
    @else if $point == mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}