<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal">
					<fieldset>
						<legend>Add User Courses</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="userid">UserId</label>
							<div class="col-sm-10">
								<ui-select multiple limit="1" ng-model="vm.selectedUser" on-select="vm.getUserPuchasedCourses()" on-remove="vm.getUserPuchasedCourses()" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select User...">
								        <span ng-bind="$item.dsp_nm"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item in (vm.users | filter: $select.search) track by $index">
								        <span ng-bind="item.dsp_nm"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="courses">Bundles</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedBundles"  theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Bundle...">
								        <span ng-bind="$item.bundleName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item in (vm.bundles | filter: $select.search) track by $index">
								        <span ng-bind="item.bundleName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="startdate">Start Date</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="startdate" ng-model="vm.form.startDate" placeholder="mm-dd-yyyy"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="enddate">End Date</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="enddate" ng-model="vm.form.endDate" placeholder="mm-dd-yyyy"></input>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-7">
								<button class="form-control btn btn-primary submit" ng-disabled="vm.selectedUser.length != 1 || vm.selectedBundles.length <= 0 || !vm.form.startDate || !vm.form.endDate" ng-click="vm.saveUserBundle()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="vm.form.success">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.purchasedCourses">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.purchasedCourses">
				<uib-accordion close-others="false" ng-repeat="course in vm.purchasedCourses">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								{{course.courseId}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in course">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>
						</div>
					</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>