.question-title {
    font-family: aller;
    font-size: 17px;
    font-weight: bold;
}

.question-ans {
    font-family: aller;
    font-size: 15px;
}

.gray-back {
    background: #e5e5e5;
    padding: 0px 10px;
}

.remove-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 15px;
    cursor: pointer;
}