<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Getting Started Points</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training Name</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.crs_id" id="course" class="form-control"
									ng-options="course.courseId as course.courseName for course in vm.coursesMaster" ng-change="vm.onTrainingChange()">
									<option value=""> <b>Select Training</b> </option>
								</select>
								<!-- <input type="text" class="form-control" placeholder="Course Name" ng-model="vm.form.crs_nm"/> -->
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="title">Description</label>
							<div class="col-xs-10">
								<!-- <input type="text" class="form-control" placeholder="Enter Title" ng-model="vm.title"/> -->
								<textarea froala="vm.EditorConfig" class="form-control" style="margin-top: 5px;" id="desc" placeholder="Description" ng-model="vm.form.desc" ></textarea>
								<!-- <div style="margin: 10px 0px;" ng-click="vm.addPointToList()" class="btn btn-primary pull-right">Add</div> -->
							</div>
						</div>
						<div class="clearfix"></div>
						<!-- <div class="form-group" ng-repeat="point in vm.form.gettingStarted track by $index">
							<label class="col-xs-2 control-label" for="curriculam">{{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="question-title">{{point["title"]}}</div>
								<div class="question-ans" ng-bind-html="point['desc']"></div>
								<div class="remove-btn" ng-click="vm.removePointFromList($index)">
									<i class="fa fa-times" style="color: red"></i>
								</div>
							</div>
						</div> -->
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.crs_id" ng-click="vm.addGettingStarted()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allGettingStarted">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allGettingStarted">
				<uib-accordion close-others="false" ng-repeat="gs in vm.allGettingStarted">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>

								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteGettingStarted(gs.crs_id)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editGettingStarted(gs.crs_id)"><i class="fa fa-pencil"></i></span>
								{{gs.crs_id}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in gs">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>