<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<fieldset>
					<legend>Add Module</legend>
					<form class="form form-horizontal" name="form">
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="course">Course</label>
							<div class="col-sm-10">
								<select id="course" ng-model="amc.form.course" ng-change="amc.changeCourse()"  class="form-control"
									ng-options='course.courseId as course.courseName for course in amc.courselist'>
									<option value="">Select Course</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="module">Module Number</label>
							<div class="col-sm-10">
								<input type="text" id="module" class="form-control" placeholder="Module Number" readonly ng-model="amc.form.moduleNumber"/>
								<!--<select id="module" ng-model="amc.form.moduleNumber" ng-change="amc.changeModule()" class="form-control"-->
									<!--ng-options='module for module in amc.modulelist'>-->
									<!--<option value="">Module Number</option>-->
								<!--</select>-->
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="modulesname">Module Name</label>
							<div class="col-sm-10">
								<input type="text" ng-disabled="!amc.form.course" id="modulesname" class="form-control" placeholder="Module Name" ng-model="amc.form.moduleName" required/>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="moduledesc">Module Desc</label>
							<div class="col-sm-10">
								<textarea id="moduledesc" ng-disabled="!amc.form.course" class="form-control" spellcheck="true" placeholder="Module Description" ng-model="amc.form.moduleDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="moduleweight">Module Weight</label>
							<div class="col-sm-10">
								<input type="text" id="moduleweight" ng-disabled="!amc.form.course" class="form-control" spellcheck="true" placeholder="Module Weight to order modules" ng-model="amc.form.moduleWeight" required></input>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-primary submit"  ng-click="amc.resetCourseModule()">New Module</button>
							</div>
							<div class="col-sm-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!amc.form.course" ng-click="amc.addCourseModule()">{{amc.buttonName}}</button>
							</div>
						</div>
					</form>
				</fieldset>
				<div ng-if="amc.submitted">
					<div class="ds-alert" ng-if="amc.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!amc.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!amc.moduleFullData">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="amc.moduleFullData">
				<uib-accordion close-others="false" ng-repeat="module in amc.moduleFullData | orderBy:'moduleWeight'">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="amc.deleteCourseModule(module.courseId,module.moduleNumber)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="amc.updateFormWithData(module.courseId,module.moduleNumber)"><i class="fa fa-pencil"></i></span>
								{{module.moduleNumber}} - {{module.moduleName}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in module">
						<div ng-if="key != '_id'">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>