@import "../../assets/scss/_common_test.scss";

.course-child-wrapper {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 40px;

    .title {
        font-size: 18px;
        font-family: 'nunito',sans-serif;
        margin-bottom: 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);
    }

    .tf-wrapper {
        margin-bottom: 10px;

        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);

        input {
            background: white;
            margin-right: 10px;
            padding: 0px 10px;
            border-radius: 5px;
        }

        label {
            margin-bottom: 0px;

            @include flex(1);
        }
    }

    table {
        input {
            padding: 0px 10px !important;
            border-radius: 5px !important;
            background: white !important;
        }

        input[readonly] {
            background: #f4f4f4 !important;
        }
    }

    .child {
        font-size: 15px;

        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);
    }

    .inline-remove-btn {
        text-decoration: underline;
        color: red;
        font-size: 16px;
        cursor: pointer;
    }

    .inline-edit-btn {
        text-decoration: underline;
        color: green;
        font-size: 16px;
        cursor: pointer;
    }
}