<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Add New Board/Competitive Course</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="">Course Type</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.courseType" class="form-control" ng-change="vm.changeCourseType()">
									<option value="">Select Course Type</option>
									<option value="board">Board</option>
									<option value="competitive">Competitive</option>
									<option value="both">Both</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="">Select Course</label>
							<div class="col-xs-10">
								<ui-select multiple limit="1" ng-model="vm.selectedCourse" on-select="vm.onCourseChange($item, $model)" on-remove="vm.onCourseChange($item, $model)" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Course...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.allCourses | filter: $select.search) track by $index">
								        <span ng-bind="item.courseName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="course-child-wrapper" ng-if="vm.form.courseType && vm.selectedCourse.length > 0">
							<div class="title">
								<span>Add Child in Course</span>
							</div>
							<div class="tf-wrapper" style="margin-bottom: 5px;">
								<label>Child ID</label>
								<label>Child Name</label>
								<label>Child Weight</label>
								<span style="width: 100px;">
									
								</span>
							</div>
							<div class="tf-wrapper">
								<input type="text" class="form-control" ng-model="vm.childId" name="childid" placeholder="Enter Child Id">
								<input type="text" class="form-control" ng-model="vm.childName" name="childname" placeholder="Enter Child Name">
								<input type="text" class="form-control" ng-model="vm.childWeight" name="childweight" placeholder="Enter Child Weight">
								<span class="ew-rounded-btn" ng-click="vm.addChildToArray()">
									<i class="fa fa-plus right"></i>
									<span class="text">Add</span>
								</span>
							</div>
							<div class="children">
								<table class="table" ng-if="vm.form.children && vm.form.children.length > 0">
									<tr>
										<th>Number</th>
										<th>Child Id</th>
										<th>Child Name</th>
										<th>Child Weight</th>
										<th>Edit</th>
										<th>Remove</th>
									</tr>
									<tr ng-repeat="child in vm.form.children track by $index">
										<td>{{$index + 1}}</td>
										<td><input type="text" class="form-control" name="" ng-readonly="vm.editingChild != $index" ng-model="child.childId" placeholder="Enter child id" /></td>
										<td><input type="text" class="form-control" name="" ng-readonly="vm.editingChild != $index" ng-model="child.childName" placeholder="Enter child id" /></td>
										<td><input type="text" class="form-control" name="" ng-readonly="vm.editingChild != $index" ng-model="child.childWeight" placeholder="Enter child weight" /></td>
										<td>

											<!-- <span style="display: inline-flex;" class="ew-rounded-btn" ng-if="vm.editingChild != $index" ng-click="vm.editChildInArray($index)">
												<i class="fa fa-pencil right"></i>
												<span class="text">Edit</span>
											</span>
											<span style="display: inline-flex;" class="ew-rounded-btn green" ng-if="vm.editingChild === $index" ng-click="vm.saveChildInArray($index)">
												<i class="fa fa-save right"></i>
												<span class="text">Save</span>
											</span> -->
											<span class="inline-edit-btn" ng-if="vm.editingChild != $index" ng-click="vm.editChildInArray($index)">Edit</span>
											<span class="inline-edit-btn" ng-if="vm.editingChild === $index" ng-click="vm.saveChildInArray($index)">Save</span>
										</td>
										<td>
											<span class="inline-remove-btn" ng-click="vm.removeChildFromArray($index)">Remove</span>
											<!-- <span style="display: inline-flex;" class="ew-rounded-btn red" ng-click="vm.removeChildFromArray($index)">
												<i class="fa fa-times right"></i>
												<span class="text">Remove</span>
											</span> -->
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="form-group" ng-if="vm.form.courseType && vm.selectedCourse.length > 0">
							<div class="col-xs-2 col-xs-offset-8">
								<div class="ew-rounded-btn red" ng-click="vm.resetForm()">
									<i class="fa fa-trash right"></i>
									<span class="text">Reset</span>
								</div>
							</div>
							<div class="col-xs-2" >
								<div class="ew-rounded-btn green" 
								ng-click="vm.updateCourse()">
									<i class="fa fa-save right" ng-if="!vm.isFormSaving"></i>
									<i class="fa fa-circle-o-notch right" ng-if="vm.isFormSaving"></i>
									<span class="text">Save</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-md-12">
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.boardCompetitiveCourses">
				<uib-accordion close-others="false" ng-repeat="course in vm.boardCompetitiveCourses">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteCourse(course.course_id)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editCourse(course.course_id)"><i class="fa fa-pencil"></i></span>
								{{course.course_id}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in course">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>