<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Add Pricing</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Batch Training</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.crs_id" id="course" class="form-control"
									ng-options="bcourse.crs_id as bcourse.crs_id for bcourse in vm.allBatchCourses ">
									<option value=""> <b>Select Batch Training</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training Name</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Bundle Name" ng-model="vm.form.bndl_nm" name="">
							</div>
						</div>

						<!-- <div class="form-group">
							<label class="col-xs-2 control-label" >Include Courses</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.form.selectedCourses" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Course...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.allCourses | filter: $select.search) track by $index">
								        <span ng-bind="item.courseName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-xs-2 control-label" for="about">Price</label>
							<div class="col-xs-2">
								<select class="form-control" ng-model="vm.crs_price_curr">
									<option value="">Select Currency</option>
									<option ng-repeat="curr in vm.allCurrency track by $index" value="{{curr.currency_nm}}">{{curr.currency_nm}}</option>
								</select>
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control" placeholder="Amount" name="amount" ng-model="vm.crs_price_amount">
							</div>
							<div class="col-xs-4">
								<span class="btn btn-primary" ng-click="vm.addPriceToList()">Add Price</span>
							</div>
						</div>
						<div class="form-group" ng-repeat="(price,value) in vm.form.crs_price track by $index">
							<label class="col-xs-2 control-label" for="about">Price {{price}}</label>
							<div class="col-xs-10 gray-back">
								<span class="question-title">{{value}}</span>
								<div class="remove-btn" ng-click="vm.removePriceFromList(price)">
									<i class="fa fa-times" style="color: red"></i>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" >Msg</label>
							<div class="col-xs-10">
								<textarea type="text" class="form-control" placeholder="Msg" ng-model="vm.form.msg"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-click="vm.savePrice()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allPricelist">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allPricelist">
				<uib-accordion close-others="false" ng-repeat="pricelist in vm.allPricelist">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editPricelist(pricelist.crs_id)"><i class="fa fa-pencil"></i></span>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deletePricelist(pricelist.crs_id)"><i class="fa fa-times"></i></span>
						{{pricelist.bndl_nm}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in pricelist">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>