<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" name="form" onsubmit="return false;">
					<fieldset>
						<legend>Add Book Topic</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subject">Subject</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Subject...">
								        <span ng-bind="$item.subjectName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
								        <span ng-bind="item.subjectName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="author">Author</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Author...">
								        <span ng-bind="$item.authorName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
								        <span ng-bind="item.authorName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="publication">Publication</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedPublications" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Publication...">
								        <span ng-bind="$item.publicationName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
								        <span ng-bind="item.publicationName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="book">Book</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedBooks" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Book...">
								        <span ng-bind="$item.bookName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
								        <span ng-bind="item.bookName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="exam">Exam</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedExams" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Exam...">
								        <span ng-bind="$item.examName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
								        <span ng-bind="item.examName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Related Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedRelatedTopics" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Related Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="tag">Tag</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTags" theme="bootstrap" on-select="vm.updateBookTopics($item, $model)" on-remove="vm.updateBookTopics($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Tag...">
								        <span ng-bind="$item.tagName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
								        <span ng-bind="item.tagName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="booktopicname">Name</label>
							<div class="col-sm-10">
								<input type="text" id="booktopicname" class="form-control" placeholder="Book Topic Name" ng-model="vm.form.bookTopicName" name="booktopicname"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topicContent">Topic Content</label>
							<div class="col-sm-10">
								<textarea tbio configuration="default" id="topicContent" class="form-control" placeholder="Description" ng-model="vm.form.bookTopicContent" name="desc" rows="10"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Book Topic</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" ng-disabled="vm.selectedTopics.length <= 0 || !vm.form.bookTopicName" ng-click="vm.updateBookTopic()">
									Save
								</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.bookTopics">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.bookTopics">
				<uib-accordion close-others="false" ng-repeat="bookTopic in vm.bookTopics">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div  class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeBookTopic(bookTopic.bookTopicId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editBookTopic(bookTopic.bookTopicId)"><i class="fa fa-pencil"></i></span>
								{{bookTopic.bookTopicName}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in bookTopic">
						<div ng-if="key != '_id'">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	.video-upload-btn.disabled{
		pointer-events: none;
	}
</style>