<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" ng-submit="vm.updateGroup()">
					<fieldset>
						<legend>Add Topic</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="subject">Subject<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<ui-select multiple limit="1" ng-model="vm.selectedSubject" theme="bootstrap" on-select="vm.changeSubject($item, $model)" on-remove="vm.changeSubject($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Subject...">
								        <span ng-bind="$item.subjectName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
								        <span ng-bind="item.subjectName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Topic">Topic<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<ui-select multiple limit="1" ng-model="vm.selectedTopic" theme="bootstrap" on-select="vm.changeTopic($item, $model)" on-remove="vm.changeTopic($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span ng-bind="item.topicName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="groupName">Group Name<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="groupName" class="form-control" placeholder="Name" ng-model="vm.form.groupName" required=""/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="groupDesc">Description</label>
							<div class="col-sm-10">
								<textarea id="groupDesc" class="form-control" placeholder="Description" ng-model="vm.form.groupDesc" ></textarea>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label" for="groupId">Group Id</label>
							<div class="col-sm-10">
								<input type="text" id="groupId" class="form-control" placeholder="Id" ng-model="vm.form.groupId" readonly/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="groupNumber">Group Number</label>
							<div class="col-sm-10">
								<input type="text" id="groupNumber" class="form-control" placeholder="Group Number" ng-model="vm.form.groupNumber" readonly />
							</div>
						</div> -->
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Group</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" type="submit" ng-disabled="!vm.selectedTopic[0]">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchTopicGrops()" ng-if="!vm.groups || vm.groups.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isTopicsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isTopicsLoading"></i>
				<span class="text">Show Topicgroup</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.groups || vm.groups.length <= 0">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.groups">
				<uib-accordion close-others="false" ng-repeat="group in vm.groups">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeGroup(group.groupId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editGroup(group.groupId)"><i class="fa fa-pencil"></i></span>
								{{group.groupName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in group">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreTopicGroups()" ng-if="(vm.groups==[] || vm.groups.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isTopicsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isTopicsLoading"></i>
				<span class="text">More</span>
			</div>	
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>