body {
    font-family: 'Nunito','Roboto Condensed',sans-serif;
}

.master-wrapper {
    font-size: 16px;
    height: 100vh;

    /*width: 100vw;*/
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

.master-wrapper .quiz-bg-color {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: white;
}

@media (min-width: 1000px) {
    .master-wrapper .quiz-bg-color {
        background: #1dbed0;
    }
}

.master-wrapper .bg-image {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: none;
}

@media (min-width: 1000px) {
    .master-wrapper .bg-image {
        display: block;
    }
}

@media (min-width: 105em) {
    .master-wrapper .bg-image {
        top: auto;
        bottom: 0px;
    }
}

.master-wrapper .bg-left-image {
    position: fixed;
    right: 1366px;
    bottom: 0px;
    display: none;
}

@media (min-width: 1281px) {
    .master-wrapper .bg-left-image {
        display: block;
    }
}

.master-wrapper .sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    padding-top: 0px;
    bottom: 0px;
    z-index: 100;
    width: 300px;
    display: none;
}

@media (min-width: 1280px) {
    .master-wrapper .sidebar {
        display: block;
    }
}

@media (min-width: 105em) {
    .master-wrapper .sidebar {
        width: 400px;
    }
}

.master-wrapper .sidebar .tree-img {
    position: absolute;
    top: 60px;
    z-index: 11;
    display: none;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .tree-img {
        display: block;
        top: 140px;
    }
}

@media (min-width: 80em) {
    .master-wrapper .sidebar .tree-img {
        display: block;
    }
}

.master-wrapper .sidebar .tree-img img {
    width: 300px;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .tree-img img {
        width: 400px;
    }
}

.master-wrapper .sidebar .tree-img .tree-menu {
    position: absolute;
    width: 75px;
    bottom: 20px;
    right: 62px;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .tree-img .tree-menu {
        width: 100px;
        right: 82px;
    }
}

.master-wrapper .sidebar .tree-img .menu-item {
    background: white;
    margin: 10px 0px;
    color: #222;
    text-align: center;
    padding: 10px 0px;
}

.master-wrapper .sidebar .courselist-apple {
    position: absolute;
    top: 250px;
    right: 10px;
    cursor: pointer;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .courselist-apple {
        top: 400px;
    }
}

.master-wrapper .sidebar .extra-apple {
    position: absolute;
    top: 170px;
    right: 130px;
    cursor: pointer;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .extra-apple {
        top: 350px;
        display: block;
    }
}

.master-wrapper .main-container {
    position: relative;
}

.master-wrapper .main-container .roof-wrapper {
    position: fixed;
    top: 00px;
    width: 963px;
    height: 145px;
    font-size: 30px;
    color: white;
    text-align: center;
    background: #1dbed0;
    z-index: 10;
    display: none;
}

@media (min-width: 1000px) {
    .master-wrapper .main-container .roof-wrapper {
        right: auto;
        left: 50%;
        margin-left: -481.5px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .master-wrapper .main-container .roof-wrapper {
        left: auto;
        margin-left: 0px;
        right: 260px;
    }
}

@media (min-width: 105em) {
    .master-wrapper .main-container .roof-wrapper {
        right: auto;
        left: 50%;
        margin-left: -481.5px;
    }
}

.master-wrapper .main-container .roof-wrapper .roof-img {
    width: 100%;
    height: 100%;
}

.master-wrapper .main-container .roof-wrapper .logo-img {
    position: absolute;
    top: 60px;
}

.master-wrapper .main-container .roof-wrapper .logo-img img {
    position: relative;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed {
    position: absolute;
    top: 145px;
    left: 0px;
    right: 0px;
    padding-left: 62px;
    padding-right: 66px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 {
    top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 .menu-item {
    font-size: 13px !important;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 .menu-item .search-btn {
    padding: 0px 8px;
}

@media (min-width: 1000px) {
    .master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 {
        display: none;
    }
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item:before {
    /*content: ' ';*/
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item:after {
    /*content: ' ';*/
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 transparent transparent #666;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item.search-box-field {
    padding: 5px 10px;
    background: #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item.search-box-field .search-btn {
    height: 40px;
    border-radius: 3px;
    padding: 0px 15px;
    background: white;
    color: #1778a4;
    margin-left: 15px;
    font-weight: normal;
    white-space: nowrap;
    font-family: Roboto Condensed;
    text-transform: capitalize;
    font-size: 25px;
    word-spacing: 2px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item .link-text-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item .link-text {
    height: 40px;
    border-radius: 3px;
    padding: 0px 15px;
    background: white;
    color: #1778a4;
    font-weight: normal;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 15px;
    word-spacing: 2px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item .link-text a {
    color: #1778a4;
    text-decoration: none;
}

.master-wrapper .main-container .main-content-wrapper {
    position: absolute;
    padding-top: 10px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 1000px) {
    .master-wrapper .main-container .main-content-wrapper {
        padding-top: 90px;
        width: 835px;
        right: auto;
        left: 50%;
        margin-left: -438.5px;
        padding-top: 215px;
    }
}

@media (min-width: 1280px) {
    .master-wrapper .main-container .main-content-wrapper {
        right: 326px;
        left: auto;
        margin-left: 0px;
    }
}

@media (min-width: 105em) {
    .master-wrapper .main-container .main-content-wrapper {
        right: auto;
        left: 50%;
        margin-left: -419.5px;
    }
}

.mobile-logo-img {
    display: block;
}

.mobile-logo-img img {
    height: 40px;
}

@media (min-width: 1000px) {
    .mobile-logo-img {
        display: none;
    }
}

.page-wrapper {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
}

.page-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    color: #555;
    min-height: calc(100vh - 215px) !important;
}

.page-content h2 {
    font-size: 40px;
    font-weight: normal;
}

.page-content h3 {
    font-size: 30px;
    font-weight: normal;
}

.page-content h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0px;
}

.left-side {
    width: 450px;
}

.links a {
    display: block;
    text-decoration: none;
    color: #1d99d1;
    margin: 5px 0px;
    font-size: 16px;
}