body {
  color: #666666;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.846; }

li {
  list-style: none; }

/*= CAREER PAGE =*/
.ew-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; }

.career-book-page {
  /*= MAIN CONTENT =*/ }
  .career-book-page .top_block {
    height: 227px; }
    .career-book-page .top_block .bg_block {
      z-index: 9; }
    .career-book-page .top_block .house_logo {
      z-index: 99; }
  .career-book-page .tools_block .search-block {
    flex: 0 0 40%; }
  .career-book-page .tools_block .menu-bar {
    flex: 0 0 60%; }
  .career-book-page .tools_block .roof-search-bar.search {
    color: #212121;
    position: relative;
    width: 100%; }
    .career-book-page .tools_block .roof-search-bar.search input {
      border: 1px solid #a1abb5;
      border-radius: 3px;
      box-shadow: 0 0 0;
      height: 35px;
      line-height: 40px;
      padding: 0 10px;
      width: 100%;
      margin-top: 7px; }
  .career-book-page .tools_block .menu-bar ul {
    margin: 0;
    padding: 0; }
    .career-book-page .tools_block .menu-bar ul li {
      float: left;
      list-style: none;
      margin: 3px 10px 5px;
      padding: 0 6px;
      position: relative; }
      .career-book-page .tools_block .menu-bar ul li a {
        font-size: 13px;
        color: #404040;
        display: block;
        text-align: center; }
      .career-book-page .tools_block .menu-bar ul li img {
        height: 40px;
        width: 31px; }
      .career-book-page .tools_block .menu-bar ul li span {
        display: block;
        line-height: normal;
        padding-top: 2px;
        font-family: waverly; }
  .career-book-page .tools_block .menu-bar .dialog-box {
    position: absolute;
    top: 90px;
    left: 50%;
    width: 400px;
    background-color: #fff;
    margin-left: -200px;
    border: 1px solid #ccc;
    z-index: 9; }
    .career-book-page .tools_block .menu-bar .dialog-box:before {
      border-bottom: 10px solid #1778a5;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      left: -5px;
      margin-left: 50%;
      position: absolute;
      top: -10px; }
    .career-book-page .tools_block .menu-bar .dialog-box .small-title-bar {
      background: #1778a5;
      border-bottom: 1px solid #1878a5;
      color: white;
      font-size: 14px;
      padding: 5px 10px; }
    .career-book-page .tools_block .menu-bar .dialog-box .friend-req-wrapper {
      margin: 10px 0;
      padding: 5px;
      height: 50px;
      overflow: auto;
      font-size: 17px;
      font-family: "Roboto Condensed",sans-serif;
      color: #222222; }
    .career-book-page .tools_block .menu-bar .dialog-box.notification {
      left: auto;
      right: 0;
      margin-left: 0; }
      .career-book-page .tools_block .menu-bar .dialog-box.notification:before {
        left: 41%; }
  .career-book-page .main_content {
    margin-top: 136px; }
    .career-book-page .main_content .user-not-loggedin {
      background-color: #f4f4f4;
      padding: 10px 20px;
      min-height: 100vh; }
      .career-book-page .main_content .user-not-loggedin p {
        background-color: #fff;
        padding: 10px; }

/*= POST SECTION =*/
.post-section > li {
  background-color: #fff;
  box-shadow: 0 1px 1px #cccccc;
  margin-bottom: 20px; }
  .post-section > li .head {
    position: relative;
    padding: 10px; }
  .post-section > li .status-textarea {
    border: 0;
    width: 100%; }
  .post-section > li .profile-pic {
    float: left;
    height: 50px;
    width: 50px; }
  .post-section > li .profile-name {
    padding-left: 60px; }
    .post-section > li .profile-name span {
      display: block; }
    .post-section > li .profile-name .username {
      color: #36599b;
      cursor: pointer;
      font-family: aller;
      font-size: 15px;
      font-weight: bold;
      text-transform: capitalize; }
    .post-section > li .profile-name .time {
      color: #5e5e5e; }
  .post-section > li .post-options {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px; }
    .post-section > li .post-options .list-group {
      position: absolute;
      right: 0;
      top: 15px;
      white-space: nowrap;
      z-index: 1; }
      .post-section > li .post-options .list-group ul {
        padding: 0; }
        .post-section > li .post-options .list-group ul li a {
          padding: 8px 12px;
          border-radius: 3px;
          color: #545454;
          border: 1px solid #dedede;
          position: relative;
          font-size: 12px;
          font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif; }
          .post-section > li .post-options .list-group ul li a:hover {
            background-color: whitesmoke; }
.post-section .post-content {
  padding: 10px; }
  .post-section .post-content p {
    color: #222222;
    font-size: 15px;
    font-family: "Aller";
    margin: 0 0 12px; }
.post-section .attached-details {
  border: 0 solid #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  padding: 10px; }
  .post-section .attached-details .img-block img {
    width: 100%; }
.post-section h4 {
  font-size: 20px;
  padding: 5px;
  font-family: "Roboto Condensed",sans-serif;
  margin: 0;
  font-weight: 500; }
.post-section .url {
  padding: 5px; }
  .post-section .url a {
    color: #2094f3;
    font-size: 13px; }

.action-btns {
  padding: 10px; }
  .action-btns span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-family: "Roboto Condensed",sans-serif;
    margin: 10px 10px 0 0;
    position: relative; }
    .action-btns span.ds-btn {
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      font-size: 15px;
      padding: 0 9px; }
    .action-btns span i {
      margin-right: 15px; }
    .action-btns span small {
      position: absolute;
      top: -33px;
      left: 0;
      min-width: 160px;
      background-color: white;
      border-radius: 3px;
      padding: 2px 2px 0;
      font-size: 13px;
      z-index: 99;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      text-align: center; }
    .action-btns span .dropdown-menu {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      margin-top: 0;
      position: absolute;
      text-align: left;
      top: 100%;
      left: 0;
      padding: 0;
      min-width: 160px;
      background-color: #fff;
      z-index: 9; }
      .action-btns span .dropdown-menu li {
        color: #212121;
        cursor: pointer;
        padding: 3px 10px;
        font-size: 13px; }
        .action-btns span .dropdown-menu li i {
          margin-right: 7px; }

.blue-btn {
  background-color: #1d99d1; }

.cancel-btn {
  background-color: #d24d57; }

.fb-emotion {
  background: url(../images/fb-emotions.png) 0 0 no-repeat;
  display: inline-block;
  height: 17px;
  margin: 6px 5px 0px 6px;
  width: 17px; }

.fb-emotion-like {
  background-position: -144px -35px; }

.fb-emotion-love {
  background-position: 0 -60px; }

.fb-emotion-haha {
  background-position: -127px -35px; }

.fb-emotion-sad {
  background-position: -34px -60px; }

.fb-emotion-wow {
  background-position: -51px -60px; }

/*= COMMENT SECTION =*/
.comment-section {
  background-color: #f6f7f8;
  padding: 10px; }
  .comment-section .comment-field .profile-pic {
    float: left;
    height: 32px;
    width: 32px; }
  .comment-section .comment-field .comment-area {
    padding-left: 42px;
    position: relative; }
    .comment-section .comment-field .comment-area textarea {
      width: 100%;
      min-height: 50px;
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: scroll;
      resize: none;
      border: 1px solid #cccccc;
      background-color: #fff;
      padding: 0 10px;
      line-height: 28px; }
  .comment-section .comments .profile-pic {
    border: 0 none;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
    width: 32px; }
  .comment-section .comments .view-comment {
    width: 100%;
    padding-left: 40px; }
  .comment-section .comments .username {
    color: #36599b;
    cursor: pointer;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize; }
  .comment-section .comments .text {
    color: #212121;
    font-family: "Q_Serif";
    font-size: 16px;
    overflow: hidden;
    white-space: pre-wrap; }
  .comment-section .comments .action-btns {
    padding: 0; }
    .comment-section .comments .action-btns span {
      font-size: 14px;
      font-family: helvetica,arial,sans-serif;
      color: #36599b;
      margin: 0 15px 0 0;
      padding: 0;
      float: left; }
      .comment-section .comments .action-btns span.fb-emotion {
        margin-top: 5px;
        margin-right: 5px; }
  .comment-section .comments .sub-comment-wrapper {
    border-left: 1px solid #cccccc;
    margin-left: 40px;
    margin-top: 20px; }

/*= TREE MENU =*/
.tree_menu {
  right: 0px;
  top: 78px;
  background: url(../images/right-menu/tree-img.png);
  width: calc((100% - 880px)/2);
  height: 100%;
  background-position: top 0px right 0px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: fixed;
  z-index: 0; }
  .tree_menu ul {
    height: calc(100% - 208px);
    margin: 0px;
    padding: 0px;
    margin-top: 130px; }
    .tree_menu ul li {
      height: 25%;
      list-style: none;
      padding: 10px 0px; }
      .tree_menu ul li .img {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        margin: 0px auto;
        max-width: 150px;
        max-height: 100%;
        height: 100%; }
        .tree_menu ul li .img a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform-origin: left top;
          z-index: 10;
          text-align: center;
          font-weight: bold;
          font-size: 13px;
          line-height: 15px;
          color: white; }
          .tree_menu ul li .img a:hover {
            color: black; }
        .tree_menu ul li .img img {
          max-height: 100%;
          width: auto;
          display: block;
          max-width: 100%;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .tree_menu ul li:nth-child(1) .img {
        left: -50px; }
      .tree_menu ul li:nth-child(1) a {
        transform: rotate(10deg) translate(-50%, -50%);
        margin-top: -5px; }
      .tree_menu ul li:nth-child(2) .img {
        left: 0px; }
      .tree_menu ul li:nth-child(2) a {
        transform: rotate(-8deg) translate(-50%, -50%);
        margin-top: -6px;
        margin-left: 5px; }
      .tree_menu ul li:nth-child(3) .img {
        left: -90px; }
      .tree_menu ul li:nth-child(3) a {
        transform: rotate(12deg) translate(-50%, -50%);
        margin-top: -2px; }
      .tree_menu ul li:nth-child(4) .img {
        left: -35px; }
      .tree_menu ul li:nth-child(4) a {
        transform: rotate(-5deg) translate(-50%, -50%);
        margin-top: -6px;
        margin-left: 6px; }

/*= RESPONSIVE LAYOUT =*/
/*= TREE BLOCK =*/
@media only screen and (max-width: 1500px) {
  .tree_menu {
    width: calc((100% - 680px)/2); }

  .tree_menu ul li .img {
    max-width: 125px; }
  .tree_menu ul li:nth-child(1) .img {
    left: -50px; }
  .tree_menu ul li:nth-child(2) .img {
    left: 20px; }
  .tree_menu ul li:nth-child(3) .img {
    left: -50px; }
  .tree_menu ul li:nth-child(4) .img {
    left: 0px; } }
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
  .tree_menu {
    width: calc(100% - 850px); }

  .tree_menu ul li .img {
    max-width: 100px; }
  .tree_menu ul li:nth-child(1) .img {
    left: -20px; }
  .tree_menu ul li:nth-child(2) .img {
    left: 20px; }
  .tree_menu ul li:nth-child(3) .img {
    left: -25px; }
  .tree_menu ul li:nth-child(4) .img {
    left: 0px; }

  .examwarrior_theme.service_page .top_block {
    left: 40px; }

  .examwarrior_theme.service_page .main_content {
    margin-left: 25px; }

  .examwarrior_theme.service_page .custom_container {
    max-width: 890px; } }
@media (min-width: 1024px) and (max-width: 1199px) {
  .career-book-page .custom_container {
    max-width: 890px;
    margin: 0; }
  .career-book-page .top_block {
    left: 40px;
    max-width: 835px;
    margin: 0; }
  .career-book-page .main_content {
    margin-left: 25px; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .career-book-page .tools_block .search-block.tool_part {
    width: 40%; }
  .career-book-page .tools_block .tool_part.menu-bar {
    width: 60%; } }
@media (max-width: 1023px) {
  .career-book-page {
    background-color: #f4f4f4;
    overflow: visible; }
    .career-book-page .main_header {
      background-color: white; }
      .career-book-page .main_header .main_nav_list > li .mobile_menu {
        color: #383b3d;
        white-space: nowrap; }
    .career-book-page .custom_container {
      max-width: 100%;
      padding: 0; }
    .career-book-page .tree_menu {
      display: none; }
    .career-book-page .top_block {
      height: auto; }
    .career-book-page .tools_block .roof-search-bar.search input {
      margin-top: 0; }
    .career-book-page .tools_block .menu-bar ul {
      margin-top: 10px;
      width: 100%; }
    .career-book-page .main_content .user-not-loggedin {
      min-height: 10px; }
    .career-book-page.service_page .top_block .tools_block .tool_part {
      padding: 0; }
    .career-book-page .main_content {
      margin-top: 20px; } }
@media (min-width: 480px) and (max-width: 767px) {
  .career-book-page .tools_block .menu-bar ul {
    text-align: center; }
    .career-book-page .tools_block .menu-bar ul li {
      display: inline-block;
      float: none;
      margin: 0 7px; } }
@media (max-width: 767px) {
  .career-book-page .tools_block .search-block {
    margin-bottom: 10px; }
  .career-book-page .tools_block .search-block, .career-book-page .tools_block .menu-bar {
    flex: 0 0 100%; }
  .career-book-page .tools_block .menu-bar ul li {
    margin-bottom: 10px; }
  .career-book-page.service_page .top_block .tools_block .tool_part {
    background: rgba(29, 153, 211, 0.6) none repeat scroll 0 0; }

  .comment-section .comment-field .comment-area textarea {
    line-height: 17px; } }
@media (max-width: 639px) {
  .action-btns span {
    margin: 10px 2px 0 0;
    padding: 5px 4px;
    font-size: 11px; }
    .action-btns span i {
      margin-right: 3px; }
    .action-btns span.ds-btn {
      padding: 0 8px;
      font-size: 13px; } }
@media (max-width: 479px) {
  .career-book-page .tools_block .menu-bar li {
    width: 26%; }
    .career-book-page .tools_block .menu-bar li span {
      font-weight: bold; }
  .career-book-page .tools_block .menu-bar .dialog-box {
    margin-left: 0;
    left: auto;
    right: -20px;
    width: 300px;
    top: 77px; }
    .career-book-page .tools_block .menu-bar .dialog-box:before {
      display: none; }
    .career-book-page .tools_block .menu-bar .dialog-box.notification {
      right: -120px;
      top: 60px; } }

/*# sourceMappingURL=style.css.map */
