.bg-color {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #1dbed0;
}

.bg-image {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

@media screen and (min-width: 105em) {
    .bg-image {
        top: auto;
        bottom: 0px;
    }
}

.bg-left-image {
    position: fixed;
    right: 1366px;
    bottom: 0px;
    display: none;
}

@media screen and (min-width: 105em) {
    .bg-left-image {
        display: block;
    }
}

.main-container {
    position: relative;
}

.main-container .roof {
    position: fixed;
    width: 900px;
    height: 150px;
    margin: 0px auto;
    left: 50%;
    margin-left: -450px;
    top: 0px;
    z-index: 99;
    left: auto;
    right: 110px;
    top: calc(100vh - 1vh - 490px - 150px);
}

@media screen and (min-width: 105em) {
    .main-container .roof {
        left: auto;
        right: 110px;
        top: calc(100vh - 1vh - 600px - 150px);
    }
}

.main-container .roof .roof-content {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -160px;
}

.main-container-inner {
    width: calc(900px + 100px);
    background: #E3F5F7;
    position: absolute;
    left: 50%;
    margin-left: calc(-1000px / 2);
    top: 150px;
    padding: 30px;
    z-index: 98;

    /*padding: 30px;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    left: auto;
    right: 60px;
    height: 490px;
    top: calc(100vh - 1vh - 490px);
}

@media screen and (min-width: 105em) {
    .main-container-inner {
        left: auto;
        right: 60px;
        height: 600px;
        top: calc(100vh - 1vh - 600px);
    }
}

.info-wrapper {
    align-self: stretch;

    /*padding: 30px;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.info-wrapper li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
}

.info-wrapper .info-sec {
    flex: 1;
    white-space: nowrap;

    /*margin: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    width: 300px;
    border-bottom: 3px solid white;
    color: white;
}

.info-sec:nth-of-type(2n+1) {
    background: rgba(0, 0, 0, 0.2);
}

.info-sec.blue {
    background: #9295CA;
}

.info-sec.red {
    background: #E66665;
}

.info-sec.green {
    background: #9ECEB4;
}

.info-wrapper i {
    margin: 0px 5px;
    width: 30px;
}

.info-wrapper .head {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    margin: 10px 0px;
}

.contactus-wrapper1 {
    display: none;
}

.form-wrapper {
    width: 450px;

    /*padding: 30px 10px;*/
    /*background: rgba(0, 0, 0, 0.5);*/
    border-radius: 6px;
    align-self: stretch;
}

.form-wrapper form {
    padding: 20px;
    background: #9ECEB4;
    border-radius: 3px;
}

.form-wrapper .quote {
    font-size: 20px;
    font-family: 'Roboto Condensed',sans-serif;
    padding: 10px 0px;
}