/*********************BREAKPOINTS*********************/
body {
    font-family: 'Nunito','Roboto Condensed','Roboto',sans-serif;
}

.master-wrapper {
    font-size: 16px;
    height: 100vh;

    /*width: 100vw;*/
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

.master-wrapper .quiz-bg-color {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: white;
}

@media (min-width: 1000px) {
    .master-wrapper .quiz-bg-color {
        background: #1dbed0;
    }
}

.master-wrapper .bg-image {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

@media (min-width: 105em) {
    .master-wrapper .bg-image {
        top: auto;
        bottom: 0px;
    }
}

.master-wrapper .bg-left-image {
    position: fixed;
    right: 1366px;
    bottom: 0px;
    display: none;
}

@media (min-width: 1281px) {
    .master-wrapper .bg-left-image {
        display: block;
    }
}

.master-wrapper .sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    padding-top: 0px;
    bottom: 0px;
    z-index: 100;
    width: 300px;
    display: none;
}

@media (min-width: 1280px) {
    .master-wrapper .sidebar {
        display: block;
    }
}

@media (min-width: 105em) {
    .master-wrapper .sidebar {
        width: 400px;
    }
}

.big-bg-image {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-image: url(/assets/images/bg_new.png);
    background-attachment: fixed;
    background-position: 0 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.master-wrapper .sidebar .tree-img {
    position: absolute;
    top: 60px;
    z-index: 11;
    display: none;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .tree-img {
        display: block;

        /*top: 140px;*/
    }
}

@media (min-width: 80em) {
    .master-wrapper .sidebar .tree-img {
        display: block;
    }
}

.master-wrapper .sidebar .tree-img img {
    width: 300px;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .tree-img img {
        width: 400px;
    }
}

.master-wrapper .sidebar .tree-img .tree-menu {
    position: absolute;
    width: 75px;
    bottom: 20px;
    right: 62px;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .tree-img .tree-menu {
        width: 100px;
        right: 82px;
    }
}

.master-wrapper .sidebar .tree-img .menu-item {
    background: white;
    margin: 10px 0px;
    color: #222;
    text-align: center;
    padding: 10px 0px;
}

.master-wrapper .sidebar .courselist-apple {
    position: absolute;
    top: 250px;
    right: 10px;
    cursor: pointer;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .courselist-apple {
        top: 400px;
    }
}

.master-wrapper .sidebar .extra-apple {
    position: absolute;
    top: 260px;
    right: 50px;
    cursor: pointer;
}

@media (min-width: 105em) {
    .master-wrapper .sidebar .extra-apple {
        top: 300px;
        right: 100px;
        display: block;
    }
}

.master-wrapper .main-container {
    position: relative;
}

.master-wrapper .main-container .roof-wrapper {
    position: fixed;
    top: 00px;
    width: 963px;
    height: 145px;
    font-size: 30px;
    color: white;
    text-align: center;
    background: #1dbed0;
    z-index: 10;
    display: none;
}

@media (min-width: 1000px) {
    .master-wrapper .main-container .roof-wrapper {
        right: auto;
        left: 50%;
        margin-left: -481.5px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .master-wrapper .main-container .roof-wrapper {
        left: auto;
        margin-left: 0px;
        right: 260px;
    }
}

@media (min-width: 105em) {
    .master-wrapper .main-container .roof-wrapper {
        right: auto;
        left: 50%;
        margin-left: -481.5px;
    }
}

.master-wrapper .main-container .roof-wrapper .roof-img {
    width: 100%;
    height: 100%;
}

.master-wrapper .main-container .roof-wrapper .logo-img {
    position: absolute;
    top: 60px;
}

.master-wrapper .main-container .roof-wrapper .logo-img img {
    position: relative;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed {
    position: absolute;
    top: 145px;
    left: 0px;
    right: 0px;
    padding-left: 62px;
    padding-right: 66px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 {
    top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 .menu-item {
    font-size: 13px !important;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 .menu-item .search-btn {
    padding: 0px 8px;
}

@media (min-width: 1000px) {
    .master-wrapper .main-container .roof-wrapper .top-bar-fixed.screen-below--1000 {
        display: none;
    }
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item:before {
    /*content: ' ';*/
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item:after {
    /*content: ' ';*/
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #666 transparent transparent #666;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item.search-box-field {
    padding: 5px 10px;
    background: #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item.search-box-field .search-btn {
    height: 40px;
    border-radius: 3px;
    padding: 0px 15px;
    background: white;
    color: #1778a4;
    margin-left: 15px;
    font-weight: normal;
    white-space: nowrap;
    font-family: Roboto Condensed;
    text-transform: capitalize;
    font-size: 25px;
    word-spacing: 2px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item .link-text-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item .link-text {
    height: 40px;
    border-radius: 3px;
    padding: 0px 15px;
    background: white;
    color: #1778a4;
    font-weight: normal;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 15px;
    word-spacing: 2px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.master-wrapper .main-container .roof-wrapper .top-bar-fixed .menu-item .link-text a {
    color: #1778a4;
    text-decoration: none;
}

.master-wrapper .main-container .main-content-wrapper {
    position: absolute;
    padding-top: 10px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 1000px) {
    .master-wrapper .main-container .main-content-wrapper {
        padding-top: 90px;
        width: 835px;
        right: auto;
        left: 50%;
        margin-left: -438.5px;
        padding-top: 215px;
    }
}

@media (min-width: 1280px) {
    .master-wrapper .main-container .main-content-wrapper {
        right: 326px;
        left: auto;
        margin-left: 0px;
    }
}

@media (min-width: 105em) {
    .master-wrapper .main-container .main-content-wrapper {
        right: auto;
        left: 50%;
        margin-left: -419.5px;
    }
}

.mobile-logo-img {
    display: inline-block;
    margin: 10px;
}

.mobile-logo-img img {
    height: 40px;
}

@media (min-width: 1000px) {
    .mobile-logo-img {
        display: none;
    }
}

.info-wrapper {
    align-self: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: transparent;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.info-wrapper li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
}

.info-wrapper .info-sec {
    flex: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    width: 100%;
    border-bottom: 3px solid white;
    color: white;
    max-height: 150px;
    font-family: nunito,sans-serif;
}

@media screen and (min-width: 1000px) {
    .info-wrapper {
        width: auto;
    }

    .info-wrapper .info-sec {
        width: 300px;
    }
}

.info-sec:nth-of-type(2n+1) {
    background: rgba(0, 0, 0, 0.2);
}

.info-sec.blue {
    background: #9295CA;
}

.info-sec.red {
    background: #E66665;
}

.info-sec.green {
    background: #9ECEB4;
}

.info-wrapper i {
    margin: 0px 5px;
    width: 30px;
}

.info-wrapper .head {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    margin: 10px 0px;
}

.quote {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'nunito',sans-serif;
}

.header-btns {
    padding: 5px;
    font-family: 'Roboto Condensed',sans-serif;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 111;
    width: 100%;
    text-transform: capitalize;
}

.header-btns a {
    color: #222;
    text-decoration: none;
    margin: 0px 10px;
    padding: 0px;
}

.login-form-wrapper {
    max-width: 500px;
}

/*.login-form-wrapper .submit-btn {
    box-shadow: 0px 0px 0px;
    color: white;
    background: #1d99d1;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid transparent;
    text-transform: capitalize;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 30px;
    display: inline-block;
}

.login-form-wrapper .submit-btn:before {
    content: "hi";
}*/

.ew-rounded-btn {
    cursor: pointer;
    border-radius: 20px;
    background: #1d99d1;
    color: white;
    display: inline-block;
}

.ew-rounded-btn i {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.ew-rounded-btn .text {
    font-size: 16px;
    font-family: 'nunito',sans-serif;
    padding: 10px;
}

.submit-btn.disabled {
    pointer-events: none;
}

.social-media-login {
    margin-top: 15px;
    max-width: 100%;
}

@media (min-width: 1000px) {
    .header-btns a {
        color: #fff;
    }

    .social-media-login {
        margin-top: -65px;
    }
}

@media (min-width: 1280px) {
    .social-media-login {
        margin-top: 15px;
    }
}

.social-media-login {
    padding: 10px;
}

.login-form-wrapper input, .login-form-wrapper textarea {
    height: 40px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0px 0px 0px;
    font-family: 'nunito',sans-serif;
}

.form-group.error input {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.05);
}

.form-group.error .error-text {
    display: block !important;
}

.login-form-wrapper .error-text {
    font-size: 12px;
    font-family: 'nunito',sans-serif;
    color: red;
    display: none;
}

.login-form-wrapper textarea {
    height: auto;
}

.login-form-wrapper input[type="text"]:focus, .login-form-wrapper input[type="email"]:focus, .login-form-wrapper input[type="number"]:focus, .login-form-wrapper textarea:focus {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.05);
}