@font-face {
    font-family: 'waverly';
    src: url("/fonts/WaverlyCF-Light.eot");
    src: url("/fonts/WaverlyCF-Light.woff2") format("woff2"), url("/fonts/WaverlyCF-Light.woff") format("woff"), url("/fonts/WaverlyCF-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'waverly';
    src: url("/fonts/WaverlyCF-Bold.eot");
    src: url("/fonts/WaverlyCF-Bold.woff2") format("woff2"), url("/fonts/WaverlyCF-Bold.woff") format("woff"), url("/fonts/WaverlyCF-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'waverly';
    src: url("/fonts/WaverlyCF-ExtraBold.eot");
    src: url("/fonts/WaverlyCF-ExtraBold.woff2") format("woff2"), url("/fonts/WaverlyCF-ExtraBold.woff") format("woff"), url("/fonts/WaverlyCF-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.small-screen {
    display: block;
}

@media screen and (min-width: 64em) {
    .small-screen {
        display: none !important;
    }
}

.big-screen {
    display: none !important;
}

@media screen and (min-width: 64em) {
    .big-screen {
        display: block !important;
    }
}

.six-menu-wrapper {
    position: absolute;
    left: 636px;
    bottom: 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

@media screen and (min-width: 105em) {
    .six-menu-wrapper {
        bottom: 50px;
        font-size: 40px;
        left: 511px;
    }
}

.six-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.six-menu-item span {
    flex: 1;
    margin: 0px 115px;
    white-space: nowrap;
    color: #fff;
}

.six-menu-item a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 105em) {
    .six-menu-item span {
        margin: 0px 150px;
    }
}

.mask-on-image {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    top: 60px;
    left: 25px;
}

.mask {
    height: 240px;
}

.mask-1 {
    width: 300px;
}

.mask-2 {
    width: 660px;
}

.mask-3 {
    width: 630px;
}

.mask-4 {
    width: 330px;
}

.mask-5 {
    width: 310px;
}

.mask-6 {
    width: 650px;
}

.home-new-wrapper-3 {
    background: #1d99d1;

    /*#1dbed0;*/
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;

    /*min-height: calc(818px + 150px);*/
    top: 0px;
    bottom: 0px;
    left: 0px;
}

@media screen and (min-width: 105em) {
    .home-new-wrapper-3, .fluid-container {
        overflow: hidden;
        min-height: calc(818px);
    }
}

.home-new-wrapper-3 .header {
    padding: 10px 0px;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.header-btns {
    padding: 5px;
    color: white;
    font-family: 'Waverly',sans-serif;
}

.header-btns a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    padding: 0px;
}

.home-new-wrapper-3 .logo-wrapper {
    padding: 0px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.home-new-wrapper-3 .logo-wrapper .logo-text {
    font-family: waverly;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px 10px;
}

.why-us-btn {
    cursor: pointer;
    position: absolute;
    right: 85px;
    color: white;
    bottom: 285px;
    font-size: 50px;
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
}

.bg-image {
    position: absolute;
    top: 150px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1366px;
    height: 818px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 105em) {
    .bg-image {
        top: auto;
        bottom: 0px;
    }
}

.bg-image.blur {
    background-image: url("/assets/images/home_1366_blur.png");
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.bg-image.real {
    background-image: url("/assets/images/home_1366.png");
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.bg-right-image {
    position: absolute;
    left: 1366px;
    top: 0px;
    height: 818px;
    display: none;
}

.bg-large-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.apple-img-wrap {
    position: absolute;
    height: 165px;
}

.apple-img-wrap img {
    height: 100%;
}

.girl-img {
    position: absolute;
    right: 0px;
    bottom: -5px;
}

.apple-text {
    position: absolute;
    font-family: 'waverly';
    font-size: 20px;
    width: 137px;
    height: 165px;
    top: 0px;
    left: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.apple-text:hover {
    color: white;
}

.img-1 {
    right: 650px;
    bottom: 280px;
}

.img-2 {
    right: 500px;
    bottom: 80px;
    transform: rotate(-15deg);
}

.img-3 {
    right: 1000px;
    bottom: 350px;
    transform: rotate(12deg);
}

.img-4 {
    right: 920px;
    bottom: 42px;
}

.leaves {
    position: absolute;
    left: 50%;
    margin-left: -350px;
    bottom: 100px;
    width: 400px;
    height: 400px;
}

.leaves img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1920px) {
    .img-1 {
        bottom: 350px;
    }

    .img-2 {
        bottom: 150px;
    }

    .img-3 {
        bottom: 420px;
    }

    .img-4 {
        bottom: 120px;
    }

    .leaves {
        bottom: 170px;
    }
}

@media screen and (min-width: 1367px) {
    .bg-right-image {
        top: auto;
        bottom: -1px;
        display: block;
    }
}

@media screen and (min-width: 1920px) {
    .bg-right-image {
        right: 0px;
    }

    .bg-right-image img {
        width: 100%;
        height: 100%;
    }
}

.home-new-wrapper-3 .box {
    z-index: 1000;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.home-new-wrapper-3 .box .box-content {
    padding: 00px 20px;
    border: 0px solid #333;
    border-top: 0px;
    overflow: hidden;
    position: relative;

    /*max-width: 1280px;*/
    max-width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.home-new-wrapper-3 .box .rocket {
    position: absolute;
}

.first-rocket {
    left: 29%;
}

.second-rocket {
    right: 30%;
}

@media (min-width: 105em) {
    .first-rocket {
        left: 32.7%;
    }

    .second-rocket {
        right: 33%;
    }
}

.home-new-wrapper-3 .box .box-part {
    position: relative;
    padding: 70px 0px;

    /*height: 30vh;*/
    margin-bottom: 30px;
    overflow: hidden;

    /*border-bottom: 2px solid white;*/
    min-width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    align-self: stretch;
    -ms-flex-item-align: stretch;
}

@media (min-width: 64em) {
    .box-part {
        min-width: calc(50% - 50px) !important;
        margin-right: 100px;
    }
}

.box-part.right-bottom:after {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    bottom: -16vh;
    right: -16vh;
    border-radius: 50%;
}

.box-part.right-top:after {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    top: -16vh;
    right: -16vh;
    border-radius: 50%;
}

.box-part.right-bottom-before:before {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    bottom: -16vh;
    right: -16vh;
    border-radius: 50%;
}

.box-part.left-bottom-before:before {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    bottom: -16vh;
    left: -16vh;
    border-radius: 50%;
}

.box-part.right-top-before:before {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    top: -16vh;
    right: -16vh;
    border-radius: 50%;
}

.box-part.left-bottom:after {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    bottom: -16vh;
    left: -16vh;
    border-radius: 50%;
}

.box-part.left-top:after {
    position: absolute;
    width: 32vh;
    height: 32vh;
    background: #1dbed0;
    content: '';
    top: -16vh;
    left: -16vh;
    border-radius: 50%;
}

.home-new-wrapper-3 .box .box-part:nth-child(2n) {
    margin-right: 0px;
}

.home-new-wrapper-3 .box .box-part .icon {
    margin-right: 20px;
}

.home-new-wrapper-3 .box .box-part .subcaption {
    position: absolute;
    top: 5px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    right: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

@media (min-width: 64em) {
    .home-new-wrapper-3 .box .box-part .subcaption {
        font-size: 12px;
    }
}

@media (min-width: 80em) {
    .home-new-wrapper-3 .box .box-part .subcaption {
        font-size: 13px;
    }
}

@media (min-width: 105em) {
    .home-new-wrapper-3 .box .box-part .subcaption {
        font-size: 14px;
    }
}

.home-new-wrapper-3 .box .box-part .head {
    color: white;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 50em) {
    .home-new-wrapper-3 .box .box-part .head {
        /*font-size: 18px;*/
    }
}

@media (min-width: 64em) {
    .home-new-wrapper-3 .box .box-part .head {
        /*font-size: 20px;*/
    }
}

@media (min-width: 80em) {
    .home-new-wrapper-3 .box .box-part .head {
        font-size: 25px;
    }
}

@media (min-width: 105em) {
    .home-new-wrapper-3 .box .box-part .head {
        font-size: 28px;
    }
}

.home-new-wrapper-3 .box .box-part .caption {
    color: white;
    font-size: 14px;
    font-family: 'waverly';
    display: block;
}

.home-new-wrapper-3 .box .box-part .caption a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.home-new-wrapper-3 .box .box-part.blue {
    background: #59ABE3;
}

.home-new-wrapper-3 .box .box-part.red {
    background: #D24D57;
}

.home-new-wrapper-3 .box .box-part.green {
    background: #324851;
}

.home-new-wrapper-3 .box .box-part.orange {
    background: #EB974E;
}

.home-new-wrapper-3 .box .box-part.yellow {
    background: #F7CA18;
}

.home-new-wrapper-3 .box .box-part.light-green {
    background: #26A65B;
}

.home-new-wrapper-3 .headline {
    font-family: 'Waverly', sans-serif;
    color: white;
    text-transform: lowercase;
    word-spacing: 4px;
    margin: 20px 0px;
    position: relative;
    z-index: 100;
    font-size: 25px;
    padding-left: 350px;
}

.sub-headline {
    text-align: center;
    padding-left: auto;
    font-size: 20px;
}

@media (min-width: 105em) {
    .home-new-wrapper-3 .headline {
        font-size: 30px;
    }
}

/*.first-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 14px;
    background: #1dbed0;
    left: 25.5%;
}

.second-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 14px;
    background: #1dbed0;
    right: 25.5%;
}*/

/*@media (min-width: 105em) {
    .first-circle {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 14px;
        background: #1dbed0;
        left: 25.5%;
    }

    .second-circle {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 14px;
        background: #1dbed0;
        right: 25.5%;
    }
}*/

.video-modal-wrapper {
    position: fixed;
    height: 100vh;
    left: 0px;
    right: 0px;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 105em) {
    .video-modal-wrapper {
        align-items: center;
    }
}

.video-modal-wrapper.ds-close {
    top: -100vh;
}

.video-modal-wrapper.ds-open {
    top: 0vh;
}

.video-modal {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    z-index: 9999;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 10px;
}

.video-close-btn-wrapper {
    width: 960px;
    height: 50px;
    position: relative;
}

.video-modal .video-close-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -50px;
    top: 0px;
    background: url("http://image.flaticon.com/icons/png/128/8/8934.png") no-repeat;
    background-size: 50px 50px;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    background-position: center center;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.video-modal .video-close-btn:hover {
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -ms-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    transform: rotate(90deg) scale(1.1);
}