@font-face {
    font-family: 'waverly';
    src: url("/assets/fonts/WaverlyCF-Bold.eot");
    src: url("/assets/fonts/WaverlyCF-Bold.woff2") format("woff2"), url("/assets/fonts/WaverlyCF-Bold.woff") format("woff"), url("/assets/fonts/WaverlyCF-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.bg-color {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #1dbed0;
}

.bg-image {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.bg-left-image {
    position: fixed;
    right: 1366px;
    bottom: 0px;
    display: none;
}

@media screen and (min-width: 1367px) {
    .bg-left-image {
        display: block;
    }
}

.main-container {
    position: relative;
}

.intro-page-wrapper .header {
    padding: 10px 0px;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.header-btns {
    padding: 5px;
    color: white;
    font-family: 'waverly';
}

.header-btns a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    padding: 0px;
}

.right-sidebar {
    position: fixed;

    /*overflow: hidden;*/
    width: 315px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    right: 0px;
}

.right-sidebar .tree {
    width: 100%;
    position: absolute;
    top: 30px;
}

@media screen and (min-width: 1367px) {
    .right-sidebar .tree {
        top: 150px;
    }
}

.right-sidebar .tree img {
    width: 100%;
}

.right-sidebar .courselist-apple {
    position: absolute;
    top: 200px;
    right: 10px;
    cursor: pointer;
}

@media screen and (min-width: 105em) {
    .right-sidebar .courselist-apple {
        top: 400px;
    }
}

.right-sidebar .extra-apple {
    position: absolute;
    top: 170px;
    right: 130px;
    cursor: pointer;
}

@media screen and (min-width: 105em) {
    .right-sidebar .extra-apple {
        top: 350px;
        display: block;
    }
}

.right-sidebar .play-apple {
    position: absolute;
    bottom: 0px;
    left: 10px;
    cursor: pointer;
}

.intro-page-wrapper {
    background: #1dbed0;
    min-height: 100vh;
}

.main-content-wrap {
    position: absolute;
    right: 344px;
    padding-top: 250px;
}

.main-content-wrap .heading {
    position: fixed;
    width: 810px;
    right: 378px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'waverly';
    text-transform: uppercase;
    top: 200px;
    background: white;
    box-shadow: 0px 5px 10px -5px #ccc;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
}

.main-content-wrap .heading .courselist-btn {
    /*border: 1px solid #ccc;*/
    padding: 5px 10px;
    border-radius: 5px;
    color: #1d99d1;
    cursor: pointer;
}

.roof {
    position: fixed;
    top: 0px;
    right: 315px;
    background: #1dbed0;
    height: 200px;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    margin-left: -160px;
}

.content {
    margin: 0px 34px;
    max-width: 810px;
    min-height: calc(100vh - 200px);
    background: white;
    padding: 10px;
}

.video-modal-wrapper {
    position: fixed;
    height: 100vh;
    left: 0px;
    right: 0px;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 105em) {
    .video-modal-wrapper {
        align-items: center;
    }
}

.video-modal-wrapper.ds-close {
    top: -100vh;
}

.video-modal-wrapper.ds-open {
    top: 0vh;
}

.video-modal {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    z-index: 9999;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 10px;
}

.video-close-btn-wrapper {
    width: 960px;
    height: 50px;
    position: relative;
}

.video-modal .video-close-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -50px;
    top: 0px;
    background: url("http://image.flaticon.com/icons/png/128/8/8934.png") no-repeat;
    background-size: 50px 50px;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    background-position: center center;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.video-modal .video-close-btn:hover {
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -ms-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    transform: rotate(90deg) scale(1.1);
}