@font-face {
    font-family: 'waverly';
    src: url("/fonts/WaverlyCF-Light.eot");
    src: url("/fonts/WaverlyCF-Light.woff2") format("woff2"), url("/fonts/WaverlyCF-Light.woff") format("woff"), url("/fonts/WaverlyCF-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'waverly';
    src: url("/fonts/WaverlyCF-Bold.eot");
    src: url("/fonts/WaverlyCF-Bold.woff2") format("woff2"), url("/fonts/WaverlyCF-Bold.woff") format("woff"), url("/fonts/WaverlyCF-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'waverly';
    src: url("/fonts/WaverlyCF-ExtraBold.eot");
    src: url("/fonts/WaverlyCF-ExtraBold.woff2") format("woff2"), url("/fonts/WaverlyCF-ExtraBold.woff") format("woff"), url("/fonts/WaverlyCF-ExtraBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@charset "utf-8";

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
    max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width: 100%;
}

/*
    Dreamweaver Fluid Grid Properties
    ----------------------------------
    dw-num-cols-mobile:     4;
    dw-num-cols-tablet:     8;
    dw-num-cols-desktop:    12;
    dw-gutter-percentage:   25;
    
    Inspiration from "Responsive Web Design" by Ethan Marcotte 
    http://www.alistapart.com/articles/responsive-web-design
    
    and Golden Grid System by Joni Korpi
    http://goldengridsystem.com/
*/

.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;
    float: left;
    display: block;
}

.fluidList {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* Mobile Layout: 480px and below. */

.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 86.45%;
    padding-left: 2.275%;
    padding-right: 2.275%;
    clear: none;
    float: none;
}

#div1 {}

.zeroMargin_mobile {
    margin-left: 0;
}

.hide_mobile {
    display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
    .gridContainer {
        width: 90.675%;
        padding-left: 1.1625%;
        padding-right: 1.1625%;
        clear: none;
        float: none;
        margin-left: auto;
    }

    #div1 {}

    .zeroMargin_tablet {
        margin-left: 0;
    }

    .hide_tablet {
        display: none;
    }
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
    .gridContainer {
        width: 88.5%;
        max-width: 1232px;
        padding-left: 0.75%;
        padding-right: 0.75%;
        margin: auto;
        clear: none;
        float: none;
        margin-left: auto;
    }

    #div1 {}

    .zeroMargin_desktop {
        margin-left: 0;
    }

    .hide_desktop {
        display: none;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background: #1dbed0;
}

#main-container {
    width: 100%;
    height: auto;
    float: left;

    /*background: url("../images/bg-left.png") no-repeat scroll -205px bottom, rgba(0, 0, 0, 0) url("../images/bg-right.png") no-repeat fixed 349px bottom;*/
    background-attachment: fixed;
    background-image: url(/assets/images/bg_new.png);
    background-attachment: fixed;
    background-position: 0 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-container {
    width: 100%;
    height: auto;
    float: left;
}

.header_wrapper {
    background: #1dbed0 url("../images/roof_intro.png") no-repeat scroll 0 0;
    float: left;
    height: auto;
    max-width: 1200px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.header_wrapper1 {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1169px;
}

.top-bar {
    position: absolute;
    margin: 0px auto;
    width: 1069px;
    top: 144px;
    height: 46px;
    background: white;

    /*box-shadow: 0px 5px 5px -5px #ccc;*/
    left: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1281px) {
    .top-bar {
        left: 44px;
    }
}

.top-text {
    font-family: 'waverly',sans-serif;
    text-transform: lowercase;

    /*font-weight: bold;*/
    font-size: 25px;
    padding: 0px 10px;

    /*font-weight: bold;*/
    color: #B9002D;
}

.top-text img {
    width: 40px;
    margin: 5px;
}

.top-bar-btn {
    margin: 0px 10px;
    border-radius: 20px;
    color: white;
    background-color: #1d99d1;
    font-family: 'nunito',sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-transform: lowercase;
}

.top-bar-btn.no-back {
    background-color: transparent;
    color: #1778a4;
    font-size: 20px;
    font-family: 'waverly',sans-serif;
}

.top-bar-btn .text {
    margin-right: 10px;

    /*position: relative;*/
    /*top: 2px;*/
}

.top-bar-btn img, .top-bar-btn i {
    width: 40px;
    margin-right: 10px;
    border-right: 1px solid #115b7d;

    /*padding: 10px 5px;*/
    margin-left: 10px;
}

.top-bar-btn i {
    width: initial;
    padding: 10px;
}

.top-bar-btn.no-back img {
    border-right: 0px solid #115b7d;
}

.site_logo {
    height: auto;
    margin: auto;
    max-width: 354px;
    padding-bottom: 87px;
    padding-top: 57px;
    width: 100%;
}

.site_logo .mobile-btns {
    display: none;
}

.site_logo > a {
    float: left;
    text-align: center;
    width: 100%;
}

.site_logo img {
    width: auto;
    height: auto;
    float: left;
}

.site_wrapper {
    float: left;

    /* Changes */
    padding-top: 190px;
    width: 100%;
}

.sitemap-wrapper {
    margin: auto;

    /* changes */
    max-width: 1069px;
    position: static;
    width: 100%;
}

.sitemap-wrapper_inner {
    width: 100%;
    height: auto;
    float: left;
    background: #fff;

    /* Changes */
    padding-top: 0px;
    margin-left: -6px;
    padding-bottom: 30px;
}

.sitemap-wrapper_inner ul {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    float: left;
    margin: 0 30px;
    padding: 10px 0;
    width: 92%;
    margin-top: 30px;
}

.sitemap-wrapper_inner ul li {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 24%;
    padding: 20px 0px;
}

.sitemap-wrapper_inner ul h2 {
    font-family: calibri;
    margin-bottom: 0;
    text-align: center;
}

.sitemap-wrapper_inner ul li a {
    color: #000;
    font-family: calibri;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 38px;
    display: block;
    width: 21%;
}

.extra-apple {
    float: left;
    width: 50%;
}

.courselist-apple {
    float: left;
    margin-top: 60px;
}

.banner-mobile {
    display: none;
}

.leftbg {
    position: fixed;
    display: none;
}

.mobile-menu, .menu-links {
    display: none;
}

.menu-links {
    /*changes*/
    display: none;
}

.menu-links {
    background: #fff none repeat scroll 0 0;
    position: absolute;
    top: 56px;
    width: 100%;
    left: 0px;
    margin-top: 1px;
}

.menu-links {
    position: static;
    float: left;
}

.menu-links > ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu-links ul li {
    background: none;
    width: auto;
    padding: 0px 10px;
    float: left;
}

.menu-links ul li a {
    color: #333;
    float: left;
    font-family: calibri;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.tree-bg-main {
    width: 100%;
    height: auto;
    float: left;
}

.tree-bg-top {
    background: url(../images/branch.png) no-repeat center top;
    width: 100%;
    height: 86px;
}

.tree-bg {
    /*background: url(../images/branch-stick.png) center repeat-y;*/
    width: 100%;
    height: auto;
    float: left;
}

#courses-branch {
    height: auto;
    margin: auto;

    /*max-width: 1000px;*/
    width: 100%;
}

.courses-branch {
    width: 100%;
    height: auto;
    float: left;
}

.branch-course {
    width: 100%;
    height: auto;
    float: left;
}

.branch-course ul {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: right;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.branch-course ul li {
    float: left;
    height: auto;
    padding: 0;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.branch-course ul li .img {
    float: right;
    height: auto;
    padding: 0;
    margin-left: 20px;

    /*flex: 1;*/

    /*width: 49%;*/
}

.branch-course ul li .img a {
    width: auto;
    height: auto;
    float: left;
}

.branch-course ul li:nth-child(odd) .img a {
    float: right;
}

.branch-course ul li .img a img {
    width: auto;
    height: auto;
    float: left;
    width: 100%;
}

.branch-course ul li .linkss {
    float: left;
    height: auto;
    padding: 0;
    flex: 1;
    min-width: 200px;

    /*width: 49%;*/
}

.branch-course ul li h2 {
    background: #8b5e3b none repeat scroll 0 0;
    color: #fff;
    font-family: calibri;
    margin-bottom: 0;
    padding: 3px 20px;
    text-align: left;
    text-transform: uppercase;
}

.branch-course ul li .linkss h3 {
    background: transparent url("../images/liststyle.png") no-repeat scroll 8px center;

    /*float: left;*/
    font-family: calibri;
    font-size: 25px;
    font-weight: normal;
    height: auto;
    margin-bottom: 0;

    /*margin-left: 4%;*/
    margin-top: 8px;
    padding: 5px 0 5px 40px;
    text-align: left;

    /*width: 92%;*/
}

.branch-course ul li .linkss h3:nth-child(odd) {
    background: transparent url("../images/liststyle.png") no-repeat scroll 8px center;
}

.branch-course ul li:nth-child(2n) .img {
    float: left;
    margin-right: 20px;
    margin-left: 0px;
}

.branch-course ul li:nth-child(2n) .linkss {
    float: right;
    margin-right: 20px;

    /*width: 49%;*/
}

.branch-course ul li:nth-child(2n) .linkss h3 {
    /*width: 84%;*/
}

.why-us-apple {
    bottom: 0;
    margin: auto;
    width: 56%;
}

.why-us-apple > img {
    margin-top: 17px;
}

.top-banner {
    width: 100%;
    height: 212px;
    float: left;
    background: url(../images/banner-new.jpg) no-repeat;
    padding: 50px 0px 38px 0px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

#top-banner-inner {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
}

.top-banner-inner {
    width: 100%;
    height: auto;

    /*float: left;*/

    /*background: rgba(216, 54, 16, 0.8);*/
    padding: 10px 0px;
}

.top-banner h3 {
    max-width: 100%;
    height: auto;

    /*float: left;*/
    text-align: left;
    color: #fff;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 38px;
    padding: 0px 10px;

    /*margin: 10px 15px;*/
    -o-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -ms-text-transform: uppercase;
    -moz-text-transform: uppercase;
    text-transform: uppercase;
}

.top-banner p {
    width: 100%;
    height: auto;

    /*float: left;*/
    text-align: right;
    color: #fff;
    font-family: 'Roboto Condensed',sans-serif;
    margin: 0px;
    font-size: 32px;
    margin: 0px -15px;
    -o-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -ms-text-transform: uppercase;
    -moz-text-transform: uppercase;
    text-transform: uppercase;

    /*font-weight: bold;*/
}

.tree-bg-main > p {
    float: left;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 35px;
    height: auto;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    color: #1c9a2e;
    -o-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -ms-text-transform: uppercase;
    -moz-text-transform: uppercase;
    text-transform: uppercase;
    margin: 0px;
}

.tree-bg-main > p img {
    width: 50px;
    margin-right: 10px;
}

@media screen and (max-width: 1500px) {
    #main-container {
        /*background: rgba(0, 0, 0, 0) url("../images/bg-right.png") no-repeat fixed center bottom;*/
        background-image: url(/assets/images/bg_new.png);
        background-attachment: fixed;
        background-position: 0 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .courselist-apple {
        float: right;
        margin: 0;
        width: 66%;
    }
}

@media screen and (width: 1280px) {
    .sitemap-wrapper_inner {
        padding-top: 0px;
        margin-left: 9px !important;
    }
}

@media screen and (max-width: 1280px) {
    .header_wrapper {
        background-position: center;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0;
    }

    .sidebar {
        display: block;
    }

    .extra-apple {
        float: right;
        width: 100%;
    }

    .courselist-apple {
        float: right;
        width: 66%;
        margin: 0px;
    }

    .branch-course ul li .img {
        /*width: 52%;*/
    }

    .branch-course ul li .linkss {
        /*width: 47%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        /*width: 50%;*/
        margin: 0px;
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 47%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
        margin-left: 0px;
    }

    .branch-course ul li:nth-child(2n) .linkss h3 {
        /*width: 79%;*/
    }
}

@media screen and (max-width: 1279px) {
    .header_wrapper {
        background-position: center;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0;
    }

    .sidebar {
        display: block;
    }

    .extra-apple {
        float: right;
        width: 60%;
    }

    .courselist-apple {
        float: right;
        width: 41%;
    }

    .branch-course ul li .img {
        /*width: 51%;*/
    }

    .branch-course ul li .linkss {
        /*width: 46%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        margin: 0;

        /*width: 49%;*/
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 47%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
    }

    .top-bar {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header_wrapper {
        background-position: center;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0;
    }

    .sidebar {
        display: block;
    }

    .extra-apple {
        float: right;
        width: 60%;
    }

    .courselist-apple {
        float: right;
        width: 41%;
    }

    .branch-course ul li .img {
        /*width: 51%;*/
    }

    .branch-course ul li .linkss {
        /*width: 47%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        margin: 0;

        /*width: 49%;*/
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 47%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
    }
}

/*@media screen and (max-width:800px){
    .header_wrapper         { background-position:center; }
    .sitemap-wrapper_inner ul   { margin: 30px 15px 0; }
    .sidebar { display:none; }
}
*/
@media screen and (max-width: 1023px) {
    .branch-course ul li .linkss {
        /*width: 46%;*/
    }
}

@media screen and (max-width: 980px) {
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .site_logo {
        height: auto;
        margin: auto;
        max-width: 770px;
        padding-bottom: 0px;
        padding-top: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 84px;
    }

    .site_logo .mobile-btns {
        display: block;
        margin-top: 15px;
    }

    .sidebar {
        display: none;
    }

    .header_wrapper1 {
        max-width: initial;
    }

    .header_wrapper {
        background: #fff none repeat scroll 0 0;
        max-width: initial;
    }

    .sitemap-wrapper {
        max-width: initial;
    }

    .site_wrapper {
        float: left;
        padding-top: 84px;
        width: 100%;
    }

    .site_logo > a {
        float: left;
        width: 41%;
    }

    .main-wrap {
        margin: auto;

        /*max-width: 720px;*/
        width: 100%;
    }

    .banner-mobile {
        float: left;
        height: auto;
        width: 100%;
        display: block;
    }

    .banner-mobile img {
        float: left;
        height: auto;
        width: 100%;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0px 0px;
        width: 100%;
    }

    .main-wrap-inner {
        background: none;
        float: left;
        padding-bottom: 40px;
        width: 100%;
    }

    .mobile-menu {
        color: #b2babd;
        float: right;
        font-size: 25px;
        display: block;
        cursor: pointer;
        margin-top: 15px;
    }

    .menu-links ul li {
        background: #e5e5e5 none repeat scroll 0 0;
        float: left;
        height: auto;
        margin-top: 13px;
        padding: 0 16px;
        width: 100%;
    }

    .menu-links {
        display: none;
    }

    .branch-course ul li .img {
        /*width: 49%;*/
    }

    .branch-course ul li .linkss {
        /*width: 48%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        /*width: 49%;*/
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 49%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
    }

    .branch-course ul li:nth-child(2n) .linkss h3 {
        /*width: 76%;*/
    }

    .top-banner h3 {
        font-size: 50px;
    }

    .top-banner p {
        font-size: 25px;
    }

    .top-banner {
        background-position: center;
    }

    .tree-bg-main > p {
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    .header_wrapper {
        background-position: center;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0;
    }

    .sitemap-wrapper_inner ul li {
        width: 100%;
    }

    .branch-course ul li .img {
        /*width: 52%;*/
    }

    .branch-course ul li .linkss {
        /*width: 45%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        /*width: 47%;*/
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 46%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
    }

    #courses-branch {
        height: auto;
        margin: auto;

        /*max-width: 580px;*/
        width: 100%;
    }

    .branch-course ul li:nth-child(2n) .linkss h3 {
        /*width: 82%;*/
    }

    .top-banner h3 {
        font-size: 40px;
    }

    .top-banner p {
        font-size: 25px;
    }

    .top-banner {
        background-position: center;
    }

    .tree-bg-main > p {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .header_wrapper {
        background-position: center;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0;
    }

    .sitemap-wrapper_inner ul li {
        width: 100%;
    }

    .site_logo {
        height: auto;
        margin: auto;

        /*max-width: 450px;*/
        /*padding-bottom: 60px;*/
        /*padding-top: 20px;*/
        width: 100%;
        height: 84px;
    }

    .site_logo > a {
        float: left;
        width: 30%;
    }

    .site_wrapper {
        float: left;
        padding-top: 64px;
        width: 100%;
    }

    .branch-course ul li .img {
        /*width: 53%;*/
    }

    .branch-course ul li .linkss {
        /*width: 45%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        /*width: 46%;*/
        margin: 0px;
    }

    .branch-course ul li:nth-child(2n) .linkss h3 {
        /*width: 71%;*/
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 46%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
    }

    #courses-branch {
        height: auto;
        margin: auto;

        /*max-width: 400px;*/
        width: 100%;
    }

    .tree-bg {
        /*background: url(../images/branch-stick-bg.png) center repeat-y;*/
        width: 100%;
        height: auto;
        float: left;
    }

    .top-banner h3 {
        font-size: 20px;
    }

    .top-banner p {
        font-size: 17px;
    }

    .top-banner {
        background-position: center;
    }

    .tree-bg-main > p {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    #courses-branch {
        height: auto;
        margin: auto;

        /*max-width: 314px;*/
        width: 100%;
    }

    .top-banner h3 {
        font-size: 25px;
    }

    .top-banner p {
        font-size: 20px;
    }

    .top-banner {
        background-position: center;
    }

    .tree-bg-main > p {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .header_wrapper {
        background-position: center;
    }

    .sitemap-wrapper_inner ul {
        margin: 30px 0px 0;
    }

    .sitemap-wrapper_inner ul li {
        width: 100%;
    }

    .site_logo {
        max-width: 300px;
        padding-bottom: 40px;
    }

    .branch-course ul li .img {
        /*width: 53%;*/
    }

    .branch-course ul li .linkss {
        /*width: 42%;*/
    }

    .branch-course ul li:nth-child(2n) .linkss {
        /*width: 53%;*/
        margin: 0px;
    }

    .branch-course ul li:nth-child(2n) .linkss h3 {
        /*width: 62%;*/
    }

    .branch-course ul li:nth-child(2n) .img {
        /*width: 42%;*/
    }

    .sitemap-wrapper_inner {
        padding-top: 0px;
    }

    #courses-branch {
        height: auto;
        margin: auto;

        /*max-width: 280px;*/
        width: 100%;
    }

    .branch-course ul li h2 {
        padding: 3px 8px;
    }

    .tree-bg {
        background: url(../images/branch-stick-bg.png) center repeat-y;
        width: 100%;
        height: auto;
        float: left;
    }

    .top-banner h3 {
        font-size: 25px;
    }

    .top-banner p {
        font-size: 20px;
    }

    .top-banner {
        background-position: center;
    }

    .tree-bg-main > p {
        font-size: 20px;
    }
}

.infograph-point {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.infograph-point .infograph-icon {
    padding: 0px 25px;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

.infograph-point .infograph-icon img {
    min-width: 60px;
    max-width: 60px;
}

.infograph-point .infograph-text {
    padding: 0px 10px;
    font-size: 25px;
    font-family: 'Roboto Condensed',sans-serif;
    flex: 1;
    text-align: left;
    height: 100px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    color: #177aa7;
}

.branch-course ul li:nth-child(even) .infograph-text {
    text-align: right;
    justify-content: flex-end;
}

@media screen and (max-width: 850px) {
    .infograph-point .infograph-icon {
        padding: 0px 10px;
    }

    .infograph-point .infograph-icon img {
        min-width: 25px;
        max-width: 25px;
    }

    .infograph-point .infograph-text {
        font-size: 22px;
    }
}

@media screen and (max-width: 550px) {
    .top-bar-btn {
        font-size: 10px;
    }

    .infograph-point .infograph-text {
        font-size: 15px;
        height: auto;
    }
}

/*Video Player Modal Styles*/
.video-modal-wrapper {
    position: fixed;
    height: 100vh;
    left: 0px;
    right: 0px;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

@media (min-width: 105em) {
    .video-modal-wrapper {
        align-items: center;
    }
}

.video-modal-wrapper.ds-close {
    top: -100vh;
}

.video-modal-wrapper.ds-open {
    top: 0vh;
}

.video-modal {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    z-index: 9999;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;

    /*margin-top: 10px;*/
}

.video-close-btn-wrapper {
    width: 100%;
    height: 50px;
    position: relative;
}

@media screen and (min-width: 1280px) {
    .video-close-btn-wrapper {
        width: 960px;
    }
}

.video-modal .video-close-btn {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0px;
    top: 0px;

    /*background: url("http://image.flaticon.com/icons/png/128/8/8934.png") no-repeat;*/
    background-size: 50px 50px;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    background-position: center center;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.video-modal .video-close-btn:hover {
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -ms-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    transform: rotate(90deg) scale(1.1);
}

.video-wrap {
    width: 100% !important;
}

@media screen and (min-width: 1280px) {
    .video-wrap {
        width: 854px !important;
    }
}