.menu-modal-component {
    margin: 0px auto;
    position: fixed;
    z-index: 100000000000;
    top: 80px;
    right: 0px;
    bottom: 0px;
    width: 0px;
    min-width: 0px;
    background: white;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;
    background: #115b7d;
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    transition: 0.3s all ease-in;
    font-family: 'Roboto COndensed',sans-serif;
    border: 1px solid white;
    opacity: 0;
}

.menu-modal-component.ds-open {
    width: 40%;
    min-width: 1000px;
    opacity: 1;
}

.menu-modal-component.ds-close {
    width: 0px;
    min-width: 0px;
    opacity: 0;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.menu-head {
    padding: 10px 20px;
    background: #1d99d1;
    font-size: 20px;
    font-family: waverly;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.menu-foot {
    background: #1e3043;
    padding: 15px;
}

.menu-foot a {
    color: white;
    text-decoration: none;
}

.menu-foot a:hover {
    color: white;
    text-decoration: none;
}

.menu-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-part.left {
    border-right: 1px solid #ccc;
}

.menu-modal-component ul {
    list-style: none;

    /*font-family: 'Roboto', sans-serif;*/
    font-size: 15px;
    text-align: left;
    padding: 0px;
    flex: 1;
    height: 380px;
    overflow: auto;
}

.menu-modal-component .left li {
    padding: 10px;
    margin: 0px;
}

.menu-modal-component li {
    margin: 10px 0px;
    cursor: pointer;
}

.menu-modal-component li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu-modal-component li a.white {
    margin: 10px 0px;
}

.hidden-menu a {
    color: #222 !important;
}

.menu-modal-component li i {
    margin-right: 15px;
}

.menu-modal-component li .li-title {
    margin: 10px;
}

.menu-modal-component li .hidden-menu {
    padding: 10px;
    display: none;
    margin: 10px 0px;
    background: white;
}

.menu-modal-component li .hidden-menu .item {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
    font-size: 12px;
    margin: 5px 0px;
}

@media screen and (min-width: 105em) {
    .menu-modal-component li .hidden-menu .item {
        max-width: 300px;
    }
}