.custom-player-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.jwplayer {
    height: calc(100% - 90px) !important;
}

.video-wrap {
    max-width: 854px !important;
    width: 100% !important;
    height: calc(100vh - 50px);
    max-height: 480px;
}

.fullscreen-video {
    width: 100% !important;
    height: calc(100% - 170px) !important;
}

.video-control-wrapper {
    display: flex;
    align-items: center;
    background: #000;
    color: white;

    /*border: 1px solid #555;*/
    border-top: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;

    /*top: -10px;*/
}

.control-item {
    display: flex;
    align-items: center;
    height: 85px;
    margin: 0px 10px;
    cursor: pointer;
}

.play-btn {
    width: 70px;
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.play-btn.play {
    background-image: url("/assets/images/play.png");
}

.play-btn.pause {
    background-image: url("/assets/images/pause.png");
}

.rewind-btn {
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/images/rewind.png");
}

.forward-btn {
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/images/fastforward.png");
}

.video-name-wrapper {
    flex: 1;
    font-family: 'Roboto Condensed';
    color: #fff;
    position: relative;
    font-size: 20px;
    top: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-control-wrapper .progress-wrapper {
    flex: 1;

    /*height: 5px;*/
    /*background: #fff;*/
    box-shadow: 1px 1px 1px inset #ccc;

    /*border: 1px solid #222;*/
    cursor: pointer;
    position: absolute;
    height: 15px;
    background: #444;
    left: 0px;
    right: 0px;
    bottom: -14px;
    margin: 0px;

    /*border-radius: 10px;*/
}

.real-progress, .buffer-progress {
    position: absolute;
    top: 0px;
    bottom: 0px;
    pointer-events: none;

    /*border-radius: 10px;*/
}

.real-progress {
    background: #1d99d1;
    z-index: 2;
    width: 0%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

/*.real-progress:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    right: -7.5px;
}*/

.buffer-progress {
    background: #ccc;
    z-index: 1;
    width: 0%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.sound-wrapper {
    position: relative;
    top: 13px;
}

@media screen and (min-width: 1280px) {
    .video-control-wrapper .sound-wrapper {
        width: 200px;
    }
}

.sound-icon {
    background-image: url("/assets/images/sound.png");
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
}

.mute-pre-load {
    background-image: url("/assets/images/mute.png");
}

.sound-icon.mute {
    background-image: url("/assets/images/mute.png");
}

.video-control-wrapper .sound-progress-wrapper {
    height: 5px;
    flex: 1;
    margin: 0px 10px;
    background: #fff;
    position: relative;
    box-shadow: 1px 1px 1px inset #ccc;
    border: 1px solid #222;
    cursor: pointer;
    display: none;
}

@media screen and (min-width: 1280px) {
    .video-control-wrapper .sound-progress-wrapper {
        display: block;
    }
}

.video-control-wrapper .sound-real-progress {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 40%;
    background: #1d99d1;
    pointer-events: none;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.fullscreen-icon {
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
}

.fullscreen-icon.full {
    background-image: url(https://cdn1.iconfinder.com/data/icons/material-core/14/fullscreen-128.png);
}

.fullscreen-icon.small {
    background-image: url(https://camo.githubusercontent.com/3db7e4c52134de6cee15716ec1adb9bc84d44f11/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f323531313334382f3733303130372f39323337633766342d653234392d313165322d396233372d3736656461306633376663362e706e67);
}

.list-icon {
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_view_list_48px-128.png);
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
}

.video-middle-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -55px;
    margin-left: -55px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.big-play-btn:before {
    content: "\f144";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 90px;
    color: white;
    padding: 10px 20px;
}

.video-close-btn {
    color: white;
    font-size: 20px;
    margin-top: -20px;
    text-align: right;
    cursor: pointer;
    padding: 8px 15px;
    position: absolute;
    background-color: #000;
    border-radius: 5px;
    z-index: 10;
    right: 0px;
    top: 20px;
}

@media screen and (max-width: 992px) {
    .video-wrap {
        height: calc(100vh - 200px);
        max-height: 480px;
    }

    .jwplayer {
        height: calc(100% - 50px) !important;
    }

    .control-item {
        height: 40px;
    }

    .rewind-btn, .forward-btn {
        width: 30px;
        height: 30px;
        top: 3px;
    }

    .play-btn {
        width: 40px;
        height: 40px;
    }

    .video-name-wrapper {
        top: auto;
        font-size: 13px;
    }

    .sound-wrapper {
        top: auto;
    }

    .sound-icon {
        width: 25px;
        height: 25px;
    }
}