.login-wrapper {
    font-family: 'Aller';
    font-size: 16px;
    margin: 0px auto;

    @include breakpoint(screen_1000) {
        box-shadow: 2px 2px 10px #e5e5e5;
    }


    $accent: #6d97cc;
    $dark-accent: #6186b5;
    $red-color: #D24D57;

    .vertical-center {
        // min-height: 100vh;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        // width: 100%;
        margin-bottom: 0px;

        .header {
            width: 100%;
            padding: 10px 10px 10px 30px;
            background: #444;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            border-top-right-radius: 3px;
            border-top-left-radius: 3px;

            .title {
                font-size: 40px;
                font-family: Aller;
                margin-top: 0px;
                margin-bottom: 00px;
                text-transform: uppercase;
                color: white;
                display: inline-block;
            }

            i {
                font-size: 70px;
                color: #555;
                position: relative;
                right: 15px;
                top: 5px;
            }

            display: none;
        }

        .title {
            font-size: 20px;
            font-family: Aller;
            margin-top: 0px;
            margin-bottom: 00px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 10px;
            text-align: center;
        }
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 10px;
        font-family: aller;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px #444;
        font-weight: normal;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    .alert-danger {
        background: white;
        color: $red-color;
        text-align: center;
    }

    .social-icon {
        border-radius: 5px;
    }

    .login-form-wrapper {
        padding: 20px 30px;
        border-radius: 0px;
        color: #222;
        width: 90vw;
        max-width: 700px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        z-index: 1;

        @include display(flex);

        @include align-items(center);

        @include align-self(stretch);

        @include flex-direction(column);

        @include breakpoint(screen_1000) {
            width: 500px;
        }


        .form {
            width: 100%;
        }

        .form-group {
            position: relative;
            margin-bottom: 30px;

            &.half {
                width: 49.5%;
                display: inline-block !important;
                vertical-align: top;

                input {
                    width: 100%;
                }
            }
        }

        label {
            cursor: text;
            font-size: 13px;
            margin-bottom: 5px;

            &.lable-show {
                display: block;
            }

            i {
                margin-right: 10px;
            }
        }

        input, h6 {
            color: #222;
        }

        input {
            font-size: 17px;
            display: inline-block;
            padding-left: 5px;
            width: auto;
            border-bottom: 1px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-group.input {
            @include display(flex);

            @include flex-direction(column);

            input {
                @include flex-grow(1);
            }
        }

        .input-error {
            padding: 8px 10px;
            color: red;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            margin: 10px 0px;
        }

        .form-error {
            input, select {
                border: 1px solid maroon;
                border-radius: 3px;
                background-color: rgba(255, 0, 0, 0.1);
            }
        }

        .form-success {
            input, select {
                border: 1px solid green;
                border-radius: 3px;
                background-color: rgba(0, 255, 0, 0.05);
            }
        }

        .err-msg {
            font-size: 12px;
            font-family: aller;
        }

        @include keyframes(label-animation) {
            0% {
                left: auto;
                right: 70%;
            }

            10% {
                right: 60%;
            }

            20% {
                right: 50%;
            }

            30% {
                right: 40%;
            }

            40% {
                right: 30%;
            }

            50% {
                right: 20%;
            }

            75% {
                right: 10%;
            }

            100% {
                background-color: rgba(white, 0.1);
                color: white;
                right: 0px;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                left: auto;
                font-weight: bold;
            }
        }


        input:focus {
            box-shadow: 0px 0px 0px;

            // border-bottom: 1px solid white;
       
        }

        .login-btn {
            box-shadow: 0px 0px 0px;
            color: white;
            background: #1d99d1;
            border-radius: 20px;
            margin-top: 10px;
            border: 1px solid transparent;
            text-transform: capitalize;

            i {
                margin-left: 10px;
            }
        }

        .login-btn[disabled] {
            pointer-events: none;
            border: 1px solid white;
            color: white;
        }

        select {
            border: 1px solid #ccc;
            padding: 0px 10px;
            border-radius: 3px;
            background-position: 98% center;

            &:focus {
                box-shadow: 0px 0px 0px;
            }
        }
    }

    .jumbotron {
        background-color: transparent;
    }

    .social-media-wrapper {
        padding: 0px 20px;
        margin: 20px 0px;
        color: #fff;
        border-left: 1px solid #ccc;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        @include display(flex);

        @include align-self(stretch);

        @include justify-content(center);

        @include flex-direction(row);

        @include breakpoint(screen_1000) {
            @include flex-direction(column);
        }


        .social-icon-wrapper {
            margin: 5px 10px;
            cursor: pointer;

            i {
                padding: 20px;
                width: 53px;
                text-align: center;
                border-radius: 3px;
            }

            & > span {
                padding: 8px;
                display: inline-block;
            }
        }

        .facebook {
            i {
                background: $facebook;
            }

            // background: darken($facebook, 10%);
       
        }

        .google {
            i {
                background: $google;
            }

            // background: darken($google, 10%);
       
        }

        .twitter {
            i {
                background: $twitter;
            }

            // background: darken($twitter, 10%);
       
        }

        .linkedin {
            i {
                background: $linkedin;
            }

            // background: darken($linkedin, 10%);
       
        }
    }

    .social-media-login {
        background: white;
        border: 0px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include breakpoint(screen_1000) {
            @include flex-direction(row);
        }
    }

    .extra-link {
        color: white;
        padding-bottom: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        div {
            @include flex(1);
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .column {
            padding: 0px 10px;
        }

        i {
            margin-right: 5px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #fff;
            font-size: 20px;
        }
    }
}