.master-wrapper {
    font-family: 'Aller';
    font-size: 16px;

    $sidebar-width: 480px;
    $header-height: 0px;
    $accent: #336b87;
    $dark-accent: #28556c;

    background: #1d99d1;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    ul {
        position: relative;
        z-index: 101;
        color: white;
        text-align: center;

        li {
            display: block;
            padding: 20px 20px;
            font-weight: bold;
            font-size: 40px;
            font-family: 'Aller';
            letter-spacing: 1px;
            cursor: pointer;
            text-shadow: 2px 2px 2px #444;

            a {
                text-decoration: none;
                color: white;
            }
        }

        & li:hover {
            // border-bottom: 2px solid white;
       
        }
    }

    .overlay {
        @include overlay(rgba(black, 0.2));

        z-index: 100;
    }

    .menu-button {
        position: absolute;
        font-size: 30px;
        top: 10px;
        right: 20px;
        color: #fff;
        z-index: 11;
        display: none;

        i {
            cursor: pointer;
        }
    }

    .home-menu-modal {
        position: fixed;
        overflow: hidden;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(108, 122, 137, 0.97);
        color: white;
        z-index: 99999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .close-modal-icon {
            position: absolute;
            top: 00px;
            right: 20px;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .logo {
        position: absolute;
        top: -10px;
        left: 10px;
        font-family: aller;
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 2px #444;
        font-weight: normal;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    .tagline {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
    }

    .content {
        font-family: aller;
        font-weight: 700;
        position: absolute;
        z-index: 1;
        color: white;
        margin-top: -32px;
        left: 2vw;

        @include breakpoint(large_desktop) {
            left: 8vw;
        }
    }

    .cross-div {
        // overflow: hidden;
        width: 58%;
        position: absolute;
        height: 100vh;
        bottom: 0px;
        border-left: 10px solid #fff;
        border-right: 10px solid #fff;
        transform: skew(-45deg);
        right: -16%;
        z-index: 2;
        background: #2ea677;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(space-between);

        @include flex-direction(column);
    }

    .footer-text {
        position: absolute;

        // left: $sidebar-width;
        // right: 0px;
        bottom: 0px;
        color: white;
        text-align: center;
    }
}