.master-wrapper {
    font-family: 'Aller';
    font-size: 16px;

    $sidebar-width: 480px;
    $header-height: 0px;
    $accent: #336b87;

    //#6d97cc;
    $dark-accent: #28556c;

    //#6186b5;

    .sidebar {
        position: fixed;
        left: 20px;
        top: $header-height;
        bottom: 0px;

        // width: $sidebar-width;
        z-index: 2;

        // box-shadow: 1px 1px 1px #666;
        // border-right: 2px solid $dark-accent;
        .top-arrow {
            // background: url("/assets/images/arrow.png");
            background-size: cover;
            width: 100px;
        }

        .rocket-bar {
            width: 20px;
            position: absolute;
            left: 50%;
            margin-left: -10px;
            height: 100%;
            background-color: darken(#1d99d1, 10%);
        }

        ul {
            margin-bottom: 0px;
            height: 100%;

            // background: $accent;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(space-around);
        }

        li {
            // width: 170px;
            // height: 170px;
            // border-radius: 125px;
            // border: 5px solid #28556c;
            // margin-top: -20px;
            margin: 0px 0px;
            border: 2px solid darken(#1d99d1, 10%);
            padding: 10px 10px;
            text-align: center;
            font-family: 'Aller';
            font-weight: 800;
            font-size: 20px;
            word-spacing: 3px;

            // border-bottom: 1px solid $dark-accent;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            color: white;
            background-color: darken(#1d99d1, 10%);
            border: 2px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-grow(0);

            &:first-child {
                // border-top: 1px solid $dark-accent;
                margin-top: 5px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                top: 0px;
                right: 0px;
                width: 0%;
                background-color: $dark-accent;

                @include transition(all 0.2s ease-in);
            }

            &:after {
                // content: "\f061";
                font-family: 'FontAwesome';
                font-size: 30px;
                position: absolute;
                top: 50%;
                margin-top: -29px;
                right: -50px;

                @include transition(all 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44));
            }

            &:hover:before {
                // width: 100%;
           
            }

            &:hover:after {
                right: 20px;
            }

            &:hover {
                // color: white;
                // text-shadow: 1px 1px 2px black;
           
            }

            &.active {
                background: $dark-accent;
            }

            & > span {
                // font-size: 35px;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
            }

            &.blue {
                &:before {
                    background: #59ABE3;
                }

                border-color: #59ABE3;
            }

            &.red {
                &:before {
                    background: #D24D57;
                }

                border-color: #D24D57;
            }

            &.green {
                &:before {
                    background: #87D37C;
                }

                border-color: #87D37C;
            }

            &.orange {
                &:before {
                    background: #EB974E;
                }

                border-color: #EB974E;
            }
        }
    }

    .main-container {
        padding-left: $sidebar-width - 50;
        background: #1d99d1;

        //rgba(210, 77, 87, 0.8);
        position: relative;
    }

    .footer-text {
        position: absolute;
        left: $sidebar-width;
        right: 0px;
        bottom: 0px;
        color: white;
        text-align: center;
    }
}