.master-wrapper {
    font-family: 'Aller';
    font-size: 16px;

    $sidebar-width: 480px;
    $header-height: 0px;
    $accent: #336b87;

    //#6d97cc;
    $dark-accent: #28556c;

    //#6186b5;

    .sidebar {
        position: fixed;
        left: 0px;
        top: $header-height;
        bottom: 0px;
        width: $sidebar-width;
        z-index: 2;

        // box-shadow: 1px 1px 1px #666;
        border-right: 2px solid $dark-accent;

        ul {
            margin-bottom: 0px;
            height: 100%;
            background: $accent;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(space-between);
        }

        li {
            padding: 10px 0px;
            text-align: center;
            color: white;
            font-family: 'Aller';
            font-weight: 800;
            font-size: 35px;
            word-spacing: 3px;
            border-bottom: 1px solid $dark-accent;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            text-shadow: 1px 1px 2px black;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-grow(1);

            &:first-child {
                border-top: 1px solid $dark-accent;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                top: 0px;
                right: 0px;
                width: 0%;
                background-color: $dark-accent;

                @include transition(all 0.2s ease-in);
            }

            &:after {
                content: "\f061";
                font-family: 'FontAwesome';
                font-size: 30px;
                position: absolute;
                top: 50%;
                margin-top: -29px;
                right: -50px;

                @include transition(all 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44));
            }

            &:hover:before {
                width: 100%;
            }

            &:hover:after {
                right: 20px;
            }

            &.active {
                background: $dark-accent;
            }

            & > span {
                // font-size: 35px;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
            }
        }
    }

    .main-container {
        padding-left: $sidebar-width;
        background: white;

        //rgba(210, 77, 87, 0.8);
        position: relative;
    }

    .footer-text {
        position: absolute;
        left: $sidebar-width;
        right: 0px;
        bottom: 0px;
        color: white;
        text-align: center;
    }
}