.master-wrapper {
    font-family: 'Aller';
    font-size: 16px;

    $sidebar-large-width: 25px;
    $sidebar-small-width: 25px;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $logo-height: 90px;

    $dark-accent: #e2e2e2;

    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;
    $brick-color: #6d270c;
    $royal-blue-color: #4183D7;

    $back-blue-color: #EF4834;

    //#6BB9F0;

    background: $back-blue-color;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        background: url("../images/sun.png");
        background-size: cover;
        top: -200px;
        left: -200px;
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: 1;
    }

    .grass1 {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100px;
        display: block;
        background: url(../images/grass1.png);
        z-index: 110;
        background-size: contain;
    }

    .grass2 {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100px;
        display: block;
        background: url(../images/grass3.png);
        z-index: 111;
        background-size: contain;
    }

    .tree1 {
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 500px;
        width: 268px;
        display: block;
        background: url(../images/tree1.png);
        z-index: 109;
        background-size: contain;
    }

    .tree2 {
        position: absolute;
        right: -20px;
        bottom: 0px;
        height: 500px;
        width: 268px;
        background: url(../images/tree1.png);
        display: block;
        z-index: 109;
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint(large_desktop) {
            height: 600px;
            width: 479px;
            background: url(../images/tree2.png);
        }
    }

    .girl-black {
        position: absolute;
        left: 30%;
        bottom: 20px;
    }

    .boy-black {
        position: absolute;
        left: 50%;
        bottom: 20px;
    }

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 100;

        // background: $red-color;

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $sidebar-small-width;

        // }

        .logo {
            position: fixed;
            top: 10px;
            left: 15px;
            font-size: 60px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: 'waverly';
            height: $logo-height;
            z-index: 12;
            font-weight: bold;
            background: url("../images/dvbydt.png");
            background-repeat: no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            width: 400px;

            // width: 330px;
            // height: 111px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            // display: none;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: #1d99d1;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        .girl-img {
            position: absolute;
            bottom: 130px;
            z-index: 2;

            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .tree-img {
            position: absolute;

            // top: -100px;
            bottom: 130px;
            z-index: 11;

            // @include breakpoint(large_desktop) {
            //     bottom: 00px;
            // }

            img {
                width: $sidebar-small-width - 100;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width - 100;
                }
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;
            position: relative;

            // background: $blue-color;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);

            &:before {
                // content: '';
                position: absolute;
                top: 10px;
                bottom: 0px;
                left: 0px;
                width: 400px;

                // height: 300px;
                background: url("../images/left.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                border-right: 1px solid white;

                @include breakpoint(large_desktop) {
                    width: 500px;
                    top: 27%;
                }
            }
        }

        li {
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            font-family: 'waverly';
            font-weight: bold;
            background: url("http://www.transparenttextures.com/patterns/white-brick-wall.png");
            background-color: $brick-color;
            font-size: 20px;
            cursor: pointer;
            position: relative;
            height: 65px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }


            &:first-child {
                // border-top: 3px solid darken($blue-color, 10%);
                // border-top-right-radius: 5px;
           
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: darken($red-color, 5%);
            }

            .icon {
                display: none;

                @include order(2);
            }

            .text {
                display: inline-block;
                padding: 8px 30px;
                color: $royal-blue-color;

                // border-radius: 5px;
                min-width: 240px;
                text-align: center;
                position: relative;
                overflow: hidden;

                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
                background: #e2e2e2;

                // /* Old browsers
                // background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* FF3.6-15
                // background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* Chrome10-25,Safari5.1-6
                // background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );

                // /* IE6-9 */

                @include order(1);

                // @include flex(1);
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $brick-color;
                    left: 20px;
                }

                &:after {
                    left: auto;
                    right: 20px;
                }
            }

            .circles-left, .circles-right {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: $brick-color;
                    border-radius: 50%;
                }

                &:before {
                    top: 0px;
                    margin-top: -10px;
                }

                &:after {
                    bottom: 0px;
                    margin-bottom: -10px;
                }
            }

            .circles-left {
                &:before, &:after {
                    left: 0px;
                    margin-left: -10px;
                }
            }

            .circles-right {
                &:before, &:after {
                    right: 0px;
                    margin-right: -10px;
                }
            }

            .inner-line {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                border: 1px solid $brick-color;
                overflow: hidden;

                & .circles-left, & .circles-right {
                    &:before, &:after {
                        background-color: #e2e2e2;
                        border: 1px solid $brick-color;
                    }
                }
            }

            .hide-borders {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                overflow: hidden;

                .circles-left-1, .circles-right-1 {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 0px;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: #e2e2e2;
                        border-radius: 50%;
                    }

                    &:before {
                        top: 0px;
                        margin-top: -10px;
                    }

                    &:after {
                        bottom: 0px;
                        margin-bottom: -10px;
                    }
                }

                .circles-left-1 {
                    &:before, &:after {
                        left: 0px;
                        margin-left: -10px;
                    }
                }

                .circles-right-1 {
                    &:before, &:after {
                        right: 0px;
                        margin-right: -10px;
                    }
                }
            }
        }
    }

    .main-container {
        // padding: 25px;

        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        // padding-left: $sidebar-small-width;
        // padding-right: $right-sidebar-small-width + 25px;
        position: relative;
        min-height: calc(100vh);

        // background-image: url("../images/login_back.png");
        background-size: cover;
        background-position: center;

        //$back-blue-color;

        //#6DBAD8;
        // padding-top: $logo-height + 80px;
        z-index: 113;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        .title {
            position: fixed;
            top: 25px;
            left: $sidebar-small-width;
            right: $right-sidebar-small-width + 25px;
            font-family: aller;
            font-size: 30px;
            color: white;
            text-align: center;

            // background: $back-blue-color;

            //#6DBAD8;
            z-index: 10;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include breakpoint(large_desktop) {
                left: $sidebar-large-width;
                right: $right-sidebar-large-width + 25px;
            }


            .head-title {
                position: absolute;
                font-family: 'waverly';
                font-weight: bold;
                color: #fff;
                font-size: 40px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include breakpoint(large_desktop) {
                    font-size: 50px;
                }
            }

            img {
                width: 90%;
                max-height: 100%;
                margin: 0px auto;
            }
        }
    }
}