<div class="register-page-wrapper ew-page-wrapper login_page">
	<header-menu-component></header-menu-component>
	<div class="content_wrapper">
		<div class="custom_container">
			<div class="top_block">
				<a href="/" class="house_logo">
					<picture>
						<source srcset="/assets/images/logo_dark.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/logo_dark.png">
					</picture>
				</a>
				<div class="bg_block">
					<picture>
						<source srcset="/assets/images/roof_flat.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/roof_flat.png">
					</picture>
				</div>
				<div class="tools_block">
					<div class="tool_part"><i class="icon_tools icon_sience"></i> <span class="text_upper title_page">REGISTER FORM</span></div>
					<div class="tool_part about_training">
						<a ui-sref="login" class="btn_form">
							<i class="fa fa-lock"></i>
							<span class="text">Login</span>
						</a>
					</div>
				</div>
			</div>
			<div class="main_content">
				<div class="wrap_content custom_row form_block">
					<div class="right_part custom_col_9">
						<form class="reg_form" ng-if="!vm.shouldShowOTPDialog" ng-submit="vm.register(form)" name="form" novalidate="">
							<div>
								<div ng-if="vm.formSuccess" class="alert alert-success" role="alert">
									{{vm.successMsg}}
								</div>
								<div ng-if="vm.formError" class="alert alert-danger" role="alert">
									{{vm.errorMsg}} or <a href="/contactus">ContactUS</a>
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.email.$valid,'form-error':(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid )}">
								<label for="" class="control-label">Email ID * (We will send OTP to email address</label>
								<input type="email" autofocus="" class="form-control" id="email" name="email" ng-model="vm.usr_email" required/>	
								<div ng-messages="form.email.$error" ng-if="(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid )" style="color:maroon" role="alert">
								    <div ng-message="email" class="err-msg">*Email address is not valid</div>
								</div>
							</div>
							<div class="custom_row">
								<div class="form-group custom_col_6 input" ng-class="{'form-error':(form.userid.$dirty && !form.userid.$valid) || (form.$submitted && !form.userid.$valid ) || (vm.isUserExists) || vm.isUserNotValid,'form-success':form.userid.$valid && !vm.isUserExists}">
									<label for="" class="control-label">User Id *</label>
									<input type="text" class="form-control" id="userid" name="userid" ng-model="vm.usr_id" required="" ng-blur="vm.checkUserExistance()" ng-keyup="vm.checkUserRegex()"/>
									<div ng-messages="form.userid.$error" ng-if="(form.userid.$dirty && !form.userid.$valid) || (form.$submitted && !form.userid.$valid ) || (vm.isUserExists) || vm.isUserNotValid" style="color:maroon" role="alert">
									    <div ng-if="form.userid.$error.required" class="err-msg">*User ID is required</div>
									    <div ng-if="vm.isUserExists" class="err-msg">*User ID already exist</div>
									    <div ng-if="vm.isUserNotValid" class="err-msg">*User ID not valid.Should contain atleat 4 alphanumeric character</div>
									</div>
								</div>
								<div class="form-group custom_col_6 input" ng-class="{'form-success':form.dname.$valid,'form-error':(form.dname.$dirty && !form.dname.$valid) || (form.$submitted && !form.dname.$valid )}">
									<label for="" class="control-label">Display Name *</label>
									<input type="text" class="form-control" name="dname" id="dname" ng-model="vm.dsp_nm" required="" />
									<div ng-messages="form.dname.$error" ng-if="(form.dname.$dirty && !form.dname.$valid) || (form.$submitted && !form.dname.$valid )" style="color:maroon" role="alert">
									    <div ng-message="required" class="err-msg">*Display name is required</div>
									</div>
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':vm.isPhoneValid,'form-error':!vm.isPhoneValid && form.phone.$touched}">
								<label for="" class="control-label">Phone Number (We will send OTP to phone number)</label>
								<input type="tel" class="form-control" id="phone" name="phone" ng-model="vm.usr_ph" />
								<div ng-if="!vm.isPhoneValid && form.phone.$touched" style="color:maroon" role="alert">
								    <div class="err-msg">*Phone number is not valid</div>
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.pwd.$valid,'form-error':(form.pwd.$dirty && !form.pwd.$valid) || (form.$submitted && !form.pwd.$valid )}">
								<label for="" class="control-label">Password *</label>
								<input type="password" class="form-control" name="pwd" id="pwd" ng-model="vm.pwd" required="" />
								<div ng-messages="form.pwd.$error" ng-if="(form.pwd.$dirty && !form.pwd.$valid) || (form.$submitted && !form.pwd.$valid )" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*Password is required</div>
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.role.$valid,'form-error':(form.role.$dirty && !form.role.$valid) || (form.$submitted && !form.role.$valid )}">
								<label for="" class="control-label">Role *</label>
								<select class="form-control" name="role" id="role" ng-model="vm.usr_role" required="">
									<option value="">Select Role</option>
									<option value="student">Student</option>
									<!-- <option value="working">Working</option> -->
									<option value="parent">Parent</option>
									<option value="teacher">Teacher</option>
									<!-- <option value="author">Author</option> -->
									<!-- <option value="employer">Employer</option> -->
									<!-- <option value="public">Public</option> -->
									<!-- <option value="support">Support</option> -->
								</select>
								<div ng-messages="form.role.$error" ng-if="(form.role.$dirty && !form.role.$valid) || (form.$submitted && !form.role.$valid )" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*Please select role</div>
								</div>
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form">
									<span ng-if="!vm.isFormSubmitting">
										<i class="fa fa-pencil"></i> 
										<span class="text">Sign Up</span>
									</span>
									<span ng-if="vm.isFormSubmitting">
										<i class="fa fa-circle-o-notch"></i> 
										<span class="text">Signing up..</span>
									</span>
								</button>
							</div>
						</form>
						<form class="reg_form" ng-if="vm.shouldShowOTPDialog" ng-submit="vm.verifyOTP()" name="form-otp" autocomplete="off">
							<div>
								<div ng-if="vm.formSuccess" class="alert alert-success" role="alert">
									{{vm.successMsg}}
								</div>
								<div ng-if="vm.formError" class="alert alert-danger" role="alert">
									{{vm.errorMsg}} or <a href="/contactus">ContactUS</a>
								</div>
							</div>
							<div class="form-group input">
								<label for="" class="control-label">Enter OTP <sup>*</sup></label>
								<input type="text" class="form-control" name="otp" id="dname" ng-model="vm.otp"/>
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form" ng-disabled="!vm.otp">
									<span ng-if="!vm.isFormSubmitting">
										<i class="fa fa-pencil"></i> 
										<span class="text">Verify</span>
									</span>
									<span ng-if="vm.isFormSubmitting">
										<i class="fa fa-circle-o-notch"></i> 
										<span class="text">Verifing..</span>
									</span>
								</button>
							</div>
							<div class="clearfix"></div>
							<div class="form-group">
								<span style="cursor: pointer;" ng-click="vm.resendOTP()">Resend OTP ?</span>
							</div>
						</form>
					</div>
					<div class="left_part custom_col_3">
						<ul class="list main_soc_list">
							<li ng-click="vm.authenticateWith('facebook')">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('google')">
								<a href="" class="google"><i class="fa fa-google"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('twitter')">
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('linkedin')">
								<a href="" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="dashboard_link hidden-md-down"></a>
	<div class="bg_page" style="background-image: url(/assets/images/bg_new.png);"></div>
</div>