.help-form-wrapper {
    .content-title {
        text-align: center;
        font-size: 20px;
        font-family: 'nunito',sans-serif;
        background: white;
    }

    .help-content {
        padding: 10px;
        font-size: 16px;
        font-family: 'nunito',sans-serif;
        background: white;
        border-radius: 5px;
    }
}