<div class="admin-page admin-courselist-wrapper help-form-wrapper">
	<div class="row">
		<div class="col-md-12" ng-if="vm.formToView">
			<div class="content-title">
				{{vm.formContent.form_id}}
			</div>
			<div class="content-title" ng-if="!vm.formContent">
				No Help Content to show.
			</div>
			<div class="help-content" ng-if="vm.formContent.help_content" ng-bind-html="vm.formContent.help_content"></div>
		</div>
		<div class="col-md-12" ng-if="!vm.formToView">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Help Admin Forms</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Select Form</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedForm" theme="bootstrap" on-select="vm.onFormChange()" on-remove="vm.onFormChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Form...">
								        <span>
								        	{{$item.form_id}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.form_id as item in (vm.allForms | filter: $select.search) track by $index">
								        <span>
								        	{{item.form_id}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="pagecontent">Content</label>
							<div class="col-xs-10">
								<TEXTAREA tbio class="form-control" configuration="default" rows="10" id="pagecontent" placeholder="Page Content" ng-model="vm.form.help_content"></TEXTAREA>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {};vm.form.help_content = '<p>&nbsp;</p>';vm.selectedForm = [];">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.form_id || !vm.form.help_content"
									ng-click="vm.addFormHelp()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="!vm.formToView">
			<div class="ds-alert" ng-if="!vm.allFormsHelp || vm.allFormsHelp.length <= 0">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allFormsHelp">
				<uib-accordion close-others="false" ng-repeat="form in vm.allFormsHelp | orderBy:'form_name'">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteFormHelp(form.form_id)"><i class="fa fa-times"></i></span>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editFormHelp(form.form_id)"><i class="fa fa-pencil"></i></span>
						{{form.form_id}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in form">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc" style="word-break: break-word;">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>