<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<fieldset>
					<legend>Add Session</legend>
					<form class="form form-horizontal" name="form">
						
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training Name</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.crs_id" id="course" ng-change="vm.changeCourse()" class="form-control"
									ng-options="course.courseId as course.courseName for course in vm.coursesMaster ">
									<option value=""> <b>Select Training</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="session-number">Session Number</label>
							<div class="col-sm-10">
								<input type="text" id="session-number" class="form-control" placeholder="Session Number" readonly ng-model="vm.form.sessionNumber"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sessionname">Session Name</label>
							<div class="col-sm-10">
								<input type="text" ng-disabled="!vm.form.crs_id" id="sessionname" class="form-control" placeholder="Session Name" ng-model="vm.form.sessionName" required/>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sessiondesc">Session Desc</label>
							<div class="col-sm-10">
								<textarea id="sessiondesc" ng-disabled="!vm.form.crs_id" class="form-control" spellcheck="true" placeholder="Session Description" ng-model="vm.form.sessionDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sessionweight">Session Weight</label>
							<div class="col-sm-10">
								<input type="text" id="sessionweight" ng-disabled="!vm.form.crs_id" class="form-control" spellcheck="true" placeholder="Session Weight to order sessions" ng-model="vm.form.sessionWeight" required></input>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-primary submit"  ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-sm-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.crs_id || !vm.form.sessionName" ng-click="vm.addSession()">Save</button>
							</div>
						</div>
					</form>
				</fieldset>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allSessions">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allSessions">
				<uib-accordion close-others="false" ng-repeat="session in vm.allSessions | orderBy:'sessionWeight'">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteSession(session.sessionNumber)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editSession(session.sessionNumber)"><i class="fa fa-pencil"></i></span>
								{{session.sessionNumber}} - {{session.sessionName}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in session">
						<div ng-if="key != '_id'">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>