@import "../../../assets/scss/_common_test.scss";

.login-modal-component {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    font-family: aller;
    font-size: 20px;
    height: 0px;
    overflow: auto;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.3s ease-in-out);

    .close-btn-login {
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: white;
        padding: 5px 15px;
        color: #222;
        border-radius: 38px;
        cursor: pointer;
    }

    .login-form-wrapper {
        width: 100%;
        background: white;
        padding: 20px;
        border-radius: 3px;
        max-width: 800px;
        border: 1px solid #e5e5e5;
        box-shadow: 1px 1px 1px #ccc;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include breakpoint(screen_1000) {
            min-width: 650px;
            width: auto;
            padding-right: 0px;

            @include flex-direction(row);
        }
    }

    .form {
        @include flex(1);

        @include align-self(stretch);
    }

    #error {
        max-height: 100px;
        overflow: auto;
    }

    label {
        color: #222;
        font-family: 'nunito',sans-serif;
    }

    input {
        height: 50px;
        padding: 10px !important;
        border-radius: 5px !important;
        color: #222 !important;
        font-weight: bold;
        font-family: 'nunito',sans-serif;
        box-shadow: 0px 0px 0px !important;
        border: 2px solid #e5e5e5 !important;

        &:focus {
            border: 2px solid #1d99d1 !important;
        }
    }

    .login-btn {
        width: 100%;
        color: #fff;
        text-align: center;
        display: inline-block;
        background: #1d99d1;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        border: 0px;
    }

    .social-media {
        padding: 20px 0px;
        color: #fff;
        margin-left: 20px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include breakpoint(screen_1000) {
            border-left: 1px solid rgba(0, 0, 0, 0.2);

            @include flex-direction(column);
        }
    }

    .social-icon-wrapper {
        margin: 5px 10px;
        cursor: pointer;
        border-radius: 3px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex(1);

        @include breakpoint(screen_1000) {
            margin: 5px 30px;
        }


        i {
            padding: 20px;
            width: 53px;
            text-align: center;
            border-radius: 3px;
        }

        & > span {
            padding: 8px;
            display: inline-block;
        }

        &.facebook {
            background: $facebook;
        }

        &.google {
            background: $google;
        }

        &.twitter {
            background: $twitter;
        }

        &.linkedin {
            background: $linkedin;
        }
    }
}