<div class="login-modal-component" id="login-modal">
	<div class="login-form-wrapper">
		<div class="form">
			<div id="error" ng-if="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
			<form name="form" ng-submit="vm.doLogin()">
				<div class="form-group input">
					<label for="email"><i class="fa fa-user"></i> Username</label>
					<input type="text" ng-model="vm.userId" id="email" class="form-control" autofocus="" name="email" required="" />
				</div>
				<div class="form-group input">
					<label for="password"><i class="fa fa-key"></i> Password</label>
					<input type="password" ng-model="vm.password" id="password" class="form-control" name="password"required="" />
				</div>
				<div class="form-group">
					<button class="login-btn" type="submit">
						<span ng-if="!vm.isFormSubmitting">
							<i class="fa fa-lock"></i>
							Login
						</span>
						<span ng-if="vm.isFormSubmitting">
							<i class="fa fa-circle-o-notch fa-spin"></i>
							Logging in...
						</span>
					</button>
				</div>
			</form>
		</div>
		<div class="social-media">
			<div class="social-icon-wrapper facebook" ng-click="vm.authenticateWith('facebook')">
				<i class="fa fa-facebook"></i>
			</div>
			<div class="social-icon-wrapper google" ng-click="vm.authenticateWith('google')">
				<i class="fa fa-google"></i>
			</div>
			<div class="social-icon-wrapper twitter" ng-click="vm.authenticateWith('twitter')">
				<i class="fa fa-twitter"></i>
			</div>
			<div class="social-icon-wrapper linkedin" ng-click="vm.authenticateWith('linkedin')">
				<i class="fa fa-linkedin"></i>
			</div>
		</div>
	</div>
	<div class="close-btn-login"  ng-click="vm.toggleLoginModal()"><i class="fa fa-arrow-left"></i></div>
</div>