<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Batch Timing</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedTraining" theme="bootstrap" on-select="vm.onTrainingChange()" on-remove="vm.onTrainingChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Training...">
								        <span>
								        	{{$item.crs_id}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.crs_id as item in (vm.allTrainings | filter: $select.search) track by $index">
								        <span>
								        	{{item.crs_id}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Batch</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedBatch" theme="bootstrap" on-select="vm.onBatchChange()" on-remove="vm.onBatchChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Batch...">
								        <span>
								        	{{$item.bat_id}} - {{$item.cls_start_dt | date : 'dd-MMM-yyyy'}} - {{vm.convertTimeTo_AM_PM($item.cls_frm_tm)}} - {{vm.convertTimeTo_AM_PM($item.cls_to_tm)}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bat_id as item in (vm.allBatches | filter: $select.search) track by $index">
								        <span>
								        	{{item.bat_id}} - {{item.cls_start_dt | date : 'dd-MMM-yyyy'}} - {{vm.convertTimeTo_AM_PM(item.cls_frm_tm)}} - {{vm.convertTimeTo_AM_PM(item.cls_to_tm)}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Status</label>
							<div class="col-xs-10">
								<select class="form-control" ng-model="vm.form.status">
									<option value="">Select Status</option>
									<option value="not-started">Not Started</option>
									<option value="running">Running</option>
									<option value="completed">Completed</option>
								</select>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-xs-2 control-label" for="course name">Class Start Date</label>
							<datepicker date-format="MM-dd-yyyy" class="col-xs-10" date-min-limit="{{vm.yesterday}}">
								<input disabled="" class="form-control" ng-model="vm.form.cls_start_dt" placeholder="Class Start Date">
							</datepicker>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="about">Class Time</label>
							<div class="col-xs-5">
								<select class="form-control" disabled="" ng-model="vm.bat_frm_tm_hr">
									<option value="">From Time Hour</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=24) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
							<div class="col-xs-5">
								<select class="form-control" disabled="" ng-model="vm.bat_frm_tm_min">
									<option value="">From Time Minutes</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=60) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
						</div>
						<div class="form-group" ng-if="vm.form.status != 'completed'">
							<label class="col-xs-2 control-label" for="course name">Next Class Date</label>
							<datepicker date-format="MM-dd-yyyy" class="col-xs-10" date-min-limit="{{vm.yesterday}}">
								<input class="form-control" ng-model="vm.form.nxt_cls_dt" placeholder="Next Class Date">
							</datepicker>
						</div>
						<div class="form-group" ng-if="vm.form.status != 'completed'">
							<label class="col-xs-2 control-label" for="about">Next Class Time</label>
							<div class="col-xs-5">
								<select class="form-control" ng-model="vm.nxt_bat_frm_tm_hr">
									<option value="">From Time Hour</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=24) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
							<div class="col-xs-5">
								<select class="form-control" ng-model="vm.nxt_bat_frm_tm_min">
									<option value="">From Time Minutes</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=60) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit"
									ng-disabled="!vm.form.bat_id"
								 ng-click="vm.saveTiming()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allBatchTimingsDashboard">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allBatchTimingsDashboard">
				<uib-accordion close-others="false" ng-repeat="timing in vm.allBatchTimingsDashboard">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editTiming(timing.batch_id)"><i class="fa fa-pencil"></i></span>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteTiming(timing.batch_id)"><i class="fa fa-times"></i></span>
						{{timing.batch_id}} - {{timing.cls_start_dt | date : 'dd-MMM-yyyy'}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in timing">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>