$screen-1280-width: 700px;
$screen-1280-height: 393px;

.ds-play-button {
    position: absolute;
    color: #ccc;
    text-align: center;
    margin: -90px 0px 0px -60px;
    top: 50%;
    left: 50%;

    // z-index: 1002;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;

    i {
        font-size: 90px;
    }
}

.jw-tab-focus:focus {
    outline: none !important;
}

#video_tag {
    z-index: 1002;
}

#video_jw {
    outline: 0px;
}

video {
    padding: 0px 8px;
}

.restricted-section {
    background: rgba(0, 0, 0, 0.7);
    color: white;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    .title {
        font-family: 'Roboto Condensed','aller';
        font-size: 40px;
        color: white;
    }

    .buttons {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .error-btn:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .error-btn:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        & > .error-btn {
            @include flex-grow(1);

            box-shadow: 0px 0px 0px;
            background: #3498DB;
            border-radius: 0px;
            padding: 5px 20px;
            color: white;
            font-family: aller;
            font-weight: bold;
        }

        .orange-color {
            background: #F2784B;
        }
    }
}

.main-video-player {
    #jw_video_wrapper {
        height: calc(100% - 90px);
        width: calc(100%);
        margin: 0px auto;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        &.full-screen {
            height: calc(100% - 200px);
        }

        & > div:first-of-type {
            border: 10px solid white;
            border-radius: 10px;
            width: $screen-1280-width !important;
            height: $screen-1280-height !important;

            @include breakpoint(large_desktop) {
                width: 1280px !important;
                height: 720px !important;
            }
        }

        &.full-screen > div:first-of-type {
            border: 0px solid white;
            border-radius: 0px;
            width: 100% !important;
            height: 100% !important;
        }

        &.popout-video > div:first-of-type {
            border: 0px solid white;
            border-radius: 0px;
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.dim-lights {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(black, 0.8);
    z-index: 1000;
}

.ds-subtitle {
    position: absolute;
    bottom: 58px;
    padding: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 18px;
    height: 40px;
    color: white;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.ds-controlbar-parent-sidebar-small {
    position: absolute !important;
    right: 50px;
    left: 0px;
    width: auto !important;
}

.ds-controlbar {
    $dark-overlay: #000;
    $height: 65px;
    $blue: #4183D7;

    background-color: transparent;
    border-radius: 3px;
    padding: 0px 10px;
    height: $height;
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    opacity: 1;
    margin: 0px auto 0px auto;
    max-width: 800px;

    @include transition(all 0.1s ease-in);

    @include display(flex);

    width: $screen-1280-width !important;

    @include breakpoint(large_desktop) {
        width: 1280px !important;
    }


    &.full-screen {
        z-index: 10000000000000;
    }

    .ds-control {
        color: white;
        height: $height;
        line-height: $height;
        padding: 0px 10px;
        display: inline-block;
        font-size: 13px;
        position: relative;
        outline: none;

        @include display(flex);

        @include align-items(center);

        .overlay {
            width: 50px;
            min-height: 100px;
            position: absolute;
            bottom: $height + 8px;
            left: -8px;
            background-color: rgba(175, 175, 175, 0.8);
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            display: none;

            // z-index: 1002;
            color: black;
            font-family: 'Roboto Condensed',sans-serif;
        }

        .flash {
            li {
                padding: 0px;
            }

            .active {
                color: red;
            }
        }

        ul {
            width: 100%;
            height: 100%;
            margin-bottom: 0px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        li {
            height: 45px;
            line-height: 45px;
            font-size: 12px;
            width: 100%;
            padding: 0px 20px;
            border-bottom: 1px solid black;

            &:first-child {
                border-top: 1px solid black;
            }

            &:hover {
                // background-color: rgba(black, 0.8);
           
            }

            &.active {
                background-color: black;
                color: black;
            }
        }
    }

    button.ds-control, div.ds-control {
        background: transparent;
        box-shadow: 0px 0px 0px;
        font-size: 20px;
        border: 0px;
        border-radius: 0px;
    }

    .play-pause-button {
        // width: 40px;
        top: 7px;

        img {
            height: 50px;
        }
    }

    .prev-btn, .next-btn, .rewind-btn, .forward-btn {
        display: none;

        @include breakpoint(laptop) {
            display: inline-block;
        }
    }

    button.ds-control:hover:active, div.ds-control:hover:active {
        background-color: transparent;
        border: 0px;
        outline: none;
    }

    .time-span, .title-span {
        font-family: 'Aller', sans-serif;
        color: #1BBC9B;
        font-weight: bold;
    }

    .title-span {
        @include flex-grow(1);
    }

    .time-span {
        color: #D24D57;
    }

    .ds-controls-left {
        float: left;
        height: $height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include flex-grow(1);
    }

    .ds-progress-bar-wrapper {
        height: 20px;
        position: absolute;
        margin-left: -10px;
        width: 100%;
        background-color: rgba(white, 0.8);
        cursor: pointer;
        bottom: -20px;
        z-index: 2;

        // z-index: 1002;

        // border-top-left-radius: 3px;
        // border-top-right-radius: 3px;

        @include transition(all 0.1s ease-in);

        &:hover {
            // height: 8px;

            // .ds-progress-bar, .ds-buffered-bar {
            //     height: 8px;
            // }
       
        }
    }

    .mouse-hover-time {
        background: white;
        z-index: 3;
        position: absolute;
        padding: 0px 6px;
        border-radius: 3px;
        top: -30px;
        display: none;

        &:before {
            content: '';
            position: absolute;
            border-top: 6px solid white;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            left: 50%;
            margin-left: -6px;
            bottom: -6px;
        }
    }

    .ds-progress-bar {
        // z-index: 1002;
        z-index: 2;
    }

    .ds-progress-bar, .ds-buffered-bar {
        width: 00%;
        background-color: #1d99d1;
        bottom: 0px;
        left: 0px;
        top: 0px;
        position: absolute;

        @include transition(all 0.1s ease-in);
    }

    .ds-buffered-bar {
        background-color: #95a5a6;
        z-index: 1;
    }

    .ds-controls-right {
        float: right;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .continuous-btn {
        font-family: waverly;
        font-size: 13px !important;
        text-transform: capitalize;

        .gray {
            color: #ccc;
        }

        .green {
            color: #2ea677;
        }
    }

    .ds-control.subtitle {
        &.on {
            color: $blue;
        }

        &.off {
            color: gray;
        }
    }

    .volume.overlay {
        background: transparent;
        height: 200px;
    }

    .volume-control-wrapper {
        background-color: rgba(white, 0.3);
        height: 100%;
        width: 10px;
        display: inline-block;
    }

    .ds-sound-progress-wrapper {
        height: 8px;
        background: white;
        width: 75px;
        margin-left: 5px;
        position: relative;
        top: 2px;

        .ds-sound-real-progress {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: #1d99d1;

            @include transition(all 0.5s ease-in-out);
        }
    }

    .volume-slider {
        width: 17px;
        height: 100px;
        display: inline-block;
        position: relative;
        top: 85px;
    }

    .noUi-connect {
        background: $blue;
    }

    .overlay.combine {
        width: auto;
        text-align: left;
        left: auto;
        right: -20px;
        min-height: auto;
    }

    .combine .title {
        text-align: left;
    }

    .combine .value {
        text-align: right;
        margin-left: 30px;

        span.item {
            margin-right: 10px;

            &.active {
                color: red;
            }

            &:after {
                content: "|";
                margin-left: 10px;
                position: relative;
                top: -1px;
                color: black;
            }

            &:last-child:after {
                content: '';
            }
        }
    }

    .refresh-speed-icon {
        font-size: 15px;
        margin-left: 30px;
    }

    .speed-slider {
        width: 100px;
        display: inline-block;
        left: 10px;
        top: 5px;
    }
}

.not-video-page-player {
    .ds-controlbar {
        height: 50px;
        overflow: hidden;

        .ds-progress-bar-wrapper {
            position: absolute;
            top: 0px;
            height: 5px;
        }
    }
}

.in-browser-fullscreen {
    position: fixed !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: black;
    z-index: 1111111;
    height: auto !important;

    #jw_video_wrapper {
        & > div:first-of-type {
            border: 0px solid white;
            border-radius: 0px;
            width: 100% !important;
            height: 100% !important;
        }
    }
}