$screen-1280-width: 854px;
$screen-1280-height: 480px;
$screen-1920-width: 1280px;
$screen-1920-height: 720px;

.jw-title-primary {
    display: none;
}

.ds-play-button {
    position: absolute;
    color: #ccc;
    text-align: center;
    margin: -50px 0px 0px -50px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    opacity: 0;

    i {
        font-size: 100px;
        width: 100px;
    }

    &.animate {
        @include animation(scale 1s forwards);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

.ds-spinner {
    position: absolute;
    color: #ccc;
    text-align: center;
    margin: -50px 0px 0px -50px;
    top: 50%;
    left: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

    i {
        font-size: 100px;
        width: 100px;

        &.red {
            color: #D24D57;
        }
    }
}

.jw-tab-focus:focus {
    outline: none !important;
}

#video_tag {
    z-index: 1002;
}

#video_jw {
    outline: 0px;
}

video {
    padding: 0px 8px;
}

.restricted-section {
    background: rgba(0, 0, 0, 0.7);
    color: white;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(column);

    .title {
        font-family: 'Roboto Condensed','aller';
        font-size: 20px;
        color: white;

        @include breakpoint(screen_1280) {
            font-size: 40px;
        }
    }

    .buttons {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .error-btn:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .error-btn:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        & > .error-btn {
            @include flex-grow(1);

            box-shadow: 0px 0px 0px;
            background: #3498DB;
            border-radius: 0px;
            padding: 5px 20px;
            color: white;
            font-family: aller;
            font-weight: bold;
        }

        .orange-color {
            background: #F2784B;
        }
    }
}

.main-video-player {
    tooltip tip {
        background-color: white;
        color: #222;
        font-family: 'Nunito',sans-serif;
        font-size: 17px;
    }

    tooltip._top tip tip-arrow {
        border-top-color: white;
    }

    tooltip._right tip tip-arrow {
        border-right-color: white;
    }

    tooltip._left tip tip-arrow {
        border-left-color: white;
    }

    #jw_video_wrapper {
        height: calc(100% - 90px);
        width: calc(100%);
        margin: 0px auto;
        z-index: 100;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        &.full-screen {
            height: calc(100% - 200px);
        }

        & > div:first-of-type {
            width: $screen-1280-width !important;
            height: $screen-1280-height !important;

            // @include breakpoint(large_desktop) {
            //     width: $screen-1920-width !important;
            //     height: $screen-1920-height !important;
            // }

            @media screen and (min-height: 750px) and (min-width: 1680px) {
                width: $screen-1920-width !important;
                height: $screen-1920-height !important;
            }
        }

        &.full-screen > div:first-of-type {
            border: 0px solid white;
            border-radius: 0px;
            width: 100% !important;
            height: 100% !important;
        }

        &.popout-video > div:first-of-type {
            border: 0px solid white;
            border-radius: 0px;
            width: 100% !important;
            height: 100% !important;
        }
    }

    .ew-desktop {
        display: none !important;

        @include breakpoint(screen_1280) {
            display: inherit !important;
        }
    }

    .ew-mobile {
        display: inherit !important;
        margin-top: 15px;

        @include breakpoint(screen_1280) {
            display: none !important;
        }
    }

    .player-error-wrapper {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 50px;
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .error-text {
            font-family: 'nunito',sans-serif;
            font-size: 20px;
            color: #222;
            background: white;
            border-radius: 5px;
            min-height: 100px;
            white-space: nowrap;
            padding: 10px;

            // max-width: 400px;

            @include display(flex);

            @include flex-direction(row);

            i {
                font-size: 30px;
                color: #1d99d1;
                margin-right: 20px;
                margin-top: 3px;
            }
        }
    }
}

.dim-lights {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(black, 0.8);
    z-index: 1000;
}

.ds-subtitle {
    position: relative;

    // bottom: 50px;
    padding: 10px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 18px;
    height: 40px;
    color: white;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;

    &.full-screen {
        z-index: 10000000000000;
        position: absolute;
        bottom: 50px;
    }
}

.ds-controlbar-parent-sidebar-small {
    position: absolute !important;
    right: 50px;
    left: 0px;
    width: auto !important;
}

.ds-controlbar {
    $dark-overlay: #000;
    $height: 50px;
    $blue: #4183D7;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding: 0px 10px;
    height: $height;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 1;
    margin: 0px auto 0px auto;
    width: 100% !important;
    max-width: $screen-1280-width !important;

    @include breakpoint(large_desktop) {
        max-width: $screen-1920-width !important;
    }


    @include transition(all 0.1s ease-in);

    @include display(flex);

    @include align-items(flex-end);

    &.full-screen {
        z-index: 10000000000000;
        position: absolute;
    }

    .disabled {
        pointer-events: none;
        color: #555 !important;
    }

    &.ew-mobile.full-screen {
        display: none !important;
    }

    .ds-control {
        color: white;
        height: $height - 5;
        line-height: $height - 5;
        padding: 0px 10px;
        margin: 0px 10px;
        display: inline-block;
        font-size: 17px;
        position: relative;
        outline: none;

        @include display(flex);

        @include align-items(center);

        @include breakpoint(screen_1280) {
            margin: 0px;
            font-size: 13px;
        }


        img {
            max-width: 20px;
            max-height: 20px;
            min-height: 20px;
            min-width: 20px;
        }

        .overlay {
            width: 50px;
            min-height: 100px;
            position: absolute;
            bottom: $height + 8px;
            left: -8px;
            background-color: rgba(0, 0, 0, 0.8);
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 3px;
            display: none;
            border: 1px solid white;
            color: white;
            font-family: 'Roboto Condensed',sans-serif;
            z-index: 101;
        }

        .flash {
            li {
                padding: 0px;
            }

            .active {
                color: red;
            }
        }

        ul {
            width: 100%;
            height: 100%;
            margin-bottom: 0px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        li {
            height: 45px;
            line-height: 45px;
            font-size: 13px;
            width: 100%;
            padding: 0px 20px;
            border-bottom: 1px solid black;

            &:first-child {
                border-top: 1px solid black;
            }

            &:hover {
                // background-color: rgba(black, 0.8);
           
            }

            &.active {
                background-color: black;
                color: black;
            }
        }
    }

    button.ds-control, div.ds-control {
        background: transparent;
        box-shadow: 0px 0px 0px;
        border: 0px;
        border-radius: 0px;
        font-size: 25px;

        @include breakpoint(screen_1280) {
            font-size: 15px;
        }
    }

    .play-pause-button {
        // width: 40px;
        // top: 7px;

        img {
            height: 26px;
        }
    }

    .prev-btn, .next-btn, .rewind-btn, .forward-btn {
        display: none;

        @include breakpoint(laptop) {
            display: inline-block;
        }
    }

    button.ds-control:hover:active, div.ds-control:hover:active {
        background-color: transparent;
        border: 0px;
        outline: none;
    }

    .time-span, .title-span {
        font-family: 'Aller', sans-serif;
        color: #1BBC9B;
        font-weight: bold;
    }

    .title-span {
        @include flex(1);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .p-btn {
            margin: 0px 10px;
            font-size: 16px;
            cursor: pointer;
            white-space: nowrap;

            i {
                margin: 0px 5px;
                font-size: 20px;
                position: relative;
                top: 1px;
            }
        }
    }

    &.ew-mobile .title-span {
        @include flex(1);

        .p-btn {
            padding: 0px 10px;
            font-weight: bold;
            cursor: pointer;
            white-space: nowrap;

            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            i {
                margin: 0px 5px;
                font-size: 35px;
                margin-top: -5px;
                position: relative;
            }
        }
    }

    .time-span {
        color: #D24D57;
    }

    .ds-controls-left {
        float: left;
        height: $height - 5;
        position: relative;
        top: 9px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        @include flex-grow(1);

        @include breakpoint(screen_1280) {
            top: 0px;
        }
    }

    &.ew-mobile .ds-controls-left {
        float: none;

        @include justify-content(space-around);
    }

    .ds-progress-bar-wrapper {
        height: 10px;
        position: absolute;
        margin-left: 0px;
        width: calc(100%);
        background-color: #e5e5e5;
        cursor: pointer;
        top: 0px;
        z-index: 2;
        left: 0px;

        @include transition(all 0.1s ease-in);

        @include breakpoint(screen_1280) {
            height: 5px;
        }
    }

    .mouse-hover-time {
        background-color: white;
        z-index: 3;
        position: absolute;
        padding: 0px 6px;
        border-radius: 3px;
        top: -120px;
        display: none;
        width: 208px;
        height: 108px;
        border: 4px solid white;
        color: white;

        &:before {
            content: '';
            position: absolute;
            border-top: 6px solid white;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            left: 50%;
            margin-left: -6px;
            bottom: -10px;
        }

        .time {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            border-radius: 5px;
        }
    }

    .ds-progress-bar {
        // z-index: 1002;
        z-index: 2;
    }

    .ds-progress-bar, .ds-buffered-bar {
        width: 00%;
        background-color: #1d99d1;
        bottom: 0px;
        left: 0px;
        top: 0px;
        position: absolute;

        @include transition(all 0.1s ease-in);
    }

    .ds-buffered-bar {
        background-color: #95a5a6;
        z-index: 1;
    }

    .ds-controls-right {
        float: right;
        position: relative;
        top: 9px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include breakpoint(screen_1280) {
            top: 0px;
        }
    }

    .continuous-btn {
        font-family: 'nunito',sans-serif;
        font-size: 15px !important;
        text-transform: capitalize;

        .gray {
            color: #ccc;
        }

        .green {
            color: #2ea677;

            // font-weight: bold;
       
        }
    }

    .subtitle-btn {
        padding: 0px 8px;
        border-radius: 0px;
        border: 1px solid #222;
        height: 20px;
        font-size: 11px;
        line-height: 20px;
        background: #fff;
        border-radius: 2px;
        color: #222;

        &.ON {
            background: #26A65B;
            border: 1px solid #26A65B;
            color: #fff;
        }
    }

    .ds-control.subtitle {
        &.on {
            color: $blue;
        }

        &.off {
            color: gray;
        }
    }

    .volume.overlay {
        background: transparent;
        height: 200px;
    }

    .volume-control-wrapper {
        background-color: rgba(white, 0.3);
        height: 100%;
        width: 10px;
        display: inline-block;
    }

    .ds-sound-progress-wrapper {
        height: 8px;
        background: rgba(255, 255, 255, 0.2);
        width: 75px;
        margin-left: 5px;
        position: relative;
        display: none;

        @include breakpoint(screen_1280) {
            display: block;
        }


        .ds-sound-real-progress {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: #fff;

            @include transition(all 0.5s ease-in-out);
        }
    }

    .volume-slider {
        width: 17px;
        height: 100px;
        display: inline-block;
        position: relative;
        top: 85px;
    }

    .noUi-connect {
        background: $blue;
    }

    .overlay.combine {
        width: auto;
        text-align: left;
        left: auto;
        right: -20px;
        min-height: auto;
    }

    .combine .title {
        text-align: left;
        min-width: 75px;
        display: inline-block;
    }

    .combine .value {
        text-align: right;
        margin-left: 30px;

        span.item {
            margin-right: 10px;

            &.active {
                color: red;
            }

            &:after {
                content: "|";
                margin-left: 10px;
                position: relative;
                top: -1px;

                // color: white;
           
            }

            &:last-child:after {
                content: '';
            }
        }
    }

    .refresh-speed-icon {
        font-size: 15px;
        margin-left: 30px;
    }

    .speed-slider {
        width: 100px;
        display: inline-block;
        left: 10px;
        top: 5px;
    }
}

.not-video-page-player {
    .ds-controlbar {
        height: 50px;
        overflow: hidden;

        .ds-progress-bar-wrapper {
            position: absolute;
            top: 0px;
            height: 5px;
        }
    }
}

.in-browser-fullscreen {
    position: fixed !important;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: black;
    z-index: 1111111;
    height: auto !important;

    #jw_video_wrapper {
        & > div:first-of-type {
            border: 0px solid white;
            border-radius: 0px;
            width: 100% !important;
            height: 100% !important;
        }
    }
}