.minimal-controlbar-wrapper {
    $height: 50px;
    $icon-width-height: 25px;

    #jw_video_wrapper {
        height: calc(100% - 90px);
        width: calc(100%);
        margin: 0px auto;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        & > div:first-of-type {
            width: 854px !important;
            height: 480px !important;

            @include breakpoint(large_desktop) {
                width: 960px !important;
                height: 540px !important;
            }
        }

        &.full-screen > div:first-of-type {
            width: 100% !important;
            height: 100% !important;
        }
    }

    .ds-controlbar {
        height: $height;
        bottom: 20px;
        z-index: 10000000000;
        background: #000;
        width: 100% !important;
        bottom: 0px;
        width: 100% !important;
        max-width: 854px !important;

        @include display(flex);

        @include breakpoint(large_desktop) {
            max-width: 960px !important;
        }


        &.full-screen {
            position: absolute;
        }
    }

    .ds-controls-left {
        height: $height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include flex-grow(1);
    }

    .icon-btn {
        width: $icon-width-height;
        height: $icon-width-height !important;
        padding: 0px;
    }

    .play-btn {
        background: url("../images/play.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .pause-btn {
        background: url("../images/pause.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .volume-btn {
        background: url("../images/volume.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .fullscreen-btn {
        background: url("../images/desktop.svg");
        width: $icon-width-height;
        display: inline-block;
        height: $icon-width-height;
        background-size: cover;
    }

    .ds-control {
        height: $height;
        line-height: normal;
    }

    .overlay {
        bottom: $height + 8px;
    }

    .time-span {
        padding: 0px 5px;
        color: #3399cc;
        font-size: 18px;
    }

    .ds-progress-bar-wrapper {
        position: relative;
        top: 0px;
        margin: 0px;
        left: 0px;
        border-radius: 10px;
        height: 10px;

        .ds-progress-bar {
            background-color: #3399cc;
        }

        .ds-progress-bar, .ds-buffered-bar {
            border-radius: 10px;
            height: 10px;
        }
    }

    .ds-controls-right {
        height: $height;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }
}