.slide-continue-wrapper {
    width: 100%;
    background: #fff;
    padding: 10px 0px;
    border-radius: 2px;
    color: #222;

    h1, h2, h3, h4, h5, h6 {
        color: #222;
    }

    pre {
        background: #f5f2f0 !important;
    }

    .slide {
        // border-bottom: 3px solid #1d99d1;
        // padding: 10px;
   
    }

    .slide-title {
        font-family: waverly;
        font-size: 18px;

        .number {
            margin-right: 10px;
            font-size: 25px;
            font-family: aller;
            padding: 10px 20px;
            background: #6BB9F0;
            border-radius: 0%;
            color: #222;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    .slide-image, .slide-code {
        margin: 10px 0px;
        padding: 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        img {
            border: 3px solid white;
            box-shadow: 1px 1px 5px #222;
            border-radius: 3px;
            max-width: 100%;
        }
    }

    .slide-desc-wrapper {
        font-size: 17px;
        padding: 10px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        .slide-desc {
            font-family: aller;
            font-family: 17px;
        }
    }
}