<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" ng-submit="vm.updatePublication()">
					<fieldset>
						<legend>Add Publication</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="pubId">Publication Id<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="pubId" class="form-control" placeholder="Id" ng-change="vm.checkValidityOfID()" ng-disabled="vm.formIsInEditMode" ng-model="vm.form.publicationId" required="" />
							</div>
							
						</div>
						<div class="alert alert-danger" ng-if="vm.idExists">
								Publication Id exists
							</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="pubname">Publication Name<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="pubname" class="form-control" placeholder="Name" ng-model="vm.form.publicationName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="pubdesc">Description</label>
							<div class="col-sm-10">
								<textarea id="pubdesc" class="form-control" placeholder="Description" ng-model="vm.form.publicationDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Publication</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" type="submit" ng-disabled="vm.idExists">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchPublications()" ng-if="!vm.publications || vm.publications.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isPublicationsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isPublicationsLoading"></i>
				<span class="text">Show Publications</span>
			</div>	
		</div>
		
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.publications">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.publications">
				<uib-accordion close-others="false" ng-repeat="pub in vm.publications">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removePublication(pub.publicationId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editPublication(pub.publicationId)"><i class="fa fa-pencil"></i></span>
								{{pub.publicationName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in pub">

							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
				<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMorePublications()" ng-if="(vm.publications==[] || vm.publications.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isPublicationsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isPublicationsLoading"></i>
				<span class="text">More</span>
			</div>	
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>