<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>User Batch Enroll</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="usrs">User</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedUsers" theme="bootstrap" on-select="vm.onUserChange()" on-remove="vm.onUserChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select User...">
								        <span>
								        	{{$item.usr_id}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.usr_id as item in (vm.allUsers | filter: $select.search) track by $index">
								        <span>
								        	{{item.usr_id}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Batch</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedBatch" theme="bootstrap" on-select="vm.onBatchChange()" on-remove="vm.onBatchChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Batch...">
								        <span>
								        	{{$item.crs_id}} - <strong>{{$item.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bat_id as item in (vm.allBatches | filter: $select.search) track by $index">
								        <span>
								        	{{item.crs_id}} - <strong>{{item.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.enroll_bat || !vm.form.usr_id"
									ng-click="vm.addUserBatchEnroll()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.userEnrollAllBatch || vm.userEnrollAllBatch.length <= 0">No Data to display</div>

			<div class="courses-wrapper accordion-panel-wrapper" style="background: white;" ng-if="vm.userEnrollAllBatch && vm.userEnrollAllBatch.length > 0">
				<table class="table table-condensed table-bordered">
					<tr>
						<th>Training</th>
						<th>Batch</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>From Time</th>
						<th>To Time</th>
						<th>From Week Day</th>
						<th>To Week Day</th>
						<th>Status</th>
						<th>Unenrolled</th>
					</tr>
					<tr ng-repeat="batch in vm.userEnrollAllBatch">
						<td>{{batch.crs_id}}</td>
						<td>{{batch.bat_id}}</td>
						<td>{{batch.cls_start_dt | date : 'dd-MMM-yyyy'}}</td>
						<td>{{batch.cls_end_dt | date : 'dd-MMM-yyyy'}}</td>
						<td>{{batch.cls_frm_tm}}</td>
						<td>{{batch.cls_to_tm}}</td>
						<td>{{batch.frm_wk_dy}}</td>
						<td>{{batch.to_wk_dy}}</td>
						<td ng-class="{'green':batch.enroll_status,'red':!batch.enroll_status}">{{batch.enroll_status}}</td>
						<td style="text-align: center;">
							<div ng-if="batch.enroll_status" class="remove-btn" style="color: red;cursor: pointer;" ng-click="vm.removeUserBatchEnroll(batch.bat_id)">
								<i class="fa fa-times-circle"></i>
							</div>
						</td>
					</tr>
				</table>
					

				<!-- <uib-accordion close-others="false" ng-repeat="template in vm.userEnrollAllBatch">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>

								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteUserEmailGroup(template.pk_id)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editUserEmailGroup(template.pk_id)"><i class="fa fa-pencil"></i></span>
								{{template.frm_nm}} -- {{template.training_id}} - <strong>{{template.batch_details.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in template">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc" style="word-break: break-word;">{{value}}</div>
				</div>
				</div>
				</uib-accordion> -->
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.green{
		color: green;
	}
	.red{
		color: red;
	}
	body{
		background-color: #ecf0f1;
	}
</style>