<div class="admin-page video-slide-page">
	<div class="row">
		<div ng-class="{'col-md-6':vm.showUploadImageForm,'col-md-12':!vm.showUploadImageForm}">
			<div class="form-wrapper">
				<form class="form form-horizontal" name="form">
					<fieldset>
						<legend>Add Slides</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="course">Course</label>
							<div class="col-sm-10">
								<select id="course"  ng-model="vm.form.courseId" ng-change="vm.changeCourse()" class="form-control"
									ng-options='course.courseId as course.courseName for course in vm.courseList'>
									<option value="">Select Course</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="module">Module</label>
							<div class="col-sm-10">
								<select id="module" ng-model="vm.form.moduleId" ng-change="vm.changeModule()" class="form-control"
									ng-options='module.moduleId as (module.moduleNumber + " - " + module.moduleName) for module in vm.moduleList'>
									<option value="">Select Module</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="video">Video</label>
							<div class="col-sm-10">
								<select id="video" 
									ng-model="vm.form.videoId" 
									ng-change="vm.changeVideo()" 
									class="form-control"
									ng-options='video.itemId as (video.itemNumber + " - " + video.itemName) for video in vm.videoList' required>
									<option value="">Select Video</option>
								</select>
							</div>
						</div>
						<div ng-if="vm.showForm">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="topictitle">Topic Title</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"  id="topictitle" placeholder="Topic Title" ng-model="vm.form.topicTitle"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="slidedesc">Slide Description</label>
								<div class="col-sm-10">
									<textarea id="slidedesc" class="form-control" placeholder="Slide Description" ng-model="vm.form.slideDesc"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="slidenumber">Slide Number</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="slidenumber" placeholder="Slide Number" ng-model="vm.form.slideNumber" readonly></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="slideTitle">Slide Title</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="slideTitle" placeholder="Slide Title" ng-model="vm.form.slideTitle"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="slideweight">Slide Weight</label>
								<div class="col-sm-10">
									<input type="number" class="form-control" id="slideweight" placeholder="Slide Weight to order slides" ng-model="vm.form.slideWeight"></input>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="slidecontent">Slide Content</label>
								<div class="col-sm-10">
									<input type="radio" name="slidecontent" ng-model="vm.form.slideContent" value="image" class="" id="slidecontent" checked>Image</input>
									<input type="radio" name="slidecontent" ng-model="vm.form.slideContent" value="code" class="" id="slidecontent">Code</input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.form.slideContent === 'image'">
								<label class="col-sm-2 control-label" for="slideimage">Slide Image</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="slideimage" placeholder="Slide Image" ng-model="vm.form.slideImage" readonly></input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.form.slideContent === 'code'">
								<label class="col-sm-2 control-label" for="noofblocks">No Of Blocks</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="noofblocks" placeholder="No Of Blocks" ng-model="vm.form.noOfBlocks"></input>
								</div>
							</div>
							<div ng-repeat="blockN in vm.getNumber(vm.form.noOfBlocks) track by $index" ng-if="vm.form.slideContent === 'code'">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="language">Language #{{$index + 1}}</label>
									<div class="col-sm-10">
										<select id="language" ng-model="vm.form.blocks[$index]['codeLanguage']" class="form-control"
										ng-options='language.value as (language.name) for language in vm.codeLanguages' required>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="heading">Heading #{{$index + 1}}</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="heading" placeholder="Code Heading" ng-model="vm.form.blocks[$index]['heading']"></input>
									</div>
								</div>
								<div class="form-group" ng-if="vm.form.blocks[$index]['codeLanguage'] != 'plain'">
									<label class="col-sm-2 control-label" for="slidecode">Code #{{$index + 1}}</label>
									<div class="col-sm-10">
										<textarea class="form-control" id="slidecode" placeholder="Your Code Here" ng-model="vm.form.blocks[$index]['slideCode']" rows="10"></textarea>
									</div>
								</div>
								<div class="form-group" ng-if="vm.form.blocks[$index]['codeLanguage'] === 'plain'">
									<label class="col-sm-2 control-label" for="slidecode">Code #{{$index + 1}}</label>
									<div class="col-sm-10">
										<textarea class="form-control" froala="vm.EditorConfig" id="slidecode" placeholder="Your Code Here" ng-model="vm.form.blocks[$index]['slideCode']" rows="10"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="codepreview">Preview #{{$index + 1}}</label>
									<div class="col-sm-10">
										<div>
											<pre><code ng-bind-html="vm.trustAsHTML(vm.form.blocks[$index]['slideCode'])" class="line-numbers language-{{vm.form.blocks[$index]['codeLanguage']}}" ></code></pre>
										</div>
									</div>
								</div>
							</div>
							

							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="noofslidenotes">No of Slide Notes</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="noofslidenotes" placeholder="No of SlideNotes" ng-model="vm.form.noOfSlideNotes"></input>
								</div>
							</div>
							<div ng-repeat="slideN in vm.getNumber(vm.form.noOfSlideNotes) track by $index">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="slideNotes">Slide Notes - {{$index + 1}}</label>
									<div class="col-sm-10">
										<textarea id="slideNotes" class="form-control" placeholder="Slide Notes(Seperate Notes with new line)" ng-model="vm.form.slideNotes[$index]"></textarea>
									</div>
								</div>
							</div>
							
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.videoId" ng-click="vm.showUploadImageForm = !vm.showUploadImageForm" style="margin-top: 25px;"><i class="fa fa-upload"></i> Images</button>
							</div>
							<div class="col-sm-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.videoId" ng-click="vm.newSlide()" style="margin-top: 25px;">New Slide</button>
							</div>
							<div class="col-sm-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.courseId || !vm.form.moduleId || !vm.form.videoId" ng-click="vm.addVideoSlide()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
			<!-- <div class="clearfix" ng-class="{'col-md-6':vm.showUploadImageForm,'col-md-12':!vm.showUploadImageForm}"> -->
			<div class="ds-alert" ng-if="!vm.videoSlides">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.videoSlides">
				<uib-accordion close-others="false" ng-repeat="slide in vm.videoSlides">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
				<div class="">
					<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
					<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteVideoSlide(slide.slideId)"><i class="fa fa-times"></i></span>
					<span class="pull-right panel-header-buttons edit" ng-click="vm.editVideoSlide(slide.slideId)"><i class="fa fa-pencil"></i></span>
					{{slide.slideNumber}} - {{slide.slideTitle}}
				</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in slide">
					<div ng-if="key != '_id'">
						<div class="col-xs-2 title">{{key}}</div>
						<div class="col-xs-10 desc">{{value}}</div>
					</div>
				</div>
				</div>
				</uib-accordion>
			</div>
			<!-- </div> -->
		</div>
		<div class="col-md-6" ng-if="vm.showUploadImageForm">
			<div class="upload-image-form">
				<div class="title">Uplaod Slide Images</div>
				<div class="file-select-wrapper" ngf-drop ng-model="vm.files"
					ngf-pattern="'image/*'" ngf-accept="'image/*'"
					ngf-max-size="15MB" ngf-min-height="100"
					ngf-multiple="true">
					<span class="btn-select"
						ngf-select ng-model="vm.files" name="file"
						ngf-pattern="'image/*'" ngf-accept="'image/*'"
						ngf-max-size="15MB" ngf-min-height="100"
					ngf-multiple="true">Select files</span>
					<div>Or</div>
					<div>Drag Files</div>
				</div>
			</div>
			<div style="margin-top: 20px;" ng-if="vm.files.length > 0">
				<span ng-class="{'disabled':vm.isUploadGoingOn}" class="upload-btn btn btn-primary pull-right" ng-click="vm.uploadSlideImages()">Upload All</span>
			</div>
			<div class="clearfix"></div>
			<div>{{vm.slidesImageProgress}}</div>
			<div class="slides-image-progress"></div>
			<div class="upload-image-wrapper" ng-if="!vm.isUploadCompleted">
				<div class="slide-image" ng-repeat="file in vm.files track by $index">
					<img ngf-src="file" ngf-resize="{width: 70 , height:70 }">
					<span class="image-name">{{vm.fileNames[$index]}}</span>
				</div>
			</div>
			<div class="upload-complete-msg" ng-if="vm.isUploadCompleted">
				Slides Uploaded
			</div>
		</div>
		
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>