@import "../../assets/scss/_common_test.scss";

.sidelinks-page {
    padding-top: 50px;
}

.fixed-buttons {
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    z-index: 999;
    padding: 10px;
    background: #ecf0f1;

    @include display(flex);

    @include align-items(center);

    @include justify-content(flex-end);

    @include flex-direction(row);
}