<div class="admin-page admin-courselist-wrapper sidelinks-page">
	<div class="fixed-buttons">
		<a ng-if="vm.isPageEditing" class="ew-rounded-btn" ng-href="https://examwarrior.com/blog/{{vm.currentlyEditPage.page_cat}}-tutorials/{{vm.currentlyEditPage.page_id}}" target="_blank">
			<i class="fa fa-video-camera right"></i>
			<span class="text">Preview</span>
		</a>
		<div class="ew-rounded-btn" ng-click="vm.scrollDown()">
			<i class="fa fa-arrow-down right"></i>
			<span class="text">Scroll Down</span>
		</div>
		<div class="ew-rounded-btn" ng-click="vm.scrollUp()">
			<i class="fa fa-arrow-up right"></i>
			<span class="text">Scroll Up</span>
		</div>
		<div class="ew-rounded-btn"  ng-class="{'disable':!vm.form.page_id || !vm.form.page_nm || !vm.form.page_content}" ng-click="vm.savePage()">
			<i class="fa fa-save right"></i>
			<span class="text">Save</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Article</legend>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="pageid">Page ID </label>
							<div class="col-xs-11">
								<input type="text" class="form-control" id="pageid" ng-change="vm.onIdFieldChange()" placeholder="Page Id" ng-model="vm.form.page_id"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="pagename">Page Name</label>
							<div class="col-xs-11">
								<input type="text" class="form-control" id="pagename" placeholder="Page Name" ng-model="vm.form.page_nm"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="course-sub-group">Page Category</label>
							<div class="col-xs-11">
								<select ng-model="vm.form.page_cat" id="course-sub-group" class="form-control"
									ng-options="subgroup.subgroupInUrl as subgroup.subgroupName for subgroup in vm.allSubgroup ">
									<option value=""> <b>Select Page Category</b> </option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-1 control-label" for="course name">Course</label>
							<div class="col-xs-11">
								<ui-select multiple ng-model="vm.selectedCourse" theme="bootstrap" on-select="vm.onCourseChange()" on-remove="vm.onCourseChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Course...">
								        <span>
								        	{{$item.courseName}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.allCourses | filter: $select.search) track by $index">
								        <span>
								        	{{item.courseName}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="course name">Topics</label>
							<div class="col-xs-11">
								<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.onTopicChange()" on-remove="vm.onTopicChange()" close-on-select="true">
								    <ui-select-match placeholder="Select Topics...">
								        <span>
								        	{{$item.topicName}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.allTopics | filter: $select.search) track by $index">
								        <span>
								        	{{item.topicName}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-1 control-label" for="pagecontent">Content</label>
							<div class="col-xs-11">
								<!--  -->
								<TEXTAREA froala="vm.EditorConfig"  class="form-control" id="pagecontent" placeholder="Page Content" ng-model="vm.form.page_content"> </TEXTAREA>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label" for="video-link">Material</label>
							<div class="col-sm-11">
								<div class="ew-rounded-btn"
									style="margin-right: 10px;display: inline-block;" 
									ngf-select
									ng-model="vm.materialFile"
									ngf-multiple="false"
									>
									<i class="fa fa-upload right"></i>
									<span class="text">{{vm.materialFileName || 'Select File'}}</span></div>
								<span ng-if="vm.materialFile && !vm.isMaterialUploadInProgress && !vm.isMaterialUploaded">
									<div class="btn btn-primary" ng-click="vm.uploadMaterialFile()">Upload</div>
									<div class="btn btn-danger" 
										ng-click="vm.materialFile = undefined">Reset</div>
								</span>
								<span ng-if="vm.isMaterialUploadInProgress">
									Material Upload in progress {{vm.uploadProgress}}%
								</span>
								<span ng-if="vm.isMaterialUploaded">
									Material Uploaded
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {};vm.selectedCourse=[];vm.materialFile = undefined;vm.materialFileName='';">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.page_id || !vm.form.page_nm || !vm.form.page_content"
									ng-click="vm.savePage()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<ui-select multiple  style="background: white" ng-model="vm.selectedFilteredTopics" theme="bootstrap" close-on-select="true">
			    <ui-select-match placeholder="Select Topics to filter items...">
			        <span>
			        	{{$item.topicName}}
			        </span>
			    </ui-select-match>
			    <ui-select-choices repeat="item.topicId as item in (vm.allTopics | filter: $select.search) track by $index">
			        <span>
			        	{{item.topicName}}
			        </span>
			    </ui-select-choices>
			</ui-select>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allPages">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allPages">
				<uib-accordion close-others="false" ng-if="vm.shouldShowArticleInList(page)" ng-repeat="page in vm.allPages">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deletePage(page.page_id)"><i class="fa fa-times"></i></span>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editPage(page.page_id)"><i class="fa fa-pencil"></i></span>
						{{page.page_nm}}
					</div>
				</uib-accordion-heading>
				<div class="skill-info-row">
					<div class="col-xs-2 title">Preview Link</div>
					<div class="col-xs-10 desc">
						<a ng-href="https://examwarrior.com/blog/{{page.page_cat}}-tutorials/{{page.page_id}}" target="_blank">Preview Link</a>
				</div>
				<div class="row skill-info-row" ng-repeat="(key,value) in page">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>