<div class="fluid-container admin-master-page-wrapper">
		<div class="row">
			<div class="menu-collapse-btn" 
				ng-click="vm.hideSidebar = !vm.hideSidebar"
				style="cursor: pointer;color: white;position: fixed;top: 3px;left: 15px;z-index: 10002;font-size: 25px;">
				<i class="fa" ng-class="{'fa-times':!vm.hideSidebar,'fa-bars':vm.hideSidebar}"></i>
			</div>
			<div class="col-md-2 admin-sidebar-menu" ng-if="!vm.hideSidebar">
				<ul class="list-unstyled list-inline">
					<!-- <li><a ui-sref-active="active" ui-sref="admin.courseBundle">Course Bundle</a></li> -->
					<!-- <li><a ui-sref-active="active" ui-sref="admin.userCourses">User Courses</a></li> -->
					<li><a ui-sref-active="active" ui-sref="admin.allLinks">All links</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.allLinksCategory">All links Category</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.author">Author</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.batchCourse">Batch Course</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.batchTimings">Batch Timings</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.batchTimingsDashboard">Batch Timings Dashboard</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.blogSideLinksArticle">Blog Side Link Article</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.blogSideLinksArticleTextboxIo">Blog Article with textbox.io</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.boardCompetitiveCourses">Board/Competitive Courses</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.book">Book</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.bookTopic">Book Topic</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.bundle">Bundle</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.courselist">Courselist</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.coursemaster">CourseMaster</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.courseSubGroup">Course SubGroup</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.currency">Currency</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.demovideos">Demo Videos</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.emailTemplates">Emails Templates</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.empDetails">Employee Details</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.empTypes">Employee Types</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.exam">Exam</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.forms">Forms</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.forumsCategory">Forums Category</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.gettingStarted">Getting Started</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.helpForm">Help Form</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.itemtransfer">Item Transfer</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.jobOpenings">Job Openings</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.moduleItems">Module Items</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.modules">Modules</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.practice">Practice</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.pricelist">Pricelist</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.publication">Publication</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.purchasedCourses">Purchased Courses</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.previousPapers">Previous Paper</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.questionAnalytics">Que Analytics</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.roles">Roles</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.bulkSMS">Send Bulk SMS</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.sendBulkMails">Send Bulk Mails</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.sendEmailTemplate">Send Email Template</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.sendNotification">Send Notification</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.sessionDetails">Sessions Details</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.sessions">Sessions</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.skills">Skills</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.slides">Slides</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.subject">Subject</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.subtopic">SubTopic</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.tags">Tags</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.topic">Topic</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.topicGroup">Topic Group</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.userRoles">User Roles</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.userEmailGroup">User Email Group</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.userBatchEnroll">User Batch Enroll</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.videoEntity">Video</a></li>
					<li><a ui-sref-active="active" ui-sref="admin.verifyPracticeQuestion">Verify Practice Question</a></li>
					
					
					
				</ul>
			</div>
			<div class="col-md-10 main-admin-child-content">
				<div class="no-authorization-msg" ng-if="!vm.isUserAuthorized">
					Access denied.
				</div>
				<div ng-if="vm.isUserAuthorized">
					<a class="ew-rounded-btn"  target="_blank" ui-sref="admin.helpForm({form:vm.form_url})" style="display: inline-block;position: fixed;top: 7px;left:250px;z-index: 10002;">
						<i class="fa  fa-question-circle right"></i>
						<span class="text">Help</span>
					</a>
					<div ui-view></div>	
				</div>
			</div>
		</div>
		<menu-component menu-delegate="vm.menuDelegate"></menu-component>
</div>
