.comments-wrapper .new-comment-form img {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  max-width: 80px;
}
.comments-wrapper .new-comment-form textarea {
  vertical-align: top;
  display: inline-block;
  height: 80px;
  padding: 10px;
  resize: none;
  width: 60%;
  border: 1px solid orange;
  margin-right: 10px;
}
.comments-wrapper .new-comment-form button[type="submit"] {
  vertical-align: top;
  display: inline-block;
  border: none;
  background: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: orange;
  color: #fff;
}
.comments-wrapper .comments-list {
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #ddd;
}
.comments-wrapper .comments-list .comment-item {
  margin-bottom: 40px;
}
.comments-wrapper .comments-list .comment-item img {
  margin-right: 10px;
  max-width: 50px;
}
.comments-wrapper .comments-list .comment-item .comment-right {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  position: relative;
  padding-right: 40px;
}
.comments-wrapper .comments-list .comment-item .comment-right:hover .report-flag {
  display: block;
  right: 10px;
  bottom: inherit;
}
.comments-wrapper .comments-list .comment-item .comment-right .new-comment-form {
  // display: none;
  margin-top: 5px;
  position: relative;
}
.comments-wrapper .comments-list .comment-item .comment-right .new-comment-form textarea {
  height: 60px;
}
.comments-wrapper .comments-list .comment-item .comment-right .new-comment-form button[type="submit"] {
  font-size: 12px;
  padding: 5px 10px;
}
.comments-wrapper .comments-list .comment-item .comment-right .new-comment-form .close-comment {
  position: absolute;
  right: 0;
  top: 0;
}
.comments-wrapper .comments-list .comment-item a.view-all-replies {
  text-decoration: none;
  margin: 10px 0 0px 40px;
  display: inline-block;
  font-size: 12px;
}
.comments-wrapper .comments-list .comment-item a.name {
  font-weight: 700;
  text-decoration: none;
  margin-right: 10px;
}
.comments-wrapper .comments-list .comment-item span.time {
  font-size: 10px;
  color: #666;
}
.comments-wrapper .comments-list .comment-item .comment-value {
  margin: 0;
}
.comments-wrapper .comments-list .comment-item ul {
  margin: 15px 0 0;
}
.comments-wrapper .comments-list .comment-item ul li {
  list-style: none;
  margin-bottom: 20px;
}
.comments-wrapper .comments-list .comment-item .comment-options .reply-comment a {
  text-decoration: none;
}
.comments-wrapper .comments-list .comment-item .comment-options span {
  padding: 0 10px 0 0;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .comments-wrapper .new-comment-form img {
    display: none;
  }
  .comments-wrapper .new-comment-form textarea {
    width: 100%;
    margin: 10px 0;
  }
  .comments-wrapper .comments-list .comment-item img {
    display: none;
  }
  .comments-wrapper .comments-list .comment-item .comment-right {
    width: 100%;
  }

}
@media print {
  a[href]:after {
    content: none !important;
  }
}

.disable{
  color: #aaa !important;
  pointer-events: none !important;
  *{
    color: #aaa !important;
    pointer-events: none !important;
  }
}

.user-thumbnail{
  border-radius: 50%;
}

.moreOption{
  position: absolute;
  right: 0px;
  top: 0px;
  /* transform: translateY(-50%); */
  cursor: pointer;
  font-size: 20px;
    svg{
        width: 30px;
        height: 30px;
        g{
            fill:#848484;
        }
    }
    &:hover{
        svg{
            g{
                fill:#1d99d1;
            }
        }
    }

}


.moreOptionMenu{
    position: absolute;
    right: -5px;
    top: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    max-height: 0px;
    transition: all 0.1s ease 0s;
    overflow: hidden;
    z-index: 2;
    padding: 0px;
    li{
        display: block;
        width: 100%;
        text-align: left;
        padding: 0px 10px;
        margin: 0px;
        margin-bottom: 0px !important;
        cursor: pointer;
        .icon-img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        h5{
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
        }
        i{
          font-size: 16px;
        }
        &:hover{
            background: #005385;
            i{
              color : white;
            }
            h5{
                color:white;
            }
        }
    }
}
.moreOptionMenu.active{
    max-height: 600px;
}


.comments-wrapper{
    .show-more {
      text-align: center;
      border-top: 1px solid #ddd;
      padding: 5px 0 0;
    }

    .show-more a,.show-more-sub a{
      text-decoration: none;
      font-size: 12px;
    }

    .show-more-sub {
      text-align: left;
      border-top: 0px solid #ddd;
      padding: 5px 0 0;
      padding-left: 63px;
    }
}
