<div class="comments-wrapper">
	<h3>New Comment</h3>
	<form class="new-comment-form">
		<img ng-src="{{vm.getUserPic()}}" user-default-pic class="user-thumbnail">
		<textarea
			id="{{vm.postId}}_textarea"
			ng-keydown="vm.keyDownEventOnTextField($event,vm.postId,'','0')"
			ng-model="vm.comment[vm.postId]"
			placeholder="Write a comment"
			name=""></textarea>
		<button type="submit" ng-click="vm.addComment($event,vm.postId,'','0')" >
			<i class="fa fa-commenting-o"></i> Post Comment
		</button>
		<!-- <button type="submit" ng-click="vm.cancelComment($event)" >
			<i class="fa fa-commenting-o"></i> Cancel
		</button> -->
	</form>
	<div class="comments-list">
		<h3>Comments</h3>
		<div class="comment-item" ng-repeat="comment in vm.comments | orderBy:'cmnt_ts':true track by $index">
			<img ng-src="{{comment.usr_info.usr_pic}}" user-default-pic class="user-thumbnail">
			<div class="comment-right">
				<a class="name" ng-href="{{vm.getCareerBookProfileUrl(comment.usr_info.usr_id)}}">{{comment.usr_info.dsp_nm}}</a>
				<span class="time">{{comment.cmnt_ts | timeAgo}}</span>
				<!-- Comment Text -->
				<p class="comment-value" ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id" id="{{comment.cmnt_id}}" ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)">
					<!-- Dynamic comment content -->
				</p>
				<!-- Edit Comment Area -->
				<form class="new-comment-form" ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id">
					<textarea
						ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt"
						ng-model="vm.comment[comment.cmnt_id]"
						placeholder="Write a reply"
						ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
					<button type="submit" name="" ng-click="vm.saveEditedComment(comment.cmnt_id,vm.comment[comment.cmnt_id])"><i class="fa fa-commenting-o"></i> Post Comment</button>
					<a href="javascrit:void(0)" ng-click="vm.cancelEditComment()" class="close-comment"><i class="fa fa-times"></i></a>
				</form>

				<div class="comment-options">
					<span class="reply-comment">
						<a href="javascript:void(0)" ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)">Reply</a>
					</span>

					<span class="like-comment"
						ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === true}"
						ng-click="vm.likeDislikeComment(comment.cmnt_id,1)"><a href=""><i class="fa fa-thumbs-up"></i></a></span>
					<span class="number-comment">{{vm.getLikeCount(comment.cmnt_id)}}</span>

					<span class="dislike-comment"
						ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === false}"
						ng-click="vm.likeDislikeComment(comment.cmnt_id,0)"><a href=""><i class="fa fa-thumbs-down"></i></a></span>
					<span class="number-comment">{{vm.getDisLikeCount(comment.cmnt_id)}}</span>
				</div>
				<form class="new-comment-form" ng-show="vm.currentOpenTextbox === comment.cmnt_id">
					<textarea rows="1" type="text" id="{{comment.cmnt_id}}_textarea" placeholder="Write a reply" ng-keydown="vm.keyDownEventOnTextField($event,comment.cmnt_id,comment.cmnt_id,'1')" ng-model="vm.comment[comment.cmnt_id]" name=""> </textarea>
					<button type="submit" name="" ng-click="vm.addComment($event,comment.cmnt_id,comment.cmnt_id,'1')"><i class="fa fa-commenting-o"></i> Post Comment</button>
					<a href="javascrit:void(0)" ng-click="vm.currentOpenTextbox = undefined" class="close-comment"><i class="fa fa-times"></i></a>
				</form>
				<div class="moreOption more-icon" ng-click="vm.activeMoreMenu = comment.cmnt_id">
					<i class="fa fa-ellipsis-v more-icon"></i>
				</div>
				<ul class="moreOptionMenu" ng-class="{'active':vm.activeMoreMenu === comment.cmnt_id}" >
					<li ng-click="vm.showReportModal(comment.cmnt_id)">
						<div class="icon-img">
							<i class="fa fa-pencil"></i>
						</div>
						<h5>Report</h5>
					</li>
					<li ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.editComment(comment.cmnt_id)">
						<div class="icon-img">
							<i class="fa fa-pencil"></i>
						</div>
						<h5>Edit</h5>
					</li>
					<li ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.showDeleteCommentModal(comment.cmnt_id)">
						<div class="icon-img">
							<i class="fa fa-trash"></i>
						</div>
						<h5>Delete</h5>
					</li>
				</ul>
			</div>
			<!-- <a href="javascript:void(0)" class="view-all-replies" ng-if="vm.subLevelComments[comment.cmnt_id]['comments'].length > 0 && !vm.isQaPage" ng-show="!vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
				View all {{vm.subLevelComments[comment.cmnt_id]['comments'].length}} replies <i class="fa fa-chevron-down"></i>
			</a> -->
			<ul ng-show="vm.subLevelComments[comment.cmnt_id]['showSublevelCommentTextField']">
				<li ng-repeat="comment in vm.subLevelComments[comment.cmnt_id]['comments'] | orderBy:'cmnt_ts':true ">
					<img ng-src="{{comment.usr_info.usr_pic}}" user-default-pic class="user-thumbnail">
					<div class="comment-right">
						<a class="name" ng-href="{{vm.getCareerBookProfileUrl(comment.usr_info.usr_id)}}">{{comment.usr_info.dsp_nm}}</a>
						<span class="time">{{comment.cmnt_ts | timeAgo}}</span>
						<p 	class="comment-value"
								id="{{comment.cmnt_id}}"
								ng-bind-html="vm.trustAsHTML(comment.cmnt_txt)"
								ng-if="!vm.isCommentEditingInProcess || vm.currentCommentEditing != comment.cmnt_id">
								<!-- Dynamic comment text here -->
						</p>
						<!-- Edit Comment Area -->
						<form class="new-comment-form" ng-if="vm.isCommentEditingInProcess && vm.currentCommentEditing === comment.cmnt_id">
							<textarea
								ng-init="vm.comment[comment.cmnt_id] = comment.cmnt_txt"
								ng-model="vm.comment[comment.cmnt_id]"
								placeholder="Write a reply"
								ng-keydown="vm.keyUpEventOnEditCommentTextField($event,comment.cmnt_id)"></textarea>
							<button type="submit" name="" ng-click="vm.saveEditedComment(comment.cmnt_id,vm.comment[comment.cmnt_id])"><i class="fa fa-commenting-o"></i> Post Comment</button>
							<a href="javascrit:void(0)" ng-click="vm.cancelEditComment()" class="close-comment"><i class="fa fa-times"></i></a>
						</form>

						<div class="comment-options">
							<span class="reply-comment">
								<a href="javascript:void(0)" ng-click="vm.showSublevelCommentTextField(comment.cmnt_id)">Reply</a>
							</span>

							<span class="like-comment"
								ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === true}"
								ng-click="vm.likeDislikeComment(comment.cmnt_id,1)"><a href=""><i class="fa fa-thumbs-up"></i></a></span>
							<span class="number-comment">{{vm.getLikeCount(comment.cmnt_id)}}</span>

							<span class="dislike-comment"
								ng-class="{'disable':vm.isCommentLikedByUser(comment.cmnt_id) === false}"
								ng-click="vm.likeDislikeComment(comment.cmnt_id,0)"><a href=""><i class="fa fa-thumbs-down"></i></a></span>
							<span class="number-comment">{{vm.getDisLikeCount(comment.cmnt_id)}}</span>
						</div>
						<form class="new-comment-form" ng-show="vm.currentOpenTextbox === comment.cmnt_id" >
							<textarea rows="1" type="text" placeholder="Write a reply" ng-keydown="vm.keyDownEventOnTextField($event,comment.cmnt_cmnt_id,comment.cmnt_cmnt_id,'1')" ng-model="vm.comment[comment.cmnt_cmnt_id]" name=""> </textarea>
							<button type="submit" name="" ng-click="vm.addComment($event,comment.cmnt_cmnt_id,comment.cmnt_cmnt_id,'1')"><i class="fa fa-commenting-o"></i> Post Comment</button>
							<a href="javascrit:void(0)" ng-click="vm.currentOpenTextbox = undefined" class="close-comment"><i class="fa fa-times"></i></a>
						</form>
						<div class="moreOption more-icon" ng-click="vm.activeMoreMenu = comment.cmnt_id">
							<i class="fa fa-ellipsis-v more-icon"></i>
						</div>
						<ul class="moreOptionMenu" ng-class="{'active':vm.activeMoreMenu === comment.cmnt_id}" >
							<li ng-click="vm.showReportModal(comment.cmnt_id)">
								<div class="icon-img">
									<i class="fa fa-pencil"></i>
								</div>
								<h5>Report</h5>
							</li>
							<li ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.editComment(comment.cmnt_id)">
								<div class="icon-img">
									<i class="fa fa-pencil"></i>
								</div>
								<h5>Edit</h5>
							</li>
							<li ng-if="vm.isAuthorOfComment(comment.cmnt_id)" ng-click="vm.showDeleteCommentModal(comment.cmnt_id)">
								<div class="icon-img">
									<i class="fa fa-trash"></i>
								</div>
								<h5>Delete</h5>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="show-more-sub" ng-if="!vm.subLevelComments[comment.cmnt_id]['hide1LevelMoreLink']" ng-click="vm.showMore1LevelComment(comment.cmnt_id)">
						<a href="javascript:void(0)" title="Show More">Show More Reply</a>
					</div>
				</li>
			</ul>
		</div>

		<div class="show-more" ng-if="!vm.hide0LevelMoreLink" ng-click="vm.showMore0LevelComment()">
			<a href="javascript:void(0)" title="Show More">Show More Comments</a>
		</div>
	</div>
	<!-- delete confirm dialgo -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowDeleteCommentModal">
		<div class="ew-modal">
			<div class="msg">
				Are you sure want to delete comment?
			</div>
			<div class="action-btns action-btns-flex-end">
				<div class="ew-rounded-btn red" ng-click="vm.deleteComment(vm.currentlyDeletedComment)">
					<i class="fa fa-trash right"></i>
					<span class="text">Delete</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.closeDeleteCommentModal()">
					<i class="fa fa-times right"></i>
					<span class="text">Cancel</span>
				</div>
			</div>
		</div>
	</div>
	<!-- report dialog -->
	<div class="ew-small-modal-wrapper" ng-if="vm.shouldShowReportModal">
		<div class="ew-modal" style="min-width: 400px">
			<div class="">
				<div class="msg">Report Answer</div>
				<form>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="wrong">Wrong Answer</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="spam">Spam</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="notrelated">Not Related</input>
					</div>
					<div class="frm-element">
						<input type="radio" class="" name="reason" ng-model="vm.reportReasonValue" value="other">Other</input>
					</div>
					<div class="frm-element">
						<textarea class="" style="width: 100%" placeholder="Reason to report answer" ng-model="vm.reportReasonOtherValue" ng-if="vm.reportReasonValue === 'other'"></textarea>
					</div>
				</form>
			</div>
			<div class="action-btns action-btns-flex-end">
				<div class="ew-rounded-btn" ng-click="vm.reportComment(vm.currentlyReportedComment)">
					<i class="fa fa-pencil right"></i>
					<span class="text">Report</span>
				</div>
				<div class="ew-rounded-btn" ng-click="vm.closeReportModal()">
					<i class="fa fa-times right"></i>
					<span class="text">Cancel</span>
				</div>
			</div>
		</div>
	</div>
</div>
