<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal">
					<fieldset>
						<legend>Full Course Detail</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="course">Course</label>
							<div class="col-sm-10">
								<select id="course"  ng-model="vm.form.course" ng-change="vm.changeCourse()" class="form-control"
									ng-options='course.courseId as course.courseName for course in vm.courselist' required>
									<option value="">Select Course</option>
								</select>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.courseVideos">No Data to display</div>
			
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.courseVideos.moduleDetail">
				<div>
					<span class="alert alert-success" ng-if="vm.formSuccess">Item(s) Changed Successfully.</span>
					<span class="alert alert-success" ng-if="vm.formError">Error in updating item(s).</span>
					<button class="btn btn-primary pull-right" ng-click="vm.makeAllPaid()">Make All Paid</button>
				</div>
				<div class="clearfix" style="margin-bottom: 20px;"></div>
				<uib-accordion close-others="false" ng-repeat="module in vm.courseVideos.moduleDetail">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
				{{module.moduleNumber}} - {{module.moduleName}}
				<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
				</uib-accordion-heading>
				<div class="demovideo-list-row" ng-repeat="item in module.moduleItems">
						<span>{{item.itemName}}</span>
						<span uib-dropdown class="pull-right">
							<button uib-dropdown-toggle class="btn btn-primary btn-sm">
								<i class="fa fa-angle-down"></i>
							</button>
							<ul uib-dropdown-menu aria-labelledby="simple-dropdown">
								<li ng-click="vm.changeVideoType(module.moduleId,module.moduleName,item.itemId,item.itemName,'demo',item.itemVideo)">
									<span class="fa-stack fa-sm" style="color:green">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i ng-if="vm.isItemDemo(item.itemId)" class="fa fa-check fa-stack-1x" ></i>
									</span>
									Demo
								</li>
								<li ng-click="vm.changeVideoType(module.moduleId,module.moduleName,item.itemId,item.itemName,'demologin',item.itemVideo)">
									<span class="fa-stack fa-sm" style="color:green">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i ng-if="vm.isItemDemoLogin(item.itemId)" class="fa fa-check fa-stack-1x" ></i>
									</span>
									Demo Login
								</li>
								<li ng-click="vm.changeVideoType(module.moduleId,module.moduleName,item.itemId,item.itemName,'paid',item.itemVideo)">
									<span class="fa-stack fa-sm" style="color:green">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i ng-if="vm.isItemPaid(item.itemId)" class="fa fa-check fa-stack-1x" ></i>
									</span>
									Paid
								</li>
							</ul>
						</span>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>