<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" ng-submit="vm.saveCurrency()">
					<fieldset>
						<legend>Currency</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="currency name">Currency<i style="color: red">*</i> </label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="USD,INR,GBP...." ng-model="vm.form.currency_nm" required/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" type="submit">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchCurrency()" ng-if="!vm.allCurrency || vm.allCurrency.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isCurrencyLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isCurrencyLoading"></i>
				<span class="text">Show Currency</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.allCurrency">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allCurrency">
				<uib-accordion close-others="false" ng-repeat="curr in vm.allCurrency">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteCurrency(curr.currency_id)"><i class="fa fa-times"></i></span>
						{{curr.currency_nm}}
					</div>
				</uib-accordion-heading>
				<div class="row skill-info-row" ng-repeat="(key,value) in curr">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreCurrency()" ng-if="(vm.allCurrency==[] || vm.allCurrency.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isCurrencyLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isCurrencyLoading"></i>
				<span class="text">More</span>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>