.dashboard-bookmark-wrapper {
    @include display(flex);

    @include flex-direction(row);

    @include flex-wrap(wrap);

    .course-bookmark {
        min-width: 33.333%;
        padding: 10px;

        @include flex-grow(1);

        .title {
            padding: 10px;
            font-size: 19px;
            font-family: aller;
            background: #6d97cc;
            color: white;
        }

        .list-group-item {
            border-radius: 0px;
        }
    }
}