.dashboard-courselist-wrapper {
    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;
    $title-height: 90px;

    // min-height: 100vh;
    position: relative;

    // background: $green-color;

    @include display(flex);

    @include flex-direction(row);

    @include align-items(flex-start);

    @include justify-content(flex-start);

    @include flex-wrap(wrap);

    .title {
        position: absolute;
        left: 0px;
        top: 0px;
        height: $title-height;
        right: 0px;
        text-align: center;
        text-shadow: 2px 2px 2px #444;

        // background: $green-color;
        font-size: 30px;
        font-family: aller;
        color: white;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        span {
            padding: 20px;
            background: $red-color;
            border-radius: 125px;
            margin-top: 10px;
        }
    }

    .list {
        width: 95%;
        margin: 0px auto;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include breakpoint(large_desktop) {
            width: 90%;
        }
    }

    ul {
        background: $green-color;
        width: 100%;
        border: 3px solid white;
        border-radius: 5px;
        border-top: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    li {
        padding: 15px;
        color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .icon {
            font-size: 36px;
            padding: 15px;
        }

        .info {
            font-family: aller;

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(center);

            @include flex-direction(column);

            @include flex(1);

            .name {
                font-size: 25px;
                margin: 0px 10px;
                cursor: pointer;
            }

            .extra-info {
                font-size: 15px;
                margin: 10px 0px;
            }

            .item {
                margin: 0px 10px;
            }
        }
    }

    // .course {
    //     min-width: 33.333%;
    //     padding: 10px;

    //     @include flex-grow(1);

    //     .title {
    //         padding: 10px;
    //         font-size: 19px;
    //         font-family: aller;
    //         background: #6d97cc;
    //         color: white;
    //         border-top-right-radius: 2px;
    //         border-top-left-radius: 2px;

    //         i {
    //             margin-right: 10px;
    //         }
    //     }

    //     .list-group {
    //         border-bottom: 2px solid #6d97cc;
    //     }

    //     .list-group-item {
    //         border-radius: 0px;
    //         border-left: 0px;
    //         border-right: 0px;
    //     }
    // }
}