.feed-page-wrapper {
    $color: #e9eaed;
    $dark: #f6f7f8;
    $accent: #6d97cc;
    $dark-accent: #6186b5;

    $comment-profile-pic: 30px;
    $post-profile-pic: 50px;
    $sidebar-width: 400px;

    max-width: 1600px;
    margin: 0px auto;
    padding-top: 20px;
    min-height: calc(100vh - 50px);

    .main-content {
        .left-wrapper {
            float: left;
            width: $sidebar-width;

            // min-width: 300px;
            padding-left: 20px;
        }

        .right-wrapper {
            float: right;
            width: calc(100% - #{$sidebar-width});

            // background: #f6f7f8;
            padding: 0px 20px;
        }
    }
}