.home-page-wrapper {
    $sidebar-large-width: 500px;
    $sidebar-small-width: 400px;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $header-height: 90px;
    $accent: #fff;
    $logo-height: 90px;

    $dark-accent: #e2e2e2;

    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;
    $brick-color: #6d270c;

    .home-header {
        position: fixed;
        height: $header-height;
        left: 0px;
        right: 0px;
        top: 0px;

        // box-shadow: 0px 0px 2px #222;
        background: transparent;
        z-index: 2;
        color: white;
        display: none;

        .logo {
            @media screen and (min-width: 1281px) {
                width: $sidebar-large-width;
            }

            @media screen and (max-width: 1280px) {
                width: $sidebar-small-width;
            }

            display: inline-block;
            height: $header-height;
            background: $dark-accent;
        }

        .right-part {
            display: block;
            height: $header-height;

            // margin-right: 20px;

            & > span:not(.search) {
                display: inline-block;
                padding: 0px 15px;
                cursor: pointer;
                line-height: $header-height;
            }

            .search {
                display: inline-block;
                margin-right: 40px;
            }

            .search-dpdown {
                padding: 0px 10px;
                line-height: 30px;
                display: inline-block;
                background: $dark-accent;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                position: relative;
                top: -1px;
                text-shadow: 0px 0px 0px;
                cursor: pointer;
            }

            input {
                padding: 0px 10px;
                padding-right: 40px;
                box-shadow: 0px 0px 0px;
                border-bottom: 0px;
                border-radius: 3px;
                background: white;
                line-height: 30px;
                width: 400px;
                color: #777;
                margin-right: -35px;
                z-index: 1;
                font-family: 'Aller';
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;

                @include transition(all 0.3s ease-in-out);
            }

            input:focus {
                & + .search-icon {
                    background: $dark-accent;
                    color: white;
                }
            }

            .search-icon:hover {
                color: $dark-accent;
            }

            .search-icon {
                cursor: pointer;
                z-index: 2;
                color: #777;
                text-shadow: 0px 0px 0px;
                line-height: 30px;
                position: relative;
                padding: 0px 10px;
                top: 1px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            i {
                font-size: 17px;
                text-shadow: 2px 2px 2px #555;
            }

            .profile img {
                width: $header-height - 10;
                height: $header-height - 10;
                border-radius: 50%;
                border: 2px solid white;
                margin-top: -3px;
            }

            .header-icon {
                position: relative;
            }

            .arrow-up {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                left: 100%;
                position: relative;
                margin-left: -27px;
            }

            .overlay-category {
                display: none;
                position: absolute;
                left: 0px;

                &.open {
                    display: block;
                }

                .list-group {
                    margin-bottom: 0px;
                }

                .list-group-item {
                    border-radius: 0px;
                }
            }

            .overlay {
                position: absolute;
                right: 6px;
                display: none;
                font-family: 'Aller';

                &.open {
                    display: block;
                }

                .list-group {
                    min-width: 300px;
                }

                .list-group-item:first-child {
                    border-top: 0px;
                }
            }
        }
    }

    // .sidebar {
    //     position: fixed;
    //     left: 0px;
    //     top: 0px;
    //     padding-top: $logo-height;
    //     bottom: 0px;
    //     z-index: 2;

    //     // border-right: 2px solid rgba(0, 0, 0, 0.2);

    //     @include breakpoint(large_desktop) {
    //         width: $sidebar-large-width;
    //     }

    //     // @media screen and (max-width: 1280px) {
    //     width: $sidebar-small-width;

    //     // }

    //     .logo {
    //         position: absolute;
    //         top: -0px;
    //         left: 0px;
    //         font-size: 40px;
    //         color: white;
    //         text-shadow: 2px 2px 2px #444;
    //         font-family: aller;

    //         // background: $blue-color;
    //         height: $logo-height;
    //         width: 100%;

    //         // border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    //         @include display(flex);

    //         @include align-items(center);

    //         @include justify-content(center);

    //         @include flex-direction(row);

    //         &:before {
    //             // content: '';
    //             position: absolute;
    //             width: 10px;
    //             height: 10px;
    //             bottom: -6px;
    //             left: 50%;
    //             margin-left: -5px;
    //             transform: rotate(45deg);
    //             background: #1d99d1;
    //             border: 2px solid rgba(0, 0, 0, 0.2);
    //         }
    //     }

    //     ul {
    //         margin-bottom: 0px;
    //         height: 100%;

    //         // background: $blue-color;

    //         @include display(flex);

    //         @include flex-direction(column);

    //         @include justify-content(flex-end);
    //     }

    //     li {
    //         padding: 10px 15px;
    //         text-align: center;
    //         color: white;
    //         font-family: 'Aller';
    //         background: $red-color;
    //         font-size: 20px;
    //         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //         cursor: pointer;
    //         position: relative;
    //         border-right: 3px solid white;

    //         @include display(flex);

    //         @include align-items(center);

    //         @include justify-content(center);

    //         // @include flex-grow(0);
    //         &:first-child {
    //             border-top: 3px solid white;
    //             border-top-right-radius: 5px;
    //         }

    //         & > * {
    //             z-index: 2;
    //         }

    //         &.active {
    //             background: darken($red-color, 5%);
    //         }

    //         .icon {
    //             @include order(2);
    //         }

    //         .text {
    //             text-align: right;
    //             margin-right: 30px;

    //             @include order(1);

    //             @include flex(1);
    //         }
    //     }
    // }

    // .right-sidebar {
    //     position: fixed;
    //     right: 0px;
    //     top: 0px;
    //     padding-top: $logo-height;

    //     // padding-top: $logo-height;
    //     bottom: 0px;
    //     z-index: 2;

    //     // border-left: 2px solid rgba(0, 0, 0, 0.2);

    //     @include breakpoint(large_desktop) {
    //         width: $right-sidebar-large-width;
    //     }

    //     // @media screen and (max-width: 1280px) {
    //     width: $right-sidebar-small-width;

    //     // }

    //     .profile {
    //         position: absolute;
    //         top: 0px;
    //         right: 0px;
    //         color: white;
    //         font-family: aller;
    //         background: $light-blue-color;
    //         height: $logo-height;
    //         width: 100%;
    //         padding: 10px;

    //         // border-top-left-radius: 5px;
    //         border-bottom: 3px solid white;
    //         border-left: 3px solid white;

    //         @include breakpoint(large_desktop) {
    //             padding: 20px;
    //         }

    //         @include display(flex);

    //         @include align-items(center);

    //         @include justify-content(center);

    //         @include flex-direction(row);

    //         .pic {
    //             width: 50px;
    //             height: 50px;

    //             img {
    //                 width: 100%;
    //                 height: 100%;
    //                 border-radius: 5px;

    //                 @include breakpoint(large_desktop) {
    //                     border-radius: 50%;
    //                 }
    //             }
    //         }

    //         .name {
    //             font-size: 21px;
    //             margin: 20px;

    //             @include flex(1);

    //             display: none;

    //             // @include breakpoint(large_desktop) {
    //             display: block;

    //             // }

    //         }
    //     }

    //     ul {
    //         margin-bottom: 0px;
    //         height: 100%;

    //         // background: $blue-color;

    //         @include display(flex);

    //         @include justify-content(flex-start);

    //         @include flex-direction(column);
    //     }

    //     li {
    //         text-align: center;
    //         color: white;
    //         font-family: 'Aller';
    //         font-size: 20px;
    //         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //         cursor: pointer;
    //         position: relative;
    //         padding: 10px;
    //         background: $light-blue-color;
    //         border-left: 3px solid white;

    //         @include display(flex);

    //         @include align-items(center);

    //         @include justify-content(flex-start);

    //         &:last-child {
    //             border-bottom: 3px solid white;
    //             border-bottom-left-radius: 5px;
    //         }

    //         & > * {
    //             z-index: 2;
    //         }

    //         &.active {
    //             background: rgba(0, 0, 0, 0.1);
    //         }

    //         .icon {
    //             width: 30px;

    //             // margin: 15px;
    //             font-size: 17px;
    //         }

    //         .text {
    //             // display: none;

    //             @include breakpoint(large_desktop) {
    //                 // display: block;
    //                 // text-align: left;
    //                 // margin: 20px;
    //                 // width: 150px;

    //                 // @include flex(1);
    //             }

    //             @include flex(1);
    //         }

    //         i {
    //             // display: none;

    //         }
    //     }
    // }

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 100;

        // background: $red-color;

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $sidebar-small-width;

        // }

        .logo {
            position: fixed;
            top: 0px;
            left: 15px;
            font-size: 60px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: 'waverly';
            height: $logo-height;
            z-index: 12;
            font-weight: bold;

            // background: url("../images/logo_new1_b.png");
            background-repeat: no-repeat;

            // width: 330px;
            // height: 111px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            // display: none;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: #1d99d1;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        .girl-img {
            position: absolute;
            bottom: 130px;
            z-index: 2;
            display: none;

            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .tree-img {
            position: absolute;
            top: -100px;
            z-index: 11;

            @include breakpoint(large_desktop) {
                top: 00px;
            }


            img {
                width: $sidebar-small-width + 100;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width + 100;
                }
            }
        }

        ul {
            margin-bottom: 0px;

            // height: 100%;

            // position: relative;

            position: absolute;
            bottom: 0px;

            // background: $blue-color;

            @include display(flex);

            @include flex-direction(row);

            @include justify-content(flex-end);

            @include flex-wrap(wrap);

            @include align-items(flex-start);

            &:before {
                // content: '';
                position: absolute;
                top: 10px;
                bottom: 0px;
                left: 0px;
                width: 400px;

                // height: 300px;
                background: url("../images/left.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                border-right: 1px solid white;

                @include breakpoint(large_desktop) {
                    width: 500px;
                    top: 27%;
                }
            }
        }

        li {
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            font-family: 'waverly';
            font-weight: bold;
            background: url("http://www.transparenttextures.com/patterns/white-brick-wall.png");
            background-color: $brick-color;
            font-size: 20px;
            cursor: pointer;
            position: relative;
            height: 65px;
            max-width: 50%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }


            &:first-child {
                // border-top: 3px solid darken($blue-color, 10%);
                // border-top-right-radius: 5px;
           
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: darken($red-color, 5%);
            }

            .icon {
                display: none;

                @include order(2);
            }

            .text {
                display: inline-block;
                padding: 8px 30px;
                color: #fff;
                text-shadow: 3px 3px 20px #000;

                // border-radius: 5px;
                min-width: 185px;
                text-align: center;
                position: relative;
                overflow: hidden;

                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
                // background: #e2e2e2;
                font-size: 25px;

                @include order(1);

                @include breakpoint(large_desktop) {
                    min-width: 220px;
                }


                // @include flex(1);
                &:before, &:after {
                    // content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $brick-color;
                    left: 20px;
                }

                &:after {
                    left: auto;
                    right: 20px;
                }
            }

            .circles-left, .circles-right {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;
                display: none;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: $brick-color;
                    border-radius: 50%;
                }

                &:before {
                    top: 0px;
                    margin-top: -10px;
                }

                &:after {
                    bottom: 0px;
                    margin-bottom: -10px;
                }
            }

            .circles-left {
                &:before, &:after {
                    left: 0px;
                    margin-left: -10px;
                }
            }

            .circles-right {
                &:before, &:after {
                    right: 0px;
                    margin-right: -10px;
                }
            }

            .inner-line {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                border: 1px solid $brick-color;
                overflow: hidden;
                display: none;

                & .circles-left, & .circles-right {
                    &:before, &:after {
                        background-color: #e2e2e2;
                        border: 1px solid $brick-color;
                    }
                }
            }

            .hide-borders {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                overflow: hidden;
                display: none;

                .circles-left-1, .circles-right-1 {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 0px;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: #e2e2e2;
                        border-radius: 50%;
                    }

                    &:before {
                        top: 0px;
                        margin-top: -10px;
                    }

                    &:after {
                        bottom: 0px;
                        margin-bottom: -10px;
                    }
                }

                .circles-left-1 {
                    &:before, &:after {
                        left: 0px;
                        margin-left: -10px;
                    }
                }

                .circles-right-1 {
                    &:before, &:after {
                        right: 0px;
                        margin-right: -10px;
                    }
                }
            }
        }
    }

    .right-sidebar {
        position: fixed;
        right: 0px;
        top: 0px;

        // padding-top: $logo-height;
        bottom: 0px;
        z-index: 2;
        width: $right-sidebar-small-width + 20;

        @include breakpoint(large_desktop) {
            display: block;
            width: $right-sidebar-large-width;
        }


        display: none;

        .profile {
            // position: absolute;
            top: 0px;
            right: 0px;
            color: white;
            font-family: aller;
            background: $light-blue-color;
            height: $logo-height;
            width: 100%;
            padding: 10px;

            // border-top-left-radius: 5px;
            border-bottom: 3px solid white;
            border-left: 3px solid darken($blue-color, 10%);

            @include breakpoint(large_desktop) {
                padding: 20px;
            }


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .pic {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;

                    @include breakpoint(large_desktop) {
                        border-radius: 50%;
                    }
                }
            }

            .name {
                font-size: 21px;
                margin: 20px;

                @include flex(1);

                display: none;

                // @include breakpoint(large_desktop) {
                display: block;

                // }
           
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;

            // background: $blue-color;

            @include display(flex);

            @include justify-content(flex-start);

            @include flex-direction(column);

            &:before {
                // content: '';
                position: absolute;
                bottom: 9%;
                right: -10px;
                width: 280px;
                height: 300px;
                background: url("../images/tree2.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                border-right: 1px solid white;
            }
        }

        li {
            text-align: center;
            color: white;
            font-family: 'Aller';
            font-size: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            padding: 10px;
            background: url("http://www.transparenttextures.com/patterns/white-brick-wall.png");
            background-color: #1d99d1;

            //$light-blue-color;
            // border-left: 3px solid darken($blue-color, 10%);

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            &:last-child {
                // border-bottom: 3px solid darken($blue-color, 10%);
                border-bottom-left-radius: 5px;
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: rgba(0, 0, 0, 0.1);
            }

            .icon {
                width: 30px;

                // margin: 15px;
                font-size: 17px;
            }

            .text {
                // display: none;

                @include breakpoint(large_desktop) {
                    // display: block;
                    // text-align: left;
                    // margin: 20px;
                    // width: 150px;

                    // @include flex(1);
                }


                @include flex(1);
            }

            i {
                // display: none;
           
            }
        }
    }

    .main-container {
        // padding: 25px;

        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        padding-left: $sidebar-small-width;
        padding-right: $right-sidebar-small-width;
        position: relative;
        min-height: calc(100vh);
        background: #6DBAD8;
        padding-top: $logo-height + 80px;

        .title {
            position: fixed;
            top: 00px;
            left: $sidebar-small-width;
            right: $right-sidebar-small-width;
            height: $logo-height + 80px;
            font-family: aller;
            font-size: 30px;
            color: white;
            text-align: center;
            background: #6DBAD8;
            z-index: 10;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include breakpoint(large_desktop) {
                left: $sidebar-large-width;
                right: $right-sidebar-large-width;
            }


            .head-title {
                position: absolute;
                font-family: 'waverly';
                font-weight: bold;
                color: #fff;
                font-size: 40px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include breakpoint(large_desktop) {
                    font-size: 60px;
                }
            }

            img {
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: 0px;
                max-height: 100%;
            }
        }
    }
}