.home-page-wrapper {
    $sidebar-large-width: 300px;
    $sidebar-small-width: 300px;
    $right-sidebar-large-width: 180px;
    $right-sidebar-small-width: 180px;

    $header-height: 90px;
    $accent: #fff;
    $logo-height: 90px;

    //#6d97cc;
    $dark-accent: #e2e2e2;

    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;

    .home-header {
        position: fixed;
        height: $header-height;
        left: 0px;
        right: 0px;
        top: 0px;

        // box-shadow: 0px 0px 2px #222;
        background: transparent;
        z-index: 2;
        color: white;
        display: none;

        .logo {
            @media screen and (min-width: 1281px) {
                width: $sidebar-large-width;
            }

            @media screen and (max-width: 1280px) {
                width: $sidebar-small-width;
            }

            display: inline-block;
            height: $header-height;
            background: $dark-accent;
        }

        .right-part {
            display: block;
            height: $header-height;

            // margin-right: 20px;

            & > span:not(.search) {
                display: inline-block;
                padding: 0px 15px;
                cursor: pointer;
                line-height: $header-height;
            }

            .search {
                display: inline-block;
                margin-right: 40px;
            }

            .search-dpdown {
                padding: 0px 10px;
                line-height: 30px;
                display: inline-block;
                background: $dark-accent;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                position: relative;
                top: -1px;
                text-shadow: 0px 0px 0px;
                cursor: pointer;
            }

            input {
                padding: 0px 10px;
                padding-right: 40px;
                box-shadow: 0px 0px 0px;
                border-bottom: 0px;
                border-radius: 3px;
                background: white;
                line-height: 30px;
                width: 400px;
                color: #777;
                margin-right: -35px;
                z-index: 1;
                font-family: 'Aller';
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;

                @include transition(all 0.3s ease-in-out);
            }

            input:focus {
                & + .search-icon {
                    background: $dark-accent;
                    color: white;
                }
            }

            .search-icon:hover {
                color: $dark-accent;
            }

            .search-icon {
                cursor: pointer;
                z-index: 2;
                color: #777;
                text-shadow: 0px 0px 0px;
                line-height: 30px;
                position: relative;
                padding: 0px 10px;
                top: 1px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            i {
                font-size: 17px;
                text-shadow: 2px 2px 2px #555;
            }

            .profile img {
                width: $header-height - 10;
                height: $header-height - 10;
                border-radius: 50%;
                border: 2px solid white;
                margin-top: -3px;
            }

            .header-icon {
                position: relative;
            }

            .arrow-up {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                left: 100%;
                position: relative;
                margin-left: -27px;
            }

            .overlay-category {
                display: none;
                position: absolute;
                left: 0px;

                &.open {
                    display: block;
                }

                .list-group {
                    margin-bottom: 0px;
                }

                .list-group-item {
                    border-radius: 0px;
                }
            }

            .overlay {
                position: absolute;
                right: 6px;
                display: none;
                font-family: 'Aller';

                &.open {
                    display: block;
                }

                .list-group {
                    min-width: 300px;
                }

                .list-group-item:first-child {
                    border-top: 0px;
                }
            }
        }
    }

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 2;

        // border-right: 2px solid rgba(0, 0, 0, 0.2);

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $sidebar-small-width;

        // }

        .logo {
            position: absolute;
            top: -0px;
            left: 0px;
            font-size: 40px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: aller;

            // background: $blue-color;
            height: $logo-height;
            width: 100%;

            // border-bottom: 2px solid rgba(0, 0, 0, 0.2);

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: #1d99d1;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;

            // background: $blue-color;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);
        }

        li {
            padding: 10px 15px;
            text-align: center;
            color: white;
            font-family: 'Aller';
            background: $red-color;
            font-size: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            border-right: 3px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            // @include flex-grow(0);
            &:first-child {
                border-top: 3px solid white;
                border-top-right-radius: 5px;
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: darken($red-color, 5%);
            }

            .icon {
                @include order(2);
            }

            .text {
                text-align: right;
                margin-right: 30px;

                @include order(1);

                @include flex(1);
            }
        }
    }

    .right-sidebar {
        position: fixed;
        right: 0px;
        top: 0px;
        padding-top: $logo-height;

        // padding-top: $logo-height;
        bottom: 0px;
        z-index: 2;

        // border-left: 2px solid rgba(0, 0, 0, 0.2);

        @include breakpoint(large_desktop) {
            width: $right-sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $right-sidebar-small-width;

        // }

        .profile {
            position: absolute;
            top: 0px;
            right: 0px;
            color: white;
            font-family: aller;
            background: $light-blue-color;
            height: $logo-height;
            width: 100%;
            padding: 10px;

            // border-top-left-radius: 5px;
            border-bottom: 3px solid white;
            border-left: 3px solid white;

            @include breakpoint(large_desktop) {
                padding: 20px;
            }


            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .pic {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;

                    @include breakpoint(large_desktop) {
                        border-radius: 50%;
                    }
                }
            }

            .name {
                font-size: 21px;
                margin: 20px;

                @include flex(1);

                display: none;

                // @include breakpoint(large_desktop) {
                display: block;

                // }
           
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;

            // background: $blue-color;

            @include display(flex);

            @include justify-content(flex-start);

            @include flex-direction(column);
        }

        li {
            text-align: center;
            color: white;
            font-family: 'Aller';
            font-size: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            padding: 10px;
            background: $light-blue-color;
            border-left: 3px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            &:last-child {
                border-bottom: 3px solid white;
                border-bottom-left-radius: 5px;
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: rgba(0, 0, 0, 0.1);
            }

            .icon {
                width: 30px;

                // margin: 15px;
                font-size: 17px;
            }

            .text {
                // display: none;

                @include breakpoint(large_desktop) {
                    // display: block;
                    // text-align: left;
                    // margin: 20px;
                    // width: 150px;

                    // @include flex(1);
                }


                @include flex(1);
            }

            i {
                // display: none;
           
            }
        }
    }

    .main-container {
        // padding: 25px;

        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        padding-left: $sidebar-small-width;
        padding-right: $right-sidebar-small-width;

        // }

        position: relative;
        min-height: calc(100vh);
        background: $blue-color;
        padding-top: 0px;
        z-index: 1;
    }
}