.dashboard-page-wrapper {
    $color: #e9eaed;
    $dark: #f6f7f8;
    $accent: #6d97cc;
    $dark-accent: #6186b5;

    $comment-profile-pic: 30px;
    $post-profile-pic: 50px;

    background: $color;
    max-width: 1600px;
    margin: 0px auto;

    .cover-image {
        width: 100%;
        height: 400px;
        margin: 0px auto;
        border: 0px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        position: relative;
        background-size: cover;
        background-position: center;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .cover-image-msg {
        font-size: 25px;
        font-family: 'Aller';
    }

    .cover-image-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #222;
        font-size: 15px;
        background-color: #eee;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 3px;
    }

    .profile-image .cover-image-btn {
        bottom: 10px;
        top: auto;
    }

    .profile-image {
        width: 200px;
        height: 200px;
        margin: 0px 60px;
        margin-top: -170px;
        position: relative;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        img {
            border: 3px solid white;
            border-radius: 5px;
        }
    }

    .main-content {
        margin-top: 20px;

        .left-wrapper {
            float: left;
            width: 00%;

            // min-width: 300px;
            padding-left: 20px;
        }

        .left-wrapper.dsFixed {
            position: fixed;
        }

        .right-wrapper {
            // float: right;
            width: 70%;
            margin: 0px auto;

            // background: #f6f7f8;
            padding: 0px 20px;
        }

        // .block-wrapper {
        //     overflow: auto;
        //     margin: 20px 0px;
        //     box-shadow: 0px 1px 1px #ccc;

        //     &:first-child {
        //         margin-top: 0px;
        //     }

        //     &:last-child {
        //         margin-bottom: 0px;
        //     }

        //     .title {
        //         padding: 10px 10px;
        //         font-family: 'Aller';
        //         font-size: 19px;
        //         background: #7aa8e3;
        //         color: #fff;

        //         i {
        //             margin-right: 10px;
        //         }
        //     }

        //     .list-group {
        //         margin-bottom: 0px;
        //     }

        //     .list-group-item {
        //         border-left: 0px;
        //         border-right: 0px;
        //         border-radius: 0px;
        //         font-family: "Ubuntu";

        //         &:last-child {
        //             border-bottom: 0px;
        //         }
        //     }

        //     .more-btn {
        //         font-size: 16px;
        //         line-height: 33px;
        //         cursor: pointer;
        //     }
        // }

        // #status-textarea {
        //     overflow: hidden;
        //     padding: 0px 10px;
        //     width: 100%;
        //     font-size: 16px;
        //     border-radius: 0px;
        //     resize: none;
        //     box-shadow: 0px 0px 0px;
        //     font-family: 'Aller';
        // }

        // .post {
        //     background: white;
        //     margin: 20px 0px;
        //     box-shadow: 0px 1px 1px #ccc;

        //     &:first-child {
        //         margin-top: 0px;
        //     }

        //     .content-wrapper {
        //         position: relative;
        //         padding: 10px;
        //     }

        //     .head {
        //         margin-bottom: 10px;
        //         display: block;
        //     }

        //     .profile-pic {
        //         width: $post-profile-pic;
        //         height: $post-profile-pic;
        //         float: left;
        //         border: 1px solid $color;
        //     }

        //     .profile-name {
        //         padding-left: $post-profile-pic + 10;

        //         .username {
        //             font-size: 15px;
        //             font-family: Ubuntu;
        //             color: $dark-accent;
        //         }
        //     }

        //     .post-btn {
        //         background: $dark-accent;
        //         margin-right: 0px !important;
        //         color: white;
        //     }

        //     .status-attachment-wrapper {
        //         @include display(flex);

        //         @include flex-direction(row);

        //         @include flex-wrap(wrap);
        //     }

        //     .status-attachment {
        //         display: inline-block;
        //         margin-right: 10px;
        //         margin-bottom: 10px;
        //         width: 100px;
        //         height: 100px;
        //         background-repeat: no-repeat;
        //         position: relative;

        //         .remove-icon {
        //             position: absolute;
        //             right: 0px;
        //             top: 0px;
        //         }
        //     }

        //     .content {
        //         font-family: 'Aller';
        //         font-size: 15px;
        //     }

        //     .action-btns {
        //         border-top: 1px solid $dark;
        //         margin: 0px 10px;

        //         // background: $dark-accent;
        //         color: $dark-accent;
        //     }

        //     .action-btn {
        //         padding: 7px 10px;
        //         display: inline-block;
        //         margin-right: 10px;
        //         cursor: pointer;
        //     }

        //     .comment-wrapper {
        //         padding: 10px;
        //         background: $dark;
        //     }

        //     .comment-field {
        //         margin: 10px 0px 20px;

        //         .profile-pic {
        //             float: left;
        //             width: $comment-profile-pic;
        //             height: $comment-profile-pic;
        //         }

        //         .tf {
        //             padding-left: $comment-profile-pic + 10;

        //             input {
        //                 background: white;
        //                 padding-left: 10px;
        //                 box-shadow: 0px 0px 0px;
        //                 font-family: 'Aller';
        //                 display: block;
        //                 height: 30px;
        //                 width: 100%;
        //                 border: 1px solid darken($dark, 30%);
        //             }
        //         }
        //     }

        //     .comment {
        //         margin: 10px 0px;

        //         .head .profile-pic {
        //             width: $comment-profile-pic;
        //             height: $comment-profile-pic;
        //         }

        //         .head .profile-name {
        //             padding-left: $comment-profile-pic + 10px;

        //             .comment {
        //                 padding-left: 10px;
        //                 border-left: 2px solid darken($dark, 30%);
        //             }
        //         }

        //         .action-btns {
        //             border-top: 0px solid $dark;
        //             margin: 0px;
        //         }

        //         .action-btn {
        //             padding: 5px 1px;
        //         }
        //     }
        // }
   
    }

    .image-modal {
        position: fixed;
        z-index: 9999;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }
}