// .dashboard-page-wrapper {
//     $sidebar-large-width: 500px;
//     $sidebar-small-width: 400px;
//     $right-sidebar-large-width: 0px;
//     $right-sidebar-small-width: 0px;

//     $header-height: 90px;
//     $logo-height: 90px;

//     $accent: #fff;
//     $dark-accent: #e2e2e2;
//     $blue-color: #1d99d1;
//     $light-blue-color: #59ABE3;
//     $red-color: #D24D57;

//     $post-profile-pic: 50px;
//     $color: #e9eaed;
//     $dark: #f6f7f8;

//     // width: 100%;
//     // margin: 0px auto;
//     // position: relative;
//     // padding-left: 25px;
//     // padding-right: 25px;
//     // max-width: 963px;

//     @include breakpoint(desktop) {
//         margin: 0px;
//     }
// }