.dashboard-settings-wrapper {
    $accent: #6d97cc;
    $dark-accent: #6186b5;

    .setting-form-wrapper {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);
    }

    .user-info-form {
        max-width: 500px;
        width: 100%;
        padding: 20px;
        background: rgba(200, 200, 200, 0.3);
        color: white;
        border-radius: 3px;
        font-family: 'Aller';
        font-size: 17px;

        input {
            color: white;
            box-shadow: 0px 0px 0px;
            border-bottom: 1px solid #ccc;
            padding: 0px 10px;
        }

        input:focus {
            box-shadow: 0px 0px 0px;
        }

        .input {
            position: relative;
            margin-top: 25px;
            margin-bottom: 50px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            & > span {
                position: relative;

                @include flex-grow(1);

                &:first-child {
                    padding-right: 10px;
                }
            }
        }

        label {
            position: absolute;
            top: -25px;
            left: 10px;
            font-size: 15px;
            line-height: 37px;
            color: #eee;

            @include transition(all 0.2s ease-in);
        }

        // input:focus + label, input:valid + label {
        //     top: -25px;
        //     font-size: 13px;
        //     font-style: italic;
        //     color: #fff;
        // }

        .save-btn {
            background: transparent;
            box-shadow: 0px 0px 0px;
            border: 1px solid #fff;

            @include transition(all 0.2s ease-in);
        }

        .save-btn:hover {
            background: $accent;
            color: white;
            border: 1px solid transparent;
        }
    }
}