.user-page-wrapper {
    $color: #e9eaed;
    $dark: #f6f7f8;
    $accent: #6d97cc;
    $dark-accent: #6186b5;
    $comment-profile-pic: 30px;
    $post-profile-pic: 50px;

    background: $color;
    margin: 0px auto;

    $sidebar-large-width: 400px;
    $sidebar-small-width: 400px;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $header-height: 90px;
    $accent: #fff;
    $logo-height: 90px;

    // $dark-accent: #e2e2e2;
    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;

    $dark-accent: #e2e2e2;
    $green-color: #2ea677;
    $brick-color: #6d270c;
    $royal-blue-color: #4183D7;

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 100;
        width: $sidebar-small-width;

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        .logo {
            position: fixed;
            top: 0px;
            left: 15px;
            font-size: 60px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: 'waverly';
            height: $logo-height;
            z-index: 12;
            font-weight: bold;

            // background: url("../images/logo_new1_b.png");
            background-repeat: no-repeat;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        .girl-img {
            position: absolute;
            bottom: 130px;
            z-index: 2;
            display: none;

            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .tree-img {
            position: absolute;
            top: 0px;
            z-index: 11;
            display: none;

            @include breakpoint(large_desktop) {
                top: 00px;
                display: block;
            }


            @include breakpoint(desktop) {
                top: 00px;
                display: block;
            }


            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .menu-img {
            position: absolute;
            top: 80px;
            left: 100px;
            z-index: 11;
            display: none;

            @include breakpoint(desktop) {
                display: block;
            }


            .menu-pic {
                width: 200px;
            }

            .profile-pic {
                position: absolute;
                top: 103px;
                left: 19px;

                // img {
                //     width: 165px;
                //     height: 165px;
                // }

                // .profile-image-btn {
                //     position: absolute;
                //     top: 0px;
                //     left: 10px;
                //     cursor: pointer;
                // }
           
            }

            .common-btn {
                position: absolute;
                width: 165px;
                height: 30px;
                font-size: 18px;
                font-family: waverly;
                cursor: pointer;
                text-transform: uppercase;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);
            }

            .follow-btn {
                left: 19px;
                top: 317px;
            }

            .add-frnd-btn {
                left: 19px;
                top: 392px;
            }
        }

        .grass-img {
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 50px;
            background-image: url("../images/grass-cartoon.png");
            background-size: contain;

            // background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .main-container {
        // padding: 25px;

        @include breakpoint(desktop) {
            padding-left: $sidebar-small-width;
            padding-right: $right-sidebar-small-width;
        }


        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        position: relative;
        min-height: calc(100vh);
        background: #1dbed0;

        .title {
            max-width: 963px;
            position: fixed;
            top: 00px;
            left: 0px;
            right: 0px;
            height: $logo-height + 40px;
            font-family: aller;
            font-size: 30px;
            color: white;
            text-align: center;
            background: #fff;
            z-index: 10;
            margin: 0px auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include breakpoint(desktop) {
                left: $sidebar-small-width;
                right: $right-sidebar-small-width;
                margin: 0px;
            }


            @include breakpoint(large_desktop) {
                left: $sidebar-large-width;
                right: $right-sidebar-large-width;
            }


            .head-title {
                position: absolute;
                font-family: 'waverly';
                font-weight: bold;
                color: #fff;
                font-size: 40px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include breakpoint(large_desktop) {
                    font-size: 60px;
                }
            }

            .roof-img {
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: 0px;
                max-height: 100%;
            }

            .window-img {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -75px;
                margin-top: -30px;

                img {
                    position: relative;
                    height: 60px;
                }
            }
        }
    }
}