.user-page-wrapper {
    $color: #e9eaed;
    $dark: #f6f7f8;
    $accent: #6d97cc;
    $dark-accent: #6186b5;
    $comment-profile-pic: 30px;
    $post-profile-pic: 50px;

    background: $color;
    margin: 0px auto;

    .user-header {
        height: 50px;
        width: 100%;
        background: #4183D7;
        color: white;

        .logo {
            display: inline-block;
            height: 50px;
            color: white;
            width: 50px;
            vertical-align: bottom;
            margin-left: 20px;

            i {
                line-height: 50px;
                font-size: 33px;
            }
        }

        .search-field {
            height: 50px;
            display: inline-block;
            margin-left: 15px;
            vertical-align: bottom;

            input {
                height: 30px;
                margin: 10px 10px;
                width: 250px;
                padding: 0px 10px;
                border-radius: 3px;
            }
        }

        .right-controls {
            float: right;
            height: 50px;
            margin-right: 100px;

            .icon {
                line-height: 50px;
                margin: 0px 5px;
                cursor: pointer;
                font-size: 16px;
                font-family: aller;
            }

            .only-icons .icon {
                position: relative;

                .arrow-up {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid white;
                    left: 50%;
                    position: relative;
                    margin-left: -5px;
                }

                .overlay {
                    position: absolute;
                    left: -120px;
                    z-index: 10;
                    width: 250px;
                    display: none;
                }

                .overlay.open {
                    display: block;
                }

                .list-group {
                    margin-bottom: 0px;
                }

                .list-group-item {
                    &:first-child {
                        border-top: 0px;
                    }
                }
            }

            .text-w-icon, .only-icons {
                display: inline-block;
                margin-right: 20px;
            }

            .text-w-icon .icon {
                padding: 10px;
            }

            .icon.active {
                background: white;
                border-radius: 3px;
                color: #4183D7;
            }
        }
    }

    .block-wrapper {
        overflow: auto;
        margin: 20px 0px;
        box-shadow: 0px 1px 1px #ccc;

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        .title {
            padding: 10px 10px;
            font-family: 'Aller';
            font-size: 19px;
            background: #7aa8e3;
            color: #fff;

            i {
                margin-right: 10px;
            }
        }

        .list-group {
            margin-bottom: 0px;
        }

        .list-group-item {
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            font-family: "Ubuntu";

            &:last-child {
                border-bottom: 0px;
            }
        }

        .more-btn {
            font-size: 16px;
            line-height: 33px;
            cursor: pointer;
        }
    }

    #status-textarea {
        // overflow: hidden;
        padding: 0px 10px;
        width: 100%;
        font-size: 16px;
        border-radius: 0px;
        resize: none;
        box-shadow: 0px 0px 0px;
        font-family: 'Aller';
        white-space: pre-wrap;
        min-height: 50px;
        background: transparent;
        border: 0px;
        color: #444;

        .placeholder {
            color: #ccc;
        }
    }

    .edit-post-status-area, .edit-comment-area {
        white-space: pre-wrap;
        padding: 5px;
        font-family: 'Aller';
        font-size: 15px;
        background: transparent;
        border-radius: 0px;
        border: 0px;
    }

    .post {
        background: white;
        margin: 20px 0px;
        box-shadow: 0px 1px 1px #ccc;
        max-width: 1280px;

        &:first-child {
            margin-top: 0px;
        }

        .content-wrapper {
            position: relative;
            padding: 10px;
        }

        .head {
            margin-bottom: 10px;
            display: block;
            position: relative;
        }

        .profile-pic {
            width: $post-profile-pic;
            height: $post-profile-pic;
            float: left;
            border: 1px solid $color;
        }

        .profile-name {
            padding-left: $post-profile-pic + 10;

            .username {
                font-size: 15px;
                font-family: Ubuntu;
                color: $dark-accent;
                cursor: pointer;
            }
        }

        .post-options {
            position: absolute;
            top: -5px;
            right: 10px;
            cursor: pointer;
            font-size: 20px;

            .overlay {
                position: absolute;
                right: 0px;
                top: 30px;
                display: none;
                z-index: 1;

                .list-group-item {
                    padding: 8px 12px;
                }

                h6 {
                    margin: 0px;
                }
            }
        }

        .post-btn {
            background: $dark-accent;
            margin-right: 0px !important;
            color: white;
            cursor: pointer;

            &.disabled {
                pointer-events: none;
                cursor: none;
            }
        }

        .status-attachment-wrapper {
            @include display(flex);

            @include flex-direction(row);

            @include flex-wrap(wrap);
        }

        .status-attachment {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;

            &.video {
                display: block;
                width: 100%;
                margin-right: 0px;
                background: $dark;
                padding: 0px 10px;

                .videoName {
                    font-family: 'Aller';
                    font-size: 18px;
                    color: $dark-accent;
                }

                .remove-icon {
                    position: relative;
                    display: inline-block;
                    font-size: 18px;
                    cursor: pointer;
                    float: right;
                }
            }

            .image {
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
                position: relative;
                display: inline-block;
            }

            .remove-icon {
                position: relative;
                display: block;
                text-align: right;
                cursor: pointer;
            }
        }

        .progressbar {
            width: 00%;
            height: 5px;
            background: rgba(147, 206, 222, 1);
            background: -moz-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
            background: -webkit-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: -o-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            background: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
        }

        .content {
            font-family: 'Aller';
            font-size: 15px;
            background: transparent;
            border: 0px;
            padding: 0px;
            white-space: pre-wrap;
            max-height: 100px;
            line-height: 25px;
            overflow: hidden;

            &.full-post {
                max-height: none;
                overflow: visible;
            }
        }

        .more-btn {
            background: none;
            border: 0px;
            border-radius: 0px;
            color: $dark-accent;
            font-size: 15px;
            font-family: 'Aller';
            float: right;
        }

        .post-image-attachment {
            display: block;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }

        .post-video-attachment {
            max-width: 100%;
            width: 100%;
            min-height: 400px;
            margin-bottom: 10px;
        }

        .action-btns {
            border-top: 1px solid $dark;
            margin: 0px 10px;

            // background: $dark-accent;
            color: $dark-accent;
        }

        .action-btn {
            padding: 7px 10px;
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
        }

        .comment-wrapper {
            padding: 10px;
            background: $dark;
        }

        .comment-field {
            margin: 10px 0px 20px;

            .profile-pic {
                float: left;
                width: $comment-profile-pic;
                height: $comment-profile-pic;
            }

            .tf {
                padding-left: $comment-profile-pic + 10;
                position: relative;

                input, .input-comment {
                    background: white;
                    padding-left: 10px;
                    box-shadow: 0px 0px 0px;
                    font-family: 'Aller';
                    display: inline-block;
                    min-height: 30px;
                    line-height: 30px;
                    font-size: 15px;
                    width: calc(100% - 70px);
                    border: 1px solid darken($dark, 30%);
                    padding-right: 30px;
                }

                .camera-icon {
                    display: inline-block;
                    position: absolute;
                    right: 71px;
                    line-height: 30px;
                    top: 1px;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    z-index: 10;
                }

                .post-comment-btn {
                    padding: 4px 15px;
                    display: inline-block;
                    background: #6186b5;
                    color: white;
                    float: right;
                    border-radius: 3px;
                    cursor: pointer;
                    word-break: break-word;
                }
            }

            .comment-attachment-wrapper {
                padding-left: $comment-profile-pic + 10;

                @include display(flex);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }
        }

        .comment {
            margin: 10px 0px;

            .head .profile-pic {
                width: $comment-profile-pic;
                height: $comment-profile-pic;
            }

            .head .profile-name {
                padding-left: $comment-profile-pic + 10px;

                .comment {
                    padding-left: 10px;
                    border-left: 2px solid darken($dark, 30%);
                }
            }

            .text {
                max-height: 100px;
                font-family: 'Ubuntu';
                font-size: 15px;
                overflow: hidden;
                line-height: 25px;

                &.full-comment {
                    max-height: none;
                    overflow: visible;
                }
            }

            .comment-image-attachment-wrapper {}

            .comment-image-attachment {
                display: block;
                margin-bottom: 10px;

                // @include flex-grow(1);

                img {
                    max-width: 300px;
                    height: auto;
                    cursor: pointer;
                }
            }

            .action-btns {
                border-top: 0px solid $dark;
                margin: 0px;
            }

            .action-btn {
                padding: 5px 1px;
            }
        }
    }

    .edit-post-modal, .edit-comment-modal {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.5);
        overflow: auto;
        z-index: 9999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .post {
            min-width: 500px;
        }

        .profile-name {
            padding-left: 0px;
        }
    }
}