.home_page {
	background-image: url(../../images/home_bg.png);
	background-attachment: fixed;
	background-position: 0 100%;
    background-size: contain;
	background-repeat: no-repeat;
	min-height: 600px;
	@media (min-width: 992px) {
		// &::after {
		// 	background-image: url(../../images/girl.png);
		// 	bottom: 0;
		// 	content: '';
		// 	height: 400px;
		// 	position: fixed;
		// 	right: 0;
		// 	width: 500px;
		// }
		&::before {
			background: url(../../images/leaves.png) center no-repeat;
			bottom: 0;
			content: '';
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: -1;
		}
	}
	.wrap_text {padding: 10px 30px 0;}
	.main_text {
		color: #fff;
		font: 400 20px/1.2em $mainSansSerif;
		letter-spacing: 0.024em;
		margin-bottom: 19px;
		@media (min-width: 992px) {font-size: 25px;}
	}
	.category {
		@include flex_align();
		background: url(../../images/apple.png) 100% / contain no-repeat;
		color: #fff;
		font-size: 20px;
		height: 175px;
		padding: 8px 65px 8px 8px;
		position: absolute;
		text-align: center;
		width: 175px;
		z-index: 1;
		@media (min-width: 768px) {
			font-size: 30px;
			height: 224px;
			padding: 8px 80px 8px 8px;
			width: 250px;
		}
		&:hover, &:focus {
			color: #000;
			text-decoration: none;
		}
		.title_category {
			@include ellipsis(2, 2em);
		}
	}
	.category_1 {
		left: 10%;
		top: 4%;
		transform: rotate(-25grad);
		@media (min-width: 1200px) {left: 18%;}
	}
	.category_2 {
		right: 10%;
		top: 7%;
		transform: rotate(25grad);
		@media (min-width: 1200px) {right: 14%;}
	}
	.category_3 {
		left: 17%;
		top: 51%;
		@media (min-width: 1200px) {
			left: 33%;
			top: 42%;
		}
	}
	.category_4 {
		right: 17%;
		top: 58%;
		@media (min-width: 1200px) {
			right: 30%;
			top: 53%;
		}
	}
	@media (max-width: 543px) {
		.category_2 {
			right: 9%;
			top: 25%;
		}
		.category_3 {
			left: 3%;
			top: 43%;
		}
		.category_4 {
			right: 4%;
			top: 60%;
		}
	}
	.wrap_category_links {
		// background: url(../../images/leaves.png) center no-repeat;
		height: calc(100vh - 183px);
		min-height: 700px;
		position: relative;
	}
	&.src_show {
		@media (max-width: 991px) {.wrap_category_links {height: calc(100vh - 304px);}}
	}
}
.bottom_nav {
	box-shadow: -1px -1px 2px #444;
	display: none !important;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	li {
		flex: 1 1 auto;
		margin: 0;
		&::after {
			content: '';
			margin: 0; 
		}
		&:last-child a {border-right: none;}
 	}
	a {
		background: #fff;
		border-right: 1px solid #ccc;
		font: 400 13px $secondSansSerif;
		padding: 10px 5px;
		text-align: center;
		width: 100%;
	}
}