.service_page {
	background-image: url(../../images/course/training_bg.png);
	background-attachment: fixed;
	background-position: 0 100%;
    background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
	.main_header .main_nav_list {justify-content: flex-end;}
	@media (min-width: 1280px) {
		.main_header {
			background: none;
			.logo {display: none;}
		}
	}
	&::before {
		background-image: url(../../images/course/tree.png);
		background-size: contain;
		content: '';
		height: 215px;
		position: fixed;
		right: 0%;
		top: 28%;
		width: 400px;
	}
	&::after {
		background-image: url(../../images/course/extra-apple.png);
		background-size: contain;
		content: '';
		height: 179px;
		position: fixed;
		right: 7%;
		top: 57%;
		width: 205px;
	}
	.dashboard_link {
		background-image: url(../../images/course/apple-course.png);
		background-size: contain;
		content: '';
		height: 89px;
		position: fixed;
		right: 0.5%;
		top: 63%;
		width: 68px;
		z-index: 4;
		@media (min-width: 1200px) {
			height: 178px;
			width: 136px;
		}
	}
	.top_block {
		@include flex_align(space-between);
		background: #1d99d1;
		height: 200px;
		flex-direction: column;
		left: 0;
		margin: 0 auto;
		max-width: 875px;
		padding: 77px 0 0;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 3;
		.house_logo {
			display: inline-block;
			position: relative;
			z-index: 1;
			@media (max-width: 1279px) {display: none;}
		}
		// @media (min-width: 544px) and (max-width: 767px) {top: 105px;}
		@media (max-width: 1279px) {
			height: auto;
			padding: 0;
			position: static;
			/* .house_logo {
				display: none;
			} */
		}
	}
	.bg_block {
		height: 150px;
		left: 0;
		margin: 0 -44px;
		max-width: 963px;
		position: absolute;
		right: 0;
		top: 0;
		@media (max-width: 1279px) {display: none;}
		picture {
			height: 100%;
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	.about_training {margin-left: 20px;}
	.tools_block {
		@include flex_align();
		background: #fff;
		border-bottom: 1px solid #ccc;
		box-shadow: 0px 5px 5px -5px #ccc;
		font-size: 25px;
		max-width: 875px;
		min-height: 50px;
		padding: 0 20px;
		position: relative;
		width: 100%;
		@media (max-width: 543px) {
			font-size: 18px;
			padding: 6px 10px;
		}
		.tool_part {
			@include flex_align();
			padding: 1px 2.5px;
			.icon_tools {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				height: 25px;
				margin: 0 10px;
				width: 25px;
				&.icon_list {background-image: url(../../images/list.png);}
				&.icon_play {background-image: url(../../images/play.png);}
			}
			.why_us {@include flex_align();}
		}
		.wrapp_search_ourses {
			flex-grow: 1;
			margin: 0 20px;
		}
		.title_training {
			color: #B9002D;
			font: 400 20px/1em $thirdSansSerif;
			margin: 0;
			@media (min-width: 768px) {font-size: 25px;}
		}
		.details_training {
			color: #1d99d1;
			font-size: 15px;
			li {
				margin: 0;
				&::after {margin: 0 5px;}
			}
			.title_details {padding-right: 5px;}
		}
		.btn {
			background: #1d99d1;
			border-radius: 3px;
			color: #fff;
			font-size: 19px;
			padding: 7px 20px 8px;
			.fa {margin-right: 5px;}
		}
		.info_btn {margin: 0 15px;}
	}
	.main_content {
		margin-top: 115px;
		overflow: hidden;
		position: relative;
		z-index: 2;
		// @media (max-width: 1279px) {margin-top: 195px;}
		@media (max-width: 1279px) {margin-top: 0;}
	}
	.list_training {
		background: #fff;
		padding: 10px 20px;
		.item_training {
			@include flex_align(space-between, center, nowrap);
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding: 28px 0px 27px;
		}
		a {
			@include flex_align(flex-start, center, nowrap);
			color: #1d99d1;
			font: 400 30px $thirdSansSerif;
			&:hover {text-decoration: none;}
			@media (min-width: 768px) {.icon_course {margin-right: 30px;}}
		}
		@media (max-width: 767px) {
			.item_training {
				&, a {
					flex-direction: column;
					text-align: center;
				}
			}
		}
	}
	.icon_course {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		flex: 0 0 auto;
		height: 55px;
		width: 55px;
		&.icon_course_01 {background-image: url(../../images/icon_01.png);}
		&.icon_course_02 {background-image: url(../../images/icon_02.png);}
		&.icon_course_03 {background-image: url(../../images/icon_03.png);}
		&.icon_course_04 {background-image: url(../../images/icon_04.png);}
		&.icon_course_05 {background-image: url(../../images/icon_05.png);}
		&.icon_course_06 {background-image: url(../../images/icon_06.png);}
		&.icon_course_07 {background-image: url(../../images/icon_07.png);}
		&.icon_course_08 {background-image: url(../../images/icon_08.png);}
		&.icon_course_09 {background-image: url(../../images/icon_09.png);}
		&.icon_course_10 {background-image: url(../../images/icon_10.png);}
	}
	.soc_list {
		flex: 0 0 auto;
		justify-content: flex-end;
		padding-left: 10px;
		@media (max-width: 767px) {justify-content: center;}
	}
}
.soc_list {
	li {
		&::after {
			content: '';
			margin: 0 10px;
		}
		a {
			display: block;
			.fa {font-size: 14px;}
			&.disable {color: #aaa;}
		}
		.soc_icon {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			height: 16px;
			width: 16px;
			&.facebook {background-image: url(../../images/facebook.png);}
			&.twitter {background-image: url(../../images/twitter.png);}
			&.cb {background-image: url(../../images/cb.png);}
			&.qa {background-image: url(../../images/qa.png);}
		}
	}
}

.training_page {
	.list_training {
		padding: 0;
		.item_training {
			padding: 25px 15px;
			a {
				font-size: 25px;
				.icon_course {
					height: 40px;
					margin-right: 10px;
					width: 40px;
				}
			}
		}
	}
	.soc_list {
		li {
			&::after {
				content: '';
				margin: 0 10px;
			}
			.soc_icon {
				height: 12px;
				width: 12px;
			}
		}
	}
	.list_trainings {
		background-color: rgba(0, 0, 0, 0.2);
		li {
			@include flex_align(space-between);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			letter-spacing: 0.075em;
			padding: 25px 15px;
			a {
				color: #222;
				font-size: 15px;
			}
		}
	}
}
.details_block {
	background: #3e6289;
	box-shadow: 1px 1px 10px #ccc;
	left: -100%;
	padding: 5px 0;
	position: fixed;
	top: 100px;
	transition: all 0.3s ease-in;
	width: 100%;
	z-index: 4;
	@media (min-width: 768px) {
		left: -30%;
		width: 30%;
	}
	&.active {left: 0;}
	.top_details {
		@include flex_align(space-between, flex-start, nowrap);
		color: #fff;
		padding: 5px 20px 9px 10px;
		.title_details {
			display: block;
			font: 400 14px $thirdSansSerif;
			letter-spacing: 0.005em;
			padding: 4px 0;
		}
		.close_details {font-size: 25px;}
	}
	.description_details {
		background: #fff;
		padding: 5px 10px;
		.title_desc {
			display: block;
			font: 400 15px $thirdSansSerif;
			padding: 10px 0;
		}
		.text_desc {
			font: 400 15px/1.8em $secondSansSerif;
			letter-spacing: 0.015em;
			margin: 4px 0 15px;
		}
	}
}

.contact_page {
	// .main_content {
	// 	padding: 0 20px;
	// }


	.contact_form {
		padding: 20px 36px;
		.desc_form {
			font: 400 15px $secondSansSerif;
			letter-spacing: -0.005em;
			margin-bottom: 10px;
		}
	}
	.tools_links {
		padding: 0 36px;
		li {padding: 2px 0;}
		.tools_link {
			color: #fff;
			display: block;
			font: 400 20px $thirdSansSerif;
			padding: 61px 10px;
			text-align: center;
			.fa {margin-right: 15px;}
		}
		.blue_link {background: #9295CA;}
		.red_link {background: #E66665;}
		.green_link {background: #9ECEB4;}
	}
	.btn {
		color: #fff;
		background-color: #337ab7;
		border: 1px solid #2e6da4;
		border-radius: 4px;
		font-size: 14px;
		padding: 6px 12px;
	}
}

.login_page, .contact_page {
	.wrap_content {
		align-items: center;
		background: #fff;
		padding: 20px 0;
		@media (min-width: 768px) {min-height: calc(100vh - 194px);}
	}
}


.login_page {
	.wrap_content {
		padding: 20px 47px;
	}
	.reg_form {
		padding: 0 60px;
	}
	.btn {
		background-color: #0d87e9;
		border-radius: 3px;
		font: 400 17px/1.3333333em $fourthSansSerif;
		padding: 10px 16px;
		.fa {margin-left: 10px;}
	}
	@media (min-width: 768px) {
		.list.main_soc_list {
			border-left: 1px solid #ccc;
			flex-direction: column;
		}
	}
	@media (max-width: 767px) {
		.list.main_soc_list {justify-content: center;}
	}
}

.list.main_soc_list {
	li {
		margin: 5px 0;
		&::after {
			content: '';
			margin: 0 10px;
			@media (min-width: 767px) {margin: 0;}
		}
	}
	a {
		background: #000;
		@include flex_align();
		border-radius: 3px;
		color: #fff;
		height: 5.3em;
		font-size: 10px;
		width: 5.3em;
		.fa {font-size: 14px;}
		&.facebook {background: #44619D;}
		&.google {background: #EA4335;}
		&.twitter {background: #28A9E0;}
		&.linkedin {background: #006DA6;}
	}
}