<div class="admin-page videos-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal">
					<fieldset>
						<legend>Add Module Item</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="course">Course</label>
							<div class="col-sm-10">
								<select id="course"  ng-model="vm.form.course" ng-change="vm.changeCourse()" class="form-control"
									ng-options='course.courseId as course.courseName for course in vm.courselist'>
									<option value="">Select Course</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="module">Module</label>
							<div class="col-sm-10">
								<select id="module" ng-model="vm.form.module" ng-change="vm.changeModule()" class="form-control"
									ng-options='module.moduleNumber as (module.moduleNumber+ " - " +module.moduleName) for module in vm.modulelist'>
									<option value="">Select Module</option>
								</select>
							</div>
						</div>
						<div ng-if="vm.shouldShowQuestionGroupForm || vm.shouldShowVideoForm || vm.shouldShowDownloadForm || vm.shouldShowUploadForm || vm.shouldShowBookTopicForm">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="item-id">Item Id</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="item-id" ng-change="vm.onChangeIdField()" ng-model="vm.form.item.itemId" placeholder="Item Id"></input>
								</div>
							</div>
							<div class="alert alert-danger" ng-if="vm.idExistError">
								Id is already exist
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="item-weight">Item Weight</label>
								<div class="col-sm-10">
									<input type="number" class="form-control" id="item-weight" ng-model="vm.form.item.itemWeight" placeholder="Item Weight to Order Items"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="item-desc">Item Description</label>
								<div class="col-sm-10">
									<textarea class="form-control" id="item-desc" ng-model="vm.form.item.itemDescription" placeholder="Item Description"></textarea>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowQuestionGroupForm">
								<label class="col-sm-2 control-label" for="grp-test">Is it a Test?</label>
								<div class="col-sm-10">
									<input type="checkbox" class="" id="grp-test" ng-model="vm.form.item.itemTakeTest"></input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowQuestionGroupForm">
								<label class="col-sm-2 control-label" for="grp-test">Question Option Type</label>
								<div class="col-sm-10">
									<input type="radio" value="capital-alpha" ng-model="vm.form.item.itemOptionType">A,B,C..</input>
									<input type="radio" value="small-alpha" ng-model="vm.form.item.itemOptionType">a,b,c..</input>
									<input type="radio" value="digits" ng-model="vm.form.item.itemOptionType">1,2,3..</input>
									<input type="radio" value="roman" ng-model="vm.form.item.itemOptionType">Roman</input>
									<input type="radio" value="checkboxes" ng-model="vm.form.item.itemOptionType">Checkboxes</input>
									<input type="radio" value="radio" ng-model="vm.form.item.itemOptionType">Radio</input>
									<input type="radio" value="radio-checkbox" ng-model="vm.form.item.itemOptionType">Radio/Checkboxes</input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowQuestionGroupForm">
								<label class="col-sm-2 control-label" for="grp-name">Group Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="grp-name" ng-model="vm.form.item.itemName" placeholder="Question Group Name"></input>
								</div>
							</div>				
							<div class="form-group" ng-if="vm.shouldShowVideoForm">
								<label class="col-sm-2 control-label" for="video-name">Video Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="video-name" ng-model="vm.form.item.itemName" placeholder="Video Name"></input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowVideoForm">
								<label class="col-xs-2 control-label" for="Slide Page">Slide Pages</label>
								<div class="col-xs-10">
									<ui-select multiple ng-model="vm.form.item.slidePageId" theme="bootstrap" close-on-select="true">
									    <ui-select-match placeholder="Select Slide Page...">
									        <span>
									        	{{$item.page_nm}}
									        </span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.page_id as item in (vm.allSideLinksArticle | filter: $select.search) track by $index">
									        <span>
									        	{{item.page_nm}}
									        </span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowVideoForm">
								<label class="col-sm-2 control-label" for="video-link">Material</label>
								<div class="col-sm-10">
									<div class="btn btn-primary"
										style="margin-right: 10px;" 
										ngf-select
										ng-model="vm.materialFile"
										ngf-multiple="false"
										>{{vm.materialFileName || 'Select File'}}</div>
									<span ng-if="vm.materialFileName && !vm.isMaterialUploadInProgress && !vm.isMaterialUploaded">
										<div class="btn btn-primary" ng-click="vm.uploadMaterialFile()">Upload</div>
										<div class="btn btn-danger" 
											ng-click="vm.materialFileName = undefined">Reset</div>
									</span>
									<span ng-if="vm.isMaterialUploadInProgress">
										Material Upload in progress {{vm.uploadProgress}}%
									</span>
									<span ng-if="vm.isMaterialUploaded">
										Material Uploaded
									</span>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowVideoForm">
								<label class="col-sm-2 control-label" for="slidecheck" style="padding-top: 0px;">Contain Slides?</label>
								<div class="col-sm-10">
									<input type="checkbox" class="" id="slidecheck" ng-model="vm.form.item.itemContainsSlide"></input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowDownloadForm">
								<label class="col-sm-2 control-label" for="download-name">Dowload Item Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="download-name" ng-model="vm.form.item.itemName" placeholder="Download item Name"></input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowDownloadForm">
								<label class="col-sm-2 control-label" for="download-link">Material</label>
								<div class="col-sm-10">
									<div class="btn btn-primary"
										style="margin-right: 10px;" 
										ngf-select
										ng-model="vm.materialFile"
										ngf-multiple="false"
										>{{vm.materialFileName || 'Select File'}}</div>
									<span ng-if="vm.materialFile && !vm.isMaterialUploadInProgress && !vm.isMaterialUploaded">
										<div class="btn btn-primary" ng-click="vm.uploadDownloadMaterialFile()">Upload</div>
										<div class="btn btn-danger" 
											ng-click="vm.materialFile = undefined;vm.materialFileName = undefined">Reset</div>
									</span>
									<span ng-if="vm.isMaterialUploadInProgress">
										Material Upload in progress {{vm.uploadProgress}}%
									</span>
									<span ng-if="vm.isMaterialUploaded">
										Material Uploaded
									</span>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowUploadForm">
								<label class="col-sm-2 control-label" for="upload-name">Upload Item Display Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="upload-name" ng-model="vm.form.item.itemName" placeholder="Upload item Name"></input>
								</div>
							</div>
							<div class="form-group" ng-if="vm.shouldShowBookTopicForm">
								<label class="col-sm-2 control-label" for="download-name">Book Topic Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="download-name" ng-model="vm.form.item.itemName" placeholder="Book Topic Name"></input>
								</div>
							</div>
							<div ng-if="vm.shouldShowQuestionGroupForm || vm.shouldShowVideoForm || vm.shouldShowBookTopicForm">
								<h5 style="text-align: center;">
									Filter video/questions/book-topic by selecting following items
								</h5>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="subject">Subject</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedSubjects" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Subject...">
										<span ng-bind="$item.subjectName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.subjects | filter: $select.search) track by item.subjectId">
										<span ng-bind="item.subjectName"></span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="author">Author</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedAuthors" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Author...">
										<span ng-bind="$item.authorName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.authors | filter: $select.search) track by item.authorId">
										<span ng-bind="item.authorName"></span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="publication">Publication</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedPublications" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Publication...">
										<span ng-bind="$item.publicationName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.publications | filter: $select.search) track by item.publicationId">
										<span ng-bind="item.publicationName"></span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="book">Book</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedBooks" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Book...">
										<span ng-bind="$item.bookName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.books | filter: $select.search) track by item.bookId">
										<span ng-bind="item.bookName"></span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="exam">Exam</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedExams" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Exam...">
										<span ng-bind="$item.examName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.exams | filter: $select.search) track by item.examId">
										<span ng-bind="item.examName"></span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="topic">Topic</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedTopics" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Topic...">
										<span ng-bind="$item.topicName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.topics | filter: $select.search) track by item.topicId">
										<span>{{item.topicNumber}} - {{item.topicName}}</span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="tag">Tag</label>
									<div class="col-sm-10">
										<ui-select multiple on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" ng-model="vm.selectedTags" theme="bootstrap" close-on-select="true">
										<ui-select-match placeholder="Select Tag...">
										<span ng-bind="$item.tagName"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in (vm.tags | filter: $select.search) track by item.tagId">
										<span ng-bind="item.tagName"></span>
										</ui-select-choices>
										</ui-select>
									</div>
								</div>
							</div>	
						</div>
						<div class="col-md-12" ng-if="vm.shouldShowQuestionGroupForm">
							<div class="filtered-question-wrapper">
								<div class="total-questions">
									<div class="head">All Questions</div>
									<div class="page-changer">
										<div class="count">{{vm.filteredQuestionsPageNumber}}/{{ vm.filteredQuestionsPageCount}}</div>
										<span class="prev" ng-class="{'disabled':!(vm.filteredQuestionsPageNumber > 1)}" ng-click="vm.filteredQuestionPrev()"><i class="fa fa-angle-left"></i></span>
										<span class="next" ng-class="{'disabled':!(vm.filteredQuestionsPageNumber < vm.filteredQuestionsPageCount)}" ng-click="vm.filteredQuestionNext()"><i class="fa fa-angle-right"></i></span>
									</div>
									<div class="question-wrapper" ng-class="{'selected':vm.isQuestionSelected(question.questionId)}" ng-repeat="question in vm.fecthFilteredQuestions()">
										<div class="code" ng-bind-html="question.question"></div>
										<div class="oneLine" ng-bind-html="question.questionOneLine"></div>
										<div class="action-btn" ng-if="!vm.isQuestionSelected(question.questionId)" ng-click="vm.addToSelectedQuestions(question.questionId)"><i class="fa fa-plus"></i></div>
									</div>
									<div class="question-wrapper" style="padding: 10px;" ng-if="vm.fecthFilteredQuestions().length <= 0">
										<div class="code">No Question Found - Change Filter</div>
									</div>
								</div>
								<div class="selected-questions">
									<div class="head">Selected Questions</div>
									<div class="page-changer">
										<div class="count">{{vm.selectedQuestionsPageNumber}}/{{vm.selectedQuestionsPageCount}}</div>
										<span class="prev" ng-class="{'disabled':!(vm.selectedQuestionsPageNumber > 1)}" ng-click="vm.selectedQuestionPrev()"><i class="fa fa-angle-left"></i></span>
										<span class="next" ng-class="{'disabled':!(vm.selectedQuestionsPageNumber < vm.selectedQuestionsPageCount)}" ng-click="vm.selectedQuestionNext()"><i class="fa fa-angle-right"></i></span>
									</div>
									<div class="question-wrapper" ng-repeat="question in vm.fecthSelectedQuestions()">
										<div class="code" ng-bind-html="question.question"></div>
										<div class="oneLine" ng-bind-html="question.questionOneLine"></div>
										<div class="action-btn" ng-click="vm.removeFromSelectedQuestions(question.questionId)"><i class="fa fa-times"></i></div>
									</div>
									<div class="question-wrapper" style="padding: 10px;" ng-if="vm.fecthSelectedQuestions().length <= 0">
										<div class="code">No Question Selected</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12" ng-if="vm.shouldShowVideoForm">
							<div class="filtered-video-wrapper">
								<div class="total-videos">
									<div class="head">Filtered Videos - Select atleast One Video</div>
									<div class="video-wrapper" ng-class="{'selected':vm.isVideoSelected(video.videoId)}" ng-repeat="video in vm.filteredVideos" ng-click="vm.addToSelectedVideo(video.videoId)">
										<div class="name">{{video.videoName}}</div>
									</div>
									<div class="video-wrapper" ng-if="!vm.filteredVideos || vm.filteredVideos.length <= 0">
										<div class="name">No Video Found - Change Filter</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12" ng-if="vm.shouldShowBookTopicForm">
							<div class="filtered-video-wrapper">
								<div class="total-videos">
									<div class="head">Filtered BookTopics - Select atleast One Topic</div>
									<div class="video-wrapper" ng-class="{'selected':vm.selectedBookTopic === bookTopic.bookTopicId}" ng-repeat="bookTopic in vm.filteredBookTopics" ng-click="vm.selectedBookTopic = bookTopic.bookTopicId">
										<div class="name">{{bookTopic.bookTopicName}}</div>
									</div>
									<div class="video-wrapper" ng-if="!vm.filteredBookTopics || vm.filteredBookTopics.length <= 0">
										<div class="name">No BookTopic Found - Change Filter</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<button class="form-control btn btn-info submit" ng-disabled="!vm.form.course || !vm.form.module" ng-click="vm.showQuestionGroupForm()" style="margin-top: 25px;">New Practice</button>
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-info submit" ng-click="vm.showVideoForm()" ng-disabled="!vm.form.course || !vm.form.module" style="margin-top: 25px;">New Video</button>
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-info submit" ng-click="vm.showBookTopicForm()" ng-disabled="!vm.form.course || !vm.form.module" style="margin-top: 25px;">New Book Topic</button>
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-info submit" ng-click="vm.showDownloadForm()" ng-disabled="!vm.form.course || !vm.form.module" style="margin-top: 25px;">New Download</button>
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-info submit" ng-click="vm.showUploadForm()" ng-disabled="!vm.form.course || !vm.form.module" style="margin-top: 25px;">New Upload</button>
							</div>
							<div class="col-sm-2">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.course || !vm.form.module || !vm.form.item.itemName || vm.isMaterialUploadInProgress || vm.idExistError || !vm.form.item.itemId" ng-click="vm.addItems()">{{vm.isMaterialUploadInProgress ? 'Material uploading....' : 'Save'}}</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.itemsOfModule">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.itemsOfModule">
				<uib-accordion close-others="false" ng-repeat="item in vm.itemsOfModule">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
				<div class="">
					<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
					<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteItemOfModule(item.itemId)"><i class="fa fa-times"></i></span>
					<span class="pull-right panel-header-buttons edit" ng-click="vm.editItemOfModule(item.itemId)"><i class="fa fa-pencil"></i></span>
					{{item.itemName}} - {{item.itemType}}
				</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in item">
					<div ng-if="key != '_id'">
						<div class="col-xs-2 title">{{key}}</div>
						<div class="col-xs-10 desc" style="word-break: break-all;">{{value}}</div>
					</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>