<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal">
					<fieldset>
						<legend>Add Video</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="course">Course</label>
							<div class="col-sm-10">
								<select id="course"  ng-model="avc.form.course" ng-change="avc.changeCourse()" class="form-control"
									ng-options='course.courseId as course.courseName for course in avc.courselist'>
									<option value="">Select Course</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="module">Module</label>
							<div class="col-sm-10">
								<select id="module" ng-model="avc.form.module" ng-change="avc.changeModule()" class="form-control"
									ng-options='module.moduleNumber as (module.moduleNumber+ " - " +module.moduleName) for module in avc.modulelist'>
									<option value="">Select Module</option>
								</select>
							</div>
						</div>
						<div ng-if="avc.shouldShowVideoForm">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videonumber">Video Number</label>
							<div class="col-sm-10">
								<input type="text" id="videonumber" class="form-control" placeholder="Video Number" ng-model="avc.form.video.videoNumber" readonly="" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videoname">Video Name</label>
							<div class="col-sm-10">
								<input type="text" id="videoname" class="form-control" placeholder="Video Name" ng-model="avc.form.video.videoName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="shortdesc">Desc</label>
							<div class="col-sm-10">
								<textarea id="shortdesc" class="form-control" placeholder="Description" ng-model="avc.form.video.videoDesc" required=""></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="duration col-sm-2 control-label" for="videoduration">Video Duration</label>
							<div class="col-sm-10">
								<select id="" class="duration" ng-model="avc.form.video.videoDuration.hr"
									ng-options='(hr) for hr in avc.hrlist'>
									<option value="">Select Hour(s)</option>
								</select>
								<select id="" class="duration" ng-model="avc.form.video.videoDuration.min"
									ng-options='(min) for min in avc.minlist'>
									<option value="">Select Minute(s)</option>
								</select>
								<select id="" class="duration" ng-model="avc.form.video.videoDuration.sec"
									ng-options='(sec) for sec in avc.seclist'>
									<option value="">Select Seconds</option>
								</select>
							</div>
						</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="avc.resetFormDetail()" style="margin-top: 25px;">New Video</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" ng-disabled="!avc.form.course || !avc.form.module" ng-click="avc.addVideos()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="avc.submitted">
					<div class="ds-alert" ng-if="avc.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!avc.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!avc.videosOfModule">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="avc.videosOfModule">
				<uib-accordion close-others="false" ng-repeat="video in avc.videosOfModule">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
				<div class="">
					<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
					<span class="pull-right panel-header-buttons remove" ng-click="avc.deleteVideoOfModule(video.videoId)"><i class="fa fa-times"></i></span>
					<span class="pull-right panel-header-buttons edit" ng-click="avc.editVideoOfModule(video.videoId)"><i class="fa fa-pencil"></i></span>
					{{video.videoNumber}} - {{video.videoName}}
				</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in video">

					<div ng-if="key != '_id'">
						<div class="col-xs-2 title">{{key}}</div>
						<div class="col-xs-10 desc">{{value}}</div>
					</div>

				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>