/* @media (min-width: 992px) {
    .main_header .main_nav {
        bottom: 0;
        width: 90%;
    }
}

.main_header .main_nav_list > li {
    font: 400 16px/1.5em "Roboto", sans-serif;
}

.main_header .main_nav_list > li::after {
    content: '';
    margin: 0 15px;
}

.main_header .main_nav_list > li.with-bg {
    margin-right: 10px;
    border-radius: 10px;
    background: #D24D57;
    color: white;
    padding: 12px 26px;
    border-radius: 30px;
    font-weight: bold;
}

.main_header .main_nav_list > li.with-bg a:hover {
    color: white;
}

.main_header .main_nav_list > li.with-bg::after {
    margin: 0 0px;
}

.home_page .wrap_text {
    max-width: 1280px;
    margin: 0px auto;
}

.home_page::after {
    background: none;
} */
body, .main_header {
    background-color: #1dbed0;
}

.main_text {
    font-family: 'Roboto Condensed',sans-serif !important;
    font-size: 36px !important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold !important;
}

.try-us-now-btn {
    display: inline;
    margin-left: 15px;
    position: relative;
    top: -8px;
}

.main_header .main_nav .main_nav_list .wrap_nav .title_nav {
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main_nav_list.top-position-absolute {
    margin-right: 250px;
}

.right_nav.little-up {
    padding-top: 0px;
}

.main_nav_list li > a {
    text-transform: uppercase;
    letter-spacing: 0.1px;
    word-spacing: 1.2px;
    font-size: 15px;
}

.wrap_category_links a {
    color: white !important;
    cursor: pointer;
}

.wrap_category_links a:hover {
    color: black !important;
}

@media (min-width: 768px) {
    .home_page .category {
        width: 200px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 1279px) {
    .try-us-now-btn {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .try-us-mobile-btn {
        display: none;
    }
}

/*
**  Subscribe modal Styles
 */
.subscribe-modal {
    width: 500px;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    border-radius: 5px;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    padding: 15px;
}

.subscribe-modal.open {
    display: flex;
}

.subscribe-close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.subscribe-title {
    text-align: center;
    margin: 5px 0px;
    padding: 5px;
    font-family: 'nunito',sans-serif;
    font-size: 16px;
    color: white;
}

.subscribe-input input {
    height: 40px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    font-family: 'nunito',sans-serif;
    font-size: 16px;
    width: 100%;
}

.input-error-msg {
    color: red;
    display: none;
    font-family: 'nunito',sans-serif;
    font-size: 12px;
}

.subscribe-input input.error {
    border: 1px solid #f00;
}

.subscribe-btn i, .subscribe-btn-in-msg i {
    padding: 5px 10px;
    border-right: 1px solid #177aa7;
    line-height: 25px;
    padding-left: 0px;
    margin-right: 5px;
}

.subscribe-btn, .subscribe-btn-in-msg {
    background-color: #1d99d1;
    border-radius: 20px;
    color: white;
    font-family: 'nunito',sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 5px 0px;
    cursor: pointer;
    display: inline-block;
    padding: 0px 10px;
    align-self: flex-end;
    float: right;
}

.subscribe-btn.close, .subscribe-btn.ew-close, .subscribe-btn-in-msg.close, .subscribe-btn-in-msg.ew-close {
    background-color: #EC644B;
    float: left;
}

.subscribe-btn.close i, .subscribe-btn.ew-close i, .subscribe-btn-in-msg.close i, .subscribe-btn-in-msg.ew-close i {
    border-right: 1px solid #8d3c2d;
}

.success-msg {
    background: green;
}

.error-msg {
    background: #EC644B;
}

.success-msg, .error-msg {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: nunito;
    font-size: 17px;
    margin: 10px 0px;
    display: none;
}

/* Notificaion Modal */
.notification-modal {
    position: absolute;
    font-family: 'nunito',sans-serif;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    width: 400px;
    left: -160px;
    top: 35px;
}

.notification-modal:before {
    content: '';
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 200px;
}

.notification-modal .ew-modal-title {
    color: #1d99d1;
    font-size: 15px;
    padding: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}

.notification-modal .ew-modal-title .text img {
    width: 30px;
    margin-right: 10px;
}

.notification-modal .ew-modal-title i {
    padding: 0px 5px;
    cursor: pointer;
}

.notification-modal .ew-modal-content {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    background: #f4f4f4;
}

.notification-modal .no-notification {
    text-align: center;
    font-size: 19px;
    padding: 10px;
}

.notification-modal .notification {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    text-decoration: none;
    display: block;
}

.notification-modal .notification.smenu-links {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px;
    font: 400 20px/1.5em "Roboto",sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    background: #3e6289;
}

.notification-modal .notification.smenu-links a {
    color: white;
}

.notification-modal .notification.smenu-links a:hover {
    color: white;
}

.notification-modal .notification.smenu-links .notification-sub {
    font-size: inherit;
    color: white;
}

.notification-modal .notification.smenu-links .notification-msg {
    color: white;
}

.notification-modal .notification.unread {
    background: #e8f4fa;
}

.notification-modal .notification:hover .mark-as-read-icon {
    display: block;
}

.notification-modal .notification .user-pic img {
    width: 50px !important;
    border-radius: 5px;
    margin-right: 10px;
}

.user-pic-img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.notification-modal .notification .notification-sub {
    font-size: 18px;
    color: #3db0e4;
    display: block;
    cursor: pointer;
}

.notification-modal .notification .notification-sub i {
    margin-right: 10px;
    min-width: 20px;
}

.notification-modal .notification .notification-msg {
    font-size: 14px;
    color: #222;
}

.notification-modal .notification .notification-time {
    font-size: 10px;
    color: #777;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
}

.notification-modal .ew-modal-footer {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: justify;
}

.notification-modal .ew-modal-footer .see-all {
    color: #1d99d1;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 16px;
}

.notification-modal .ew-modal-footer .see-all img {
    width: 20px;
    margin-right: 10px;
}

.contactus-modal {
    width: 260px;
}

.contactus-modal .smenu-links {
    padding: 10px 20px !important;
    font-size: 18px !important;
}

#notification-count {
    padding: 0px 5px;
    background: white;
    color: #222;
    margin: 0px 3px;
    border-radius: 10px;
}

.alertify {
    z-index: 10000 !important;
}

.alertify .dialog > div {
    border-radius: 5px;
}

.alertify .msg {
    font-size: 20px;
    font-family: 'nunito',sans-serif;
    color: darken(#1d99d1, 10%);
}

.alertify button {
    background: #f4f4f4 !important;
}

.alertify button:hover {
    background: lighten(#1d99d1, 5%) !important;
    color: white;
}