<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" ng-submit="vm.saveBundle()">
					<fieldset>
						<legend>Add Course Bundle</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Bundle Name<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Bundle Name" ng-model="vm.form.bndl_nm" name="" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" >Include Courses</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.form.includedCourses" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Course...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.allCourses | filter: $select.search) track by $index">
								        <span ng-bind="item.courseName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" type="submit">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchBundles()" ng-if="!vm.allBundle || vm.allBundle.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isBundlesLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isBundlesLoading"></i>
				<span class="text">Show Bundles</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.allBundle">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allBundle">
				<uib-accordion close-others="false" ng-repeat="bundle in vm.allBundle">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editBundle(bundle.bndl_id)"><i class="fa fa-pencil"></i></span>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteBundle(bundle.bndl_id)"><i class="fa fa-times"></i></span>
						{{bundle.bndl_nm}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in bundle">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
				<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreBundleks()" ng-if="(vm.allBundle==[] || vm.allBundle.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isBundlesLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isBundlesLoading"></i>
				<span class="text">More</span>
			</div>	
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>