@import "../../assets/scss/_common_test.scss";

.ew-btns-wrapper-flex-end {
    margin: 10px 0px;

    @include display(flex);

    @include align-items(center);

    @include justify-content(flex-end);

    @include flex-direction(row);
}

.ew-btn {
    background: #1d99d1;
    margin: 0px 10px;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'nunito',sans-serif;
    font-weight: bold;
    cursor: pointer;
}