<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Send Email Template</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Formname">Form Name</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="Formname" placeholder="Form Name" ng-model="vm.form.frm_nm"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedTraining" theme="bootstrap" on-select="vm.onTrainingChange()" on-remove="vm.onTrainingChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Training...">
								        <span>
								        	{{$item.crs_id}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.crs_id as item in (vm.allTrainings | filter: $select.search) track by $index">
								        <span>
								        	{{item.crs_id}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Batch</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedBatch" theme="bootstrap" on-select="vm.onBatchChange()" on-remove="vm.onBatchChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Batch...">
								        <span>
								        	{{$item.cls_start_dt | date : 'dd-MMM-yyyy'}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bat_id as item in (vm.allBatches | filter: $select.search) track by $index">
								        <span>
								        	{{item.cls_start_dt | date : 'dd-MMM-yyyy'}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Email Temaplates</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedEmailTemplate" theme="bootstrap" on-select="vm.onEmailTemplateChange()" on-remove="vm.onEmailTemplateChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Email Template...">
								        <span>
								        	{{$item.frm_nm}} -- {{$item.training_id}} - <strong>{{$item.batch_details.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.pk_id as item in (vm.allTemplates | filter: $select.search) track by $index">
								        <span>
								        	{{item.frm_nm}} -- {{item.training_id}} - <strong>{{item.batch_details.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="user email group">User Email Group</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedUserEmailGroup" theme="bootstrap" on-select="vm.onUserEmailGroupChange()" on-remove="vm.onUserEmailGroupChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select User Email Group...">
								        <span>
								        	{{$item.frm_nm}}-- {{$item.training_id}} - <strong>{{$item.batch_details.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.pk_id as item in (vm.allUserEmailGroup | filter: $select.search) track by $index">
								        <span>
								        	{{item.frm_nm}} -- {{item.training_id}} - <strong>{{item.batch_details.cls_start_dt | date : 'dd-MMM-yyyy'}}</strong>
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetFormDetails()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.users_template || !vm.form.email_template || !vm.form.frm_nm || !vm.form.bat_id || !vm.form.training_id"
									ng-click="vm.addSendEmailTemplate()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-danger" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allSendEmailTemplates || vm.allSendEmailTemplates.length <= 0">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allSendEmailTemplates">
				<uib-accordion close-others="false" ng-repeat="template in vm.allSendEmailTemplates">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteSendEmailTemplate(template.pk_id)"><i class="fa fa-times"></i></span>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editSendEmailTemplate(template.pk_id)"><i class="fa fa-pencil"></i></span>		
						{{template.frm_nm}} -- {{template.training_id}} - {{template.batch_details.cls_start_dt | date : 'dd-MMM-yyyy'}}
					</div>
				</uib-accordion-heading>
				<div class="ew-btns-wrapper-flex-end">
					<div class="ew-rounded-btn" ng-class="{'disable': vm.emailSentInProgress[template.pk_id]}" ng-click="vm.sendEmailTemplatesToUsers(template)">
						<i class="fa fa-envelope right"></i>
						<span class="text">Send Email</span>
					</div>
					<div class="ew-rounded-btn" ng-class="{'disable': vm.emailNotificationSentInProgress[template.pk_id]}" ng-click="vm.sendNotificationOfEmail(template)">
						<i class="fa fa-bell right"></i>
						<span class="text">Notifications</span>
					</div>
					<div class="ew-rounded-btn">
						<i class="fa fa-clock-o right"></i>
						<span class="text">Schedule Email</span>
					</div>
				</div>
				<div>
					<div class="alert alert-danger" ng-if="vm.emailSent[template.pk_id] === false">Error in sending mails.</div>
					<div class="alert alert-success" ng-if="vm.emailSent[template.pk_id] === true">Emails sent successfully.</div>
				</div>
				<div>
					<div class="alert alert-danger" ng-if="vm.emailNotificationSent[template.pk_id] === false">Error in sending notifications.</div>
					<div class="alert alert-success" ng-if="vm.emailNotificationSent[template.pk_id] === true">Notifications sent successfully.</div>
				</div>
				<div class="row course-info-row" ng-repeat="(key,value) in template">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc" style="word-break: break-word;">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>