.scroll_hidden {overflow: hidden;}
.subnav {
	background-color: #fff;
	left: 0;
	opacity: 0;
	padding-top: 24px;
    position: absolute;
    transition: 0.4s opacity ease-in-out 0s;
    top: 114px;
    width: 100%;
    z-index: -3;
	.subnav_inner {
		border-top: 1px solid #d9d9d9;
		font-size: 11px;
		padding: 48px 0 49px;
		.block_one {
			border-right: 1px solid #d9d9d9;
			@include flex_align(flex-end, flex-start);
			padding-right: 72px;
		}
		.block_two {padding-left: 72px;}
	}
	.sub_list_links {
		font: 10px $sansSerifSecond;
		letter-spacing: 0.075em;
		padding-top: 3px;
		text-transform: uppercase;
		li {margin-bottom: 11px;}
	}
	.browse_close_bt {
		font-size: 40px;
		font-weight: 100;
		opacity: 0.4;
		position: absolute;
		right: 25px;
		top: -16px;
		z-index: 3;
	}
	&.show_sub, &:hover {
		opacity: 1;
		z-index: 3;
	}
}