@media (max-width: 991px) {
	.main_header {
		// padding: 0;
		// .container_for_mobile {
		// 	padding: 0;
		// 	max-width: 100%;
		// }
		// .inner_wrapp {
		// 	align-items: center;
		// 	flex-direction: column;
		// }
		// .logo {padding: 15px;}
		// .visible_mobile_nav {
		// 	font-size: 10px;
		// 	letter-spacing: 0.0833333333333333em;
		// 	margin: 10px 0 0;
		// 	text-transform: uppercase;
		// 	li {
		// 		cursor: pointer;
		// 		&::after {margin: 0 17px;}
		// 		i {margin-right: 6px;}
		// 	}
		// }
		// .first_list {
		// 	order: 2;
		// 	.jsSrcShow {width: 100%;}
		// }
		// nav, .first_list, .wrapp_search_form {width: 100%;}
		// .wrapp_search_form, .main_nav_list {
		// 	background: #f1f1f1;
		// 	box-shadow: 0 2px 9px rgba(0,0,0,0.2) inset;
		// 	color: #999;
		// }
		.wrapp_search_form {
			order: 1;
			width: 100%;
			.jsSrcShow {display: none;}
			.src_box {
				border-bottom: 1px solid #fff;
				border-top: 1px solid #fff;
				margin-top: 10px;
				padding: 20px 15px;
			}
			// label {
			// 	left: 25px;
			// 	top: 38px;
			// }
			// .bt {
			// 	background: #fff;
			// 	border: 1px solid;
			// 	border-left: none;
			// 	margin: 0;
			// 	order: 2;
			// }
		}
		.main_nav {
			background: #3e6289;
			border-bottom: none;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			.main_nav_list {
				height: calc(100vh - 70px);
				overflow-y: auto;
			}
			.wrap_nav .title_nav {justify-content: space-between;}
		}
		.close_menu {
			color: #fff;
			font-size: 32px;
			position: absolute;
			right: 11px;
			text-align: right;
			text-shadow: 0px 0px 10px #000;
			top: -46px;
		}
	}
}
// .show_nav {
// 	.close_menu {display: block;}
	.show_nav.main_nav {
		@media (max-width: 991px) {box-shadow: 0px 0px 10px 0px #000;}
	}
// }
@media (max-width: 767px) {
	.main_header {
		.main_nav_list {
			justify-content: flex-end;
			padding: 0 15px;
			li::after {margin: 0 10px;}
		}
		// .main_nav .main_nav_list {height: calc(100vh - 135px);}
		.logo {padding: 15px;}
	}
}

@media (max-width: 543px) {
	.main_header {
		.logo {max-width: 190px;}
	}
}