$headerHeight: 125px;

@media (min-width: 992px) {
	body {padding-top: $headerHeight;}
	.sticky_header {
		min-width: 320px;
		position: fixed;
		top: 0;
		z-index: 1001;
	}
	.show_header {top: 0;}
	.top_header, .inner_wrapp, .logo, .address {transition: all .5s;}
	.top_header {height: 34px;}
	.hide_header {
		.inner_wrapp {padding: 12px 0 10px;}
		.top_header, .address { 
			height: 0;
			overflow: hidden;
			padding: 0;
		}
		.logo {width: 230px;}
	}
}