.top_header {
	background-color: #f1f1f1;
	color: #000;
	font-size: 11px;
	font-weight: 400;
	padding: 9px 0 6px;
	text-transform: uppercase;
	.box_top_header {@include flex_align(space-between);}
	.first_list {
		&.list > li {
			margin: 0;
			&::after {
				color: #231f20;
				font-size: 10px;
				margin: 0 12px;
			}
		}
		.phone {
			letter-spacing: 0.05em;
			.fa {margin-right: 3px;}
		}
		.link_we_buy {letter-spacing: 0.04em;}
	}
	.second_list {
		&.list > li {
			margin: 0;
			&::after {
				content: '';
				margin: 0 15px;
			}
		}
	}
	.subscribe_txt {
		letter-spacing: 0.035em;
		.fa {margin-right: 4px;}
	}
	.social_list {
		li {
			font-size: 13px;
			letter-spacing: 0.06em;
			margin: 0;
			&::after {
				content: '';
				margin: 0 3px;
			}
		}
		.facebook {color: #3f5699;}
		.twitter {color: #2aa7e5;}
		.google {color: #0baa07;}
		.instagram {color: #2d5a84;}
		.pinterest {color: #c93834;}
	}
}