<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" ng-submit="vm.saveLink()">
					<fieldset>
						<legend>All Links</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course-sub-group">All Links Category<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<select ng-model="vm.form.link_cat" id="course-sub-group" class="form-control"
									ng-options="cat.cat_id as cat.cat_nm for cat in vm.allLinksCategory ">
									<option value=""> <b>Select Category</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="LinkTitle">Link Title<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="LinkTitle" placeholder="Link Title" ng-model="vm.form.link_title" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="LinkUrl">Link Url<i style="color: red">*</i></label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="LinkUrl" placeholder="Link Url" ng-model="vm.form.link_url" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="afterLogin">Show Only After Login</label>
							<div class="col-xs-10" style="margin-top: 6px;">
								<input type="checkbox" ng-disabled="vm.form.link_before_login" class="" id="afterLogin" name="afterLogin" value="yes" ng-model="vm.form.link_after_login"/>Yes
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="beforeLogin">Show Only Before Login</label>
							<div class="col-xs-10" style="margin-top: 6px;">
								<input type="checkbox" ng-disabled="vm.form.link_after_login" class="" id="beforeLogin" name="beforeLogin" value="yes" ng-model="vm.form.link_before_login"/>Yes
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="shoModal">Show Modal</label>
							<div class="col-xs-10" style="margin-top: 6px;">
								<input type="radio" class="" id="shoModal" name="showmodal" value="no" placeholder="Link Url" ng-model="vm.form.link_show_modal" checked="checked" />No
								<input type="radio" class="" id="shoModal" name="showmodal" value="yes" placeholder="Link Url" ng-model="vm.form.link_show_modal"/>Yes
							</div>
						</div>
						
						<div class="form-group" ng-if="vm.form.link_show_modal === 'yes'">
							<label class="col-xs-2 control-label" for="link_modal_type">Modal Type</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="link_modal_type" placeholder="Link Modal Type" ng-model="vm.form.link_modal_type"/>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
								 type="submit">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchAllLinks()" ng-if="!vm.allLinks || vm.allLinks.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isLinksLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isLinksLoading"></i>
				<span class="text">Show Links</span>
			</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.allLinks">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allLinks">
				<uib-accordion close-others="false" ng-repeat="link in vm.allLinks">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteLink(link.link_id)"><i class="fa fa-times"></i></span>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editLink(link.link_id)"><i class="fa fa-pencil"></i></span>
						{{link.link_title}} - {{link.link_url}}
					</div>
				</uib-accordion-heading>
				<div class="skill-info-row">
					<div class="col-xs-2 title">Preview Link</div>
					<div class="col-xs-10 desc">
						<a ng-href="{{link.link_url}}" target="_blank">Preview Link</a>
				</div>
				<div class="row skill-info-row" ng-repeat="(key,value) in link">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
			
		</div>
		<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreLinks()" ng-if="(vm.allLinks==[] || vm.allLinks.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isLinksLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isLinksLoading"></i>
				<span class="text">More</span>
			</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>