<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" name="form">
					<fieldset>
						<legend>Add Video</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subject">Subject</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Subject...">
								        <span ng-bind="$item.subjectName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
								        <span ng-bind="item.subjectName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="author">Author</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Author...">
								        <span ng-bind="$item.authorName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
								        <span ng-bind="item.authorName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="publication">Publication</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedPublications" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Publication...">
								        <span ng-bind="$item.publicationName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
								        <span ng-bind="item.publicationName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="book">Book</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedBooks" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Book...">
								        <span ng-bind="$item.bookName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
								        <span ng-bind="item.bookName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="exam">Exam</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedExams" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Exam...">
								        <span ng-bind="$item.examName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
								        <span ng-bind="item.examName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTopics" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Related Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedRelatedTopics" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Related Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Related Course</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedRelatedCourses" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Related Course...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.courseId as item in (vm.courselist | filter: $select.search) track by $index">
								        <span>{{item.courseName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-sm-2 control-label" for="tag">Tag</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTags" theme="bootstrap" on-select="vm.updateVideoEntities($item, $model)" on-remove="vm.updateVideoEntities($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Tag...">
								        <span ng-bind="$item.tagName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
								        <span ng-bind="item.tagName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videoname">Name</label>
							<div class="col-sm-10">
								<input type="text" id="videoname" class="form-control" placeholder="Video Name" ng-model="vm.form.video.videoName" name="videoname"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="shortdesc">Description</label>
							<div class="col-sm-10">
								<textarea  id="shortdesc" class="form-control" placeholder="Description" ng-model="vm.form.video.videoDesc" name="desc" rows="6"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videoduration">Source</label>
							<div class="col-sm-10">
								<select id="" class="form-control" ng-model="vm.form.video.videoSource">
									<option value="">Select Source</option>
									<option value="s3">S3</option>
									<option value="harddrive">Hard Drive</option>
									<option value="cloud">Cloud</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videofilename">Video Filename</label>
							<div class="col-sm-10">
								<input type="text" id="videofilename" class="form-control" placeholder="Video Filename" ng-model="vm.form.video.videoFilename" name="videofilename" ng-disabled="vm.isVideoInfoInEditMode && vm.form.video.videoFilename.length > 0" ng-blur="vm.checkVideoFilenameExistance()"/>
							</div>
							<div style="color: red" class="col-sm-10 col-sm-offset-2" ng-if="vm.isVideoFilenameExist">
								Video Filename exist.
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="video-link">Video High DEF</label>
							<div class="col-sm-10">
								<div class="btn btn-primary video-upload-btn"
									ng-class="{'disabled':vm.isVideoUploadButtonDisabled}"
									style="margin-right: 10px;" 
									ngf-select
									ngf-pattern="'video/mp4'" ngf-accept="'video/mp4'"
									ng-model="vm.videoFile"
									ngf-multiple="false"
									>{{vm.videoFileName || 'Select Video'}}</div>
								<span ng-if="vm.videoFile && !vm.isVideoUploadInProgress && !vm.isVideoUploaded">
									<div class="btn btn-primary" ng-click="vm.uploadVideoFile()">Upload</div>
									<div class="btn btn-danger" 
										ng-click="vm.videoFileName = undefined">Reset</div>
								</span>
								<span ng-if="vm.isVideoUploadInProgress">
									<span ng-if="vm.uploadProgress < 100">Video Upload in progress {{vm.uploadProgress}}%</span>
									<span ng-if="vm.uploadProgress >= 100">Processing...</span>
								</span>
								<span ng-if="vm.isVideoUploaded">
									Video is Uploaded
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="video-link">Video MED DEF</label>
							<div class="col-sm-10">
								<div class="btn btn-primary video-upload-btn"
									style="margin-right: 10px;" 
									ng-class="{'disabled':vm.isVideoUploadButtonDisabled}"
									ngf-select
									ngf-pattern="'video/mp4'" ngf-accept="'video/mp4'"
									ng-model="vm.videoMEDFile"
									ngf-multiple="false"
									>{{vm.videoMEDFileName || 'Select Video'}}</div>
								<span ng-if="vm.videoMEDFile && !vm.isVideoMEDUploadInProgress && !vm.isVideoMEDUploaded">
									<div class="btn btn-primary" ng-click="vm.uploadVideoMEDFile()">Upload</div>
									<div class="btn btn-danger" 
										ng-click="vm.videoMEDFileName = undefined">Reset</div>
								</span>
								<span ng-if="vm.isVideoMEDUploadInProgress">
									<span ng-if="vm.MEDuploadProgress < 100">Video Upload in progress {{vm.MEDuploadProgress}}%</span>
									<span ng-if="vm.MEDuploadProgress >= 100">Processing...</span>
								</span>
								<span ng-if="vm.isVideoMEDUploaded">
									Video is Uploaded
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="video-link">Video LOW DEF</label>
							<div class="col-sm-10">
								<div class="btn btn-primary video-upload-btn"
									style="margin-right: 10px;" 
									ng-class="{'disabled':vm.isVideoUploadButtonDisabled}"
									ngf-select
									ngf-pattern="'video/mp4'" ngf-accept="'video/mp4'"
									ng-model="vm.videoLOWFile"
									ngf-multiple="false"
									>{{vm.videoLOWFileName || 'Select Video'}}</div>
								<span ng-if="vm.videoLOWFile && !vm.isVideoLOWUploadInProgress && !vm.isVideoLOWUploaded">
									<div class="btn btn-primary" ng-click="vm.uploadVideoLOWFile()">Upload</div>
									<div class="btn btn-danger" 
										ng-click="vm.videoLOWFileName = undefined">Reset</div>
								</span>
								<span ng-if="vm.isVideoLOWUploadInProgress">
									<span ng-if="vm.LOWuploadProgress < 100">Video Upload in progress {{vm.LOWuploadProgress}}%</span>
									<span ng-if="vm.LOWuploadProgress >= 100">Processing...</span>
								</span>
								<span ng-if="vm.isVideoLOWUploaded">
									Video is Uploaded
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="duration col-sm-2 control-label" for="videoduration">Duration(Read Only)</label>
							<div class="col-sm-10">
								<select id="" class="duration" ng-model="vm.form.video.videoDuration.hr"
									ng-options='(hr) for hr in vm.hrlist' disabled="disabled">
									<option value="">Select Hour(s)</option>
								</select>
								<select id="" class="duration" ng-model="vm.form.video.videoDuration.min"
									ng-options='(min) for min in vm.minlist' disabled="disabled">
									<option value="">Select Minute(s)</option>
								</select>
								<select id="" class="duration" ng-model="vm.form.video.videoDuration.sec"
									ng-options='(sec) for sec in vm.seclist' disabled="disabled">
									<option value="">Select Seconds</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videourl">URL</label>
							<div class="col-sm-10">
								<input type="text" id="videourl" class="form-control" placeholder="Video URL" ng-model="vm.form.video.videoUrl" name="url" readonly="" />
							</div>
						</div>
						
						<div class="form-group" ng-if="vm.form.video.videoUrl">
							<label class="col-sm-2 control-label" for="video-link">Subtitle</label>
							<div class="col-sm-10">
								<div class="btn btn-primary"
									style="margin-right: 10px;" 
									ngf-select
									ng-model="vm.subtitleFile"
									ngf-multiple="false"
									>
									{{vm.subtitleFileName || 'Select Subtitle'}}
								</div>
								<span ng-if="vm.subtitleFile && !vm.isSubtitleUploadInProgress && !vm.isSubtitleUploaded">
									<div class="btn btn-primary" ng-click="vm.uploadSubtitleFile()">Upload</div>
									<div class="btn btn-danger" 
										ng-click="vm.subtitleFileName = undefined">Reset</div>
								</span>
								<span ng-if="vm.isSubtitleUploadInProgress">
									<span ng-if="vm.subtitleUploadProgress < 100">Subtitle Upload in progress {{vm.subtitleUploadProgress}}%</span>
									<span ng-if="vm.subtitleUploadProgress >= 100">Processing...</span>
								</span>
								<span ng-if="vm.isSubtitleUploaded">
									Subtitle is Uploaded
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="videourl">Thumbnail URL</label>
							<div class="col-sm-10">
								<input type="text" id="videourl" class="form-control" placeholder="Thumbnail URL" ng-model="vm.form.video.thumbUrl" name="url" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">Related Videos</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedRelatedVideos" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Related Videos...">
								        <span ng-bind="$item.videoName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.videoId as item in (vm.relatedVideoEntities | filter: $select.search) track by $index">
								        <span>{{item.videoNumber}} - {{item.videoName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						
						<div style="position: relative;padding-right: 35px;">
							<div class="form-group" style="position: relative;" ng-repeat="i in vm.getNumber(vm.noOfRefLinks) track by $index">
								<label class="col-sm-2 control-label" for="reflink_{{$index + 1}}">Reflink #{{$index + 1}}</label>
								<div class="col-sm-10">
									<input type="text" id="reflink_{{$index + 1}}" class="form-control" placeholder="Reference Link {{$index + 1}}" ng-model="vm.form.video.refLinks[$index]"/>
								</div>
								<div class="ref-link-btn" style="right: 20px;" ng-click="vm.removeRefLink($index)"><i class="fa fa-times"></i></div>
							</div>
							<div class="ref-link-btn" ng-click="vm.noOfRefLinks = vm.noOfRefLinks + 1"><i class="fa fa-plus"></i></div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Video</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" ng-disabled="vm.selectedTopics.length <= 0 || !vm.form.video.videoName || vm.isVideoUploadInProgress" ng-click="vm.updateVideoEntity()">
									{{vm.isVideoUploadInProgress ? 'Video upload is in progress...' : 'Save'}}
								</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.videoEntities">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.videoEntities">
				<uib-accordion close-others="false" ng-repeat="video in vm.videoEntities">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div  class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeVideoEntity(video.videoId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editVideoEntity(video.videoId)"><i class="fa fa-pencil"></i></span>
								{{video.videoName}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in video">
						<div ng-if="key != '_id'">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
						</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	.video-upload-btn.disabled{
		pointer-events: none;
	}
</style>