<div class="admin-page admin-practice-wrapper item-transfer-page-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				
				<form class="form-horizontal">
					<fieldset>
						<legend>Add Question</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="subject">Subject</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedSubjects" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Subject...">
								        <span ng-bind="$item.subjectName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.subjectId as item in (vm.subjects | filter: $select.search) track by $index">
								        <span ng-bind="item.subjectName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="author">Author</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedAuthors" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Author...">
								        <span ng-bind="$item.authorName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.authorId as item in (vm.authors | filter: $select.search) track by $index">
								        <span ng-bind="item.authorName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="publication">Publication</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedPublications" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Publication...">
								        <span ng-bind="$item.publicationName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.publicationId as item in (vm.publications | filter: $select.search) track by $index">
								        <span ng-bind="item.publicationName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="book">Book</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedBooks" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Book...">
								        <span ng-bind="$item.bookName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bookId as item in (vm.books | filter: $select.search) track by $index">
								        <span ng-bind="item.bookName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="exam">Exam</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedExams" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Exam...">
								        <span ng-bind="$item.examName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.examId as item in (vm.exams | filter: $select.search) track by $index">
								        <span ng-bind="item.examName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="tag">Tag</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedTags" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Tag...">
								        <span ng-bind="$item.tagName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.tagId as item in (vm.tags | filter: $select.search) track by $index">
								        <span ng-bind="item.tagName"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">From Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedFromTopics" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="topic">To Topic</label>
							<div class="col-sm-10">
								<ui-select multiple ng-model="vm.selectedToTopics" theme="bootstrap" on-select="vm.onFilterChange($item, $model)" on-remove="vm.onFilterChange($item, $model)" close-on-select="true">
								    <ui-select-match placeholder="Select Topic...">
								        <span ng-bind="$item.topicName"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.topicId as item in (vm.topics | filter: $select.search) track by $index">
								        <span>{{item.topicNumber}} - {{item.topicName}}</span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="action">Action</label>
							<div class="col-sm-10">
								<select ng-model="vm.form.action" class="form-control">
									<option value="copy" selected="selected">Copy</option>
									<option value="move">Move</option>
								</select>
							</div>
						</div>

						<div class="col-md-12">
							<div class="filtered-question-wrapper">
								<div class="total-questions">
									<div class="head">All Questions</div>
									<div class="page-changer">
										<div class="count">{{vm.filteredQuestionsPageNumber}}/{{ vm.filteredQuestionsPageCount}}</div>
										<span class="prev" ng-class="{'disabled':!(vm.filteredQuestionsPageNumber > 1)}" ng-click="vm.filteredQuestionPrev()"><i class="fa fa-angle-left"></i></span>
										<span class="next" ng-class="{'disabled':!(vm.filteredQuestionsPageNumber < vm.filteredQuestionsPageCount)}" ng-click="vm.filteredQuestionNext()"><i class="fa fa-angle-right"></i></span>
									</div>
									<div class="question-wrapper" ng-class="{'selected':vm.isQuestionSelected(question.questionId)}" ng-repeat="question in vm.fecthFilteredQuestions()">
										<div class="code" ng-bind-html="question.question"></div>
										<div class="oneLine" ng-bind-html="question.questionOneLine"></div>
										<div class="action-btn" ng-if="!vm.isQuestionSelected(question.questionId)" ng-click="vm.addToSelectedQuestions(question.questionId)"><i class="fa fa-plus"></i></div>
									</div>
									<div class="question-wrapper" style="padding: 10px;" ng-if="vm.fecthFilteredQuestions().length <= 0">
										<div class="code">No Question Found - Change Filter</div>
									</div>
								</div>
								<div class="selected-questions">
									<div class="head">Selected Questions</div>
									<div class="page-changer">
										<div class="count">{{vm.selectedQuestionsPageNumber}}/{{vm.selectedQuestionsPageCount}}</div>
										<span class="prev" ng-class="{'disabled':!(vm.selectedQuestionsPageNumber > 1)}" ng-click="vm.selectedQuestionPrev()"><i class="fa fa-angle-left"></i></span>
										<span class="next" ng-class="{'disabled':!(vm.selectedQuestionsPageNumber < vm.selectedQuestionsPageCount)}" ng-click="vm.selectedQuestionNext()"><i class="fa fa-angle-right"></i></span>
									</div>
									<div class="question-wrapper" ng-repeat="question in vm.fecthSelectedQuestions()">
										<div class="code" ng-bind-html="question.question"></div>
										<div class="oneLine" ng-bind-html="question.questionOneLine"></div>
										<div class="action-btn" ng-click="vm.removeFromSelectedQuestions(question.questionId)"><i class="fa fa-times"></i></div>
									</div>
									<div class="question-wrapper" style="padding: 10px;" ng-if="vm.fecthSelectedQuestions().length <= 0">
										<div class="code">No Question Selected</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-offset-8 col-xs-4">
								<button
								class="form-control btn btn-primary submit" ng-disabled="vm.fecthSelectedQuestions().length <= 0 || vm.selectedToTopics.length <= 0" ng-click="vm.updateQuestionTopics()">Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">{{vm.error}}</div>
					<div class="ds-success" ng-if="!vm.form.error">Data updated succefully</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>