<div class="login_page login-page-wrapper ew-page-wrapper forgot_password">
	<header-menu-component></header-menu-component>
	<div class="content_wrapper">
		<div class="custom_container">
			<div class="top_block">
				<a href="/" class="house_logo">
					<picture>
						<source srcset="/assets/images/logo_dark.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/logo_dark.png">
					</picture>
				</a>
				<div class="bg_block">
					<picture>
						<source srcset="/assets/images/roof_flat.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/roof_flat.png">
					</picture>
				</div>
				<div class="tools_block">
					<div class="tool_part"><i class="icon_tools icon_sience"></i> <span class="text_upper title_page">CHANGE PASSWORD FORM</span></div>
					<div class="tool_part">
						<a href="/logout" class="btn_form">
							<i class="fa fa-lock"></i>
							<span class="text">Logout</span>
						</a>
					</div>
				</div>
			</div>
			<div class="main_content">
				<div class="wrap_content custom_row form_block">
						<form class="reg_form" ng-submit="vm.changePassword(form)" novalidate="" name="form" autocomplete="off">
							<div>
								<div ng-if="vm.firsttime" class="alert alert-success" role="alert">
									{{vm.firstTimeMsg}}
								</div>
								<div ng-if="vm.formSuccess" class="alert alert-success" role="alert">
									{{vm.successMsg}}
								</div>
								<div ng-if="vm.isLinkExpired" class="alert alert-danger" role="alert">
									{{vm.linkExpiredError}}
								</div>
							</div>
							<div class="form-group input" ng-if="!vm.isFromForgotPassword" ng-class="{'form-success':form.oldpass.$valid && vm.isValidPassword,'form-error':(form.oldpass.$dirty && !form.oldpass.$valid) || (form.$submitted && !form.oldpass.$valid) || !vm.isValidPassword}">
								<label for="" class="control-label"><i class="fa fa-key"></i> Old Password</label>
								<input type="password" autofocus="" class="form-control" id="oldpass" name="oldpass" ng-model="vm.oldPassword" ng-change="vm.isValidPassword = true;" ng-blur="vm.checkPasswordValidity()" required="" />
								<div ng-messages="form.oldpass.$error" ng-if="(form.oldpass.$dirty && !form.oldpass.$valid) || (form.$submitted && !form.oldpass.$valid)" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*Old Password is required</div>
								</div>
								<div ng-if="!vm.isValidPassword" class="err-msg" style="color: maroon">*Old password is wrong</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.newpass.$valid,'form-error':(form.newpass.$dirty && !form.newpass.$valid) || (form.$submitted && !form.newpass.$valid)}">
								<label for="" class="control-label"><i class="fa fa-key"></i> New Password</label>
								<input type="password" class="form-control" name="newpass" id="newpass" ng-model="vm.newPassword" required="" />
								<div ng-messages="form.newpass.$error" ng-if="(form.newpass.$dirty && !form.newpass.$valid) || (form.$submitted && !form.newpass.$valid)" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*New Password is required</div>
								</div>
							</div>
							<div class="form-group input" style="position: relative;" ng-class="{'form-success':form.confirmnewpass.$valid && vm.isPasswordMatching,'form-error':(form.confirmnewpass.$dirty && !form.confirmnewpass.$valid) || (form.$submitted && !form.confirmnewpass.$valid) || !vm.isPasswordMatching}">
								<label for="" class="control-label"><i class="fa fa-key"></i> Confirm New Password</label>
								<input type="password" class="form-control" name="confirmnewpass" id="confirmnewpass" ng-model="vm.confirmNewPassword" required="" />
								<div style="position: absolute;right: 10px;top: 32px;"  ng-if="!form.confirmnewpass.$pristine">
									<i style="color:red" ng-if="!vm.isPasswordMatching" class="fa fa-times"></i>
									<i style="color:green" ng-if="vm.isPasswordMatching" class="fa fa-check"></i>
								</div>
								<div ng-messages="form.confirmnewpass.$error" ng-if="(form.confirmnewpass.$dirty && !form.confirmnewpass.$valid) || (form.$submitted && !form.confirmnewpass.$valid)" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*Confirm Password is required</div>
								</div>
								<div ng-if="!form.confirmnewpass.$pristine && !vm.isPasswordMatching" class="err-msg" style="color: maroon">*Password is not matching</div>
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form">
									<i class="fa fa-key"></i> 
									<span class="text">Change Password</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="dashboard_link hidden-md-down"></a>
	<div class="bg_page" style="background-image: url(/assets/images/bg_new.png);"></div>
</div>