@import "../../../assets/scss/_common_test.scss";

.share-wrapper {
    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    .item {
        // margin-right: 15px;
        padding: 3px 15px;
        cursor: pointer;

        img {
            height: 20px;
        }

        &.facebook {
            img {
                // height: 18px !important;
                // position: relative;
                // top: 2px;
                // border-radius: 50%;
           
            }
        }

        &.twitter {
            img {
                // height: 18px !important;
                // position: relative;
                // top: 2px;
                // border-radius: 50%;
           
            }
        }
    }
}