<div class="share share-wrapper">
    <a class="item facebook share--facebook" data-ew-click="share--facebook" ng-click="vm.shareToFB($event)">
        <img src="../../../assets/images/facebook.png" alt="FB Share Icon">
    </a>
    <a class="item twitter share--twitter" data-ew-click="share--twitter" ng-click="vm.shareToTwitter($event)">
        <img src="../../../assets/images/twitter.png" alt="Twitter Share Icon">
    </a>
    <a class="item share--ew" tooltips tooltip-template="Share on CareerBook" data-ew-click="share--ew" ng-click="vm.shareToEWProfile($event)">
        <img src="../../../assets/images/ew-share.svg" alt="CareerBook Share Icon">
    </a>
    <a class="item share--cb" tooltips tooltip-template="Share on QA" data-ew-click="share--cb" ng-click="vm.shareToQA($event)">
        <img src="../../../assets/images/ew_forum.png" alt="QA Share Icon">
    </a>
</div>