<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal">
					<fieldset>
						<legend>Batch Timing</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training Name</label>
							<div class="col-xs-10">
								<select ng-model="vm.form.crs_id" id="course" class="form-control"
									ng-options="course.courseId as course.courseName for course in vm.coursesMaster " ng-change="vm.onTrainingChange()">
									<option value=""> <b>Select Training</b> </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="bat_nm">Batch Name</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Batch name" ng-model="vm.form.bat_nm"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Class Start Date</label>
							<datepicker date-format="MM-dd-yyyy" class="col-xs-10" date-set="{{vm.nowDate.toString()}}" date-min-limit="{{vm.yesterday}}">
								<input class="form-control" ng-model="vm.form.cls_start_dt" placeholder="Class Start Date">
							</datepicker>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Class End Date">Class End Date</label>
							<datepicker date-format="MM-dd-yyyy" class="col-xs-10" date-min-limit="{{vm.nowDate.toString()}}">
								<input class="form-control" ng-model="vm.form.cls_end_dt" placeholder="Class End Date">
							</datepicker>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="about">Class Time</label>
							<div class="col-xs-2">
								<select class="form-control" ng-model="vm.bat_frm_tm_hr">
									<option value="">From Time Hour</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=24) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
							<div class="col-xs-2">
								<select class="form-control" ng-model="vm.bat_frm_tm_min">
									<option value="">From Time Minutes</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=60) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
							<div class="col-xs-2">
								<select class="form-control" ng-model="vm.bat_to_tm_hr">
									<option value="">To Time Hours</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=24) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
							<div class="col-xs-2">
								<select class="form-control" ng-model="vm.bat_to_tm_min">
									<option value="">To Time Minutes</option>
									<option ng-repeat="_ in ((_ = []) && (_.length=60) && _) track by $index" value="{{$index}}">{{$index}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Class Days</label>
							<div class="col-xs-5">
								<select ng-model="vm.form.frm_wk_dy" id="course" class="form-control">
									<option value=""> <b>Select Start Week Day</b> </option>
									<option value="{{day}}" ng-repeat="day in vm.daysOfWeek"> {{day}} </option>
								</select>
							</div>
							<div class="col-xs-5">
								<select ng-model="vm.form.to_wk_dy" id="course" class="form-control">
									<option value=""> <b>Select End Week Day</b> </option>
									<option value="{{day}}" ng-repeat="day in vm.daysOfWeek"> {{day}} </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Class Duration</label>
							<div class="col-xs-5">
								<select ng-model="vm.form.no_wk_dy" class="form-control">
									<option value=""> <b>Select Duration</b> </option>
									<option ng-repeat="_ in ((_ = []) && (_.length=50) && _) track by $index" value="{{$index + 1}}"> {{$index + 1}} </option>
								</select>
							</div>
							<div class="col-xs-5">
								<select ng-model="vm.form.wk_dy" class="form-control">
									<option value=""> <b>Select Unit</b> </option>
									<option value="weeks"> weeks </option>
									<option value="days"> days </option>
									<option value="months"> months </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Discount">Discount Reason</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Discount name" ng-model="vm.form.discount_rsn"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Discount">Discount Percentage</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Discount Percentage" ng-model="vm.form.discount"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">Discount Duration</label>
							<datepicker date-format="MM-dd-yyyy" class="col-xs-5">
								<input class="form-control" ng-model="vm.form.discount_frm_dt" placeholder="Discount Start Date">
							</datepicker>
							<datepicker date-format="MM-dd-yyyy" class="col-xs-5" date-min-limit="{{vm.form.discount_frm_dt}}">
								<input class="form-control" ng-model="vm.form.discount_to_dt" placeholder="Discount End Date">
							</datepicker>
						</div>
						
						<!-- <div class="form-group">
							<label class="col-xs-2 control-label" >Last class Video</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="Last Class Video" ng-model="vm.form.last_class_video"/>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-xs-2 control-label" >Faculty</label>
							<div class="col-xs-10">

								<ui-select multiple ng-model="vm.form.faculty_id" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Faculty...">
								        <span ng-bind="$item.fst_nm"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.emp_id as item in (vm.allEmps | filter: $select.search) track by $index">
								        <span ng-bind="item.fst_nm"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-xs-2 control-label" for="about">Price</label>
							<div class="col-xs-2">
								<select class="form-control" ng-model="vm.bat_price_curr">
									<option value="">Select Currency</option>
									<option ng-repeat="curr in vm.allCurrency track by $index" value="{{curr.currency_nm}}">{{curr.currency_nm}}</option>
								</select>
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control" placeholder="Amount" name="amount" ng-model="vm.bat_price_amount">
							</div>
							<div class="col-xs-4">
								<span class="btn btn-primary" ng-click="vm.addPriceToList()">Add Price</span>
							</div>
						</div> -->
						<!-- <div class="form-group" ng-repeat="(price,value) in vm.form.bat_crs_price track by $index">

							<label class="col-xs-2 control-label" for="about">Price {{price}}</label>
							<div class="col-xs-10 gray-back">
								<span class="question-title">{{value}}</span>
								<div class="remove-btn" ng-click="vm.removePriceFromList(price)">
									<i class="fa fa-times" style="color: red"></i>
								</div>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-xs-2 control-label" >Msg</label>
							<div class="col-xs-10">
								<textarea type="text" class="form-control" placeholder="Msg" ng-model="vm.form.msg"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-click="vm.saveTiming()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allTimings">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allTimings">
				<uib-accordion close-others="false" ng-repeat="timing in vm.allTimings">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div class="">
						<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
						<span class="pull-right panel-header-buttons edit" ng-click="vm.editTiming(timing.bat_id)"><i class="fa fa-pencil"></i></span>
						<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteTiming(timing.bat_id)"><i class="fa fa-times"></i></span>
						{{timing.crs_id}} - {{timing.cls_start_dt | date : 'dd-MMM-yyyy'}} - {{(timing.discount || 0) + '% discount'}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in timing">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>