.login-modal-component-wrapper {
    .modal-dialog {
        overflow: visible !important;
    }

    .modal-content {
        border-radius: 5px;
    }

    .err-alert {
        font-size: 17px;
    }

    .login-modal-cls-btn {
        position: absolute;
        top: 0px;
        right: -50px;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;

        i {
            padding: 10px;
            color: #444;
            font-size: 16px;
        }
    }

    .extra-links {
        font-weight: normal;
        font-family: "nunito",sans-serif;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 0px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        a {
            margin: 10px 0px;
        }
    }
}