<div class="login-modal-component-wrapper">
	<div class="fade modal login_modal jsModalLogin">
		<div class="modal-dialog">
			<div class="login-modal-cls-btn" data-dismiss="modal">
				<i class="fa fa-times"></i>
			</div>
			<div class="modal-content">
				<div class="wrap_content custom_row form_block">
					<div class="right_part custom_col_10">
						<div id="error" ng-if="vm.formError" class="err-alert alert alert-danger">{{vm.formError}}</div>
						<form class="reg_form" ng-submit="vm.doLogin()">
							<div class="form-group">
								<label for="" class="control-label"><i class="fa fa-user"></i> Username</label>
								<input type="text" class="form-control" ng-model="vm.userId" placeholder="User Id">
							</div>
							<div class="form-group">
								<label for="" class="control-label"><i class="fa fa-key"></i> Password</label>
								<input type="password" ng-model="vm.password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form">
									<span ng-if="!vm.isFormSubmitting"><i class="fa fa-pencil"></i> <span class="text">Login</span></span>
									<span ng-if="vm.isFormSubmitting"><i class="fa fa-circle-o-notch"></i><span class="text">Logging...</span></span>
								</button>
							</div>
							<div class="form-group extra-links">
								<a href="/forgotpassword" class="btn_form">
									<span>
										<i class="fa fa-pencil"></i> 
										<span class="text">Forgot Password?</span>
									</span>
								</a>
								<a href="/register" class="btn_form">
									<span>
										<i class="fa fa-user"></i> 
										<span class="text">Create a new account</span>
									</span>
								</a>
							</div>
						</form>
					</div>
					<div class="left_part custom_col_2">
						<ul class="list main_soc_list">
							<li ng-click="vm.authenticateWith('facebook')">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('google')">
								<a href="" class="google"><i class="fa fa-google"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('twitter')">
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
							</li>
							<li ng-click="vm.authenticateWith('linkedin')">
								<a href="" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>