$font-color: #222;

$sidebar-large-width: 300px;
$sidebar-small-width: 300px;
$right-sidebar-large-width: 180px;
$right-sidebar-small-width: 130px;

$logo-height: 90px;

$dark-accent: #e2e2e2;

$blue-color: #1d99d1;
$light-blue-color: #59ABE3;
$red-color: #D24D57;
$green-color: #2ea677;
$brick-color: #6d270c;

#errorModal {
    text-align: center;
    padding: 0 !important;

    &.in {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        max-width: 550px;
    }

    .modal-body {
        font-size: 25px;
        color: #D24D57;
        text-align: center;
    }

    .modal-content {
        border-radius: 5px;
        background: rgba(black, 0.8);
        color: white;
    }

    .modal-header {
        border-bottom: 1px solid #444;

        i {
            color: white;
            font-size: 25px;
        }
    }

    .modal-title {
        color: white;
    }
}

.error-modal {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99999;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.2s ease-in);

    bottom: 0px;
    top: 0px;

    &.ng-hide {
        @include transform(scale(0));

        opacity: 0;
    }

    .error-modal-content {
        background-color: white;
        max-width: 400px;
        border: 1px solid #555;
    }

    .text {
        font-size: 20px;
        color: #D24D57;
        font-family: 'ITCAvantGarde',sans-serif;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 20px;
    }

    .close-icon {
        cursor: pointer;
        text-align: right;
        font-size: 18px;
        padding: 10px;
    }

    .buttons {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        & > .error-btn {
            @include flex-grow(1);

            box-shadow: 0px 0px 0px;
            background: #3498DB;
            border-radius: 0px;
            padding: 15px;
            color: white;
            font-family: aller;
            font-weight: bold;
        }

        .orange-color {
            background: #F2784B;
        }
    }
}

.item-desc-modal-wrapper {
    $width: 300px;

    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 50px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000000;
    width: $width;

    @include display(flex);

    @include align-items(flex-start);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.3s ease-in);

    &.hide-item-desc {
        left: -$width;
    }

    &.show-item-desc {
        left: 0px;
    }

    .item-desc-modal {
        background: white;
        padding: 10px;
        padding-top: 50px;
        box-shadow: 1px 1px 10px #ccc;
        position: relative;
        width: 100%;
        height: 100%;

        // max-width: 700px;

        .close-btn {
            font-size: 25px;
            cursor: pointer;
            color: #222;
            position: absolute;
            top: 0px;
            right: 15px;
        }

        .item-desc-modal-title {
            font-family: waverly;
            font-size: 20px;
            border-bottom: 1px solid #e5e5e5;
            padding-top: 10px;
        }

        .item-desc-modal-desc {
            font-size: 15px;
            font-family: aller;
            margin-top: 15px;
        }
    }
}

.course-content-wrapper {
    width: 100%;
    margin: 0px auto;
    background: #fff;
    position: relative;
    border-top: 0px;
    z-index: 5;
    max-width: 875px;
    left: -3px;

    @include breakpoint(large_desktop) {
        left: 40px;
        margin: 0px;
    }
}

.course-content-center {
    font-size: 16px;

    // background-color: white;

    @include breakpoint(laptop) {
        padding: 0px;
        width: 100%;
    }


    .section-tabs {
        padding: 0px;
        padding-top: 0px;
        font-family: 'Ubuntu',sans-serif;

        .tab-pane .desc {
            color: $font-color;
            padding: 15px;
        }
    }

    .module-wrapper {
        padding: 0px 0px;

        .panel-group {
            width: 100%;
            margin: 0px auto;
        }

        .panel-group .panel {
            margin: 0px;
            border-radius: 0px;
            box-shadow: 0px 0px 0px;
            -webkit-box-shadow: 0px 0px 0px;
            background: transparent;
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            color: $font-color;
            background-color: transparent;
            border: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding: 0px;
        }

        .accordion-toggle {
            padding: 30px 15px;
            color: #222;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            a {
                text-decoration: none;
            }
        }

        .panel-header-icons {
            // margin-left: 40px;
            // float: right;
            margin: 0px 10px;
            min-width: 20px;
            color: #222;

            i {
                cursor: pointer;
            }

            .fa-bookmark {
                cursor: auto;
            }

            &.disabled {
                pointer-events: none;
                color: #ccc;
            }
        }

        .module-arrow {
            color: #222;

            @include transition(all 0.3s ease-in-out);
        }

        .module-arrow.right {
            @include transform(rotate(0deg));
        }

        .module-arrow.down {
            @include transform(rotate(90deg));
        }

        .module-row {
            color: lightblue;
        }

        .module-name {
            text-decoration: none;
            color: #222;
            font-size: 20px;
            font-family: 'aller';

            // height: 30px;
            line-height: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            @include flex(1);

            i {
                font-size: 35px;
                line-height: 20px;
                position: relative;
                top: 5px;
                padding-right: 16px;
                color: #666;
            }
        }

        .module-number {
            font-family: 'Aller';

            // background: rgba(0, 0, 0, 0.2);
            color: #222;
            padding: 5px 10px;
            margin-right: 10px;
        }

        .module-icon {
            img {
                width: 30px;
            }
        }

        .panel:nth-of-type(2n) {
            .module-row {
                color: darken(lightblue, 30%);
            }
        }

        .panel-body {
            background-color: rgba(0, 0, 0, 0.2);

            //#3c788b;
            color: #222;
            padding: 0px;
            font-family: 'Aller',sans-serif;
            font-size: 15px;
            border: 0px !important;

            li {
                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);
            }

            .video-name {
                height: 30px;
                line-height: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @include flex(1);
            }

            .panel-header-icons {
                margin: 0px 10px;
                float: none;
            }
        }

        :focus {
            outline: none;
        }

        ul {
            margin: 0px;
        }

        ul > li {
            padding: 20px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        ul > li:last-child {
            border-bottom: 0px;
        }

        ul > li > a {
            color: $font-color;
            font-size: 15px;
            text-decoration: none;
        }

        .item-type-letter {
            background: white;
            padding: 5px;
            margin-right: 10px;
        }

        .bookmark-checked {
            color: lighten(blue, 30%);
        }

        .watched-checked {
            color: lighten(green, 30%);
        }
    }

    .description {
        color: white;
        font-family: aller;
        font-size: 25px;
    }
}

.course-wrapper-new {
    $sidebar-large-width: 400px;
    $sidebar-small-width: 300px;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $logo-height: 90px;

    $dark-accent: #e2e2e2;

    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;

    min-height: 100vh;
    background: #1dbed0;

    .gray-name {
        color: #888 !important;
    }

    .sun-img {
        position: fixed;
        top: 10px;
        z-index: 10;
        left: 10px;

        img {
            width: 200px;
        }
    }

    .left-ground-img, .right-ground-img, .middle-ground-img {
        z-index: 1;
        position: fixed;
        bottom: 0px;
    }

    .middle-ground-img {
        right: 0px;

        @include breakpoint(large_desktop) {
            right: auto;
            left: 50%;
            margin-left: -380px;
        }
    }

    .right-ground-img {
        right: 0px;
        display: none;

        @include breakpoint(large_desktop) {
            display: block;
        }
    }

    .cloud-1-img, .cloud-2-img, .cloud-3-img, .cloud-4-img, .cloud-5-img, .cloud-blw-6-img {
        position: fixed;
        z-index: 1;
    }

    .cloud-1-img {
        left: 40px;
        top: 300px;
        z-index: 11;

        @include breakpoint(large_desktop) {
            top: 500px;
        }
    }

    .cloud-2-img {
        left: -20px;
        top: 50px;
        z-index: 11;
    }

    .cloud-3-img {
        left: 200px;
        top: 180px;

        @include breakpoint(large_desktop) {
            left: 300px;
        }
    }

    .cloud-4-img {
        right: 100px;
        top: 50px;
    }

    .cloud-5-img {
        right: 400px;
        top: 400px;
    }

    .cloud-blw-6-img {
        top: 0px;
        left: 0px;
    }

    .page-loading-icon {
        width: 100%;
        height: 500px;
        color: white;
        font-size: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .menu-modal {
        margin: 0px auto;
        position: fixed;
        z-index: 100000000;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 0px 50px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        // @include transition(0.3s all ease-in);

        .close-btn {
            position: absolute;
            right: 20px;
            cursor: pointer;
            top: 10px;
            font-size: 25px;
            color: white;
        }

        ul {
            list-style: none;
            color: white;
            font-family: waverly;
            font-size: 25px;
            padding: 0px;

            @include breakpoint(large_desktop) {
                font-size: 50px;
            }
        }

        li {
            cursor: pointer;

            i {
                margin-right: 15px;
                width: 60px;
            }
        }
    }

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 100;

        // background: $red-color;

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $sidebar-small-width;

        // }

        .logo {
            position: fixed;
            top: 0px;
            left: 15px;
            font-size: 60px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: 'waverly';
            height: $logo-height;
            z-index: 12;
            font-weight: bold;

            // background: url("../images/logo_new1_b.png");
            background-repeat: no-repeat;

            // width: 330px;
            // height: 111px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            // display: none;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: #1d99d1;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        .girl-img {
            position: absolute;
            bottom: 130px;
            z-index: 2;

            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .tree-img {
            position: absolute;
            top: -100px;
            z-index: 11;

            @include breakpoint(large_desktop) {
                top: 00px;
            }


            img {
                width: $sidebar-small-width + 100;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width + 100;
                }
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;
            position: relative;

            // background: $blue-color;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);

            &:before {
                // content: '';
                position: absolute;
                top: 10px;
                bottom: 0px;
                left: 0px;
                width: 400px;

                // height: 300px;
                background: url("../images/left.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                border-right: 1px solid white;

                @include breakpoint(large_desktop) {
                    width: 500px;
                    top: 27%;
                }
            }
        }

        li {
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            font-family: 'waverly';
            font-weight: bold;
            background: url("../images/white-brick-wall.png");
            background-color: $brick-color;
            font-size: 20px;
            cursor: pointer;
            position: relative;
            height: 65px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }


            &:first-child {
                // border-top: 3px solid darken($blue-color, 10%);
                // border-top-right-radius: 5px;
           
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: darken($red-color, 5%);
            }

            .icon {
                display: none;

                @include order(2);
            }

            .text {
                display: inline-block;
                padding: 8px 30px;
                color: #222;

                // border-radius: 5px;
                min-width: 240px;
                text-align: center;
                position: relative;
                overflow: hidden;

                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
                background: #e2e2e2;

                // /* Old browsers
                // background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* FF3.6-15
                // background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* Chrome10-25,Safari5.1-6
                // background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );

                // /* IE6-9 */

                @include order(1);

                // @include flex(1);
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $brick-color;
                    left: 20px;
                }

                &:after {
                    left: auto;
                    right: 20px;
                }
            }

            .circles-left, .circles-right {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: $brick-color;
                    border-radius: 50%;
                }

                &:before {
                    top: 0px;
                    margin-top: -10px;
                }

                &:after {
                    bottom: 0px;
                    margin-bottom: -10px;
                }
            }

            .circles-left {
                &:before, &:after {
                    left: 0px;
                    margin-left: -10px;
                }
            }

            .circles-right {
                &:before, &:after {
                    right: 0px;
                    margin-right: -10px;
                }
            }

            .inner-line {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                border: 1px solid $brick-color;
                overflow: hidden;

                & .circles-left, & .circles-right {
                    &:before, &:after {
                        background-color: #e2e2e2;
                        border: 1px solid $brick-color;
                    }
                }
            }

            .hide-borders {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                overflow: hidden;

                .circles-left-1, .circles-right-1 {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 0px;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: #e2e2e2;
                        border-radius: 50%;
                    }

                    &:before {
                        top: 0px;
                        margin-top: -10px;
                    }

                    &:after {
                        bottom: 0px;
                        margin-bottom: -10px;
                    }
                }

                .circles-left-1 {
                    &:before, &:after {
                        left: 0px;
                        margin-left: -10px;
                    }
                }

                .circles-right-1 {
                    &:before, &:after {
                        right: 0px;
                        margin-right: -10px;
                    }
                }
            }
        }
    }

    .main-container {
        $roof-height: 145px;

        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        padding-left: $sidebar-small-width;
        padding-right: $right-sidebar-small-width;
        position: relative;
        min-height: calc(100vh);
        padding-top: $roof-height + 50px;

        @include breakpoint(large_desktop) {
            padding-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        .heading {
            font-size: 25px;
            font-family: waverly;
            color: #222;
            text-transform: uppercase;
            padding: 0px 25px;
            border-bottom: 1px solid #ccc;
            position: fixed;
            height: 50px;
            left: $sidebar-small-width - 7px;
            right: 0px;
            background: white;
            top: $roof-height;
            max-width: 875px;
            margin: 0px auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            @include breakpoint(large_desktop) {
                left: $sidebar-large-width + 40px;
                margin: 0px;
            }
        }

        .title {
            position: fixed;
            top: 00px;
            left: $sidebar-small-width;
            right: $right-sidebar-small-width;
            height: $roof-height;
            font-family: aller;
            font-size: 30px;
            color: white;
            text-align: center;
            background: #fff;
            z-index: 10;
            max-width: 963px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include breakpoint(large_desktop) {
                left: $sidebar-large-width;
                right: $right-sidebar-large-width;
                margin: 0px;
            }


            .head-title {
                position: absolute;
                font-family: 'waverly';
                font-weight: bold;
                color: #fff;
                font-size: 25px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(column);

                @include breakpoint(large_desktop) {
                    font-size: 50px;
                }


                .roof-icon {
                    cursor: pointer;
                }

                .roof-text {
                    font-size: 35px;
                    position: relative;
                    top: -10px;
                }
            }

            img {
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: 0px;
                height: $roof-height;
            }

            .window-img {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -50px;
                margin-top: -30px;
                font-size: 10px;

                img {
                    width: auto;
                    position: relative;
                    height: 50px;
                }
            }
        }
    }
}