.courselist-wrapper, .course-banner-wrapper {
    $black: #222;
    $white: #f9f9f9;

    margin: 0px;
    color: white;
    background-color: white;

    $sidebar-width: 50px;
    $courselist-right-sidebar: 30%;

    @include display(flex);

    .course-banner-left {
        padding: 0px;
        color: $black;
        background-color: #ABD1F4;
        padding: 5px;
        margin: 0px;
        font-family: 'Ubuntu' , sans-serif;
        border-right: 1px solid #999;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        display: none;

        ul {
            margin: 00px;
        }

        li {
            padding: 10px 5px;

            // border-bottom: 1px solid lightgray;
            font-size: 16px;
            text-align: center;

            i {
                font-size: 20px;
                width: 20px;
            }
        }

        @media screen and (min-width: 75em) {
            & {
                width: $sidebar-width;
            }
        }
    }

    .course-banner-right {
        padding: 0px 0px 0px 0px;

        @media screen and (min-width: 75em) {
            & {
                width: calc(100%);

                /* course-banner-right width = 50px; */
            }
        }
    }

    .banner {
        width: 100%;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        background: url(http://wenak.org/myd2/wp-content/uploads/Pattern-call1.png) #2a323a;
        height: 300px;
        font-family: 'ITCAvantGarde',sans-serif;
        font-weight: bold;

        img {
            width: 100%;

            @media screen and (min-width: 1600px) {
                width: auto;
            }
        }

        .banner-heading {
            margin: 15px 0px;
            color: #eee;
            font-weight: bold;
            font-size: 30px;
            color: #1BBC9B;
        }

        ul {
            list-style: none;
            margin-bottom: 0px;
            padding-left: 0px;
            color: #59ABE3;
        }

        li {
            width: 34%;
            float: left;
            margin-bottom: 10px;
            position: relative;
            left: 25%;
            font-size: 20px;

            &::before {
                content: "\f00c";
                margin-right: 10px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
            }
        }
    }

    .page-title {
        text-align: center;
        padding: 10px 0px;
        background: #2C3E50;
        color: #ccc;
        margin: 0px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-family: 'museo-slab';
        word-spacing: 10px;
        letter-spacing: 1px;
    }

    .course-list-left {
        width: $sidebar-width;
    }

    .course-list-center {
        width: calc(100% - #{$sidebar-width} - #{$courselist-right-sidebar});
        margin: 0px;
        padding: 0px;
        padding-top: 50px;

        @media screen and (min-width: 100em) {
            & {
                width: calc(100% - #{$sidebar-width} - 20%);
                padding-left: 50px;
            }
        }
    }

    .course-list-right {
        width: $courselist-right-sidebar;
        padding-top: 50px;

        @media screen and (min-width: 100em) {
            & {
                width: 20%;
            }
        }
    }

    .courselist {
        padding: 0px 10px;
        margin-bottom: 15px;

        li {
            padding-bottom: 30px;
            border-radius: 2px;
            background-color: white;
            position: relative;

            // clear: both;
            // margin-bottom: 30px;
       
        }

        .course-image {
            // display: inline-block;
            padding: 10px;
            float: left;

            // max-width: 220px;

            // width: 20%;
            cursor: pointer;

            img {
                // width: 200px;
                // height: 100px;
                float: left;
            }
        }

        .info-wrapper {
            color: black;

            // position: absolute;
            // left: 182px;

            // max-width: 1080px;
            /* image width + padding */

            // display: inline-block;
            padding: 0px;

            // padding-right: 10px;
            text-align: justify;
            font-family: 'Ubuntu' ,sans-serif;
            margin-left: 182px;

            .name {
                font-size: 20px;
                cursor: pointer;
                font-family: 'Ubuntu' ,sans-serif;

                a {
                    text-decoration: none;
                }
            }

            .description {
                max-width: 1080px;

                // height: 3em;
                // line-height: 1.5em;
                overflow: hidden;

                // & > *:first-child {
                //     float: right;
                //     width: 100%;
                //     margin-left: -5px;
                // }

                // &:before {
                //     content: "";
                //     float: left;
                //     width: 5px;
                //     height: 3em;
                // }

                // &:after {
                //     content: "\02026";
                //     box-sizing: content-box;
                //     -webkit-box-sizing: content-box;
                //     -moz-box-sizing: content-box;
                //     float: right;
                //     position: relative;
                //     top: -20px;
                //     left: 100%;
                //     width: 3em;
                //     margin-left: -3em;
                //     padding-right: 5px;
                //     text-align: right;
                // }
           
            }
        }
    }

    .extra-info {
        // padding: 10px;
        // border-top: 1px solid $black;
        margin-top: 10px;
        color: #2196f3;

        div {
            display: inline-block;
            margin-right: 20px;
        }
    }
}