.courselist-2-new-wrapper {
    $sidebar-large-width: 400px;
    $sidebar-small-width: 300px;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $logo-height: 90px;

    $dark-accent: #e2e2e2;

    $blue-color: #1d99d1;
    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;
    $brick-color: #6d270c;
    $royal-blue-color: #4183D7;

    $back-blue-color: #1dbed0;

    //#6BB9F0;

    //#A3392B;
    background: $back-blue-color;
    min-height: 100vh;

    .grass-green {
        background: url("../images/grass_g.png");
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 30px;
        right: 0px;
        background-size: contain;
        z-index: 1000;
    }

    .sun-img {
        position: fixed;
        top: 10px;
        z-index: 10;
        left: 10px;
        display: none;

        img {
            width: 200px;
        }

        @media (min-width: 80em) {
            display: block;
        }
    }

    .left-ground-img, .right-ground-img, .middle-ground-img {
        z-index: 1;
        position: fixed;
        bottom: 0px;
    }

    .middle-ground-img {
        right: 0px;

        @include breakpoint(large_desktop) {
            right: auto;
            left: 50%;
            margin-left: -380px;
        }
    }

    .right-ground-img {
        right: 0px;
        display: none;

        @include breakpoint(large_desktop) {
            display: block;
        }
    }

    .cloud-1-img, .cloud-2-img, .cloud-3-img, .cloud-4-img, .cloud-5-img, .cloud-blw-6-img {
        position: fixed;
        z-index: 1;
    }

    .cloud-1-img {
        left: 40px;
        top: 300px;
        z-index: 11;

        @include breakpoint(large_desktop) {
            top: 500px;
        }
    }

    .cloud-2-img {
        left: -20px;
        top: 50px;
        z-index: 11;
    }

    .cloud-3-img {
        left: 200px;
        top: 180px;

        @include breakpoint(large_desktop) {
            left: 300px;
        }
    }

    .cloud-4-img {
        right: 100px;
        top: 50px;
    }

    .cloud-5-img {
        right: 400px;
        top: 400px;
    }

    .cloud-blw-6-img {
        top: 0px;
        left: 0px;
    }

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: $logo-height;
        bottom: 0px;
        z-index: 100;

        // background: $red-color;

        @include breakpoint(large_desktop) {
            width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        width: $sidebar-small-width;

        // }

        .logo {
            position: fixed;
            top: 10px;
            left: 15px;
            font-size: 60px;
            color: white;
            text-shadow: 2px 2px 2px #444;
            font-family: 'waverly';
            height: $logo-height;
            z-index: 12;
            font-weight: bold;
            background: url("../images/dvbydt.png");
            background-repeat: no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            width: 400px;

            // width: 330px;
            // height: 111px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            // display: none;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: #1d99d1;
                border: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

        .girl-img {
            position: absolute;
            bottom: 130px;
            z-index: 2;

            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .tree-img {
            position: absolute;
            top: -100px;
            z-index: 11;

            @include breakpoint(large_desktop) {
                top: 00px;
            }


            img {
                width: $sidebar-small-width + 100;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width + 100;
                }
            }
        }

        ul {
            margin-bottom: 0px;
            height: 100%;
            position: relative;

            // background: $blue-color;

            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);

            &:before {
                // content: '';
                position: absolute;
                top: 10px;
                bottom: 0px;
                left: 0px;
                width: 400px;

                // height: 300px;
                background: url("../images/left.jpg");
                background-repeat: no-repeat;
                background-size: contain;
                border-right: 1px solid white;

                @include breakpoint(large_desktop) {
                    width: 500px;
                    top: 27%;
                }
            }
        }

        li {
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            font-family: 'waverly';
            font-weight: bold;
            background: url("../images/white-brick-wall.png");
            background-color: $brick-color;
            font-size: 20px;
            cursor: pointer;
            position: relative;
            height: 65px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }


            &:first-child {
                // border-top: 3px solid darken($blue-color, 10%);
                // border-top-right-radius: 5px;
           
            }

            & > * {
                z-index: 2;
            }

            &.active {
                background: darken($red-color, 5%);
            }

            .icon {
                display: none;

                @include order(2);
            }

            .text {
                display: inline-block;
                padding: 8px 30px;
                color: $royal-blue-color;

                // border-radius: 5px;
                min-width: 240px;
                text-align: center;
                position: relative;
                overflow: hidden;

                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
                background: #e2e2e2;

                // /* Old browsers
                // background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* FF3.6-15
                // background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* Chrome10-25,Safari5.1-6
                // background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);

                // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );

                // /* IE6-9 */

                @include order(1);

                // @include flex(1);
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $brick-color;
                    left: 20px;
                }

                &:after {
                    left: auto;
                    right: 20px;
                }
            }

            .circles-left, .circles-right {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: $brick-color;
                    border-radius: 50%;
                }

                &:before {
                    top: 0px;
                    margin-top: -10px;
                }

                &:after {
                    bottom: 0px;
                    margin-bottom: -10px;
                }
            }

            .circles-left {
                &:before, &:after {
                    left: 0px;
                    margin-left: -10px;
                }
            }

            .circles-right {
                &:before, &:after {
                    right: 0px;
                    margin-right: -10px;
                }
            }

            .inner-line {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                border: 1px solid $brick-color;
                overflow: hidden;

                & .circles-left, & .circles-right {
                    &:before, &:after {
                        background-color: #e2e2e2;
                        border: 1px solid $brick-color;
                    }
                }
            }

            .hide-borders {
                position: absolute;
                left: 7px;
                top: 7px;
                bottom: 7px;
                right: 7px;
                overflow: hidden;

                .circles-left-1, .circles-right-1 {
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    top: 0px;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: #e2e2e2;
                        border-radius: 50%;
                    }

                    &:before {
                        top: 0px;
                        margin-top: -10px;
                    }

                    &:after {
                        bottom: 0px;
                        margin-bottom: -10px;
                    }
                }

                .circles-left-1 {
                    &:before, &:after {
                        left: 0px;
                        margin-left: -10px;
                    }
                }

                .circles-right-1 {
                    &:before, &:after {
                        right: 0px;
                        margin-right: -10px;
                    }
                }
            }
        }
    }

    .main-container {
        $roof-height: 145px;

        margin-left: 0px;
        padding-right: $right-sidebar-small-width;
        position: relative;
        min-height: calc(100vh);
        background: $back-blue-color;
        padding-top: $roof-height + 50px;
        max-width: 963px;
        margin: 0px auto;

        @media (min-width: 80em) {
            margin-left: $sidebar-small-width;
            margin-right: 0px;
        }

        @include breakpoint(desktop) {
            margin-left: $sidebar-large-width;
            padding-right: $right-sidebar-large-width;
        }


        .heading {
            font-size: 25px;
            font-family: waverly;
            color: #222;
            text-transform: uppercase;
            padding: 0px 25px;
            border-bottom: 1px solid #ccc;
            position: fixed;
            height: 50px;
            left: 0px;
            right: 0px;
            background: white;
            top: $roof-height;
            max-width: 875px;
            margin: 0px auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-between);

            @include flex-direction(row);

            @media (min-width: 80em) {
                left: $sidebar-small-width - 7px;
            }

            @include breakpoint(desktop) {
                left: $sidebar-large-width + 40px;
                margin: 0px;
            }
        }

        .title {
            position: fixed;
            top: 00px;
            left: 0px;
            right: $right-sidebar-small-width;
            height: $roof-height;
            font-family: aller;
            font-size: 30px;
            color: white;
            text-align: center;
            background: #fff;
            z-index: 10;
            max-width: 963px;
            margin: 0px auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @media (min-width: 80em) {
                left: $sidebar-small-width;
                margin: 0px;
            }

            @include breakpoint(desktop) {
                left: $sidebar-large-width;
                right: $right-sidebar-large-width;
                margin: 0px;
            }


            .head-title {
                position: absolute;
                font-family: 'waverly';
                font-weight: bold;
                color: #fff;
                font-size: 25px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 0px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(column);

                @include breakpoint(large_desktop) {
                    font-size: 50px;
                }


                .roof-icon {
                    cursor: pointer;
                }

                .roof-text {
                    font-size: 35px;
                    position: relative;
                    top: -10px;
                }
            }

            img {
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: 0px;
                height: $roof-height;
            }

            .window-img {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -50px;
                margin-top: -30px;
                font-size: 10px;

                img {
                    width: auto;
                    position: relative;
                    height: 50px;
                }
            }
        }
    }

    .course-list-center {
        width: 100%;
        margin: 0px auto;
        position: relative;
        z-index: 5;
        background: #fff;

        // border-left: 3px solid white;
        // border-right: 3px solid white;
        max-width: 875px;

        @include breakpoint(desktop) {
            left: -3px;
        }


        @include breakpoint(large_desktop) {
            left: 40px;
            margin: 0px;
        }
    }

    .menu-modal {
        margin: 0px auto;
        position: fixed;
        z-index: 100000000;
        top: 0px;
        right: -306px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        padding: 0px 50px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        @include transition(0.3s all ease-in);

        .close-btn {
            position: absolute;
            right: 20px;
            cursor: pointer;
            top: 10px;
            font-size: 25px;
            color: white;
        }

        ul {
            list-style: none;
            color: white;
            font-family: waverly;
            font-size: 25px;
            padding: 0px;

            @include breakpoint(large_desktop) {
                // font-size: 50px;
            }
        }

        li {
            cursor: pointer;

            i {
                margin-right: 15px;
                width: 60px;
            }
        }
    }

    .courselist {
        padding: 10px 20px;

        li {
            padding: 25px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .info-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);
        }

        .book-icon i {
            width: 30px;
            color: white;
            font-size: 38px;
            margin-right: 40px;
        }

        .book-icon {
            margin-right: 30px;

            img {
                width: 50px;
            }
        }

        .name a {
            color: #222;
            font-size: 30px;
            font-family: 'Aller';
            text-decoration: none;
        }

        .extra-info {
            @include display(flex);

            @include align-items(center);

            // @include justify-content(space-between);

            @include flex-direction(row);
        }

        .extra-info > div {
            display: inline-block;
            font-family: 'Aller';
            font-size: 15px;
            color: #999;
            margin-right: 20px;
        }

        .share {
            margin-top: 10px;

            .item {
                margin-right: 10px;
                background: #e5e5e5;
                padding: 3px 10px;
                cursor: pointer;
            }
        }
    }
}