.create-test-page-wrapper {
    $blue-color: #4B96AE;
    $shiny-blue-color: #1d99d1;

    $red-color: #D24D57;
    $green-color: #44B39D;
    $back-blue-color: #6BB9F0;
    $back-color: $back-blue-color;
    $big-sidebar-width: 400px;
    $big-sidebar-small-screen-width: 400px;
    $top-bar-height: 50px;
    $right-icon-sidebar-width: 50px;

    $video-content-left-sidebar-width: 250px;
    $transition: all 0s ease-in;
    $gray-color: #e5e5e5;

    $dark-blue: #4183D7;
    $dark-orange: #EF4834;

    background: $back-color;

    $sidebar-large-width: 500px;
    $sidebar-small-width: 400px;
    $right-sidebar-large-width: 0px;
    $right-sidebar-small-width: 0px;

    $logo-height: 90px;

    $dark-accent: #e2e2e2;

    $light-blue-color: #59ABE3;
    $red-color: #D24D57;
    $green-color: #2ea677;
    $brick-color: #6d270c;
    $royal-blue-color: #4183D7;

    $back-blue-color: #6BB9F0;

    //#A3392B;

    min-height: 100vh;

    .sidebar {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 13000;

        // display: none;
        @include breakpoint(large_desktop) {
            // width: $sidebar-large-width;
        }


        // @media screen and (max-width: 1280px) {
        // width: $sidebar-small-width;

        // }

        .girl-img {
            position: absolute;
            bottom: 130px;
            z-index: 2;

            img {
                width: $sidebar-small-width;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width;
                }
            }
        }

        .tree-img {
            position: absolute;
            top: -100px;
            z-index: 12999;

            @include breakpoint(large_desktop) {
                top: 00px;
            }


            img {
                width: $sidebar-small-width + 100;

                @include breakpoint(large_desktop) {
                    width: $sidebar-large-width + 100;
                }
            }
        }

        ul.wrapper {
            margin-bottom: 0px;

            // height: calc(100%);
            position: fixed;
            top: 0vh;
            bottom: 0px;
            background: url("http://www.transparenttextures.com/patterns/white-brick-wall.png");
            background-color: #e5e5e5;
            z-index: 13000;
            width: $big-sidebar-small-screen-width;

            // border-right: 2px solid #e5e5e5;
            border-left: 0px;
            border-bottom: 0px;
            border-top: 0px;

            // border-top-right-radius: 3px;

            @include breakpoint(large_desktop) {
                // top: 100px;
                // height: calc(100% - 100px);
                width: $big-sidebar-width;
            }


            @include display(flex);

            @include flex-direction(column);

            @include justify-content(flex-end);
        }
    }

    .coursename {
        position: fixed;
        top: 0px;
        right: 0px;
        color: #fff;
        z-index: 10000;
        font-size: 35px;
        font-family: waverly;
        height: 10vh;
        left: $big-sidebar-small-screen-width + 10;
        background-color: $back-color;

        @include breakpoint(large_desktop) {
            left: $big-sidebar-width + 10;
        }


        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    pre {
        background: transparent;
        border: 0px;
        font-size: 13px;

        @include breakpoint(large_desktop) {
            font-size: 20px;
        }
    }

    .prism-show-language {
        display: none;
    }

    .main-content-wrapper {
        padding: 0vh 0px 0px;
        width: 100%;
        margin: 0px auto;
        padding-left: $big-sidebar-small-screen-width;

        @include breakpoint(large_desktop) {
            padding-left: $big-sidebar-width;
        }


        &.isQuestion {
            padding-top: calc(50px);
            padding-bottom: 10px;
            padding-bottom: 50px;
        }
    }

    .layout-switch {
        position: absolute;
        right: 10px;
        top: 60px;
        font-size: 20px;
        z-index: 2;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .item {
            cursor: pointer;
            padding: 10px;
            width: 40px;
            text-align: center;
            border: 1px solid $shiny-blue-color;

            &.active {
                background: $shiny-blue-color;
                color: white;
            }
        }
    }

    .qa-wrapper {
        // min-height: 100vh;
        position: relative;
        padding: 0px 0px 0px;
        margin: 0px 10px;

        @include transition($transition);

        @include display(flex);

        // @include breakpoint(large_desktop) {
        @include align-items(stretch);

        @include justify-content(space-between);

        @include flex-direction(row);
    }

    .qa-wrapper.vertical {
        // padding-top: 60px;
        padding-bottom: 50px;

        @include align-items(flex-start !important);

        @include justify-content(flex-start !important);

        @include flex-direction(column !important);

        .question-wrapper, .options-wrapper {
            width: auto !important;
            min-height: auto;
        }

        .options-wrapper {
            margin-top: 0px;
        }

        .title {
            margin-top: 10px;
        }
    }

    .question-action-btns {
        position: fixed;
        top: 0vh;
        right: 0px;
        color: #fff;
        z-index: 10000;
        font-size: 15px;
        font-family: waverly;
        height: 50px;
        background: darken($blue-color, 10%);
        left: $big-sidebar-small-screen-width;
        padding: 0px 10px;
        text-transform: uppercase;
        font-weight: bold;

        // text-shadow: 1px 1px 1px #bbb;
        // border-bottom: 2px solid #e5e5e5;

        @include breakpoint(large_desktop) {
            left: $big-sidebar-width;
        }


        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        .item {
            cursor: pointer;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        .small-header {
            display: block;
            font-size: 12px;
            font-family: aller;
            text-align: center;
        }

        .time {
            display: block;
            font-size: 14px;
            font-family: aller;
            text-align: center;
        }

        .inner-item {
            display: inline-block;
            margin: 0px 10px;

            @include breakpoint(large_desktop) {
                margin: 0px 20px;
            }


            &.active {
                border-bottom: 1px solid white;
            }

            &.disabled {
                pointer-events: none;
                color: #ccc;
            }
        }

        .checkbox-img {
            width: 20px;
            height: 20px;
            display: inline-block;
        }
    }

    .bottom-action-bar {
        position: fixed;
        bottom: 0vh;
        right: 0px;
        color: #222;
        z-index: 10000;
        font-size: 15px;
        font-family: waverly;
        text-transform: uppercase;
        height: 50px;
        background: $blue-color;
        left: $big-sidebar-small-screen-width;
        font-weight: bold;

        // border-top: 2px solid #e5e5e5;

        &.isVideo {
            background-color: white !important;
            color: #222;
            top: 0px;
            bottom: auto;
        }

        &.none {
            display: none !important;
        }

        @include breakpoint(large_desktop) {
            left: $big-sidebar-width;
            font-size: 20px;
        }


        .inner-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);
        }

        .item {
            cursor: pointer;
            font-size: 15px;
            padding: 0px 20px;
            height: 50px;

            // background: #e5e5e5;

            color: white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            &.active {
                background: white;
            }

            &.disable {
                color: #ccc;
                pointer-events: none;
            }
        }

        .small-header {
            display: block;
            font-size: 12px;
            font-family: aller;
            text-align: center;
        }

        .time {
            display: block;
            font-size: 14px;
            font-family: aller;
            text-align: center;
        }

        .inner-item {
            display: inline-block;
            margin: 0px 10px;

            &.active {
                color: #1d99d1;
            }

            &.disabled {
                pointer-events: none;
                color: #ccc;
            }
        }

        .checkbox-img {
            width: 20px;
            height: 20px;
            display: inline-block;
        }
    }

    .breadcumbs {
        font-family: waverly;
        font-size: 20px;
        color: white;
    }

    .question-wrapper {
        $question-changer-margin: 25px;
        $question-changer-height: 50px;
        $question-changer-total-height: $question-changer-margin * 2 + $question-changer-height;

        padding: 10px;
        position: relative;
        background: #fff;
        color: #444;
        width: 50%;
        margin-bottom: 10px;
        border: 6px solid #fff;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(flex-start);

        @include flex-direction(column);

        @include align-self(stretch);

        @include flex(1);

        &.selected {
            border: 6px solid #1d99d1;
        }

        pre {
            background: transparent;
            border: 0px;
            font-size: 15px;
            margin: 0px;
            padding: 0px;

            @include breakpoint(large_desktop) {
                font-size: 15px;
            }
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 0px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;
        }

        .index {
            font-family: waverly;
            font-size: 20px;
        }

        .add-delete-btn {
            background: #1d99d1;
            color: white;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        .q {
            width: 100%;

            @include flex(1);

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .question {
            max-width: 100%;
            font-size: 16px;
            font-family: aller;
            white-space: pre-line;
            padding: 15px 11px;

            @include breakpoint(large_desktop) {
                font-size: 16px;
            }


            img {
                max-width: 100%;
            }
        }

        .questionOneLine {
            font-size: 20px;
            font-family: aller;
            width: 100%;
            text-align: left;
            padding: 0px 11px;
        }

        .option {
            margin: 10px 0px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            .useroption {
                margin-right: 15px;
            }
        }
    }

    .filtered-question-review {
        padding-top: 0px !important;

        .title {
            font-family: waverly;
            font-size: 25px;
            margin-bottom: 10px;
            color: white;
        }
    }

    .third-strip-wrapper {
        color: #444;
        font-family: aller;
        font-size: 15px;
        z-index: 10001;
        height: 100%;

        // background: url("../images/b_m.jpg");
        background-color: $blue-color;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoint(large_desktop) {
            // width: 360px;
        }


        max-height: 100vh;

        @include transition($transition);

        @include display(flex);

        @include flex-direction(column);

        &.open {
            right: 10px;
        }

        &.closed {
            right: -$big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                right: -$big-sidebar-width;
            }


            .sidebar-close-icon {
                display: none !important;
            }
        }

        .header-top, .header-name, .tabs, .footer {
            // padding: 7px;
            font-family: waverly;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }

        .header-top {
            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            // border-top: 1px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            display: none;

            .item {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                @include flex(1);

                cursor: pointer;
            }

            .home {
                display: none;

                @include breakpoint(large_desktop) {
                    @include display(flex);
                }
            }

            .icon {
                width: 100%;
                text-align: center;
            }

            .width-changer {
                span {
                    padding: 5px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }

        .header-name {
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            height: 50px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(space-around);

            @include flex-direction(row);

            select {
                color: white;
                width: 90%;
            }

            .ui-select-container {
                color: #222;
                width: 90%;
            }

            input {
                color: white;
                width: 100%;
            }
        }

        .tabs {
            // border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            height: 50px;
            font-size: 15px;
            background: darken($blue-color, 10%);

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-shrink(0);

            .tab-item {
                cursor: pointer;
                padding: 10px;
                color: #fff;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);

                &.active {
                    // background: rgba(0, 0, 0, 0.1);
                    color: yellow;
                }

                &.close-btn {
                    font-size: 25px;
                    padding-left: 15px;
                    padding-right: 15px;

                    @include flex(0);
                }

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }
            }
        }

        .tab-wrapper {
            // margin: 2px;
            overflow: auto;
            background: white;

            @include flex(1);
        }

        .footer-tab {}

        .footer {
            border-top: 1px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .item {
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                @include flex(1);

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }

                &.active {
                    background: rgba(0, 0, 0, 0.1);
                }
            }

            .icon {
                width: 100%;
                text-align: center;
            }
        }
    }

    .mCSB_scrollTools {
        right: 0px !important;
    }

    .mCSB_draggerRail, .mCSB_dragger_bar {
        border-radius: 0px !important;
    }

    .no-modules {
        font-family: waverly;
        font-size: 30px;
        height: 100%;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .content-wrapper {
        /*
            Accordian - Panel Style
        */

        padding-right: 20px;

        .panel-group {
            margin: 0px;

            *:focus {
                outline: none;
            }

            .panel {
                margin: 0px;
                border-radius: 0px;
                box-shadow: 0px 0px 0px;
                -webkit-box-shadow: 0px 0px 0px;
                background: transparent;
            }
        }

        .panel-body {
            padding: 0px 0px;
            border: 0px !important;
            background: transparent;
            color: #1d99d1;

            //darken($gray-color, 10%);

            ul {
                margin-bottom: 0px;
            }

            li {
                padding: 5px 10px;

                @include display(flex);

                @include align-items(center);

                @include justify-content(space-between);

                @include flex-direction(row);

                input {
                    width: 40px;
                    margin-right: 5px;
                }
            }

            .item {
                display: inline-block;
                margin-left: 2px;
            }

            .item-name {
                height: 30px;
                line-height: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px 5px;

                @include flex(1);

                &.pointer-none {
                    pointer-events: none;
                }
            }

            .add-btn {
                cursor: pointer;
                padding: 0px 15px;
            }

            .delete-btn {
                cursor: pointer;
                padding: 0px 15px;
                color: $red-color;
            }

            .exam-btn {
                padding: 0px 10px;
                color: #444;
                background: white;
                border-radius: 2px;
                margin: 0px 2.5px;
                display: inline-block;
                cursor: pointer;
            }
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            padding: 0px;
            background: transparent;

            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
       
        }

        .active {
            color: orange;
        }

        .accordion-toggle {
            padding: 15px 10px;

            // background-color: $blue-color;
            // color: darken($shiny-blue-color, 20%);
            color: #222;
            text-transform: initial;
            display: block;
            text-decoration: none;

            // border-bottom: 1px solid $light-black;
            font-family: ubuntu;
            font-size: 15px;

            // border-top: 1px solid #3c778a;

            // font-weight: bold;
       
        }
    }

    .test-name-modal-wrapper {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1000000;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .test-name-modal {
            background: rgba(0, 0, 0, 0.7);
            color: white;
            z-index: 1000000;
            padding: 40px;
            min-width: 400px;
            border-radius: 3px;
        }

        legend {
            border: 0px;
            color: white;
            font-size: 20px;
            font-family: waverly;
        }

        input[type=text] {
            color: white;
            font-family: aller;
            padding: 0px 10px;
        }

        input[type=submit] {
            color: white;
            background: #1d99d1;
            margin-top: 15px;
            border: 0px;
            box-shadow: 0px 0px 0px;
            border-radius: 3px;
        }
    }

    .printing-modal {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: white;

        //rgba(0, 0, 0, 0.9);
        z-index: 1000000;
        overflow: auto;

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(center);

        @include flex-direction(row);

        img {
            max-width: 100%;
        }

        .btns {
            position: fixed;
            right: 30px;
            top: 10px;
        }

        .close-btn {
            font-size: 17px;
            font-family: waverly;
            cursor: pointer;
            max-width: 100px;
            border-radius: 2px;
            background: $shiny-blue-color;
            color: white;
            padding: 5px 20px;
            display: inline-block;
        }

        .print-btn {
            background: $shiny-blue-color;
            border-radius: 2px;
            color: white;
            font-size: 18px;
            font-family: waverly;
            display: inline-block;
            padding: 5px 20px;
            position: relative;
            top: 2px;
            height: 41px;
            cursor: pointer;

            &.pointer-none {
                pointer-events: none;
            }
        }

        .print-qa-wraper {
            // padding-top: 10px;
            // padding-bottom: 10px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .print-question-wrapper {
            width: 60%;
            margin: 0px auto;
            min-width: 700px;
        }
    }
}