.note-modal-wrapper {
    @media only screen and (max-width: 1280px) {
        .big-screen {
            display: none;
        }

        .small-screen {
            display: block;
        }
    }

    @media only screen and (min-width: 1281px) {
        .big-screen {
            display: block;
        }

        .small-screen {
            display: none;
        }
    }

    $arrow-width: 40px;
    $modal-header-height: 76px;

    position: relative;
    overflow: hidden;

    .slidination {
        position: absolute;
        width: 100%;
        height: 30px;
        top: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);
    }

    .slide-number {
        padding: 5px 15px;
        background: #666;
        cursor: pointer;

        &:first-child {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        &:last-child {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        &:hover, &.active {
            background: rgba(255, 255, 255, 0.9);
            color: black;
        }
    }

    .slide-wrapper {
        position: relative;

        .slide {
            height: calc(100vh);
            margin: 0px;

            .slide-image-wrapper {
                height: 100%;
                padding: 0px;

                .hide-show-arrow {
                    position: absolute;
                    top: 0px;
                    right: 20px;
                    display: none;
                    z-index: 1000;
                }
            }

            & * {
                outline: none;
            }

            .slide-desc-wrapper, .slide-image {
                height: 100%;
                padding: 0px;
                background-color: rgba(white, 0.2);
            }

            .slide-desc-wrapper {
                border-left: 1px solid black;
            }

            .back-button {
                font-size: 50px;
                color: white;
                position: absolute;
                top: 0px;
                left: 15px;
                cursor: pointer;
                z-index: 1000;
            }

            .slide-image {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);
            }

            .hide-show-arrow {
                font-size: 25px;
                margin-left: 10px;
                display: inline-block;
                cursor: pointer;
            }

            .width-changer {
                margin-left: 15px;

                i {
                    background-color: #777;
                    text-align: center;
                    color: white;
                    cursor: pointer;
                    padding: 10px;
                    margin-left: -5px;
                    border: 1px solid black;
                }
            }

            .slide-desc {
                width: 100%;
                padding: 15px;
                overflow: auto;

                h1, h2, h3, h4, h5, h6 {
                    color: white;
                    font-family: 'Ubuntu',sans-serif;
                }

                li, p {
                    font-family: 'Montserrat',sans-serif;
                }
            }

            .slide-image img {
                max-width: 100%;
                max-height: 100vh;
                width: auto;

                // height: auto;
                background: url("../images/loader.gif") center center no-repeat;

                @include transition(all 0.5s ease-in);
            }
        }
    }

    .arrow-wrapper {
        position: absolute;
        width: $arrow-width;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: calc(100vh);
        z-index: 1;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .ds-arrow {
            width: $arrow-width;
            background: #777;
            text-align: center;
            padding: 15px 0px;
            margin-bottom: 3px;
            cursor: pointer;
            color: white;
        }

        .ds-arrow.disable {
            color: #444;
            background-color: #666;
        }

        i {
            font-size: 40px;
        }
    }
}