.notes-wrapper {
    position: relative;

    .note-container {
        padding: 10px;
        border-radius: 10px;
        margin: 0px;
        height: 100vh;
        padding-top: 65px;
        position: relative;
    }

    .note-image {
        padding: 0px;
        width: 70%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            background:white url(../images/loader.gif) no-repeat center center;
        }
    }

    .note-description {
        background-color: darken(white, 10%);
        color: lighten(black, 10%);
        border-left: 1px solid black;
        width: calc(30% - 20px);
        height: 100%;
        position: relative;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow:ellipsis;
        span {
            // height: 100%;
            width: 100%;
            display: block;
            padding-top: 10px;
        }

        h1, h2, h3, h4 {
            color: lighten(black, 10%);
        }


    }

    .hide-desc {
            position: absolute;
            top: 65px;
            right: 10px;
            bottom:10px;
            width: 20px;
            background-color: darken(white, 20%);
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
			display: inline-block;
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

    .dots-navigation {
        position: fixed;
        height: 55px;
        width: 100vw;
        right: 0px;
        top: 0px;
        padding: 10px 0px;
        background-color: darken(lightblue, 40%);

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .circle-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 10px 0px;
        background-color: transparent;
        border: 2px solid white;
        cursor: pointer;

        @include transition(all 0.2s ease-in);

        &:hover {
            background-color: white;
        }

        &.active {
            background-color: white;
        }
    }

    .circle-number {
        cursor: pointer;
        background-color: darken(lightblue, 0%);
        color: darken(white, 60%);
        padding: 5px 10px;
        border-right: 1px solid darken(lightblue, 50%);

        @include transition(all 0.2s ease-in);

        &:last-child {
            border-right: 0px;
        }

        &:hover, &.active {
            color: darken(white, 10%);
            background-color: darken(lightblue, 20%);
            font-weight: bold;
        }
    }
}