.practice-page-wrapper-new-2 {
    $blue-color: #4B96AE;
    $shiny-blue-color: #1d99d1;
    $red-color: #D24D57;
    $green-color: #44B39D;
    $big-sidebar-width: 400px;
    $big-sidebar-small-screen-width: 320px;
    $top-bar-height: 50px;
    $right-icon-sidebar-width: 100px;

    $video-content-left-sidebar-width: 250px;
    $transition: all 0s ease-in;
    $gray-color: #e5e5e5;

    background: $gray-color;

    .no-question-found {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        font-size: 30px;
        font-family: aller;
        text-transform: uppercase;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .head-bar-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        height: $top-bar-height;
        background: #fff;
        color: #444;
        z-index: 10000;
        right: 0px;
        box-shadow: 0px 0px 4px #444;

        // border-bottom: 1px solid white;
        // border-right: 2px solid $blue-color;

        @include transition($transition);

        @include display(flex);

        @include align-items(center);

        @include justify-content(space-between);

        @include flex-direction(row);

        @include breakpoint(large_desktop) {
            // @include justify-content(center);
        }


        &.has-small-sidebar {
            // right: $right-icon-sidebar-width;
       
        }

        &.has-big-sidebar {
            // right: $big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                // right: $big-sidebar-width;
            }
        }

        // .left-side {
        // @include flex(1);
        .logo {
            display: none;

            @include breakpoint(large_desktop) {
                display: block;
                position: absolute;
                top: -10px;
                left: 10px;

                // text-shadow: 2px 2px 2px #444;
                font-size: 40px;
                font-family: aller;
                color: #1d99d1;

                // text-shadow: 2px 2px 2px #444;
            }
        }

        .module-chapter-name {
            font-family: 'ITCAvantGarde',sans-serif;
            font-size: 20px;
            padding: 0px 10px;
            line-height: $top-bar-height;
            color: #444;
            background: #fff;
            font-weight: bold;

            .course-name {
                color: $shiny-blue-color;
                font-size: 20px;
            }

            .module-name {
                color: #444;
            }
        }

        // }

        .question-changer {
            text-align: center;

            // height: $top-bar-height;

            // position: absolute;
            top: 0px;
            right: 0px;

            @include align-self(flex-start);
        }

        .arrow {
            display: inline-block;
            margin: 0px 5px;
            cursor: pointer;
            color: $shiny-blue-color;

            i {
                font-size: 30px;
                padding: 10px;
            }
        }

        .que-count {
            font-size: 20px;
            font-family: intro;
            position: relative;
            top: -5px;
        }

        .btn-wrapper {
            padding: 0px 10px;
            font-family: aller;
            font-size: 15px;

            .item {
                padding: 3px 10px;

                // border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 3px;
                display: inline-block;
                cursor: pointer;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    color: #444;
                }
            }
        }

        .right-side {
            position: relative;
            height: $top-bar-height;

            // border-right: 2px solid $green-color;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            @include flex(1);

            .question-changer {
                text-align: center;
                height: $top-bar-height;
                position: absolute;
                top: 0px;
                right: 0px;

                @include align-self(flex-start);
            }

            .arrow {
                display: inline-block;
                margin: 0px 5px;
                cursor: pointer;

                i {
                    font-size: 30px;
                    padding: 10px;
                }
            }

            .que-count {
                font-size: 20px;
                font-family: intro;
                position: relative;
                top: -5px;
            }

            .action-btn-wrapper {
                position: absolute;
                top: 0px;
                left: 0px;
                height: $top-bar-height;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-end);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }

            .action-btn {
                padding: 0px 10px;
                font-size: 15px;
                cursor: pointer;
                height: $top-bar-height;
                line-height: $top-bar-height;
                font-family: aller;
                text-transform: uppercase;

                &.active {
                    // background: $blue-color;
               
                }
            }
        }
    }

    pre {
        background: transparent;
        border: 0px;
        font-size: 13px;

        @include breakpoint(large_desktop) {
            font-size: 20px;
        }
    }

    .prism-show-language {
        display: none;
    }

    .qa-wrapper {
        min-height: 100vh;
        position: relative;
        padding: 10px;
        padding-right: 20px;

        @include transition($transition);

        @include display(flex);

        // @include breakpoint(large_desktop) {
        @include align-items(stretch);

        @include justify-content(space-between);

        @include flex-direction(row);

        // display: none;

        // }

        &.has-small-sidebar {
            margin-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            margin-right: $big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                margin-right: $big-sidebar-width;
            }
        }
    }

    .qa-wrapper.vertical {
        @include align-items(center !important);

        @include justify-content(center !important);

        @include flex-direction(column !important);

        .question-wrapper, .options-wrapper {
            width: auto !important;
            min-height: auto;
        }

        .options-wrapper {
            margin-top: 10px;
        }

        .title {
            margin-top: 10px;
        }
    }

    .video-wrapper {
        min-height: 100vh;
        position: relative;
        padding: 10px;
        padding-right: 20px;

        @include transition($transition);

        @include display(flex);

        // @include breakpoint(large_desktop) {
        @include align-items(flex-end);

        @include justify-content(center);

        @include flex-direction(column);

        // }

        &.has-small-sidebar {
            margin-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            margin-right: $big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                margin-right: $big-sidebar-width;
            }
        }

        video-controls-jw {
            width: calc(100% - #{$video-content-left-sidebar-width} - 10px);
            height: calc(80vh - 20px);
            position: relative;

            // max-width: 1000px;
            // margin-right: auto;
            // margin-left: auto;
            margin-top: 50px;
            display: block;

            @include transition($transition);

            @include breakpoint(large_desktop) {
                width: calc(100% - #{$video-content-left-sidebar-width} - 100px - 10px);
            }


            &.expanded {
                width: calc(100%);
            }
        }

        .rect {
            position: absolute;
            background: transparent;
            width: 25px;
            height: 15px;
            top: 70px;
            right: 30px;
            z-index: 9999;
            border: 3px solid #1d99d1;
            cursor: pointer;
        }
    }

    .layout-switch {
        position: absolute;
        right: 10px;
        top: 60px;
        font-size: 20px;
        z-index: 2;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .item {
            cursor: pointer;
            padding: 10px;
            width: 40px;
            text-align: center;
            border: 1px solid $shiny-blue-color;

            &.active {
                background: $shiny-blue-color;
                color: white;
            }
        }
    }

    .video-contents {
        padding-top: 10px;
        width: 100%;

        @include display(flex);

        @include flex-direction(row);

        .left-sidebar {
            width: $video-content-left-sidebar-width;

            @include breakpoint(large_desktop) {
                width: $video-content-left-sidebar-width + 100px;
            }


            margin-right: 10px;
            padding: 10px;
            background: white;
            border-radius: 2px;
            margin-top: calc(-80vh + 10px);

            &.expanded {
                margin-top: 0px;
            }

            @include transition($transition);
        }

        ul {
            margin-bottom: 0px;
        }

        li {
            padding: 10px;
            font-family: aller;
            font-size: 18px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            @include display(flex);

            @include align-items(flex-start);

            @include justify-content(center);

            @include flex-direction(column);

            i {
                margin-right: 10px;
            }

            .title {
                margin-top: 10px;
            }

            .author {
                font-size: 14px;

                &:before {
                    content: '-';
                    margin-right: 5px;
                }
            }
        }

        .right-sidebar {
            width: calc(100% - #{$video-content-left-sidebar-width});

            @include breakpoint(large_desktop) {
                width: calc(100% - #{$video-content-left-sidebar-width} - 100px);
            }


            // padding: 10px;
            // background: white;
            border-radius: 2px;

            @include align-self(flex-start);
        }

        .video-info {
            padding: 10px;
            background: white;
            margin-bottom: 20px;
        }

        .video-name {
            font-size: 27px;
            font-family: aller;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .author {
            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);

            .pic, .name {
                padding: 10px;
            }

            .pic img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .description {
            font-family: aller;
            font-size: 15px;
            margin-top: 20px;
            color: #444;

            .links a {
                display: block;
                text-decoration: none;

                &:before {
                    content: '-';
                    margin-right: 10px;
                }
            }
        }

        $color: #e9eaed;
        $dark: #f6f7f8;
        $accent: #6d97cc;
        $dark-accent: #6186b5;
        $comment-profile-pic: 30px;
        $post-profile-pic: 50px;

        .post {
            background: white;
            margin: 20px 0px;
            box-shadow: 0px 1px 1px #ccc;
            max-width: 1280px;

            &:first-child {
                margin-top: 0px;
            }

            .content-wrapper {
                position: relative;
                padding: 10px;
            }

            .head {
                margin-bottom: 10px;
                display: block;
                position: relative;
            }

            .profile-pic {
                width: $post-profile-pic;
                height: $post-profile-pic;
                float: left;
                border: 1px solid $color;
            }

            .profile-name {
                padding-left: $post-profile-pic + 10;

                .username {
                    font-size: 15px;
                    font-family: Ubuntu;
                    color: $dark-accent;
                    cursor: pointer;
                }
            }

            .post-options {
                position: absolute;
                top: -5px;
                right: 10px;
                cursor: pointer;
                font-size: 20px;

                .overlay {
                    position: absolute;
                    right: 0px;
                    top: 30px;
                    display: none;
                    z-index: 1;

                    .list-group-item {
                        padding: 8px 12px;
                    }

                    h6 {
                        margin: 0px;
                    }
                }
            }

            .post-btn {
                background: $dark-accent;
                margin-right: 0px !important;
                color: white;
                cursor: pointer;

                &.disabled {
                    pointer-events: none;
                    cursor: none;
                }
            }

            .status-attachment-wrapper {
                @include display(flex);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }

            .status-attachment {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                position: relative;

                &.video {
                    display: block;
                    width: 100%;
                    margin-right: 0px;
                    background: $dark;
                    padding: 0px 10px;

                    .videoName {
                        font-family: 'Aller';
                        font-size: 18px;
                        color: $dark-accent;
                    }

                    .remove-icon {
                        position: relative;
                        display: inline-block;
                        font-size: 18px;
                        cursor: pointer;
                        float: right;
                    }
                }

                .image {
                    width: 100px;
                    height: 100px;
                    background-repeat: no-repeat;
                    position: relative;
                    display: inline-block;
                }

                .remove-icon {
                    position: relative;
                    display: block;
                    text-align: right;
                    cursor: pointer;
                }
            }

            .progressbar {
                width: 00%;
                height: 5px;
                background: rgba(147, 206, 222, 1);
                background: -moz-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
                background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
                background: -webkit-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
                background: -o-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
                background: -ms-linear-gradient(-45deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
                background: linear-gradient(135deg, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
            }

            .content {
                font-family: 'Aller';
                font-size: 15px;
                background: transparent;
                border: 0px;
                padding: 0px;
                white-space: pre-wrap;
                max-height: 100px;
                line-height: 25px;
                overflow: hidden;

                &.full-post {
                    max-height: none;
                    overflow: visible;
                }
            }

            .more-btn {
                background: none;
                border: 0px;
                border-radius: 0px;
                color: $dark-accent;
                font-size: 15px;
                font-family: 'Aller';
                float: right;
            }

            .post-image-attachment {
                display: block;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                img {
                    max-width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }

            .post-video-attachment {
                max-width: 100%;
                width: 100%;
                min-height: 400px;
                margin-bottom: 10px;
            }

            .action-btns {
                border-top: 1px solid $dark;
                margin: 0px 10px;

                // background: $dark-accent;
                color: $dark-accent;
            }

            .action-btn {
                padding: 7px 10px;
                display: inline-block;
                margin-right: 10px;
                cursor: pointer;
            }

            .comment-wrapper {
                padding: 10px;
                background: $dark;
            }

            .comment-field {
                margin: 10px 0px 20px;

                .profile-pic {
                    float: left;
                    width: $comment-profile-pic;
                    height: $comment-profile-pic;
                }

                .tf {
                    padding-left: $comment-profile-pic + 10;
                    position: relative;

                    input, .input-comment {
                        background: white;
                        padding-left: 10px;
                        box-shadow: 0px 0px 0px;
                        font-family: 'Aller';
                        display: inline-block;
                        min-height: 30px;
                        line-height: 30px;
                        font-size: 15px;
                        width: calc(100% - 70px);
                        border: 1px solid darken($dark, 30%);
                        padding-right: 30px;
                    }

                    .camera-icon {
                        display: inline-block;
                        position: absolute;
                        right: 71px;
                        line-height: 30px;
                        top: 1px;
                        width: 30px;
                        text-align: center;
                        cursor: pointer;
                        z-index: 10;
                    }

                    .post-comment-btn {
                        padding: 4px 15px;
                        display: inline-block;
                        background: #6186b5;
                        color: white;
                        float: right;
                        border-radius: 3px;
                        cursor: pointer;
                        word-break: break-word;
                    }
                }

                .comment-attachment-wrapper {
                    padding-left: $comment-profile-pic + 10;

                    @include display(flex);

                    @include flex-direction(row);

                    @include flex-wrap(wrap);
                }
            }

            .comment {
                margin: 10px 0px;

                .head .profile-pic {
                    width: $comment-profile-pic;
                    height: $comment-profile-pic;
                }

                .head .profile-name {
                    padding-left: $comment-profile-pic + 10px;

                    .comment {
                        padding-left: 10px;
                        border-left: 2px solid darken($dark, 30%);
                    }
                }

                .text {
                    max-height: 100px;
                    font-family: 'Ubuntu';
                    font-size: 15px;
                    overflow: hidden;
                    line-height: 25px;

                    &.full-comment {
                        max-height: none;
                        overflow: visible;
                    }
                }

                .comment-image-attachment-wrapper {}

                .comment-image-attachment {
                    display: block;
                    margin-bottom: 10px;

                    // @include flex-grow(1);

                    img {
                        max-width: 300px;
                        height: auto;
                        cursor: pointer;
                    }
                }

                .action-btns {
                    border-top: 0px solid $dark;
                    margin: 0px;
                }

                .action-btn {
                    padding: 5px 1px;
                }
            }
        }
    }

    .question-wrapper {
        $question-changer-margin: 25px;
        $question-changer-height: 50px;
        $question-changer-total-height: $question-changer-margin * 2 + $question-changer-height;

        padding: 20px;

        // min-height: 100vh;
        margin-top: $top-bar-height;
        position: relative;
        background: #fff;
        color: #444;
        width: 50%;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include align-self(stretch);

        @include flex(1);

        pre {
            background: transparent;
            border: 0px;
            font-size: 13px;

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 20px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                border: 2px solid $blue-color;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .q {
            width: 100%;

            @include flex(1);

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .question {
            max-width: 100%;
            font-size: 20px;
            font-family: aller;
        }

        .questionOneLine {
            font-size: 20px;
            font-family: intro;
            width: 100%;
            text-align: center;
        }
    }

    .options-wrapper {
        padding: 20px;
        background: #fff;
        color: #444;

        // min-height: 100vh;
        font-size: 18px;
        font-family: 'aller';
        position: relative;
        width: 50%;
        word-break: break-word;
        margin-top: $top-bar-height;

        // border-right: 2px solid $blue-color;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include flex(1);

        @include align-self(stretch);

        &:before {
            // content: '';
            position: absolute;
            top: 57px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $blue-color;
            transform: rotate(45deg);
            border: 1px solid white;
            border-radius: 3px;
        }

        &:after {
            // content: '';
            position: absolute;
            bottom: 57px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $blue-color;
            transform: rotate(45deg);
            border: 1px solid white;
            border-radius: 3px;
        }

        .prev-next-arrows {
            display: none;

            .prev-arrow {
                position: absolute;
                top: 49px;
                left: -17px;
                width: 30px;
                height: 30px;
                color: white;
                text-align: center;
                font-size: 25px;
                cursor: pointer;
            }

            .next-arrow {
                position: absolute;
                bottom: 65px;
                left: -13px;
                width: 30px;
                height: 30px;
                color: white;
                text-align: center;
                font-size: 25px;
                cursor: pointer;
                z-index: 1;
            }
        }

        pre {
            margin-bottom: 0px;
            padding: 0px;
            font-family: aller;
            font-size: 18px;
            color: #444;
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 20px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                border: 2px solid $blue-color;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .o {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            @include flex(1);
        }

        .ng-option {
            width: 100%;
        }

        .option {
            padding: 20px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);
        }

        .useroption, .useroption_color {
            // padding: 10px;
            // @include flex(1);

            i.fa-stack-2x {
                vertical-align: middle;
                font-size: 33px;
            }

            i.fa-stack-1x {
                vertical-align: middle;
                margin-top: -2px;
            }
        }

        .text {
            margin-left: 10px;
            margin-top: -5px;

            @include flex(1);
        }
    }

    .right-icon-sidebar {
        position: fixed;
        right: 10px;
        top: $top-bar-height + 10px;
        bottom: 10px;

        // height: 100vh;
        width: $right-icon-sidebar-width;
        background: white;

        // border-left: 2px solid white;
        // border-top: 2px solid white;
        // border-bottom: 2px solid white;
        // border-top-left-radius: 15px;
        // border-bottom-left-radius: 15px;
        border-radius: 5px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        // display: none;

        .item-icon {
            color: #444;
            padding: 10px 0px;
            width: $right-icon-sidebar-width;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .caption-text {
            font-size: 15px;
            display: block;
        }

        .top-icon {
            font-size: 20px;
            display: block;
        }
    }

    .third-strip-wrapper {
        background: #fff;
        color: #444;
        width: $big-sidebar-small-screen-width;
        position: fixed;
        right: 10px;
        top: $top-bar-height + 10px;
        bottom: 10px;

        // min-height: 100vh;
        font-family: aller;
        font-size: 15px;
        border-radius: 5px;

        // border-left: 2px solid white;
        // border-top-left-radius: 15px;
        // border-bottom-left-radius: 15px;
        // border-top: 2px solid;
        // border-bottom: 2px solid;

        @include breakpoint(large_desktop) {
            width: $big-sidebar-width;
        }


        max-height: 100vh;

        @include transition($transition);

        @include display(flex);

        @include flex-direction(column);

        &.open {
            right: 10px;
        }

        &.closed {
            right: -$big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                right: -$big-sidebar-width;
            }


            .sidebar-close-icon {
                display: none !important;
            }
        }

        .header-top, .header-name, .tabs, .footer {
            padding: 7px;
        }

        .header-top {
            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            // border-top: 1px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .item {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                @include flex(1);

                cursor: pointer;
            }

            .home {
                display: none;

                @include breakpoint(large_desktop) {
                    @include display(flex);
                }
            }

            .icon {
                width: 100%;
                text-align: center;
            }

            .width-changer {
                span {
                    padding: 5px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }

        .header-name {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-family: 'ITCAvantGarde',sans-serif;
            font-size: 20px;
            font-weight: bold;
        }

        .tabs {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .tab-item {
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);

                &.active {
                    background: rgba(0, 0, 0, 0.1);
                }

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }
            }
        }

        .tab-wrapper {
            @include flex(1);
        }

        .footer {
            border-top: 1px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .item {
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                @include flex(1);

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }

                &.active {
                    background: rgba(0, 0, 0, 0.1);
                }
            }

            .icon {
                width: 100%;
                text-align: center;
            }
        }
    }

    .feedback-wrapper {
        padding: 7px;
        font-family: aller;
        width: 100%;

        .question {
            font-size: 18px;
            margin: 10px 0px;
        }

        .useroption {
            color: white;
            cursor: pointer;
        }

        input[type='radio']:after {
            border-color: white;
        }

        input[type='radio']:before {
            background: white;
        }
    }

    .add-note-wrapper {
        padding: 7px;
        width: 100%;

        @include justify-content(flex-start);

        .note-form {
            width: 100%;
        }

        textarea {
            color: white;
            font-family: aller;
            font-size: 17px;
            box-shadow: 0px 1px 0px white;
        }

        input[type='submit'] {
            background: $blue-color;
            border-bottom: 0px;
            box-shadow: 0px 0px;
        }
    }

    .share-widget-wrapper {
        padding: 7px;
        width: 100%;

        @include justify-content(flex-start);

        color: white;

        .post {
            width: 100%;
        }

        .header {
            font-size: 20px;
            font-family: aller;
            text-align: center;
            margin: 20px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .share-options {
            margin: 30px 0px;
        }

        input[type='radio']:after {
            border-color: white;
        }

        input[type='radio']:before {
            background: white;
        }

        textarea {
            color: white;
            font-family: aller;
            font-size: 17px;
            box-shadow: 0px 1px 0px white;
            margin-bottom: 15px;
        }

        input[type='submit'] {
            background: $blue-color;
            border-bottom: 0px;
            box-shadow: 0px 0px;
        }
    }

    .question-list-wrapper {
        padding: 7px;

        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);

        @include justify-content(flex-start);

        color: #222;

        .question-number-wrapper {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            max-height: 700px;
            overflow: auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);
        }

        .instructions {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 10px;
            font-family: 'Ubuntu';

            @include display(flex);

            @include flex-wrap(wrap);

            & > div {
                width: 50%;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .icon {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
            }
        }

        .question-number {
            // height: 38px;
            // width: 39.5px;
            padding: 5px;

            // border-radius: 3px;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            display: inline-block;
            position: relative;

            // margin: 10px;
            float: left;
            cursor: pointer;

            @include flex(1);

            i {
                font-size: 9px;
                margin: 0px 2px;
            }
        }

        .number {
            font-family: 'Aller';
            font-size: 19px;
            text-align: center;
        }

        .icons {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            margin-top: -7px;
        }

        .right-que-icon {
            // background-color: green;
            color: lighten(green, 5%);
        }

        .wrong-que-icon {
            // background-color: red;
            color: lighten(red, 5%);
        }

        .skip-que-icon {
            // background-color: orange;
            color: lighten(orange, 5%);
        }

        .review-que-icon {
            // background-color: #4183D7;
            color: #4183D7;
        }

        .learn-que-icon {
            // background-color: #6C7A89;
            color: #6C7A89;
        }

        .current-que-icon {
            // background-color: #E4F1FE;
            color: darken(#E4F1FE, 10%);
        }
    }

    .content-wrapper {
        /*
            Accordian - Panel Style
        */
        .panel-group {
            margin: 0px;

            *:focus {
                outline: none;
            }

            .panel {
                margin: 0px;
                border-radius: 0px;
                box-shadow: 0px 0px 0px;
                -webkit-box-shadow: 0px 0px 0px;
            }
        }

        .panel-body {
            padding: 10px;
            border: 0px !important;
            background: darken($gray-color, 10%);

            ul {
                margin-bottom: 0px;
            }

            li {
                padding: 5px 0px;
            }
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            padding: 0px;

            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
       
        }

        .accordion-toggle {
            padding: 15px 10px;
            background-color: white;
            color: #444;
            text-transform: initial;
            display: block;
            text-decoration: none;

            // border-bottom: 1px solid $light-black;
            font-family: 'aller',sans-serif;
        }
    }

    /* Explantion Part */
    .explanation-wrapper {
        // border-top: 2px solid $blue-color;
        color: #333;
        position: relative;
        border-radius: 5px;

        // border-right: 2px solid $green-color;

        @include transition($transition);

        margin-left: 10px;
        background: white;

        &.has-small-sidebar {
            margin-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            margin-right: $big-sidebar-small-screen-width + 20px;

            @include breakpoint(large_desktop) {
                margin-right: $big-sidebar-width + 20px;
            }
        }

        .title {
            text-align: center;
        }

        .highlight {
            cursor: pointer;

            sup {
                border-bottom: 1px solid;
                color: blue;
                padding-bottom: 2px;
            }

            & > .highlight {
                // background-color: #4183D7;

                & > .highlight {
                    // background-color: #87D37C;
               
                }
            }
        }

        .text-wrapper {
            // max-width: 1080px;
            width: 70%;
            margin: 0px auto;
            font-size: 18px;
            font-family: sans-serif;
            padding: 20px;
            position: relative;
            margin-top: 20px;

            @include display(flex);

            @include flex-direction(row);

            .highlight-over, .dehighlight-over {
                position: absolute;
                display: none;
                background: #d2d2d2;
                padding: 2px;
                border: 1px solid #d2d2d2;

                .btn {
                    background: none;
                    box-shadow: 0px 0px 0px;
                    color: black;
                }
            }
        }

        .video-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        $switch-height: 40px;

        .explanation-switch {
            height: $switch-height;
            border: 1px solid #222;
            float: right;
            display: inline-block;
            margin: 10px;
            border-radius: 3px;

            &.hidden {
                visibility: hidden;
            }
        }

        .switch-option {
            display: inline-block;
            height: $switch-height - 1;
            line-height: $switch-height - 10 * 2;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: #222;
                color: white;
            }
        }

        .reading-pref {
            margin: 0px;
            position: absolute;
            top: 50px;
            left: 0px;
            padding: 50px 0px;
            z-index: 10;
            background: #44B39D;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .pref-option-wrapper {
            width: 50px;
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            text-align: center;
            background: rgba(0, 0, 0, 0.1);
            color: white;
            padding: 0px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .pref-option-head {
                display: block;
                padding: 15px 0px;
            }

            .pref-option {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                padding: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                display: block;

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}