.practice-page-wrapper {
    $pre-tag-color: white;
    $header-height: 50px;
    $header-name-height: 66px;
    $page-side-padding: 20px;
    $question-list-width: 370px;

    //#f5f2f2;
    min-height: 100vh;
    background-color: #222;
    padding: 0.1px $page-side-padding;

    // max-width: 1200px;
    // margin: 0px auto;
    position: relative;

    pre {
        background: none !important;
        border: 0px;
        font-family: sans-serif !important;
        font-size: 16px;
        white-space: pre-wrap;

        /* CSS 3 */
        white-space: -moz-pre-wrap;

        /* Mozilla, since 1999 */
        white-space: -pre-wrap;

        /* Opera 4-6 */
        white-space: -o-pre-wrap;

        /* Opera 7 */
        word-wrap: break-word;

        /* Internet Explorer 5.5+ */
        code {
            font-size: 16px;
        }
    }

    .prism-show-language {
        display: none;
    }

    /* Header Part */
    .practice-header {
        position: fixed;
        left: 0px;
        right: 0px;
        padding: 0px $page-side-padding;
        background-color: #222;
        z-index: 2;
    }

    .module-header-name {
        font-size: 20px;
        font-family: 'Ubuntu';
        font-weight: bold;
        padding: 15px;
        height: $header-name-height;
        color: white;
    }

    .header-controls, .footer-controls {
        background-color: #222;
        height: $header-height;

        @include display(flex);

        @include justify-content(space-between);

        @include flex-direction(row);

        i {
            font-size: 15px;
        }

        * {
            background-color: transparent;
            box-shadow: 0px 0px 0px;
            border-radius: 0px;
        }

        .btn {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: $header-height;
            height: $header-height;
        }

        .btn:hover, .btn[disabled]:hover {
            background: none;
        }

        .btn:focus {
            background-color: transparent;
        }

        .btn:active {
            background: none;
        }
    }

    .left-controls, .right-controls {
        line-height: $header-height;
    }

    .footer-controls {
        // margin-top: 20px;
   
    }

    .controls-wrapper {
        display: inline-block;
    }

    .que-count {
        padding: 10px;
        margin-left: 10px;
        color: white;
    }

    /* Middle Part */
    .qa-wrapper {
        background: $pre-tag-color;
        margin-top: $header-name-height + $header-height;
        border-radius: 5px;

        // @include user-select(none);
   
    }

    .no-question-found {
        font-size: 25px;
        text-align: center;
        font-family: 'Aller';
        padding: 10px 0px;
        color: black;
    }

    .question-wrapper {
        padding: 10px;
    }

    .questionOneLine {
        font-family: Consolas, Monaco;
        font-size: 17px;
        color: #446CB3;
        margin: 10px;
    }

    .question {
        font-size: 16px;
        margin: 10px 0px;
    }

    .options-wrapper {
        padding: 0px 10px;
    }

    .option {
        font-family: Consolas, Monaco;
        font-size: 17px;
        padding: 10px;
        width: 100%;
        color: #333;

        & > div {
            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);
        }

        .code {
            display: inline-block;
            max-width: 100%;
        }

        .code, .text {
            margin-left: 10px;
        }
    }

    .with-feedback-form, .with-share-widget {
        width: 70%;
        display: inline-block;
    }

    .with-add-note {
        width: 70%;
        display: inline-block;
    }

    .with-question-list {
        width: calc(100% - #{$question-list-width});
        display: inline-block;
    }

    .close-button-sidebar {
        margin-bottom: 10px;
        font-size: 20px;
        background-color: white;
        border-radius: 3px;
        height: 30px;
        width: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        float: right;
        cursor: pointer;
    }

    .width-buttons-sidebar {
        margin-bottom: 10px;
        font-size: 20px;
        background-color: white;
        border-radius: 3px;
        height: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        float: left;
        cursor: pointer;

        .w-btn {
            padding: 0px 10px;
        }
    }

    .add-note-wrapper {
        width: 30%;
        display: inline-block;
        position: fixed;
        padding: 8px;
        margin-top: $header-name-height + $header-height;

        .note-form {
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
        }

        textarea {
            font-family: 'Ubuntu';
            color: #222;
        }

        .btn[disabled] {
            background-color: #ccc;
        }

        .note-list {
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
            max-height: calc(100vh - 460px);
            overflow: auto;
        }

        .note {
            background-color: white;
            color: black;
            clear: both;
            word-wrap: break-word;
            position: relative;
            padding: 10px 0px;
            border-bottom: 1px solid;

            &:last-child {
                border-bottom: 0px;
            }
        }

        .note-text {
            display: block;
            word-wrap: break-word;
            width: calc(100% - 20px);
        }

        .note-icon {
            position: absolute;
            top: 5px;
            right: 0px;
        }
    }

    .feedback-wrapper {
        width: 30%;
        display: inline-block;
        position: fixed;
        margin: 4px;
        margin-top: $header-name-height + $header-height;

        .feedback-que {
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .question {
            font-family: 'aller';
            font-size: 15px;
        }

        .options {
            font-family: 'Ubuntu';
        }
    }

    .question-list-wrapper {
        width: $question-list-width;
        display: inline-block;
        position: fixed;
        margin: 4px;
        margin-top: $header-name-height + $header-height;
        overflow: auto;

        .question-number-wrapper {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            max-height: 700px;
            overflow: auto;
        }

        .instructions {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 10px;
            font-family: 'Ubuntu';

            @include display(flex);

            @include flex-wrap(wrap);

            & > div {
                width: 50%;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .icon {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
            }
        }

        .question-number {
            height: 38px;
            width: 38px;
            border-radius: 3px;
            border: 1px solid #222;
            display: inline-block;
            position: relative;
            margin: 10px;
            float: left;
            cursor: pointer;

            i {
                font-size: 9px;
                margin: 0px 2px;
            }
        }

        .number {
            font-family: 'Aller';
            font-size: 19px;
            text-align: center;
        }

        .icons {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            margin-top: -7px;
        }

        .right-que-icon {
            background-color: green;
            color: white;
        }

        .wrong-que-icon {
            background-color: red;
            color: white;
        }

        .skip-que-icon {
            background-color: orange;
            color: white;
        }

        .review-que-icon {
            background-color: #4183D7;
            color: white;
        }

        .learn-que-icon {
            background-color: #6C7A89;
            color: white;
        }

        .current-que-icon {
            background-color: #E4F1FE;
            color: black;
        }
    }

    .share-widget-wrapper {
        width: 30%;
        display: inline-block;
        position: fixed;
        margin: 4px;
        margin-top: $header-name-height + $header-height;

        .post {
            background-color: white;
            border-radius: 3px;
            padding: 0px 10px 10px;
            margin-bottom: 10px;
        }

        .header {
            text-align: center;
            padding: 10px 0px;
            border-bottom: 1px solid;
            font-size: 15px;
            font-family: ("Ubuntu",);
        }

        .question {
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
            padding-bottom: 10px;
        }

        .share-options {
            & > span {
                margin: 0px 10px 0px;
            }

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            margin: 10px 0px;
        }
    }

    /* Explantion Part */
    .explanation-wrapper {
        margin-bottom: 10px;
        border-top: 2px solid black;
        color: #333;

        .title {
            text-align: center;
        }

        .highlight {
            cursor: pointer;

            sup {
                border-bottom: 1px solid;
                color: blue;
                padding-bottom: 2px;
            }

            & > .highlight {
                // background-color: #4183D7;

                & > .highlight {
                    // background-color: #87D37C;
               
                }
            }
        }

        .text-wrapper {
            // max-width: 1080px;
            width: 70%;
            margin: 0px auto;
            font-size: 18px;
            font-family: sans-serif;
            padding: 0px 20px;
            position: relative;
            margin-top: 80px;

            @include display(flex);

            @include flex-direction(row);

            .highlight-over, .dehighlight-over {
                position: absolute;
                display: none;
                background: #d2d2d2;
                padding: 2px;
                border: 1px solid #d2d2d2;

                .btn {
                    background: none;
                    box-shadow: 0px 0px 0px;
                    color: black;
                }
            }
        }

        .video-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        $switch-height: 40px;

        .explanation-switch {
            height: $switch-height;
            border: 1px solid #222;
            float: right;
            display: inline-block;
            margin: 10px;
            border-radius: 3px;

            &.hidden {
                visibility: hidden;
            }
        }

        .reading-pref {
            // height: $switch-height;
            // border: 1px solid #222;
            float: left;

            // display: inline-block;
            margin: 10px;
            position: absolute;
            z-index: 10;

            // border-radius: 3px;
       
        }

        .switch-option {
            display: inline-block;
            height: $switch-height - 1;
            line-height: $switch-height - 10 * 2;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: #222;
                color: white;
            }
        }

        .pref-option-wrapper {
            width: 40px;
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            text-align: center;
            border: 1px solid;

            &:nth-of-type(2n+1) {
                border-right: 1px solid;
            }

            &:nth-of-type(2n) {
                margin-left: -4px;
            }

            .pref-option-head {
                display: block;
                padding: 5px;
            }

            .pref-option {
                cursor: pointer;
                background-color: #555;
                color: white;
                padding: 5px;
                border-bottom: 1px solid;
                display: block;

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}

.practice-page-wrapper-new {
    $blue-color: #4B96AE;
    $shiny-blue-color: #1d99d1;
    $red-color: #D24D57;
    $green-color: #44B39D;
    $big-sidebar-width: 25%;
    $top-bar-height: 50px;
    $right-icon-sidebar-width: 100px;
    $transition: all 0.2s ease-in;

    .no-question-found {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        font-size: 30px;
        font-family: aller;
        text-transform: uppercase;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .head-bar-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        height: $top-bar-height;
        background: #fff;
        color: #444;
        z-index: 20;

        // border-bottom: 1px solid white;
        border-right: 2px solid $green-color;

        @include transition($transition);

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        @include breakpoint(large_desktop) {
            @include justify-content(center);
        }


        &.has-small-sidebar {
            right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            right: $big-sidebar-width;
        }

        // .left-side {
        // @include flex(1);
        .logo {
            display: none;

            @include breakpoint(large_desktop) {
                display: block;
                position: absolute;
                top: -10px;
                left: 10px;

                // text-shadow: 2px 2px 2px #444;
                font-size: 40px;
                font-family: aller;
                color: $shiny-blue-color;
            }
        }

        .module-chapter-name {
            font-family: 'ITCAvantGarde',sans-serif;
            font-size: 20px;
            padding: 0px 10px;
            line-height: $top-bar-height;
            color: #444;
            background: #fff;
            font-weight: bold;

            .course-name {
                color: $shiny-blue-color;
                font-size: 20px;
            }

            .module-name {
                color: #444;
            }
        }

        // }

        .question-changer {
            text-align: center;
            height: $top-bar-height;
            position: absolute;
            top: 0px;
            right: 0px;

            @include align-self(flex-start);
        }

        .arrow {
            display: inline-block;
            margin: 0px 5px;
            cursor: pointer;
            color: $shiny-blue-color;

            i {
                font-size: 30px;
                padding: 10px;
            }
        }

        .que-count {
            font-size: 20px;
            font-family: intro;
            position: relative;
            top: -5px;
        }

        .right-side {
            position: relative;
            height: $top-bar-height;
            border-right: 2px solid $green-color;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            @include flex(1);

            .question-changer {
                text-align: center;
                height: $top-bar-height;
                position: absolute;
                top: 0px;
                right: 0px;

                @include align-self(flex-start);
            }

            .arrow {
                display: inline-block;
                margin: 0px 5px;
                cursor: pointer;

                i {
                    font-size: 30px;
                    padding: 10px;
                }
            }

            .que-count {
                font-size: 20px;
                font-family: intro;
                position: relative;
                top: -5px;
            }

            .action-btn-wrapper {
                position: absolute;
                top: 0px;
                left: 0px;
                height: $top-bar-height;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-end);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }

            .action-btn {
                padding: 0px 10px;
                font-size: 15px;
                cursor: pointer;
                height: $top-bar-height;
                line-height: $top-bar-height;
                font-family: aller;
                text-transform: uppercase;

                &.active {
                    // background: $blue-color;
               
                }
            }
        }
    }

    pre {
        background: transparent;
        border: 0px;
        font-size: 13px;

        @include breakpoint(large_desktop) {
            font-size: 20px;
        }
    }

    .prism-show-language {
        display: none;
    }

    .qa-wrapper {
        min-height: 100vh;

        @include transition($transition);

        @include display(flex);

        @include align-items(stretch);

        @include justify-content(space-between);

        @include flex-direction(row);

        &.has-small-sidebar {
            padding-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            padding-right: $big-sidebar-width;
        }
    }

    .question-wrapper {
        $question-changer-margin: 25px;
        $question-changer-height: 50px;
        $question-changer-total-height: $question-changer-margin * 2 + $question-changer-height;

        padding: 20px;
        min-height: 100vh;
        padding-top: $top-bar-height;
        position: relative;
        width: 50%;
        background: #fff;
        color: #444;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include flex(1);

        pre {
            background: transparent;
            border: 0px;
            font-size: 13px;

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 20px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                border: 2px solid $blue-color;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .q {
            width: 100%;

            @include flex(1);

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .question {
            max-width: 100%;
            font-size: 20px;
            font-family: aller;
        }

        .questionOneLine {
            font-size: 20px;
            font-family: intro;
            width: 100%;
            text-align: center;
        }
    }

    .options-wrapper {
        padding: 20px;
        background: #fff;
        color: #444;
        min-height: 100vh;
        font-size: 18px;
        font-family: 'aller';
        position: relative;
        width: 50%;
        word-break: break-word;
        padding-top: $top-bar-height;
        border-right: 2px solid $green-color;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include flex(1);

        &:before {
            // content: '';
            position: absolute;
            top: 57px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $blue-color;
            transform: rotate(45deg);
            border: 1px solid white;
            border-radius: 3px;
        }

        &:after {
            // content: '';
            position: absolute;
            bottom: 57px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $blue-color;
            transform: rotate(45deg);
            border: 1px solid white;
            border-radius: 3px;
        }

        .prev-next-arrows {
            display: none;

            .prev-arrow {
                position: absolute;
                top: 49px;
                left: -17px;
                width: 30px;
                height: 30px;
                color: white;
                text-align: center;
                font-size: 25px;
                cursor: pointer;
            }

            .next-arrow {
                position: absolute;
                bottom: 65px;
                left: -13px;
                width: 30px;
                height: 30px;
                color: white;
                text-align: center;
                font-size: 25px;
                cursor: pointer;
                z-index: 1;
            }
        }

        pre {
            margin-bottom: 0px;
            padding: 0px;
            font-family: aller;
            font-size: 18px;
            color: #444;
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 20px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                border: 2px solid $blue-color;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .o {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            @include flex(1);
        }

        .ng-option {
            width: 100%;
        }

        .option {
            padding: 20px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);
        }

        .useroption, .useroption_color {
            // padding: 10px;
            // @include flex(1);

            i.fa-stack-2x {
                vertical-align: middle;
                font-size: 33px;
            }

            i.fa-stack-1x {
                vertical-align: middle;
                margin-top: -2px;
            }
        }

        .text {
            margin-left: 10px;
            margin-top: -5px;

            @include flex(1);
        }
    }

    .right-icon-sidebar {
        position: fixed;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: $right-icon-sidebar-width;
        background: $green-color;
        border-left: 2px solid white;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .item-icon {
            color: #fff;
            padding: 10px 0px;
            width: $right-icon-sidebar-width;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .caption-text {
            font-size: 15px;
            display: block;
        }

        .top-icon {
            font-size: 20px;
            display: block;
        }
    }

    .third-strip-wrapper {
        padding: 20px;
        background: $green-color;
        color: white;
        width: $big-sidebar-width;
        position: fixed;
        right: 0px;
        top: 0px;
        min-height: 100vh;
        padding-top: 70px;
        border-left: 3px solid white;

        @include transition($transition);

        @include display(flex);

        @include align-items(flex-start);

        @include justify-content(flex-start);

        @include flex-direction(column);

        @include flex(1);

        &.open {
            right: 0%;
        }

        &.closed {
            right: -$big-sidebar-width;

            .sidebar-close-icon {
                display: none !important;
            }
        }

        .sidebar-close-icon {
            position: absolute;
            width: 25px;
            height: 25px;
            text-align: center;
            background: $green-color;
            color: #fff;
            top: 50%;
            left: -12.5px;
            z-index: 10;
            font-size: 13px;
            border-radius: 3px;
            border: 2px solid white;
            cursor: pointer;

            @include transform(rotate(45deg));
        }

        .question-changer {
            text-align: center;
            height: $top-bar-height;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;

            @include align-self(flex-start);
        }

        .arrow {
            display: inline-block;
            margin: 0px 0px;
            cursor: pointer;
            line-height: $top-bar-height;

            i {
                font-size: 20px;
                padding: 10px;
            }
        }

        .action-btn-wrapper {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            background: darken($green-color, 5%);
            height: $top-bar-height;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            @include flex-wrap(wrap);
        }

        .action-btn {
            padding: 0px 15px;
            font-size: 15px;
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            font-family: aller;
            text-transform: uppercase;
            font-weight: bold;

            &.active {
                background: $green-color;
            }
        }

        .feedback-btn {
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }

    .feedback-wrapper {
        font-family: aller;
        width: 100%;

        .question {
            font-size: 18px;
            margin: 10px 0px;
        }

        .useroption {
            color: white;
            cursor: pointer;
        }

        input[type='radio']:after {
            border-color: white;
        }

        input[type='radio']:before {
            background: white;
        }
    }

    .add-note-wrapper {
        width: 100%;

        @include justify-content(flex-start);

        .note-form {
            width: 100%;
        }

        textarea {
            color: white;
            font-family: aller;
            font-size: 17px;
            box-shadow: 0px 1px 0px white;
        }

        input[type='submit'] {
            background: $blue-color;
            border-bottom: 0px;
            box-shadow: 0px 0px;
        }
    }

    .share-widget-wrapper {
        width: 100%;

        @include justify-content(flex-start);

        color: white;

        .post {
            width: 100%;
        }

        .header {
            font-size: 20px;
            font-family: aller;
            text-align: center;
            margin: 20px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .share-options {
            margin: 30px 0px;
        }

        input[type='radio']:after {
            border-color: white;
        }

        input[type='radio']:before {
            background: white;
        }

        textarea {
            color: white;
            font-family: aller;
            font-size: 17px;
            box-shadow: 0px 1px 0px white;
            margin-bottom: 15px;
        }

        input[type='submit'] {
            background: $blue-color;
            border-bottom: 0px;
            box-shadow: 0px 0px;
        }
    }

    .question-list-wrapper {
        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);

        @include justify-content(flex-start);

        color: #222;

        .question-number-wrapper {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            max-height: 700px;
            overflow: auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);
        }

        .instructions {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 10px;
            font-family: 'Ubuntu';

            @include display(flex);

            @include flex-wrap(wrap);

            & > div {
                width: 50%;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .icon {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
            }
        }

        .question-number {
            // height: 38px;
            // width: 39.5px;
            padding: 5px;

            // border-radius: 3px;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            display: inline-block;
            position: relative;

            // margin: 10px;
            float: left;
            cursor: pointer;

            @include flex(1);

            i {
                font-size: 9px;
                margin: 0px 2px;
            }
        }

        .number {
            font-family: 'Aller';
            font-size: 19px;
            text-align: center;
        }

        .icons {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            margin-top: -7px;
        }

        .right-que-icon {
            // background-color: green;
            color: lighten(green, 5%);
        }

        .wrong-que-icon {
            // background-color: red;
            color: lighten(red, 5%);
        }

        .skip-que-icon {
            // background-color: orange;
            color: lighten(orange, 5%);
        }

        .review-que-icon {
            // background-color: #4183D7;
            color: #4183D7;
        }

        .learn-que-icon {
            // background-color: #6C7A89;
            color: #6C7A89;
        }

        .current-que-icon {
            // background-color: #E4F1FE;
            color: darken(#E4F1FE, 10%);
        }
    }

    .close-button-sidebar {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 0px 10px;
        cursor: pointer;
        background: darken($red-color, 9%);
        color: white;
        font-size: 17px;
        border-radius: 3px;
        display: none;
    }

    /* Explantion Part */
    .explanation-wrapper {
        border-top: 2px solid $blue-color;
        color: #333;
        position: relative;
        border-right: 2px solid $green-color;

        @include transition($transition);

        &.has-small-sidebar {
            margin-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            margin-right: $big-sidebar-width;
        }

        .title {
            text-align: center;
        }

        .highlight {
            cursor: pointer;

            sup {
                border-bottom: 1px solid;
                color: blue;
                padding-bottom: 2px;
            }

            & > .highlight {
                // background-color: #4183D7;

                & > .highlight {
                    // background-color: #87D37C;
               
                }
            }
        }

        .text-wrapper {
            // max-width: 1080px;
            width: 70%;
            margin: 0px auto;
            font-size: 18px;
            font-family: sans-serif;
            padding: 0px 20px;
            position: relative;
            margin-top: 20px;

            @include display(flex);

            @include flex-direction(row);

            .highlight-over, .dehighlight-over {
                position: absolute;
                display: none;
                background: #d2d2d2;
                padding: 2px;
                border: 1px solid #d2d2d2;

                .btn {
                    background: none;
                    box-shadow: 0px 0px 0px;
                    color: black;
                }
            }
        }

        .video-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        $switch-height: 40px;

        .explanation-switch {
            height: $switch-height;
            border: 1px solid #222;
            float: right;
            display: inline-block;
            margin: 10px;
            border-radius: 3px;

            &.hidden {
                visibility: hidden;
            }
        }

        .switch-option {
            display: inline-block;
            height: $switch-height - 1;
            line-height: $switch-height - 10 * 2;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: #222;
                color: white;
            }
        }

        .reading-pref {
            margin: 0px;
            position: absolute;
            top: 50px;
            left: 0px;
            padding: 50px 0px;
            z-index: 10;
            background: #44B39D;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .pref-option-wrapper {
            width: 50px;
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            text-align: center;
            background: rgba(0, 0, 0, 0.1);
            color: white;
            padding: 0px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .pref-option-head {
                display: block;
                padding: 15px 0px;
            }

            .pref-option {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                padding: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                display: block;

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}

.practice-page-wrapper-new-2 {
    $blue-color: #4B96AE;
    $shiny-blue-color: #1d99d1;
    $red-color: #D24D57;
    $green-color: #44B39D;
    $big-sidebar-width: 400px;
    $big-sidebar-small-screen-width: 320px;
    $top-bar-height: 50px;
    $right-icon-sidebar-width: 100px;
    $transition: all 0.2s ease-in;

    .no-question-found {
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        font-size: 30px;
        font-family: aller;
        text-transform: uppercase;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);
    }

    .head-bar-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        height: $top-bar-height;
        background: #fff;
        color: #444;
        z-index: 20;

        // border-bottom: 1px solid white;
        // border-right: 2px solid $blue-color;

        @include transition($transition);

        @include display(flex);

        @include align-items(center);

        @include justify-content(flex-start);

        @include flex-direction(row);

        @include breakpoint(large_desktop) {
            @include justify-content(center);
        }


        &.has-small-sidebar {
            right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            right: $big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                right: $big-sidebar-width;
            }
        }

        // .left-side {
        // @include flex(1);
        .logo {
            display: none;

            @include breakpoint(large_desktop) {
                display: block;
                position: absolute;
                top: -10px;
                left: 10px;

                // text-shadow: 2px 2px 2px #444;
                font-size: 40px;
                font-family: aller;
                color: #1d99d1;

                // text-shadow: 2px 2px 2px #444;
            }
        }

        .module-chapter-name {
            font-family: 'ITCAvantGarde',sans-serif;
            font-size: 20px;
            padding: 0px 10px;
            line-height: $top-bar-height;
            color: #444;
            background: #fff;
            font-weight: bold;

            .course-name {
                color: $shiny-blue-color;
                font-size: 20px;
            }

            .module-name {
                color: #444;
            }
        }

        // }

        .question-changer {
            text-align: center;
            height: $top-bar-height;
            position: absolute;
            top: 0px;
            right: 0px;

            @include align-self(flex-start);
        }

        .arrow {
            display: inline-block;
            margin: 0px 5px;
            cursor: pointer;
            color: $shiny-blue-color;

            i {
                font-size: 30px;
                padding: 10px;
            }
        }

        .que-count {
            font-size: 20px;
            font-family: intro;
            position: relative;
            top: -5px;
        }

        .right-side {
            position: relative;
            height: $top-bar-height;

            // border-right: 2px solid $green-color;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);

            @include flex-direction(row);

            @include flex(1);

            .question-changer {
                text-align: center;
                height: $top-bar-height;
                position: absolute;
                top: 0px;
                right: 0px;

                @include align-self(flex-start);
            }

            .arrow {
                display: inline-block;
                margin: 0px 5px;
                cursor: pointer;

                i {
                    font-size: 30px;
                    padding: 10px;
                }
            }

            .que-count {
                font-size: 20px;
                font-family: intro;
                position: relative;
                top: -5px;
            }

            .action-btn-wrapper {
                position: absolute;
                top: 0px;
                left: 0px;
                height: $top-bar-height;

                @include display(flex);

                @include align-items(center);

                @include justify-content(flex-end);

                @include flex-direction(row);

                @include flex-wrap(wrap);
            }

            .action-btn {
                padding: 0px 10px;
                font-size: 15px;
                cursor: pointer;
                height: $top-bar-height;
                line-height: $top-bar-height;
                font-family: aller;
                text-transform: uppercase;

                &.active {
                    // background: $blue-color;
               
                }
            }
        }
    }

    pre {
        background: transparent;
        border: 0px;
        font-size: 13px;

        @include breakpoint(large_desktop) {
            font-size: 20px;
        }
    }

    .prism-show-language {
        display: none;
    }

    .qa-wrapper {
        min-height: 100vh;
        position: relative;

        @include transition($transition);

        @include display(flex);

        // @include breakpoint(large_desktop) {
        @include align-items(stretch);

        @include justify-content(space-between);

        @include flex-direction(row);

        // }

        &.has-small-sidebar {
            margin-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            margin-right: $big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                margin-right: $big-sidebar-width;
            }
        }
    }

    .qa-wrapper.vertical {
        @include align-items(center !important);

        @include justify-content(center !important);

        @include flex-direction(column !important);

        .question-wrapper, .options-wrapper {
            width: auto !important;
        }
    }

    .layout-switch {
        position: absolute;
        right: 10px;
        top: 60px;
        font-size: 20px;
        z-index: 2;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        .item {
            cursor: pointer;
            padding: 10px;
            width: 40px;
            text-align: center;
            border: 1px solid $shiny-blue-color;

            &.active {
                background: $shiny-blue-color;
                color: white;
            }
        }
    }

    .question-wrapper {
        $question-changer-margin: 25px;
        $question-changer-height: 50px;
        $question-changer-total-height: $question-changer-margin * 2 + $question-changer-height;

        padding: 20px;
        min-height: 100vh;
        padding-top: $top-bar-height;
        position: relative;
        background: #fff;
        color: #444;
        width: 50%;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include flex(1);

        pre {
            background: transparent;
            border: 0px;
            font-size: 13px;

            @include breakpoint(large_desktop) {
                font-size: 20px;
            }
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 20px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                border: 2px solid $blue-color;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .q {
            width: 100%;

            @include flex(1);

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .question {
            max-width: 100%;
            font-size: 20px;
            font-family: aller;
        }

        .questionOneLine {
            font-size: 20px;
            font-family: intro;
            width: 100%;
            text-align: center;
        }
    }

    .options-wrapper {
        padding: 20px;
        background: #fff;
        color: #444;
        min-height: 100vh;
        font-size: 18px;
        font-family: 'aller';
        position: relative;
        width: 50%;
        word-break: break-word;
        padding-top: $top-bar-height;

        // border-right: 2px solid $blue-color;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        @include flex(1);

        &:before {
            // content: '';
            position: absolute;
            top: 57px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $blue-color;
            transform: rotate(45deg);
            border: 1px solid white;
            border-radius: 3px;
        }

        &:after {
            // content: '';
            position: absolute;
            bottom: 57px;
            left: -15px;
            width: 30px;
            height: 30px;
            background: $blue-color;
            transform: rotate(45deg);
            border: 1px solid white;
            border-radius: 3px;
        }

        .prev-next-arrows {
            display: none;

            .prev-arrow {
                position: absolute;
                top: 49px;
                left: -17px;
                width: 30px;
                height: 30px;
                color: white;
                text-align: center;
                font-size: 25px;
                cursor: pointer;
            }

            .next-arrow {
                position: absolute;
                bottom: 65px;
                left: -13px;
                width: 30px;
                height: 30px;
                color: white;
                text-align: center;
                font-size: 25px;
                cursor: pointer;
                z-index: 1;
            }
        }

        pre {
            margin-bottom: 0px;
            padding: 0px;
            font-family: aller;
            font-size: 18px;
            color: #444;
        }

        .title {
            text-align: center;
            font-size: 23px;
            font-family: aller;
            margin: 50px 0px 20px;

            // text-transform: uppercase;
            font-weight: normal;
            color: $shiny-blue-color;

            // border-bottom: 2px solid $blue-color;
            position: relative;
            padding: 5px 20px;

            &:before {
                // content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background: white;
                border: 2px solid $blue-color;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .o {
            width: 100%;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            @include flex(1);
        }

        .ng-option {
            width: 100%;
        }

        .option {
            padding: 20px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;

            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-start);
        }

        .useroption, .useroption_color {
            // padding: 10px;
            // @include flex(1);

            i.fa-stack-2x {
                vertical-align: middle;
                font-size: 33px;
            }

            i.fa-stack-1x {
                vertical-align: middle;
                margin-top: -2px;
            }
        }

        .text {
            margin-left: 10px;
            margin-top: -5px;

            @include flex(1);
        }
    }

    .right-icon-sidebar {
        position: fixed;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: $right-icon-sidebar-width;
        background: $blue-color;
        border-left: 2px solid white;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(column);

        .item-icon {
            color: #fff;
            padding: 10px 0px;
            width: $right-icon-sidebar-width;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .caption-text {
            font-size: 15px;
            display: block;
        }

        .top-icon {
            font-size: 20px;
            display: block;
        }
    }

    .third-strip-wrapper {
        background: $blue-color;
        color: white;
        width: $big-sidebar-small-screen-width;
        position: fixed;
        right: 0px;
        top: 0px;
        min-height: 100vh;
        font-family: aller;
        font-size: 15px;
        border-left: 2px solid white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top: 2px solid;
        border-bottom: 2px solid;

        @include breakpoint(large_desktop) {
            width: $big-sidebar-width;
        }


        max-height: 100vh;

        @include transition($transition);

        @include display(flex);

        @include flex-direction(column);

        &.open {
            right: 0%;
        }

        &.closed {
            right: -$big-sidebar-small-screen-width;

            @include breakpoint(large_desktop) {
                right: -$big-sidebar-width;
            }


            .sidebar-close-icon {
                display: none !important;
            }
        }

        .header-top, .header-name, .tabs, .footer {
            padding: 7px;
        }

        .header-top {
            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            // border-top: 1px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .item {
                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                @include flex(1);

                cursor: pointer;
            }

            .home {
                display: none;

                @include breakpoint(large_desktop) {
                    @include display(flex);
                }
            }

            .icon {
                width: 100%;
                text-align: center;
            }

            .width-changer {
                span {
                    padding: 5px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
        }

        .header-name {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid white;
            font-family: 'ITCAvantGarde',sans-serif;
            font-size: 20px;
            font-weight: bold;
        }

        .tabs {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .tab-item {
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex(1);

                &.active {
                    background: rgba(0, 0, 0, 0.1);
                }

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }
            }
        }

        .tab-wrapper {
            @include flex(1);
        }

        .footer {
            border-top: 1px solid white;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            .item {
                cursor: pointer;

                @include display(flex);

                @include align-items(center);

                @include justify-content(center);

                @include flex-direction(row);

                @include flex-wrap(wrap);

                @include flex(1);

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }

                &.active {
                    background: rgba(0, 0, 0, 0.1);
                }
            }

            .icon {
                width: 100%;
                text-align: center;
            }
        }
    }

    .feedback-wrapper {
        padding: 7px;
        font-family: aller;
        width: 100%;

        .question {
            font-size: 18px;
            margin: 10px 0px;
        }

        .useroption {
            color: white;
            cursor: pointer;
        }

        input[type='radio']:after {
            border-color: white;
        }

        input[type='radio']:before {
            background: white;
        }
    }

    .add-note-wrapper {
        padding: 7px;
        width: 100%;

        @include justify-content(flex-start);

        .note-form {
            width: 100%;
        }

        textarea {
            color: white;
            font-family: aller;
            font-size: 17px;
            box-shadow: 0px 1px 0px white;
        }

        input[type='submit'] {
            background: $blue-color;
            border-bottom: 0px;
            box-shadow: 0px 0px;
        }
    }

    .share-widget-wrapper {
        padding: 7px;
        width: 100%;

        @include justify-content(flex-start);

        color: white;

        .post {
            width: 100%;
        }

        .header {
            font-size: 20px;
            font-family: aller;
            text-align: center;
            margin: 20px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .share-options {
            margin: 30px 0px;
        }

        input[type='radio']:after {
            border-color: white;
        }

        input[type='radio']:before {
            background: white;
        }

        textarea {
            color: white;
            font-family: aller;
            font-size: 17px;
            box-shadow: 0px 1px 0px white;
            margin-bottom: 15px;
        }

        input[type='submit'] {
            background: $blue-color;
            border-bottom: 0px;
            box-shadow: 0px 0px;
        }
    }

    .question-list-wrapper {
        padding: 7px;

        @include display(flex);

        @include align-items(center);

        @include flex-direction(row);

        @include justify-content(flex-start);

        color: #222;

        .question-number-wrapper {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            max-height: 700px;
            overflow: auto;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            @include flex-wrap(wrap);
        }

        .instructions {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 10px;
            font-family: 'Ubuntu';

            @include display(flex);

            @include flex-wrap(wrap);

            & > div {
                width: 50%;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .icon {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
            }
        }

        .question-number {
            // height: 38px;
            // width: 39.5px;
            padding: 5px;

            // border-radius: 3px;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            display: inline-block;
            position: relative;

            // margin: 10px;
            float: left;
            cursor: pointer;

            @include flex(1);

            i {
                font-size: 9px;
                margin: 0px 2px;
            }
        }

        .number {
            font-family: 'Aller';
            font-size: 19px;
            text-align: center;
        }

        .icons {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            margin-top: -7px;
        }

        .right-que-icon {
            // background-color: green;
            color: lighten(green, 5%);
        }

        .wrong-que-icon {
            // background-color: red;
            color: lighten(red, 5%);
        }

        .skip-que-icon {
            // background-color: orange;
            color: lighten(orange, 5%);
        }

        .review-que-icon {
            // background-color: #4183D7;
            color: #4183D7;
        }

        .learn-que-icon {
            // background-color: #6C7A89;
            color: #6C7A89;
        }

        .current-que-icon {
            // background-color: #E4F1FE;
            color: darken(#E4F1FE, 10%);
        }
    }

    .content-wrapper {
        /*
            Accordian - Panel Style
        */
        .panel-group {
            margin: 0px;

            *:focus {
                outline: none;
            }

            .panel {
                margin: 0px;
                border-radius: 0px;
                box-shadow: 0px 0px 0px;
                -webkit-box-shadow: 0px 0px 0px;
            }
        }

        .panel-body {
            padding: 10px;
            border: 0px !important;
            background: darken($blue-color, 10%);

            ul {
                margin-bottom: 0px;
            }

            li {
                padding: 5px 0px;
            }
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            padding: 0px;

            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
       
        }

        .accordion-toggle {
            padding: 15px 10px;
            background-color: $blue-color;
            color: #fff;
            text-transform: initial;

            // border-bottom: 1px solid $light-black;
            font-family: 'Ubuntu',sans-serif;
        }
    }

    /* Explantion Part */
    .explanation-wrapper {
        border-top: 2px solid $blue-color;
        color: #333;
        position: relative;
        border-right: 2px solid $green-color;

        @include transition($transition);

        &.has-small-sidebar {
            margin-right: $right-icon-sidebar-width;
        }

        &.has-big-sidebar {
            margin-right: $big-sidebar-width;
        }

        .title {
            text-align: center;
        }

        .highlight {
            cursor: pointer;

            sup {
                border-bottom: 1px solid;
                color: blue;
                padding-bottom: 2px;
            }

            & > .highlight {
                // background-color: #4183D7;

                & > .highlight {
                    // background-color: #87D37C;
               
                }
            }
        }

        .text-wrapper {
            // max-width: 1080px;
            width: 70%;
            margin: 0px auto;
            font-size: 18px;
            font-family: sans-serif;
            padding: 0px 20px;
            position: relative;
            margin-top: 20px;

            @include display(flex);

            @include flex-direction(row);

            .highlight-over, .dehighlight-over {
                position: absolute;
                display: none;
                background: #d2d2d2;
                padding: 2px;
                border: 1px solid #d2d2d2;

                .btn {
                    background: none;
                    box-shadow: 0px 0px 0px;
                    color: black;
                }
            }
        }

        .video-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        $switch-height: 40px;

        .explanation-switch {
            height: $switch-height;
            border: 1px solid #222;
            float: right;
            display: inline-block;
            margin: 10px;
            border-radius: 3px;

            &.hidden {
                visibility: hidden;
            }
        }

        .switch-option {
            display: inline-block;
            height: $switch-height - 1;
            line-height: $switch-height - 10 * 2;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: #222;
                color: white;
            }
        }

        .reading-pref {
            margin: 0px;
            position: absolute;
            top: 50px;
            left: 0px;
            padding: 50px 0px;
            z-index: 10;
            background: #44B39D;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);
        }

        .pref-option-wrapper {
            width: 50px;
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            text-align: center;
            background: rgba(0, 0, 0, 0.1);
            color: white;
            padding: 0px 0px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .pref-option-head {
                display: block;
                padding: 15px 0px;
            }

            .pref-option {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                padding: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                display: block;

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}