.practice-page-wrapper {
    $pre-tag-color: white;
    $header-height: 50px;
    $header-name-height: 66px;
    $page-side-padding: 20px;
    $question-list-width: 370px;

    //#f5f2f2;
    min-height: 100vh;
    background-color: #222;
    padding: 0.1px $page-side-padding;

    // max-width: 1200px;
    // margin: 0px auto;
    position: relative;

    pre {
        background: none !important;
        border: 0px;
        font-family: sans-serif !important;
        font-size: 16px;
        white-space: pre-wrap;

        /* CSS 3 */
        white-space: -moz-pre-wrap;

        /* Mozilla, since 1999 */
        white-space: -pre-wrap;

        /* Opera 4-6 */
        white-space: -o-pre-wrap;

        /* Opera 7 */
        word-wrap: break-word;

        /* Internet Explorer 5.5+ */
        code {
            font-size: 16px;
        }
    }

    .prism-show-language {
        display: none;
    }

    /* Header Part */
    .practice-header {
        position: fixed;
        left: 0px;
        right: 0px;
        padding: 0px $page-side-padding;
        background-color: #222;
        z-index: 2;
    }

    .module-header-name {
        font-size: 20px;
        font-family: 'Ubuntu';
        font-weight: bold;
        padding: 15px;
        height: $header-name-height;
        color: white;
    }

    .header-controls, .footer-controls {
        background-color: #222;
        height: $header-height;

        @include display(flex);

        @include justify-content(space-between);

        @include flex-direction(row);

        i {
            font-size: 15px;
        }

        * {
            background-color: transparent;
            box-shadow: 0px 0px 0px;
            border-radius: 0px;
        }

        .btn {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: $header-height;
            height: $header-height;
        }

        .btn:hover, .btn[disabled]:hover {
            background: none;
        }

        .btn:focus {
            background-color: transparent;
        }

        .btn:active {
            background: none;
        }
    }

    .left-controls, .right-controls {
        line-height: $header-height;
    }

    .footer-controls {
        // margin-top: 20px;
   
    }

    .controls-wrapper {
        display: inline-block;
    }

    .que-count {
        padding: 10px;
        margin-left: 10px;
        color: white;
    }

    /* Middle Part */
    .qa-wrapper {
        background: $pre-tag-color;
        margin-top: $header-name-height + $header-height;
        border-radius: 5px;

        // @include user-select(none);
   
    }

    .no-question-found {
        font-size: 25px;
        text-align: center;
        font-family: 'Aller';
        padding: 10px 0px;
        color: black;
    }

    .question-wrapper {
        padding: 10px;
    }

    .questionOneLine {
        font-family: Consolas, Monaco;
        font-size: 17px;
        color: #446CB3;
        margin: 10px;
    }

    .question {
        font-size: 16px;
        margin: 10px 0px;
    }

    .options-wrapper {
        padding: 0px 10px;
    }

    .option {
        font-family: Consolas, Monaco;
        font-size: 17px;
        padding: 10px;
        width: 100%;
        color: #333;

        & > div {
            @include display(flex);

            @include align-items(center);

            @include flex-direction(row);
        }

        .code {
            display: inline-block;
            max-width: 100%;
        }

        .code, .text {
            margin-left: 10px;
        }
    }

    .with-feedback-form, .with-share-widget {
        width: 70%;
        display: inline-block;
    }

    .with-add-note {
        width: 70%;
        display: inline-block;
    }

    .with-question-list {
        width: calc(100% - #{$question-list-width});
        display: inline-block;
    }

    .close-button-sidebar {
        margin-bottom: 10px;
        font-size: 20px;
        background-color: white;
        border-radius: 3px;
        height: 30px;
        width: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        float: right;
        cursor: pointer;
    }

    .width-buttons-sidebar {
        margin-bottom: 10px;
        font-size: 20px;
        background-color: white;
        border-radius: 3px;
        height: 30px;

        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        float: left;
        cursor: pointer;

        .w-btn {
            padding: 0px 10px;
        }
    }

    .add-note-wrapper {
        width: 30%;
        display: inline-block;
        position: fixed;
        padding: 8px;
        margin-top: $header-name-height + $header-height;

        .note-form {
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
        }

        textarea {
            font-family: 'Ubuntu';
            color: #222;
        }

        .btn[disabled] {
            background-color: #ccc;
        }

        .note-list {
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
            max-height: calc(100vh - 460px);
            overflow: auto;
        }

        .note {
            background-color: white;
            color: black;
            clear: both;
            word-wrap: break-word;
            position: relative;
            padding: 10px 0px;
            border-bottom: 1px solid;

            &:last-child {
                border-bottom: 0px;
            }
        }

        .note-text {
            display: block;
            word-wrap: break-word;
            width: calc(100% - 20px);
        }

        .note-icon {
            position: absolute;
            top: 5px;
            right: 0px;
        }
    }

    .feedback-wrapper {
        width: 30%;
        display: inline-block;
        position: fixed;
        margin: 4px;
        margin-top: $header-name-height + $header-height;

        .feedback-que {
            background-color: white;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .question {
            font-family: 'aller';
            font-size: 15px;
        }

        .options {
            font-family: 'Ubuntu';
        }
    }

    .question-list-wrapper {
        width: $question-list-width;
        display: inline-block;
        position: fixed;
        margin: 4px;
        margin-top: $header-name-height + $header-height;
        overflow: auto;

        .question-number-wrapper {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            max-height: 700px;
            overflow: auto;
        }

        .instructions {
            background-color: white;
            border-radius: 3px;
            margin-bottom: 10px;
            padding: 10px;
            font-family: 'Ubuntu';

            @include display(flex);

            @include flex-wrap(wrap);

            & > div {
                width: 50%;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .icon {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
            }
        }

        .question-number {
            height: 38px;
            width: 38px;
            border-radius: 3px;
            border: 1px solid #222;
            display: inline-block;
            position: relative;
            margin: 10px;
            float: left;
            cursor: pointer;

            i {
                font-size: 9px;
                margin: 0px 2px;
            }
        }

        .number {
            font-family: 'Aller';
            font-size: 19px;
            text-align: center;
        }

        .icons {
            @include display(flex);

            @include align-items(center);

            @include justify-content(flex-end);

            margin-top: -7px;
        }

        .right-que-icon {
            background-color: green;
            color: white;
        }

        .wrong-que-icon {
            background-color: red;
            color: white;
        }

        .skip-que-icon {
            background-color: orange;
            color: white;
        }

        .review-que-icon {
            background-color: #4183D7;
            color: white;
        }

        .learn-que-icon {
            background-color: #6C7A89;
            color: white;
        }

        .current-que-icon {
            background-color: #E4F1FE;
            color: black;
        }
    }

    .share-widget-wrapper {
        width: 30%;
        display: inline-block;
        position: fixed;
        margin: 4px;
        margin-top: $header-name-height + $header-height;

        .post {
            background-color: white;
            border-radius: 3px;
            padding: 0px 10px 10px;
            margin-bottom: 10px;
        }

        .header {
            text-align: center;
            padding: 10px 0px;
            border-bottom: 1px solid;
            font-size: 15px;
            font-family: ("Ubuntu",);
        }

        .question {
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
            padding-bottom: 10px;
        }

        .share-options {
            & > span {
                margin: 0px 10px 0px;
            }

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            margin: 10px 0px;
        }
    }

    /* Explantion Part */
    .explanation-wrapper {
        margin-bottom: 10px;
        border-top: 2px solid black;
        color: #333;

        .title {
            text-align: center;
        }

        .highlight {
            cursor: pointer;

            sup {
                border-bottom: 1px solid;
                color: blue;
                padding-bottom: 2px;
            }

            & > .highlight {
                // background-color: #4183D7;

                & > .highlight {
                    // background-color: #87D37C;
               
                }
            }
        }

        .text-wrapper {
            // max-width: 1080px;
            width: 70%;
            margin: 0px auto;
            font-size: 18px;
            font-family: sans-serif;
            padding: 0px 20px;
            position: relative;
            margin-top: 80px;

            @include display(flex);

            @include flex-direction(row);

            .highlight-over, .dehighlight-over {
                position: absolute;
                display: none;
                background: #d2d2d2;
                padding: 2px;
                border: 1px solid #d2d2d2;

                .btn {
                    background: none;
                    box-shadow: 0px 0px 0px;
                    color: black;
                }
            }
        }

        .video-wrapper {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);
        }

        $switch-height: 40px;

        .explanation-switch {
            height: $switch-height;
            border: 1px solid #222;
            float: right;
            display: inline-block;
            margin: 10px;
            border-radius: 3px;

            &.hidden {
                visibility: hidden;
            }
        }

        .reading-pref {
            // height: $switch-height;
            // border: 1px solid #222;
            float: left;

            // display: inline-block;
            margin: 10px;
            position: absolute;
            z-index: 10;

            // border-radius: 3px;
       
        }

        .switch-option {
            display: inline-block;
            height: $switch-height - 1;
            line-height: $switch-height - 10 * 2;
            padding: 10px;
            cursor: pointer;

            &.active {
                background-color: #222;
                color: white;
            }
        }

        .pref-option-wrapper {
            width: 40px;
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            text-align: center;
            border: 1px solid;

            &:nth-of-type(2n+1) {
                border-right: 1px solid;
            }

            &:nth-of-type(2n) {
                margin-left: -4px;
            }

            .pref-option-head {
                display: block;
                padding: 5px;
            }

            .pref-option {
                cursor: pointer;
                background-color: #555;
                color: white;
                padding: 5px;
                border-bottom: 1px solid;
                display: block;

                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}