.share-component-wrapper {
    .textarea-status {
        width: 95%;
        margin: 0px auto;

        textarea {
            width: 100%;
            padding: 10px;
            box-shadow: 0px 0px 0px;
        }
    }

    .attached-details {
        width: 95%;
        margin: 0px auto;
        box-shadow: 1px 1px 1px #ccc;
        border: 1px solid #ccc;
        cursor: pointer;
        padding: 10px;
    }

    .title {
        font-family: waverly;
        font-size: 20px;
    }

    .desc {
        font-family: aller;
        font-size: 15px;
        color: #666;
    }

    .url {
        font-family: aller;
        font-size: 13px;
        color: #1d99d1;
        cursor: pointer;
        word-wrap: break-word;
    }

    .post-btn-wrapper {
        width: 95%;
        margin: 0px auto;
    }

    .post-btn {
        background: #1d99d1;
        color: white;
        font-family: waverly;
        font-size: 20px;
        padding: 0px 15px;
        display: inline-block;
        margin: 10px 0px;
        float: right;
        border-radius: 3px;
        cursor: pointer;
    }
}