$sidebar-width: 400px;
$sidebar-border: #333;
$madison-dark-blue: #333;
$humming-light-blue: darken(#E4F1FE, 30%);
$active-color: white;
$dark-white: #888;
$light-black: #222;
$orange: #D24D57;

.error-modal {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 99999;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);

    @include transition(all 0.2s ease-in);

    bottom: 0px;
    top: 0px;

    &.ng-hide {
        @include transform(scale(0));

        opacity: 0;
    }

    .error-modal-content {
        background-color: white;
        max-width: 400px;
        border: 1px solid #555;
    }

    .text {
        font-size: 20px;
        color: #D24D57;
        font-family: 'ITCAvantGarde',sans-serif;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 20px;
    }

    .close-icon {
        cursor: pointer;
        text-align: right;
        font-size: 18px;
        padding: 10px;
    }

    .buttons {
        @include display(flex);

        @include align-items(center);

        @include justify-content(center);

        @include flex-direction(row);

        & > .error-btn {
            @include flex-grow(1);

            box-shadow: 0px 0px 0px;
            background: #3498DB;
            border-radius: 0px;
            padding: 15px;
            color: white;
            font-family: aller;
            font-weight: bold;
        }

        .orange-color {
            background: #F2784B;
        }
    }
}

.video-page-wrapper {
    min-height: 100vh;
    background-color: black;

    @include breakpoint(laptop) {
        overflow: hidden;
        height: 100vh;
    }


    .video-container {
        height: 100vh;
        padding-right: 0px;

        @include breakpoint(laptop) {
            padding-right: $sidebar-width;
            margin-right: 20px;
        }
    }

    #video-player {
        // @include transition(all 1s ease-in);
   
    }

    .video-info {
        color: white;
        font-size: 15px;
        text-align: center;
        background-color: $sidebar-border;
        height: 4%;
        position: relative;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        // @include transition(all 0.8s ease-in);

        display: table;

        span {
            display: table-cell;
            vertical-align: middle;

            // overflow:hidden;
       
        }

        .video-menu {
            // @include transition(all 0.4s ease-in);

            position: absolute;
            opacity: 0;
        }
    }

    .playlist-animation-hide {
        // @include add-animation(playlist-animation-hide);
        position: relative !important;
        right: (-$sidebar-width) !important;
    }

    .playlist-animation-show {
        // @include add-animation(playlist-animation-show);
        position: absolute !important;
        right: 0px !important;
    }

    .playlist {
        @include breakpoint(laptop) {
            width: $sidebar-width;
            min-width: 400px;
            position: absolute;
            right: 10px;
            top: 10px;
            bottom: 10px;
        }


        // background: #4B96AE;
        display: block;
        z-index: 1000;
        color: #fff;

        .row {
            max-width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .gray-name {
            color: #ccc;
        }

        .video-list .gray-name {
            color: #777;
        }

        ul {
            margin-bottom: 0px;
        }

        li {
            padding: 10px;
            clear: both;

            // border-bottom: 1px solid #333;
            color: #223549;
            background-color: #e6e6e6;
            font-family: 'roboto', sans-serif;
            font-weight: 500;

            h1, h2, h3, h4, h5, h6 {
                margin: 0px;
                padding: 0px;
            }

            &.active-video {
                h1, h2, h3, h4, h5, h6 {
                    color: $orange !important;
                }

                color: $active-color !important;
                border-left: 4px solid $active-color;
                background-color: #4183D7;
            }

            span {
                // color: $sidebar-border;
           
            }
        }

        .video-list {
            [class*=col-] {
                padding: 0px;
            }

            .active {
                color: #D24D57;
            }

            .fa-bookmark {
                cursor: normal;
            }

            .fa-bookmark-o {
                cursor: pointer;
            }
        }

        /*
            Tabs Style
        */
        .nav-tabs li {
            padding: 5px 10px;
            background: #4B96AE;
        }

        .nav-tabs li div, .nav-tabs li a {
            padding: 10px 0px;
            color: #fff;
            box-shadow: 0px 0px 0px;
        }

        .nav-tabs > li.active div, .nav-tabs > li.active a {
            color: yellow !important;
        }

        .nav-tabs > li.active {}

        .nav > li > div {
            cursor: pointer;
            text-align: center;
            border: 0px;
            font-size: 15px;
            font-family: 'Aller';
        }

        .nav > li > div:hover {
            color: #222;
            background-color: transparent;
        }

        .nav-tabs > .uib-tab.active > div, .nav-tabs > .uib-tab.active > div:focus, .nav-tabs > .uib-tab.active > div:hover {
            background-color: transparent;
            border: 0px;
            color: yellow;
        }

        .video-note-tabs {
            position: relative;
            height: calc(100% - 124px - 55px);
            border-left: 2px solid white;
            border-right: 2px solid white;

            //124px = playlist-header
            //55px = playlist-footer
       
        }

        .tab-content {
            background-color: #4B96AE;

            @include breakpoint(laptop) {
                overflow: hidden;
                position: absolute;
                top: 47px;

                //47px = tabbar (Video and Notes)
                // bottom: 0px;
                left: 0px;
                right: 0px;
                height: calc(100% - 47px);
            }
        }

        /*
            Accordian - Panel Style
        */
        .panel-group {
            margin: 0px;

            *:focus {
                outline: none;
            }

            .panel {
                margin: 0px;
                border-radius: 0px;
                box-shadow: 0px 0px 0px;
                -webkit-box-shadow: 0px 0px 0px;
            }
        }

        .panel-body {
            padding: 0px;
            border: 0px !important;
            background: #4B96AE;
        }

        .panel-group .panel + .panel {
            margin: 0px;
        }

        .panel-heading {
            padding: 0px;

            // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
       
        }

        .accordion-toggle {
            padding: 15px 10px;
            background-color: #4B96AE;
            color: #fff;
            text-transform: initial;
            display: block;
            text-decoration: none;

            // border-bottom: 1px solid $light-black;
            font-family: 'Ubuntu',sans-serif;
        }

        .notes-wrapper {
            .accordion-toggle {
                padding: 0px;
            }

            .panel-title-div {
                padding: 15px 10px;
                cursor: pointer;
            }

            .module-note-wrapper {
                // padding: 10px;
           
            }

            .note {
                padding: 0px 15px 10px;
                margin-top: 10px;
                max-width: 70%;
                min-width: 150px;
                clear: both;
            }

            div[contenteditable="true"] {
                background: white;
                color: black;
                padding: 5px;
                border-radius: 3px;
                margin-bottom: 10px;
            }

            .note-top {
                padding-top: 5px;

                i {
                    padding-top: 2px;
                    cursor: pointer;
                    font-size: 15px;
                }
            }

            .module-note-wrapper div.note:nth-of-type(odd) {
                color: #fff;
                background: #59ABE3;
                float: left;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .module-note-wrapper div.note:nth-of-type(even) {
                color: #222;
                background: #1BBC9B;
                float: right;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .panel-body {
                background: #4B96AE;
            }
        }

        /*
            Notes Tab
        */
        .noteTab {
            .video-note-form textarea {
                box-shadow: 0px 0px 0px;

                // border: 3px solid $madison-dark-blue;
                padding: 5px;
                margin-top: 10px;

                // background-color: lightgray;
                color: white;
            }

            .video-note-form button {
                background: #ccc;
                color: black;
                border-radius: 0px;
            }
        }
    }

    .playlist-header {
        padding: 00px 10px;
        font-size: 19px;
        text-align: center;
        font-weight: normal;
        font-family: 'Aller';
        background: #4B96AE;
        color: white;
        border-left: 2px solid white;
        border-right: 2px solid white;

        .width-changer, .top-hide-button {
            display: none;

            @include breakpoint(laptop) {
                display: inline-block;
            }
        }

        .top {
            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(row);

            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            & > span {
                @include breakpoint(laptop) {
                    display: block;
                }


                @include flex-grow(1);

                padding: 10px 0px;

                // color: $dark-white;

                & > span {
                    padding: 0px;
                    font-size: 13px;
                    margin-top: -10px;
                    display: block;
                }
            }
        }

        .bottom {}

        .width-changer {
            float: left;

            i {
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 7px;
                color: #fff;
                margin-left: -5px;
                cursor: pointer;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }

        .module-name {
            padding: 10px 0px;
            font-family: 'ITCAvantGarde',sans-serif;
            word-spacing: 4px;
            font-weight: bold;
            color: white;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: bottom;
            width: 100%;
        }
    }

    .playlist-footer {
        border-top: 2px solid white;
        height: 52px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .top {
            border-bottom: 0px solid $dark-white;

            & > span {
                padding: 0px 0px;
            }
        }
    }

    .sidebar-wrapper {
        display: none;

        @include breakpoint(laptop) {
            display: block;
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 10px;
            width: 50px;
            background-color: #fff;
            border-radius: 5px;
        }


        .sidebarBtn {
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: #fff;
            border-radius: 0px;
            color: #222;
            width: 50px;
            height: 50px;
            border-bottom: 1px solid gray;
            z-index: 700;
            border-radius: 5px;
        }

        .sidebar-extra-buttons {
            position: absolute;
            top: -50px;
            right: 0px;
            color: #222;
            width: 0px;
            bottom: 0px;
            width: 50px;
            z-index: 699;

            @include display(flex);

            @include align-items(center);

            @include justify-content(center);

            @include flex-direction(column);

            .sidebarBtn {
                position: relative;
            }

            * {
                outline: 0px;
            }
        }
    }
}