<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Registration Details</title>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            	<tr>
                	<td align="center" valign="top" id="bodyCell">
                    	<!-- BEGIN TEMPLATE // -->
                    	<table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">
                                	<!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="headerContent" style="text-align: center;">
                                            	<h1 style="text-align: center;margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;color: #1d99d1 !important;font-family: serif;font-size: 45px;">ExamWarrior</h1>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top">
                                	<!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content">
                                                <div>
                                                    Hi <strong><%= dsp_nm %></strong>,
                                                    <br />
                                                    <br />
                                                    I'm so glad you decided to try out <a href="https://www.examwarrior.com">examwarrior.com</a>.
                                                    <br/>
                                                    <br/>
                                                    Use below OTP for first time login.
                                                </div>
                                                <br />
                                                <table border="0" cellpadding="3" bordercolor="#ccc">
                                                    <tr>
                                                        <td><strong>Username</strong></td>
                                                        <td>: &nbsp;&nbsp;&nbsp;<%= username %></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>OTP</strong></td>
                                                        <td>: &nbsp;&nbsp;&nbsp;<%= otp %></td>
                                                    </tr>
                                                </table>
                                                <br />
                                                Happy learning.
                                                <br />
                                                For any questions, please contact us on support@examwarrior.com.
                                                <br />
                                                <br />
                                            	<div>
                                                    Thanks,
                                                    <br />
                                                    ExamWarrior Team
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                	<!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent" mc:edit="footer_content01">
                                                <em>Copyright &copy; 2016 examwarrior.com , All rights reserved.</em>
                                                <br />
                                                <strong>Our mailing address is:</strong>
                                                <br />
                                                support@examwarrior.com
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>