<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>Notifications</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Notification Subject">Notification Subject</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="Notification Subject" placeholder="Notification Subject" ng-model="vm.form.sub"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="usrs">Users</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedUsers" theme="bootstrap" on-select="vm.onUserChange()" on-remove="vm.onUserChange()" close-on-select="true">
								    <ui-select-match placeholder="Select Users...">
								        <span>
								        	{{$item.usr_id}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.usr_id as item in (vm.allUsers | filter: $select.search) track by $index">
								        <span>
								        	{{item.usr_id}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="Message">Notification Message</label>
							<div class="col-xs-10">
								<textarea class="form-control" id="Message" placeholder="Message" ng-model="vm.form.noti_msg"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {}">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.sub || !vm.form.users || !vm.form.noti_msg"
									ng-click="vm.addSendNotification()">Send</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-danger" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allSendNotificaions || vm.allSendNotificaions.length <= 0">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allSendNotificaions">
				<uib-accordion close-others="false" ng-repeat="template in vm.allSendNotificaions">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>

								<!-- <span class="pull-right panel-header-buttons remove" ng-click="vm.deleteSendNotification(template.usr_noti_pk)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editSendNotification(template.usr_noti_pk)"><i class="fa fa-pencil"></i></span> -->
								{{template.sub}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in template">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc" style="word-break: break-word;">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>