<div class="admin-page">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form form-horizontal" ng-submit="vm.updateExam()">
					<fieldset>
						<legend>Add Exam</legend>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="examId">Exam Id<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="examId" class="form-control" placeholder="Id" ng-change="vm.checkValidityOfID()" ng-disabled="vm.formIsInEditMode" ng-model="vm.form.examId" required="" />
							</div>
							
						</div>
						<div class="alert alert-danger"  ng-if="vm.idExists">
								Exam Id exists
							</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="examname">Exam Name<i style="color: red">*</i></label>
							<div class="col-sm-10">
								<input type="text" id="examname" class="form-control" placeholder="Name" ng-model="vm.form.examName" required="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="examdesc">Description</label>
							<div class="col-sm-10">
								<textarea id="examdesc" class="form-control" placeholder="Description" ng-model="vm.form.examDesc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-offset-2">
								<button class="form-control btn btn-info" ng-click="vm.resetFormDetail()" style="margin-top: 25px;">New Exam</button>
							</div>
							<div class="col-sm-5 ">
								<button class="form-control btn btn-primary submit" type="submit" ng-disabled="vm.idExists" >Save</button>
							</div>
						</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchExams()" ng-if="!vm.exams || vm.exams.length <= 0">
				<i class="fa fa-plus right" ng-if="!vm.isExamsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isExamsLoading"></i>
				<span class="text">Show Exam</span>
			</div>	
		</div>
		<div class="col-md-12">
			<!--<div class="ds-alert" ng-if="!vm.exams">No Data to display</div>-->
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.exams">
				<uib-accordion close-others="false" ng-repeat="exam in vm.exams">
					<div uib-accordion-group is-open="status.open">
						<uib-accordion-heading>
							<div class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>
								<span class="pull-right panel-header-buttons remove" ng-click="vm.removeExam(exam.examId)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editExam(exam.examId)"><i class="fa fa-pencil"></i></span>
								{{exam.examName}}
							</div>
						</uib-accordion-heading>
						<div class="row course-info-row" ng-repeat="(key,value) in exam">
							<div ng-if="key != '_id'">
								<div class="col-xs-2 title">{{key}}</div>
								<div class="col-xs-10 desc">{{value}}</div>
							</div>

						</div>
					</div>
				</uib-accordion>
			</div>
			<div class="ew-rounded-btn margin-top-bottom-10" ng-click="vm.fetchMoreExams()" ng-if="(vm.exams || vm.exams.length > 0) && !vm.noMoreData">
				<i class="fa fa-plus right" ng-if="!vm.isExamsLoading"></i>
				<i class="fa fa-circle-o-notch right" ng-if="vm.isExamsLoading"></i>
				<span class="text">More</span>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	
</style>