@import "../../assets/scss/_common_test.scss";

.add-role-btn {
    border: 1px dashed #1d99d1;
    font-family: 'nunito',sans-serif;
    font-size: 20px;
    cursor: pointer;

    @include display(flex);

    @include align-items(center);

    @include justify-content(center);

    @include flex-direction(row);
}

.usr-add-role-form {
    // border: 1px dashed #1d99d1;
    font-family: 'nunito',sans-serif;
    position: relative;
    margin: 5px 0px;
    cursor: pointer;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}

.action-btns {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    z-index: 10;

    @include display(flex);

    @include align-items(center);

    @include flex-direction(row);

    .action-btn {
        margin: 0px 5px;
        cursor: pointer;
    }
}