<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<form class="form-horizontal" onsubmit="return false;">
					<fieldset>
						<legend>User Roles</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="usrs">Select User</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.selectedUsers" theme="bootstrap" on-select="vm.onUserChange()" on-remove="vm.onUserChange()" limit="1" close-on-select="true">
								    <ui-select-match placeholder="Select Users...">
								        <span>
								        	{{$item.usr_id}}
								        </span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.usr_id as item in (vm.allUsers | filter: $select.search) track by $index">
								        <span>
								        	{{item.usr_id}}
								        </span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<!-- Show Added Role -->
						<div class="usr-add-role-form" ng-repeat="sep_role in vm.form.roles track by $index">
							<div class="action-btns">
								<div class="action-btn" ng-click="vm.editRoleInArray($index)"><i class="fa fa-edit"></i></div>
								<div class="action-btn" ng-click="vm.deleteRoleFromArray($index)"><i class="fa fa-times"></i></div>
							</div>
							<div class="form-group">
								<label class="col-xs-2 control-label" for="usrs">Role</label>
								<label class="col-xs-10 control-label" style="text-align: left;">
									{{sep_role.role_id}}
								</label>
							</div>
							<div class="form-group" ng-if="sep_role.role_id === 'admin'">
								<label class="col-xs-2 control-label" for="usrs">Form access</label>
								<label class="col-xs-10 control-label" style="text-align: left;">
									{{vm.getStringOfForms(sep_role.form_access)}}				
								</label>
							</div>
						</div>
						<!-- Add seperate role form -->
						<div class="usr-add-role-form" ng-if="vm.addingRoleIsInProgress">
							<div class="form-group">
								<label class="col-xs-2 control-label" for="usrs">Select Role</label>
								<div class="col-xs-10">
									<select class="form-control" ng-model="vm.role_id">
										<option value="">Select Role</option>
										<option value="{{role.role_id}}" ng-repeat="role in vm.allRoles">{{role.role_name}}</option>
									</select>
								</div>
							</div>
							<div class="form-group" ng-if="vm.role_id === 'admin'">
								<label class="col-xs-2 control-label" for="usrs">Select Forms</label>
								<div class="col-xs-10">
									<ui-select multiple ng-model="vm.selectedForms" theme="bootstrap" on-select="vm.onFormChange()" on-remove="vm.onFormChange()" close-on-select="true">
									    <ui-select-match placeholder="Select Forms...">
									        <span>
									        	{{$item.form_name}}
									        </span>
									    </ui-select-match>
									    <ui-select-choices repeat="item.form_id as item in (vm.allForms | filter: $select.search) track by $index">
									        <span>
									        	{{item.form_name}}
									        </span>
									    </ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-3 col-xs-offset-6">
									<button class="form-control btn btn-primary submit" ng-click="vm.role_id='';vm.selectedForms=[];vm.form_access={};vm.addingRoleIsInProgress=false;">Cancel</button>
								</div>
								<div class="col-xs-3">
									<button class="form-control btn btn-primary submit" 
										ng-click="vm.addRoleToArray()">Save</button>
								</div>
							</div>
						</div>
						<div class="form-group" ng-if="!vm.addingRoleIsInProgress && vm.form.roles.length < 3" ng-click="vm.addRoleBtnClick()">
							<label class="add-role-btn" for="usrs">Add Role</label>
						</div>
						
						<div class="form-group" ng-if="!vm.addingRoleIsInProgress">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.form= {};vm.form.roles=[]">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" 
									ng-disabled="!vm.form.usr_id || vm.form.roles.length < 1"
									ng-click="vm.addUserRole()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allUserRoles || vm.allUserRoles.length <= 0">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allUserRoles">
				<uib-accordion close-others="false" ng-repeat="form in vm.allUserRoles">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>

								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteUserRole(form.usr_id)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editUserRole(form.usr_id)"><i class="fa fa-pencil"></i></span>
								{{form.usr_id}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in form">
					<div class="col-xs-2 title">{{key}}</div>
					<div class="col-xs-10 desc" style="word-break: break-word;">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
</style>