@import "../../assets/scss/_common_test.scss";

.question-title {
    font-family: aller;
    font-size: 17px;
    font-weight: bold;
}

.question-ans {
    font-family: aller;
    font-size: 15px;
}

.gray-back {
    background: #e5e5e5;
    padding: 0px 10px;
}

.ew-action-btns {
    @include display(flex);

    @include align-items(center);

    @include justify-content(flex-end);

    @include flex-direction(row);

    .ew-btn {
        margin: 0px 10px;
        font-size: 15px;
        cursor: pointer;
    }
}

.remove-btn {
    // position: absolute;
    // right: 5px;
    // top: 5px;
    font-size: 15px;
    cursor: pointer;
}