<div class="admin-page admin-courselist-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="form-wrapper">
				<div class="dot-loader-wrapper" ng-if="vm.showLoader">
					<div class="dot-loader">
						
					</div>
				</div>

				<form class="form-horizontal">
					<fieldset>
						<legend>Batch Course</legend>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="course name">Training Name</label>
							<div class="col-xs-10">
								<!-- <select ng-model="vm.form.crs_id" id="course" class="form-control"
									ng-change="vm.changeTrainingDropdown()">
									<option value=""> <b>Select Training</b> </option>
									<option ng-if="course.isLiveClass" ng-repeat="course in vm.coursesMaster" value="{{course.courseId}}">{{course.courseName}}</option>
								</select> -->


								<ui-select multiple limit="1" ng-model="vm.form.crs_id" theme="bootstrap" close-on-select="true" on-select="vm.changeTrainingDropdown($item, $model)" on-remove="vm.changeTrainingDropdown($item, $model)" >
								    <ui-select-match placeholder="Select Training...">
								        <span ng-bind="$item.courseName"></span>
								    </ui-select-match>
								    <ui-select-choices  repeat="course.courseId as course in (vm.coursesMaster | filter: $select.search) track by $index">
								        <span ng-bind="course.courseName"></span>
								    </ui-select-choices>
								</ui-select>
								<!-- <input type="text" class="form-control" placeholder="Course Name" ng-model="vm.form.crs_nm"/> -->
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" >Include Bundles</label>
							<div class="col-xs-10">
								<ui-select multiple ng-model="vm.form.includedBundles" theme="bootstrap" close-on-select="true">
								    <ui-select-match placeholder="Select Bundle...">
								        <span ng-bind="$item.bndl_nm"></span>
								    </ui-select-match>
								    <ui-select-choices repeat="item.bndl_id as item in (vm.allBundle | filter: $select.search) track by $index">
								        <span ng-bind="item.bndl_nm"></span>
								    </ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="no of days">No Of days</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" placeholder="no of days" ng-model="vm.form.no_of_days"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="about">Why this training</label>
							<div class="col-xs-10">
								<textarea class="form-control" froala="vm.EditorConfig" id="why-course" placeholder="Why this training" ng-model="vm.form.why_this_crs" ></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="about">About training</label>
							<div class="col-xs-10">
								<textarea class="form-control" froala="vm.EditorConfig" id="about-course" placeholder="About training" ng-model="vm.form.abt_crs" ></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="curriculam">Curriculam</label>
							<div class="col-xs-9">
								<input type="text" style="margin: 10px 0px;margin-top: 0px;" class="form-control" placeholder="Title" ng-model="vm.curriculamTitle"/>
								<input type="text" style="margin: 10px 0px;margin-top: 0px;" class="form-control" placeholder="Weight" ng-model="vm.curriculamWeight"/>
								<textarea style="margin: 10px 0px;" froala="vm.EditorConfig" class="form-control" placeholder="Desc" ng-model="vm.curriculamDesc"></textarea>
							</div>
							<div class="col-xs-1">
								<div ng-click="vm.addPointToCurriculamList()" class="btn btn-primary pull-right" ng-disabled="!vm.curriculamTitle || !vm.curriculamWeight || !vm.curriculamDesc"><i class="fa fa-plus"></i></div>
							</div>

							<!-- <label class="col-xs-2 control-label" for="curriculam">Curriculam</label>
							<div class="col-xs-10">
								<textarea class="form-control" id="curriculam" placeholder="Curriculam" ng-model="vm.form.curriculam" ></textarea>
							</div> -->
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-repeat="point in vm.form.curriculam track by $index">
							<label class="col-xs-2 control-label" for="curriculam">Curriculam {{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="ew-action-btns">
									<div class="ew-btn" ng-click="vm.editPointFromCurriculamList($index)">
										<i class="fa fa-pencil" style="color: green"></i>
									</div>
									<div class="ew-btn" ng-click="vm.removePointFromCurriculamList($index)">
										<i class="fa fa-times" style="color: red"></i>
									</div>	
								</div>
								
								<div class="question-title">{{point["title"]}}</div>
								<div class="question-ans">{{point["desc"]}}</div>								
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="curriculam">FAQ</label>
							<div class="col-xs-9">
								<input type="text" style="margin: 10px 0px;margin-top: 0px;" class="form-control" placeholder="Question Title" ng-model="vm.FAQquestionTitle"/>
								<textarea style="margin: 10px 0px;" class="form-control" placeholder="Question Ans" ng-model="vm.FAQquestionAns"></textarea>
							</div>
							<div class="col-xs-1">
								<div ng-click="vm.addQuestionToFAQList()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-repeat="que in vm.form.faqs track by $index">
							<label class="col-xs-2 control-label" for="curriculam">FAQ {{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="ew-action-btns">
									<div class="ew-btn" ng-click="vm.editQuestionFromFAQList($index)">
										<i class="fa fa-pencil" style="color: green"></i>
									</div>
									<div class="ew-btn" ng-click="vm.removeQuestionFromFAQList($index)">
										<i class="fa fa-times" style="color: red"></i>
									</div>	
								</div>
								
								<div class="question-title">{{que["title"]}}</div>
								<div class="question-ans">{{que["ans"]}}</div>								
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="curriculam">Feature</label>
							<div class="col-xs-9">
								<input type="text" style="margin: 10px 0px;margin-top: 0px;" class="form-control" placeholder="Feature Title" ng-model="vm.FeatureTitle"/>
								<textarea style="margin: 10px 0px;" class="form-control" placeholder="Feature Description" ng-model="vm.FeatureDesc"></textarea>
								
							</div>
							<div class="col-xs-1">
								<div ng-click="vm.addFeatureToList()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-repeat="ft in vm.form.features track by $index">
							<label class="col-xs-2 control-label" for="curriculam">Ft {{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="ew-action-btns">
									<div class="ew-btn" ng-click="vm.editFeatureFromList($index)">
										<i class="fa fa-pencil" style="color: green"></i>
									</div>
									<div class="remove-btn" ng-click="vm.removeFeatureFromList($index)">
										<i class="fa fa-times" style="color: red"></i>
									</div>	
								</div>
								<div class="question-title">{{ft["title"]}}</div>
								<div class="question-ans">{{ft["desc"]}}</div>
								
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label" for="curriculam">Contact Phone</label>
							<div class="col-xs-9"> 
								<input type="text" style="margin: 10px 0px;margin-top: 0px;" class="form-control" placeholder="Phone Number" ng-model="vm.contactPhone"/>
							</div>
							<div class="col-xs-1"> 
								<div ng-click="vm.addContactPhoneToList()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-repeat="ft in vm.form.contactPhone track by $index">
							<label class="col-xs-2 control-label" for="curriculam">Contact Phone {{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="ew-action-btns">
									<div class="ew-btn" ng-click="vm.editContactPhoneFromList($index)">
										<i class="fa fa-pencil" style="color: green"></i>
									</div>
									<div class="remove-btn" ng-click="vm.removeContactPhoneFromList($index)">
										<i class="fa fa-times" style="color: red"></i>
									</div>
								</div>
								<div class="question-title">{{ft}}</div>
								
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-2 control-label" for="curriculam">Contact Email</label>
							<div class="col-xs-9">
								<input type="text" style="margin: 10px 0px;margin-top: 0px;" class="form-control" placeholder="Email" ng-model="vm.contactEmail"/>
								
							</div>
							<div class="col-xs-1">
								<div ng-click="vm.addContactEmailToList()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-repeat="ft in vm.form.contactEmail track by $index">
							<label class="col-xs-2 control-label" for="curriculam">Contact Email {{$index+1}}</label>
							<div class="col-xs-10 gray-back">
								<div class="ew-action-btns">
									<div class="ew-btn" ng-click="vm.editContactEmailFromList($index)">
										<i class="fa fa-pencil" style="color: green"></i>
									</div>
									<div class="remove-btn" ng-click="vm.removeContactEmailFromList($index)">
										<i class="fa fa-times" style="color: red"></i>
									</div>
								</div>
								<div class="question-title">{{ft}}</div>
								
							</div>
						</div>
	

						<div class="form-group">
							<div class="col-xs-5 col-xs-offset-2">
								<button class="form-control btn btn-primary submit" ng-click="vm.resetForm()">Reset</button>
							</div>
							<div class="col-xs-5">
								<button class="form-control btn btn-primary submit" ng-disabled="!vm.form.crs_id" ng-click="vm.saveCourse()">Save</button>
							</div>
						</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === true;">Data saved successfully.</div>
						<div class="alert alert-success" ng-if="vm.formSuccess === false;">Error in data saving.</div>
					</fieldset>
				</form>
				<div ng-if="vm.submitted">
					<div class="ds-alert" ng-if="vm.form.error">Error in Submiting Data</div>
					<div class="ds-success" ng-if="!vm.form.error">Data added succefully</div>	
				</div>
			</div>
		</div>
		<!-- <div class="col-md-12">
			<div class="ds-alert" ng-if="!vm.allCourses">No Data to display</div>
			<div class="courses-wrapper accordion-panel-wrapper" ng-if="vm.allCourses">
				<uib-accordion close-others="false" ng-repeat="course in vm.allCourses">
				<div uib-accordion-group is-open="status.open">
				<uib-accordion-heading>
					<div ng-click="" class="">
								<i class="fa pull-right panel-arrow" ng-class="{'fa-arrow-right':!status.open,'fa-arrow-down':status.open}"></i>

								<span class="pull-right panel-header-buttons remove" ng-click="vm.deleteCourse(course.crs_id)"><i class="fa fa-times"></i></span>
								<span class="pull-right panel-header-buttons edit" ng-click="vm.editCourse(course.crs_id)"><i class="fa fa-pencil"></i></span>
								{{course.crs_id}}
					</div>
				</uib-accordion-heading>
				<div class="row course-info-row" ng-repeat="(key,value) in course">
							<div class="col-xs-2 title">{{key}}</div>
							<div class="col-xs-10 desc">{{value}}</div>
				</div>
				</div>
				</uib-accordion>
			</div>
		</div> -->
	</div>
</div>
<style type="text/css">
	body{
		background-color: #ecf0f1;
	}
	.dot-loader-wrapper{
		position: absolute;
	    top: 0px;
	    left: 0px;
	    bottom: 0px;
	    right: 0px;
	    z-index: 10;
	    background: rgba(0,0,0,0.3);
	    border-radius: 5px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
</style>