.list-unstyled {padding-left:0;list-style: none;}
// .lazyload, .lazyloading {transition: opacity 400ms;}
// .lazyload {opacity: 0;}
// .lazyloaded {opacity: 1;transition: opacity 400ms;}
// .slider {overflow: hidden;}
/* @media (min-width: 1200px) {.full_slider {height: 400px;}}
@media (max-width: 1199px) {.full_slider {height: 330px;}}
@media (max-width: 991px) {.full_slider {height: 245px;}}
@media (max-width: 767px) {.full_slider {height: 182px;}}
@media (max-width: 452px) {.full_slider {height: 150px;}}
@media (max-width: 401px) {.full_slider {height: 131px;}}
@media (max-width: 321px) {.full_slider {height: 104px;}} */
// .collapse, .dropdown-menu, .full_slider .slider_item {display: none;}
// .product_img_list {height: 62px;overflow: hidden;}

// $grid-breakpoints: (
//   xs: 0,
//   sm: 544px,
//   md: 768px,
//   lg: 992px,
//   xl: 1290px
// );


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (
//   sm: 576px,
//   md: 720px,
//   lg: 940px,
//   xl: 1230px
// );
// $enable-flex: true;
// Core variables and mixins
// @import "../bootstrap/scss/variables";
// @import "../bootstrap/scss/mixins";

// // Reset and dependencies
// @import "../bootstrap/scss/normalize";
// @import "../bootstrap/scss/print";

// Core CSS
// @import "../bootstrap/scss/reboot";
// @import "../bootstrap/scss/type";
// @import "../bootstrap/scss/images";
// @import "../bootstrap/scss/code";
// @import "../bootstrap/scss/grid";
// @import "../bootstrap/scss/tables";
// @import "../bootstrap/scss/forms";
// @import "../bootstrap/scss/buttons";

// // Components
// @import "../bootstrap/scss/animation";
// @import "../bootstrap/scss/dropdown";
// @import "../bootstrap/scss/button-group";
// @import "../bootstrap/scss/input-group";
// @import "../bootstrap/scss/custom-forms";
// @import "../bootstrap/scss/nav";
// @import "../bootstrap/scss/navbar";
// @import "../bootstrap/scss/card";
// @import "../bootstrap/scss/breadcrumb";
// @import "../bootstrap/scss/pagination";
// @import "../bootstrap/scss/pager";
// @import "../bootstrap/scss/labels";
// @import "../bootstrap/scss/jumbotron";
// @import "../bootstrap/scss/alert";
// @import "../bootstrap/scss/progress";
// @import "../bootstrap/scss/media";
// @import "../bootstrap/scss/list-group";
// @import "../bootstrap/scss/responsive-embed";
// @import "../bootstrap/scss/close";

// Components w/ JavaScript
// @import "../bootstrap/scss/modal";
// @import "../bootstrap/scss/tooltip";
// @import "../bootstrap/scss/popover";
// @import "../bootstrap/scss/carousel";
// Utility classes
// @import "../bootstrap/scss/utilities";
// @import "../bootstrap/scss/utilities-responsive";
// @import "../bootstrap/scss/utilities-spacing";

@import "../sass/theme/variables";
@import "../sass/theme/mixins";
@import "../sass/theme/common";
@import "../sass/theme/components/header";
@import "../sass/theme/components/footer";

@import "../sass/theme/snippets/forms";
@import "../sass/theme/snippets/list";
// @import "../sass/theme/snippets/breadcrumb";
// @import "../sass/theme/snippets/list_grid";