.forgotpassword-page-wrapper {
    font-family: 'nunito',sans-serif;

    .custom_container {
        max-width: 865px;
    }

    .tools_block {
        max-width: 835px;
    }

    @media screen and (min-width: 1280px) {
        .main_content {
            background-color: #f4f4f4 !important;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            min-height: calc(100vh - 193px);

            .wrap_content {
                min-height: auto !important;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: #fff;
                box-shadow: 2px 2px 8px #e5e5e5;
                border-radius: 5px;
                min-width: 614px;
            }
        }
    }

    .alert {
        font-family: 'nunito',sans-serif;
        font-size: 17px;
    }

    .input {
        &.form-error {
            input {
                border: 1px solid maroon;
                background-color: rgba(255, 0, 0, 0.2);
            }
        }

        &.form-success {
            input {
                border: 1px solid green;
                background-color: rgba(0, 255, 0, 0.2);
            }
        }
    }
}