<div class="ew-page-wrapper forgotpassword-page-wrapper login_page forgot_password">
	<header-menu-component></header-menu-component>
	<div class="content_wrapper">
		<div class="custom_container">
			<div class="top_block">
				<a href="/" class="house_logo">
					<picture>
						<source srcset="/assets/images/logo_dark.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/logo_dark.png">
					</picture>
				</a>
				<div class="bg_block">
					<picture>
						<source srcset="/assets/images/roof_flat.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/roof_flat.png">
					</picture>
				</div>
				<div class="tools_block">
					<div class="tool_part"><i class="icon_tools icon_sience"></i> <span class="text_upper title_page">FORGOT PASSWORD FORM</span></div>
					<div class="tool_part">
						<a ui-sref="login" class="btn_form">
							<i class="fa fa-lock"></i>
							<span class="text">Login</span>
						</a>
					</div>
				</div>
			</div>
			<div class="main_content">
				<div class="wrap_content custom_row form_block">
						<form class="reg_form" ng-show="!vm.shouldShowOTPDialog" ng-submit="vm.forgotPassword(form)" name="form" autocomplete="off" novalidate="">
							<div>
								<div ng-if="!vm.isUserExists" class="alert alert-danger">
									{{vm.userExistsError}}
								</div>
								<div ng-if="vm.formSuccess" class="alert alert-success alert-dismissible" role="alert">
									{{vm.successMsg}}
								</div>
								<div ng-if="vm.formError" class="alert alert-danger alert-dismissible" role="alert">
									{{vm.errorMsg}}
								</div>
							</div>
							<div class="form-group input" ng-class="{'form-success':form.email.$valid,'form-error':(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid)}">
								<label for="" class="control-label"><i class="fa fa-envelope"></i> User ID</label>
								<input type="text" autofocus=""  class="form-control" id="email" name="email" ng-model="vm.usr_id" ng-change="vm.isUserExists = true;" required="" />
								<div ng-messages="form.email.$error" ng-if="(form.email.$dirty && !form.email.$valid) || (form.$submitted && !form.email.$valid)" style="color:maroon" role="alert">
								    <div ng-message="required" class="err-msg">*UserID is required</div>
								</div>
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form">
									<span ng-if="!vm.isFormSubmitting">
										<i class="fa fa-key"></i> 
										<span class="text">Forgot Password</span>	
									</span>
									<span ng-if="vm.isFormSubmitting">
										<i class="fa fa-circle-o-notch"></i> 
										<span class="text">Verifing...</span>	
									</span>
								</button>
							</div>
						</form>
						<form class="reg_form" ng-show="vm.shouldShowOTPDialog" ng-submit="vm.verifyOTP()" name="form-otp" autocomplete="off">
							<div>
								<div ng-if="!vm.isUserExists" class="alert alert-danger">
									{{vm.userExistsError}}
								</div>
								<div ng-if="vm.formSuccess" class="alert alert-success alert-dismissible" role="alert">
									{{vm.successMsg}}
								</div>
								<div ng-if="vm.formError" class="alert alert-danger alert-dismissible" role="alert">
									{{vm.errorMsg}}
								</div>
							</div>
							<div class="form-group input">
								<label for="" class="control-label">Enter OTP <sup>*</sup></label>
								<input type="text" class="form-control" name="otp" id="dname" ng-model="vm.otp"/>
							</div>
							<div class="form-group text_right">
								<span class="pull-left" style="cursor: pointer;" ng-click="vm.resendOTP()">Resend OTP ?</span>
								<button type="submit" ng-disabled="!vm.otp" class="btn_form">
									<span ng-if="!vm.isFormSubmitting">
										<i class="fa fa-key"></i> 
										<span class="text">Verify</span>	
									</span>
									<span ng-if="vm.isFormSubmitting">
										<i class="fa fa-circle-o-notch"></i> 
										<span class="text">Verifing...</span>	
									</span>
								</button>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="dashboard_link hidden-md-down"></a>
	<div class="bg_page" style="background-image: url(/assets/images/bg_new.png);"></div>
</div>