<!doctype html>
<html>
    <head>
    	<title>Page Not Found - ExamWarrior</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv=X-UA-Compatible content="IE=11">
		<link href="https://fonts.googleapis.com/css?family=Nunito|Roboto+Condensed:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/404.css">
    </head>
    <body>
		<div class="fluid-container contactus-wrapper master-wrapper">
		    <!-- Bg Color -->
			<div class="quiz-bg-color"></div>

		    <!-- Bg image in all screen -->
			<div class="bg-image">
		        <img src="/assets/images/1366-bg-right.png" alt="">
		    </div>
		    <!-- Bg image in big screen only -->
		    <div class="bg-left-image">
		        <img src="/assets/images/1366-bg-left.png" alt="">
		    </div>

			<div class="main-container" id="main-container">
				<a class="mobile-logo-img" href="/">
					<img src="/assets/images/logo-dark.png"  alt="">
				</a>
				<div class="roof-wrapper">
					<img class="roof-img"  src="/assets/images/roof_flat_1.png"  alt="">
					<a class="logo-img" href="/">
						<img src="/assets/images/logo-dark.png"  alt="">
					</a>
					<!-- top bar fixed -->
					<div class="top-bar-fixed">
						<div class="menu-item search-box-field">
							<div class="search-btn">Page Not Found</div>
						</div>
					</div>
				</div>
		        <div class="main-content-wrapper page-content">
		        	<div class="left-side">
						<h2>Oops!!</h2>
						<h3>We can't seem to find the page you're looking for.</h3>
						<div class="links">
							<h4>Here are some helpful links instead:</h4>
							<a href="/">Home</a>
							<a href="/search">Search</a>
							<a href="/it-trainings">IT Trainings</a>
							<a href="/board-trainings">Board Exams</a>
							<a href="/competitive-trainings">Competitive Exams</a>
							<a href="/forums">Q&A</a>
						</div>
					</div>
					<div class="right-side">
						<img src="/assets/images/404.gif" alt="">
					</div>
		        </div>
			</div>
		</div>
    </body>
</html>