<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv=X-UA-Compatible content="IE=11">
        <title>About Competitive Exams - Examwarrior</title>
        
        <link href="../assets/css/intro.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/fontawesome.min.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/css/player-control.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
        <script src="../assets/js/jquery.js"></script>
        <script>
            jQuery(document).ready(function(){
                jQuery('.mobile-menu').click(function(){
                	jQuery(this).parent().find('.menu-links').toggle();
                });
       		});
        </script>
    </head>
    <body>
        <div id="main-container">
            <div class="main-container">
                <div class="header_wrapper1">
                    <div class="header_wrapper">
                        <div class="site_logo">
                            <a href="/"><img src="/assets/images/logo-dark.png" alt="Exam Warrior" /></a>
                            <span class="mobile-btns">
                                <a href="/register" class="top-bar-btn">Try Us</a>
                                <a href="/competitive-trainings" class="top-bar-btn">All Courses</a>
                            </span>
                            
                            <div class="mobile-menu"><i class="fa fa-bars"></i></div>
                            <div class="menu-links">
                                <ul>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                    <li><a href="#">Link 5</a></li>
                                    <li><a href="#">Link 6</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-bar">
                            <div>
                                <span class="top-text">Improve Your Scores</span>
                            </div>
                            <div>
                                <a href="/register" class="top-bar-btn">Try Us</a>
                                <a href="/competitive-trainings" class="top-bar-btn">All Courses</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="site_wrapper">
                    <div class="sitemap-wrapper">
                        <!-- <div class="banner-mobile"><img src="/assets/images/banner-new.png" alt="banner" /></div> -->
                        <div class="sitemap-wrapper_inner" style="padding-bottom:0px;">
                            <div class="main-wrap">
                                <div class="main-wrap-inner">
                                    <div class="top-banner">
                                        <!-- <div id="top-banner-inner"> -->
                                            <div class="top-banner-inner">
                                                <h3>Comprehensive Study Guide for Competitive Exams</h3>
                                                <p>We are unique and special
                                                <a style="position: relative;top: -7px;left: 8px;text-transform: capitalize" class="top-bar-btn" id="play-video">Find how</a></p>
                                            </div></div>
                                        <!-- </div> -->
                                        <div class="tree-bg-main">
                                            <p>Our Training Features</p>
                                            <div class="tree-bg">
                                                <div id="courses-branch">
                                                    <div class="courses-branch">
                                                        <div class="branch-course">
                                                            <ul>
                                                                <li>
                                                                    
                                                                    <div class="linkss">
                                                                        <!-- <h2>Learn</h2> -->
                                                                        <div class="infograph-wrapper">
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text blue">Live online and interactive classes</div>
                                                                            </div>
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text red">On Demand Videos</div>
                                                                            </div>
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text green">Recorded Classes of all batches</div>
                                                                            </div>
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text dark-blue">Easy to follow Tutorials and Materials</div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <h3>Live on Class</h3>
                                                                        <h3>Demand On Videos</h3>
                                                                        <h3>Recorded Classes for all batchs</h3>
                                                                        <h3>Easy to follow Tutorials and Materials</h3> -->
                                                                    </div>
                                                                    <div class="img"><a href="#"><img src="/assets/images/learrn.png" alt="Learn" /></a></div>
                                                                </li>                                                                
                                                                <li>
                                                                    <div class="img"><a href="#"><img src="/assets/images/practise.png" alt="Faculity" /></a></div>
                                                                    <div class="linkss">
                                                                        <!-- <h2>Practice</h2> -->
                                                                        <div class="infograph-wrapper">
                                                                            <div class="infograph-point">
                                                                                
                                                                                <div class="infograph-text blue">Practice directly on our Cloud Servers</div>
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    
                                                                    <div class="linkss">
                                                                        <!-- <h2>Flexible Schedule</h2> -->
                                                                        <div class="infograph-wrapper">
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text blue">Schedule / Reschedule Your Batch / Class at Your Convenience.</div>
                                                                            </div>
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text blue">If you miss any session you can listen to recorded video or join other batches for that session or any session.</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="img"><a href="#"><img src="/assets/images/flexible.png" alt="Flexible" /></a></div>
                                                                </li>
                                                                <li>
                                                                    <div class="img"><a href="#"><img src="/assets/images/support.png" alt="Support" /></a></div>
                                                                    <div class="linkss">
                                                                        <!-- <h2>Support</h2> -->
                                                                        <div class="infograph-wrapper">
                                                                            <div class="infograph-point">
                                                                                
                                                                                <div class="infograph-text blue">24x7 Web Support</div>
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                            </div>
                                                                            <div class="infograph-point">
                                                                                
                                                                                <div class="infograph-text blue">Access to Faculity Members every day for doubt clarification.</div>
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    
                                                                    <div class="linkss">
                                                                        <!-- <h2>Faculity</h2> -->
                                                                        <div class="infograph-wrapper">
                                                                            <div class="infograph-point">
                                                                                <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                <div class="infograph-text blue">Faculty are experienced  subject matter  industry experts.</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="img"><a href="#"><img src="/assets/images/facility.png" alt="Facility" /></a></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-modal-wrapper ds-close" id="">
                    <div class="video-modal" id="video-modal">
                        <div class="video-close-btn-wrapper">
                            <div class="video-close-btn" ng-click="vm.closeHomeVideoModal()"></div> 
                        </div>
                        
                        <div player="true"
                            data-url="http://examwarrior.com/video/1.mp4"
                            data-height="480"
                            data-width="854"
                        ></div>
                    </div>
                </div>
                <script src="../assets/js/jwplayer/jwplayer.js"></script>
                <!-- jwplyer key -->
                <script type="text/javascript">
                window.jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";
                </script>
                <!-- custom video player -->
                <script src="../assets/js/videoStats.js"></script>
                <script src="../assets/js/custom-player.js"></script>
                <script>
                    $("#play-video").on("click",function(e){
                        var ele = $(".video-modal-wrapper");
                        var isOpen = $(ele).hasClass('ds-open');
                        if(isOpen){
                            $(ele).removeClass('ds-open').addClass('ds-close');
                        }else{
                            $(ele).addClass('ds-open').removeClass('ds-close');
                        }
                    });
                    $(".video-close-btn").on("click",function(){
                        var ele = $(".video-modal-wrapper");
                        $(ele).removeClass('ds-open').addClass('ds-close');

                        var player_wrapper = $(ele).find(".custom-player-wrapper").children()[0];
                        var player_id = $(player_wrapper).attr('id');
                        var player = jwplayers[player_id];
                        // console.log(,findParent($("#")));
                        removeJWPlayer(player_id);

                        //player current time
                        var currentPosition = player.getPosition();
                        //player duration
                        var duration = player.getDuration();
                        //percentage
                        var percentage = (currentPosition/duration)*100;

                        var user = JSON.parse(localStorage['ls.dsUser'] || {});
                        var usr_id = "";
                        if(user.usr_id){
                            usr_id = user.usr_id;
                        }
                        var data = {
                            type : 'close',
                            data : percentage,
                            hashToken : localStorage['ls.dsHashToken'],
                            usr_id  : usr_id
                        }
                        $.ajax({
                            url : '/videostats/insertStats/',
                            method : 'POST',
                            data : data
                        });
                    })
                </script>
        </body>
    </html>