<!DOCTYPE html>
<html>
<head>
	<title></title>


</head>
<body>
	
	<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
	
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
//		setInterval(function(){
//			chart.xAxis[0].setCategories(["X"]);
//			chart.series[0].setData([Math.random()],true);
//		},1000);
		var x = [], y = [];

		var host = window.location.hostname;
		var socket;
        if (host.indexOf("localhost") <= -1) {
            //If not localhost
            socket = io('https://' + host + '/');
        } else {
            //If localhost
            socket = io('http://' + host + '/');
        }

		
		socket.on('message', function(msg){
			console.log(msg);
			var categories = chart.xAxis[0].categories;
			if(x.indexOf(msg.name) > -1){
				var pos = x.indexOf(msg.name);
				y[pos] = msg.clickcount;
				chart.xAxis[0].setCategories(x);
				chart.series[0].data[pos].update(y[pos]);
			}else{
				x.push(msg.name);
				y.push(msg.clickcount)
				chart.xAxis[0].setCategories(x);
				chart.series[0].setData(y,true,true,true);
			}

		});


	</script>

	<script type="text/javascript">
		var charts;
		var options={

			chart: {
				renderTo:'container',
				type: "bar"
			},
			tooltip: {
				enabled : false
			},
			title: {
				text: "Total User Clicks"
			},
			xAxis: {
				categories: []
			},
			yAxis: {
				title: {
					text: '',
					margin: 10
				},
				labels: {
					enabled: false
				},
				gridLineWidth: 0
			},
			series: [{
				showInLegend: false,
				dataLabels: {
					enabled: true
				},
				data: []

			}]
		}


		$(function () {

			chart = new Highcharts.Chart(options);


			//$('#container').highcharts(options);
		});
	</script>
</body>
</html>