<!doctype html>
<html>
    <head>
    	<title>Contact US - Examwarrior.com</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv=X-UA-Compatible content="IE=11">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/contactus.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/menu.css">


		<link rel="stylesheet" href="../assets/components/all/all.css">
		<link rel="stylesheet" href="../assets/components/head_style/head_style.css">
		<link rel="stylesheet" href="../assets/components/sass/style.css">
		<link rel="stylesheet" href="../assets/components/custom.css">

		<style type="text/css">
            body{
                -webkit-font-smoothing: antialiased;
            }
            
            .right_nav .main_nav_list li > a {
                font-weight: bold;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 12px;
                text-transform: capitalize;
            }
             @media screen and (min-width: 1280px){
                .right_nav  .main_nav_list {
                    border-radius: 5px;
                    /*background: rgba(0, 0, 0, 0.25);*/
                    border-radius: 5px;
                    padding: 6px;
                }
                .right_nav  .main_nav_list>li{
                    margin: 0px 0px;
                }
                
                .right_nav  .main_nav_list>li:after{
                    content : '|';
                    margin: 0px 8px;

                }
            }
			#smenu-modal{
				display: none;
				left: -150px;
			}
            #user-menu-modal{
                display: none;
            }
			#smenu-modal:before{
				left: 180px;
			}
			.main_header{
				background: transparent;
				width: auto;
				left: auto;
				right: 0px;
				z-index: 9999;
			}
			@media screen and (max-width: 1279px){
                .main_header .main_nav_list>li{
                    color: #222 !important;
                }
            }
            .main_header .main_nav_list .wrap_nav{
            	color: #fff !important;
            }
		</style>

    </head>
    <body>
    	<header class="main_header">
    		<div class="right_nav little-up">
    			<!-- <ul class="list main_nav_list top-position-absolute">
                    <li class="hidden-sm-down" data-auth='true'><a href="/dashboard/">welcome,&nbsp;<span class="username"></span></a> </li>
                    <li class="hidden-sm-down" data-auth='true'><a href="/logout">logout</a></li>
                </ul> -->
				<ul class="list main_nav_list">
                    <!-- <li class="hidden-sm-down" data-auth='true'><a href="/dashboard/">welcome,&nbsp;<span class="username"></span></a> </li> -->
                    <!-- <li class="hidden-sm-down" data-auth='false'><a href="/login">login</a></li> -->
                    <!-- <li class="hidden-sm-down" data-auth='true'><a href="/logout">logout</a></li> -->
                    <!-- <li class="hidden-md-down"><a href="/sitemap">all links</a></li> -->
                    <!-- <li class="hidden-md-down"><a href="/buy">pricing</a></li> -->
                    <li class="hidden-md-down" style="position: relative" data-auth='true'>
                        <a onclick="toggleUserMenuModal()" style="cursor:pointer" id="user-menu-modal-link">
                            <img id="user-pic" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
                            <span class="username"></span>
                        </a>
                        <div class="notification-modal " style="width:250px" id="user-menu-modal">
                            <div class="ew-modal-content" style="max-height: 600px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                                <div class="notification smenu-links"  >
                                    <div class="notification-sub user-pic">
                                        <a href="/dashboard/"><i class="fa fa-dashcube"></i>Dashboard</a> 
                                    </div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">
                                        <a href="/logout"><i class="fa fa-sign-out"></i> logout</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ew-modal-footer">
                                <div class="see-all" style="cursor:pointer" onclick="toggleUserMenuModal()"><img src="../../../assets/images/red-apple.png" alt="">Close</div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-md-down" style="position: relative">
                        <a onclick="toggleSMENUModal()" style="cursor:pointer" id="smenu-modal-link"><i class="fa fa-list"></i>SMENU</a>
                        <div class="notification-modal" style="width:250px;" id="smenu-modal">
                            <!-- <div class="ew-modal-title">
                                <span class="text">
                                    <img src="../../../assets/images/green-apple.png" alt="">
                                    Menu
                                </span>
                            </div> -->
                            <div class="ew-modal-content" style="max-height: 600px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                                <div class="notification smenu-links"  data-auth='false'>
                                    <div class="notification-sub"><a href="/login"><i class="fa fa-lock"></i>login</a></div>
                                </div>
                                <div class="notification smenu-links"  data-auth='false'>
                                    <div class="notification-sub">
                                        <a href="/register"><i class="fa fa-user"></i>Sign Up</a>
                                    </div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">  
                                        <a href="/buy"><i class="fa fa-credit-card"></i>Pricing</a>
                                    </div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">  
                                        <a href="/sitemap"><i class="fa fa-list"></i>All Links</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ew-modal-footer">
                                <div class="see-all" style="cursor:pointer" onclick="toggleSMENUModal()"><img src="../../../assets/images/red-apple.png" alt="">Close</div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-md-down" data-auth='true'>
                        <a href="/~/notifications"><i class="fa fa-bell"></i>Notifications</a>
                        <span id="notification-count"></span>
                    </li>
                    <!-- <li class="hidden-md-down" style="position: relative">
                        <a onclick="toggleContactUsModal()" style="cursor:pointer" id="contactus-modal-link">contact us</a>
                        <div class="notification-modal contactus-modal hide" id="contactus-modal">
                            <div class="ew-modal-title">
                                <span class="text">Contact US</span>
                            </div>
                            <div class="ew-modal-content">
                                <div class="notification">
                                    <div class="notification-sub">Phone</div>
                                    <div class="notification-msg" id="contactus_ph"></div>
                                </div>
                                <div class="notification">
                                    <div class="notification-sub">Support</div>
                                    <div class="notification-msg" id="contactus_support"></div>
                                </div>
                                <div class="notification">
                                    <div class="notification-sub">Sales</div>
                                    <div class="notification-msg" id="contactus_sales"></div>
                                </div>
                            </div>
                            <div class="ew-modal-footer">
                                <a class="see-all" target="_blank" href="/contactus">Send Message</a>
                            </div>
                        </div>
                    </li> -->
                    <!-- <li class="hidden-md-down"><a href="/contactus">Why Us?</a></li> -->
                    
                    <li><a href="/" class="jsTriggerMenu"><i class="fa fa-bars"></i>Menu</a></li>
                    <!-- <li class="hidden-lg-up"><a href="/" class="jsSrcBt"><i class="fa fa-search"></i></a></li> -->
                </ul>
				<a href="/register" data-auth='false' class="btn hidden-sm-down try-us-mobile-btn">TRY US NOW</a>
			</div>
			<nav class="main_nav jsMainNav">
				<!-- <div class="close_menu hidden-lg-up"><a href="/" class="title_nav jsCloseMenu"><i class="fa fa-close"></i></a></div> -->
				<ul class="main_nav_list list_lg_up nav_box">
                    <li class="wrap_nav hidden-md-up" data-auth='true'><a href="/dashboard/" class="title_nav"><span class="flex_auto text_left">welcome,&nbsp;<span class="username"></span> </span></a></li>
                    <li class="wrap_nav hidden-md-up" data-auth='false'><a href="/login" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-user"></i>login</span></a></li>
                    <li class="wrap_nav hidden-md-up" data-auth='true'><a href="/logout" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-sign-out"></i>logout</span></a></li>
                    <li class="wrap_nav hidden-lg-up"><a href="/sitemap" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-rocket"></i>All links</span></a></li>
                    <li class="wrap_nav hidden-lg-up"><a href="/buy" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> pricing</span></a></li>
                    <!-- <li class="wrap_nav hidden-lg-up"><a href="/contactus" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-phone"></i> contact Us</span></a></li> -->
                    <li class="wrap_nav hidden-md-up" data-auth='false'><span class="title_nav"><a href="/register" class="btn">TRY US NOW</a></span></li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/it-trainings"><i class="fa fa-list"></i> IT COURSES</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/dashboard"><i class="fa fa-dashcube"></i> DASHBOARD</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/forums"><i class="fa fa-question-circle"></i> Q&A</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/~/notifications"><i class="fa fa-bell"></i> NOTIFICATIONS</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-sitemap"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled">
                                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                <li><a href="/sitemap"><i class="fa fa-home"></i> All Links</a></li>
                                <li data-auth='false'><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
                                <li data-auth='true'><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
                                <li data-auth='false'><a href="/register"><i class="fa fa-lock"></i> Register</a></li>
                                <li data-auth='false'><a href="/forgotpassword"><i class="fa fa-pencil"></i> Forgot Password</a></li>
                                <li data-auth='true'><a href="/changepassword/"><i class="fa fa-pencil"></i> Change Password</a></li>
                                <li><a href="/adminApp"><i class="fa fa-user-secret"></i><span>Admin</span></a></li>
                                <li><a href="/dashboard/"><i class="fa fa-dashcube"></i><span>Dashboard</span></a></li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/forums"><span class="flex_auto"><i class="fa fa-sitemap"></i>Q &amp; A</span></a>
                        </div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tasks"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled">
                                <li><a href="/dashboard/performance"><i class="fa fa-user-secret"></i> Performace</a></li>
                                <li><a href="/dashboard/user-courses"><i class="fa fa-list"></i> My Courses</a></li>
                                <li><a href="/books"><i class="fa fa-book"></i> Books</a></li>
                                <li><a href="/forums"><i class="fa fa-users"></i> Q &amp; A</a></li>
                                <li><a href="/user-profile"><i class="fa fa-gear"></i> User Profile</a></li>
                                <li><a href="/dashboardApp/tests"><i class="fa fa-dashcube"></i> Tests</a></li>
                                <li><a href="/career-book/"><i class="fa fa-user"></i> Carrerbook</a></li>
                                <li><a href="/dashboard/user-highlights"><i class="fa fa-pencil"></i> Highlights</a></li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/career-book/"><span class="flex_auto"><i class="fa fa-tasks"></i>Carrerbook</span></a>
                        </div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <span href="/"  class="title_nav jsTilteCollapse">
                            <a href="/it-trainings" class="flex_auto">
                                <i class="fa fa-tasks"></i> IT Courses
                            </a> 
                            <i class="fa fa-chevron-down hidden-lg-up"></i>
                        </span>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled" id="it-courses">
                                <li>No Courses to show.</li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/books"><span class="flex_auto"><i class="fa fa-tasks"></i>Books</span></a>
                        </div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <div  class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tags"></i> Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i>
                        <div class="close-icon jsTriggerMenu" style="cursor: pointer">
                            <i class="fa fa-times hidden-md-down" ></i>
                        </div></div>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled">
                                <li>
                                    <a onclick="openSubscribeModal('Board Exams')" data-toggle="collapse"><i class="fa fa-list-alt"></i> Board Exams</a>
                                    <!-- <div>
                                        <ul class="list-unstyled details_list" id="board-courses">
                                            <li>No Courses to show.</li>
                                        </ul>
                                    </div> -->
                                </li>
                                <li>
                                    <a onclick="openSubscribeModal('Competitive Exams')" data-toggle="collapse"><i class="fa fa-th-large"></i> Competitive Courses</a>
                                    <!-- <div>
                                        <ul class="list-unstyled details_list" id="competitive-courses">
                                            <li>No Courses to show.</li>
                                        </ul>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/dashboard/performance"><span class="flex_auto"><i class="fa fa-tags"></i>Performace</span></a>
                        </div>
                    </li>
                </ul>
			</nav>
    	</header>
		<div class="fluid-container contactus-wrapper master-wrapper">
			<!-- <div class="header-btns">
				<a class="register-btn" href="/buy/"><i class="fa fa-lock"></i> pricing</a>
				<a class="register-btn" data-auth='false'  href="/login"><i class="fa fa-lock"></i> login</a>
				<a class="register-btn" data-auth="true" href="/logout"><i class="fa fa-lock"></i> logout</a>
				<a class="login-btn"  data-auth="false" href="/register"><i class="fa fa-user"></i> sign Up</a>
				<a class="login-btn" href="javascript:void(0);" onclick="toggleMenuModal(event)"><i class="fa fa-bars"></i></a>
			</div> -->
			<div class="sidebar">
		        <div class="tree-img">
		            <img src="/assets/images/tree.png" alt="">
		        </div>
		        <div class="extra-apple">
		            <img src="/assets/images/falling_apple.png" alt="">
		        </div>
		        <div class="courselist-apple">
		            <!-- <img src="/assets/images/apple-course.png" alt=""> -->
		        </div>
		    </div>
		    <!-- Bg Color -->
			<div class="quiz-bg-color"></div>

		    <!-- Bg image in all screen -->
			<!-- <div class="bg-image">
		        <img src="/assets/images/1366-bg-right.png" alt="">
		    </div>
		    <div class="bg-left-image">
		        <img src="/assets/images/1366-bg-left.png" alt="">
		    </div> -->
            <div class="big-bg-image"></div>

			<div class="main-container" id="main-container">
				<a class="mobile-logo-img" href="/">
					<img src="/assets/images/logo-dark.png"  alt="">
				</a>
				<div class="roof-wrapper">
					<img class="roof-img"  src="/assets/images/roof_flat_1.png"  alt="">
					<a class="logo-img" href="/">
						<img src="/assets/images/logo-dark.png"  alt="">
					</a>
					<!-- top bar fixed -->
					<div class="top-bar-fixed">
						<div class="menu-item search-box-field">
							<div class="search-btn">
								<img style="margin-right: 10px;" src="/assets/images/icons/19.png" alt="">
								Contact Form
							</div>
						</div>
					</div>
				</div>
		        <div class="main-content-wrapper">
		        	<div class="info-wrapper">
		        		<div class="info-sec blue">
		        			<div class="head"><i class="fa fa-phone"></i>Contact </div>
		        		    <span><%= data.ph %></span>
		        		</div>
		        		<div class="info-sec red">
		        			<div class="head"><i class="fa fa-envelope"></i>Support </div>
		        		    <span><%= data.support %></span>
		        		</div>
		        		<div class="info-sec green">
		        			<div class="head"><i class="fa fa-paper-plane-o"></i>Sales </div>
		        		    <span><%= data.sales %></span>
		        		</div>
		        	</div>
					<div class="social-media-login">
						<div class="login-form-wrapper">
							<div class="quote">Have a question or suggestion? We’d love to hear from you.</div>
			        		<div class="alert alert-success" id="success" style="display: none">Successfully sent</div>
			        		<div class="alert alert-danger" id="error" style="display: none">Error occured</div>
			        		<form action="#" class="form" name="form" onsubmit="return false;">
								<div class="form-group" id="fst_nm">
									<label for="fst_nm" class="sr-only">FirstName</label>
									<input type="text"  placeholder="Firstname" name="fst_nm" class="form-control" />
									<div class="error-text">Firstname is required</div>
								</div>
								<div class="form-group" id="email">
									<label for="email" class="sr-only">Email</label>
									<input type="email"  placeholder="Email" name="email" class="form-control"/>
									<div class="error-text">Email is no valid</div>
								</div>
								<div class="form-group" id="ph_no">
									<label for="ph_no" class="sr-only">Phone</label>
									<input type="text"  placeholder="Phone No" name="ph_no" class="form-control" />
									<div class="error-text">Number is not valid</div>
								</div>
								<div class="form-group" id="msg">
									<textarea rows="8" name="msg" id="msg-field" placeholder="Message" class="form-control"></textarea>
									<div class="error-text">Message is required and should be minimum 25 characters long</div>  
								</div>
								<div class="form-group">
									<div class="ew-rounded-btn pull-right submit-btn" onclick="submitForm();return false;">
										<i class="fa fa-home right"></i>
										<span class="text">Submit</span>
									</div>
									<!-- <input type="submit" id="submit" class="pull-right btn btn-primary submit-btn" />   -->
								</div>
								<div class="clearfix"></div>
							</form>
						</div>
					</div>
		        </div>
			</div>
		</div>
		<%include ./menu %>
		<div class="subscribe-modal">
			<div class="subscribe-close-btn" onclick="closeSubscribeModal()">
				<i class="fa fa-times"></i>
			</div>
			<div class="subscribe-title">
				<!-- This will be filled dynamically -->
			</div>
			<div class="subscribe-input">
				<input type="text" id="subscribe-tf" placeholder="Email Address Here">
				<div class="input-error-msg">*Please Enter valid Email Address</div>
			</div>
			<div class="subscribe-btn-wrapper">
				<div class="subscribe-btn ew-close" onclick="closeSubscribeModal()">
					<i class="fa fa-times"></i>
					<span>Cancel</span>
				</div>	
				<div class="subscribe-btn" onclick="subscribeUser()">
					<i class="fa fa-envelope"></i>
					<span>Subscribe</span>
				</div>	
			</div>
			
			<div class="alert alert-success success-msg">
				Thank you for subscribption.
			</div>

			<div class="alert alert-danger error-msg">
				Some Error occured.
			</div>
		</div>
        <!-- jquery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="../assets/js/menu.js"></script>
		<script src="../assets/js/textboxio/textboxio.js"></script>
		<script src="../assets/js/globals.js"></script>
        <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="../assets/js/websocket.js"></script>
		<script>
			var editor = window.contactMsgEditor =  textboxio.replace('#msg-field',{
										css: {
											stylesheets: [''],
											styles: [
												{
													rule: 'p',
													text: 'Paragraph'
													},
												{
													rule: 'h1',
													text: 'H1'
													},
												{
													rule: 'h2',
													text: 'H2'
													},
												{
													rule: 'h3',
													text: 'H3'
													},
												{
													rule: 'h4',
													text: 'H4'
													},
												{
													rule: 'div',
													text: 'div'
													},
												{
													rule: 'pre',
													text: 'pre'
													}
											]
										},
										codeview: {
											enabled: false,
											showButton: false
										},
										languages: ['en', 'es', 'fr', 'de', 'pt', 'zh'],
										paste: {
											style: 'prompt'
										},
										ui: {
											toolbar: {
												items: ['undo', 'style', 'emphasis', 'align', 'listindent', 'format', 'tools']
											}
										}
									});
		</script>
		<script>
			 			function validateEmail(email) {
                            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                            return re.test(email);
                        }
                        var subs_typ;
                        function openSubscribeModal(type) {
                            resetSubscribeModal();
                            subs_typ = type;
                            var text = type + " will be live shortly. Please Subscribe for Updates";
                            $(".subscribe-title").html(text);
                            $(".subscribe-modal").addClass("open");
                        }

                        function closeSubscribeModal() {
                            $(".subscribe-modal").removeClass("open");
                        }

                        function resetSubscribeModal() {
                            $(".subscribe-input").show();
                            $(".subscribe-btn").show();
                            $(".success-msg").hide();
                            $(".error-msg").hide();
                            $("#subscribe-tf").val('');
                            $("#subscribe-tf").removeClass("error");
                            $(".input-error-msg").hide();
                        }

                        function subscribeUser() {
                            $(".success-msg").hide();
                            $(".error-msg").hide();
                            var input = $("#subscribe-tf").val();
                            if(input.length <= 0 || !validateEmail(input)){
                                $("#subscribe-tf").addClass("error");
                                $(".input-error-msg").show();
                                return;
                            }
                            $("#subscribe-tf").removeClass("error");
                            $(".input-error-msg").hide();
                            $.ajax({
                                url : 'https://examwarrior.com/mail/subscribeUser',
                                method : 'post',
                                data : {
                                    subs_email : input,
                                    subs_typ : subs_typ
                                },
                                success : function(res){
                                    console.log(res);
                                    $(".success-msg").show();
                                    $(".subscribe-input").hide();
                                    $(".subscribe-btn").hide();
                                },
                                error : function(err){
                                    console.error(err);
                                    $(".error-msg").show();
                                }
                            })
                        }
                      $(function () {
                        $("#subscribe-tf").on('keyup',function(){
                            var input = $("#subscribe-tf").val();
                            if(input.length <= 0 || !validateEmail(input)){
                                $("#subscribe-tf").addClass("error");
                                $(".input-error-msg").show();
                            }else{
                                $("#subscribe-tf").removeClass("error");
                                $(".input-error-msg").hide();
                            }
                        })
                      })

            $("input[type=text]").on("input",function(e) {
            	if($(e.target).val().length <= 0){
            		$(e.target).parent().addClass("error");
            	}else{
            		$(e.target).parent().removeClass("error");
            	}
            })
            $("input[type=email]").on("input",function(e) {
            	if($(e.target).val().length <= 0){
            		$(e.target).parent().addClass("error");
            	}else{
            		$(e.target).parent().removeClass("error");
            	}
            })
            $("input[type=number]").on("input",function(e) {
            	if($(e.target).val().length <= 0){
            		$(e.target).parent().addClass("error");
            	}else{
            		$(e.target).parent().removeClass("error");
            	}
            })

            function validatePhoneNumber(no) {
                var re = /^\d+$/;
                return re.test(no);
            }

            function submitForm(e) {
            	// e.preventDefault();
            	$(".form").submit();
            	return false;
            }

			$('.form').submit(function (e) {
				e.preventDefault();
				var dataArr = $(".form").serializeArray();
				var data = {};
				dataArr.forEach(function(v,i) {
					data[v.name] = v.value;
				});
				
                $("#fst_nm").removeClass("error");
                $("#email").removeClass("error");
                $("#ph_no").removeClass("error");
                $("#msg").removeClass("error");

				var isError = false;
				if(!data.fst_nm){
					$("#fst_nm").addClass("error");
					isError = true;
				}
				if(!data.email || !validateEmail(data.email)){
					$("#email").addClass("error");
					isError = true;
				}
				if(!data.ph_no || !validatePhoneNumber(data.ph_no)){
					$("#ph_no").addClass("error");
					isError = true;
				}

				var html = window.contactMsgEditor.content.get();
				var msgText = $("<div>" + html + "</div>").text();

				if(!msgText || msgText.length < 25){
					$("#msg").addClass("error");
					isError = true;
				}else{
					data["msg"] = $("<div>" + html + "</div>").html();
				}

				if(isError){
					return false;
				}

				$("#msg").removeClass("error");

				$("#submit").attr("disabled","disabled");
				$(".submit-btn").addClass("disabled").find(".text").html("Submitting...")
				$.ajax({
					url : '/contact/saveContactMsg',
					data : data,
					method : 'post',
					success:function(){
						$(".form").trigger("reset");
           				$("#success").show();	
           				$("#error").hide();
           				$("#submit").removeAttr("disabled");
           				$(".submit-btn").removeClass("disabled").find(".text").html("Submit")
           				editor.content.set('<p></p>');
           				setTimeout(function() {
           					$("#success").hide();	
           					$("#error").hide();
           				},2000)
           			},
           			error:function(){
           				$("#error").show();	
           				$("#success").hide();
           				$("#submit").removeAttr("disabled");
           				$(".submit-btn").removeClass("disabled").find(".text").html("Submit")
           				setTimeout(function() {
           					$("#success").hide();	
           					$("#error").hide();
           				},2000)
           			}
				});

				return false;
			});
		</script>
		<script type="text/javascript">
			$(function () {
			    $('body').on( 'click', '.jsTriggerMenu, .jsCloseMenu', function (e) {
			      	e.preventDefault();
			      	$('.jsMainNav').toggleClass('show_nav');
			      	$('body').removeClass('src_show');
			      	$('.jsSrcShow').slideUp();
			    });
			    $(document).on( 'click', function (e) {
			      	if($(e.target).closest('.jsMainNav, .jsTriggerMenu').length) {
			        	return;
			      	}
			      	$('.jsMainNav').removeClass('show_nav');
			      	e.stopPropagation();
			    });

			    $('body').on( 'click', '.jsTilteCollapse', function (e) {
			      	e.preventDefault();
			      	$(this).toggleClass('show_sub_nav');
			      	$(this).closest('.jsNavShow').find('.jsSubNav').slideToggle();
			    });

			    $('body').on( 'click', '.jsSrcBt', function (e) {
			      	e.preventDefault();
			      	$('body').toggleClass('src_show');
			      	$('.jsSrcShow').slideToggle();
			      	$('.jsMainNav').removeClass('show_nav');
			    });
			    function isAuthenticated() {
                    var a = new Auth();
                    return a.isAuthenticated();
					// var tokenKey = "ls.dsToken";
					// var userKey = "ls.dsUser";
					// return !!localStorage[tokenKey] && !!localStorage[userKey];
				}

				// Hide Unauthorized link
			    (function(){
					var isLoggedIn = isAuthenticated();
					$("[data-auth='true']").each(function(i,block) {
						if(!isLoggedIn){
							$(block).css("display","none");
						}
					});
					$("[data-auth='false']").each(function(i,block) {
						if(isLoggedIn){
							$(block).css("display","none");
						}
					});
				})();

				function getUserId() {
				    var userKey = "ls.dsUser";
				    var obj = localStorage[userKey];
				    var jsonObj = JSON.parse(obj);
				    return jsonObj["usr_id"];
				}

				function getUserName() {
				    var userKey = "ls.dsUser";
				    var obj = localStorage[userKey];
				    if(obj){
				    	var jsonObj = JSON.parse(obj);
				    	return jsonObj["dsp_nm"];	
				    }else{
				    	return '';
				    }
				}

				//Set Username
				(function() {
					var name = getUserName();
					var MAX_CHAR = 10;
					if(name.length > MAX_CHAR){
						name = name.substr(0,MAX_CHAR) + "...";
					}
					$(".username").html(name);
				})();	

				//getCoursesData
				(function() {
				    $.ajax({
				        url : 'https://examwarrior.com/course/getAll',
				        method : 'post',
				        success : function(courses){
				            fillHTMLDOMWithCourses(courses,'it');
				            fillHTMLDOMWithCourses(courses,'board');
				            fillHTMLDOMWithCourses(courses,'competitive');
				        },
				        error : function(err){
				            console.log(err);
				        }
				    })
				})();

				function fillHTMLDOMWithCourses(courses,type) {
				    var arrDom = [];
				    courses.forEach(function(v,i) {
				        if(v.courseType === type){
				            var a = $("<a></a>");
				            var link = '/' + type + '/' + v.courseSubGroup + '-trainings/' + v.courseId;
				            a.attr("href",link);
				            a.addClass("item white");
				            a.html(v.courseName);
				            var li = $("<li></li>").append(a);    
				            if(arrDom.length <= 5){
				            	arrDom.push(li);    	
				            }
				        }
				    });
				    if(arrDom.length > 0){
				        var a = $("<a></a>");
			            var link = '/' + type + '-trainings';
			            a.attr("href",link);
			            a.addClass("item white text_right");
			            a.html("All Courses");
			            var li = $("<li></li>").append(a);    
			            arrDom.push(li);    

			            $("#" + type + "-courses").html(arrDom);    
				    }
				}
			 });
		</script>
		<script type="text/javascript">
	        function getUserId() {
	            var userKey = "ls.dsUser";
	            var obj = localStorage[userKey];
	            if(obj){
	            	var jsonObj = JSON.parse(obj);
	            	return jsonObj["usr_id"];
	            }else{
	            	return '';
	            }
	        }
	        function getNotificationCount() {
	            if(getUserId()){
	                $.ajax({
	                    url : '/sendNotification/getSendNotificationCount',
	                    method : 'post',
	                    data : {
	                        usr_id : getUserId()
	                    },
	                    success : function(details){
	                        details = details[0] || {};
	                        var notificaionCount = details.noti_cnt;
	                        if(notificaionCount > 0){
	                            $("#notification-count").html(notificaionCount)
	                        }else{
	                            $("#notification-count").hide();
	                        }
	                        
	                    },
	                    error : function(err){
	                        console.log(err);
	                    }
	                })
	            }else{

	            }
	        }
        getNotificationCount();
    </script>
    			<script>
                    $('body').on( 'click', '#smenu-modal-link', function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click', "#smenu-modal", function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click',function (e) {
                        closeSMENUModal();
                    });
                    $("#smenu-modal").hide();

                    function setUserPic() {
                        var userKey = "ls.dsUser";
                        var obj = localStorage[userKey];
                        if(obj){
                            var jsonObj = JSON.parse(obj);
                            var pic =  jsonObj["usr_pic"]; 
                            if(pic){
                                $(".user-pic-img").attr("src",pic);
                            }
                        }
                    }
                    setUserPic();

                    function toggleSMENUModal() {
                        closeUserMenuModal();
                    	$('.jsMainNav').removeClass('show_nav');
                        $("#smenu-modal").toggle();
                    }
                    function closeSMENUModal() {
                        $("#smenu-modal").hide();
                    }

                    $('body').on( 'click', '#user-menu-modal-link', function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click', "#user-menu-modal", function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click',function (e) {
                        closeUserMenuModal();
                    });

                    function toggleUserMenuModal() {
                        closeSMENUModal();
                        $('.jsMainNav').removeClass('show_nav');
                        $("#user-menu-modal").toggle();
                    }
                    function closeUserMenuModal() {
                        $("#user-menu-modal").hide();
                    }
                </script>
    </body>
</html>