<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv=X-UA-Compatible content="IE=11">
	<title>ContactUS</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700|Nunito" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/bower.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body class="examwarrior_theme service_page contact_page">
	<%include ./headerMenu %>
	<div class="content_wrapper">
		<div class="custom_container">
			<div class="top_block">
				<a href="/" class="house_logo">
					<picture>
						<source srcset="/assets/images/logo_dark.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/logo_dark.png">
					</picture>
				</a>
				<div class="bg_block">
					<picture>
						<source srcset="/assets/images/roof_flat.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/roof_flat.png">
					</picture>
				</div>
				<div class="tools_block">
					<div class="tool_part"><i class="icon_tools icon_search"></i>Contact Form</div>
				</div>
			</div>
			<div class="main_content">
				<div class="wrap_content custom_row">
					<div class="left_part custom_col">
						<ul class="list-unstyled tools_links">
							<li>
								<div class="tool_link blue_link">
									<span><i class="fa fa-phone"></i> Contact</span>
									<span class="contact_info"><%= data.ph %></span>
								</div>
							</li>
							<li>
								<div class="tool_link red_link">
									<span><i class="fa fa-envelope"></i> Support</span>
									<span class="contact_info"><%= data.support %></span>
								</div>
							</li>
							<li>
								<div class="tool_link green_link">
									<span><i class="fa fa-paper-plane-o"></i> Sales</span>
									<span class="contact_info"><%= data.sales %></span>
								</div>
							</li>
						</ul>
					</div>
					<div class="right_part custom_col">
						<form class="contact_form form" name="form" onsubmit="return false">
							<p class="desc_form">Have a question or suggestion? We’d love to hear from you.</p>
							<div class="alert alert-success" id="success" style="display: none">Successfully sent</div>
			        		<div class="alert alert-danger" id="error" style="display: none">Error occured</div>
							<div class="form-group" id="fst_nm">
								<input type="text"  placeholder="Firstname" name="fst_nm" class="form-control" />
								<div class="error-text">Firstname is required</div>
							</div>
							<div class="form-group" id="email">
								<input type="email"  placeholder="Email" name="email" class="form-control"/>
								<div class="error-text">Email is no valid</div>
							</div>
							<div class="form-group" id="ph_no">
								<input type="text"  placeholder="Phone No" name="ph_no" class="form-control" />
								<div class="error-text">Number is not valid</div>
							</div>
							<div class="form-group" id="msg">
								<textarea rows="10" name="msg" id="msg-field" placeholder="Message" class="form-control"></textarea>
								<div class="error-text">Message is required and should be minimum 25 characters long</div>  
							</div>
							<div class="form-group text_right">
								<button type="submit" class="btn_form submit-btn">
									<i class="fa fa-save"></i>
									<span class="text">Submit</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="list bottom_nav hidden-md-up">
	  <li><a href="/">Login Links</a></li>
	  <li><a href="/">Dashboard</a></li>
	  <li><a href="/">IT Course</a></li>
	  <li><a href="/">All Course</a></li>
	</ul>
	
	<a href="#" class="dashboard_link"></a>
	<div class="bg_page" style="background-image: url(/assets/images/bg_new.png);"></div>

	<!-- build:js js/all.js -->
	<!-- bower:js -->
	<script src="/assets/bower_components/jquery/dist/jquery.js"></script>
	<script src="/assets/bower_components/tether/dist/js/tether.js"></script>
	<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/assets/bower_components/lazysizes/lazysizes.js"></script>
	<script src="/assets/js/textboxio/textboxio.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<script src="/assets/js/globals.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/contactus.js"></script>
	<script src="/assets/js/subscribe.js"></script>

	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="../assets/js/websocket.js"></script>
</body>
</html>