<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
        <style type="text/css">
            
        </style>
    </head>
    <body>
        <header>
            <% include ../partial/header %>
        </header>
        <div class="course-container has-header-footer">
            <div class="fluid-container">
                <div class="row course-header-wrapper">
                    <div class="col-lg-2 hidden-sm hidden-xs course-header-left">
                        <div class="course-extra-info">
                            <div class="course-left-menu">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-home"></i></li>
                                    <li><i class="fa fa-search"></i></li>
                                    <li><i class="fa fa-tv"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-12 col-xs-12 course-header-center">
                        <div class="jumbotron">
                            <div class="content">
                                <h3 class="header-course-name" id="<%= data.courseId %>">
                                    <%= data.courseName %> 
                                </h3>
                                <h5 class="header-author">By
                                <span>
                                    <%= data.author %>
                                </span>
                                </h5>
                                <p class="short-info"><%= data.courseShortDesc %></p>
                                <p>
                                    <table class="table table-condensed">
                                        <tr>
                                            <td>Rate Course</td>
                                            <td style="color:gold">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </p>
                            </div>
                            
                        </div>
                        <div class="course-share">
                            <div class="social-icons">
                                <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="" class="google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="course-info-bar">
                        Course Info <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-xs-12 course-header-right">
                        <div class="course-extra-info">
                            <div class="course-author">
                                <img class="thumbnail text-center avatar" src=''/>
                                <div class="author-name text-center">
                                    <span>
                                        <%= data.author %>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="course-rating-info">
                                <h5>Course Info</h5>
                                <table class="table">
                                    <tr>
                                        <td>Level</td>
                                        <td><%= data.courseLevel %></td>
                                    </tr>
                                    <tr>
                                        <td>My Rating</td>
                                        <td><div rating ng-model="course.myrating" max="5" on-rating-select="course.rateFunction(course.myrating)"></div></td>
                                    </tr>
                                    <tr>
                                        <td>Last Updated</td>
                                        <td><%= data.LastUpdated %></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row course-content-wrapper">
                    <div class="col-lg-2 hidden-sm hidden-xs course-content-left">
                        <!-- <div style="height: 50px;background-color: #2C3E50;border-top: 1px solid white"></div> -->
                    </div>
                    <div class="col-lg-7 col-sm-12 col-xs-12 course-content-center">
                        
                        <div class="section-tabs">
                            <ul class="nav nav-tabs nav-justified" id="course-page-tab">
                                <li><a data-target="#module-wrapper" data-toggle="tab">Table Of Contents</a></li>
                                <li><a data-target="#description" data-toggle="tab">Description</a></li>
                                <li><a data-target="#exercise-files" data-toggle="tab">Exercise Files</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active module-wrapper" id="module-wrapper">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <% data.moduleDetail.sort(function(a,b){return a.moduleNumber - b.moduleNumber}).forEach(function(item,index){ %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                <div class="accordion-toggle" id="<%= item.moduleId %>_wrapper" data-toggle="collapse" data-title="<%= item.moduleName %>" href='#collapse_<%= item.moduleId %>' aria-expanded="true" aria-controls="collapseOne">
                                                    <span class="module-name" role="button" title="<%= item.moduleName %>">
                                                        <span class="module-number"><%= index + 1 %></span>.
                                                        <span class="module-name-inner"><%if (item.moduleName.length > 70) { %><%= item.moduleName.substring(0,70) + '...' %><%}else{%><%= item.moduleName %><%}%></span>
                                                    </span>
                                                    <span class="panel-header-icons"><i class="fa arrow fa-arrow-right"></i></span>
                                                    <!-- <span class="panel-header-icons"><i class="fa fa-check"></i></span> -->
                                                    <!-- <span class="panel-header-icons"><i class="fa fa-bookmark"></i></span> -->
                                                </div>
                                                
                                                </h4>
                                            </div>
                                            <div id='collapse_<%= item.moduleId %>' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <ul class="list-unstyled">
                                                        <% item.moduleItems.sort(function(a,b){return (a.videoNumber - b.videoNumber)}).forEach(function(video,index){ %>
                                                        <li id="<%= video.videoId %>_wrapper">
                                                            <% var str = "'" + data.courseId + "','" + item.moduleId + "','" + video.videoId  + "'" %>
                                                            <span title="<%= video.videoName %>" data-title="<%= video.videoName %> in accordion" style="cursor:pointer" class="video-name">
                                                                <%= item.moduleNumber + "." + video.videoNumber %> <%= video.videoName %>
                                                            </span>
                                                            <!-- // onclick="course.goToVideo(<%= str %>)" -->
                                                            <span class="panel-header-icons"><i class="fa fa-comment"></i></span>
                                                            <span class="panel-header-icons"><%= ('0'+ (video.videoDuration.min)||'0').slice(-2) + ":" + ('0'+(video.videoDuration.sec) || '0').slice(-2) %></span>
                                                            <span class="panel-header-icons"><i class="fa fa-check"></i></span>
                                                            <span class="panel-header-icons bookmark-icon" 
                                                                    id="<%= video.videoId %>_bookmark" >
                                                                    <i class="fa fa-bookmark-o"></i>
                                                            </span>
                                                        </li>
                                                        <% }); %>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <div id="description" class="tab-pane">
                                    <%= data.courseLongDesc %>
                                </div>
                                <div id="exercise-files" class="tab-pane">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-xs hidden-sm hidden-md course-content-right">
                        <!-- <div style="height: 50px;background-color: #2C3E50;margin-left:-15px;margin-right: -15px;border-top: 1px solid white"></div> -->
                        <div class="sidebar-widget" style="margin-top: 65px;">
                            <div class="title-wrapper">
                                <span class="title">Bookmarks</span>    
                            </div>
                            
                            <!-- <div class="horizontal-line"></div> -->
                            <ul class="list-unstyled" id="bookmarks">
                                
                            </ul>
                            <div class="footer-wrapper">
                            <div class="full" style="text-align: right;padding-right:15px; ">
                                 More
                                 <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="errorModal" class="modal" role="dialog">
          <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <span type="button" class="close" style="margin-top:7px;" data-dismiss="modal"><i class="fa fa-close"></i></span>
                <h4 class="modal-title">Error</h4>                
              </div>
              <div class="modal-body">
                You need to login to view this video.
              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="/auth/#/login">Login</a>
              </div>
            </div>
          </div>
        </div>
        <footer>
            <%include ../partial/footer %>
        </footer>
        <% include ../partial/scripts %>
        <script src="/assets/js/config.js"></script>
        <script src="/assets/js/course.js"></script>
    

        <script type="text/javascript">

        var itemIds , itemTypes;
        $('#course-page-tab a:first').tab('show');
        $('.accordion-toggle').click(function(){
            var ele = $(this);
            var child = $(ele).find('.arrow');
            var right_class = "fa-arrow-right";
            var down_class = "fa-arrow-down";

            if($(child).hasClass(right_class)){
                $(child).removeClass(right_class);
                $(child).addClass(down_class);

            }else{
                $(child).addClass(right_class);
                $(child).removeClass(down_class);
            }
        });
        </script>
    </body>
</html>