<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
    </head>
    <body>
        <header>
            
        </header>
        <div class="fluid-container courselist-new-wrapper">
            <div class="courselist-header">
                
                <!-- <div class="header-upper-part">
                    <div class="share-icons">
                        <span class="icons">
                            <i class="fa fa-facebook facebook"></i>
                            <i class="fa fa-twitter twitter"></i>
                            <i class="fa fa-google google"></i>
                            <i class="fa fa-linkedin linkedin"></i>
                        </span>
                    </div>
                    <div class="rate-icons">
                        <span class="text">Learn</span>
                        <div class="rotator">
                            <span id="learning-options"></span>
                        </div>
                    </div>
                    <div class="header-btns">
                        <a class="register-btn" href="/auth/#/login"><i class="fa fa-lock"></i> Login</a>
                        <a class="login-btn" href="/auth/#/register"><i class="fa fa-plus"></i> Sign Up</a>
                     </div>    
                </div> -->
                <div class="text-rotator">
                    Courselist
                </div>
            </div>
            <div class="sidebar">
                <div class="top-arrow"></div>
                <div class="rocket-bar">
                    <div class="logo">dvBYdt.com</div>
                    <div class="shape-wrapper">
                        <span class="parallelogram red">
                            <i class="fa fa-question-circle"> </i>
                            <span class="title">Y dvBydt?</span>
                            <span class="sub-title">We are the best</span>
                        </span>
                        <span class="parallelogram blue">
                            <i class="fa fa-list"> </i>
                            <span class="title">Courselist</span>
                            <span class="sub-title">World of Courses</span>
                        </span>
                        <span class="parallelogram gray">
                            <i class="fa fa-pencil"> </i>
                            <span class="title">Feedback</span>
                            <span class="sub-title">Help Us to improve !</span>
                        </span>        
                        <span class="parallelogram orange">
                            <i class="fa fa-phone"> </i>
                            <span class="title">Contact Us</span>
                            <span class="sub-title">Have any query?</span>
                        </span>        
                        
                    </div>
                    <div class="footer">Copyrights &copy; 2004-2016 dvbydt.com</div>
                </div>
            </div>
            
            <div class=" main-content">
                
                <div class="course-list-center">
                    <!-- <div class="list-heading">
                            Courselist
                        </div> -->
                    <div class="courselist">
                        
                        <ul class="list-unstyled">
                            <% data.forEach(function(data){ %>
                            <li>
                                <div class="info-wrapper">
                                    <div class="book-icon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <div>
                                        <div class="name">
                                            <a href="/course/<%= data.courseId %>" data-title="<%= data.courseName %> in Courselist"><%= data.courseName %></a>
                                        </div>
                                        <div class="extra-info">
                                            <div class="author">
                                                Author(s): <%= data.author %>
                                            </div>
                                            <div class="level">
                                                Level: <%= data.courseLevel %>
                                            </div>
                                            <div class="released">
                                                Last Updated: <%= data.LastUpdated %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>    
                            </li>
                            <% }); %>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="right-sidebar">
                <div class="login-signup">
                    <div class="item"><span class="cap">Login</span> <i class="fa side-icon fa-lock"></i> </div>
                    <div class="item"><span class="cap">SIgnUp</span> <i class="fa side-icon fa-user"></i> </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapse_id' aria-expanded="true" aria-controls="collapseOne">
                                Infomatica Training
                            </div>
                            </h4>
                        </div>
                        <div id='collapse_id' class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">   
                                <div class="sidebar-widget">
                                    <ul class="list-unstyled inner-courses">
                                        <li>Infomatica Basics</li>
                                        <li>Infomatica Advanced</li>
                                        <li>
                                            Infomatica Administartion
                                            <a href="" class="more-button"> 
                                                More  <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li style="color: #2574A9">
                                            Why we are the best? 
                                            <a href="#" class="see-here-button">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapse_node' aria-expanded="true" aria-controls="collapseOne">
                                NodeJS
                            </div>
                            </h4>
                        </div>
                        <div id='collapse_node' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">   
                                <div class="sidebar-widget">
                                    <ul class="list-unstyled inner-courses">
                                        <li>NodeJS Basics</li>
                                        <li>NodeJS Advanced</li>
                                        <li>
                                            NodeJS Administartion
                                            <a href="" class="more-button"> 
                                                More  <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li style="color: #2574A9">
                                            Why we are the best? 
                                            <a href="#" class="see-here-button">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapse_angular' aria-expanded="true" aria-controls="collapseOne">
                                AngularJS
                            </div>
                            </h4>
                        </div>
                        <div id='collapse_angular' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">   
                                <div class="sidebar-widget">
                                    <ul class="list-unstyled inner-courses">
                                        <li>NodeJS Basics</li>
                                        <li>NodeJS Advanced</li>
                                        <li>
                                            NodeJS Administartion
                                            <a href="" class="more-button"> 
                                                More  <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li style="color: #2574A9">
                                            Why we are the best? 
                                            <a href="#" class="see-here-button">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="sharing">
                    <div class="item"><span class="cap">Facebook</span> <i class="fa side-icon fa-facebook"></i> </div>
                    <div class="item"><span class="cap">Google</span> <i class="fa side-icon fa-google"></i> </div>
                    <div class="item"><span class="cap">Twitter</span> <i class="fa side-icon fa-twitter"></i> </div>
                    <div class="item"><span class="cap">Linkedin</span> <i class="fa side-icon fa-linkedin"></i> </div>
                </div>
            </div>
        </div>
        <% include ../partial/scripts %>
        <script src="/assets/js/courselist.js"></script>
        <script src="/bower_components/typed.js/dist/typed.min.js"></script>
        <script type="text/javascript">
            $('#learning-options').typed({
                    strings: ['Java^500','BI^500','BIG DATA^500'],
                    typeSpeed: 200,
                    loop: true,
                    loopCount: false,
                    showCursor: true,
                    cursorChar: "|",
            });
        </script>
        <script>
            var courseOffers = [{
                title : "Informatica Training",
                innerCourses : ['Infomatica Basics' , 'Infomatica Advanced' , 'Infomatica Administartion' , 'Teradata Developer Training']
            },{
                title : "Angular JS",
                innerCourses : ['Javascript Basics','Angular JS','Directives in Depth']
            },{
                title : "Node JS",
                innerCourses : ['Javascript Basics','Node JS','Express JS','Custom Modules']
            }]    
        </script>
    </body>
</html>