<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
    </head>
    <body>
        <header>
            <% include ../partial/header %>
        </header>
        <div class="fluid-container has-header-footer">
            <div class="row course-banner-wrapper">
                <div class="col-md-0 course-banner-left">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i></li>
                        <li><i class="fa fa-search"></i></li>
                        <li><i class="fa fa-tv"></i></li>
                    </ul>
                </div>
                <div class="col-md-12 course-banner-right">
                    <div class="banner">
                        <div class="banner-heading">Course Features</div>
                        <ul>
                            <li>Online Classes</li>
                            <li>Training Videos</li>
                            <li>Practice Tests</li>
                            <li>Notes</li>
                            <li>Interview Questions</li>
                            <li>Exercise Files</li>
                        </ul>
                    </div>
                    <div >
                        <h3 class="page-title">Coursename and Description</h3>
                    </div>
                </div>
            </div>
            <div class="row courselist-wrapper">
                <div class="col-md-2 course-list-left">
                    
                </div>
                <div class="col-md-8 course-list-center">
                    <div class="courselist">
                        <ul class="list-unstyled">
                            <% data.forEach(function(data){ %>
                            <li>
                                <div class="course-image">
                                    <img src="<%= data.imageUrl %>" alt="<%= data.courseName %>" />
                                </div>
                                <div class="info-wrapper">
                                    <div class="name">
                                        <a href="/course/<%= data.courseId %>" data-title="<%= data.courseName %> in Courselist"><%= data.courseName %></a>
                                        <!-- <%- link_to(data.courseName,'/course/'+data.courseId) %> -->
                                    </div>
                                    <div class="description">
                                       <div> <%= data.courseLongDesc %></div>
                                    </div>
                                    <div class="extra-info">
                                        <div class="author">
                                            Author(s): <%= data.author %>
                                        </div>
                                        <div class="level">
                                            Level: <%= data.courseLevel %>
                                        </div>
                                        <div class="released">
                                            Last Updated: <%= data.LastUpdated %>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>    
                            </li>
                            <% }); %>

                        </ul>
                    </div>
                </div>
                <div class="col-md-2 course-list-right">
                    <div class="sidebar-widget">
                        <div class="title-wrapper">
                            <span class="pull-left title-icon" onclick="prevCourseOffer(this)"><i class="fa fa-arrow-left"></i></span>
                            <span class="title">Informatica Training</span>
                            <span class="pull-right title-icon" onclick="nextCourseOffer(this)"><i class="fa fa-arrow-right"></i></span>
                        </div>
                        <ul class="list-unstyled inner-courses">
                            <li>Infomatica Basics</li>
                            <li>Infomatica Advanced</li>
                            <li>
                                Infomatica Administartion
                                <a href="" class="more-button"> 
                                    More  <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li style="color: #2574A9">
                                Why we are the best in informatica? 
                                <a href="#" class="see-here-button">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="footer-wrapper">
                            <div class="full">
                                <i class="fa fa-shopping-cart"></i>
                                 Buy Now
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer>
            <% include ../partial/footer %>
        </footer>
        <% include ../partial/scripts %>
        <script src="/assets/js/courselist.js"></script>
        <script>
            var courseOffers = [{
                title : "Informatica Training",
                innerCourses : ['Infomatica Basics' , 'Infomatica Advanced' , 'Infomatica Administartion' , 'Teradata Developer Training']
            },{
                title : "Angular JS",
                innerCourses : ['Javascript Basics','Angular JS','Directives in Depth']
            },{
                title : "Node JS",
                innerCourses : ['Javascript Basics','Node JS','Express JS','Custom Modules']
            }]    
        </script>
    </body>
</html>