<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
        <style type="text/css">
        
        </style>
    </head>
    <body>
        <div class="course-wrapper-new">
            
            <div class="sidebar">
                <div class="logo">
                    dvBYdt.com
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="icon"><i class="fa fa-question-circle"></i></div>
                        <span class="text">Y dvBydt.com</span>
                    </li>
                    <li ui-sref="home.courselist" ui-sref-active="active">
                        <div class="icon"><i class="fa fa-list"></i></div>
                        <span class="text">Courselist</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                        <span class="text">Feedback</span>
                    </li>
                    <li >
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <span class="text">Contact Us</span>
                    </li>
                </ul>
            </div>

            <div class="right-sidebar">
                <div class="profile">
                    <span class="pic"><img src="http://www.journalnetwork.org/assets/default-profile-54364fb08cf8b2a24e80ed8969012690.jpg" alt=""></span>
                    <span class="name">Sarju</span>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="icon"><i class="fa fa-video-camera"></i></div>
                        <span class="text">Guidance</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-bell"></i></div>
                        <span class="text">Notifications</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-comments"></i></div>
                        <span class="text">Chat</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                        <span class="text">Feedback</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-gear"></i></div>
                        <span class="text">Settings</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <span class="text">Contact Us</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-sign-out"></i></div>
                        <span class="text">Logout</span>
                    </li>
                </ul>
            </div>

            <div class="main-container">
                <div class="title">
                    <%= data.courseName %> 
                </div>
                <div class="course-content-wrapper">
                    <div class="course-content-center">
                        <div class="section-tabs">
                            <div class="tab-content">
                                <div class="tab-pane active module-wrapper" id="module-wrapper">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <% data.moduleDetail.sort(function(a,b){return a.moduleNumber - b.moduleNumber}).forEach(function(item,index){ %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                <div class="accordion-toggle" id="<%= item.moduleId %>_wrapper" data-toggle="collapse" data-title="<%= item.moduleName %>" href='#collapse_<%= item.moduleId %>' aria-expanded="true" aria-controls="collapseOne">
                                                    <span class="module-name" role="button" title="<%= item.moduleName %>">
                                                        <span class="module-number1"><i class="fa fa-play-circle"></i></span>
                                                        <span class="module-number"><% if (index + 1 < 10){ %><%="0" + (index+1) %><%}else{%><%= index + 1 %><%}%></span>
                                                        <span class="module-name-inner"><%if (item.moduleName.length > 70) { %><%= item.moduleName.substring(0,70) + '...' %><%}else{%><%= item.moduleName %><%}%></span>
                                                    </span>
                                                    <span class="panel-header-icons"><i class="fa arrow fa-arrow-right"></i></span>
                                                    <span class="panel-header-icons"><% if (index + 1 < 10){ %><%="0" + (index+1) %><%}else{%><%= index + 1 %><%}%>:10</span>
                                                    <span class="panel-header-icons"><i class="fa fa-comment"></i></span>

                                                    <span class="panel-header-icons"><i class="fa fa-bookmark"></i></span>
                                                </div>
                                                
                                                </h4>
                                            </div>
                                            <div id='collapse_<%= item.moduleId %>' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <ul class="list-unstyled">
                                                        <% item.moduleItems.sort(function(a,b){return (a.videoNumber - b.videoNumber)}).forEach(function(video,index){ %>
                                                        <li id="<%= video.videoId %>_wrapper">
                                                            <% var str = "'" + data.courseId + "','" + item.moduleId + "','" + video.videoId  + "'" %>
                                                            <span title="<%= video.videoName %>" data-title="<%= video.videoName %> in accordion" style="cursor:pointer" class="video-name">
                                                                <%= item.moduleNumber + "." + video.videoNumber %> <%= video.videoName %>
                                                            </span>
                                                            <!-- // onclick="course.goToVideo(<%= str %>)" -->
                                                            <span class="panel-header-icons"><i class="fa fa-comment"></i></span>
                                                            <span class="panel-header-icons"><%= ('0'+ (video.videoDuration.min)||'0').slice(-2) + ":" + ('0'+(video.videoDuration.sec) || '0').slice(-2) %></span>
                                                            <span class="panel-header-icons"><i class="fa fa-check"></i></span>
                                                            <span class="panel-header-icons bookmark-icon"
                                                                id="<%= video.videoId %>_bookmark" >
                                                                <i class="fa fa-bookmark-o"></i>
                                                            </span>
                                                        </li>
                                                        <% }); %>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <div id="description" class="description tab-pane">
                                    <%= data.courseLongDesc %>
                                </div>
                                <div id="exercise-files" class="tab-pane">
                                    
                                </div>
                                <div class="sidebar-widget tab-pane" id="bookmark-wrapper" style="margin-top: 65px;">
                                    <div class="title-wrapper">
                                        <span class="title">Bookmarks</span>    
                                    </div>
                            
                                    <ul class="list-unstyled" id="bookmarks">
                                        
                                    </ul>
                                    <div class="footer-wrapper">
                                        <div class="full" style="text-align: right;padding-right:15px; ">
                                             More
                                            <i class="fa fa-angle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="main-content" style="display: none;">
                <div class="row course-content-wrapper">
                    <div class="course-content-center">
                        <div class="section-tabs">
                            <div class="tab-content">
                                <div class="tab-pane active module-wrapper" id="module-wrapper">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <% data.moduleDetail.sort(function(a,b){return a.moduleNumber - b.moduleNumber}).forEach(function(item,index){ %>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                <div class="accordion-toggle" id="<%= item.moduleId %>_wrapper" data-toggle="collapse" data-title="<%= item.moduleName %>" href='#collapse_<%= item.moduleId %>' aria-expanded="true" aria-controls="collapseOne">
                                                    <span class="module-name" role="button" title="<%= item.moduleName %>">
                                                        <span class="module-number1"><i class="fa fa-play-circle"></i></span>
                                                        <span class="module-number"><% if (index + 1 < 10){ %><%="0" + (index+1) %><%}else{%><%= index + 1 %><%}%></span>
                                                        <span class="module-name-inner"><%if (item.moduleName.length > 70) { %><%= item.moduleName.substring(0,70) + '...' %><%}else{%><%= item.moduleName %><%}%></span>
                                                    </span>
                                                    <span class="panel-header-icons"><i class="fa arrow fa-arrow-right"></i></span>
                                                    <span class="panel-header-icons"><% if (index + 1 < 10){ %><%="0" + (index+1) %><%}else{%><%= index + 1 %><%}%>:10</span>
                                                    <span class="panel-header-icons"><i class="fa fa-comment"></i></span>

                                                    <span class="panel-header-icons"><i class="fa fa-bookmark"></i></span>
                                                </div>
                                                
                                                </h4>
                                            </div>
                                            <div id='collapse_<%= item.moduleId %>' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <ul class="list-unstyled">
                                                        <% item.moduleItems.sort(function(a,b){return (a.videoNumber - b.videoNumber)}).forEach(function(video,index){ %>
                                                        <li id="<%= video.videoId %>_wrapper">
                                                            <% var str = "'" + data.courseId + "','" + item.moduleId + "','" + video.videoId  + "'" %>
                                                            <span title="<%= video.videoName %>" data-title="<%= video.videoName %> in accordion" style="cursor:pointer" class="video-name">
                                                                <%= item.moduleNumber + "." + video.videoNumber %> <%= video.videoName %>
                                                            </span>
                                                            <!-- // onclick="course.goToVideo(<%= str %>)" -->
                                                            <span class="panel-header-icons"><i class="fa fa-comment"></i></span>
                                                            <span class="panel-header-icons"><%= ('0'+ (video.videoDuration.min)||'0').slice(-2) + ":" + ('0'+(video.videoDuration.sec) || '0').slice(-2) %></span>
                                                            <span class="panel-header-icons"><i class="fa fa-check"></i></span>
                                                            <span class="panel-header-icons bookmark-icon"
                                                                id="<%= video.videoId %>_bookmark" >
                                                                <i class="fa fa-bookmark-o"></i>
                                                            </span>
                                                        </li>
                                                        <% }); %>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <div id="description" class="description tab-pane">
                                    <%= data.courseLongDesc %>
                                </div>
                                <div id="exercise-files" class="tab-pane">
                                    
                                </div>
                                <div class="sidebar-widget tab-pane" id="bookmark-wrapper" style="margin-top: 65px;">
                                    <div class="title-wrapper">
                                        <span class="title">Bookmarks</span>    
                                    </div>
                            
                                    <ul class="list-unstyled" id="bookmarks">
                                        
                                    </ul>
                                    <div class="footer-wrapper">
                                        <div class="full" style="text-align: right;padding-right:15px; ">
                                             More
                                            <i class="fa fa-angle-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="right-sidebar">
                <div class="login-signup">
                    <div class="item"><span class="cap">Login</span> <i class="fa fa-lock"></i> </div>
                    <div class="item"><span class="cap">SIgnUp</span> <i class="fa fa-user"></i> </div>
                </div>
                <div class="sharing">
                    <div class="item"><span class="cap">Facebook</span> <i class="fa fa-facebook"></i> </div>
                    <div class="item"><span class="cap">Google</span> <i class="fa fa-google"></i> </div>
                    <div class="item"><span class="cap">Twitter</span> <i class="fa fa-twitter"></i> </div>
                    <div class="item"><span class="cap">Linkedin</span> <i class="fa fa-linkedin"></i> </div>
                </div>
            </div> -->
        </div>
        <div id="errorModal" class="modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <span type="button" class="close" style="margin-top:7px;" data-dismiss="modal"><i class="fa fa-close"></i></span>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        You need to login to view this video.
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" href="/auth/#/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/scripts %>
        <script src="/assets/js/config.js"></script>
        <script src="/assets/js/course.js"></script>
        
        <script type="text/javascript">
        var itemIds , itemTypes;
        $('#course-page-tab a:first').tab('show');
        $('.accordion-toggle').click(function(){
            var ele = $(this);
            var child = $(ele).find('.arrow');
            var right_class = "fa-arrow-right";
            var down_class = "fa-arrow-down";
            if($(child).hasClass(right_class)){
                $(child).removeClass(right_class);
                $(child).addClass(down_class);
            }else{
                $(child).addClass(right_class);
                $(child).removeClass(down_class);
            }
        });
        $("[data-tab]").on('click',function(){
            $('.tab-pane').removeClass('active');
            var id = $(this).data('tab');
            $(id).addClass('active');
        })
        </script>
    </body>
</html>