<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
    </head>
    <body>
        <header>
            
        </header>
        <div class="fluid-container courselist-1-new-wrapper">
            <div class="sidebar">
                <div class="logo">
                    <!-- dvBYdt.com -->
                </div>
                <div class="sidebar-img">
                    <img src="/assets/images/sidebar.png" width="100%" alt="">
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="icon"><i class="fa fa-question-circle"></i></div>
                        <span class="text">Y dvBydt.com</span>
                    </li>
                    <li ui-sref="home.courselist" ui-sref-active="active">
                        <div class="icon"><i class="fa fa-list"></i></div>
                        <span class="text">Courselist</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                        <span class="text">Feedback</span>
                    </li>
                    <li >
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <span class="text">Contact Us</span>
                    </li>
                </ul>
            </div>

            <div class="right-sidebar">
                <div class="profile">
                    <span class="pic"><img src="http://www.journalnetwork.org/assets/default-profile-54364fb08cf8b2a24e80ed8969012690.jpg" alt=""></span>
                    <span class="name">Sarju</span>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="icon"><i class="fa fa-video-camera"></i></div>
                        <span class="text">Guidance</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-bell"></i></div>
                        <span class="text">Notifications</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-comments"></i></div>
                        <span class="text">Chat</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                        <span class="text">Feedback</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-gear"></i></div>
                        <span class="text">Settings</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <span class="text">Contact Us</span>
                    </li>
                    <li>
                        <div class="icon"><i class="fa fa-sign-out"></i></div>
                        <span class="text">Logout</span>
                    </li>
                </ul>
            </div>

            <div class="main-container">
                <div class="title">
                    <!-- <img src="/assets/images/banner_head.jpg" alt=""> -->
                </div>
                <div class="course-list-center">
                    
                    <div class="courselist">
                        
                        <ul class="list-unstyled">
                            <% data.forEach(function(data){ %>
                            <li>
                                <div class="info-wrapper">
                                    <div class="book-icon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <div>
                                        <div class="name">
                                            <a href="/course/<%= data.courseId %>" data-title="<%= data.courseName %> in Courselist"><%= data.courseName %></a>
                                        </div>
                                        <div class="extra-info">
                                            <div class="author">
                                                Author(s): <%= data.author %>
                                            </div>
                                            <div class="level">
                                                Level: <%= data.courseLevel %>
                                            </div>
                                            <div class="released">
                                                Last Updated: <%= data.LastUpdated %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>    
                            </li>
                            <% }); %>

                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- <div class="right-sidebar">
                <div class="login-signup">
                    <div class="item"><span class="cap">Login</span> <i class="fa side-icon fa-lock"></i> </div>
                    <div class="item"><span class="cap">SIgnUp</span> <i class="fa side-icon fa-user"></i> </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapse_id' aria-expanded="true" aria-controls="collapseOne">
                                Infomatica Training
                            </div>
                            </h4>
                        </div>
                        <div id='collapse_id' class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">   
                                <div class="sidebar-widget">
                                    <ul class="list-unstyled inner-courses">
                                        <li>Infomatica Basics</li>
                                        <li>Infomatica Advanced</li>
                                        <li>
                                            Infomatica Administartion
                                            <a href="" class="more-button"> 
                                                More  <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li style="color: #2574A9">
                                            Why we are the best? 
                                            <a href="#" class="see-here-button">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapse_node' aria-expanded="true" aria-controls="collapseOne">
                                NodeJS
                            </div>
                            </h4>
                        </div>
                        <div id='collapse_node' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">   
                                <div class="sidebar-widget">
                                    <ul class="list-unstyled inner-courses">
                                        <li>NodeJS Basics</li>
                                        <li>NodeJS Advanced</li>
                                        <li>
                                            NodeJS Administartion
                                            <a href="" class="more-button"> 
                                                More  <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li style="color: #2574A9">
                                            Why we are the best? 
                                            <a href="#" class="see-here-button">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapse_angular' aria-expanded="true" aria-controls="collapseOne">
                                AngularJS
                            </div>
                            </h4>
                        </div>
                        <div id='collapse_angular' class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">   
                                <div class="sidebar-widget">
                                    <ul class="list-unstyled inner-courses">
                                        <li>NodeJS Basics</li>
                                        <li>NodeJS Advanced</li>
                                        <li>
                                            NodeJS Administartion
                                            <a href="" class="more-button"> 
                                                More  <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li style="color: #2574A9">
                                            Why we are the best? 
                                            <a href="#" class="see-here-button">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="sharing">
                    <div class="item"><span class="cap">Facebook</span> <i class="fa side-icon fa-facebook"></i> </div>
                    <div class="item"><span class="cap">Google</span> <i class="fa side-icon fa-google"></i> </div>
                    <div class="item"><span class="cap">Twitter</span> <i class="fa side-icon fa-twitter"></i> </div>
                    <div class="item"><span class="cap">Linkedin</span> <i class="fa side-icon fa-linkedin"></i> </div>
                </div>
            </div> -->
        </div>
        <% include ../partial/scripts %>
        <script src="/assets/js/courselist.js"></script>
        <script src="/bower_components/typed.js/dist/typed.min.js"></script>
        <script type="text/javascript">
            $('#learning-options').typed({
                    strings: ['Java^500','BI^500','BIG DATA^500'],
                    typeSpeed: 200,
                    loop: true,
                    loopCount: false,
                    showCursor: true,
                    cursorChar: "|",
            });
        </script>
        <script>
            var courseOffers = [{
                title : "Informatica Training",
                innerCourses : ['Infomatica Basics' , 'Infomatica Advanced' , 'Infomatica Administartion' , 'Teradata Developer Training']
            },{
                title : "Angular JS",
                innerCourses : ['Javascript Basics','Angular JS','Directives in Depth']
            },{
                title : "Node JS",
                innerCourses : ['Javascript Basics','Node JS','Express JS','Custom Modules']
            }]    
        </script>
    </body>
</html>