<header class="main_header">
	<div class="inner_wrapp">
		<a href="/" class="logo">
			<picture>
				<source srcset="../assets/images/logo_dark.png">
				<img alt="Logo" class="img-fluid" src="../assets/images/logo_dark.png">
			</picture>
		</a>
		<div class="right_nav">
			<ul class="list main_nav_list">
				<li class="dropdown hidden-md-down" data-auth="true">
					<a href="#" data-toggle="dropdown" class="mobile_menu">
						<img id="user-pic" style="width: 30px;border-radius: 50%;" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
						<span class="username"></span>
					</a>
					<div class="dropdown-menu dropdown_header">
						<ul class="list-unstyled">
							<li><a href="/dashboard" class="sub_link"><i class="fa fa-credit-card"></i>Dashboard</a></li>
							<li><a href="/logout" class="sub_link"><i class="fa fa-list"></i>Logout</a></li>
						</ul>
						<div class="wrap_btn">
							<a href="" class="footer_link"><i class="icon red_apple"></i>Close</a>
						</div>
					</div>
				</li>
				<li class="hidden-md-down" data-auth="true"><a href="/notifications" class="mobile_menu"><i class="fa fa-bell"></i>Notifications</a></li>
				<li class="dropdown hidden-md-down">
					<a href="#" data-toggle="dropdown" class="mobile_menu"><i class="fa fa-list"></i>SMENU</a>
					<div class="dropdown-menu dropdown_header">
						<ul class="list-unstyled">
							<li data-auth="false"><a href="/login" class="sub_link"><i class="fa fa-lock"></i>login</a></li>
							<li data-auth="false"><a href="/register" class="sub_link"><i class="fa fa-user"></i>Sign Up</a></li>
							<li><a href="/buy" class="sub_link"><i class="fa fa-credit-card"></i>Pricing</a></li>
							<li><a href="/all-links" class="sub_link"><i class="fa fa-list"></i>All Links</a></li>
						</ul>
						<div class="wrap_btn">
							<a href="" class="footer_link"><i class="icon red_apple"></i>Close</a>
						</div>
					</div>
				</li>
				<li class="dropdown hidden-md-down">
					<a href="#" data-toggle="dropdown" class="mobile_menu"><i class="fa fa-phone"></i>Contact Us</a>
					<div class="dropdown-menu dropdown_header">
						<ul class="list-unstyled">
							<li><a href="#" class="sub_link">PHONE <span>08197624885</span></a></li>
							<li><a href="#" class="sub_link">SUPPORT <span>SUPPORT@EXAMWARRIOR.COM</span></a></li>
							<li><a href="#" class="sub_link">SALES <span>SALES@EXAMWARRIOR.COM</span></a></li>
						</ul>
						<div class="wrap_btn">
							<a href="/contactus" class="footer_link"><i class="icon green_apple"></i>Send Message</a>
							<a href="" class="footer_link"><i class="icon red_apple"></i>Close</a>
						</div>
					</div>
				</li>
				<li><a href="/" class="jsTriggerMenu mobile_menu"><i class="fa fa-bars"></i><i class="fa fa-close"></i>Menu</a></li>
			</ul>
		</div>
		<nav class="main_nav jsMainNav">
			<ul class="main_nav_list list_lg_up nav_box">
				<li class="wrap_nav hidden-lg-up" data-auth='true'>
					<a href="/dashboard/" class="title_nav">
						<span class="flex_auto text_left">
							<img id="user-pic" style="width: 30px;border-radius: 50%" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
							<span class="username"></span>	
						</span>
					</a>
				</li>
				<li class="wrap_nav hidden-lg-up" data-auth='true'><a href="/logout" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-unlock"></i> Logout</span></a></li>
				<li class="wrap_nav hidden-lg-up" data-auth='false'><a href="/login" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> Login</span></a></li>
				<!-- <li class="wrap_nav hidden-lg-up" data-auth='false'><a href="/register" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-user"></i> Sign Up</span></a></li> -->
				<li class="wrap_nav hidden-lg-up"><a href="/all-links" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-rocket"></i> All Links</span></a></li>
				<li class="wrap_nav hidden-lg-up"><a href="/buy" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> Pricing</span></a></li>
				<li class="wrap_nav wrap_btn hidden-lg-up" data-auth='false'><a href="/register" class="btn btn_try">TRY US NOW</a></li>
				<li class="wrap_nav hidden-lg-up"><a href="/contactus" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-phone"></i> Contact Us</span></a></li>
				<li class="wrap_nav hidden-lg-up"><a href="/it-trainings" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-list"></i> IT COURSES</span></a></li>
				<li class="wrap_nav hidden-lg-up"><a href="/dashboard" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-dashcube"></i> Dashboard</span></a></li>
				<li class="wrap_nav hidden-lg-up"><a href="/question-answers" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-question-circle"></i> Q&amp;A</span></a></li>
				<li class="wrap_nav hidden-lg-up"><a href="/notifications" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-bell"></i> Notifications</span></a></li>
				<li class="jsNavShow wrap_nav hidden-md-down">
					<div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-sitemap"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
					<div class="sub_nav jsSubNav">
						<ul class="list-unstyled">
							<li data-auth='false'><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
							<li data-auth='true'><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
							<li data-auth='false'><a href="/register"><i class="fa fa-lock"></i> Register</a></li>
							<li data-auth='false'><a href="/forgotpassword"><i class="fa fa-pencil"></i> Forgot Password</a></li>
							<li data-auth='true'><a href="/changepassword/"><i class="fa fa-pencil"></i> Change Password</a></li>
							<li><a href="/adminApp"><i class="fa fa-user-secret"></i><span>Admin</span></a></li>
							<li><a href="/dashboard"><i class="fa fa-dashcube"></i><span>Dashboard</span></a></li>
							<li><a href="/all-links"><i class="fa fa-dashcube"></i><span>All Links</span></a></li>
						</ul>
					</div>
					<div class="bottom_panel">
						<div class="title_nav title_nav_foot">
							<a href="/question-answers" class="flex_auto"><i class="fa fa-sitemap"></i>Q &amp; A</a>
						</div>
					</div>
				</li>
				<li class="jsNavShow wrap_nav hidden-md-down">
					<div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tasks"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
					<div class="sub_nav jsSubNav">
						<ul class="list-unstyled">
							<li><a href="/dashboard/performance"><i class="fa fa-user-secret"></i> Performace</a></li>
							<li><a href="/dashboard/user-courses"><i class="fa fa-list"></i> My Courses</a></li>
							<li><a href="/books"><i class="fa fa-book"></i> Books</a></li>
							<li><a href="/question-answers"><i class="fa fa-users"></i> Q &amp; A</a></li>
							<li><a href="/user-profile"><i class="fa fa-gear"></i> User Profile</a></li>
							<li><a href="/dashboardApp/tests"><i class="fa fa-dashcube"></i> Tests</a></li>
							<li><a href="/career-book/"><i class="fa fa-user"></i> Carrerbook</a></li>
							<li><a href="/user-highlights"><i class="fa fa-pencil"></i> Highlights</a></li>
						</ul>
					</div>
					<div class="bottom_panel">
						<div class="title_nav title_nav_foot">
							<a href="/career-book/" class="flex_auto"><i class="fa fa-tasks"></i>Carrerbook</a>
						</div>
					</div>
				</li>
				<li class="jsNavShow wrap_nav hidden-md-down">
					<div href="/" class="title_nav jsTilteCollapse">
						<span class="flex_auto">
						<i class="fa fa-tasks"></i> IT Courses</span>
						<i class="fa fa-chevron-down hidden-lg-up"></i>
					</div>
					<div class="sub_nav jsSubNav">
						<ul class="list-unstyled" id="it-courses">
							<li>No Courses to show.</li>
						</ul>
					</div>
					<div class="bottom_panel">
						<div class="title_nav title_nav_foot">
							<a href="/books" class="flex_auto"><i class="fa fa-tasks"></i>Books</a>
						</div>
					</div>
				</li>
				<li class="jsNavShow wrap_nav hidden-md-down">
					<div  class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tags"></i> Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
					<div class="sub_nav jsSubNav">
						<ul class="list-unstyled">
							<li data-target=".jsBoardExams" data-toggle="modal">
								<a href="#"  data-toggle="collapse"><i class="fa fa-list-alt"></i> Board Courses</a>
							</li>
							<li data-target=".jsCompetitiveExams" data-toggle="modal">
								<a href="#" data-toggle="collapse"><i class="fa fa-th-large"></i> Competitive Courses</a
							</li>
						</ul>
					</div>
					<div class="bottom_panel">
						<div class="title_nav title_nav_foot">
							<a href="/dashboard/performance" class="flex_auto"><i class="fa fa-tags"></i>Performace</a>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</header>

	<div class="fade modal modal_home jsBoardExams">
		<div class="close_box"></div>
		<div class="modal-flex">
			<div class="modal-dialog" style="max-width: 500px !important;">
				<div class="modal-content" style="background-color: rgba(0,0,0,.8) !important;padding: 25px 16px 20px !important;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetSubscribeModal()"><i class="fa fa-times"></i></button>
					<p class="jsTextModal">Board Exams will be live shortly. Please Subscribe for Updates</p>
					<div class="form-group subscribe-input" >
						<input type="text" class="form-control" onkeyup="onSubscribeInputChange(this)" placeholder="Email Address Here">
						<div class="input-error-msg hide">*Please Enter valid Email Address</div>
					</div>
					<div class="wrap_btn subscribe-btn-wrapper">
						<a href="#" class="btn_form close_btn subscribe-btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-close"></i><span class="text">Cancel</span>
						</a>
						<a href="#" class="btn_form subscribe-btn" onclick="subscribeUser('Board Exams',this)">
							<i class="fa fa-envelope"></i><span class="text">Subscribe</span>
						</a>
					</div>
					<div class="alert alert-success success-msg hide">
						<span>Thank you for subscribption. </span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
					<div class="alert alert-danger error-msg hide">
						<span>Some Error occured.</span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fade modal modal_home jsCompetitiveExams">
		<div class="close_box"></div>
		<div class="modal-flex">
			<div class="modal-dialog" style="max-width: 500px !important;">
				<div class="modal-content" style="background-color: rgba(0,0,0,.8) !important;padding: 25px 16px 20px !important;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetSubscribeModal()"><i class="fa fa-times"></i></button>
					<p class="jsTextModal">Competitive Exams will be live shortly. Please Subscribe for Updates</p>
					<div class="form-group subscribe-input" >
						<input type="text" class="form-control" onkeyup="onSubscribeInputChange(this)" placeholder="Email Address Here">
						<div class="input-error-msg hide">*Please Enter valid Email Address</div>
					</div>
					<div class="wrap_btn subscribe-btn-wrapper">
						<a href="#" class="btn_form close_btn subscribe-btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-close"></i><span class="text">Cancel</span>
						</a>
						<a href="#" class="btn_form subscribe-btn" onclick="subscribeUser('Competitive Exams',this)">
							<i class="fa fa-envelope"></i><span class="text">Subscribe</span>
						</a>
					</div>
					<div class="alert alert-success success-msg hide">
						<span>Thank you for subscribption. </span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
					<div class="alert alert-danger error-msg hide">
						<span>Some Error occured.</span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
