<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
    </head>
    <body>
		<div class="fluid-container">
			<div class="home-new-wrapper">
				<div class="menu-button">
					<span><i class="fa fa-bars"></i></span>
				</div>
				<div class="home-menu-modal">
					<div>
						<span class="close-modal-icon"><i class="fa fa-times"></i></span>
						<ul class="list-unstyled list-inline">
							<li><a href="/courselist">CourseList</a></li>
							<li><a href="/auth/#/login">Login</a></li>
							<li><a href="/auth/#/register">Register</a></li>
							<li><a href="/contactus">ContactUs</a></li>
						</ul>	
					</div>
					
				</div>
				<div class="logo">
					The Learning Accelerator
				</div>
				<div class="content">
					We make Learning/Practice easy, interesting and faster.
				</div>
				<div class="cross-div">
					<span style="background: #809BCE;margin-left: -20%;"><i class="fa fa-terminal"></i>  Board Exams</span>
					<span style="background: #D05353;margin-left: -10%;"><i class="fa fa-terminal"></i>  Competitve Exam</span>
					<span style="background: #1BBC9B;margin-left: -20%;"><i class="fa fa-terminal"></i>  IT Courses</span>
					<span style="background: #BD6B73;"><i class="fa fa-terminal"></i>  Parent/Employer</span>
				</div>
			</div>
		</div>

        <% include ../partial/scripts %>
        <script type="text/javascript">
			$(".home-menu-modal").hide();
		</script>
    </body>
</html>