<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv=X-UA-Compatible content="IE=11">
	<title>Home page</title>
</head>
<body class="examwarrior_theme home_page">
	<header class="main_header">
		<div class="inner_wrapp">
			<a href="index.php" class="logo">
				<picture>
					<source srcset="images/logo.png">
					<img alt="Logo" class="img-fluid" src="images/logo.png">
				</picture>
			</a>
			<div class="wrapp_search_form">
				<div class="jsSrcShow">
					<div class="src_box wrapp_field">
						<input class="form-control" type="text">
					</div>
				</div>
			</div>
			<ul class="list main_nav_list">
				<li>welcome jeevan</li>
				<li class="hidden-md-down"><a href="/">All links</a></li>
				<li class="hidden-md-down"><a href="/"><i class="fa fa-lock"></i>pricing</a></li>
				<li><a href="/"><i class="fa fa-user"></i>logout</a></li>
				<li class="hidden-md-down"><a href="/"><i class="fa fa-phone"></i>contact Us</a></li>
				<li class="hidden-lg-up"><a href="/" class="jsSrcBt"><i class="fa fa-search"></i></a></li>
				<li><a href="/" class="jsTriggerMenu"><i class="fa fa-bars"></i></a></li>
			</ul>
			<nav class="main_nav jsMainNav">
				<div class="close_menu hidden-lg-up"><a href="/" class="title_nav jsCloseMenu"><i class="fa fa-close"></i></a></div>
				<ul class="main_nav_list list_lg_up nav_box">
					<li class="wrap_nav hidden-lg-up"><a href="/" class="title_nav"><span class="flex_auto text_left">All links</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> pricing</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-phone"></i> contact Us</span></a></li>
					<li class="jsNavShow wrap_nav">
						<a href="/" class="title_nav jsTilteCollapse"><span class="flex_auto text_left"><i class="fa fa-sitemap"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></a>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li><a href="/"><i class="fa fa-lock"></i> Login</a></li>
								<li><a href="/"><i class="fa fa-pencil"></i> Forgot Password</a></li>
							</ul>
						</div>
						<div class="bottom_panel"></div>
					</li>
					<li class="jsNavShow wrap_nav">
						<a href="/" class="title_nav jsTilteCollapse"><span class="flex_auto text_left"><i class="fa fa-tasks"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></a>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li><a href="/"><i class="fa fa-user-secret"></i> Performace</a></li>
								<li><a href="/"><i class="fa fa-list"></i> My Courses</a></li>
								<li><a href="/"><i class="fa fa-book"></i> Books</a></li>
								<li><a href="/"><i class="fa fa-users"></i> Q &amp; A</a></li>
								<li><a href="/"><i class="fa fa-gear"></i> Settings</a></li>
								<li><a href="/"><i class="fa fa-dashcube"></i> Tests</a></li>
								<li><a href="/"><i class="fa fa-user"></i> Carrerbook</a></li>
								<li><a href="/"><i class="fa fa-pencil"></i> Highlights</a></li>
							</ul>
						</div>
						<div class="bottom_panel"></div>
					</li>
					<li class="jsNavShow wrap_nav">
						<a href="/" class="title_nav jsTilteCollapse"><span class="flex_auto text_left"><i class="fa fa-tasks"></i> IT Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i></a></a>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li>No Courses to show.</li>
							</ul>
						</div>
						<div class="bottom_panel"></div>
					</li>
					<li class="jsNavShow wrap_nav">
						<a href="/" class="title_nav jsTilteCollapse"><span class="flex_auto text_left"><i class="fa fa-tags"></i> Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i></a>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li><a href="/"><i class="fa fa-list-alt"></i> Board Courses</a></li>
								<li><a href="/"><i class="fa fa-th-large"></i> Competitive Courses</a></li>
							</ul>
						</div>
						<div class="bottom_panel"></div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="content_wrapper">
		<div class="custom_container">
			<div class="wrap_text">
				<p class="main_text">we make learning easy , interesting , fun and faster</p>
				<p class="main_text text_right">our learning methodology inspires you to learn and think innovatively</p>
			</div>
			<div class="wrap_category_links">
				<a href="/" class="category category_1">
					<span class="title_category">Competitive Exams</span>
				</a>
				<a href="/" class="category category_2">
					<span class="title_category">IT Courses</span>
				</a>
				<a href="/" class="category category_3">
					<span class="title_category">Books</span>
				</a>
				<a href="/" class="category category_4">
					<span class="title_category">Board Exams</span>
				</a>
			</div>
		</div>
	</div>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="../assets/components/all/all.css">
	<link rel="stylesheet" href="../assets/components/head_style/head_style.css">
	<link rel="stylesheet" href="../assets/components/sass/style.css">


	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script>
	  if (!!navigator.userAgent.match(/Trident\/7\./)) {
	    [
	      '../assets/components/sass/ie_style.css',
	    ].forEach(function(href) {
	      var link = document.createElement('link');
	      link.href = href;
	      link.rel = 'stylesheet';
	      document.head.appendChild(link);
	    });
	  }
	</script>
	<script>
	  $( function () {
	    $('body').on( 'click', '.jsTriggerMenu, .jsCloseMenu', function (e) {
	      e.preventDefault();
	      $('.jsMainNav').toggleClass('show_nav');
	      $('body').removeClass('src_show');
	      $('.jsSrcShow').slideUp();
	    });
	    $(document).on( 'click', function (e) {
	      if($(e.target).closest('.jsMainNav, .jsTriggerMenu').length) {
	        return;
	      }
	      $('.jsMainNav').removeClass('show_nav');
	      e.stopPropagation();
	    });

	    $('body').on( 'click', '.jsTilteCollapse', function (e) {
	      e.preventDefault();
	      $(this).toggleClass('show_sub_nav');
	      $(this).closest('.jsNavShow').find('.jsSubNav').slideToggle();
	    });

	    $('body').on( 'click', '.jsSrcBt', function (e) {
	      e.preventDefault();
	      $('body').toggleClass('src_show');
	      $('.jsSrcShow').slideToggle();
	      $('.jsMainNav').removeClass('show_nav');
	    });
	  });
	</script>
</body>
</html>