<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
    </head>
    <body>
		<div class="fluid-container">
			<div class="home-new-wrapper-1">
				<div class="menu-button">
					<span><i class="fa fa-bars"></i></span>
				</div>
				<div class="home-menu-modal" id="home-menu-modal">
					<div>
						<span class="close-modal-icon"><i class="fa fa-times"></i></span>
						<ul class="list-unstyled list-inline">
							<li><a href="/courselist">CourseList</a></li>
							<li><a href="/auth/#/login">Login</a></li>
							<li><a href="/auth/#/register">Register</a></li>
							<li><a href="/contactus">ContactUs</a></li>
						</ul>	
					</div>
					
				</div>
				<div class="logo">
					<!-- The Learning Accelerator -->
					<img src="/assets/images/logo.png" alt="">
				</div>
				<div class="content">
					<span class="text">We make learning Easy,Fun,Interesting and Faster.</span>
				</div>
				<div class="cross-div">
					<span  style="right: 366.7px;top: 30px;">
						<span class="caption">For better grades</span>
						<span>Board Exams</span>
						<span class="sub-caption" style="color: #594593">CBSE/ICSE/State Board</span>
						<span onclick="openHomeVideoModal('video')" class="play-icon"></span>
					</span>
					<span  style="top: -50px;">
						<span class="caption">Improve your scores</span>
						<span>Competitve Exam</span>
						<span class="sub-caption" style="color:#FFD08C">JEE/Medical/UPSC</span>
						<span onclick="openHomeVideoModal('video')" class="play-icon"></span>
					</span>
					<span  style="right: 320.65px;top: 44px;">
						<span class="caption">Get a job/promotion</span>
						<span>IT Courses</span>
						<span class="sub-caption" style="color:yellow">Big DATA/Web Development</span>
						<span onclick="openHomeVideoModal('video')" class="play-icon"></span>
					</span>
					<span  style="top: -25px;">
						<span class="caption">Real Time reporting</span>
						<span>Parent/Employer</span>
						<span onclick="openHomeVideoModal('video')" class="play-icon"></span>
					</span>
				</div>

				<div class="tagline">
					<img src="/assets/images/elearning.png" alt="">
				</div>
				
			</div>
			<div class="video-modal-wrapper" id="">
				<div class="video-modal" id="video-modal">
					<div class="video-close-btn" onclick="closeHomeVideoModal()"></div>
					<div id="video" style="height: 50vw"></div>
				</div>
			</div>
			
		</div>
		<script type="text/javascript">
			document.getElementById("home-menu-modal").style.display = "none";
			document.getElementById("video-modal").style.display = "none";
		</script>
        <% include ../partial/scripts %>
        <script src="http://static.aka.yupp.yuppcdn.net/staticstorage/jwplayer/jw_7_2_4/jwplayer.js"></script>
        <script type="text/javascript">jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";</script>
        
        
    </body>
</html>