<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv=X-UA-Compatible content="IE=11">
	<title>Home page</title>
	<meta name="theme-color" content="#1d99d1" />
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon.ico/apple-icon-57x57.png?v=0">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon.ico/apple-icon-60x60.png?v=0">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon.ico/apple-icon-72x72.png?v=0">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon.ico/apple-icon-76x76.png?v=0">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon.ico/apple-icon-114x114.png?v=0">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon.ico/apple-icon-120x120.png?v=0">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon.ico/apple-icon-144x144.png?v=0">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon.ico/apple-icon-152x152.png?v=0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico/apple-icon-180x180.png?v=0">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon.ico/android-icon-192x192.png?v=0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico/favicon-32x32.png?v=0">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon.ico/favicon-96x96.png?v=0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico/favicon-16x16.png?v=0">
    <link rel="manifest" href="/favicon.ico/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700|Nunito" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/bower.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
    <style>
	    @media (max-width: 768px) {
			.bg_page {background-image: url(../assets/images/imgpsh_fullsize768x400.png) !important;}
		}
		@media (max-width: 320px) {
			.bg_page {background-image: url(../assets/images/imgpsh_fullsize320.png) !important;}
		}
		@media (min-width: 769px) and (max-width: 1024px) {
			.bg_page {background-image: url(../assets/images/imgpsh_fullsize1024x300.png) !important;}
		}
			[data-auth]{
				display: none !important;
			}
    </style>
</head>
<body class="examwarrior_theme home_page">
	<header class="main_header">
		<div class="inner_wrapp">
			<a href="/" class="logo">
				<picture>
					<source srcset="../assets/images/logo.png">
					<img alt="Logo" class="img-fluid" src="../assets/images/logo.png">
				</picture>
			</a>
			<div class="right_nav">
				<ul class="list main_nav_list">
					<li class="hidden-md-down" data-auth='true'>
						<a href="/dashboard/">
							<img id="user-pic" style="width: 30px;border-radius: 50%" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
							<span class="username" style="display:inline-block;margin-top: 5px;"></span>
						</a>
					</li>
					<li class="hidden-md-down" data-auth='false'><a href="/login">login</a></li>
					<li class="hidden-md-down" data-auth='true'><a href="/logout">logout</a></li>
					<li class="hidden-md-down"><a href="/all-links">all links</a></li>
					<li class="hidden-md-down"><a href="/buy">pricing</a></li>
					<li class="hidden-md-down"><a href="/contactus">contact us</a></li>

					<li><a href="/" class="jsTriggerMenu"><i class="fa fa-bars"></i><i class="fa fa-close"></i>Menu</a></li>
					<!-- <li class="hidden-lg-up"><a href="/" class="jsSrcBt"><i class="fa fa-search"></i></a></li> -->
				</ul>
			</div>
			<nav class="main_nav jsMainNav">
				<!-- <div class="close_menu hidden-lg-up"><a href="/" class="title_nav jsCloseMenu"><i class="fa fa-close"></i></a></div> -->
				<ul class="main_nav_list list_lg_up nav_box">
					<li class="wrap_nav hidden-lg-up" data-auth='true'>
						<a href="/dashboard/" class="title_nav">
							<span class="flex_auto text_left">
								<img id="user-pic" style="width: 30px;border-radius: 50%" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
								<span class="username"></span>	
							</span>
						</a>
					</li>
					<li class="wrap_nav hidden-lg-up" data-auth='true'><a href="/logout" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-unlock"></i> Logout</span></a></li>
					<li class="wrap_nav hidden-lg-up" data-auth='false'><a href="/login" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> Login</span></a></li>
					<!-- <li class="wrap_nav hidden-lg-up" data-auth='false'><a href="/register" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-user"></i> Sign Up</span></a></li> -->
					<li class="wrap_nav hidden-lg-up"><a href="/all-links" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-rocket"></i> All Links</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/buy" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> Pricing</span></a></li>
					<li class="wrap_nav wrap_btn hidden-lg-up" data-auth='false'><a href="/register" class="btn btn_try">TRY US NOW</a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/contactus" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-phone"></i> Contact Us</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/it-trainings" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-list"></i> IT COURSES</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/dashboard" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-dashcube"></i> Dashboard</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/question-answers" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-question-circle"></i> Q&amp;A</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/notifications" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-bell"></i> Notifications</span></a></li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-sitemap"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li data-auth='false'><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
								<li data-auth='true'><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
								<li data-auth='false'><a href="/register"><i class="fa fa-lock"></i> Register</a></li>
								<li data-auth='false'><a href="/forgotpassword"><i class="fa fa-pencil"></i> Forgot Password</a></li>
								<li data-auth='true'><a href="/changepassword/"><i class="fa fa-pencil"></i> Change Password</a></li>
								<li><a href="/adminApp"><i class="fa fa-user-secret"></i><span>Admin</span></a></li>
								<li><a href="/dashboard"><i class="fa fa-dashcube"></i><span>Dashboard</span></a></li>
								<li><a href="/all-links"><i class="fa fa-dashcube"></i><span>All Links</span></a></li>
							</ul>
						</div>
						<div class="bottom_panel">
							<div class="title_nav title_nav_foot">
								<a href="/question-answers" class="flex_auto"><i class="fa fa-sitemap"></i>Q &amp; A</a>
							</div>
						</div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tasks"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li><a href="/dashboard/performance"><i class="fa fa-user-secret"></i> Performace</a></li>
								<li><a href="/dashboard/user-courses"><i class="fa fa-list"></i> My Courses</a></li>
								<li><a href="/books"><i class="fa fa-book"></i> Books</a></li>
								<li><a href="/question-answers"><i class="fa fa-users"></i> Q &amp; A</a></li>
								<li><a href="/user-profile"><i class="fa fa-gear"></i> User Profile</a></li>
								<li><a href="/dashboardApp/tests"><i class="fa fa-dashcube"></i> Tests</a></li>
								<li><a href="/career-book/"><i class="fa fa-user"></i> Carrerbook</a></li>
								<li><a href="/user-highlights"><i class="fa fa-pencil"></i> Highlights</a></li>
							</ul>
						</div>
						<div class="bottom_panel">
							<div class="title_nav title_nav_foot">
								<a href="/career-book/" class="flex_auto"><i class="fa fa-tasks"></i>Carrerbook</a>
							</div>
						</div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div href="/" class="title_nav jsTilteCollapse">
							<span class="flex_auto">
								<i class="fa fa-tasks"></i> IT Courses</span>
							<i class="fa fa-chevron-down hidden-lg-up"></i>
						</div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled" id="it-courses">
								<li>No Courses to show.</li>
							</ul>
						</div>
						<div class="bottom_panel">
							<div class="title_nav title_nav_foot">
								<a href="/books" class="flex_auto"><i class="fa fa-tasks"></i>Books</a>
							</div>
						</div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div  class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tags"></i> Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li data-target=".jsBoardExams" data-toggle="modal">
									<a href="#"  data-toggle="collapse"><i class="fa fa-list-alt"></i> Board Courses</a>
									<!-- <div>
										<ul class="list-unstyled details_list" id="board-courses">
											<li>No Courses to show.</li>
										</ul>
									</div> -->
								</li>
								<li data-target=".jsCompetitiveExams" data-toggle="modal">
									<a href="#" data-toggle="collapse"><i class="fa fa-th-large"></i> Competitive Courses</a>
									<!-- <div>
										<ul class="list-unstyled details_list" id="competitive-courses">
											<li>No Courses to show.</li>
										</ul>
									</div> -->
								</li>
							</ul>
						</div>
						<div class="bottom_panel">
							<div class="title_nav title_nav_foot">
								<a href="/dashboard/performance" class="flex_auto"><i class="fa fa-tags"></i>Performace</a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="content_wrapper">
		<div class="wrap_text">
			<p class="main_text text_center">WE MAKE LEARNING EASY , INTERESTING , FUN AND FASTER  <a href="/register" data-auth="false" class="btn btn_try hidden-sm-down">TRY US NOW</a></p>
		</div>
		<div class="wrap_category_links">
			<a href="/competitive-exams" class="category category_1">
				<span class="title_category">Competitive <br/> Exams</span>
			</a>
			<a href="/books" class="category category_4">
				<span class="title_category">Books</span>
			</a>
			<a href="/board-exams" class="category category_3">
				<span class="title_category">Board <br/> Exams</span>
			</a>
			<a href="/about-it-training" class="category category_2">
				<span class="title_category">IT <br/> Courses</span>
			</a>
		</div>
	</div>
	<ul class="list bottom_nav hidden-md-up">
	  <li><a href="/">Login Links</a></li>
	  <li><a href="/">Dashboard</a></li>
	  <li><a href="/">IT Course</a></li>
	  <li><a href="/">All Course</a></li>
	</ul>

	<div class="bg_page" style="background-image: url(../assets/images/imgpsh_fullsize.png);"></div>

	<div class="fade modal modal_home jsBoardExams">
		<div class="close_box"></div>
		<div class="modal-flex">
			<div class="modal-dialog">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetSubscribeModal()"><i class="fa fa-times"></i></button>
					<p class="jsTextModal">Board Exams will be live shortly. Please Subscribe for Updates</p>
					<div class="form-group subscribe-input" >
						<input type="text" class="form-control" onkeyup="onSubscribeInputChange(this)" placeholder="Email Address Here">
						<div class="input-error-msg hide">*Please Enter valid Email Address</div>
					</div>
					<div class="wrap_btn subscribe-btn-wrapper">
						<a href="#" class="btn_form close_btn subscribe-btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-close"></i><span class="text">Cancel</span>
						</a>
						<a href="#" class="btn_form subscribe-btn" onclick="subscribeUser('Board Exams',this)">
							<i class="fa fa-envelope"></i><span class="text">Subscribe</span>
						</a>
					</div>
					<div class="alert alert-success success-msg hide">
						<span>Thank you for subscribption. </span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" onclick="resetSubscribeModal()" data-dismiss="modal">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
					<div class="alert alert-danger error-msg hide">
						<span>Some Error occured.</span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" onclick="resetSubscribeModal()" data-dismiss="modal">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fade modal modal_home jsCompetitiveExams">
		<div class="close_box"></div>
		<div class="modal-flex">
			<div class="modal-dialog">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetSubscribeModal()"><i class="fa fa-times"></i></button>
					<p class="jsTextModal">Competitive Exams will be live shortly. Please Subscribe for Updates</p>
					<div class="form-group subscribe-input" >
						<input type="text" class="form-control" onkeyup="onSubscribeInputChange(this)" placeholder="Email Address Here">
						<div class="input-error-msg hide">*Please Enter valid Email Address</div>
					</div>
					<div class="wrap_btn subscribe-btn-wrapper">
						<a href="#" class="btn_form close_btn subscribe-btn" data-dismiss="modal" onclick="resetSubscribeModal()">
							<i class="fa fa-close"></i><span class="text">Cancel</span>
						</a>
						<a href="#" class="btn_form subscribe-btn" onclick="subscribeUser('Competitive Exams',this)">
							<i class="fa fa-envelope"></i><span class="text">Subscribe</span>
						</a>
					</div>
					<div class="alert alert-success success-msg hide">
						<span>Thank you for subscribption. </span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" onclick="resetSubscribeModal()" data-dismiss="modal">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
					<div class="alert alert-danger error-msg hide">
						<span>Some Error occured.</span>
						<a href="" class="subscribe-btn-in-msg btn_form close_btn" onclick="resetSubscribeModal()" data-dismiss="modal">
							<i class="fa fa-times"></i>
							<span class="text">Close</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- build:js js/all.js -->
	<!-- bower:js -->
	<script src="../../assets/bower_components/jquery/dist/jquery.js"></script>
	<script src="../../assets/bower_components/tether/dist/js/tether.js"></script>
	<script src="../../assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../assets/bower_components/lazysizes/lazysizes.js"></script>

	<!-- endbower -->
	<!-- endbuild -->

	<script src="../assets/js/globals.js"></script>
	<script src="../assets/js/script.js"></script>
	<script src="../assets/js/custom.js"></script>
	<script src="../assets/js/subscribe.js"></script>

	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="../assets/js/websocket.js"></script>
</body>
</html>
