<!doctype html>
<html>
    <head>
        <%include ../partial/head %>
    </head>
    <body>
		<div class="fluid-container">
			<div class="home-new-wrapper-2">
				<div class="menu-button">
					<span><i class="fa fa-bars"></i></span>
				</div>
				<div class="home-menu-modal" id="home-menu-modal">
					<div>
						<span class="close-modal-icon"><i class="fa fa-times"></i></span>
						<ul class="list-unstyled list-inline">
							<li><a href="/courselist">CourseList</a></li>
							<li><a onclick="openHomeLoginModal()">Login</a></li>
							<li><a href="/auth/#/register">Register</a></li>
							<li><a href="/contactus">ContactUs</a></li>
						</ul>	
					</div>
					
				</div>
				<div class="logo">
					dvBYdt.com
					<!-- <img src="/assets/images/logo.png" alt=""> -->
				</div>
				<div class="header-btns">

					<a class="register-btn" onclick="openHomeLoginModal()"><i class="fa fa-lock"></i> Login</a>
					<a class="login-btn" href="/auth/#/register"><i class="fa fa-user"></i> Sign Up</a>
				</div>

				<div class="content">
					<span class="text">We make learning <span id="learning-options"></span></span>
				</div>
				<!-- <div class="cross-div">
					
				</div> -->
				<div class="box">
					<div class="box-content">
						<div class="box-part red">
							<span class="subcaption">Get a Job/Promotion</span>
							<span class="head">IT Courses</span>
							<span class="caption">Big Data/Web Development</span>
						</div><!-- 
						--><div class="box-part blue">
							<span class="subcaption" style="color:#c6ff95">Improve your scores</span>
							<span class="head">Competitve Exams</span>
							<span class="caption">IIT JEE/Medical/GATE/UPSC</span>
						</div><!-- 
						--><div class="box-part green">
							<span class="subcaption" style="color:#e3ff0b">For better grades</span>
							<span class="head">Board Exams</span>
							<span class="caption">CBSE/ICSE/State Board/B.Tech</span>
						</div><!-- 
						--><div class="box-part orange">
							<span class="subcaption" style="color:#fbc526">Monitor learner progress</span>
							<span class="head">Parent/Employer</span>
							<span class="caption">Real time reporting</span>
						</div>
						<div class="clearfix"></div>
						<div class="box-middle-round">
							<span>Y dv/dt.com?</span>
						</div>
					</div>
				</div>

				<div class="tagline">
					The Learning Accelerator
					<!-- <img src="/assets/images/elearning.png" alt=""> -->
				</div>
				<div class="footer">
					Copyright © 2004 - 2016 dvbydt.com. All rights reserved.| Privacy Policy 
				</div>
			</div>
			<div class="video-modal-wrapper" id="">
				<div class="video-modal" id="video-modal">
					<div class="video-close-btn" onclick="closeHomeVideoModal()"></div>
					<div id="video" style="height: 50vw"></div>
				</div>
			</div>
			<div class="login-modal">
				<div class="login-form-wrapper">
					<div id="error" class="alert alert-danger"></div>
					<form name="form">
						<div class="form-group input">
							<label for="email"><i class="fa fa-user"></i> Username</label>
							<input type="email" id="email" class="form-control" autofocus="" name="email" id="email" required="" />
						</div>
						<div class="form-group input">
							<label for="password"><i class="fa fa-key"></i> Password</label>
							<input type="password" id="password" class="form-control" name="password" id="password" required="" />
						</div>
						<div class="form-group">
							<span class="login-btn" onclick="doLogin()">Login</span>
						</div>
					</form>
				</div>
				<div class="close-btn-login"  onclick="closeHomeLoginModal()"><i class="fa fa-times"></i></div>
			</div>

		</div>
		<script type="text/javascript">
			document.getElementById("home-menu-modal").style.display = "none";
			document.getElementById("video-modal").style.display = "none";
		</script>
        <% include ../partial/scripts %>
        <script src="/bower_components/typed.js/dist/typed.min.js"></script>

        <script type="text/javascript">
        	$('#learning-options').typed({
            		strings: ['Easy^500','Fun^500','Interesting^500','Faster^500'],
            		typeSpeed: 200,
            		loop: true,
		            loopCount: false,
		            showCursor: true,
		            cursorChar: "|",
        	});
        </script>
        <script type="text/javascript">
        	var jwp;
			var panelH = $('.video-modal').innerHeight();
			function openHomeVideoModal(d) {
			    $(".video-close-btn").show();
			    console.log("Open Video Modal",panelH);
			    $(".video-modal").stop(1).show().height(0).animate({height: panelH},500,function(){
			            //Animation Complete
			        jwp = jwplayer('video').setup({
			             width: "853px",
			             height : '480px',
			             autostart: true,
			             file: "http://vcdn.dvbydt.com/sanam.mp4?Expires=1462547787&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cDovL3ZjZG4uZHZieWR0LmNvbS9zYW5hbS5tcDQiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE0NjI1NDc3ODd9fX1dfQ__&Signature=EGwnzNKXx5gaJjEYioEo-1cJxK9Cs9p3qSygPFA5Xish8nyejXIPFPJQfwspG64vwwzeSofgYx9CB6dExFeacubxddCS5W9smS5JNBJQncGsmgs-dfrgMVdk~DXXyyEiCbWqfHagO349xW2tGEreT4TeqxkOfnv4gwtWPuLc9hd5Gt8EsESgW4GLUOAjUymJuSkTjntCTxm2l5PfaqPZHzlT~wFllNtcbk1Wl0Yv6ANmKSqQIwfK23lQSdMVGry4n5nyDwLxr80hVXABBiC9guTA-HzhX96JjLUYli-gBWo8JvmoILt3BUppCxWZM8nj25DD9BY6sGVezJTY-foWCA__&Key-Pair-Id=APKAIVOLA6ECXA4NTBPA"
			         });
			        jwp.on('ready',function(){
			            $(".video-close-btn").show();
			        })
			    });
			}
			function closeHomeVideoModal() {
			    jwp.remove();
			    $(".video-close-btn").hide();
			    $(".video-modal").stop(1).animate({height: 0},500, function(){
			      $(this).hide();  
			    });
			}
			function openHomeLoginModal(d) {
			    $(".login-modal").css("height","100vh");
			}
			function closeHomeLoginModal() {
			 	$(".login-modal").css("height","0px");
			}
        </script>

        <script type="text/javascript">
        	
        	function doLogin(){
        		var email = $("#email").val();
        		var password = $("#password").val();
        		$.ajax({
        			url : '/auth/login',
        			method : 'post',
        			data : {
        				userId: email,
                		password: password
        			}
        		})
        		.then(function(res){
        			console.log(res);
        			if(res.err){
        				$("#error").text(res.err).css("display","block");
        			}else{
        				auth.setToken(res.token);
        				auth.setUser(JSON.stringify(res.user));
        				$("#error").text("").css("display","none");
        				var url = auth.getPageToRedirect();
        				
        				if(!url){
        					window.location.href = "/dashboard/#/";	
        				}else{
        					window.location.href = url;
        				}
        			}
        		})
        		.fail(function(err){
        			console.log(err);
        		})
        	}
        </script>
        <script src="http://static.aka.yupp.yuppcdn.net/staticstorage/jwplayer/jw_7_2_4/jwplayer.js"></script>
        <script type="text/javascript">jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";</script>
        
        
    </body>
</html>