<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv=X-UA-Compatible content="IE=11">
	<title>Home page</title>
	<meta name="theme-color" content="#1d99d1" />
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon.ico/apple-icon-57x57.png?v=0">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon.ico/apple-icon-60x60.png?v=0">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon.ico/apple-icon-72x72.png?v=0">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon.ico/apple-icon-76x76.png?v=0">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon.ico/apple-icon-114x114.png?v=0">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon.ico/apple-icon-120x120.png?v=0">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon.ico/apple-icon-144x144.png?v=0">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon.ico/apple-icon-152x152.png?v=0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico/apple-icon-180x180.png?v=0">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon.ico/android-icon-192x192.png?v=0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico/favicon-32x32.png?v=0">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon.ico/favicon-96x96.png?v=0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico/favicon-16x16.png?v=0">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="manifest" href="/favicon.ico/manifest.json">
    <link rel="stylesheet" href="../assets/components/all/all.css">
	<link rel="stylesheet" href="../assets/components/head_style/head_style.css">
	<link rel="stylesheet" href="../assets/components/sass/style.css">
	<link rel="stylesheet" href="../assets/components/custom.css">
</head>
<body class="examwarrior_theme home_page">
	<header class="main_header">
		<div class="inner_wrapp">
			<a href="/" class="logo">
				<picture>
					<source srcset="../assets/images/logo.png">
					<img alt="Logo" class="img-fluid" src="../assets/images/logo.png">
				</picture>
			</a>
			<!-- <div class="wrapp_search_form">
				<div class="jsSrcShow">
					<div class="src_box wrapp_field">
						<input class="form-control" placeholder="Search Here" type="text">
						<i class="fa fa-search search-icon"></i>
					</div>
				</div>
			</div> -->
			<div class="right_nav">
				<ul class="list main_nav_list">
					<li class="hidden-sm-down" data-auth='true'>
						<a href="/dashboard/">
							<img id="user-pic" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
							<span class="username"></span>
						</a> 
					</li>
					<li class="hidden-sm-down" data-auth='false'><a href="/login">login</a></li>

					<li class="hidden-sm-down" data-auth='true'><a href="/logout">logout</a></li>
					<li class="hidden-md-down" data-auth='true'>
						<a href="/~/notifications">Notifications</a>
						<span id="notification-count"></span>
					</li>
					<li class="hidden-md-down"><a href="/sitemap">all links</a></li>
					<li class="hidden-md-down"><a href="/buy">pricing</a></li>
					<li class="hidden-md-down" style="position: relative">
						<a onclick="toggleContactUsModal()" style="cursor:pointer" id="contactus-modal-link">contact us</a>
						<div class="notification-modal contactus-modal hide" id="contactus-modal">
							<!-- <div class="ew-modal-title">
								<span class="text"><img src="../../../assets/images/green-apple.png" alt="">Contact US</span>
							</div> -->
							<div class="ew-modal-content" style="border-top-right-radius: 5px;border-top-left-radius: 5px;">
								<div class="notification smenu-links">
									<div class="notification-sub">Phone</div>
									<div class="notification-msg" id="contactus_ph"></div>
								</div>
								<div class="notification smenu-links">
									<div class="notification-sub">Support</div>
									<div class="notification-msg" id="contactus_support"></div>
								</div>
								<div class="notification smenu-links">
									<div class="notification-sub">Sales</div>
									<div class="notification-msg" id="contactus_sales"></div>
								</div>
							</div>
							<div class="ew-modal-footer">
								<a class="see-all" target="_blank" href="/contactus"><img src="../../../assets/images/green-apple.png" alt="">Send Message</a>
								<a class="see-all" href="#" onclick="toggleContactUsModal()" style="cursor:pointer"><img src="../../../assets/images/red-apple.png" alt="">Close</a>
							</div>
						</div>
					</li>

					<!-- <li class="hidden-md-down"><a href="/contactus">Why Us?</a></li> -->
					
					<li><a href="/" class="jsTriggerMenu"><i class="fa fa-bars"></i>Menu</a></li>
					<!-- <li class="hidden-lg-up"><a href="/" class="jsSrcBt"><i class="fa fa-search"></i></a></li> -->
				</ul>
				<a href="/register" class="btn hidden-sm-down try-us-mobile-btn" data-auth='false'>TRY US NOW</a>
			</div>
			<nav class="main_nav jsMainNav">
				<!-- <div class="close_menu hidden-lg-up"><a href="/" class="title_nav jsCloseMenu"><i class="fa fa-close"></i></a></div> -->
				<ul class="main_nav_list list_lg_up nav_box">
					<li class="wrap_nav hidden-md-up" data-auth='true'><a href="/dashboard/" class="title_nav"><span class="flex_auto text_left">welcome,&nbsp;<span class="username"></span> </span></a></li>
					<li class="wrap_nav hidden-md-up" data-auth='false'><a href="/login" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-user"></i>login</span></a></li>
					<li class="wrap_nav hidden-md-up" data-auth='true'><a href="/logout" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-sign-out"></i>logout</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/sitemap" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-rocket"></i>All links</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/buy" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> pricing</span></a></li>
					<li class="wrap_nav hidden-lg-up"><a href="/contactus" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-phone"></i> contact Us</span></a></li>
					<li class="wrap_nav hidden-md-up" data-auth='false'><span class="title_nav"><a href="/register" class="btn">TRY US NOW</a></span></li>
					<li class="jsNavShow wrap_nav hidden-lg-up">
						<div class="title_nav"><a class="flex_auto" href="/it-trainings"><i class="fa fa-list"></i> IT COURSES</a></div>
					</li>
					<li class="jsNavShow wrap_nav hidden-lg-up">
						<div class="title_nav"><a class="flex_auto" href="/dashboard"><i class="fa fa-dashcube"></i> DASHBOARD</a></div>
					</li>
					<li class="jsNavShow wrap_nav hidden-lg-up">
						<div class="title_nav"><a class="flex_auto" href="/forums"><i class="fa fa-question-circle"></i> Q&A</a></div>
					</li>
					<li class="jsNavShow wrap_nav hidden-lg-up">
						<div class="title_nav"><a class="flex_auto" href="/~/notifications"><i class="fa fa-bell"></i> NOTIFICATIONS</a></div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-sitemap"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
								<li><a href="/sitemap"><i class="fa fa-home"></i> All Links</a></li>
								<li data-auth='false'><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
								<li data-auth='true'><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
								<li data-auth='false'><a href="/register"><i class="fa fa-lock"></i> Register</a></li>
								<li data-auth='false'><a href="/forgotpassword"><i class="fa fa-pencil"></i> Forgot Password</a></li>
								<li data-auth='true'><a href="/changepassword/"><i class="fa fa-pencil"></i> Change Password</a></li>
								<li><a href="/adminApp"><i class="fa fa-user-secret"></i><span>Admin</span></a></li>
								<li><a href="/dashboard/"><i class="fa fa-dashcube"></i><span>Dashboard</span></a></li>
							</ul>
						</div>
						<div class="bottom_panel">
							<a class="title_nav title_nav_foot jsTilteCollapse" href="/forums"><span class="flex_auto"><i class="fa fa-sitemap"></i>Q &amp; A</span></a>
						</div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tasks"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li><a href="/dashboard/performance"><i class="fa fa-user-secret"></i> Performace</a></li>
								<li><a href="/dashboard/user-courses"><i class="fa fa-list"></i> My Courses</a></li>
								<li><a href="/books"><i class="fa fa-book"></i> Books</a></li>
								<li><a href="/forums"><i class="fa fa-users"></i> Q &amp; A</a></li>
								<li><a href="/user-profile"><i class="fa fa-gear"></i> User Profile</a></li>
								<li><a href="/dashboardApp/tests"><i class="fa fa-dashcube"></i> Tests</a></li>
								<li><a href="/career-book/"><i class="fa fa-user"></i> Carrerbook</a></li>
								<li><a href="/dashboard/user-highlights"><i class="fa fa-pencil"></i> Highlights</a></li>
							</ul>
						</div>
						<div class="bottom_panel">
							<a class="title_nav title_nav_foot jsTilteCollapse" href="/career-book/"><span class="flex_auto"><i class="fa fa-tasks"></i>Carrerbook</span></a>
						</div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<span href="/"  class="title_nav jsTilteCollapse">
							<a href="/it-trainings" class="flex_auto">
								<i class="fa fa-tasks"></i> IT Courses
							</a> 
							<i class="fa fa-chevron-down hidden-lg-up"></i>
						</span>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled" id="it-courses">
								<li>No Courses to show.</li>
							</ul>
						</div>
						<div class="bottom_panel">
							<a class="title_nav title_nav_foot jsTilteCollapse" href="/books"><span class="flex_auto"><i class="fa fa-tasks"></i>Books</span></a>
						</div>
					</li>
					<li class="jsNavShow wrap_nav hidden-md-down">
						<div  class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tags"></i> Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i>
						<div class="close-icon jsTriggerMenu" style="cursor: pointer">
							<i class="fa fa-times hidden-md-down" ></i>
						</div></div>
						<div class="sub_nav jsSubNav">
							<ul class="list-unstyled">
								<li>
									<a onclick="openSubscribeModal('Board Exams')" data-toggle="collapse"><i class="fa fa-list-alt"></i> Board Exams</a>
									<!-- <div>
										<ul class="list-unstyled details_list" id="board-courses">
											<li>No Courses to show.</li>
										</ul>
									</div> -->
								</li>
								<li>
									<a onclick="openSubscribeModal('Competitive Exams')" data-toggle="collapse"><i class="fa fa-th-large"></i> Competitive Courses</a>
									<!-- <div>
										<ul class="list-unstyled details_list" id="competitive-courses">
											<li>No Courses to show.</li>
										</ul>
									</div> -->
								</li>
							</ul>
						</div>
						<div class="bottom_panel">
							<a class="title_nav title_nav_foot jsTilteCollapse" href="/dashboard/performance"><span class="flex_auto"><i class="fa fa-tags"></i>Performace</span></a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="content_wrapper">
		<div class="wrap_text">
			<p class="main_text">
				we make learning easy , interesting , fun and faster
				<a href="/register" class="btn hidden-sm-down try-us-now-btn" data-auth='false'>TRY US NOW</a>
			</p>
			<!-- <p class="main_text text_center">our learning methodology inspires you to learn and think innovatively</p> -->
		</div>
		<div class="wrap_category_links">
			<a onclick="openSubscribeModal('Competitive Exams')" class="category category_1">
				<span class="title_category">Competitive <br/> Exams</span>
			</a>
			<a onclick="openSubscribeModal('Books')" class="category category_2">
				<span class="title_category">Books</span>
			</a>
			<a onclick="openSubscribeModal('Board Exams')" class="category category_3">
				<span class="title_category">Board <br/> Exams</span>
			</a>
			<a href="/about-it-training" class="category category_4">
				<span class="title_category">IT <br/> Courses</span>
			</a>
		</div>
	</div>
	<ul class="list bottom_nav hidden-md-up">
	  <li><a href="/">Login Links</a></li>
	  <li><a href="/">Dashboard</a></li>
	  <li><a href="/">IT Course</a></li>
	  <li><a href="/">All Course</a></li>
	</ul>
	<div class="subscribe-modal">
		<div class="subscribe-close-btn" onclick="closeSubscribeModal()">
			<i class="fa fa-times"></i>
		</div>
		<div class="subscribe-title">
			<!-- This will be filled dynamically -->
		</div>
		<div class="subscribe-input">
			<input type="text" id="subscribe-tf" placeholder="Email Address Here">
			<div class="input-error-msg">*Please Enter valid Email Address</div>
		</div>
		<div class="subscribe-btn-wrapper">
			<div class="subscribe-btn close" onclick="closeSubscribeModal()">
				<i class="fa fa-times"></i>
				<span>Cancel</span>
			</div>	
			<div class="subscribe-btn" onclick="subscribeUser()">
				<i class="fa fa-envelope"></i>
				<span>Subscribe</span>
			</div>	
		</div>
		
		<div class="alert alert-success success-msg">
			<span>Thank you for subscribption. </span>
			<div class="subscribe-btn-in-msg" style="float: none" onclick="closeSubscribeModal()">
				<i class="fa fa-times"></i>
				<span>Close</span>
			</div>
		</div>

		<div class="alert alert-danger error-msg">
			<span>Some Error occured.</span>
			<div class="subscribe-btn-in-msg" style="float: none" onclick="closeSubscribeModal()">
				<i class="fa fa-times"></i>
				<span>Close</span>
			</div>
		</div>
	</div>
	
	
	
	<script src="../assets/js/jquery.js"></script>
	<script src="../assets/components/tether.min.js"></script>
	<script src="../assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!--<script src="../assets/js/platform.js"></script>-->
	<script src="../assets/js/globals.js"></script>
	<!--<script src="../assets/js/stats.js"></script>-->
	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="../assets/js/websocket.js"></script>
	
	

	<script>
	  if (!!navigator.userAgent.match(/Trident\/7\./)) {
	    [
	      '../assets/components/sass/ie_style.css',
	    ].forEach(function(href) {
	      var link = document.createElement('link');
	      link.href = href;
	      link.rel = 'stylesheet';
	      document.head.appendChild(link);
	    });
	  }
	</script>
	<script>
		function validateEmail(email) {
		    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    return re.test(email);
		}
		var subs_typ;
		function openSubscribeModal(type) {
			resetSubscribeModal();
			subs_typ = type;
			var text = type + " will be live shortly. Please Subscribe for Updates";
			$(".subscribe-title").html(text);
	  		$(".subscribe-modal").addClass("open");
	  	}

	  	function closeSubscribeModal() {
	  		$(".subscribe-modal").removeClass("open");
	  	}

	  	function resetSubscribeModal() {
	  		$(".subscribe-input").show();
		    $(".subscribe-btn").show();
		    $(".success-msg").hide();
		    $(".error-msg").hide();
		    $("#subscribe-tf").val('');
		    $("#subscribe-tf").removeClass("error");
	  		$(".input-error-msg").hide();
	  	}

	  	function subscribeUser() {
	  		$(".success-msg").hide();
	  		$(".error-msg").hide();
	  		var input = $("#subscribe-tf").val();
	  		if(input.length <= 0 || !validateEmail(input)){
	  			$("#subscribe-tf").addClass("error");
	  			$(".input-error-msg").show();
	  			return;
	  		}
	  		$("#subscribe-tf").removeClass("error");
	  		$(".input-error-msg").hide();
	  		$.ajax({
		        url : 'https://examwarrior.com/mail/subscribeUser',
		        method : 'post',
		        data : {
		        	subs_email : input,
		        	subs_typ : subs_typ
		        },
		        success : function(res){
		            console.log(res);
		            $(".success-msg").show();
		            $(".subscribe-input").hide();
		            $(".subscribe-btn").hide();
		        },
		        error : function(err){
		            console.error(err);
		            $(".error-msg").show();
		        }
		    })
	  	}
	  $(function () {
	  	$("#subscribe-tf").on('keyup',function(){
	  		var input = $("#subscribe-tf").val();
	  		if(input.length <= 0 || !validateEmail(input)){
	  			$("#subscribe-tf").addClass("error");
	  			$(".input-error-msg").show();
	  		}else{
	  			$("#subscribe-tf").removeClass("error");
	  			$(".input-error-msg").hide();
	  		}
	  	})
	  })
	  $( function () {
	  	// $("#subscribe-tf").on('keyup',function(){
	  	// 	var input = $("#subscribe-tf").val();
	  	// 	if(input.length <= 0 || !validateEmail(input)){
	  	// 		$("#subscribe-tf").addClass("error");
	  	// 		$(".input-error-msg").show();
	  	// 	}else{
	  	// 		$("#subscribe-tf").removeClass("error");
	  	// 		$(".input-error-msg").hide();
	  	// 	}
	  	// })

	    $('body').on( 'click', '.jsTriggerMenu, .jsCloseMenu', function (e) {
	    	console.log("body....click")
	      	e.preventDefault();
	      	$('.jsMainNav').toggleClass('show_nav');
	      	$('body').removeClass('src_show');
	      	$('.jsSrcShow').slideUp();
	    });
	    $(document).on( 'click', function (e) {
	    	console.log("doc....click")
	      	if($(e.target).closest('.jsMainNav, .jsTriggerMenu').length) {
	        	return;
	      	}
	      	$('.jsMainNav').removeClass('show_nav');
	      	// e.stopPropagation();
	    });

	    $('body').on( 'click', '.jsTilteCollapse', function (e) {
	    	console.log("body 2....click")
	      	// e.preventDefault();
	      	$(this).toggleClass('show_sub_nav');
	      	$(this).closest('.jsNavShow').find('.jsSubNav').slideToggle();
	    });

	    $('body').on( 'click', '.jsSrcBt', function (e) {
	    	console.log("body 3....click")
	      	e.preventDefault();
	      	$('body').toggleClass('src_show');
	      	$('.jsSrcShow').slideToggle();
	      	$('.jsMainNav').removeClass('show_nav');
	    });

	    function isAuthenticated() {
	    	var a = new Auth();
	    	return a.isAuthenticated();
			// var tokenKey = "ls.dsToken";
			// var userKey = "ls.dsUser";
			// return !!localStorage[tokenKey] && !!localStorage[userKey];
		}

		// Hide Unauthorized link
	    (function(){
			var isLoggedIn = isAuthenticated();
			$("[data-auth='true']").each(function(i,block) {
				if(!isLoggedIn){
					$(block).css("display","none");
				}
			});
			$("[data-auth='false']").each(function(i,block) {
				if(isLoggedIn){
					$(block).css("display","none");
				}
			});
		})();

		function getUserId() {
		    var userKey = "ls.dsUser";
		    var obj = localStorage[userKey];
		    var jsonObj = JSON.parse(obj || {});
		    return jsonObj["usr_id"];
		}

		function setUserPic() {
            var userKey = "ls.dsUser";
            var obj = localStorage[userKey];
            if(obj){
                var jsonObj = JSON.parse(obj);
                var pic =  jsonObj["usr_pic"]; 
                if(pic){
                    $(".user-pic-img").attr("src",pic);
                }
            }
        }
        setUserPic();

		function getUserName() {
		    var userKey = "ls.dsUser";
		    var obj = localStorage[userKey];
		    if(obj){
		    	var jsonObj = JSON.parse(obj);
		    	return jsonObj["dsp_nm"];	
		    }else{
		    	return '';
		    }
		}

		//Set Username
		(function() {
			var name = getUserName();
			var MAX_CHAR = 10;
			if(name.length > MAX_CHAR){
				name = name.substr(0,MAX_CHAR) + "...";
			}
			$(".username").html(name);
		})();	

		//getCoursesData
		(function() {
		    $.ajax({
		        url : 'https://examwarrior.com/course/getAll',
		        method : 'post',
		        success : function(courses){
		            fillHTMLDOMWithCourses(courses,'it');
		            fillHTMLDOMWithCourses(courses,'board');
		            fillHTMLDOMWithCourses(courses,'competitive');
		        },
		        error : function(err){
		            console.log(err);
		        }
		    })
		})();

		function fillHTMLDOMWithCourses(courses,type) {
		    var arrDom = [];
		    courses.forEach(function(v,i) {
		        if(v.courseType === type){
		            var a = $("<a></a>");
		            var link = '/' + type + '/' + v.courseSubGroup + '-trainings/' + v.courseId;
		            a.attr("href",link);
		            a.addClass("item white");
		            a.html(v.courseName);
		            var li = $("<li></li>").append(a);    
		            if(arrDom.length <= 5){
		            	arrDom.push(li);    	
		            }
		        }
		    });
		    if(arrDom.length > 0){
		        var a = $("<a></a>");
	            var link = '/' + type + '-trainings';
	            a.attr("href",link);
	            a.addClass("item white text_right");
	            a.html("All Courses");
	            var li = $("<li></li>").append(a);    
	            arrDom.push(li);    

	            $("#" + type + "-courses").html(arrDom);    
		    }
		}
	  });
	</script>
	<script>
		$('body').on( 'click', '#contactus-modal-link', function (e) {
	    	e.stopPropagation();
	    });
	    $('body').on( 'click', "#contactus-modal", function (e) {
	    	e.stopPropagation();
	    });
	    $('body').on( 'click',function (e) {
	    	closeContactUsModal();
	    });

		function getContactUsDetails(argument) {
			$.ajax({
		        url : '/contact/getContactUsDetails',
		        method : 'post',
		        success : function(details){
		            details = details[0] || {};
		            $("#contactus_ph").html(details.ph);
		            $("#contactus_support").html(details.support);
		            $("#contactus_sales").html(details.sales);
		        },
		        error : function(err){
		            console.log(err);
		        }
		    })
		}
		getContactUsDetails();
		function toggleContactUsModal() {
			$('.jsMainNav').removeClass('show_nav');
			$("#contactus-modal").toggle();
		}
		function closeContactUsModal() {
			$("#contactus-modal").hide();
		}
	</script>
	<script type="text/javascript">
		function getUserId() {
		    var userKey = "ls.dsUser";
		    var obj = localStorage[userKey];
		    if(obj){
		    	var jsonObj = JSON.parse(obj || {});
		    	return jsonObj["usr_id"];
		    }
		    return "";
		}
		function getNotificationCount() {
			if(getUserId()){
				$.ajax({
			        url : '/sendNotification/getSendNotificationCount',
			        method : 'post',
			        data : {
			        	usr_id : getUserId()
			        },
			        success : function(details){
			            details = details[0] || {};
			            var notificaionCount = details.noti_cnt;
			            if(notificaionCount > 0){
			            	$("#notification-count").html(notificaionCount)
			            }else{
			            	$("#notification-count").hide();
			            }
			            
			        },
			        error : function(err){
			            console.log(err);
			        }
			    })
			}else{

			}
		}
		getNotificationCount();
	</script>
</body>
</html>