<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>EW Intro</title>
		<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/player-control.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/intro.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
	</head>
	<body>
		<div class="fluid-container intro-page-wrapper">
			
			<!-- Bg Color -->
			<div class="bg-color"></div>

		    <!-- Bg image in all screen -->
			<div class="bg-image">
		        <img src="/assets/images/1366-bg-right.png" alt="">
		    </div>
		    <!-- Bg image in big screen only -->
		    <div class="bg-left-image">
		        <img src="/assets/images/1366-bg-left.png" alt="">
		    </div>

		    <div class="header">
				<div class="header-btns">
					<a class="register-btn" data-auth='false'  href="/authApp/login"><i class="fa fa-lock"></i> Login</a>
					<a class="register-btn" data-auth="true" href="/authApp/logout"><i class="fa fa-lock"></i> Logout</a>
					<a class="login-btn"  data-auth="false" href="/authApp/register"><i class="fa fa-user"></i> Sign Up</a>
					<a class="login-btn"  href="/contactus"><i class="fa fa-phone"></i> Contact Us</a>
					<a class="login-btn" href="javascript:void(0);" onclick="toggleMenuModal(event)"><i class="fa fa-bars"></i></a>
				</div>
			</div>

		    <div class="main-container">
				<div class="roof">
					<img src="/assets/images/roof-intro.png" alt="">
					<span class="logo">
						<a href="/"><img src="/images/logo-dark.png" alt=""></a>
					</span>
				</div>
				<div class="main-content-wrap">
					<div class="heading">
			            <span style="display: flex;align-items:center">
				            <span>
				            	<img src="/assets/images/icon-3.png" height="36" width="36" alt="">
				            </span>
				            <span style="margin-left: 10px;"><%= type %> Courses</span>
			            </span>
			            <a href="/<%= type %>-trainings">
			            	<span class="courselist-btn">All Courses</span>
			            	<i class="fa fa-arrow-right"></i>
			            </a>
			        </div>
					<div class="content">
						<%if (type) { %>
							<%include ../partial/intro/it %>
						<% }%>
					</div>
				</div>
		    </div>


			<div class="right-sidebar">
				<div class="tree">
					<img src="/assets/images/tree.png" alt="">
				</div>
				<div class="extra-apple">
					<img src="/assets/images/extra-apple.png" alt="">
				</div>
				<div class="courselist-apple">
					<img src="/assets/images/apple-course.png" alt="">
				</div>
				<div class="play-apple">
					<img src="/assets/images/apple-play.png" alt="">
				</div>
			</div>
			
			<div class="video-modal-wrapper ds-close" id="">
				<div class="video-modal" id="video-modal">
					<div class="video-close-btn-wrapper">
						<div class="video-close-btn" ng-click="vm.closeHomeVideoModal()"></div>	
					</div>
					
					<div player="true"
						data-url="http://examwarrior.com/video/1.mp4"
						data-height="480"
						data-width="854"
					></div>
				</div>
			</div>

			<%include ./menu %>
		</div>
		
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<!-- jwplayer -->
		<script src="../assets/js/jwplayer/jwplayer.js"></script>
		<!-- jwplyer key -->
		<script type="text/javascript">
		window.jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";
		</script>
		<!-- custom video player -->
		<script src="../assets/js/videoStats.js"></script>
		<script src="../assets/js/custom-player.js"></script>
		<script src="../assets/js/menu.js"></script>
		<script src="../assets/js/intro.js"></script>
		
		<script src="../assets/js/platform.js"></script>
		<script src="../assets/js/stats.js"></script>
		<script src="../assets/js/globals.js"></script>
	</body>
</html>