<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv=X-UA-Compatible content="IE=11">
	<title>About IT Trainings</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700|Nunito" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/bower.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/player-control.css">
	<style type="text/css">
		.modal-content{
			background: transparent !important;
    		padding: 0px !important;
		}
		
		
		.jsModalVideo .modal-dialog{
			max-width: 854px !important;
			margin: 20px auto !important;
		}	
	</style>
</head>
<body class="examwarrior_theme service_page about_it_training">
	<%include ./headerMenu %>
	<div class="content_wrapper">
		<div class="custom_container">
			<div class="top_block">
				<a href="/" class="house_logo">
					<picture>
						<source srcset="/assets/images/logo_dark.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/logo_dark.png">
					</picture>
				</a>
				<div class="bg_block">
					<picture>
						<source srcset="/assets/images/roof_intro.png">
						<img alt="Logo" class="img-fluid" src="/assets/images/roof_intro.png">
					</picture>
				</div>
				<div class="tools_block">
					<div class="tool_part"><i class="icon_tools icon_man"></i> <span class="red_text text_upper">get a job/promotion</span></div>
					<div class="tool_part try_us">
						<a href="/register" data-auth="false" class="text_upper"><i class="icon_tools icon_search"></i> Try Us</a>
						<a href="/it-trainings" class="text_upper"><i class="icon_tools icon_sience"></i> All Courses</a>
					</div>
				</div>
			</div>
			<div class="main_content">
				<div class="message_block">
					<h3>Instructor LED Live Online Classes</h3>
					<p>We are unique and special <a href="#" id="play-video" class="btn_form" data-target=".jsModalVideo" data-toggle="modal"><i class="fa fa-play"></i><span class="text">Find how</span></a></p>
				</div>
				<h2 class="main_title_training"><i class="icon_tools icon_man"></i> OUR TRAINING FEATURES</h2>
				<ul class="list-unstyled list_training_details">
					<li class="item_training_details">
						<ul class="details_training">
							<li>Live online and interactive classes</li>
							<li>On Demand Videos</li>
							<li>Recorded Classes of all batches</li>
							<li>Easy to follow Tutorials and Materials</li>
						</ul>
						<div class="link_training">						
							<a href="#"><img src="/assets/images/learn.png"></a>
						</div>
					</li>
					<li class="item_training_details right_list">
						<div class="link_training">					
							<a href="#"><img src="/assets/images/practise.png"></a>
						</div>
						<ul class="details_training">
							<li>Practice directly on our Cloud Servers</li>
						</ul>
					</li>
					<li class="item_training_details">
						<ul class="details_training">
							<li>Schedule / Reschedule Your Batch / Class at Your Convenience.</li>
							<li>If you miss any session you can listen to recorded video or join other batches for that session or any session.</li>
						</ul>
						<div class="link_training">						
							<a href="#"><img src="/assets/images/flexible.png"></a>
						</div>
					</li>
					<li class="item_training_details right_list">
						<div class="link_training">					
							<a href="#"><img src="/assets/images/support.png"></a>
						</div>
						<ul class="details_training">
							<li>24x7 Web Support</li>
							<li>Access to Faculity Members every day for doubt clarification.</li>
						</ul>
					</li>
					<li class="item_training_details">
						<ul class="details_training">
							<li>Faculty are experienced subject matter industry experts.</li>
						</ul>
						<div class="link_training">						
							<a href="#"><img src="/assets/images/facility.png"></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<a href="#" class="dashboard_link hidden-md-down"></a>

	<div class="fade modal jsModalVideo" onclick="pauseVideoPlayer()">
		<div class="modal-flex" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="video-modal-wrapper ds-close" id="">
	                    <div class="video-modal" id="video-modal">
	                        <div class="video-close-btn-wrapper" onclick="pauseVideoPlayer()">
	                            <div class="video-close-btn" data-dismiss="modal"><i class="fa fa-times"></i></div> 
	                        </div>
	                        
	                        <div class="video-wrap" player="true"
	                            data-url="https://examwarrior.com/resources/video/import_targets-hd.mp4"
	                            data-height="480"
	                            data-width="854"
	                        ></div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="bg_page" style="background-image: url(/assets/images/bg_new.png);"></div>
	<!-- build:js js/all.js -->
	<!-- bower:js -->
	<script src="/assets/bower_components/jquery/dist/jquery.js"></script>
	<script src="/assets/bower_components/tether/dist/js/tether.js"></script>
	<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/assets/bower_components/lazysizes/lazysizes.js"></script>

	<!-- endbower -->
	<!-- endbuild -->

	<!-- custom video player -->
	<script src="../assets/js/jwplayer/jwplayer.js"></script>
    <!-- jwplyer key -->
    <script type="text/javascript">
    window.jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";
    </script>
    <script src="/assets/js/videoStats.js"></script>
    <script src="/assets/js/custom-player.js"></script>
	
	<script src="/assets/js/globals.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/subscribe.js"></script>

	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="../assets/js/websocket.js"></script>
</body>
</html>