<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv=X-UA-Compatible content="IE=11">
        <title>About IT Training - Examwarrior</title>
        
        <link href="../assets/css/intro.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/fontawesome.min.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/css/player-control.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto|Roboto+Condensed:400,700" rel="stylesheet">
        <script src="../assets/js/jquery.js"></script>
        <script>
        jQuery(document).ready(function(){
            jQuery('.mobile-menu').click(function(){
                jQuery(this).parent().find('.menu-links').toggle();
            });
        });
        </script>
        
        <link rel="stylesheet" href="../assets/components/all/all.css">
        <link rel="stylesheet" href="../assets/components/head_style/head_style.css">
        <link rel="stylesheet" href="../assets/components/sass/style.css">
        <link rel="stylesheet" href="../assets/components/custom.css">

        <style type="text/css">
            body{
                -webkit-font-smoothing: antialiased;
            }
            .right_nav .main_nav_list li > a {
                font-weight: bold;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 12px;
                text-transform: capitalize;
            }
             @media screen and (min-width: 1280px){
                .right_nav  .main_nav_list {
                    border-radius: 5px;
                    /*background: rgba(0, 0, 0, 0.25);*/
                    border-radius: 5px;
                    padding: 6px;
                }
                .right_nav  .main_nav_list>li{
                    margin: 0px 0px;
                }
                
                .right_nav  .main_nav_list>li:after{
                    content : '|';
                    margin: 0px 8px;

                }
            }
            .contactus-modal{
                left: -150px;
            }
            .contactus-modal:before{
                left: 180px;
            }
            .main_header{
                background: transparent;
                width: auto;
                left: auto;
                right: 0px;
                z-index: 9999;
            }
            @media screen and (max-width: 1279px){
                .main_header .main_nav_list>li{
                    color: #222 !important;
                }
            }
            
            .main_header .main_nav_list .wrap_nav{
                color: #fff !important;
            }

            .tree-img {
                position: fixed;
                top: 60px;
                right: 0px;
                z-index: 1;
                display: none;
            }
            @media screen and (min-width: 1600px){
                .tree-img {
                    display: block;
                    top: 140px;
                }
            }

            .tree-img img{
                width: 300px;
            }
            @media screen and (min-width: 1600px){
                .tree-img img{
                    width: 400px;
                }
            }

            .falling-apple {
                position: fixed;
                top: 260px;
                right: 50px;
                cursor: pointer;
                display: none;
            }

            @media (min-width: 105em) {
                .falling-apple {
                    top: 350px;
                    right: 100px;
                    display: block;
                }
            }
        </style>
    </head>
    <body>
        <header class="main_header">
            <div class="right_nav little-up">
                <!-- <ul class="list main_nav_list top-position-absolute">
                    <li class="hidden-sm-down" data-auth='true'><a href="/dashboard/">welcome,&nbsp;<span class="username"></span></a> </li>
                    <li class="hidden-sm-down" data-auth='true'><a href="/logout">logout</a></li>
                </ul> -->
                <ul class="list main_nav_list">
                    <!-- <li class="hidden-sm-down" data-auth='true'><a href="/dashboard/">welcome,&nbsp;<span class="username"></span></a> </li> -->
                    <!-- <li class="hidden-sm-down" data-auth='false'><a href="/login">login</a></li> -->
                    <!-- <li class="hidden-sm-down" data-auth='true'><a href="/logout">logout</a></li> -->
                    <!-- <li class="hidden-md-down"><a href="/sitemap">all links</a></li> -->
                    <!-- <li class="hidden-md-down"><a href="/buy">pricing</a></li> -->
                    <!-- <li class="hidden-md-down">
                        <a href="/"><i class="fa fa-home"></i>Home</a>
                    </li> -->
                    <li class="hidden-md-down" style="position: relative" data-auth='true'>
                        <a onclick="toggleUserMenuModal()" style="cursor:pointer" id="user-menu-modal-link">
                            <img id="user-pic" class="user-pic-img" src="/assets/images/dummy-user-pic.png" alt=""/>
                            <span class="username"></span>
                        </a>
                        <div class="notification-modal hide" style="width:250px" id="user-menu-modal">
                            <div class="ew-modal-content" style="max-height: 600px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                                <div class="notification smenu-links"  >
                                    <div class="notification-sub user-pic">
                                        <a href="/dashboard/"><i class="fa fa-dashcube"></i>Dashboard</a>
                                    </div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">
                                        <a href="/logout"><i class="fa fa-sign-out"></i> logout</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ew-modal-footer">
                                <div class="see-all" style="cursor:pointer" onclick="toggleUserMenuModal()"><img src="../../../assets/images/red-apple.png" alt="">Close</div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-md-down" style="position: relative">
                        <a onclick="toggleSMENUModal()" style="cursor:pointer" id="smenu-modal-link"><i class="fa fa-list"></i>SMENU</a>
                        <div class="notification-modal hide" style="width:250px" id="smenu-modal">
                            <!-- <div class="ew-modal-title">
                                <span class="text">
                                    <img src="../../../assets/images/green-apple.png" alt="">
                                    Menu
                                </span>
                            </div> -->
                            <div class="ew-modal-content" style="max-height:600px;border-top-right-radius: 5px;border-top-left-radius: 5px;">
                                <div class="notification smenu-links"  data-auth='false'>
                                    <div class="notification-sub"><a href="/login"><i class="fa fa-lock"></i>login</a></div>
                                </div>
                                <div class="notification smenu-links"  data-auth='false'>
                                    <div class="notification-sub">
                                        <a href="/register"><i class="fa fa-user"></i>Sign Up</a>
                                    </div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">  
                                        <a href="/buy"><i class="fa fa-credit-card"></i>Pricing</a>
                                    </div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">  
                                        <a href="/sitemap"><i class="fa fa-list"></i>All Links</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ew-modal-footer">
                                <div class="see-all" style="cursor:pointer" onclick="toggleSMENUModal()"><img src="../../../assets/images/red-apple.png" alt="">Close</div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-md-down" data-auth='true'>
                        <a href="/~/notifications"><i class="fa fa-bell"></i>Notifications</a>
                        <span id="notification-count"></span>
                    </li>
                    <li class="hidden-md-down" style="position: relative">
                        <a onclick="toggleContactUsModal()" style="cursor:pointer" id="contactus-modal-link"><i class="fa fa-phone"></i>contact us</a>
                        <div class="notification-modal contactus-modal hide" id="contactus-modal">
                            <!-- <div class="ew-modal-title">
                                <span class="text"><img src="../../../assets/images/green-apple.png" alt="">Contact US</span>
                            </div> -->
                            <div class="ew-modal-content" style="max-height:600px;border-top-right-radius: 5px;border-top-left-radius: 5px;">
                                <div class="notification smenu-links">
                                    <div class="notification-sub">Phone</div>
                                    <div class="notification-msg" id="contactus_ph"></div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">Support</div>
                                    <div class="notification-msg" id="contactus_support"></div>
                                </div>
                                <div class="notification smenu-links">
                                    <div class="notification-sub">Sales</div>
                                    <div class="notification-msg" id="contactus_sales"></div>
                                </div>
                            </div>
                            <div class="ew-modal-footer">
                                <a class="see-all" target="_blank" href="/contactus"><img src="../../../assets/images/green-apple.png" alt="">Send Message</a>
                                <a class="see-all" href="#" onclick="toggleContactUsModal()" style="cursor:pointer"><img src="../../../assets/images/red-apple.png" alt="">Close</a>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="hidden-md-down"><a href="/contactus">Why Us?</a></li> -->
                    
                    <li><a href="/" class="jsTriggerMenu"><i class="fa fa-bars"></i>Menu</a></li>
                    <!-- <li class="hidden-lg-up"><a href="/" class="jsSrcBt"><i class="fa fa-search"></i></a></li> -->
                </ul>
                <a href="/register" class="btn hidden-sm-down try-us-mobile-btn" data-auth='false'>TRY US NOW</a>
            </div>
            <nav class="main_nav jsMainNav">
                <!-- <div class="close_menu hidden-lg-up"><a href="/" class="title_nav jsCloseMenu"><i class="fa fa-close"></i></a></div> -->
                <ul class="main_nav_list list_lg_up nav_box">
                    <li class="wrap_nav hidden-md-up" data-auth='true'><a href="/dashboard/" class="title_nav"><span class="flex_auto text_left">welcome,&nbsp;<span class="username"></span> </span></a></li>
                    <li class="wrap_nav hidden-md-up" data-auth='false'><a href="/login" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-user"></i>login</span></a></li>
                    <li class="wrap_nav hidden-md-up" data-auth='true'><a href="/logout" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-sign-out"></i>logout</span></a></li>
                    <li class="wrap_nav hidden-lg-up"><a href="/sitemap" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-rocket"></i>All links</span></a></li>
                    <li class="wrap_nav hidden-lg-up"><a href="/buy" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-lock"></i> pricing</span></a></li>
                    <li class="wrap_nav hidden-lg-up"><a href="/contactus" class="title_nav"><span class="flex_auto text_left"><i class="fa fa-phone"></i> contact Us</span></a></li>
                    <li class="wrap_nav hidden-md-up" data-auth='false'><span class="title_nav"><a href="/register" class="btn">TRY US NOW</a></span></li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/it-trainings"><i class="fa fa-list"></i> IT COURSES</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/dashboard"><i class="fa fa-dashcube"></i> DASHBOARD</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/forums"><i class="fa fa-question-circle"></i> Q&A</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-lg-up">
                        <div class="title_nav"><a class="flex_auto" href="/~/notifications"><i class="fa fa-bell"></i> NOTIFICATIONS</a></div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-sitemap"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled">
                                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                <li><a href="/sitemap"><i class="fa fa-home"></i> All Links</a></li>
                                <li data-auth='false'><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
                                <li data-auth='true'><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
                                <li data-auth='false'><a href="/register"><i class="fa fa-lock"></i> Register</a></li>
                                <li data-auth='false'><a href="/forgotpassword"><i class="fa fa-pencil"></i> Forgot Password</a></li>
                                <li data-auth='true'><a href="/changepassword/"><i class="fa fa-pencil"></i> Change Password</a></li>
                                <li><a href="/adminApp"><i class="fa fa-user-secret"></i><span>Admin</span></a></li>
                                <li><a href="/dashboard/"><i class="fa fa-dashcube"></i><span>Dashboard</span></a></li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/forums"><span class="flex_auto"><i class="fa fa-sitemap"></i>Q &amp; A</span></a>
                        </div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <div class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tasks"></i> Menu</span> <i class="fa fa-chevron-down hidden-lg-up"></i></div>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled">
                                <li><a href="/dashboard/performance"><i class="fa fa-user-secret"></i> Performace</a></li>
                                <li><a href="/dashboard/user-courses"><i class="fa fa-list"></i> My Courses</a></li>
                                <li><a href="/books"><i class="fa fa-book"></i> Books</a></li>
                                <li><a href="/forums"><i class="fa fa-users"></i> Q &amp; A</a></li>
                                <li><a href="/user-profile"><i class="fa fa-gear"></i> User Profile</a></li>
                                <li><a href="/dashboardApp/tests"><i class="fa fa-dashcube"></i> Tests</a></li>
                                <li><a href="/career-book/"><i class="fa fa-user"></i> Carrerbook</a></li>
                                <li><a href="/dashboard/user-highlights"><i class="fa fa-pencil"></i> Highlights</a></li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/career-book/"><span class="flex_auto"><i class="fa fa-tasks"></i>Carrerbook</span></a>
                        </div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <span href="/"  class="title_nav jsTilteCollapse">
                            <a href="/it-trainings" class="flex_auto">
                                <i class="fa fa-tasks"></i> IT Courses
                            </a> 
                            <i class="fa fa-chevron-down hidden-lg-up"></i>
                        </span>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled" id="it-courses">
                                <li>No Courses to show.</li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/books"><span class="flex_auto"><i class="fa fa-tasks"></i>Books</span></a>
                        </div>
                    </li>
                    <li class="jsNavShow wrap_nav hidden-md-down">
                        <div  class="title_nav jsTilteCollapse"><span class="flex_auto"><i class="fa fa-tags"></i> Courses</span> <i class="fa fa-chevron-down hidden-lg-up"></i>
                        <div class="close-icon jsTriggerMenu" style="cursor: pointer">
                            <i class="fa fa-times hidden-md-down" ></i>
                        </div></div>
                        <div class="sub_nav jsSubNav">
                            <ul class="list-unstyled">
                                <li>
                                    <a onclick="openSubscribeModal('Board Exams')" data-toggle="collapse"><i class="fa fa-list-alt"></i> Board Exams</a>
                                    <!-- <div>
                                        <ul class="list-unstyled details_list" id="board-courses">
                                            <li>No Courses to show.</li>
                                        </ul>
                                    </div> -->
                                </li>
                                <li>
                                    <a onclick="openSubscribeModal('Competitive Exams')" data-toggle="collapse"><i class="fa fa-th-large"></i> Competitive Courses</a>
                                    <!-- <div>
                                        <ul class="list-unstyled details_list" id="competitive-courses">
                                            <li>No Courses to show.</li>
                                        </ul>
                                    </div> -->
                                </li>
                            </ul>
                        </div>
                        <div class="bottom_panel">
                            <a class="title_nav title_nav_foot jsTilteCollapse" href="/dashboard/performance"><span class="flex_auto"><i class="fa fa-tags"></i>Performace</span></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="tree-img">
            <img src="/assets/images/tree-new.png" alt="">
        </div>
        <div class="falling-apple">
            <a href="/dashboard"><img src="/assets/images/falling_apple.png" alt=""></a>
        </div>
        <div id="main-container">
            <div class="main-container">
                <div class="header_wrapper1">
                    <div class="header_wrapper">
                        <div class="site_logo">
                            <a href="/"><img src="/assets/images/logo-dark.png" alt="Exam Warrior" /></a>
                            <span class="mobile-btns">
                                <!-- <a href="/register" class="top-bar-btn">Try Us</a> -->
                                <!-- <a href="/it-trainings" class="top-bar-btn">All Courses</a> -->
                            </span>
                            
                            <!-- <div class="mobile-menu"><i class="fa fa-bars"></i></div> -->
                            <!-- <div class="menu-links">
                                <ul>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                    <li><a href="#">Link 5</a></li>
                                    <li><a href="#">Link 6</a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="top-bar">
                            <div>
                                <span class="top-text">
                                    <img src="/assets/images/icons/17.png" alt="">
                                    Get a JOB/Promotion
                                </span>
                            </div>
                            <div>
                                <a href="/register" data-auth='false' class="top-bar-btn no-back">
                                    <img src="/assets/images/icons/19.png" alt="">
                                    <span class="text">Try Us</span>
                                </a>
                                <a href="/it-trainings" class="top-bar-btn no-back">
                                    <img src="/assets/images/icons/20.png" alt="">
                                    <span class="text">All Courses</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="site_wrapper">
                    <div class="sitemap-wrapper">
                        <!-- <div class="banner-mobile"><img src="/assets/images/banner-new.png" alt="banner" /></div> -->
                        <div class="sitemap-wrapper_inner" style="padding-bottom:0px;">
                            <div class="main-wrap">
                                <div class="main-wrap-inner">
                                    <div class="top-banner">
                                        <!-- <div id="top-banner-inner"> -->
                                        <div class="top-banner-inner">
                                            <h3>Instructor LED Live Online Classes</h3>
                                            <p>We are unique and special
                                                <a style="position: relative;top: -7px;left: 8px;text-transform: capitalize" class="top-bar-btn" id="play-video">
                                                    <i class="fa fa-play"></i>
                                                    <span class="text">Find how</span></a></p>
                                            </div></div>
                                            <!-- </div> -->
                                            <div class="tree-bg-main">
                                                <p><img src="/assets/images/icons/18.png" alt="">Our Training Features</p>
                                                <div class="tree-bg">
                                                    <div id="courses-branch">
                                                        <div class="courses-branch">
                                                            <div class="branch-course">
                                                                <ul>
                                                                    <li>
                                                                        
                                                                        <div class="linkss">
                                                                            <!-- <h2>Learn</h2> -->
                                                                            <div class="infograph-wrapper">
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text blue">Live online and interactive classes</div>
                                                                                </div>
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text red">On Demand Videos</div>
                                                                                </div>
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text green">Recorded Classes of all batches</div>
                                                                                </div>
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text dark-blue">Easy to follow Tutorials and Materials</div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <h3>Live on Class</h3>
                                                                            <h3>Demand On Videos</h3>
                                                                            <h3>Recorded Classes for all batchs</h3>
                                                                            <h3>Easy to follow Tutorials and Materials</h3> -->
                                                                        </div>
                                                                        <div class="img"><a href="#"><img src="/assets/images/learrn.png" alt="Learn" /></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="img"><a href="#"><img src="/assets/images/practise.png" alt="Faculity" /></a></div>
                                                                        <div class="linkss">
                                                                            <!-- <h2>Practice</h2> -->
                                                                            <div class="infograph-wrapper">
                                                                                <div class="infograph-point">
                                                                                    
                                                                                    <div class="infograph-text blue">Practice directly on our Cloud Servers</div>
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        
                                                                        <div class="linkss">
                                                                            <!-- <h2>Flexible Schedule</h2> -->
                                                                            <div class="infograph-wrapper">
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text blue">Schedule / Reschedule Your Batch / Class at Your Convenience.</div>
                                                                                </div>
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text blue">If you miss any session you can listen to recorded video or join other batches for that session or any session.</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="img"><a href="#"><img src="/assets/images/flexible.png" alt="Flexible" /></a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="img"><a href="#"><img src="/assets/images/support.png" alt="Support" /></a></div>
                                                                        <div class="linkss">
                                                                            <!-- <h2>Support</h2> -->
                                                                            <div class="infograph-wrapper">
                                                                                <div class="infograph-point">
                                                                                    
                                                                                    <div class="infograph-text blue">24x7 Web Support</div>
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                </div>
                                                                                <div class="infograph-point">
                                                                                    
                                                                                    <div class="infograph-text blue">Access to Faculity Members every day for doubt clarification.</div>
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        
                                                                        <div class="linkss">
                                                                            <!-- <h2>Faculity</h2> -->
                                                                            <div class="infograph-wrapper">
                                                                                <div class="infograph-point">
                                                                                    <div class="infograph-icon"><img src="/assets/images/icons/tick.png" alt=""></div>
                                                                                    <div class="infograph-text blue">Faculty are experienced  subject matter  industry experts.</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="img"><a href="#"><img src="/assets/images/facility.png" alt="Facility" /></a></div>
                                                                    </li>
                                                                    <!-- <li>
                                                                        <div class="img"><a href="#"><img src="/assets/images/new-added.png" alt="Learn" /></a></div>
                                                                        <div class="linkss">
                                                                        </div>
                                                                    </li> -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-modal-wrapper ds-close" id="">
                    <div class="video-modal" id="video-modal">
                        <div class="video-close-btn-wrapper">
                            <div class="video-close-btn" ng-click="vm.closeHomeVideoModal()"><i class="fa fa-times"></i></div> 
                        </div>
                        
                        <div class="video-wrap" player="true"
                            data-url="https://examwarrior.com/resources/video/test.mp4"
                            data-height="480"
                            data-width="854"
                        ></div>
                    </div>
                </div>

                <div class="subscribe-modal">
                    <div class="subscribe-close-btn" onclick="closeSubscribeModal()">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="subscribe-title">
                        <!-- This will be filled dynamically -->
                    </div>
                    <div class="subscribe-input">
                        <input type="text" id="subscribe-tf" placeholder="Email Address Here">
                        <div class="input-error-msg">*Please Enter valid Email Address</div>
                    </div>
                    <div class="subscribe-btn-wrapper">
                        <div class="subscribe-btn close" onclick="closeSubscribeModal()">
                            <i class="fa fa-times"></i>
                            <span>Cancel</span>
                        </div>  
                        <div class="subscribe-btn" onclick="subscribeUser()">
                            <i class="fa fa-envelope"></i>
                            <span>Subscribe</span>
                        </div>  
                    </div>
                    
                    <div class="alert alert-success success-msg">
                        Thank you for subscribption.
                    </div>

                    <div class="alert alert-danger error-msg">
                        Some Error occured.
                    </div>
                </div>


                <script src="../assets/js/jwplayer/jwplayer.js"></script>
                <!-- jwplyer key -->
                <script type="text/javascript">
                window.jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";
                </script>
                <!-- custom video player -->
                <script src="../assets/js/videoStats.js"></script>
                <script src="../assets/js/custom-player.js"></script>
                <!--<script src="../assets/js/platform.js"></script>-->
                <script src="../assets/js/globals.js"></script>
                <!--<script src="../assets/js/stats.js"></script>-->
                <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
                <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
                <script src="../assets/js/websocket.js"></script>
                
                <script>
                        function validateEmail(email) {
                            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                            return re.test(email);
                        }
                        var subs_typ;
                        function openSubscribeModal(type) {
                            resetSubscribeModal();
                            subs_typ = type;
                            var text = type + " will be live shortly. Please Subscribe for Updates";
                            $(".subscribe-title").html(text);
                            $(".subscribe-modal").addClass("open");
                        }

                        function closeSubscribeModal() {
                            $(".subscribe-modal").removeClass("open");
                        }

                        function resetSubscribeModal() {
                            $(".subscribe-input").show();
                            $(".subscribe-btn").show();
                            $(".success-msg").hide();
                            $(".error-msg").hide();
                            $("#subscribe-tf").val('');
                            $("#subscribe-tf").removeClass("error");
                            $(".input-error-msg").hide();
                        }

                        function subscribeUser() {
                            $(".success-msg").hide();
                            $(".error-msg").hide();
                            var input = $("#subscribe-tf").val();
                            if(input.length <= 0 || !validateEmail(input)){
                                $("#subscribe-tf").addClass("error");
                                $(".input-error-msg").show();
                                return;
                            }
                            $("#subscribe-tf").removeClass("error");
                            $(".input-error-msg").hide();
                            $.ajax({
                                url : 'https://examwarrior.com/mail/subscribeUser',
                                method : 'post',
                                data : {
                                    subs_email : input,
                                    subs_typ : subs_typ
                                },
                                success : function(res){
                                    console.log(res);
                                    $(".success-msg").show();
                                    $(".subscribe-input").hide();
                                    $(".subscribe-btn").hide();
                                },
                                error : function(err){
                                    console.error(err);
                                    $(".error-msg").show();
                                }
                            })
                        }
                      $(function () {
                        $("#subscribe-tf").on('keyup',function(){
                            var input = $("#subscribe-tf").val();
                            if(input.length <= 0 || !validateEmail(input)){
                                $("#subscribe-tf").addClass("error");
                                $(".input-error-msg").show();
                            }else{
                                $("#subscribe-tf").removeClass("error");
                                $(".input-error-msg").hide();
                            }
                        })
                      })
                    $("#play-video").on("click",function(e){
                        var ele = $(".video-modal-wrapper");
                        var isOpen = $(ele).hasClass('ds-open');
                        if(isOpen){
                            $(ele).removeClass('ds-open').addClass('ds-close');
                        }else{
                            $(ele).addClass('ds-open').removeClass('ds-close');
                        }
                    });
                    $(".video-close-btn").on("click",function(){
                        var ele = $(".video-modal-wrapper");
                        $(ele).removeClass('ds-open').addClass('ds-close');

                        var player_wrapper = $(ele).find(".custom-player-wrapper").children()[0];
                        var player_id = $(player_wrapper).attr('id');
                        var player = jwplayers[player_id];
                        // console.log(,findParent($("#")));
                        removeJWPlayer(player_id);

                        //player current time
                        var currentPosition = player.getPosition();
                        //player duration
                        var duration = player.getDuration();
                        //percentage
                        var percentage = (currentPosition/duration)*100;

                        var user = JSON.parse(localStorage['ls.dsUser'] || {});
                        var usr_id = "";
                        if(user.usr_id){
                            usr_id = user.usr_id;
                        }
                        var data = {
                            type : 'close',
                            data : percentage,
                            hashToken : localStorage['ls.dsHashToken'],
                            usr_id  : usr_id
                        }
                        $.ajax({
                            url : '/videostats/insertStats/',
                            method : 'POST',
                            data : data
                        });
                    })
                </script>
                <script type="text/javascript">
                    $(function () {
                        $('body').on( 'click', '.jsTriggerMenu, .jsCloseMenu', function (e) {
                            e.preventDefault();
                            $('.jsMainNav').toggleClass('show_nav');
                            $('body').removeClass('src_show');
                            $('.jsSrcShow').slideUp();
                        });
                        $(document).on( 'click', function (e) {
                            if($(e.target).closest('.jsMainNav, .jsTriggerMenu').length) {
                                return;
                            }
                            $('.jsMainNav').removeClass('show_nav');
                            e.stopPropagation();
                        });

                        $('body').on( 'click', '.jsTilteCollapse', function (e) {
                            e.preventDefault();
                            $(this).toggleClass('show_sub_nav');
                            $(this).closest('.jsNavShow').find('.jsSubNav').slideToggle();
                        });

                        $('body').on( 'click', '.jsSrcBt', function (e) {
                            e.preventDefault();
                            $('body').toggleClass('src_show');
                            $('.jsSrcShow').slideToggle();
                            $('.jsMainNav').removeClass('show_nav');
                        });
                        function isAuthenticated() {
                            var a = new Auth();
                            return a.isAuthenticated();
                            // var tokenKey = "ls.dsToken";
                            // var userKey = "ls.dsUser";
                            // return !!localStorage[tokenKey] && !!localStorage[userKey];
                        }

                        // Hide Unauthorized link
                        (function(){
                            var isLoggedIn = isAuthenticated();
                            $("[data-auth='true']").each(function(i,block) {
                                if(!isLoggedIn){
                                    $(block).css("display","none");
                                }
                            });
                            $("[data-auth='false']").each(function(i,block) {
                                if(isLoggedIn){
                                    $(block).css("display","none");
                                }
                            });
                        })();

                        function getUserId() {
                            var userKey = "ls.dsUser";
                            var obj = localStorage[userKey];
                            var jsonObj = JSON.parse(obj);
                            return jsonObj["usr_id"];
                        }

                        function getUserName() {
                            var userKey = "ls.dsUser";
                            var obj = localStorage[userKey];
                            if(obj){
                                var jsonObj = JSON.parse(obj);
                                return jsonObj["dsp_nm"];   
                            }else{
                                return '';
                            }
                        }

                        //Set Username
                        (function() {
                            var name = getUserName();
                            var MAX_CHAR = 10;
                            if(name.length > MAX_CHAR){
                                name = name.substr(0,MAX_CHAR) + "...";
                            }
                            $(".username").html(name);
                        })();   

                        //getCoursesData
                        (function() {
                            $.ajax({
                                url : 'https://examwarrior.com/course/getAll',
                                method : 'post',
                                success : function(courses){
                                    fillHTMLDOMWithCourses(courses,'it');
                                    fillHTMLDOMWithCourses(courses,'board');
                                    fillHTMLDOMWithCourses(courses,'competitive');
                                },
                                error : function(err){
                                    console.log(err);
                                }
                            })
                        })();

                        function fillHTMLDOMWithCourses(courses,type) {
                            var arrDom = [];
                            courses.forEach(function(v,i) {
                                if(v.courseType === type){
                                    var a = $("<a></a>");
                                    var link = '/' + type + '/' + v.courseSubGroup + '-trainings/' + v.courseId;
                                    a.attr("href",link);
                                    a.addClass("item white");
                                    a.html(v.courseName);
                                    var li = $("<li></li>").append(a);    
                                    if(arrDom.length <= 5){
                                        arrDom.push(li);        
                                    }
                                }
                            });
                            if(arrDom.length > 0){
                                var a = $("<a></a>");
                                var link = '/' + type + '-trainings';
                                a.attr("href",link);
                                a.addClass("item white text_right");
                                a.html("All Courses");
                                var li = $("<li></li>").append(a);    
                                arrDom.push(li);    

                                $("#" + type + "-courses").html(arrDom);    
                            }
                        }
                     });
                </script>
                <script>
                    $('body').on( 'click', '#contactus-modal-link', function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click', "#contactus-modal", function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click',function (e) {
                        closeContactUsModal();
                    });

                    function getContactUsDetails(argument) {
                        $.ajax({
                            url : '/contact/getContactUsDetails',
                            method : 'post',
                            success : function(details){
                                details = details[0] || {};
                                $("#contactus_ph").html(details.ph);
                                $("#contactus_support").html(details.support);
                                $("#contactus_sales").html(details.sales);
                            },
                            error : function(err){
                                console.log(err);
                            }
                        })
                    }
                    getContactUsDetails();
                    function toggleContactUsModal() {
                        closeSMENUModal();
                        closeUserMenuModal();
                        $('.jsMainNav').removeClass('show_nav');
                        $("#contactus-modal").toggle();
                    }
                    function closeContactUsModal() {
                        $("#contactus-modal").hide();
                    }
                </script>
                <script>
                    $('body').on( 'click', '#smenu-modal-link', function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click', "#smenu-modal", function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click',function (e) {
                        closeSMENUModal();
                    });

                    function setUserPic() {
                        var userKey = "ls.dsUser";
                        var obj = localStorage[userKey];
                        if(obj){
                            var jsonObj = JSON.parse(obj);
                            var pic =  jsonObj["usr_pic"]; 
                            if(pic){
                                $(".user-pic-img").attr("src",pic);
                            }
                        }
                    }
                    setUserPic();

                    function toggleSMENUModal() {
                        closeContactUsModal();
                        closeUserMenuModal();
                        $('.jsMainNav').removeClass('show_nav');
                        $("#smenu-modal").toggle();
                    }
                    function closeSMENUModal() {
                        $("#smenu-modal").hide();
                    }


                    $('body').on( 'click', '#user-menu-modal-link', function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click', "#user-menu-modal", function (e) {
                        e.stopPropagation();
                    });
                    $('body').on( 'click',function (e) {
                        closeUserMenuModal();
                    });

                    function toggleUserMenuModal() {
                        closeContactUsModal();
                        closeSMENUModal();
                        $('.jsMainNav').removeClass('show_nav');
                        $("#user-menu-modal").toggle();
                    }
                    function closeUserMenuModal() {
                        $("#user-menu-modal").hide();
                    }
                </script>
    <script type="text/javascript">
        function getUserId() {
            var userKey = "ls.dsUser";
            var obj = localStorage[userKey];
            var jsonObj = JSON.parse(obj);
            return jsonObj["usr_id"];
        }
        function getNotificationCount() {
            if(getUserId()){
                $.ajax({
                    url : '/sendNotification/getSendNotificationCount',
                    method : 'post',
                    data : {
                        usr_id : getUserId()
                    },
                    success : function(details){
                        details = details[0] || {};
                        var notificaionCount = details.noti_cnt;
                        if(notificaionCount > 0){
                            $("#notification-count").html(notificaionCount)
                        }else{
                            $("#notification-count").hide();
                        }
                        
                    },
                    error : function(err){
                        console.log(err);
                    }
                })
            }else{

            }
        }
        getNotificationCount();
    </script>
    <script>
        function resetMenuModals() {
            closeSMENUModal();
            closeContactUsModal();   
        }
    </script>
    </body>
</html>