<div class="menu-modal-component" id="menu-modal">
	<div class="menu-part left">
		<div class="menu-head">
			<i class="fa fa-sitemap"></i>
			Menu
		</div>
		<ul>
			<li data-auth='false'>
				<a href="/login">
					<i class="fa fa-lock"></i>
					<span>Login</span>
				</a>
			</li>
			<li data-auth="true">
				<a href="/logout">
					<i class="fa fa-sign-out"></i>
					<span>Logout</span>
				</a>
			</li>
			<li data-auth="true">
				<a href="/changepassword/">
					<i class="fa fa-pencil"></i>
					<span>Change Password</span>
				</a>
			</li>
			<li data-auth='false'>
				<a href="/forgotpassword">
					<i class="fa fa-pencil"></i>
					<span>Forgot Password</span>
				</a>
			</li>
			<li data-auth="true">
				<a href="/adminApp">
					<i class="fa fa-user-secret"></i>
					<span>Admin</span>
				</a>
			</li>
			<li data-auth="true" >
				<a href="/dashboard/">
					<i class="fa fa-dashcube"></i>
					<span>Dashboard</span>
				</a>
			</li>
		</ul>
		<div class="menu-head menu-foot"><a href="/forums">Q&A</a></div>
	</div>
	<div class="menu-part left">
		<div class="menu-head">
			<i class="fa fa-tasks"></i>
			Menu
		</div>
		<ul>
			<li ng-click="vm.goToURL('/dashboardApp/performance')" ng-if="vm.isUserLoggedIn()">
				<a href="/dashboardApp/performance">
					<i class="fa fa-user-secret"></i>
					<span>Performace</span>
				</a>
			</li>
			<li onclick="toggleHiddenMenu(this)">
				<span>
					<i class="fa fa-list"></i>
					<span>My Courses</span>	
				</span>
				<div class="hidden-menu" id="my-courses">
					
				</div>
			</li>
			<li ng-click="vm.goToURL('/books')" ng-if="vm.isUserLoggedIn()">
				<a href="/books">
					<i class="fa fa-book"></i>
					<span>Books</span>
				</a>
			</li>
			<li ng-click="vm.goToURL('/forums')" ng-if="vm.isUserLoggedIn()">
				<a href="/forums">
					<i class="fa fa-users"></i>
					<span>Q & A</span>
				</a>
			</li>
			<li>
				<a href="/user-profile/">
					<i class="fa fa-gear"></i>
					<span>User Profile</span>
				</a>
			</li>
			<li ng-click="vm.goToURL('/dashboardApp/tests')" ng-if="vm.isUserLoggedIn()">
				<a href="/dashboardApp/tests">
					<i class="fa fa-dashcube"></i>
					<span>Tests</span>
				</a>
			</li>
			<li>
				<a href="/career-book/">
					<i class="fa fa-user"></i>
					<span>Carrerbook</span>
				</a>
			</li>
			<li ng-click="vm.goToURL('/dashboardApp/highlights')" ng-if="vm.isUserLoggedIn()">
				<a href="/dashboardApp/highlights">
					<i class="fa fa-pencil"></i>
					<span>Highlights</span>
				</a>
			</li>
		</ul>
		<div class="menu-head menu-foot"><a href="/career-book/">CarrerBook</a></div>
	</div>
	<div class="menu-part left">
		<div class="menu-head">
			<i class="fa fa-tasks"></i>
			IT Courses
		</div>
		<ul>
			<li id="it-courses">
				No Courses to show.
				<!-- Content Will be filled from javascript ajax req -->
			</li>
		</ul>
		<div class="menu-head menu-foot"><a href="/books">Books</a></div>
	</div>
	<div class="menu-part right">
		<div class="menu-head">
			<i class="fa fa-tags"></i>
			Courses
		</div>
		<ul>
			<li onclick="toggleHiddenMenu(this)">
				<span class="li-title" >
					<i class="fa fa-list-alt"></i>
					<span>Board Courses</span>
				</span>
				<div class="hidden-menu" id="board-courses">
					<div style="color: black;text-align: center">No Courses to show.</div>
					<!-- Content Will be filled from javascript ajax req -->
				</div>
			</li>
			<li onclick="toggleHiddenMenu(this)">
				<span class="li-title" >
					<i class="fa fa-th-large"></i>
					<span>Competitive Courses</span>
				</span>
				<div class="hidden-menu" id="competitive-courses">
					<div style="color: black;text-align: center">No Courses to show.</div>
					<!-- Content Will be filled from javascript ajax req -->
				</div>
			</li>
		</ul>
		<div class="menu-head menu-foot"><a href="/dashboardApp/performance">Performace</a></div>
	</div>
</div>