<!DOCTYPE html>
<html>
	<head>
		<title>Test Redis</title>
		<!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
		<!-- <link rel="stylesheet" href="/assets/css/theme.min.css"> -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
		<table border="1" id="myTable">
			<tr>
				<th>Message</th>
			</tr>
		</table>
		<script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		
		<script>
			var socket;
			var host = window.location.hostname;
	        if (host.indexOf("localhost") <= -1) {
	            //If not localhost
	            socket = io('https://' + host + '/');
	        } else {
	            //If localhost
	            socket = io('http://' + host + '/');
	        }
			
			
			socket.on('connect', function(){
				socket.emit("test-redis-subscribe","redis-channel");
				console.log("Broadcast Connected");
			});
			socket.on('redis-channel-msg', function(data){
				console.log("redis-channel-msg",data);
				var html = "<tr><td>"+ data +"</td></tr>"
				$("#myTable").append(html)
				socket.emit("test-redis-get-clicks");
			});
			var x = [],y=[];
			socket.on('test-redis-clicks', function(data){
				console.log("test-redis-clicks",data);
		        var msg = {
		        	"name" : "test",
		        	"clickcount" : parseInt(data)
		        }
		        var categories = window.chart.xAxis[0].categories;
	            if (x.indexOf(msg.name) > -1) {
	                var pos = x.indexOf(msg.name);
	                y[pos] = msg.clickcount;
	                window.chart.xAxis[0].setCategories(x);
	                window.chart.series[0].data[pos].update(y[pos]);
	            } else {
	                x.push(msg.name);
	                y.push(msg.clickcount)
	                window.chart.xAxis[0].setCategories(x);
	                window.chart.series[0].setData(y, true, true, true);
	            }
			});
			socket.on('disconnect', function(){
				console.log("Broadcast Disconnected");
			});
		</script>
		<script type="text/javascript">
			function sendToAll(msg){
				socket.emit('test_broadcast',msg);	
			}
		</script>
		<script type="text/javascript">
			function initChart() {
		        var options = {
		            chart: {
		                renderTo: 'container',
		                type: "bar"
		            },
		            tooltip: {
		                enabled: false
		            },
		            title: {
		                text: "Total User Clicks"
		            },
		            xAxis: {
		                categories: []
		            },
		            yAxis: {
		                title: {
		                    text: '',
		                    margin: 10
		                },
		                labels: {
		                    enabled: false
		                },
		                gridLineWidth: 0
		            },
		            series: [{
		                showInLegend: false,
		                dataLabels: {
		                    enabled: true
		                },
		                data: []

		            }]
		        }
		        window.chart = new Highcharts.Chart(options);

		        
		    }
		    initChart();
		</script>
	</body>
</html>