<!DOCTYPE html>
<html>
	<head>
		<title>Test Socket</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/theme.min.css">
	</head>
	<body>

		<button class="btn btn-primary" onclick="sendToAll()">Broadcast</button>
		<button class="btn btn-primary" onclick="sendTo2()">Send to 2</button>
		<!-- <button class="btn btn-primary" onclick="sendTo3('hi 3')">Send to 3</button> -->

		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		
		<script>
			var socket;
			var host = window.location.hostname;
	        if (host.indexOf("localhost") <= -1) {
	            //If not localhost
	            socket = io('https://' + host + '/');
	        } else {
	            //If localhost
	            socket = io('http://' + host + '/');
	        }
			
			// var socket_2 = io('http://localhost/2');
			// var socket_3 = io('http://localhost/3');
			socket.on('connect', function(){
				console.log("Broadcast Connected");
				var data = {
					socketId  : socket.id,
					user_id : 'sarju',
					display_name : 'sarju'
				}
				socket.emit('userInfo',data);
				
			});
			socket.on('disconnect', function(){
				console.log("Broadcast Disconnected");
			});
			socket.on('test_broadcast',function(msg){
				console.log("Msg Broadcast" , msg);
			});
		</script>
		<script type="text/javascript">
			function sendToAll(){
				socket.emit('createGroup',{
					room_id: '2a6ec64235c4490c8b1744a0c750403b'
				});	
			}
			function sendTo2(){
				var data = {
                    frm_usr: "sarju",
                    user_id: "sarju",
                    fr_id: "2a6ec64235c4490c8b1744a0c750403b",
                    msg: "new msg",
                    msg_id: '' + Math.floor(100000 + Math.random() * 900000),
                    msg_ts: new Date()
                }
				socket.emit('sendMsgToGroup',data);
			}
			// function sendTo3(msg){
			// 	socket_3.emit('message',msg);	
			// }
		</script>
	</body>
</html>