<!DOCTYPE html>
<html>
	<head>
		<title>Test Socket</title>
		<style type="text/css">
			math{
				display: block;
			}
			.loading{
				position: fixed;
				top: 0px;
				right: 0px;
				left: 0px;
				bottom: 0px;
				z-index: 100;
				background: rgba(0,0,0,0.85);
				color: white;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}
			.delayed{
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="loading">
			Loading....
		</div>
		<div class="delayed" id="delayed">
			
		</div>
		

		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({
		    showMathMenu: false,
		    noReflows: false,
		    showProcessingMessages : false,
		    messageStyle: "simple"
		  });
		  MathJax.Hub.signal.Interest(
			  function (message) {console.log("Hub: "+message)}
			);
		  MathJax.Hub.Register.StartupHook("End",function(){
		  		$(".delayed").show().append('<math display="block"> <menclose notation="radical"><mi> x </mi><mo> + </mo><mi> y </mi></menclose></math>');
		  		setTimeout(function(){
		  			MathJax.Hub.Typeset("delayed")
		  		},1000)
		  })
		  	MathJax.Hub.Register.MessageHook("End Process", function (message) {
			  $(".loading").hide();	
			})
			MathJax.Hub.Register.MessageHook("Begin Process", function (message) {
			  $(".loading").show();	
			})
		</script>
		<script
		  src="https://code.jquery.com/jquery-2.2.4.min.js"
		  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		  crossorigin="anonymous"></script>
		<script type="text/javascript" async
		  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML">
		</script>
		<script>
			// var socket = io('http://localhost/2');
			// var socket_broadcast = io('http://localhost/');
			// socket.on('connect', function(){
			// 	console.log(" 2 Connected");
			// });
			// socket.on('message',function(msg){
			// 	console.log("Msg received from 1" , msg);
			// });
			// socket_broadcast.on('test_broadcast',function(msg){
			// 	console.log("Msg Broadcast from 1" , msg);
			// });
			// socket.on('disconnect', function(){
			// 	console.log("2 Disconnected");
			// });
		</script>
	</body>
</html>