<!DOCTYPE html>
<html>
	<head>
		<title>Whiteboard</title>
		<style type="text/css">
			body{
				margin: 0px;
				padding: 0px;
			}
			canvas{
				position: absolute;
			}
			#canvas{
				/*z-index: 1;*/
			}
		</style>
	</head>
	<body>

		<canvas id="canvas"></canvas>
		<canvas id="remoteCanvas"></canvas>

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script>

			var socket;
			var host = window.location.hostname;
	        if (host.indexOf("localhost") <= -1) {
	            //If not localhost
	            socket = io('http://' + host + '/');
	        } else {
	            //If localhost
	            socket = io('http://' + host + '/');
	        }
			var socketId;
			socket.on('connect', function(){
				console.log("Socket Connected",socket.id);
				socketId = socket.id;
				socket.emit('joinDrawRoom');
			});
			socket.on('drawEvent',function(data){
				if(data.sender !== '/#' + socket.id){
					var evt = JSON.parse(data.evt);
					setupDraw(evt,true);
				}
			})

			var canvas = document.getElementById("canvas"),
				ctx = canvas.getContext("2d"),
				remoteCanvas = document.getElementById("remoteCanvas"),
				remotectx = remoteCanvas.getContext("2d"),
				$cvs = $("#canvas"),
				top = 0,
				left = 0;



			var resizeCvs  = function(){
				ctx.canvas.width = remotectx.canvas.width = $(window).width();
				ctx.canvas.height = remotectx.canvas.height = $(window).height();
			}

			var initCvs = (function(){
				ctx.lineCap = remotectx.lineCap = "round";
				ctx.strokeStyle = '#000000';
				ctx.lineWidth = 2;
				remotectx.strokeStyle = '#000000';
				remotectx.lineWidth = 2;
				resizeCvs();
				ctx.save();
				remotectx.save();
				ctx.clearRect(0,0,ctx.canvas.width,ctx.canvas.height);
				remotectx.clearRect(0,0,remotectx.canvas.width,remotectx.canvas.height);
				ctx.restore();
				remotectx.restore();
			})();

			var draw = {
				isDrawing : false,
				mousedown : function(ctx,coords){
					ctx.beginPath();
					ctx.moveTo(coords.x,coords.y);
					this.isDrawing = true;
				},
				mousemove : function(ctx,coords){
					if(this.isDrawing){
						ctx.lineTo(coords.x,coords.y);
						ctx.stroke();
					}
				},
				mouseup : function(ctx,coords){
					this.isDrawing = false;
					ctx.lineTo(coords.x,coords.y);
					ctx.stroke();
					ctx.closePath();
				},
				touchstart : function(ctx,coords){
					ctx.beginPath();
					ctx.moveTo(coords.x,coords.y);
					this.isDrawing = true;
				},
				touchmove : function(ctx,coords){
					if(this.isDrawing){
						ctx.lineTo(coords.x,coords.y);
						ctx.stroke();
					}
				},
				touchend : function(ctx,coords){
					if(this.isDrawing){
						this.touchmove(coords);
						this.isDrawing = false;
					}
				}
			}

			function setupDraw(event , isRemote){
				var coords = {};
				var evt = {};
				var isRemote = isRemote || false;

				evt.type = event.type;
				evt.pageX = event.pageX;
				evt.pageY = event.pageY;
				coords.x = event.pageX;
				coords.y = event.pageY;

				if(!isRemote){
					socket.emit('drawEvent',JSON.stringify(evt));
					draw[event.type](ctx,coords);
				}else{
					draw[event.type](remotectx,coords);
				}
			}

			window.addEventListener('mousedown',setupDraw,false);
			window.addEventListener('mousemove',setupDraw,false);
			window.addEventListener('mouseup',setupDraw,false);
			canvas.addEventListener('touchstart',setupDraw,false);
			canvas.addEventListener('touchend',setupDraw,false);
			canvas.addEventListener('touchmove',setupDraw,false);

		</script>
	</body>
</html>