<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Whiteboard</title>
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style type="text/css">
        	/*-------------------------
				Simple reset
			--------------------------*/


			*{
				margin:0;
				padding:0;
			}


			/*-------------------------
				General Styles
			--------------------------*/


			html{
				background: #fff;
				width: 1920px;
					
				/* This will hide the extra canvas if the screen is small */
				overflow:auto;
			}

			body{
				font:14px/1.3 'Segoe UI',Arial, sans-serif;
				color:#444;
				width: 1920px;
				overflow: auto;
				/*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARCAMAAAA11AaTAAAAD1BMVEUAAADp6enp6enp6en///8uyUgXAAAAA3RSTlMAVamSsHaDAAAAFklEQVQY02NgZmZAAUxMqHxGRoaRBAANPgANgJAOfgAAAABJRU5ErkJggg==);*/
			}

			a, a:visited {
				outline:none;
				color:#43819b;
			}

			a:hover{
				text-decoration:none;
			}

			section, footer, header{
				display: block;
			}


			/*-------------------------
				Main Area
			--------------------------*/
			.canvas-wrapper{
				overflow: auto;
				width: 1920px;
			}
			h1{
				font-size: 22px;
				padding-bottom: 8px;
			}

			h2{
				font-size: 13px;
				font-weight: normal;
				padding-bottom: 8px;
			}

			h3{
				font-size: 12px;
				font-weight: normal;
				font-style: italic;
				color: #999;
			}

			#cursors{
				position:relative;
			}

			#cursors .cursor{
				position:absolute;
				width:15px;
				height:22px;
				background:url('/assets/images/pointer.png') no-repeat -4px 0;
			}

			.color-chooser{
				padding:8px 10px;
				margin: 10px;
				border: 0px;
				position: absolute;
				left: 10px;
				top: 10px;
				border-radius: 3px;
				outline: none;
				z-index: 3;
				cursor: pointer;
			}
			.ew-btn{
				background: #1d99d1;
			    border: 0px;
			    color: white;
			    padding: 8px 10px;
			    margin: 10px;
			    position: absolute;
			    left: 10px;
			    top: 50px;
			    border-radius: 3px;
			    outline: none;
			    z-index: 3;
			    cursor: pointer;
			}
			.ew-btn.active{
				box-shadow:inset 0px 0px 13px #666;
			}
			.dp-down-btn{
				position: absolute;
			    left: 20px;
    			top: 100px;
			    border-radius: 3px;
			    outline: none;
			    z-index: 3;
			    cursor: pointer;
			}
			.demo-img{
				    position: absolute;
				    left: 50%;
				    margin-left: -400px;
				    top: 50%;
				    margin-top: -250px;
				    width: 800px;
				    height: 500px;
				    background: url(https://4domfe36ih032qebk01f75ex-wpengine.netdna-ssl.com/wp-content/uploads/2014/10/INFOGRAPHIC-arrows-800.jpg);
					z-index: 1;
			}
			#paper{
				position: relative;
				z-index: 2;
			}
        </style>
    </head>
    
    <body>
		<div id="cursors">
	    	<!-- The mouse pointers will be created here -->
		</div>
		<div>
			<button class="color-chooser jscolor {valueElement:null,value:'66ccff',onFineChange:'updateColor(this)'}">Pick a color</button>
		</div>
		<div>
			<button class="ew-btn" id="eraser" onclick="eraser()">Eraser</button>
		</div>
		<div>
			<div class="dropdown dp-down-btn">
			    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
			    	<span id="brush-size">Brush Size</span>
			    	<span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
			      <li role="presentation" onclick="brushChange(3)"><a role="menuitem" tabindex="-1" href="#">3</a></li>
			      <li role="presentation" onclick="brushChange(5)"><a role="menuitem" tabindex="-1" href="#">5</a></li>
			      <li role="presentation" onclick="brushChange(10)"><a role="menuitem" tabindex="-1" href="#">10</a></li>
			      <li role="presentation" onclick="brushChange(15)"><a role="menuitem" tabindex="-1" href="#">15</a></li>
			    </ul>
			  </div>
		</div>
			
		<!-- <div class="demo-img">
			<img src="" alt="">
		</div> -->

		<div class="canvas-wrapper">
			<canvas id="paper" width="1920" height="1920">
				Your browser needs to support canvas for this to work!
			</canvas>
		</div>
		
		
        
        <!-- JavaScript includes. Notice that socket.io.js is served by node.js -->
		<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
		<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
		<script type="text/javascript">
			$(function(){
				alertify.delay(4000).maxLogItems(1).logPosition("top right");
			})
		</script>
		<script type="text/javascript">
			window.brushSize = 2;
			var canvas = $('#paper'),
				ctx = canvas[0].getContext('2d'),
				currentColor = '#66ccff';


			function updateColor(jsclr) {
				ctx.strokeStyle = '#' + jsclr;	
				currentColor = '#'+jsclr;
			}

			function eraser() {
				window.isErasing = !window.isErasing;
				if(window.isErasing){
					$("#eraser").addClass("active")
				}else{
					$("#eraser").removeClass("active")
				}
			}

			function brushChange(value) {
				window.brushSize = value;
				$("#brush-size").text(value)
			}

			$(function(){

				// This demo depends on the canvas element
				if(!('getContext' in document.createElement('canvas'))){
					alert('Sorry, it looks like your browser does not support canvas!');
					return false;
				}

				// The URL of your web server (the port is set in app.js)
				var host = window.location.hostname;
				var url = 'http://' + host + '/';

				var doc = $(document),
					win = $(window),
					instructions = $('#instructions');
				
				// Generate an unique ID
				var id = Math.round($.now()*Math.random());
				
				// A flag for drawing activity
				var drawing = false;

				var clients = {};
				var cursors = {};

				var socket = io('http://' + host + '/');
				var host = window.location.hostname;
		        if (host.indexOf("localhost") <= -1) {
		            //If not localhost
		            socket = io('https://' + host + '/',{
		            	reconnectionDelayMax : 15000
		            });
		        } else {
		            //If localhost
		            socket = io('http://' + host + '/',{
		            	reconnectionDelayMax : 15000
		            });
		        }

				socket.on('connect', function(){
					console.log("Socket Connected",socket.id);
					socket.emit('joinDrawRoom',socket.id);
				});

				socket.on('disconnect', function(){
					alertify.error("You are disconnected");
				});	

				socket.on('reconnecting', function(){
					alertify.success("Trying to reconnect");
				});	

				socket.on('reconnect', function(){
					alertify.success("You are connected");
				});				

				socket.on("joining",function(data){
					alertify.success(data);
				})
				socket.on("leftRoom",function(data){
					alertify.error(data);
				})


				
				socket.on('moving', function (data) {

					if(data.id === id){
						return;
					}
					
					if(! (data.id in clients)){
						// a new user has come online. create a cursor for them
						cursors[data.id] = $('<div class="cursor">').appendTo('#cursors');
					}
					
					// Move the mouse pointer
					cursors[data.id].css({
						'left' : data.x,
						'top' : data.y
					});
					
					// Is the user drawing?
					if(data.drawing && clients[data.id]){
						
						// Draw a line on the canvas. clients[data.id] holds
						// the previous position of this user's mouse pointer
						
						drawLine(clients[data.id].x, clients[data.id].y, data.x, data.y,data.color,data.eraser,data.brushSize);
					}
					
					// Saving the current client state
					clients[data.id] = data;
					clients[data.id].updated = $.now();
				});

				var prev = {};

				// canvas.on('touchstart',function(e){
				// 	if(e.originalEvent && e.originalEvent.touches &&  e.originalEvent.touches[0]){
				// 		console.log(e.originalEvent.touches[0])
				// 	}
				// });
				
				canvas.on('mousedown touchstart',function(e){
					if(e.originalEvent && e.originalEvent.touches &&  e.originalEvent.touches[0]){
						e = e.originalEvent.touches[0]
					}else{
						e.preventDefault();
					}
					drawing = true;
					prev.x = e.pageX;
					prev.y = e.pageY;

					
					// Hide the instructions
					instructions.fadeOut();
				});
				
				doc.bind('mouseup mouseleave touchend touchcancel',function(){
					drawing = false;
					// ctx.closePath();
				});

				var lastEmit = $.now();

				doc.on('mousemove touchmove',function(e){
					if(e.originalEvent && e.originalEvent.touches &&  e.originalEvent.touches[0]){
						e = e.originalEvent.touches[0]
					}
					if($.now() - lastEmit > 30){
						// console.log(currentColor);
						socket.emit('mousemove',{
							'x': e.pageX,
							'y': e.pageY,
							'drawing': drawing,
							'id': id,
							'color' : currentColor,
							"eraser" : window.isErasing,
							"brushSize" : window.brushSize
						});
						lastEmit = $.now();
					}
					
					// Draw a line for the current user's movement, as it is
					// not received in the socket.on('moving') event above
					if(drawing){
						drawLine(prev.x, prev.y, e.pageX, e.pageY,currentColor,window.isErasing,window.brushSize);
						prev.x = e.pageX;
						prev.y = e.pageY;
					}
				});

				// Remove inactive clients after 10 seconds of inactivity
				setInterval(function(){
					
					for(ident in clients){
						if($.now() - clients[ident].updated > 1000){
							
							// Last update was more than 10 seconds ago. 
							// This user has probably closed the page
							
							cursors[ident].remove();
							delete clients[ident];
							delete cursors[ident];
						}
					}
					
				},1000);

				function drawLine(fromx, fromy, tox, toy,color,eraser,brushSize){
					ctx.beginPath();
					if(eraser){
						ctx.strokeStyle = "#fff";
						ctx.lineWidth=10;	
					}else{
						ctx.strokeStyle = color;
						ctx.lineWidth=brushSize;	
					}
					ctx.lineJoin = "round";
      				ctx.lineCap = "round";
					ctx.moveTo(fromx, fromy);
					ctx.lineTo(tox, toy);
					ctx.stroke();
					ctx.closePath();
				}
			});
		</script>

    </body>
</html>