<!DOCTYPE html>
<html>
	<head>
		<title>Youtubr Test</title>
		<link href="http://vjs.zencdn.net/5.17.0/video-js.css" rel="stylesheet">
		<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	</head>
	<body>
		<h4>Video JS</h4>
		<video
			id="vid1"
			class="video-js vjs-default-skin"
			controls
			autoplay
			width="640" height="264"
			data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=ylLzyHk54Z0"}] }'
			>
		</video>
		
		<h4>Normal Youtube Embedding Functionaliy</h4>
		<div style="position:relative;/* height:0; */padding-bottom: 26.25%;width: 500px;"><iframe src="https://www.youtube.com/embed/ylLzyHk54Z0?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
		
		<h4>JWPlayer</h4>
		<div id="myElement"></div>

		<script src="http://vjs.zencdn.net/5.17.0/video.js"></script>
		<script type="text/javascript" src="../assets/js/videojs-youtube.js"></script>
		<script src="../assets/js/jwplayer/jwplayer.js"></script>
        <script type="text/javascript">
            window.jwplayer.key="fA95pIQiK4bMKdS9Arqw70sKJ3GIvpO7elB7XQ==";    
        </script>
        <script type="text/javaScript">
			var playerInstance = jwplayer("myElement");
			playerInstance.setup({
			    file: "//www.youtube.com/watch?v=ylLzyHk54Z0",
			    width: '640',
                height: '264',
                primary: 'html5',
                controls: true
			});
		</script>
	</body>
</html>